<div class="mention-wrp" ng-controller="NotificationsController as ctlNotifications">
  <div class="subject">
    <a class="_df _fw">
      <translate>Notifications</translate>
    </a>
    <svg class="_df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#arrow-down"></use>
    </svg>
  </div>
  <div class="_fw _jcc _df margin-top-10" ng-if="ctlNotifications.loadingAfter">
    <div class="nst-loading nst-loading-size-4 _fl"></div>
    <span>&nbsp;</span>
    <div class="nst-font-xsmall _fr nst-marginbtm-4">
      <translate>Loading...</translate>
    </div>
  </div>
  <ul nst-scrollbar>
    <li ng-repeat="notif in ctlNotifications.notifications "
        ng-click="ctlNotifications.onClickMention(notif, $event);">

      <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.MENTION"
           ui-sref="app.message({ postId : notif.mention.post.id })"
           class="item-inner ng-class:{'seen' : notif.isSeen}"
           ng-include="'/app/notification/partials/mention.html'"
           ng-init="notification = notif">
      </div>

      <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.COMMENT"
           ui-sref="app.message({ postId : notif.post.id })"
           class="item-inner ng-class:{'seen' : notif.isSeen}"
           ng-include="'/app/notification/partials/comment.html'"
           ng-init="notification = notif">
      </div>


      <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.INVITE"
           class="item-inner ng-class:{'seen' : notif.isSeen}"
           ng-include="'/app/notification/partials/invite.html'"
           ng-init="notification = notif">
      </div>

      <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.INVITE_RESPOND"
           class="item-inner ng-class:{'seen' : notif.isSeen}"
           ng-include="'/app/notification/partials/invite-response.html'"
           ng-init="notification = notif">
      </div>

    </li>
    <li>
      <div class="_fw _jcc _df margin-top-10" ng-if="ctlNotifications.loadingBefore && !ctlNotifications.error">
        <div class="nst-loading nst-loading-size-4 _fl"></div>
        <span>&nbsp;</span>
        <div class="nst-font-xsmall _fr nst-marginbtm-4">
          <translate>Loading...</translate>
        </div>
      </div>
      <div class="text-center margin-top-10 nst-font-xsmall" ng-show="!ctlNotifications.loadingBefore && !ctlNotifications.reached"
           ng-click="ctlNotifications.loadMore()">
        <translate ng-if="!ctlMentions.error">Load more...</translate>
        <translate ng-if="ctlMentions.error">Try again...</translate>
      </div>
    </li>
  </ul>
  <!--<div class="more-mentions" ng-click="ctlNotifications.markAllSeen()">-->
    <!--<translate>Mark all as read</translate>-->
  <!--</div>-->
</div>
