<div class="notification-wrapper popover-wrapper" ng-controller="NotificationsController as ctlNotifications">
  <div class="head-line">
    <a class="subject _df _fw">
      <translate>Notifications</translate>
    </a>
    <div class="icon" ng-click="ctlNotifications.markAllSeen()">
      <svg class="_16svg fill-solid">
        <use xlink:href="/assets/icons/nst-icn16.svg#list-check"></use>
      </svg>
    </div>
  </div>

  <div class="_difh settings-tab">
    <a class="_df _fw _jcc _aic" ng-click="ctlNotifications.changeTab(1)"
       ng-class="{'active': ctlNotifications.selectedView === 1}">
      <span class="_pr">
        <translate>_Posts</translate>
        <div class="unread-notif-badge" ng-if="ctlNotifications.postCounts > 0">{{ctlNotifications.postCounts | localize}}</div>
      </span>
    </a>
    <a class="_df _fw _jcc _aic" ng-click="ctlNotifications.changeTab(2)"
       ng-class="{'active': ctlNotifications.selectedView === 2}">
        <span class="_pr">
          <translate>Tasks</translate>
          <div class="unread-notif-badge" ng-if="ctlNotifications.taskCounts > 0">{{ctlNotifications.taskCounts | localize}}</div>
        </span>
    </a>
  </div>
  <div iscroll="" class="iscroll-wrapper">
    <ul class="notif-ul" class="iscroll-scroller">
      <li class="_fw _jcc _aic _df margin-top-10" ng-if="ctlNotifications.loadingAfter">
        <div class="nst-loading sm"></div>
      </li>
      <li class="nst-padding-10 _tac"
          ng-if="ctlNotifications.notifications.length == 0 && !ctlNotifications.loadingBefore">
        <translate>No Unread Notifications</translate>
      </li>
      <li ng-repeat="notif in ctlNotifications.postNotifications track by notif.id"
          ng-if="ctlNotifications.selectedView === 1"
          ng-click="ctlNotifications.onClickMention(notif, $event);" ng-include="'notif-items-template.html'"></li>
      <li ng-repeat="notif in ctlNotifications.taskNotifications track by notif.id"
          ng-if="ctlNotifications.selectedView === 2"
          ng-click="ctlNotifications.onClickMention(notif, $event);" ng-include="'notif-items-template.html'"></li>

      <li class="more-mentions" ng-click="ctlNotifications.openNotificationsModal();$event.stopPropagation();"
          ng-if="!ctlNotifications.reached && !ctlNotifications.loadingBefore && ctlMentions.error">
        <translate ng-if="ctlMentions.error" ng-show="!ctlNotifications.reached">Try again...</translate>
      </li>
      <li class="more-mentions notif-ul-loading"
          ng-if="!ctlNotifications.reached && ctlNotifications.loadingBefore && !ctlNotifications.error">
        <div class="_fw _jcc _df margin-top-10 _pr">
          <div class="nst-loading sm"></div>
        </div>
      </li>
      <li class="more-mentions" ng-click="ctlNotifications.openNotificationsModal();$event.stopPropagation();">
        <translate>Show Notifications History</translate>
      </li>
    </ul>
  </div>
</div>
<script type="text/ng-template" id="notif-items-template.html">
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.MENTION"
       ui-sref="app.message({ postId: notif.mention.post.id })"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/partials/mention.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.COMMENT"
       ui-sref="app.message({ postId: notif.post.id })"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/partials/comment.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.PROMOTED"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/partials/promote.html'" ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.PLACE_SETTINGS_CHANGED"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/partials/place-settings-changed.html'" ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.DEMOTED"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/partials/demote.html'" ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.INVITE || notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.INVITE_RESPOND"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-init="notification = notif">
       DEPRECATED
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.YOU_JOINED"
       ui-sref="app.place-messages({ placeId : notif.place.id })"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/partials/you-joined.html'"
       ng-init="notification = notif">
  </div>
  <a ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.NEW_SESSION" ui-sref="app.settings.sessions"
     class="notif-li ng-class:{'seen': notif.isSeen}"
     ng-include="'/app/notification/partials/new-session.html'" ng-init="notification = notif">
  </a>
  <a ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.LABEL_REQUEST_APPROVED"
     class="notif-li ng-class:{'seen': notif.isSeen}"
     ng-include="'/app/notification/partials/label-approve.html'" ng-init="notification = notif">
  </a>
  <a ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.LABEL_REQUEST_REJECTED"
     class="notif-li ng-class:{'seen': notif.isSeen}"
     ng-include="'/app/notification/partials/label-reject.html'" ng-init="notification = notif">
  </a>
  <a ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.LABEL_JOINED"
     class="notif-li ng-class:{'seen': notif.isSeen}"
     ng-include="'/app/notification/partials/label-join.html'" ng-init="notification = notif">
  </a>
  <a ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.LABEL_REQUEST_CREATED"
     class="notif-li ng-class:{'seen': notif.isSeen}"
     ng-include="'/app/notification/partials/label-created.html'" ng-init="notification = notif">
  </a>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_MENTION"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/mention.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_COMMENT"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/comment.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_ASSIGNED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/assigned.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_ASSIGNEE_CHANGED"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/task-partials/assignee-changed.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_ADD_TO_CANDIDATES"
       ui-sref="app.task.glance()"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/task-partials/add-candidate.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_ADD_TO_WATCHERS"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/add-watcher.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_DUE_TIME_UPDATED"
       class="notif-li ng-class:{'seen': notif.isSeen}"
       ng-include="'/app/notification/task-partials/due-date-updated.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_OVER_DUE"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/overdue.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_UPDATED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/updated.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_TITLE_UPDATED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/updated.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_REJECTED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/rejected.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_ACCEPTED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/accepted.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_COMPLETED"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/completed.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_HOLD"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/hold.html'"
       ng-init="notification = notif">
  </div>
  <div ng-if="notif.type === ctlNotifications.NST_NOTIFICATION_TYPE.TASK_IN_PROGRESS"
       class="notif-li ng-class:{'seen': notif.isSeen}" ng-include="'/app/notification/task-partials/in-progress.html'"
       ng-init="notification = notif">
  </div>
</script>
