body.isDesktop {
  #PostView {
    #Content {
      min-height: calc(100vh - 400px);
      min-width: calc(100% - 640px);
      width: 70%;
    }
    #Comments {
      max-width: 640px;
      width: 30%;
    }
    .comment-input {
      padding: 0 5px;
      margin: 10px 0;
      textarea {
        height: 60px;
      }
    }
  }
}
