/**
  **********************************************************
  *     Nested Classes - Page Specific - Post-view *
  **********************************************************
*/
#PostView {
  clear: both;
  overflow-y: auto;
  overflow-y: initial;
  //border: 1px solid $color-breeze;
  //border-radius: $border-radius-large;
  background-color: #FAFAFA;
  padding: 0;
  //animation: post-view .5s ease-out .12s forwards normal;
  #PostHeader {
    border-bottom: 1px solid $color-breeze;
    padding: 0;
    min-height: 100px;
    flex: none;
  }
  #PostBody {
    border: none;
    overflow-y: auto;

    .attachments-card {
      position: relative;
      min-height: 108px;
    }
  }
  #PostTime {
    top: 0;
    right: 0;
    text-align: right;
    vertical-align: top;
    line-height: 32px;
    .time {
      margin: 1px 10px;
      font-size: $font-size-small;
    }
    .date {
      margin: 1px;
      color: gray;
      font-weight: bold;
      position: relative;
      top:-1px;
    }
  }
  #Content {
    vertical-align: top;
    padding: 20px 20px;
    font-size: $post-font-size;
  }
  #Comments {
    padding: 5px;
    flex:none;
    background-color: rgb(247, 250, 249);
    border-radius: $border-radius-large;
    display: flex;
    flex-direction: column;
  }
  .NewComment {
    padding: 5px;
    flex-shrink: 0;
    .account-ico {
      float: left;
    }
    h5 {
      text-overflow: ellipsis;
      margin: 0;
    }
    #CommentSendbutn {
      background-color: $color-sense;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      color: $color-white;
    }
  }
  #CommentList {
    .sender {
      color: $color-sense;
      font-weight: bold;
    }
    .sender-ico {
      float: left;
      img {
        border-radius: 16px;
        margin-right: 3px;
      }
    }
    .comment-txt {
      overflow: hidden;
      line-height: 24px;
      vertical-align: baseline;
    }
    .comment {
      clear: both;
      padding: 5px;
      &:hover {
        background-color: #E7FBF0;
      }
    }
  }
}

.post-nav-top {
  align-items: center;
  padding: 16px 16px 0 8px;
  min-height: 60px;
  overflow: hidden;
  p {
    overflow: hidden;
    word-break: break-all;
    font-size: $font-size-xlarge;
    text-overflow: ellipsis;
    line-height: 40px;
    min-height: 40px;
    padding-bottom: 5px;
  }
  .time {
    margin: 0 4px;
  }
  .closebut{
    &:hover{
      cursor: pointer;
    }
  }
}

.post-nav-bot {
  align-items: center;
  min-height: 40px;
  padding: 0 16px 0 8px;
  overflow: hidden;
  .actor-name {
    max-width: 200px;
    //padding-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    flex: none;
    span{
      text-overflow: ellipsis;
    }
  }
  .badges {
    margin:0 15px;
    flex-wrap: wrap;
    min-width: 100px;
    div div {
      display: inline-flex;
      flex-direction: row;
    }
    .mCSB_container {
      width: auto !important;
    }
  }
  .panel-action li {
    max-width: 100px;
    margin: auto;
    flex: none;
    span:last-child {
      vertical-align: bottom;
    }
    .comment-input-toggle {
      display: none;
    }
  }
}

.time-post-view {
  flex:none;
  max-width: 110px;
  font-size: $font-size-small;
  justify-content: flex-end;
  padding-right: 5px;
}

.profile-post-view {
  width: 40px;
}
.cmt-post-view {
  padding-right: 5px;
  .sending, .failed {
    color : rgba(51, 51, 51, 0.50);
  }
  .retry-link {
    color: #FF0014;
    cursor: pointer;
  }
}

.comment-input {
  height: 65px;
  width: 100%;
  flex: none;
  span {
    position: relative;
    top: 4px;
  }
  img {
    margin-top: 6px;
    margin-left: 4px;
    flex: none;
  }
  textarea {
    float: left;
    border: 1px solid $color-breeze !important;
    padding: 6px;
    padding-right: 8px;
    margin-bottom: 5px;
    resize: none;
    border-radius: $border-radius-large;
  }
}

.comment-msg {
  display: flex;
  flex: 1;
  justify-content: inherit;
  div:last-child {
    flex-grow: 1!important;
  }
}

.sendcomment {
  justify-content: flex-end;
}

.butn-send-comment{
  width: 48px;
  height: 24px;
  background-color: $color-sense;
  border: 1px solid $color-sense-wire;
  padding-top: 2px;
  color: $color-white;
  display: inline-block;
  border-radius: 5px;
  font-size: $font-size-medium;
  font-weight: 600;
  line-height: 22px;
  //margin-right: 15px;
}

.account-initials-24 {
  min-width: 24px;
  min-height: 24px;
}

.comment-box {
  background-color: $color-white;
  overflow-y: auto;
  border: 1px solid $color-breeze!important;
  padding: 6px 8px 6px 6px;
  margin-bottom: 5px;
  height: 60px;
  resize: none;
  border-radius: $border-radius-large;
}
.highlight {
  background-color: $color-force;
  color: $color-white
}

.post-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 500;
  div,#Logo {
    margin: 0 24px;
  }
  vr {
    height: 48px;
  }
}
.chain-sub {
  height: 88px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  position: relative;
  .chain-tail {
    position: absolute;
    width: 23px;
    height: 32px;
    left: 0;
    bottom: -2px;
    border-left: 1px solid $color-border ;
    transform: translateX(-100%);
  }
}
.chain-ico {
  width: 16px;
  height: 16px;
  transform: translateX(-50%);
  fill: #999999;
  stroke: #FAFAFA;
  background-color: #FAFAFA;
}
