<div id="PostView" class="_difh _fw _fh nst-content _jcc">
  <section class="content">
    <div class="post-area">
      <div class="_fw chain-sub">
        <div class="chain-tail" ng-if="ctlPost.hasOlder">
          <svg class="chain-ico">
            <use xlink:href="/assets/icons/nst-icn16.svg#more"></use>
          </svg>
        </div>
        <a ng-if="ctlPost.hasOlder" ng-click="ctlPost.loadMore();">load older chain</a>
      </div>
      <div class="_fw">
        <post-card class="_fw" data-ng-repeat="msg in ctlPost.messages track by msg.id" post="msg" id="{{::msg.id}}" mood="chain" is-ribbon="ctlPost.extendedId != msg.id" ribbon-enabled="ctlPost.postId != msg.id" comment-board="msg.id == ctlPost.postId" add-on="msg.id == ctlPost.postId"></post-card>
      </div>
    </div>
  </section>
</div>
<div class="post-navbar">
  <!--<div id="Logo"></div>-->
  <div class="closebut" ng-click="$dismiss()">
    <img src="../assets/icons/close.svg"/>
  </div>
  <vr></vr>
</div>
