<div>
  <div>
    <a href="{{ctlPost.urls.reply_all}}" ng-click="ctlPost.replyAll($event);" class="spansetting"><translate>Reply all</translate></a>
  </div>
  <div>
    <a href="{{ctlPost.urls.reply_sender}}" ng-click="ctlPost.replySender($event);" class="spansetting"><translate>Reply sender</translate></a>
  </div>
</div>

<!--<ul class="list-unstyled ">-->
  <!--<li><a  class="nst-mood-simple" href="#/new/rs:{{thePost.id}}">Reply to sender</a></li>-->
  <!--<li><a class="nst-mood-simple" href="#/new/ra:{{thePost.id}}">Reply to all</a></li>-->
<!--</ul>-->
