<ul class="_bgwhite fav-contacts" nst-scrollbar suppress-scroll-x="true">
  <li>
    <a class="_df userrow _aic _fw" ng-click="ctrl.openContact($event, 'john')">
    <img class="" ng-src="{{contact | picture : 'x64'}}"/>
      <div class="_df text-wrap _fw">
        <span class="_txe">John Smith</span>
      </div>
      <div class="status">
      </div>
    </a>
  </li>
  <li data-ng-repeat="contact in ctrl.contacts">
    <a class="_df userrow _aic _fw" ng-click="ctrl.openContact($event, contact)">
    <img class="" ng-src="{{contact | picture : 'x64'}}"/>
      <div class="_df text-wrap _fw">
        <span class="_txe">{{contact.name}}</span>
      </div>
      <div class="status">
      </div>
    </a>
  </li>
</ul>
