<ul class="_bgwhite fav-contacts" dir="ltr" nst-scrollbar suppress-scroll-x="true">
  <li ng-if=" contactsCtrl.contacts.length === 0 && !contactsCtrl.loadProgress">
    <div class="_jcc _df _fw nst-margin-12">
      <translate>No Favorite Contact!!</translate>
    </div>
  </li>
  <li class="_fw _df _jcc _fn" ng-if="contactsCtrl.loadProgress">
    <div class="nst-mood-cheerful no-gutter nst-margin-24">
      <div class="_fw">
        <div class="nst-loading nst-loading-size-4 _fl"></div>
        <span>&nbsp;</span>
        <div class="nst-font-xsmall _fr nst-marginbtm-4">
          <translate>Loading...</translate>
        </div>
      </div>
    </div>
  </li>
  <li ng-if="!contactsCtrl.loadProgress" ng-repeat="contact in contactsCtrl.contacts" dir="{{$root._direction}}">
    <a class="_df inline-user-row _aic _fw" ui-sref="app.contact({ contactId: contact.id })"
       ng-click="contactsCtrl.openContact($event, contact)">
      <div class="top-user-avatar-24">
        <img initial-avatar="{{ctlPostCard.post.sender.id}}" name="{{contact.fullName}}" picture="{{contact | avatar : 'x32'}}" data-width="24"
             data-height="24"
             data-radius="24" class="account-initials-24 _df" data-word-count="2" data-font-size="11"/>
      </div>
      <div class="_df text-wrap _fw">
        <span class="_txe">{{contact.fullName}}</span>
      </div>
      <!-- <div class="status">
      </div> -->
    </a>
  </li>
</ul>
