<div>
  <ui-select ng-model="$parent.selected" append-to-body="false" on-select="onSelect($item)">
    <ui-select-match placeholder="Select a country">
      <div class="country-item">
        <i class="iti-flag {{$select.selected.id}}"></i>
        <span>{{$select.selected.text}}</span>
      </div>
    </ui-select-match>
    <ui-select-choices repeat="country in (countries | filter : $select.search) track by country.id" position="down">
      <div class="country-item">
        <i class="iti-flag {{country.id}}"></i>
        <span ng-bind-html="country.text"></span>&nbsp;+<span class="dial-code" ng-bind-html="country.code"></span>
      </div>
    </ui-select-choices>
  </ui-select>
</div>
