.atwho-view {
  border: none;
  box-shadow: 0 8px 16px $box-shadow-color;
  background: $contrast-bg-color !important;
  .cur {
    background: $color-breeze-5-new;
    color: $color-new-hurricane;
    small {
      color: $color-new-hurricane;
    }
    strong {
      color: $color-new-hurricane;
      font-weight: bold;
    }
  }
  strong {
    color: $color-new-hurricane;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: row;
      padding: 0;
      border-bottom: 0;
      min-width: 235px;
      align-items: center;
      cursor: pointer;
      > div {
        align-items: center;
        border-bottom: 1px solid $color-breeze-5-new;
      }
      .place-picture-16 {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        margin: 0 8px;
      }
    }
  }
}
