.atwho-view {
  margin-top: 30px;
  .cur {
    background: #E7FBf0;
    color:#333 ;
    small {
      color:#333;
    }
    strong {
      color: #333;
      font-weight: bold;
    }
  }
  strong {
    color: #333;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      border-bottom:0;
      min-width: 235px;
      cursor: pointer;
      > div {
        flex-direction: column;
      }
    }
  }
}