<li data-ng-repeat="place in place.children">
  <div class="_fw _difh placerow">
    <div class="logo _df">
      <a ng-if="place.avatar" ui-sref="app.place-messages({placeId:place.id})">
        <img class="account-initials-40" ng-src="{{place.avatar}}"/>
      </a>
      <div class="notif" ng-if="NavbarSubCtrl.placesNotifCountObject[place.id] > 0">
        {{NavbarSubCtrl.placesNotifCountObject[place.id]}}
      </div>
    </div>
    <div class="des _df _fw" href="{{place.href}}">
      <a class="name _difv f1" ui-sref="app.place-messages({placeId:place.id})">
        <div class="_difh _fw">
          <i class="role-icon-green"></i><h5 class="_df">{{place.name}}</h5>
        </div>
      </a>
      <div class="_difv thi-svg ng-class:{'open' : place.isCollapsed}" ng-if="place.children.length > 0"
           data-ng-click="place.isCollapsed =! place.isCollapsed" data-ng-model="colp" role="button" tabindex="0">
        <svg>
          <use xlink:href="/assets/icons/nst-icn24.svg#arrow-up"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/icons/nst-icn24.svg#circle"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/icons/nst-icn24.svg#arrow-down"></use>
        </svg>
      </div>
    </div>
  </div>
  <ul class="_fw _difh ng-class:{'extend' : place.isCollapsed}"
      ng-init="currentPlaceId = ctlPlaceInfo.currentPlaceId"
      data-ng-include="'app/components/navbar/mini/partials/sub-place-b.html'" onload="place = place"
      ng-if="place.children.length > 0"></ul>

</li>
