<span
  ng-if="ctlAssignee.assigneesData.length == 1 && ctlAssignee.assigneeFocus == true && ctlAssignee.assigneeWithCandidate == true"
  ng-click="ctlAssignee.assigneeFocus = false"
  class="status" translate-inner>assignee:</span>
<span
  ng-if="ctlAssignee.assigneesData.length > 1 && ctlAssignee.assigneeFocus == true && ctlAssignee.assigneeWithCandidate == true"
  ng-click="ctlAssignee.assigneeFocus = false"
  class="status candidate" translate-inner>candidates:</span>
<div user-chips user-id="assignee"
     candidate="(ctlAssignee.assigneesData.length > 1) && ctlAssignee.assigneeWithCandidate == true"
     on-remove="ctlAssignee.removeAssigneeChip" index="assignee"
     ng-repeat="assignee in ctlAssignee.assigneesData" ng-if="ctlAssignee.assigneeFocus == true"></div>
<input nst-mention-user nst-mention-list="ctlAssignee.assignees" nst-mention-data="ctlAssignee.mentionAssigneesData" type="text"
       class="no-style gale-holder create-task-input" placeholder="{{ctlAssignee.assigneePlaceholder}}"
       id="task-assignee" ng-focus="ctlAssignee.assigneeFocus = true" ng-model="ctlAssignee.assigneeInput"
       ng-keydown="ctlAssignee.assigneeKeyDown($event)" ng-keyup="ctlAssignee.assigneeKeyUp($event)"
       ng-if="ctlAssignee.assigneeFocus == true || ctlAssignee.assignees.length == 0" focus-me="{{ctlAssignee.assigneeFocusMe}}">
