$width: 191px;
$header-h: 42px;
$table-padding: 8px;
$font-color: #384146;
$default-color: $color-sense-wire;

.ng-flat-datepicker-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    * {
        box-sizing: border-box;
    }
}

// EN

.ng-flat-datepicker {
    transform-origin: top;
    width: $width;
    position: absolute;
    background-color: white;
    z-index: 3000;
    top: 40px;
    box-shadow: 1px 1px 7px 0px rgba(37, 53, 50, 0.37);
    .ng-flat-datepicker-table-header-bckgrnd {
        height: $header-h;
    }
    table {
        margin-top: -$header-h;
        // padding-right: $table-padding;
        // padding-left: $table-padding;
        // padding-bottom: $table-padding;
        table-layout:fixed;
        border-collapse:collapse;
        display: block;
        caption {
            height: $header-h;
            display: block;
            padding: 0!important;
            .ng-flat-datepicker-header-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: $header-h;
                color: $color-solid;
                font-size: 13px;
                padding: 0 4px;
                font-weight: bold;
                .ng-flat-datepicker-header-year {
                    display: flex;
                    padding-top: 1px;
                    padding-bottom: 0!important;
                    text-align: center;
                }
                .ng-flat-datepicker-header-nav-wrapper {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: #626262;
                    font-size: 22px;
                    background-color: #E8E8E8;
                    span {
                        user-select: none;
                    }
                }
            }
        }
        tbody {
            margin: 0 auto;
            // padding-top: $table-padding;
            width: ($width - (2 * $table-padding));
            display: block;
            tr {
                height: ($width - (2 * $table-padding))/7;
                width: ($width - (2 * $table-padding));
                &.days-head {
                    height: 24px; // yo - lo
                    .day-head {
                        padding: 0;
                        line-height: 24px;
                        // padding-bottom: $table-padding;
                        border-bottom: 1px solid #d8d8d8;
                        color: $font-color;
                        font-weight: bold;
                        font-size: 11px;
                    }
                }
                &.days .day-item:hover{
                    background-color: transparentize($color-black, 1 - .12);
                    // color: #f5f5f5!important;
                }
                td {
                    width:  ($width - (2 * $table-padding))/7;
                    text-align: center;
                    background-color: white;
                    font-size: 12px;
                    display: inline-block;
                    cursor: default;
                    color: $font-color;
                    user-select: none;
                    &.day-item,
                    &.disabled {
                        padding: 0;
                        height: ($width - (2 * $table-padding))/7;
                        line-height: ($width - (2 * $table-padding))/7;
                        cursor: pointer;
                        border-radius: 3px;
                        color: lighten($font-color, 35%);
                        &.day {
                            color: $font-color;
                        }
                        &.isToday {
                            color: #1b1b1b;
                            font-weight: 700;
                        }
                        &.isSelected {
                            background-color: $color-sense-wire;
                            color: #f5f5f5!important;
                            &:hover {
                                background-color: $color-sense-wire;
                            }
                        }
                        &.isInMonth {
                            color: $font-color;
                        }
                        &.isDisabled {
                            cursor: default;
                            color: lighten($font-color, 65%);
                            &:hover {
                                color: lighten($font-color, 65%) !important;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ng-flat-datepicker-arrow {
    user-select: none;
    height: 16px;
    width: 16px;
    svg {
        width: 16px;
        height: 16px;
        transform-origin: center center;
        fill: $color-solid;
        cursor: pointer;
        // transform: rotateZ(180deg);
    }

    &.ng-flat-datepicker-arrow-left {
        svg {
            transform: rotate(-180deg);
        }
    }
}

.ng-flat-datepicker-custom-select-title {
    padding: 3px 5px 4px 5px;
    border-radius: 3px;
    line-height: 28px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &.selected,
    &:hover {
        border-color: white!important;
    }
}
.ng-flat-datepicker-custom-select-box {
    position: relative;
    padding: 5px 0;
    &:first-of-type {
        .ng-flat-datepicker-custom-select-title,
        .ng-flat-datepicker-custom-select {
            // min-width: 80px;
        }
    }
    .ng-flat-datepicker-custom-select {
        position: absolute;
        border-radius: 2px;
        cursor: pointer;
        width: 100%;
        transform: translateX(-25%);
        min-width: 80px;
        background-color: rgb(240,240,240);
        z-index: 1;
        span {
            padding-top: 6px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            font-size: 13px;
            line-height: 13px;
            cursor: pointer;
            color: #737373;
            font-weight: 400;
            &::first-letter { text-transform: uppercase; }
            &:first-of-type {
                padding-top: 10px;
                border-top-right-radius: 2px;
                border-top-left-radius: 2px;
            }
            &:last-of-type  {
                padding-bottom: 10px;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            &:hover {
                background-color: white;
                color: $color-sense-wire;;
            }
        }
    }
}

.ng-flat-datepicker-month-name::first-letter {
    text-transform: uppercase;
}
.input-time {
    height: 56px;
    display: flex;
    padding: 12px;
    align-items: center;
    position: relative;
    direction: ltr;
    input {
        width: 48px;
        font-size: 13px;
        font-weight: bold;
        border: none;
        color: $color-sense-wire;
        text-align: center;
        justify-content: center;
        padding-left: 0;
        letter-spacing: 2px;
        margin: 0!important;
    }
    input::-webkit-input-placeholder {
        color: $color-gale-new;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    input:-moz-placeholder {
        color: $color-gale-new;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    input::-moz-placeholder {
        color: $color-gale-new;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .add-time-butn {
        display: flex;
        width: calc(100% - 24px);
        background-color: $color-white;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        align-items: center;
        z-index: 1;
        span {
            color: $color-gale-new;
            font-size: 13px;
            font-weight: bold;
        }
    }
    .discard-changes {
        margin: 0 4px 0 0!important;
    }
    svg {
        fill: $color-gale-new;
        z-index: 2;
        // position: absolute;
        flex: none;
    }
    .add-time-toggler {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        @include align-center();
        color: $color-sense-wire;
        background-color: $color-white;
    }
}



// FA
.ng-flat-datepicker.jalaali-datepicker {
    table {
        caption {
            .ng-flat-datepicker-header-wrapper {
                direction: ltr;
            }
        }
        tbody {
            direction: rtl;
        }
    }
}

.ng-jalaali-flat-datepicker-arrow {
    user-select: none;
    height: 16px;
    width: 16px;
    svg {
        width: 16px;
        height: 16px;
        transform-origin: center center;
        fill: $color-solid;
        cursor: pointer;
    }

    &.ng-jalaali-flat-datepicker-arrow-left {
        svg {
            transform: rotate(180deg);
        }
    }
}