<ul data-ng-if="place.haveAccess('RM')" class="list-inline" data-ng-click="place_option.removeMember(member);">
  <li class="menuicon-remove"></li>
  <li class="nst-mood-simple">Remove</li>
</ul>
<div data-ng-if="place.haveAccess('C')" data-ng-switch="role">
   <ul class="list-inline">
    <li data-ng-switch-when="key_holder" class="menuicon-create"></li>
    <li data-ng-switch-when="creator" class="menuicon-create-transform"></li>

    <li data-ng-switch-when="key_holder" class="nst-mood-simple">Promote</li>
    <li data-ng-switch-when="creator" class="nst-mood-simple">Demote</li>
   </ul>
</div>

