<form class="inline-date-picker" name="dateForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : dateForm.inlineYear.$invalid && validationEnabled }">
    <input type="text" name="inlineYear" ng-model="year" placeholder="Year" translate-attrs="placeholder" maxlength="4" range="1900-2017" allow-only-number change-up-down-press required>
  </div>
  <div class="devider"></div>
  <div class="form-group" ng-class="{ 'has-error' : dateForm.inlineMonth.$invalid && validationEnabled }">
    <select ng-model="month" name="inlineMonth" ng-options="item.value as item.name for item in months" required>
      <option value="" translate-inner>Month</option>
    </select>
  </div>
  <div class="devider"></div>
  <div class="form-group" ng-class="{ 'has-error' : dateForm.inlineDay.$invalid && validationEnabled }">
    <select ng-model="day" name="inlineDay" ng-options="number as number for (index, number) in days" required>
      <option value="" translate-inner>Day</option>
    </select>
  </div>
</form>
