/**
  **********************************************************
  *    Drag drop compose
  **********************************************************
 */
@keyframes dragDrop {
  from {
    opacity: .87;
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.butn-toolbar > .butn-group {
  padding: 5px;
}

.nst-compose-message {
  .butn {
    background-color: $color-white;
    color: $color-solid;
    border: 0px solid $color-storm;
    &.active {
      background-color: $color-white;
      color: $color-sense-wire;
    }
  }
}

.butn-default.active {
  background-color: $color-sense;
  text-shadow: none;
  box-shadow: none;

}
#compose-full {
  margin: 0 16px;
  use:last-child {
    display: none;
  }
}
.ui-select-bootstrap {
  .ui-select-choices-row.active > a{
    background-color: rgba(20,215,105,.08);
    color: rgba(50,61,71,.72);
  }
  .ui-select-choices-row>a:hover,
  .ui-select-choices-row>a:focus {
    background-color: rgba(20,215,105,.08);
    color: rgba(50,61,71,.72);
  }
  .ui-select-choices-row>a {
    color: rgba(50,61,71,.72);
    display: flex;
    align-items: center;
    padding: 8px 12px;
    overflow: hidden;
    span {
      font-size: 14px
    }
    .nst-font-10 {
      font-size: 10px;
      color: rgba(50,61,71,.4);
      span {
        font-size: 10px;
      }
    }
  }
  .ui-select-highlight {
    background-color: transparent;
    color: rgba(50,61,71,1);
  }
}
/**
  **********************************************************
  *     Nested Classes - Page Specific - Compose *
  **********************************************************
 */

.content iframe {
  height: calc(100vh - 336px)!important;
  min-height: 100px
}

.compose-input {
  //margin-top: 20px;
  height: 26px;
  border: none;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 8px;
  flex: none;
  color: $color-solid;
  &::-webkit-input-placeholder {
    line-height: 22px;
    font-size: 18px;
  }
  &::-moz-placeholder {
    line-height: 22px;
    font-size: 18px;
  }
  &:-ms-input-placeholder {
    line-height: 30px;
    font-size: 18px;
  }
}

.compose-wrp .address-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 8px;
  align-items: center;
  border-radius: 0;
  display: flex;
  transition: height $animation-dur;
  min-height: 32px;
  box-sizing: border-box
}

.nst-attach-upload {
  text-align: center;
  min-width: 150px;
  padding: 3px 10px;
  background-color: $color-fillbox;
  border-radius: $border-radius-large;
  line-height: 15px;
  font-size: $font-size-small;
}
.nst-attach-con{
  position: relative;
  bottom:-20px;
  display: block;
  align-self: flex-end;
  width: 196px;
  margin: 0 8px;

}
.nst-attach {
  flex: none;
  height: 108px;
  width: 100%;
  align-self: center;
  position: absolute;
  left: 0;
  bottom: 48px;
}

.compose-message-input {
  height: 100px;
  border: none;
  width: 100%;
  padding-left: 8px;
}

.nst-compose-message {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  flex-grow: 1;
  >div ,>div>div {
    // display: flex;
    height: auto;
  }
  a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none!important;
  }
  div[style="position: absolute; bottom: 0px; left: 0px; z-index: 9999;"] {
    display: none;
  }
  p {
    padding: 0;
  }
  .cke_contents.cke_reset {
    min-height: 230px;
  }
  .cke_wysiwyg_div {
    padding: 0;
  }
}

.input-select-match {
  flex: none;
  min-height: 32px;
  max-height: 300px;
  box-sizing: content-box;
  margin-bottom: 24px;
  border-bottom: 1px solid $color-border;
  transition: max-height $animation-dur;
}
.sto {
  padding: 0 16px;
}

#input-compose-to  .ui-select-choices {
   padding: 0;
   max-height: 250px;
   width: calc(100% - 32px);
   left: 16px;
   border: 1px solid $color-breeze;
   box-shadow: 0 8px 16px $color-breeze;
   border-radius: 0;
   top: calc(100% + 2px);
   padding: 8px 0;
   border-top: none;
 }
.place-initials-32 {
  width: 32px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  background-color: #b2b2b2;
  vertical-align: top;
  border-radius: 6px;
  margin-right: 8px;
  flex: none;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 32px;
    height: 32px;
  }
  &::after {
    left: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 0;
  }
}
.place-initials-24 {
  width: 24px;
  height: 24px;
  line-height: 23px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  background-color: #b2b2b2;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 8px;
  flex: none;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 24px;
    height: 24px;
  }
  &::after {
    left: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 0;
  }
}
.cke_reset {
  width: 100%!important;
  border: none!important;
}
#editor-btn {
  .cke_chrome {
    border: none;
  }
  .cke_top {
    border: none;
    background: transparent;
    padding-left: 0;
  }
}
.cke_1_contents {
  height: 100%;
  body {
    margin: 0;
  }
}
.cke_wysiwyg_div {
  overflow: hidden!important;
}
//
//a.cke_button__link.cke_button_off {
//  display: none;
//}
.compose-btns {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  svg {
    fill: $color-new-hurricane;
  }
  > * {
    margin: 0 8px 0 0;
  }
  label:hover,svg:hover {
    fill: $color-solid;
  }
}
.compose-opt {
  right: -8px!important;
  top: -12px!important;
  left: auto!important;
  border: none;
  box-shadow: 0 0 16px $color-wind;
  border-radius: 4px;
  width: 226px;
  label {
    margin: 0;
  }
  .list-items {
    padding: 5px 8px;
  }
}
.quick-btns {
  display: inline-flex;
  flex-direction: row;
  flex: none;
}
// body.isMobile .modal .modal-compose{
//   .modal-ft {
//     display: inline-flex;
//     flex-direction: column;
//     height: 100px;
//     >div {
//       width: 100%;
//     }
//     .quick-btns {
//       justify-content: flex-end;
//     }
//   }
// }
body.isMobile .quick-message-wrp .quick-message-inner .quick-message .modal-ft {
  .modal-ft {
    display: inline-flex;
    flex-direction: column;
    height: 100px;
  }
}
body.isMobile {
  .modal-ft {
    flex-direction: column;
  }
}
.modal-bo.scrolled {
  .input-select-match {
    overflow: hidden;
    max-height: 33px;
  }
  #input-compose-to .ui-select-choices {
    display: none;
  }
  .address-input {
    align-items: flex-start
  }
  #more-reci {
    display: inline-flex
  }
}
#more-reci {
  display: none;
  animation: 1s ease-in forwards more-reci;
  width: 32px;
  height: 30px;
  line-height: 30px;
  justify-content: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  transform-origin: center center;
  color: $color-solid;
  vertical-align: bottom;
  background: #ebebeb; /* Old browsers */
  background: -moz-linear-gradient(top, #ebebeb 0%, #d6d6d6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ebebeb 0%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ebebeb 0%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  height: 29px
}

.compose-wrp .fr-box {
  width: 100%;
  height: 100%;
  cursor: initial;
  p {
    margin: 0;
  }
  .fr-element {
    padding: 0;
    overflow: visible;
  }
}
.compose-wrp .fr-box.fr-basic .fr-element {
  padding: 0
}
.compose-wrp .fr-box.fr-basic .fr-wrapper {
  background: transparent
}
.editor-btn-wrp .fr-toolbar.fr-bottom {
  box-shadow: none;
  border: none;
  background-color: rgba(50,61,71,.08)
}
.editor-btn-wrp {
  opacity: 0;
  visibility: hidden;
  &.showBar {
    opacity: 1;
    visibility: visible
  }
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
  height: 32px;
}
.fr-separator.fr-vs {
  height: 24px;
  margin: 3px 0;
}
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i {
  margin: 0;
  justify-content: center;
  width: 100%;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown i, .fr-popup .fr-command.fr-btn.fr-dropdown i, .fr-toolbar .fr-command.fr-btn.fr-dropdown span, .fr-popup .fr-command.fr-btn.fr-dropdown span, .fr-toolbar .fr-command.fr-btn.fr-dropdown img, .fr-popup .fr-command.fr-btn.fr-dropdown img {
  margin: 0;
  width: 24px;
}
.fr-toolbar .fr-command.fr-btn span, .fr-popup .fr-command.fr-btn span {
    min-width: 24px;
}
.compose-scrl-wrp {
  max-height: calc( 90vh - 300px);
  min-height: 250px;

  ul, ol {
    margin: 0 24px;
  }

}
.modal-ft {
    .emoji {
      position: relative;
      width: 24px;
      height: 24px;
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: auto;
      }
    }
  }
