/**
  **********************************************************
  *    Drag drop compose
  **********************************************************
 */
@keyframes dragDrop {
  from {
    opacity: .87;
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.butn-toolbar > .butn-group {
  padding: 5px;
}

.nst-compose-message {
  .butn {
    background-color: $color-white;
    color: $color-solid;
    border: 0px solid $color-storm;
    &.active {
      background-color: $color-white;
      color: $color-sense-wire;
    }
  }
}

.butn-default.active {
  background-color: $color-sense;
  text-shadow: none;
  box-shadow: none;

}
#compose-full {
  use:last-child {
    display: none;
  }
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Compose *
  **********************************************************
 */

.content iframe {
  height: calc(100vh - 336px)!important;
  min-height: 100px
}

.compose-input {
  //margin-top: 20px;
  height: 60px;
  border: none;
  font-size: $font-size-xlarge;
  line-height: 42px;
  &::-webkit-input-placeholder {
    line-height: 42px;
  }
  &::-moz-placeholder {
    line-height: 42px;
  }
  &:-ms-input-placeholder {
    line-height: 42px;
  }
}

.compose-wrp .address-input {
  width: 100%;
  min-height: 40px;
  border: none;
  padding-left: 8px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid $color-border;
}

.nst-attach-upload {
  text-align: center;
  min-width: 150px;
  padding: 3px 10px;
  background-color: $color-fillbox;
  border-radius: $border-radius-large;
  line-height: 15px;
  font-size: $font-size-small;
}
.nst-attach-con{
  position: relative;
  bottom:-20px;
  display: block;
  align-self: flex-end;
  width: 196px;
  margin: 0 8px;

}
.nst-attach {
  flex: none;
  height: 108px;
  width: 100%;
}

.compose-message-input {
  height: 100px;
  border: none;
  width: 100%;
  padding-left: 8px;
}

.nst-compose-message {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  flex-grow: 1;
  >div ,>div>div {
    display: flex;
    height: auto;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .cke_contents.cke_reset {
    min-height: 230px;
  }
  .cke_wysiwyg_div {
    padding: 0;
  }
}

.input-select-match {
  flex: none;
  min-height: 42px;
  margin-bottom: 24px;
}
.sto {
  padding: 0 16px;
}

#input-compose-to  .ui-select-choices {
   padding: 0;
   max-height: 250px;
 }

.cke_reset {
  width: 100%!important;
  border: none!important;
}
#editor-btn {
  .cke_chrome {
    border: none;
  }
  .cke_top {
    border: none;
    background: transparent;
    padding-left: 0;
  }
}
.cke_1_contents {
  height: 100%;
  body {
    margin: 0;
  }
}
.cke_wysiwyg_div {
  overflow: hidden!important;
}

#cke_123 {
  display: none;
}
