/**
  **********************************************************
  *    Drag drop compose
  **********************************************************
 */

.butn-toolbar > .butn-group {
  padding: 5px;
}

.nst-compose-message {
  .butn {
    background-color: $color-white;
    color: $color-solid;
    border: 0px solid $color-storm;
    &.active {
      background-color: $color-white;
      color: $color-sense-wire;
    }
  }
}

.butn-default.active {
  background-color: $color-sense;
  text-shadow: none;
  box-shadow: none;

}
#compose-full {
  margin: 0 16px;
  &.collapse {
    display: none;
  }
  &.expand {
    display: block;
  }
}
.ui-select-bootstrap {
  &.ui-select-multiple .ui-select-match-item {
    // height: 28px;
    .close.ui-select-match-close {
      right: 10px;
      width: 16px;
      line-height: 16px !important;
      height: 16px;
      top: 6px;
      display: none;
    }
  }
  .ui-select-choices-row.active > a{
    background-color: transparentize($color-sense, 1 - .08);
    color: $color-new-hurricane;
  }
  .ui-select-choices-row>a:hover,
  .ui-select-choices-row>a:focus {
    background-color: transparentize($color-sense, 1 - .08);
    color: $color-new-hurricane;
  }
  .ui-select-choices-row>a {
    color: $color-new-hurricane;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    overflow: hidden;
    span {
      font-size: 14px
    }
    .nst-font-10 {
      font-size: 10px;
      color: $color-gale-new;
      span {
        font-size: 10px;
      }
    }
  }
  .ui-select-highlight {
    background-color: transparent;
    color: $color-solid;
  }
}
/**
  **********************************************************
  *     Nested Classes - Page Specific - Compose *
  **********************************************************
 */

.content iframe {
  height: calc(100vh - 336px)!important;
  min-height: 100px;
  background-color: $color-white;
}

.compose-subject-input {
  //margin-top: 20px;
  height: 26px;
  border: none;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 8px;
  flex: none;
  color: $color-solid;
  &::-webkit-input-placeholder {
    line-height: 22px;
    font-size: 18px;
  }
  &::-moz-placeholder {
    line-height: 22px;
    font-size: 18px;
  }
  &:-ms-input-placeholder {
    line-height: 30px;
    font-size: 18px;
  }
}

.compose-wrapper .address-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 8px;
  align-items: center;
  border-radius: 0;
  display: flex;
  transition: height $animation-dur;
  min-height: 32px;
  box-sizing: border-box;
  .ui-select-match > span {
    margin: 0;
    height: 38px;
  }
  .btn-primary:active:focus ,
  .btn-default:active:focus {
    background-color: transparent;
    border-color: transparent;
  }
}
.compose-attachment-bar {
  flex: none;
  height: 108px;
  width: 100%;
  align-self: center;
  // position: absolute;
  left: 0;
  bottom: 48px;
}

.compose-message-input {
  height: 100px;
  border: none;
  width: 100%;
  padding-left: 8px;
}

.nst-compose-message {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  flex-grow: 1;
  >div ,>div>div {
    // display: flex;
    height: auto;
  }
  a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none!important;
  }
  div[style="position: absolute; bottom: 0px; left: 0px; z-index: 9999;"] {
    display: none;
  }
  p {
    padding: 0;
  }
}

.input-select-match {
  flex: none;
  min-height: 32px;
  max-height: 300px;
  box-sizing: content-box;
  margin-bottom: 24px;
  border-bottom: 1px solid $contrast-border-color;
  transition: max-height $animation-dur;
}

#compose-recipient-input  .ui-select-choices {
   max-height: 250px;
   width: calc(100% - 32px);
   left: 16px;
   border: 1px solid $contrast-border-color;
   box-shadow: 0 8px 16px $box-shadow-color-bold;
   border-radius: 0;
   top: calc(100% + 2px);
   padding: 8px 0;
   border-top: none;
   opacity: 1!important;
 }
.place-initials-32 {
  width: 32px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  background-color: #b2b2b2;
  vertical-align: top;
  border-radius: 6px;
  margin-right: 8px;
  flex: none;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 32px;
    height: 32px;
  }
  &::after {
    left: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 0;
  }
}
.place-initials-24 {
  width: 24px;
  height: 24px;
  line-height: 23px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  background-color: #b2b2b2;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 8px;
  flex: none;
  position: relative;
  justify-content: center;
  overflow: hidden;
  img {
    width: 24px;
    height: 24px;
  }
  &::after {
    left: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    pointer-events: none;
    content: "";
    top: 0;
  }
}
.compose-btns {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  > svg ,
  > * > svg {
    fill: $color-new-hurricane;
  }
  > * {
    margin: 0 4px;
  }
  label:hover,>svg:hover,> * > svg:hover {
    fill: $color-solid;
  }
}
.compose-options {
  right: -8px!important;
  top: -12px!important;
  left: auto!important;
  border: none;
  box-shadow: 0 0 16px $color-wind;
  border-radius: 4px;
  width: 226px;
  label {
    margin: 0;
  }
  .list-items {
    padding: 5px 8px;
  }
}
.label-butn {
  line-height: 24px;
  margin-right: 6px;
  & + div {
    margin-right: 8px
  }
  svg {
    margin-left: 4px;
  }
}
.compose-label {
  border: none;
  bottom: 24px;
  top: auto!important;
  left: auto!important;
  right: 0px;
  transform: translateX(50%);
  box-shadow: 0 0 16px $color-wind;
  border-radius: 4px;
  width: 136px;
  label {
    margin: 0;
  }
  .label-items {
    height: 32px;
    margin: 4px 8px;
    display: flex;
    border-radius: 4px;
    padding: 4px;
    align-items: center;
    &.selected {
      color: $color-white
    }
  }
}
.quick-btns {
  display: inline-flex;
  flex-direction: row;
  flex: none;
}
.compose-modal-body.scrolled {
  .input-select-match {
    overflow: hidden;
    max-height: 38px;
  }
  #compose-recipient-input .ui-select-choices {
    display: none;
  }
  .address-input {
    align-items: flex-start
  }
  #more-recipient-badge {
    display: inline-flex
  }
}
#more-recipient-badge {
  display: none;
  animation: 1s ease-in forwards more-recipient-badge;
  width: 30px;
  height: 28px;
  line-height: 28px;
  justify-content: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  transform-origin: center center;
  color: $color-solid;
  vertical-align: top;
  background: $color-breeze-light; /* Old browsers */
  background: -moz-linear-gradient(top, #ebebeb 0%, #d6d6d6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ebebeb 0%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ebebeb 0%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  height: 29px
}


.editor-butns-wrapper {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 8px;
  &.showBar {
    opacity: 1;
    visibility: visible
  }
}
.compose-scroll-wrapper {
  // margin: 0 -12px;
  // width: auto!important;
  // overflow: auto;
  max-height: calc( 90vh - 300px);
  min-height: 250px;
  position: relative;
  overflow: auto;
  // padding: 0 12px;
  // display: flex;
  // flex-direction: column;
  ul, ol {
    margin: 0 24px;
  }
  .wdt-emoji-picker {
    display: none;
  }
}
.compose-modal-footer {
  .emoji {
    position: relative;
    width: 24px;
    height: 24px;
    div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: auto;
    }
  }
}
@media screen and ( max-height: 700px) {
  .modal .modal-compose .modal-content {
    top: 0;
  }
}
