<div class="_fh" data-droplet ng-model="ctlCompose.attachfiles" page-change="ctlCompose.changeState($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
  <div class="droplet"></div>
  <div class="compose-wrp">
    <div class="modal-head">
      <svg>
        <use xlink:href="/assets/icons/nst-icn16.svg#earth"></use>
      </svg>
      <svg ng-click="ctlCompose.fullCompose()">
        <use xlink:href="/assets/icons/nst-icn20.svg#earth"></use>
      </svg>
    </div>
    <div class="modal-bo _difv _fw" nst-scrollbar suppress-scroll-x="true">
      <p class="_df _fn">Share With</p>
      <div class="_df _fw input-select-match">
        <ui-select page-change-element minimum-input-length="4" multiple limit="10"  class="address-input _dib"
                   id="input-compose-to"
                   data-ng-model="ctlCompose.model.recipients" search-enabled="false">
          <ui-select-match placeholder="{{::ctlCompose.inputPlaceHolderLabel}}">
            <div class="selected-innter " ng-class="{'isEmail' : $item.isEmail,'error' : !$item.isEmailValid}">
              <span class="place-img" ng-if="!$item.isEmail"><img ng-src="{{::$item.avatar}}"/></span>
                <span class="place-img" ng-if="$item.isEmail && !$item.isEmailValid">
                  <svg>
                    <use xlink:href="/assets/icons/nst-icn16.svg#exclamation-mark"></use>
                  </svg>
                </span>
              <span class="place-name">{{$item.name}}</span>
            </div>
          </ui-select-match>
          <ui-select-choices refresh="ctlCompose.search.fn($select.search)"
                             refresh-delay="400"
                             repeat="place as place in (ctlCompose.search.results | filter: $select.search ) track by place.id">
            <img class="account-initials-32" ng-src="{{::place.avatar}}"/>
            <span class="" data-ng-bind-html="place.name | highlight: $select.search"></span>
            <br/>
            <span class="nst-font-10 _vat margin-l-50">{{::place.id}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
      <section class="_difc _fw _fn">
        <input class="compose-input _fw"  focus-me page-change-element  name="subject" placeholder="Add a subject line..." data-ng-model="ctlCompose.model.subject" auto-dir="ctlCompose.model.subject" translate-attrs="placeholder">
      </section>
      <form name="attachmentForm">
        <input page-change-element type="hidden" name="attLength" data-ng-model="ctlCompose.model.attachments.length"/>
      </form>


      <section class="nst-compose-message" id="editor-txt">
        <textarea  ckeditor="editorOptions" ng-model="ctlCompose.model.body"></textarea>
        <!--<summernote focus ng-model="ctlCompose.model.body"></summernote>-->
        <!--<textarea  nst-mention="#" page-change-element ui-tinymce="ctlCompose.configs.tinymce"-->
                   <!--placeholder="Your message goes here..." data-ng-model="ctlCompose.model.body"  translate-attrs="placeholder"></textarea>-->
      </section>

      <div class="nst-attach _dif _fw" data-ng-show="ctlCompose.attachments.viewModels.length > 0">
        <div class="_fw _pr">
          <nst-attachments-editable-bar mode="thumbnail" items="ctlCompose.attachments.viewModels" on-item-delete="ctlCompose.attachments.detach"></nst-attachments-editable-bar>
        </div>
        <div class="attach _df">
          <input id="attach" type="file" multiple onchange="angular.element(this).scope().ctlCompose.attachments.fileSelected(event)"/>
        </div>
        <div class="nst-attach-con _fh" ng-if="showUploadProgress">
          <div class="progress">
            <div class="progress-bar" ng-class="{'progress-bar-success' : totalProgress == 100}" role="progressbar" aria-valuenow="{{totalProgress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{totalProgress}}%;">
              <span>{{totalProgress}}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-ft _difh">
      <label class="_df _fn" for="attach">
        <svg>
          <use xlink:href="/assets/icons/nst-icn24.svg#attach"></use>
        </svg>
      </label>
      <div class="_df f1" id="editor-btn"></div>
      <input type="button" ng-click="ctlCompose.send()" class="butn-green" value="Share">
    </div>

  </div>
</div>
