<div class="_fh _pr _fw" id="compose-box"
     ondrop="angular.element(document.getElementById('compose-box')).scope().ctlCompose.dodrop(event);">
  <div class="compose-wrp ng-class:{'attached' : ctlCompose.attachments.viewModels.length > 0}" ng-mouseleave="ctlCompose.mouseIn = false" ng-mouseenter="ctlCompose.mouseIn = true">
    <div class="modal-head" ng-if="!ctlCompose.quickMode">
      <svg class="_16svg" ng-click="$dismiss()">
        <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
      </svg>
      <svg class="_16svg" id="compose-full" ng-click="ctlCompose.fullCompose()">
        <use xlink:href="/assets/icons/nst-icn16.svg#expand"></use>
        <use xlink:href="/assets/icons/nst-icn16.svg#collapse"></use>
      </svg>
    </div>
    <div class="modal-bo _difv _fw ng-class:{'scrolled' : ctlCompose.collapse}">
      <p class="_df _fn" ng-if="!ctlCompose.quickMode"><b><translate>Share With</translate></b></p>
      <div ng-if="!ctlCompose.quickMode" class="_df _fw input-select-match">
        <ui-select minimum-input-length="4" multiple limit="10"  class="address-input _dib" autofocus focus-on="focus-rec" focus-checker
                   id="input-compose-to" on-select="ctlCompose.emitItemsAnalytics()" on-remove="ctlCompose.emitItemsAnalytics()"
                   data-ng-model="ctlCompose.model.recipients">
          <ui-select-match placeholder="{{::ctlCompose.inputPlaceHolderLabel}}" compose-match-item class="match-items">
            <div class="selected-innter " ng-class="{'isEmail' : $item.isEmail,'error' : !$item.isValid}">
              <span class="place-img" ng-if="!$item.isEmail">
                <img ng-src="{{::$item.picture}}"/>
              </span>
              <span class="place-img" ng-if="$item.isEmail && !$item.isValid">
                  <svg>
                    <use xlink:href="/assets/icons/nst-icn16.svg#exclamation-mark"></use>
                  </svg>
                </span>
              <span class="place-name">{{$item.name}}</span>
            </div>

          </ui-select-match>
          <ui-select-choices refresh="ctlCompose.search.fn($select.search)"
                             refresh-delay="0"
                             repeat="place as place in (ctlCompose.search.results | filter: $select.search ) track by $index">
            <div class="place-initials-32">
              <img ng-src="{{::place.picture}}"/>
            </div>
            <span class="_fw _df" data-ng-bind-html="place.name | highlight: $select.search"></span>
            <span class="nst-font-10 _vat _df" data-ng-bind-html="place.id | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div nst-scrollbar dir="ltr" suppress-scroll-x="true" suppress-scroll-y="{{ctlCompose.quickMode}}" go-upward="ctlCompose.makeChangeForWatchers" class="wdt-emoji-picker-parent compose-scrl-wrp">
        <section class="_difc _fw _fn" dir="{{$root._direction}}">
          <input id="compose-subject" class="compose-input _fw wdt-emoji-bundle-enabled" name="subject" value="{{ctlCompose.model.subject}}" ng-focus="ctlCompose.focusBox()" ng-blur="ctlCompose.blurBox()" ng-keydown="ctlCompose.subjectKeyDown($event)"
          placeholder="Add a title" data-ng-model="ctlCompose.model.subject" auto-dir="ctlCompose.model.subject" translate-attrs="placeholder" autocomplete="off">
        </section>

        <section dir="{{$root._direction}}" class="nst-compose-message ng-class:{'focussed' : ctlCompose.focus || ctlCompose.attachments.viewModels.length > 0,'empty' : ctlCompose.model.body.length == 0}" id="editor-txt">
          <textarea id="compose-froala" froala="ctlCompose.froalaOpts" ng-model="ctlCompose.model.body" ng-blur="ctlCompose.blurBox()"></textarea>
          <!--<textarea  ckeditor="editorOptions" ng-model="ctlCompose.model.body" ng-blur="ctlCompose.blurBox()"></textarea>-->
        </section>
      </div>
    </div>
    <div class="editor-btn-wrp ng-class:{'foccused' : ctlCompose.focus || ctlCompose.attachments.viewModels.length > 0,'empty' : ctlCompose.model.body.length == 0}" id="editor-btn"></div>
    <form name="attachmentForm">
      <input type="hidden" name="attLength" data-ng-model="ctlCompose.model.attachments.length"/>
    </form>

    <div class="nst-attach _dif" data-ng-show="ctlCompose.attachments.viewModels.length > 0">
      <div class="_fw _pr">
        <nst-attachments-editable-bar mode="thumbnail" items="ctlCompose.attachments.viewModels" on-item-delete="ctlCompose.attachments.detach"></nst-attachments-editable-bar>
      </div>
      <div class="attach _df">
        <input id="attach" type="file" multiple onchange="angular.element(this).scope().ctlCompose.attachments.fileSelected(event, 'file')"/>
        <input id="attach-img" accept="image/*,video/*" type="file" multiple onchange="angular.element(this).scope().ctlCompose.attachments.fileSelected(event, 'media')"/>
      </div>
      <div class="nst-attach-con _fh" ng-if="showUploadProgress">
        <div class="progress">
          <div class="progress-bar" ng-class="{'progress-bar-success' : totalProgress == 100}" role="progressbar" aria-valuenow="{{totalProgress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{totalProgress}}%;">
            <span>{{totalProgress}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-ft _fw _aic ng-class:{'focussed' : ctlCompose.focus}">
      <div class="compose-btns _pr">
        <!--<label class="_df _fn cursor-pointer" class="cursor-pointer margin-r_5 icon _df"
           popover-class="white-pop post-card-moreopt"
           data-popover-placement="{{$root._direction == 'ltr' ? 'left auto' : 'right auto'}}"
           data-uib-popover-template="'app/pages/compose/partials/files-modal.html'"
           data-popover-append-to-body="false" translate-attrs="data-uib-tooltip">
          <svg class="_24svg _asc">
            <use xlink:href="/assets/icons/nst-icn24.svg#attach"></use>
          </svg>
        </label>-->
        <label class="_df _fn cursor-pointer" for="attach" class="cursor-pointer margin-r_5 icon _df">
          <svg class="_24svg _asc">
            <use xlink:href="/assets/icons/nst-icn24.svg#attach"></use>
          </svg>
        </label>
        <label class="_df _fn cursor-pointer" for="attach-img">
          <svg class="_24svg _asc">
            <use xlink:href="/assets/icons/nst-icn24.svg#camera-wire"></use>
          </svg>
        </label>
        </label>
        <div class="emoji _df _pr">
          <svg class="_24svg _asc">
            <use xlink:href="/assets/icons/nst-icn24.svg#small-face-wire"></use>
          </svg>
          <div class="subj" emoji-init=".compose-input" compose-emoji="true" ng-show="ctlCompose.emojiTarget == 'title';"></div>
          <div class="body" emoji-init=".fr-element" compose-emoji="true" ng-show="ctlCompose.emojiTarget != 'title';"></div>
        </div>
        <!--<svg class="_24svg _asc subj" compose-emoji-subj ng-if="ctlCompose.emojiTarget == 'title';">
          <use xlink:href="/assets/icons/nst-icn24.svg#small-face-wire"></use>
        </svg>
        <svg class="_24svg _asc body" compose-emoji-body ng-if="ctlCompose.emojiTarget != 'title';">
          <use xlink:href="/assets/icons/nst-icn24.svg#small-face-wire"></use>
        </svg>-->
        <div class="_df f1"></div>
        <svg class="_16svg _asc" popover-class="white-pop post-card-moreopt compose-opt"
           data-popover-placement="{{$root._direction == 'ltr' ? 'left auto' : 'right auto'}}"
           data-uib-popover-template="'app/pages/compose/partials/compose-settings.html'"
           data-popover-append-to-body="false">
          <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
        </svg>
      </div>
      <div class="quick-btns">
        <input type="button" ng-click="ctlCompose.clear()" class="butn-white" value="Discard" ng-if="ctlCompose.quickMode" translate-attrs="value">
        <input type="button" ng-click="ctlCompose.send()" class="butn-green" value="Share" translate-attrs="value">
      </div>

    </div>

  </div>
</div>
