<!--<div class="_fw quick-message _fn">
  <form name="frmQuickMessage" data-ng-submit="ctlQuickMessage.model.submit($event)">
    <input class="_fw input input-title" name="subject" data-ng-disabled="ctlQuickMessage.model.saving" placeholder="Quick Message Title..."/>
    <input class="_fw input" name="body" data-ng-disabled="ctlQuickMessage.model.saving" placeholder="quick message text..."/>
    <input class="hidden" type="submit"/>
  </form>
</div>-->
<div contenteditable tabindex="0" id="input" ng-keyup="ctlQuickMessage.writeMsg($event)" select-non-editable="false" strip-br="true" strip-tags="true" placeholder="Write your subject in the first line, and your message body below it." class="_fw _fh" ng-model="ctlQuickMessage.message" aria-expanded="false" role="textbox" auto-dir="{{ctlQuickMessage.model.subject}}"></div>{{::ctlQuickMessage.model.subject}}
<div class="_fw _difh">
  <nst-attachments-editable-bar class="qm-mode _df _fw" mode="thumbnail" items="ctlQuickMessage.attachments.viewModels" on-item-delete="ctlQuickMessage.attachments.detach"></nst-attachments-editable-bar>
  <div class="quick-icons">
    <label tabindex="0" class="butn-white" for="attach">Attach</label>
    <div tabindex="0"  class="butn-green" ng-click="ctlQuickMessage.model.submit()">Send</div>
</div>
</div>
<input id="attach" type="file" multiple onchange="angular.element(this).scope().ctlQuickMessage.attachments.fileSelected(event)"/>
