.quick-message-wrp {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  .quick-message-inner {
    display: inline-flex;
    flex-direction: row;
    .quick-sender {
      width: 40px;
      padding-top: 16px;
      > div {
        position: relative;
        left: -4px;
      }
    }
    .editor-btn {
      display: none;
    }
    .quick-message {
      z-index: 10;
      border: 1px solid $color-border;
      border-radius: 4px;
      position: relative;
      padding: 8px;
      margin-right: 32px;
      display: inline-flex;
      flex-direction: column;
      .anim-q {
        max-height: 0;
        // transition: max-height 3s;
        // transition-delay: 3s;
        &.notfirst {
          animation: 1s ease-out forwards remove-max-height-rev;
        }
        &.focused {
          // max-height: none;
          // transition: max-height 3s;
          animation: 1s ease-in forwards remove-max-height;
        }
      }
      .compose-subject-input {
        height: 42px;
        color: $color-solid;
        &::-webkit-input-placeholder {
          line-height: 30px;
          font-size: 18px;
        }
        &::-moz-placeholder {
          line-height: 42px;
          font-size: 18px;
        }
        &:-ms-input-placeholder {
          line-height: 30px;
          font-size: 18px;
        }
      }
      .files-modal-head ,
      .files-modal ul {
        display: none;
      }
      input + .wdt-emoji-picker {
        display: none;
      }
      div[contenteditable] {
        margin-bottom: 8px;
        min-height: 42px;
        @extend ._wrb;
        display: block;
        flex: 1;
        > div {
          font-size: 13px;
          line-height: 125%;
          font-weight: 400;
        }
      }
      textarea {
        border: none
      }
      .quick-atach {
        position: relative;
        width: 100%;
        height: 108px;
      }
      .compose-scroll-wrapper {
        min-height: 0;
        max-height: none;
        overflow: visible;
      }
      .editor-butns-wrapper {
        // max-height : 0;
        // transition: opacity,max-height 0.3s;
        overflow: hidden;
        opacity: 0;
        &.focused {
          // max-height : 2500px;
          overflow: visible;
        }
        &.showBar {
          opacity: 1;
        }
        .fr-toolbar.fr-top {
          display: inline-block;
        }
      }
      .compose-attachment-bar {
        position: relative;
        bottom: 0;
        margin-top: 8px
      }
      .quick-controls {
        flex: none;
        width: 100%;
        flex-direction: row;
        display: inline-flex;
        // max-height: 500px;
        // transition: max-height .3s ease-in;
        position: relative;
        overflow: hidden;
        justify-content: flex-end;
      }
      .nst-compose-message .cke_contents.cke_reset {
        min-height: 0;
      }
      .nst-compose-message,.compose-modal-footer {
        overflow: hidden;
        display: flex;
        // max-height: 0;
        // transition: max-height $animation-dur;
        &.focused {
          // max-height: 2500px;
          // overflow: visible;
        }
      }
      input[type='button'] {
        min-width: 80px;
        height: 32px;
        line-height: 29px;
        display: block;
        justify-content: center;
        text-align: center;
      }
    }
  }

}
