.task-area {
    max-width: 720px;
    margin: 0 auto;
    display: block;
    width: calc(100% - 48px);
    min-height: 100%;
    background-color: $task-color-bg;
    box-shadow: 0 4px 8px $box-shadow-color;
    h2 {
        margin: 12px 24px 0 24px;
        height: 56px;
        align-items: center;
        display: flex;
        position: relative;
        ._16svg {
            opacity: .4;
            transform: scale(2,2);
            transform-origin: left center;
            fill: $color-solid;
        }
        a:first-of-type {
            margin: 0 24px;
        }
        a {
            font-size: 18px;
            font-weight: bold;
            color: $color-solid;
            opacity: .4;
            display: flex;
            height: 100%;
            span {
                padding: 0 4px;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        a.active {
            opacity: 1;
            span {
                color: $color-bg-pending;
                border-bottom: 2px solid $color-bg-pending
            }
        }
        hr {
            opacity: .08;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            border-color: $color-solid;
            width: 100%;
        }
    }
    .overdue {
        li .list-li-icon {
            transform: translateY(0);
        }
        .list-li-body {
            > a:first-of-type,
            > span:first-of-type,
            > p ,
            > p b{
                color: $color-force;
            }
        }
        li .list-li-body a {
            margin: 0;
        }
        .list-li-extra {
            svg {
                fill: $color-force;
            }
            span {
                color: $color-force;
            }
        }
        li {
            &::after {
                display: none;
            }
        }
    }
    .candidate {
        .list-li-icon {
            svg {
                fill: $color-bg-pending;
            }
        }
        .list-li-body {
            > a:first-of-type,
            > span:first-of-type,
            > p ,
            > p b{
                color: $color-bg-pending;
            }
        }
        .list-li-extra {
            svg {
                fill: $color-bg-pending;
            }
            span {
                color: $color-bg-pending;
            }
        }
        .list-li-buttons {
            >input {
                min-width: 90px;
            }
        }
    }
    .rejected {
        .list-li-body {
            > a:first-of-type,
            > span:first-of-type,
            > p ,
            > p b{
                color: $color-shine-wire;
            }
        }
    }
    .completed {
        .list-li-body {
            > a:first-of-type {
                text-decoration: line-through;
                opacity: 0.64;
            }
        }
    }
    .upcoming {
        .list-li-icon {
            transform: translateY(-10px);
        }
    }
    .empty-place-holder {
        img {
            margin: auto;
        }
        span {
            max-width: 300px;
            margin: auto;
            display: block;
            text-align: center;
            font-size: 14px;
            color: $color-solid-64;
            line-height: 19px;
        }
    }
}
