<div id="single-contact">
    <div class="place-head contact-head">
      <div class="place-filter">
        <img ng-src="{{ctrl.contact | picture}}" alt="{{::ctrl.contact.fullName}}">
      </div>
      <div class="setting-headline _aic" bg-check="{{ctrl.contact | picture:'x128'}}">
        <svg class="_24svg _df _r45 _fn" ng-click="ctrl.close();">
          <use xlink:href="/assets/icons/nst-icn24.svg#cross"></use>
        </svg>
        <div class="_df _fw">

        </div>
        <svg class="_24svg _df _fn" ng-if="ctrl.contact.isContact" data-popover-class="white-pop popover-white-nst-activity-places"
           data-popover-append-to-body="true" uib-popover-template="'app/contacts/contact-single/contact-single-more-options.html'"
           data-popover-placement="auto bottom-right">
          <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
        </svg>
      </div>
      <div class="logo-holder">
        <img ng-src="{{ctrl.contact | picture:'x128'}}" height="100%" alt="{{::ctrl.contact.fullName}}">
      </div>

      <div class="contact-actions">
        <div ng-click="ctrl.toggleFavorite()" ng-if="ctrl.contact.isContact">
          <svg class="_24svg _df fill-gale">
            <use ng-if="!ctrl.contact.isFavorite" xlink:href="/assets/icons/nst-icn24.svg#star-wire"></use>
            <!-- TODO : Change icon-->
            <use ng-if="ctrl.contact.isFavorite" xlink:href="/assets/icons/nst-icn24.svg#star"></use>
          </svg>
        </div>
        <div ng-if="!ctrl.contact.isContact" ng-click="ctrl.add()">
          <svg class="_24svg _df fill-gale" ng-if="true">
            <!-- TODO : Change icon-->
            <use xlink:href="/assets/icons/nst-icn24.svg#cross"></use>
          </svg>
        </div>
        <div ng-click="ctrl.viewConversation();">
          <svg class="_24svg _df fill-gale" ng-if="true">
            <use xlink:href="/assets/icons/nst-icn24.svg#message-baloon"></use>
          </svg>
        </div>
        <div ng-click="ctrl.sendMessage();">
          <svg class="_24svg _df fill-sense-wire" ng-if="true">
            <use xlink:href="/assets/icons/nst-icn24.svg#compose"></use>
          </svg>
        </div>

      </div>

    </div>

    <div class="inf">
        <h4><translate>Full Name</translate></h4>
        <h5>{{::ctrl.contact.fullName}}</h5>
    </div>

    <div class="inf">
        <h4><translate>User ID</translate></h4>
        <h5>{{::ctrl.contact.id}}</h5>
    </div>

    <div class="inf">
        <h4><translate>Mutual Places ({{ctrl.mutualPlaces.length || 0}})</translate></h4>
        <div class="mu-places">
            <a class="placerow" ng-repeat="place in ctrl.mutualPlaces" ui-sref="app.place-messages({ placeId: place.id })" ng-click="ctrl.goToPlace($event, place);">
                <img ng-src="{{ place | picture : 'x64'}}" alt="{{::place.name}}">
                <span>{{::place.name}}</span>
            </a>
        </div>
    </div>
</div>
