<div class="actdes">
  <div class="ico">
    <div class="ei-member-leave"></div>
  </div>
  <div class="sender" data-ng-include="'app/events/partials/activity-common-actor.html'" data-ng-init="actor = act.actor"></div>
</div>
<div class="actcon">
  <div class="msg">
    <p data-ng-if="!(act.member.id == act.actor.id)">
      <span class="nst-mood-simple">Removed</span>
      <a ui-sref="place-messages({placeId: act.place.id})">
        @{{act.member.id}}
      </a><span class="nst-mood-simple"> from</span><a class="place" href="#/activity/({placeId: act.place.id})">
      {{act.inSpecificPlace ? "here" : act.place.name}}
    </a>
    </p>
    <p data-ng-if="act.member.id == act.actor.id">
      <span class="nst-mood-simple">Left</span> <a class="place" href="#/activity/({placeId: act.place.id})">
      {{act.inSpecificPlace ? "here" : act.place.name}}
    </a>
    </p>
  </div>
  <div class="places"></div>
  <div class="time no-animation" data-ng-include="'app/events/partials/activity-common-date.html'"></div>
</div>
