<div class="actdes">
  <div class="ico">
    <div class="ei-member-leave"></div>
  </div>
  <div class="sender" data-ng-include="'app/events/partials/activity-common-actor.html'" data-ng-init="actor = act.actor"></div>
</div>
<div class="actcon">
  <div class="msg">
    <span data-ng-if="act.member.name != act.actor.name" class="nst-mood-simple">Left <a class="place" ui-sref="place-messages({placeId: act.place.id})">
      {{act.inSpecificPlace ? "here" : act.place.name}}
    </a></span>
    <span data-ng-if="act.member.name == act.actor.name" class="nst-mood-simple">Removed <strong data-ng-bind="act.member.name"></strong> from  <a class="place" ui-sref="place-messages({placeId: act.place.id})">
      {{act.inSpecificPlace ? "here" : act.place.name}}
    </a></span>
  </div>
  <div class="places"></div>
  <div class="time no-animation" data-ng-include="'app/events/partials/activity-common-date.html'"></div>
</div>
