<div class="actdes">
  <div class="ico">
    <div class="ei-invite"></div>
  </div>
  <div class="sender" data-ng-include="'app/events/partials/event/common/actor.html'" data-ng-init="actor = invitaion.inviter"></div>
</div>
<div class="actcon">
  <div class="msg">
    <div class="subject">
      <span class="nst-mood-simple">Invited you to&nbsp;</span>
      <a class="nst-mood-solid post" href="#/events/{{invitaion.place.id}}" data-ng-bind-html="invitaion.place.name"></a>
    </div>
  </div>
  <div class="places">
    <button class="btn-green" data-ng-click="events.decideInvite(invitaion, true)">Accept</button>
    <button class="btn-white" data-ng-click="events.decideInvite(invitaion, false)">Decline</button>
  </div>
</div>
