<form novalidate class="use-ng-animate register-step" ng-submit="ctrl.submitPhoneNumber(ctrl.phoneIsValid && ctrl.countryIsValid);">
  <div class="form-group" ng-class="{ 'has-error' : !ctrl.countryIsValid && ctrl.submitted}">
    <label ng-if="ctrl.countryIsValid || !ctrl.submitted" class="nst-mood-storm nst-font-small"><translate>Country</translate></label>
    <label class="error-message" ng-if="!ctrl.countryIsValid && ctrl.submitted"><translate>Select your country</translate></label>
    <country-select placeholder="Select a country" auto-locate="ctrl.autoLocateEnabled" selected-country-code="ctrl.countryCode" class="margin-t-5 _db"></country-select>
  </div>
  <div class="form-group nst-marginbtm-60" ng-class="{ 'has-error' : !ctrl.phoneIsValid && ctrl.submitted}">
    <label class="nst-mood-storm nst-font-small" ng-if="ctrl.phoneIsValid || !ctrl.submitted"><translate>Phone number</translate></label>
    <label class="error-message" ng-if="ctrl.phoneIsEmpty && ctrl.submitted"><translate>Enter your phone number</translate></label>
    <label class="error-message" ng-if="ctrl.phoneIsWrong && ctrl.submitted"><translate>Provided phone number is not valid</translate></label>

    <div ng-if="ctrl.phoneAvailableStatus == 'checking' && ctrl.phoneIsValid && ctrl.submitted && ctrl.checkPhoneAvailable" class="nst-mood-storm" style="display: inline">
      <translate>checking...</translate>
    </div>
    <div ng-if="ctrl.phoneAvailableStatus == 'available' && ctrl.phoneIsValid && ctrl.submitted && ctrl.checkPhoneAvailable" class="nst-mood-cheerful" style="display: inline">
      <translate>available</translate>
    </div>
    <div ng-if="ctrl.phoneAvailableStatus == 'used' && ctrl.phoneIsValid && ctrl.submitted && ctrl.checkPhoneAvailable" class="nst-mood-lively" style="display: inline">
      <translate>used</translate>
    </div>

    <div class="nst-marginbtm-16 _difh _fw _pr margin-t-5 border-number _ltr">
      <i class="plus">+</i>
      <i class="sep">|</i>
      <input type="text" name="country_code" class="pre-number" maxlength="4" minlength="1" ng-model="ctrl.countryCode" allow-only-number ng-change="ctrl.validatePhone();">
      <input type="text" name="phone_number" class="number _fw" maxlength="15" minlength="1" ng-model="ctrl.phone" allow-only-number ng-change="ctrl.validatePhone();" autofocus>
    </div>
  </div>
  <div class="form-action">
    <input type="submit" ng-if="!ctrl.phoneSubmitProgress" value="Next" translate-attrs="value" class="butn-green butn-lg butn-login nstbtn">
    <input type="submit" ng-if="ctrl.phoneSubmitProgress" value="Submitting..." translate-attrs="value" class="butn-green butn-lg butn-login nstbtn" disabled="disabled">
  </div>
</form>
