<div class="profile-section">
  <svg class="_16svg _fn">
    <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
  </svg>
  <translate>General</translate>
</div>
<div class="webapp-setting">
  <div class="form-group _difv _fw">
    <!-- <label class="input-lab _fw"><b><translate>Debug mode</translate></b></label> -->
    <div class="field _difh _fw">
      <div class="_df _fw srchp">
        <translate>Default Posts View:</translate>
      </div>
      <select ng-model="ctrl.compactView" class="_df" ng-change="ctrl.changeDefaultView()">
        <option value="false">&nbsp;&nbsp;<translate>Expanded view</translate></option>
        <option value="true">&nbsp;&nbsp;<translate>Collapsed view</translate></option>
      </select>
    </div>
    <div class="field _difh _fw">
      <div class="_df _fw srchp">
        <translate>Debug mode:</translate>
        <a ng-if="ctrl.debugMode" ng-click="ctrl.downloadLogs()" style="color: #000; font-weight: bold;">&nbsp;&nbsp;&nbsp;<translate>Download Logs</translate></a>
      </div>
      <div class="place-switch _fn">
        <input type="checkbox" name="signature" id="debug_mode" data-ng-model="ctrl.debugMode">
        <label for="debug_mode">
            <b><translate>Yes</translate></b>
            <div class="circle" switch-drag="ctrl.debugMode"></div>
          </label>
        <label for="debug_mode">
            <b><translate>No</translate></b>
          </label>
      </div>
    </div>
    <div class="field _difh _fw">
      <div class="_df _fw srchp">
        <translate>Signature:</translate>
      </div>
      <div class="place-switch _fn">
        <input type="checkbox" name="signature" id="signature" data-ng-model="ctrl.signatureActive">
        <label for="signature">
            <b><translate>On</translate></b>
            <div class="circle" switch-drag="ctrl.signatureActive"></div>
          </label>
        <label for="signature">
            <b><translate>Off</translate></b>
          </label>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.signatureActive" class="compose-wrapper" >
      <textarea id="compose-froala" froala="ctrl.froalaOpts" ng-model="ctrl.model"></textarea>
      <div class="editor-butns-wrapper" id="editor-btn"></div>
      <input type="file" class="butn butn-green full-width" value="Add base64 image"/>
      <button class="butn butn-green full-width" ng-if="ctrl.touched" ng-click="ctrl.save()"><translate>Save</translate></button>
  </div>

</div>
