<nst-navbar data-ng-model="navbar" controls="ctlPlaceAdd.controls" page="ctlApp.page" class="second-view"></nst-navbar>
<div class="nst-content _tr second-view" id="content-wrapper" ng-scrollbars page-change="ctlCompose.changeState($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
  <section class="content _bgwhite">
    <div class="navbarillu"></div>
    <div class="panel-create-place  _ma">
      <form name="CreatePlaceForm">
        <ul class="list-inline head">
          <li>
            <span>/</span>
          </li>
          <li data-ng-repeat="pid in ctlPlaceAdd.model.parentId.split('.')">
            <img src="../assets/icons/arrow_16.png" class="arrow-right"/>
            <span>{{pid}}</span>
          </li>
        </ul>
        <div class="_fw upload-photo-container">
          <div class="_ma upload-photo">
            <label for="logo"><img src="{{ctlPlaceAdd.model.picture.url}}"/></label>
            <input page-change-element id="logo" type="file" name="logo" accept="image/*"
                   onchange="angular.element(this).scope().ctlPlaceAdd.imgToUri(event)"
                   data-ng-model="place.picture"/>
            <div class="probut">
              <label for="logo" class="add-photo-hover"></label>
              <!-- ngIf: ctlProfileEdit.model.picture.url -->
              <div ng-if="ctlPlaceAdd.model.picture.file" class="remove-photo-hover" data-ng-click="ctlPlaceAdd.removeImg()" role="button"></div>
              <!-- end ngIf: ctlProfileEdit.model.picture.url -->
            </div>
          </div>
        </div>
        <div class="inner-panel _ma _fw">
          <div class="place-id">
            <div class="_dib nst-marginbtm-8">Place ID : </div>
            <div class="_dib nst-mood-lively nst-marginbtm-8" ng-if="CreatePlaceForm.place_id.$error.required && CreatePlaceForm.place_id.$touched">Required</div>
            <div class="_fr nst-loading nst-loading-size-16" ng-if="ctlPlaceAdd.status.existCheckInProgress"></div>
            <div class="_dib nst-mood-cheerful nst-marginbtm-8" ng-if="!ctlPlaceAdd.placeIdCheck.result && !ctlPlaceAdd.placeIdMinLength && !(CreatePlaceForm.place_id.$error.required && CreatePlaceForm.place_id.$touched)">available</div>
            <div class="_dib nst-mood-lively nst-marginbtm-8" ng-if="ctlPlaceAdd.placeIdCheck.result && ctlPlaceAdd.placeIdMinLength && !(CreatePlaceForm.place_id.$error.required && CreatePlaceForm.place_id.$touched)">already exist</div>
            <div class="nst-marginbtm-4">
              <input page-change-element type="text" name="place_id"
                     ng-class="(CreatePlaceForm.place_id.$error.required && CreatePlaceForm.place_id.$touched) ? 'form-control-error' : 'form-control'" aria-invalid="false"
                     ng-keyup="ctlPlaceAdd.existCheck()" data-ng-model="ctlPlaceAdd.model.id" required/>
            </div>
            <div class="notice-bar">Place ID can't be changed later, so choose wisely!</div>
          </div>
          <div>
            <div class="_dib">Place Name : </div>
            <div class="_dib nst-mood-lively" ng-if="CreatePlaceForm.place_name.$touched && CreatePlaceForm.place_name.$error.required">Required</div>
            <div class="nst-marginbtm-4">
              <input page-change-element type="text" name="place_name" aria-invalid="false"
                     ng-class="{'form-control': CreatePlaceForm.place_name.$untouched || CreatePlaceForm.place_name.$valid,'form-control-error': CreatePlaceForm.place_name.$touched && CreatePlaceForm.place_name.$error.required}" data-ng-model="ctlPlaceAdd.model.name" required/>
            </div>
            <div class="notice-bar">Short name that helps you to quickly identify your places.</div>
          </div>
          <div class="place-desc">
            <div>Place Description</div>
            <div>
              <input page-change-element type="text" name="place_desc"
                     class="nst-marginbtm-4 form-control ng-pristine ng-untouched ng-valid" aria-invalid="false"
                     data-ng-model="ctlPlaceAdd.model.description"/>
            </div>
            <div class="notice-bar">A short description of your place.</div>
          </div>
          <div id="place-privacy">Place Privacy</div>
          <!--<div class="_difc _fw">-->
          <!--<div class="_df"><label for="sw-locked"><i class="nst-lock _df"></i></label></div>-->
          <!--<div class="_df _fw"><label for="sw-locked"><h6>Lock</h6></label></div>-->
          <!--<div class="_df switch">-->
          <!--<input page-change-element type="checkbox" id="sw-locked" class="inpsw" name="not" data-ng-model="ctlPlaceAdd.model.privacy.locked">-->
          <!--<label for="sw-locked" data-ng-click="ctlPlaceAdd.model.privacy.locked && $event.preventDefault();">-->
          <!--<div class="labtxt _fw">ON</div>-->
          <!--</label>-->
          <!--<label for="sw-locked" data-ng-click="!ctlPlaceAdd.model.privacy.locked && $event.preventDefault();">-->
          <!--<div class="labtxt _fw">OFF</div>-->
          <!--</label>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="notice-bar">Parent members Can't view Inside The Place. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>-->
          <div class="_difc _fw">
            <div class="_df"><label for="sw-receptive"><i class="nst-print _df"></i></label></div>
            <div class="_df _fw"><label for="sw-receptive"><h6>Receiving</h6></label></div>
            <div class="_df switch">
              <input page-change-element type="checkbox" id="sw-receptive" class="inpsw" name="not"
                     data-ng-model="ctlPlaceAdd.model.privacy.receptive">
              <label for="sw-receptive"
                     data-ng-click="ctlPlaceAdd.model.privacy.receptive && $event.preventDefault();">
                <div class="labtxt _fw">ON</div>
              </label>
              <label for="sw-receptive"
                     data-ng-click="!ctlPlaceAdd.model.privacy.receptive && $event.preventDefault();">
                <div class="labtxt _fw">OFF</div>
              </label>
            </div>
          </div>
          <div class="notice-bar" ng-if="!ctlPlaceAdd.model.privacy.receptive">Only members can write posts. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="notice-bar" ng-if="ctlPlaceAdd.model.privacy.receptive">Place can receive messages from all senders.<a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="_difc _fw">
            <div class="_df"><label for="sw-email"><i class="nst-atsign _df"></i></label></div>
            <div class="_df _fw"><label for="sw-email"><h6>Email</h6></label></div>
            <div class="_df switch">
              <input page-change-element type="checkbox" id="sw-email" class="inpsw" name="not"
                     data-ng-model="ctlPlaceAdd.model.privacy.email"
                     data-ng-disabled="!ctlPlaceAdd.model.privacy.receptive">
              <label for="sw-email" data-ng-click="ctlPlaceAdd.model.privacy.email && $event.preventDefault();">
                <div class="labtxt _fw">ON</div>
              </label>
              <label for="sw-email" data-ng-click="!ctlPlaceAdd.model.privacy.email && $event.preventDefault();">
                <div class="labtxt _fw">OFF</div>
              </label>
            </div>
          </div>
          <div class="notice-bar" ng-if="!ctlPlaceAdd.model.privacy.receptive">Disabled until "Receptive" off. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="notice-bar" ng-if="ctlPlaceAdd.model.privacy.receptive && ctlPlaceAdd.model.privacy.email">Place can receive emails from all senders. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="notice-bar" ng-if="ctlPlaceAdd.model.privacy.receptive && !ctlPlaceAdd.model.privacy.email">PlaceID is not an email address and can not recieve emails. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="_difc _fw">
            <div class="_df"><label for="sw-search"><i class="nst-search _df"></i></label></div>
            <div class="_df _fw"><label for="sw-search"><h6>Search</h6></label></div>
            <div class="_df switch">
              <input page-change-element type="checkbox" id="sw-search" class="inpsw" name="not"
                     data-ng-model="ctlPlaceAdd.model.privacy.search"
                     data-ng-disabled="!ctlPlaceAdd.model.privacy.receptive">
              <label for="sw-search" data-ng-click="ctlPlaceAdd.model.privacy.search && $event.preventDefault();">
                <div class="labtxt _fw">ON</div>
              </label>
              <label for="sw-search" data-ng-click="!ctlPlaceAdd.model.privacy.search && $event.preventDefault();">
                <div class="labtxt _fw">OFF</div>
              </label>
            </div>
          </div>
          <div class="notice-bar" ng-if="!ctlPlaceAdd.model.privacy.receptive">Disabled until "Receptive" off. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="notice-bar" ng-if="!ctlPlaceAdd.model.privacy.search && ctlPlaceAdd.model.privacy.receptive">Hidden for user's search. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <div class="notice-bar" ng-if="ctlPlaceAdd.model.privacy.search && ctlPlaceAdd.model.privacy.receptive">Place can be found through in-app searches. <a href="javascript:void(0);" class="nst-mood-cheerful">Learn more</a></div>
          <!--<div>-->
          <!--<button class="butn  butn-sense _fw" data-ng-click="ctlPlaceAdd.create()">Create Place</button>-->
          <!--</div>-->
        </div>
      </form>
    </div>
  </section>
</div>
