<a class="_df list-items _aic"
   ui-sref="app.place-settings({ placeId : place.id })"
   ng-if="!ctrl.isPersonal(place.id)"
   ng-click="ctrl.openSettingsModal($event, place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
    </svg>
  </div>
  <span><translate>Place Settings</translate></span>
</a>
<hr ng-if="ctrl.allowedToAddPlace">
<!-- <a ng-if="ctrl.isGrandPlace(place.id) && !ctrl.isPersonal(place.id)&& place.permitions.allowedToCreatePlace"
   class="_df list-items _aic" ui-sref="app.place-create({ placeId : place.id })"
   ng-click="ctrl.openCreateSubplaceModal($event, 'open',  place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
    </svg>
  </div>
  <span><translate>Create an Open Place</translate></span>
</a> -->
<a class="_df list-items _aic" ui-sref="app.place-create({ placeId : place.id })"
   ng-click="ctrl.openCreateSubplaceModal($event, 'close',  place.id)"
   ng-if="place.permitions.allowedToCreatePlace">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
    </svg>
  </div>
  <span><translate>Create a Private Place</translate></span>
</a>
<!-- <hr ng-if="!ctrl.isPersonal() && (ctrl.allowedToRemovePlace || ctrl.place.privacy.locked)"> -->
<a class="_df red-item list-items _aic"
   ng-if="!ctrl.isPersonal(place.id) && !ctrl.isSubPersonal(place.id)"
   ng-click="ctrl.confirmToLeave(place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  <span><translate>Leave</translate></span>
</a>
<!-- <a class="_df red-item list-items _aic"
   ng-if="!ctrl.isSubPersonal(place.id) && !ctrl.isPersonal(place.id) && place.permition.allowedToRemovePlace"
   ng-click="ctrl.confirmToRemove()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
    </svg>
  </div>
  <span><translate>Leave and Delete</translate></span>
</a> -->
<a class="_df red-item list-items _aic" ng-if="place.permition.allowedToRemovePlace"
   ng-click="ctrl.confirmToRemove(place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  </svg>
  <span>Delete</span>
</a>
