<a class="_df list-items _aic"
   ui-sref="app.settings.profile"
   ng-if="ctrl.isPersonal(place.id)">
  <div class="top-user-avatar-24">
    <img initial-avatar="{{ctrl.user.id}}" name="{{ctrl.user.fullName}}" picture="{{ctrl.user | avatar}}" data-width="24" data-height="24" data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="12"/>
  </div>
  <span><translate>Profile Settings</translate></span>
</a>
<a class="_df list-items _aic"
   ui-sref="app.place-settings({ placeId : place.id })"
   ng-if="!ctrl.isPersonal(place.id)"
   ng-click="ctrl.openSettingsModal($event, place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
    </svg>
  </div>
  <span><translate>Place Settings</translate></span>
</a>
<hr ng-if="ctrl.allowedToAddPlace">
<a ng-if="ctrl.isGrandPlace(place.id) && place.permitions.allowedToCreatePlace"
   class="_df list-items _aic" ui-sref="app.place-create({ placeId : ctrl.getPlaceId() })"
   ng-click="ctrl.openCreateSubplaceModal($event,'open')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
    </svg>
  </div>
  <span><translate>Create an Open Place</translate></span>
</a>
<a class="_df list-items _aic" ui-sref="app.place-create({ placeId : ctrl.getPlaceId() })"
   ng-click="ctrl.openCreateSubplaceModal($event,'close')"
   ng-if="place.permitions.allowedToCreatePlace">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
    </svg>
  </div>
  <span><translate>Create a Closed Place</translate></span>
</a>
<!-- <hr ng-if="!ctrl.isPersonal() && (ctrl.allowedToRemovePlace || ctrl.place.privacy.locked)"> -->
<a class="_df red-item list-items _aic"
   ng-if="!ctrl.isPersonal(place.id) && place.privacy.locked && !place.permition.allowedToLeavePlace"
   ng-click="ctrl.confirmToLeave()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  <span><translate>Leave</translate></span>
</a>
<!-- <a class="_df red-item list-items _aic"
   ng-if="!ctrl.isSubPersonal(place.id) && !ctrl.isPersonal(place.id) && place.permition.allowedToRemovePlace"
   ng-click="ctrl.confirmToRemove()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
    </svg>
  </div>
  <span><translate>Leave and Delete</translate></span>
</a> -->
<a class="_df red-item list-items _aic" ng-if="place.permition.allowedToRemovePlace"
   ng-click="ctrl.confirmToRemove(place.id)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  </svg>
  <span>Delete</span>
</a>
