<a class="list-items ng-class:{'active' : ctrl.placesSetting.relationView}" ng-click="ctrl.showLoading();ctrl.placesSetting.relationView = true; ctrl.filter = null">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#task-in-progress"></use>
    </svg>
  </div>
  <translate>Relation View</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<a class="list-items ng-class:{'active' : !ctrl.placesSetting.relationView && !ctrl.filter}" ng-click="ctrl.showLoading();ctrl.placesSetting.relationView = false">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#list-view"></use>
    </svg>
  </div>
  <translate>Absolute View</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<div class="line-popover"></div>
<h6>
  <translate>Filter by:</translate>
</h6>
<a class="list-items ng-class:{'active' : ctrl.filter === 'grand'}" ng-click="ctrl.showLoading();ctrl.search('', 'grand')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
    </svg>
  </div>
  <translate><b>type:</b> Grand Places</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<a class="list-items ng-class:{'active' : ctrl.filter === 'private'}" ng-click="ctrl.showLoading();ctrl.search('', 'private')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
    </svg>
  </div>
  <translate><b>type:</b> Private Places</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<a class="list-items ng-class:{'active' : ctrl.filter === 'common'}" ng-click="ctrl.showLoading();ctrl.search('', 'common')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
    </svg>
  </div>
  <translate><b>type:</b> Common Places</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<a class="list-items ng-class:{'active' : ctrl.filter === 'email'}" ng-click="ctrl.showLoading();ctrl.search('', 'email')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#earth"></use>
    </svg>
  </div>
  <translate><b>privacy:</b> Recieving Emails</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
<a class="list-items ng-class:{'active' : ctrl.filter === 'manager'}" ng-click="ctrl.showLoading();ctrl.search('', 'manager')">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#crown"></use>
    </svg>
  </div>
  <translate><b>roll:</b> Manager</translate>
  <svg class="_16svg item-check">
    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
  </svg>
</a>
