<div data-uib-tooltip-template="'task-progress-icon-uib-tooltip.html'" data-tooltip-append-to-body="true"
     data-tooltip-placement="top center" class="task-progress-icon">
  <svg ng-if="status === statuses.NOT_ASSIGNED" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#candidate"></use>
  </svg>
  <svg ng-if="status === statuses.ASSIGNED_NO_CHECKLIST" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#in-progress-simple"></use>
  </svg>
  <svg ng-if="status === statuses.ASSIGNED_CHECKLIST" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#in-progress-with-todo"></use>
  </svg>
  <svg ng-if="status === statuses.ASSIGNED_PROGRESS" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#in-progress-with-todo"></use>
  </svg>
  <svg ng-if="status === statuses.ASSIGNED_PROGRESS" class="progress">
    <circle r="9" cx="9" cy="9"/>
  </svg>
  <svg ng-if="status === statuses.COMPLETED" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#completed"></use>
  </svg>
  <svg ng-if="status === statuses.HOLD" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#hold"></use>
  </svg>
  <svg ng-if="status === statuses.REJECTED" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#rejected"></use>
  </svg>
  <svg ng-if="status === statuses.OVERDUE" class="_32svg _df">
    <use xlink:href="/assets/icons/nst-task-icn32.svg#overdue"></use>
  </svg>
</div>
<script type="text/ng-template" id="task-progress-icon-uib-tooltip.html">
  <span ng-if="status === statuses.NOT_ASSIGNED" translate-inner>Not assigned</span>
  <span ng-if="status === statuses.ASSIGNED_NO_CHECKLIST" translate-inner>Assigned without checklist</span>
  <span ng-if="status === statuses.ASSIGNED_CHECKLIST" translate-inner>Assigned with checklist</span>
  <span ng-if="status === statuses.ASSIGNED_PROGRESS" translate-inner>Assigned with checklist and {{progress}}% progress</span>
  <span ng-if="status === statuses.COMPLETED" translate-inner>Completed</span>
  <span ng-if="status === statuses.HOLD" translate-inner>Hold</span>
  <span ng-if="status === statuses.REJECTED" translate-inner>Rejected</span>
  <span ng-if="status === statuses.OVERDUE" translate-inner>Overdue</span>
</script>
