.upload-photo-container-setting {
  height: 125px;
}
.changePassLink {
  color: #14D769;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: $color-sense-wire;
  }
}
.panel-profile-setting {
  padding: 50px 8px 8px 8px;
  max-width: 574px;
  width: 100%;
  text-decoration: none;
  border: 1px $color-breeze;
  margin: 0 auto;
  .profile-name {
    font-weight: 300;
    color: #000000;
    font-size: 32px;
  }
  .profile-id {
    font-weight: 300;
    font-size: 20px;
  }
  label {
    font-weight: 400;
    color: #869D91;
    min-height: 12px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }
  input,select {
    margin-bottom: 12px;
    height: 40px;
  }
  input:disabled {
    background-color: $color-calm;
  }
  ul {
    height: 30px;
    input,label {
      display: flex;
      position: static!important;
    }
  }
  .select-birthday {
    background-color: transparent;
    color: #C0C0C0;
    min-height: 26px;
    font-weight: 400;
    display: flex;
    .select-month {
      display: flex;
      width: 40%;
    }
    .select-day {
      display: flex;
      width: 30%;
      padding-left: 2px;
    }
    .select-year {
      display: flex;
      width: 30%;
      padding-left: 2px;
    }
  }
  button {
    height: 40px;
    width: 100%;
    color: white
  }
  .ng-enter {
    animation: fade-in 3s;
  }
}

#nav-prof {
display: none
}

//.mobile-phone{
//  display: block;
//  width: 100%;
//  height: 34px;
//  padding: 6px 12px;
//  font-size: 14px;
//  line-height: 1.42857;
//  color: #555555;
//  background-color: #fff;
//  background-image: none;
//  border: 1px solid #ccc;
//  border-radius: 4px !important;
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
//}
