/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
*/

.nst-topnav {
  width: 100%;
  display: flex;
  flex: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $topnav-height;
  background-color: $color-sense;
  z-index: 52;
  transition: background-color $animation-dur ease-in;
  &.bg-hur {
    background-color: $color-hurricane;
  }
  & > div {
    height: 100%;
    align-items: center;
    div {
      margin: 0 10px;
    }
  }
  & > div:first-of-type {
    justify-content: flex-start;
  }
  & > div:last-of-type {
    justify-content: flex-end;
  }
}
#top-nav-container {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  bottom: 0;
  top: $topnav-height;
  height: calc(100% - 68px);
  background-color: $color-breeze-50;
  padding: 8px 0;
  overflow: auto;
  &.ng-inter {
    animation: appearence .5s;
  }
}

.top-nav-actions {
  height: 128px;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    .top-nav-action {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        flex: none;
      }
    }
    &>div:first-child {
      height: calc(100% - 30px);
    }
    span {
      height: 30px;
      flex: none;
      color: $color-solid;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }
  }
  & > div:last-child {
    align-items: flex-end;
  }
}
.badge-invite {
  position: absolute;
  width: 24px;
  height: 24px;
  color: $color-white;
  background-color: red;
  border-radius: 100px;
  display: flex;
  //padding-top: 3px;
  justify-content: center;
  top: -15px;
  right: -15px;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}
/**
  ******************************
  *  navbar
  ******************************
 */

a {
  color: $color-storm;
}

nst-navbar {
  height: $navbar-height;
  transition: $animation-dur ease;
  align-self: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 55;
}

.nst-navbar {
  background-color: $color-white;
  border-bottom: 1px solid $color-calm;
  height: 100%;
  justify-content: center;
  z-index: 50;
  width: 100%;
  transition: all $animation-dur;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  .content {
    flex-direction: row;
    padding-top: 16px;
  }
  .place-logo {
    height: 100%;
    justify-content: center;
    @include avatar(72px,56px,6px);
    img {
      filter: alpha(opacity=10);
    }
  }
  .place-info {
    display: inline-flex;
    flex: 1;
    height: 100%;
    position: relative;
    flex-direction: column;
    overflow-y: hidden;
    > * {
      display: flex;
      flex: none;
      width: 100%;
    }
    cite {
      color: $color-solid;
      letter-spacing: -1px;
      line-height: 29px;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      background-color: $color-white;
      z-index: 2;
    }
    h3 {
      color: $color-solid;
      line-height: 16px;
      font-size: 13px;
      font-weight: 400;
      margin: 0;
      background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -webkit-linear-gradient(bottom, rgba(255,255,25,0) 0%,rgba(255,255,255,1) 100%);
      z-index: 2;
    }
    p {
      color: #869D91;
      line-height: 16px;
      font-size: 13px;
      font-weight: 400;
      margin: 16px 0 48px 0;
      position: absolute;
      bottom: 0;
    }
    .navigation {
      position: absolute;
      background-color: $color-white;
      display: inline-flex;
      flex-direction: row;
      right: 0;
      left: 0;
      bottom: 0;
      height: 42px;
      nav {
        display: inline-flex;
        flex: 1;
        flex-direction: row;
      }
      .search {
        flex: none;
        align-items: center;
        display: flex;
        input {
          color: #C8C8C8;
          font-size: 12px;
          font-weight: 400;
          background-color: #FFFFFF;
          border-radius: 4px;
          width: 189px;
          height: 30px;
          padding: 2px 20px 2px 8px;
          transition: width $animation-dur;
          &:focus {
            border-color: $color-border;
            box-shadow: none;
            width: 250px;
          }
        }
        i {
          position: absolute;
          right: 4px;
          background-color: $color-white;
          background-size: cover;
          width: 16px;
          height: 16px;
        }
      }
    }
    .nav-access {
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      display: inline-flex;
      flex-direction: row-reverse;
      z-index: 12;
      svg {
        display: flex;
        height: 32px;
        width: 32px;
        margin-left: 6px;
        fill: $color-wind;
        transition: all .3s;
        &.active {
          fill: $color-sense !important;
        }
      }
    }
  }
}
.navbarillu {
  width: 100%;
  height: $navbar-height;
  flex: none
}
.menu-links {
  display: inline;
  //left: 35px;
}

.menu-links-butn {
  width: 90px;
  color: $color-storm;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  left: 120px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  &.active {
    border-bottom: 3px solid $color-sense ;
    color: $color-sense-wire;
  }
}

.menu-links-search {
  width: 64px;
  height: 32px;
  align-self: center;
}

.menu-links-butn:hover {
  color: $color-solid;
}

.menu-links .menu-links-butn {
  border-bottom: 1px solid $color-white;
}

.menu-links .li-hover:hover, .selected {
  border-bottom: 2px solid $color-sense;
  margin-top: 4px;
}
.nst-place-icon-search:focus {
  display: none;
}

.nst-navbar .content-plus{
  justify-content: center;
  height: auto;
}
.menu-links-search .icon-close {
  z-index: 2;
  right: -620px;
}
#inputsearch {
  max-width: 0;
  z-index: 100;
  background-color: $color-white;
  margin-top: 13px;
  position: absolute;
  overflow: hidden;
  align-items: center;
  display: flex;
  left : 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
#inputsearch ul li {
  padding: 5px 0;
}

#inputsearch input{
  border: none;
  padding-left: 38px;
  //padding-top: 12px;
}
#inputsearch .line-f {
  left:0;
}
