/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
*/

.nst-topnav {
  width: 100%;
  display: flex;
  flex: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $topnav-height;
  background-color: $color-sense;
  z-index: 52;
  transition: background-color $animation-dur ease-in;
  justify-content: center;
  &.bg-hur {
    background-color: $color-hurricane;
  }
  .hamb-cont > div {
    height: 100%;
    align-items: center;
  }
  .hamb-cont {
    align-items: center;
    > div:first-of-type {
      justify-content: flex-start;
    }
    > div:last-of-type {
      justify-content: flex-end;
    }
  }
}
.hamb-cont {
  width: 100%;
  max-width: 686px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  > div > a > svg,
  > div > svg {
    margin: 0 10px;
    fill: $color-white;
    &.morphed {
      transform: rotateZ(45deg);
      fill: $color-white
    }
  }
}
#top-nav-container {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  bottom: 0;
  top: $topnav-height;
  height: calc(100vh - 56px);
  background-color: $color-breeze-50;
  padding: 8px 0;
  overflow: auto;
  &.ng-inter {
    animation: appearence .5s;
  }
  hr {
    border-color: $color-breeze;
    margin: 0 0 9px;
  }
  ul ul li {
    padding-left: 16px;
  }
  ul ul{
    max-height: 0;
    overflow: hidden;
    transition-property: opacity,max-height;
    transition-timing-function: ease-in-out;
    transition-duration: $animation-dur;
    opacity: 0;
    display: flex;
    //animation: down-slip 20s ease-in forwards;
  }
  ul ul.extend {
    max-height: 2200px;
    opacity: 1;
  }
  ul ul .placerow {
    height: 48px;
  }
}

.top-nav-actions {
  //height: 128px;
  a {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16);
    margin-bottom: 12px;
    background-color: $color-white;
    .top-nav-action-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      width: 56px;
      svg {
        width: 24px;
        height: 24px;
        fill: $color-breeze;
        flex: none;
      }
    }
    span {
      flex: none;
      color: $color-solid;
      font-size: 16px;
      min-height: 13px;
      line-height: 19px;
      font-weight: 700;
    }
  }
  & > div:last-child {
    align-items: flex-end;
  }
}

.top-nav-invitations {
  display: inline-flex;
  flex-direction: column;
  flex:1 0 auto;
  width: 90%;
  align-self: center;
  li {
    padding: 4px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16);
    margin-bottom: 12px;
    border: solid 2px $color-bg-pending-fill;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    background-color: $color-white;
    min-height: 56px;
    align-items: center;
    justify-content: center;
  }
  .logo {
    margin: 8px 8px;
    flex: none;
    justify-content: center;
    align-items: center;
    @include avatar(48px,48px,10%);
  }
  .name {
    span {
      font-size: 14px;
      line-height: 17px;
      //padding-top: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      justify-content: center;
    }
    h5 {
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      justify-content: center;
    }
    p {
      color: $color-storm;
      line-height: 16px;
      font-size: 13px;
      font-weight: 400;
      font-style: italic;
      margin: 0;
      justify-content: center;
      margin-bottom: 8px;
    }
  }
  .buttons {
    flex: none;
    line-height: 19px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    width: 100%;
    a:last-child {
      color: $color-sense;
      display: flex;
      flex: 1;
      justify-content: center;
    }
    a:first-child {
      color: $color-wind;
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}

ul.top-nav-places {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
  transition-property: opacity,max-height;
  li {
    flex: 1 0 auto;
    background-color: $color-white;
  }
  & > li {
    margin-bottom: 12px;
    > .placerow {
      box-shadow: 0 2px 4px rgba(0,0,0,0.16);
      z-index: 1;
      height: 56px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto;
    list-style: none;
    li {
      .logo {
        @include avatar(48px,32px,10%);
      }
      h5 {
        font-weight: 400!important;
      }
    }
  }
  .des {
    border-bottom: 1px solid #F0F5F2;
    align-items: center;
    overflow: hidden;
  }
  .logo {
    margin: 4px 8px;
    flex: none;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    @include avatar(48px,48px,10%);
    .notif {
      right: 0;
      top: 3px;
    }
  }
  .name {
    padding-top: 8px;
    overflow: hidden;
    span {
      font-size: 14px;
      min-height: 14px;
      margin-top: 4px;
      font-weight: 400;
      color: $color-storm;
      padding-left: 24px;
      white-space: nowrap;
    }
    h5 {
      font-size: 16px;
      min-height: 13px;
      line-height: 19px;
      font-weight: 700;
      color: $color-solid;
      margin: 0;
      @extend ._txe;
      display: block;
    }
    i {
       transform: scale(.625,.625);
     }
  }
}

//ul.top-nav-places li div div:only-of-type{
//  animation: appearence .4s ease-in;
//}
//ul.top-nav-places li div div:nth-child(2){
//  animation: appearence .2s ease-in;
//}
//ul.top-nav-places li div div:nth-child(2) img,.top-nav-places li div div:nth-child(2) div{
//  animation: grow-full .1s ease-in;
//}

.placerow {
  position: relative;
  z-index: 100;
}
.create-place-nav {
  border: 1px dashed $color-hurricane;
  border-radius: 6px;
  align-self: center;
  width: 90%;
  background-color: #FAFAFD;
  height: 48px;
  box-sizing: content-box;
  span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: $color-hurricane;
    margin: 0;
  }
  i {
    color: $color-hurricane;
    font-size: 48px;
    font-style: normal;
    transform: scale(1,1);
  }
}
.badge-invite {
  position: absolute;
  width: 24px;
  height: 24px;
  color: $color-white;
  background-color: red;
  border-radius: 100px;
  display: flex;
  //padding-top: 3px;
  justify-content: center;
  top: 0;
  left: 24px;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}
/**
  ******************************
  *  navbar
  ******************************
 */

a {
  color: $color-storm;
}

nst-navbar {
  //transition: all $animation-dur;
  align-self: flex-start;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  @include user-select(none);
  //width: calc(100% - 272px);
  //width: 100%;
  //will-change: height;
  //transform-style: preserve-3d;
  //backface-visibility: hidden;
  //transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,1,1);
  .bg {
    background-color: $color-white;
    border-bottom: 1px solid $color-calm;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
  }
  .nst-navbar-f {
    height: 48px!important;
    justify-content: center;
    z-index: 50;
    width: 100%;
    display: flex;
    .menu-links-butn {
      min-width: 0;
      font-size: 16px;
      font-weight: 300;
    }
    .content {
      .bot-nav {
        height: 100%;
      }
    }
  }
  .nst-navbar,.nst-navbar-f{
    height: 80px;
    justify-content: center;
    z-index: 50;
    width: 100%;
    display: flex;
    .menu-links-butn {
      min-width: 0;
      font-size: 16px;
      font-weight: 300;
    }
    .content {
      .bot-nav {
        height: 100%;
      }
    }
  }
  .nst-content {
    z-index: 2;
  }
  .content {
    flex-direction: column;
    position: relative;
    width: 620px + 276px + 16px;
    max-width: 100%;
    min-width: 460px + 276px + 16px;
    .top-nav {
      width: 100%;
      flex-direction: row;
      height: 92px;
      position: relative;
      padding-top: 16px;
    }
    .bot-nav {
      width: 100%;
      flex-direction: row;
      height: 42px;
      position: absolute;
      bottom: 0;
      left: 0;
      .navigation {
        background-color: $color-white;
        display: inline-flex;
        flex-direction: row;
        //right: 0;
        width: 100%;
        padding-left: 8px;
        height: 100%;
        svg {
          width: 24px;
          height: 24px;
        }
        nav {
          display: inline-flex;
          flex: 1;
          flex-direction: row;
        }
        .search {
          flex: none;
          align-items: center;
          display: flex;
          position: relative;
          input {
            @extend .nst-font-small;
            font-weight: 400;
            background-color: $color-white;
            border-radius: 4px;
            width: 128px;
            height: 30px;
            padding: 2px 20px 2px 8px;
            transition: width $animation-dur;
            &:focus {
              border-color: $color-border;
              width: 189px;
              box-shadow: none;
            }
          }
          i {
            position: absolute;
            right: 4px;
            background-color: $color-white;
            background-size: cover;
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

      }
      .cp-illu {
        width: 308px;
        display: flex;
      }
    }
  }
  .place-logo {
    height: calc(100% - 16px);
    //top : 16px;
    position: relative;
    justify-content: center;
    float: left;
    @include avatar(72px,56px,6px);
    img {
      filter: alpha(opacity=10);
    }
    &::after {
      top: 0;
      transform: translateY(0)
    }
  }
  .icon-logo {
    height: auto;
    position: absolute;
    flex: none;
    width: 72px;
    left: 0;
    top: 16px;
    justify-content: center;
    display: flex;
    svg {
      display: flex;
      width: 24px;
      height: 24px;
      transform: scale(1.5,1.5) translateY(6px);
    }
  }
  .place-info {
    display: inline-flex;
    flex: 1;
    //width: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 100px);
    float: left;
    > * {
      display: flex;
      flex: none;
      width: 100%;
      position: relative;
    }
    cite {
      color: $color-solid;
      display: block;
      letter-spacing: -1px;
      line-height: 26px;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      background-color: $color-white;
      z-index: 3;
      top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #place-address {
      background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
      background: -webkit-linear-gradient(bottom, rgba(255,255,250,0) 0%,rgba(255,255,255,1) 100%);
      z-index: 2;
      height: 16px;
    }
    h3 {
      color: $color-breeze;
      fill: $color-breeze;
      line-height: 20px;
      font-size: 13px;
      font-weight: 400;
      margin: 0;
      padding-top: 8px;
      height: 20px!important;
      svg {
        width: 16px;
        margin: 0 4px 0 0;
        height: 16px;
        display: flex;
        flex: none;
      }
      span {
        line-height: 20px;
        font-size: 13px;
        font-weight: 400;
        user-select: all;
      }
    }
    p {
      color: #869D91;
      line-height: 16px;
      font-size: 13px;
      font-weight: 400;
      margin: 16px 0 48px 0;
    }


  }
  .nav-access {
    position: absolute;
    right: 0;
    top: 16px;
    height: 40px;
    display: inline-flex;
    flex-direction: row-reverse;
    z-index: 12;
    .tooltip {
      white-space: nowrap;
    }
    >div > svg {
      display: flex;
      height: 32px;
      width: 32px;
      margin-left: 6px;
      //fill: $color-wind;
      transition: all .3s;
      //&.active {
      //  use:first-of-type {
      //    display: flex;
      //  }
      //}
      //&.active:hover {
      //  use:first-of-type {
      //    display: none;
      //  }
      //}

    }
  }
  vr {
    width: 1px;
    height: 40px;
    background-color: $color-breeze;
    align-self: center;
    display: flex;
    flex: none;
  }
  .nst-navbar.nfeed {
    height: 134px!important;
    .content {
      .top-nav {
      }
      .bot-nav {
        height: 42px;
      }
    }
    .menu-links-butn {
      span {
        margin-left: 8px;
      }
    }
  }
  .nst-navbar-f.nfeed {
    .content {
      .bot-nav {
        height: 100%;
      }
    }
  }
  .unread-nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      margin: 0;
    }
  }
  .srch-nav {
    height: 80px;
    display: flex;
    justify-content: center;
    .bot-nav {
      align-items: center;
      display: flex;
      position: relative;
    }
  }
  .conv-nav {
    height: 160px;
    .top-nav {
      display: flex;
      align-items: center;
    }
    .conv-logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 56px;
      height: 56px;
      margin: 0 8px;
      position: relative;
      .user-avatar-32{
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        &:after {
          left: 0;
        }
      }
      .user-avatar-40{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
      }
    }
    .top-nav {
      height: 80px;
      align-items: center;
      display: flex;
    }
    .bot-nav {
      height: 80px;
      align-items: center;
      display: flex;
    }

  }
}

.nst-navbar {
  height: $navbar-height;
  position: absolute;
  top: 0;
}
.nst-navbar-f {
  height: 48px;
  position: fixed;
  top: 0;
  right: 0;
  left: 272px;
  width: auto!important;
  transition: transform $animation-dur;
  transform: translateY(-100%) translateZ(0);
  will-change: transform;
  .bot-nav {
    height: 100%!important;
  }
  .content {
    min-width: 0;
  }
  .icon-filter + span {
    margin-left: 8px;
  }
}
body.scrolled {
  .nst-navbar-f {
    transform: translateY(0) translateZ(0);
    .bot-nav {
      position: absolute;
    }
  }
}
.nst-navbar-fff {
  position: fixed;
  top: 0;
  right: 0;
  left: 272px;
  width: auto!important;
  h2 {
    margin: 0;
    span{
      font-size: 24px;
      font-weight: 400;
    }
    b span  {
      font-weight: 600;
    }
  }
  a.menu-links-butn {
    min-width: 0;
    font-size: 16px;
    font-weight: 300;
  }
  input {
    height: 40px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.02);
    border-color: rgba(0,0,0,.14);
  }
  .content {
    .bot-nav {
      height: 80px;
      position: relative;
    }
  }
}
.navbarillu {
  width: 100%;
  height: $topnav-height;
  flex: none
}
.navbar-illu {
  width: 100%;
  height: 134px;
  flex: none;
  &.feed {
    height: 80px;
  }
  &.conv {
    height: 160px;
  }
}
.setting-icon-nav{
  display: flex;
  height: 24px!important;
  width: 24px!important;
  margin-left: 0!important;
}
.menu-links {
  display: inline;
  //left: 35px;
}

.menu-links-butn {
  color: $color-breeze;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  left: 120px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0 20px;
  //transition: color $animation-dur;
  span {
    //transition: color $animation-dur;
  }
  svg {
    //transition: fill $animation-dur;
    fill: $color-breeze;
    display: none;
  }
  &:first-of-type {
    margin: 0 8px;
    svg { display: flex;}
  }
  &:hover {
    color: $color-solid;
    svg {
      fill: $color-solid;
    }
  }
  &.active {
    border-bottom: 3px solid $color-sense;
    color: $color-sense-wire;
    svg {
      fill: $color-sense-wire;
    }
    &:hover {
      color: $color-sense-wire;
      fill: $color-sense-wire;
    }
  }
}

.menu-links-search {
  width: 64px;
  height: 32px;
  align-self: center;
}

.menu-links-butn:hover {
  color: $color-solid;
}

.menu-links .menu-links-butn {
  border-bottom: 1px solid $color-white;
}

.menu-links .li-hover:hover{
  border-bottom: 2px solid $color-sense;
  margin-top: 4px;
}
.nst-place-icon-search:focus {
  display: none;
}

.nst-navbar .content-plus{
  justify-content: center;
  height: auto;
  display: none;
}
.menu-links-search .icon-close {
  z-index: 2;
  right: -620px;
}
#inputsearch {
  max-width: 0;
  z-index: 100;
  background-color: $color-white;
  margin-top: 13px;
  position: absolute;
  overflow: hidden;
  align-items: center;
  display: flex;
  left : 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
#inputsearch ul li {
  padding: 5px 0;
}

#inputsearch input{
  border: none;
  padding-left: 38px;
  //padding-top: 12px;
}
#inputsearch .line-f {
  left:0;
}


.place-switch .circle .svg-hover {

  margin: 3px 4px;

  use:last-child {
    display: flex;
  }
}
.home-svg {
  svg {
    fill: $color-sense-wire!important;
  }
}
