body.isMobile {
  .nst-navbar {
    top: 56px;
  }
  .maincontainer.navtiny {
    #new-post {
      top: $navbar-height + $topnav-height ;
    }
    .nst-navbar {
      //transform: translate3d(0,-66px,0);
      //min-height: 132px;
      //max-height: 132px;
      //height: 132px;
      //background: #aaa;
      .navbar-top {
        overflow: hidden;
        height: 66px;
        span{
          height: 0;
          padding: 0;
          overflow: hidden;
        }
        a {
          font-size: 24px;
        }
      }
      .navbar-bottom{
        height: 60px;
      }
      .account-initials-64 {
        width: 40px;
        height: 40px;
      }
    }
  }
  nst-navbar{
    //top: $topnav-height;
    width: 100%;
  }
}
