<div class="nst-nav">
  <div class="_dt ">
    <div class='_dtr'>
      <div class="_dtc">
        <div id="Header" class="_dt _fw">
          <div class="_dtr">

            <div id='Logo' class='_dtc'>
              <a href="#/nested"><img id='Pic' src="../assets/images/nested-logo-32.png"/></a>
              <a href="#/nested"><img id='Type' src="../assets/images/nested-logotype-32.png"/></a>
            </div>

            <div id='PrimaryPageSelector' class='_dtc'>
              <ul>
                <li class="selected">
                  <a href="#/events">Events</a>
                </li>
                <li>
                  <a href="#/places">Places</a>
                </li>
                <li>
                  <a href="#/calendar">Calendar</a>
                </li>
              </ul>
            </div>

            <div class='_dtc'>
              <ul id="" class="list-inline">
                <li><p class="nst-mood-cheerful nav-profile">{{vm.user.fullname}}</p></li>
                <li><img class="img-circle" src="{{vm.user.avatar}}" height="32" width="32"></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="_dtr">
          <div class="_dtc">
            <div id="SubNav" class="_dt _fw _fh">
              <div class="_dtr">
                <div id="Compose" class="_dtc ">
                  <a>Compose</a>
                </div>
                <div class="_dtc">
                  <div class="_dt">
                    <div class="_dtr">
                      <div class="_dtc" id="SecondaryPageSelector">
                        <ul class="nav-width-ul">
                          <li class="selected">
                            <a href="#/events">All</a>
                          </li>
                          <li class="">
                            <a href="#/events">Inbox</a>
                          </li>
                          <li class="">
                            <a href="#/events">Comments</a>
                          </li>
                          <li class="">
                            <a href="#/events">Member Acts</a>
                          </li>
                          <li class="">
                            <a href="#/events">Place Acts</a>
                          </li>
                        </ul>
                      </div>

                      <div id="ViewSelector" class="_dtc">
                        <!--<div id="ExpandView" class="on"></div>-->
                        <!--<div id="CollapseView" class="off"></div>-->
                        <ul id="" class="list-inline">
                          <li>
                               <span class="text-right" id="viewswitch"> 
                                <input type="checkbox" id="remember" name="remember" value="remember"  data-ng-model="login.remember"/> 
                                <label for="remember"></label> 
                                </span>
                          </li>
                          <li><input id="n-search" placeholder="Search"></li>
                        </ul>

                      </div>


                      <!--<div class="_dtc nav-search-padding">-->
                      <!--<div class="_dt">-->
                      <!--<div class="_dtr">-->
                      <!--<div id="ViewSelector" class="_dtc">-->
                      <!--&lt;!&ndash;<div id="ExpandView" class="on"></div>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div id="CollapseView" class="off"></div>&ndash;&gt;-->
                      <!--<span class="text-right" id="viewswitch"> -->
                      <!--<input type="checkbox" id="remember" name="remember" value="remember"  data-ng-model="login.remember"/> -->
                      <!--<label for="remember"></label> -->
                      <!--</span>-->
                      <!--</div>-->
                      <!--<div class="_dtc">-->
                      <!--<input id="n-search" placeholder="Search">-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--</div>-->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

