
/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
 */

.nested-navbar-text {
  color: white;
}

.nested-logo {
  height: 64px;
  width: 20px;
}

#Header {
  //height: 64px;
  position: relative;
  border-bottom: 1px solid $color-calm;
}

#PrimaryPageSelector {
  width: 575px;
}

#PrimaryPageSelector ul {
  display: inline-block;
}

#SecondaryPageSelector ul {
  display: inline-block;
}

#SecondaryPageSelector .margin-ul-placeotion {
  margin-left: 208px;
}

#PrimaryPageSelector li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: medium;
  border-top: 5px solid white;
  width: 7em;
  text-align: center;
}

#PrimaryPageSelector li:hover,
#PrimaryPageSelector li.selected {
  border-top: 5px solid black;
}

#PrimaryPageSelector li.selected a,
#PrimaryPageSelector li:hover a {
  color: $color-solid;
  font-weight: bold;
}

#PrimaryPageSelector a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  text-decoration: none;
  color: $color-storm;
}

#SecondaryPageSelector li {
  display: inline-block;
  font-size: $font-size-small;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-bottom: 5px solid $color-white;
  height: 40px;

}

#SecondaryPageSelector li:hover,
#SecondaryPageSelector li.selected {
  border-bottom: 4px solid $color-sense;
  color: $color-sense;
}

#SecondaryPageSelector li.selected a,
#SecondaryPageSelector li.hover a {
  color: $color-sense;
}

#SecondaryPageSelector #events-ancher {
  padding: 9px 15px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $color-solid;
  display: block;
}

#SecondaryPageSelector .places-ancher {
  padding: 5px 15px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $color-solid;
  display: block;
}

#SecondaryPageSelector .place-option-ancher {
  padding: 5px 15px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $color-solid;
  display: block;
}

#SecondaryPageSelector a:hover {
  color: $color-sense;
}

.nav-profile {
  padding: 10px 0 2px 0;
  font-weight: 600;
}

.nav-width-ul {
  display: inline-block;
  margin-top: 0;
  //width: 1000px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 22px 16px 22px 16px;
}

.nav > ul a {
  padding: 22px 16px 22px 16px;
}

.Search .form-control {
  width: 144px;
}

.Search .input {
  height: 10px;
  width: 50px;
}

.menu-links-top {
  font-size: $font-size-large;
}

.nst-nav {
  background-color: white;
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: 9999;
}

#nst-compose-button {
  height: 32px;
  width: 128px;
  vertical-align: middle;
  font-weight: normal;
}

#nst-compose-button:hover {
  background-color: $color-sense;
}

input #nav-search {
  height: 30px;
  width: 146px;
  border-radius: 6px;
}

#n-search {
  width: 146px;
  height: 30px;
  border-radius: 6px;
  padding-left: 8px;

}

#SubNav #Buttons {
  width: 100px;
}

#SubNav #Search {
  width: 100px;
}

.button-back {
  width: 46px;
  height: 22px;
  background-color: $color-white;
  border: 1px solid $color-breeze;
  border-radius: 5px;
  color: $color-storm;
}

.add-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -96px;
  background-repeat: no-repeat;
}

.option-delete-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.option-leave-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -24px;
  background-repeat: no-repeat;
}

.option-rename-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -72px;
  background-repeat: no-repeat;
}

.option-add-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -48px;
  background-repeat: no-repeat;
}
