/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
*/

.inline-place-row {
  position: relative;
  z-index: 100;
}


/**
  ******************************
  *  navbar
  ******************************
 */

nst-navbar {
  position: relative;
  max-width: 880px;
  width: calc(100vw - 480px);
  z-index: 55;
  height: 48px;
  @include user-select(none);
  align-self: center; //will-change: height;
  //transform-style: preserve-3d;
  //backface-visibility: hidden;
  //transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,1,1);
  &.places-navbar {
    height: 104px;
  }
  .content {
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 720px + 256px + 16px;
    min-width: 460px;
    .top-nav {
      width: 100%;
      flex-direction: row;
      height: 92px;
      position: relative;
      padding-top: 16px;
      padding-left: 16px;
    }
    .bot-nav {
      width: 100%;
      flex-direction: row;
      height: 42px;
      position: absolute;
      display: flex;
      bottom: 0;
      align-items: center;
      left: 0;
      .cp-illu {
        width: 272px;
        display: flex;
        float: left;
        flex: none;
      }
      .search {
        flex: none;
        float: left;
        align-items: center;
        margin: 0 24px;
        display: flex;
        position: relative;
        input {
          @extend .nst-font-small;
          font-weight: 400;
          background-color: $color-white;
          border-radius: 4px;
          width: 192px;
          height: 40px;
          padding: 2px 20px 2px 8px;
          color: $color-solid;
          border-color: $color-breeze-new;
          &:focus {
            box-shadow: none;
          }
        }
        svg {
          fill: $color-black-24;
          position: absolute;
          right: 4px;
          background-color: $color-white;
          background-size: cover;
          width: 24px;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .place-logo {
      height: calc(100% - 16px);
      position: relative;
      justify-content: center;
      float: left;
      margin: 0 8px;
      @include picture(56px, 5px);
      img {
        filter: alpha(opacity=10);
      }
      i {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border-radius: 5px;
        padding: 2px;
        svg {
          fill: $color-new-hurricane
        }
      }
    }
    .icon-logo {
      height: auto;
      position: absolute;
      flex: none;
      width: 72px;
      left: 0;
      top: 16px;
      justify-content: center;
      display: flex;
      svg {
        display: flex;
        width: 24px;
        height: 24px;
        transform: scale(1.5, 1.5) translateY(6px);
      }
    }
    .place-info {
      display: inline-flex;
      flex: 1;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      height: 100%;
      width: calc(100% - 584px);
      min-width: 272px;
      float: left;
      >* {
        display: flex;
        flex: none;
        width: 100%;
        position: relative;
      }
      cite {
        color: $color-solid;
        display: block;
        letter-spacing: -1px;
        line-height: 26px;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        background-color: $color-white;
        z-index: 3;
        top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      #place-address {
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 250, 0) 0%, rgba(255, 255, 255, 1) 100%);
        z-index: 2;
        height: 16px;
      }
      h3 {
        color: $color-solid-64;
        fill: $color-solid-64;
        line-height: 20px;
        font-size: 13px;
        font-weight: 400;
        margin: 0;
        padding-top: 8px;
        height: 28px!important;
        svg {
          width: 16px;
          margin: 2px 4px 0 0;
          height: 16px;
          display: flex;
          flex: none;
        }
        span {
          line-height: 20px;
          font-size: 13px;
          font-weight: 400;
          user-select: all;
        }
      }
      p {
        color: $color-cool-smoke;
        line-height: 16px;
        font-size: 13px;
        font-weight: 400;
        margin: 16px 0 48px 0;
      }
    }
    vr {
      width: 1px;
      height: 40px;
      background-color: $color-breeze;
      align-self: center;
      display: flex;
      flex: none;
    }
    .nav-item-butn {
      span {
        margin-left: 8px;
      }
    }
    .unread-nav {
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      h2 {
        margin: 0;
      }
    }
    .search-nav {
      min-height: 80px;
      display: flex;
      justify-content: center;
      .bot-nav {
        align-items: center;
        display: flex;
        position: relative;
      }
    }
    .conversation-nav {
      height: 160px;
      .top-nav {
        display: flex;
        padding-left: 4px;
        align-items: center;
        h2 {
          width: 100%;
          overflow: hidden;
          b {
            font-weight: 400
          }
          span {
            white-space: nowrap;
          }
        }
      }
      .top-nav {
        height: 80px;
        align-items: center;
        display: flex;
        b {
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .bot-nav {
        min-height: 80px;
        align-items: center;
        display: flex;
        input {
          margin-left: 36px;
        }
      }
    }
  }
}

.nst-navbar {
  justify-content: center;
  width: 100%;
  display: flex;
  max-width: 720px; // height: $navbar-height;
  height: calc(100% - 24px);
  margin: 16px auto 8px auto;
  z-index: 88;
  position: relative;
  background-color: $sidebar-bg-color;
  box-shadow: 0 4px 16px $color-breeze-new;
  border-radius: 8px;
  .nst-navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
  }
  .place-picture {
    margin: 0 12px;
    border-radius: 5px;
    overflow: hidden;
    flex: none;
  }
  .place-context {
    margin: 0 4px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    cite {
      color: $color-solid;
      margin: 12px 0 9px 0;
      font-size: 20px;
      font-weight: bold;
      line-height: 27px;
      max-width: 240px;
    }
    .navigation {
      display: inline-flex;
      flex-direction: row; //right: 0;
      width: 100%;
      height: 32px;
      nav {
        display: inline-flex;
        flex: 1;
        flex-direction: row;
      }
      h2 {
        color: $color-solid;
        font-size: 24px;
        line-height: 33px;
        font-weight: bold;
        align-items: center;
        padding: 0 24px;
        span {
          font-weight: bold
        }
      }
    }
  }
  .place-detail {
    display: flex;
    align-items: center;
    max-width: 350px;
    > ._16svg {
      margin: 0 2px;
      flex: none;
      fill: $color-solid-64;
    }
    >span {
      margin: 0 16px 0 10px;
      color: $color-solid-64;
    }
    ._24svg {
      margin: 0 16px;
      display: flex;
      transition: all .3s;
    }
    .tooltip {
      white-space: nowrap;
    }
    .more-navbar-settings-icon {
      margin: 0 28px 0 12px;
    }
  }
}

.nst-navbar-fixed {
  position: absolute;
  top: 48px;
  z-index: 77;
  background-color: $color-bg-nested; // border-radius: 0 0 8px 8px;
  // box-shadow: 0 4px 16px $color-breeze-new;
  width: calc(100vw - 480px);
  max-width: 880px;
  min-width: 544px;
  &.feed-nav {
    position: fixed;
  }
  .nst-navbar-fixed-container {
    height: 40px;
    width: 100%;
    max-width: 720px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    .place-pic {
      width: 24px;
      height: 24px;
      margin: 0 12px 0 8px;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: $color-solid;
        flex: none;
      }
    }
    cite {
      margin-right: 4px;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      color: $color-solid;
      flex: none;
    }
    &.search-nav {
      // background-color: #DBDBDB;
      padding: 0 8px;
    }
    &.conv-nav {
      .place-pic {
        margin: 0;
        &:first-child + div {
          margin: 0 4px;
          opacity: .24;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
      cite {
        margin-left: 8px;
      }
    }
  }
  h2 {
    margin: 0;
    line-height: 28px;
    span {
      font-size: 24px;
      font-weight: 400;
    }
    b span {
      font-weight: 600;
    }
  }
  input {
    height: 40px;
    border-radius: 4px;
    background-color: $color-border-pics;
    border-color: transparentize($color-black, 1 - .14);
  }
}

.navbar-holder {
  width: 100%;
  height: 134px;
  flex: none;
  &.feed {
    height: 80px;
  }
  &.conv {
    height: 160px;
  }
}

.nav-item {
  display: inline;
}

.nav-item-butn {
  color: $color-gale-new;
  line-height: 30px;
  height: 32px;
  border-bottom: 2px solid transparent;
  text-align: center;
  cursor: pointer;
  left: 120px;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  font-size: 16px;
  svg {
    fill: $color-gale-new;
    margin: 0 4px;
  }
  &:hover {
    color: $color-solid;
    svg {
      opacity: $color-solid;
    }
  }
  &.active {
    border-bottom: 2px solid $color-sense-wire;
    color: $color-sense-wire;
    svg {
      opacity: 1;
      fill: $color-sense-wire;
    }
    &:hover {
      color: $color-sense-wire;
      fill: $color-sense-wire;
    }
  }
}

.nav-item-butn:hover {
  color: $color-solid;
}

.nav-item .nav-item-butn {
  border-bottom: 1px solid $color-white;
}

.nav-item .li-hover:hover {
  border-bottom: 2px solid $color-sense;
  margin-top: 4px;
}

.place-switch .circle .svg-hover {
  margin: 3px 4px;
  use:last-child {
    display: flex;
  }
}
