<li class="_difc _fw placerow">
  <div class="logo _df">
    <a href="{{place.url}}">
      <img class="account-initials-40" src="{{place.avatar}}" />
    </a>
  </div>
  <a class="name _df _fw" href="{{place.url}}">
    <div class="name _df _fw">
      <div class="_difh">
        <div class="_df ico">
          <div class="role-icon-green"></div>
        </div>
        <div class="_difv _fw">
          <h5 class="_df">{{place.name}}</h5>
        </div>
      </div>
    </div>
  </a>
  <div class="_df placearrow" data-ng-if="place.children.length > 0">
    <div class="arrow-holder-places" data-ng-click="place.isCollapsed =! place.isCollapsed" data-ng-model="colp" role="button" tabindex="0" aria-hidden="false" aria-invalid="false">
      <label class="label-position-places {{place.isCollapsed ? 'nst-arrow' : 'nst-arrow-rotated'}}"></label>
    </div>
  </div>
</li>
<li data-ng-if="place.children.length > 0" data-ng-show="!place.isCollapsed">
  <ul class="top-nav-places _difh _fw" >
    <li data-ng-repeat="child in place.children"
        data-ng-include="'app/components/navbar/place.html'" onload="place = child"></li>
  </ul>
</li>
