<div id="contacts-list">
    <h2 class="_df">
        <svg class="_24svg _asc" ng-click="$dismiss()">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
        <span>Contacts</span>
    </h2>
    <div class="_pr _fw">
        <svg class="_16svg _asc _pa srch">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/nst-icn16.svg#search"></use>
        </svg>
        <input type="" name="" value="" placeholder="find in contacts">
    </div>
    <div id="scroller" dir="ltr" nst-scrollbar  scroll-spy="" data-target="#navPills" data-scroll-offset="80" class="scrollspy-example span9">
        <div dir="{{_direction}}">
        <section id="fav">
            <h6>Favorites</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="A">
            <h6>A</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="B">
            <h6>B</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="C">
            <h6>C</h6>
            <div class="userrow">
                <img src="" alt="">
                <div class="_difv">
                    <span>User Full Name</span>
                    <span>userid</span>
                </div>
            </div>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="D">
            <h6>D</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="E">
            <h6>E</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="F">
            <h6>F</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="G">
            <h6>G</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="H">
            <h6>H</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="I">
            <h6>I</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="J">
            <h6>J</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>   
        <section id="K">
            <h6>K</h6>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>
        <section>
            <h6>Not in Nested</h6>
            <div class="_difh _fw">
                <div class="userrow _fw">
                    <img src="" alt="">
                    <div class="_difv">
                        <span>User Full Name</span>
                        <span>userid</span>
                    </div>
                </div>
                <div class="_df _fn _aic">
                    <a class="invite-btn" href="">Invite to Nested</a>
                </div>
            </div>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
            <p> 
                <br>
                <br>
                <br>
            </p>
        </section>
        </div>
        
    </div>
    
    <ul class="alphabet nav" id="navPills">
        <li class="active"><a href="#fav" ng-click="$event.preventDefault();" scroll-to="fav">*</a></li>
        <li><a href="#A" ng-click="$event.preventDefault();" scroll-to="A">A</a></li>
        <li><a href="#B" ng-click="$event.preventDefault();" scroll-to="B">B</a></li>
        <li><a href="#C" ng-click="$event.preventDefault();" scroll-to="C">C</a></li>
        <li><a href="#D" ng-click="$event.preventDefault();" scroll-to="D">D</a></li>
        <li><a href="#E" ng-click="$event.preventDefault();" scroll-to="E">E</a></li>
        <li><a href="#F" ng-click="$event.preventDefault();" scroll-to="F">F</a></li>
        <li><a href="#G" ng-click="$event.preventDefault();" scroll-to="G">G</a></li>
        <li><a href="#H" ng-click="$event.preventDefault();" scroll-to="H">H</a></li>
        <li><a href="#I" ng-click="$event.preventDefault();" scroll-to="I">I</a></li>
        <li><a href="#J" ng-click="$event.preventDefault();" scroll-to="J">J</a></li>
        <li><a href="#K" ng-click="$event.preventDefault();" scroll-to="K">K</a></li>
        <li><a href="#L" ng-click="$event.preventDefault();" scroll-to="L">L</a></li>
        <li><a href="#M" ng-click="$event.preventDefault();" scroll-to="M">M</a></li>
        <li><a href="#N" ng-click="$event.preventDefault();" scroll-to="N">N</a></li>
        <li><a href="#O" ng-click="$event.preventDefault();" scroll-to="O">O</a></li>
        <li><a href="#P" ng-click="$event.preventDefault();" scroll-to="P">P</a></li>
        <li><a href="#Q" ng-click="$event.preventDefault();" scroll-to="Q">Q</a></li>
        <li><a href="#R" ng-click="$event.preventDefault();" scroll-to="R">R</a></li>
        <li><a href="#S" ng-click="$event.preventDefault();" scroll-to="S">S</a></li>
        <li><a href="#T" ng-click="$event.preventDefault();" scroll-to="T">T</a></li>
        <li><a href="#U" ng-click="$event.preventDefault();" scroll-to="U">U</a></li>
        <li><a href="#V" ng-click="$event.preventDefault();" scroll-to="V">V</a></li>
        <li><a href="#W" ng-click="$event.preventDefault();" scroll-to="W">W</a></li>
        <li><a href="#X" ng-click="$event.preventDefault();" scroll-to="X">X</a></li>
        <li><a href="#Y" ng-click="$event.preventDefault();" scroll-to="Y">Y</a></li>
        <li><a href="#Z" ng-click="$event.preventDefault();" scroll-to="Z">Z</a></li>
        <li><a href="#other" ng-click="$event.preventDefault();" scroll-to="other">#</a></li>
    </ul>
</div>