.task-area {
    max-width: 720px;
    margin: auto;
    display: block;
    width: calc(100% - 48px);
    min-height: 100%;
    background-color: $color-white;
    box-shadow: 0 4px 8px $color-breeze-new;
    h2 {
        margin: 12px 24px 0 24px;
        height: 56px;
        font-size: 18px;
        font-weight: bold;
        color: $color-solid;
        align-items: center;
        display: flex;
        opacity: .4;
        position: relative;
        ._16svg {
            transform: scale(2,2);
            transform-origin: left center;
            fill: $color-solid;
        }
        span {
            padding: 0 24px;
        }
        hr {
            opacity: .2;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            border-color: $color-solid;
            width: 100%;
        }
    }
    .overdue {
        svg {
            fill: $color-force;
        }
        .list-li-extra > span:first-of-type {
            color: $color-force;
            font-size: 13px;
        }
        .list-li-body > span:first-of-type {
            margin-bottom: 0;
            color: $color-force;
        }
        li {
            &::after {
                display: none;
            }
        }
    }
    .candidate {
        .list-li-icon {
            transform: translateY(-10px);
            svg {
                fill: $color-bg-pending;
            }
        }
        .list-li-buttons {
            >input {
                min-width: 90px;
            }
        }
        .list-li-body > span {
            color: $color-bg-pending;
        }
    }
    .upcoming {
        .list-li-icon {
            transform: translateY(-10px);
        }
    }
}
