<form ng-submit="ctrl.save(placeForm.$valid);" name="placeForm" novalidate class="_fw _df">
  <place-head env="'create'" dissmiss="$dismiss"
              pict="{{ ctrl.logoUrl || '/assets/icons/absents_place.svg'}}"></place-head>

  <h3>"{{ctrl.createdPlace.name}}"</h3>
  <h3>
    <translate>successfully created</translate>
  </h3>


  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.GRAND">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#places"></use>
    </svg>
    <span><tasnslate>Grand Place</tasnslate></span>
    <p class="cr8">
      <translate>
        Share posts and files, invite people, create sub-Place and more...
      </translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.COMMON">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#window"></use>
    </svg>
    <span><tasnslate>Comman Place</tasnslate></span>
    <p class="cr8">
      <translate>
        All ”{{ctrl.grandPlace.name}}” Members can view and comment on the posts of this Place.
      </translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.PRIVATE">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#brick-wall"></use>
    </svg>
    <span><tasnslate>Private Place</tasnslate></span>
    <p class="cr8">Only ”{{ctrl.createdPlace.name}}” Members can view the contents of this Place.</p>
  </div>


  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.SUB_PERSONAL">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#brick-wall"></use>
    </svg>
    <span><tasnslate>Private Place</tasnslate></span>
    <p class="cr8">Only I can view the contents of this Place.</p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MANAGERS && !(ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.SUB_PERSONAL)">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#manager"></use>
    </svg>
    <span>
      <translate>Only Managers can share posts in this Place.</translate>
    </span>
    <p class="cr8">
      <translate>Only Managers can share posts in this Place, but all Members can view and comment on posts.</translate>
    </p>
  </div>
  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MANAGERS && ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.SUB_PERSONAL">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#manager"></use>
    </svg>
    <span>
      <translate>Only Me</translate>
    </span>
    <p class="cr8">
      <translate>Only I can share posts and files in this Place.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MEMBERS">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#manager-member"></use>
    </svg>
    <span>
      <translate>Managers and Members can share posts in this Place.</translate>
    </span>
    <p class="cr8">
      <translate>Managers and Members can share, view and comment on posts.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.TEAMMATES">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#team"></use>
    </svg>
    <span>
      <translate>All ”{{ctrl.createdPlace.name}}” members can share posts with this Place.</translate>
    </span>
    <p class="cr8">
      <translate>”{{ctrl.grandPlace.name}}” Members can share posts with this Place, but only ”{{ctrl.grandPlace.name}}” Members can view its contents.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.EVERYONE">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#earth"></use>
    </svg>
    <span><translate>Everyone can share posts with this Place.</translate></span>
    <p class="cr8">
      <translate>Plus, this Place can receive emails.</translate>
    </p>
  </div>


  <div class="place-info-box" ng-if="ctrl.place.privacy.search">
    <svg class="_24svg _df _asc">
      <use xlink:href="/assets/icons/nst-icn20.svg#search"></use>
    </svg>
    <p class="cr8">This Place will be shown in everyone’s Search results when sharing posts.
      (They can’t see your Place contents)</p>
  </div>
  <div class="place-info-box"
       ng-if="!ctrl.place.privacy.search &&
       !(ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.COMMON || ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MEMBERS || ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MANAGERS)">
    <svg class="_24svg _df _asc">
      <use xlink:href="/assets/icons/nst-icn20.svg#search"></use>
    </svg>
    <p class="cr8">Your Place won’t appear on anyone’s Search results when sharing posts. To do so, they must know the Place ID.</p>
  </div>



  <a class="butn-white _fw _df" ng-click="$dismiss()" ui-sref="app.place-messages({placeId : ctrl.createdPlace.id})">
    <translate>Done</translate>
  </a>

  <a ng-if="ctrl.getPlaceType(ctrl.createdPlace) !== NST_PLACE_TYPE.SUB_PERSONAL" ng-click="ctrl.step = 4">More Privacy Settings</a>
</form>
