<form ng-submit="ctrl.save(placeForm.$valid);" name="placeForm" novalidate class="_fw _df">
  <place-head env="'create'" dissmiss="$dismiss"
              pict="{{ ctrl.logoUrl || '/assets/icons/ph_photo.png'}}"></place-head>

  <h3>"{{ctrl.createdPlace.name}}"</h3>
  <h3>
    <translate>successfully created</translate>
  </h3>


  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.GRAND">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#places"></use>
    </svg>
    <span><tasnslate>Grand Place</tasnslate></span>
    <p class="cr8">
      <translate>
        ”{{ctrl.createdPlace.name}}” offers a lobby for your communications and is the
        land-in Place that the newly invited Members arrive upon entrance.
      </translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.COMMON">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#window"></use>
    </svg>
    <span><tasnslate>Comman Place</tasnslate></span>
    <p class="cr8">
      <translate>
    <p>Its mean all ”{{ctrl.grandPlace.name}}” members can access to posts within this place.</p>
    </translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.PRIVATE">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#brick-wall"></use>
    </svg>
    <span><tasnslate>Private Place</tasnslate></span>
    <p class="cr8">Its mean just ”{{ctrl.createdPlace.name}}” members can access to posts within this place.</p>
  </div>


  <div class="place-info-box" ng-if="ctrl.getPlaceType(ctrl.createdPlace) === NST_PLACE_TYPE.SUB_PERSONAL">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#brick-wall"></use>
    </svg>
    <span><tasnslate>Private Place</tasnslate></span>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MANAGERS">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#manager"></use>
    </svg>
    <span>
      <translate>All place managers can share posts with this place.</translate>
    </span>
    <p class="cr8">
      <translate>All lace managers shared posts with this place.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.MEMBERS">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#manager-member"></use>
    </svg>
    <span>
      <translate>All place members can share posts with this place.</translate>
    </span>
    <p class="cr8">
      <translate>All lace members shared posts with this place.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.TEAMMATES">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#team"></use>
    </svg>
    <span>
      <translate>All grand place members can share posts with this place.</translate>
    </span>
    <p class="cr8">
      <translate>All grand place members shared posts with this place.</translate>
    </p>
  </div>

  <div class="place-info-box" ng-if="ctrl.postPolicy === NST_PLACE_POLICY_OPTION.EVERYONE">
    <svg class="_24svg _df _asc _scl2">
      <use xlink:href="/assets/icons/nst-icn24.svg#earth"></use>
    </svg>
    <span><translate>Everyone can share posts with this place.</translate></span>
    <p class="cr8">
      <translate>Everyone can shared posts with this place. Emails received as post.</translate>
    </p>
  </div>


  <div class="place-info-box" ng-if="ctrl.place.privacy.search">
    <svg class="_24svg _df _asc">
      <use xlink:href="/assets/icons/nst-icn20.svg#search"></use>
    </svg>
    <p class="cr8">This place is shown on other users search results. </p>
  </div>

  <div class="place-info-box" ng-if="!ctrl.place.privacy.search">
    <svg class="_24svg _df _asc">
      <use xlink:href="/assets/icons/nst-icn20.svg#search"></use>
    </svg>
    <p class="cr8">This place does not shown on other users search results. </p>
  </div>



  <a class="butn-white _fw _df" ng-click="$dismiss()" ui-sref="app.place-messages({placeId : ctrl.createdPlace.id})">
    <translate>Done</translate>
  </a>

  <a ng-if="ctrl.getPlaceType(ctrl.createdPlace) !== NST_PLACE_TYPE.SUB_PERSONAL" ng-click="ctrl.step = 4">More Privacy Settings</a>
</form>
