<ul data-ng-show="thePost.attachments.length > 0" class="attachments-container">
  <li>
    <ul class="attachments-bar">
      <li data-ng-repeat="(key, attachment) in thePost.attachments" data-ng-init="attached = 'attached' == attachment.status; ext = rexExt.exec(attachment.filename)[1]" class="popover-green" uib-popover-template="'app/components/attachments/delete.html'" data-popover-placement="auto bottom" popover-trigger="outsideClick" popover-popup-close-delay="64" popover-enable="deleteEnabled" style="position: relative;">
        <a href="{{attached ? attachment.download.url : ''}}" ng-click="$event.preventDefault(); attached && attachment.getDownloadUrl().then(attachmentView);">
          <img data-ng-if="attachment.thumbs.x128.url" src="{{attachment.thumbs.x128.url}}"/>
          <div data-ng-if="!attachment.thumbs.x128.url && thePost.attachmentPreview" class="att-exp-{{attachment.mimeType.replace('/', '-')}}">
            <p class="nst-attachment-name nst-mood-storm">{{attachment.filename.replace(rexExt, '')}}</p>
            <span class="_vabt _tac _fw _dib">{{ext}}</span>
          </div>
          <div data-ng-if="!(attachment.thumbs.x128.uid || thePost.attachmentPreview)" class="attachment-badge-bar">
            <div class="_dib att-badge-{{attachment.mimeType.replace('/', '-')}}">{{ext ? ext.toUpperCase() : '???'}}</div>
            <span class="_dib _fr _tofe">{{attachment.filename.replace(rexExt, '')}}</span>
          </div>
        </a>
        <div data-ng-if="attachment.status == 'uploading'" class="overlay"></div>
      </li>
    </ul>
  </li>
</ul>
