<ul class="attachments-container">
  <li>
    <ul class="attachments-bar">
      <li data-ng-repeat="(key, attachment) in thePost.attachments" data-ng-init="attached = 'attached' == attachment.status" class="popover-green" uib-popover-template="'app/components/attachments/delete.html'" data-popover-placement="auto bottom" popover-trigger="outsideClick" popover-popup-close-delay="64" popover-enable="deleteEnabled" style="position: relative;">
        <a href="{{attached ? attachment.download.url : ''}}" ng-click="$event.preventDefault(); attached && attachmentView(attachment);">
          <img data-ng-if="attachment.thumbnail" src="{{attachment.thumbnail}}"/>
          <!--<div data-ng-if="!attachment.thumbnail && thePost.attachmentPreview" class="att-exp-{{attachment.type}}">
            <p class="nst-attachment-name nst-mood-storm">{{attachment.filename.replace(rexExt, '')}}</p>
            <span class="_vabt _tac _fw _dib">{{ext}}</span>
          </div>-->
          <div data-ng-if="!attachment.thumbnail" class="attachment-badge-bar">
            <div class="_dib att-badge-{{attachment.type}}">{{attachment.format}}</div>
            <span class="_dib _fr _tofe">{{attachment.fileName}}</span>
          </div>
        </a>
        <div data-ng-if="attachment.status == 'uploading'" class="overlay"></div>
      </li>
    </ul>
  </li>
</ul>
