<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p  class="_df _fw force">Confirm to leave the page</p>
      <div class="_df" ng-click="ctlLeaveConfirm.cancel()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail">You may lost your drafts. Are you sure you want to leave?</p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons">
          <div class="butn-white _jcc _df" ng-click="ctlLeaveConfirm.cancel()"><a class="_df">Cancel</a></div>
          <div class="butn-red _jcc _df " ng-click="ctlLeaveConfirm.ok()"><a class="_df">Leave</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
