<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p  class="_df _fw force"><translate>Please confirm you want to leave the page</translate></p>
      <div class="_df" ng-click="ctlLeaveConfirm.cancel()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail"><translate>By discarding this message, you will lose your written draft. Are you sure you want to leave?</translate></p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons">
          <div class="butn-white _jcc _df" ng-click="ctlLeaveConfirm.cancel()"><a class="_df"><translate>Cancel</translate></a></div>
          <div class="butn-red _jcc _df " ng-click="ctlLeaveConfirm.ok()"><a class="_df"><translate>Leave</translate></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
