 <div>
  <div class="user-avatar-bg">
    <div class="blur-image">
      <div style="background-image: url('{{place | picture : 'x128'}}')"></div>
    </div>
    <div class="place-avatar-72">
      <img initial-avatar="{{place.id}}" name="{{place.name}}" picture="{{place | picture : 'x128'}}" data-width="72"
           data-height="72"
           data-radius="6" class="_df" data-word-count="2" data-font-size="16"/>
    </div>
  </div>
  <div class="user-data">
    <h4 ng-click="copy()">{{place.name > 32 ? place.name.substr(0, 32) + '...' : place.name}}</h4>
    <span ng-click="copy()">
      <span ng-if="!isEmail">#</span>
      {{place.id > 20 ? place.id.substr(0, 20) + '...' : place.id}}
    </span>
    <div class="_fw">
      <a class="butn butn-white secondary" ui-sref="app.conversation({userId:place.id})">
        <svg class="_24svg _df">
          <use xlink:href="/assets/icons/nst-icn24.svg#message-baloon"></use>
        </svg>
      </a>
      <div class="butn butn-green"  ng-click="messagePlace($event)">
        <svg class="_32svg umsg">
          <use xlink:href="/assets/icons/nst-icn32.svg#compose"></use>
        </svg>
      </div>
    </div>
  </div>

</div>
