<a ng-repeat="label in ctlCompose.model.labels" class="label-items _difh {{isSelected ? 'color-lbl-bg-' + label.color : ''}}" ng-click="ctlCompose.toggleLabel(label.id)" ng-class="{'selected': isSelected}">
  {{isSelected = ctlCompose.isLabelSelected(label.id); ''}}
  <div ng-if="!isSelected">
    <svg class="_16svg _df _fn mirror color-lbl-{{ label.color }}">
      <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
    </svg>
  </div>
  <div ng-if="isSelected">
    <svg class="_16svg _df _fn mirror fill-white">
      <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
    </svg>
  </div>
  <span>{{ label.text }}</span>
</a>