<a ng-repeat="label in ctlCompose.model.labels" class="label-items _difh" ng-click="ctlCompose.toggleLabel(label.id)" ng-class="{'selected': ctlCompose.isLabelSelected(label.id)}">
  <div>
    <svg class="_16svg _df _fn mirror color-lbl-{{ label.color }}">
      <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
    </svg>
  </div>
  <span>{{ label.text }}</span>
</a>
<!--<a class="label-items _difh selected color-lbl-bg-D" ng-click="ctlFullNavbar.toggleLabel()">-->
  <!--<div>-->
    <!--<svg class="_16svg _df _fn mirror fill-white">-->
      <!--<use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>-->
    <!--</svg>-->
  <!--</div>-->
  <!--<span>Android:1.9.0</span>-->
<!--</a>-->
