<div class="place-files-modal">
    <div class="modal-h">
        <div ng-repeat="breadcrumb in ctrl.breadcrumb track by $index" ng-click="ctrl.breadcrumbClic(breadcrumb)" ng-if="ctrl.selectedFiles.length === 0 && breadcrumb.visible">
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
            </svg>
            {{breadcrumb.name}}
        </div>
        <div class="selected-files-head" ng-if="ctrl.selectedFiles.length > 0">
            <svg class="_16svg" ng-click="ctrl.unSelectFiles();">
                <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
            </svg>
            {{ctrl.selectedFiles.length}} <translate>File Selected</translate>
        </div>
    </div>
    <div class="modal-b">
        <ul modal-scroll ng-if="!ctrl.isLoading">
            <li class="place ng-class:{'disabledItem' : ctrl.selectedFiles.length > 0}" ng-repeat="place in ctrl.places" ng-click="ctrl.placeClick(place.id, place.name)">
                <div class="place-logo">
                    <img ng-src="{{place | picture:'x64'}}"/>
                    <i>
                        <svg class="_16svg" ng-show="ctrl.isGrandPlace">
                            <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
                        </svg>
                        <svg class="_16svg" ng-show="!ctrl.isGrandPlace && !place.privacy.locked">
                            <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
                        </svg>
                        <svg class="_16svg" ng-show="!ctrl.isGrandPlace && place.privacy.locked">
                            <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
                        </svg>
                    </i>
                </div>
                <p>
                    {{place.name}}
                </p>
            </li>
            <li ng-repeat="file in ctrl.files" ng-click="ctrl.attachClick(file)" class="file ng-class:{'checked' : file.selected}">
                <div class="pre-thumb" ng-if="file.thumbnail">
                    <img src="{{file.thumbnail}}"/>
                </div>
                <div class="file-thumb {{file.type}}" ng-if="!file.thumbnail">
                    <span>
                        {{file.extension}}
                    </span>
                </div>
                <p>
                    {{file.filename.substring(0, 24)}}
                </p>
                <div class="checkbox" ng-click="ctrl.selectToggle($event, file)">
                    <svg class="_16svg">
                        <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
                    </svg>
                </div>
            </li>
            <div ng-if="ctrl.places.length === 0 && ctrl.files.length === 0"><translate>No File or place</translate></div>
        </ul>
        <div class="loading" ng-if="ctrl.isLoading">
            <div class="animation"><div class="circle one"></div></div>
            <div class="animation"><div class="circle two"></div></div>
            <div class="animation"><div class="circle three"></div></div>
            <div class="animation"><div class="circle four"></div></div>
            <div class="animation"><div class="circle five"></div></div>
        </div>
    </div>
    <div class="modal-f">
        <input type="button" ng-click="ctrl.closePopover()"  value="Discard" class="butn-white">
        <input type="button" ng-if="ctrl.selectedFiles.length> 0" ng-click="ctrl.addToCompose()" value="Attach" class="butn-green">
        <input ng-if="ctrl.selectedFiles.length === 0" type="button" disabled value="Attach" class="butn-green">
    </div>
</div>