<form novalidate name="resetPasswordForm" ng-submit="ctrl.resetPassword(resetPasswordForm.$valid);">
  <div class="nst-vb no-gutter2">
    <h3 class="col-xs-9 nst-font-xlarge testing-title1"><translate>Reset Password</translate></h3>
    <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right"><translate>or</translate><a href="#/signin" class="nst-mood-cheerful"><translate>Sign in</translate></a></p>
  </div>
  <div class="panel-body">
    <p class="nst-font-medium">
      <translate>To proceed into your account, choose a new password.</translate>
    </p>
    <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.nested_password.$invalid && ctrl.submitted}">
      <label class="error-message" ng-if="resetPasswordForm.nested_password.$error.required && ctrl.submitted"><translate>Enter your new password</translate></label>
      <label class="error-message" ng-if="resetPasswordForm.nested_password.$error.minlength && ctrl.submitted"><translate>The new password you've chosen is not long enough</translate></label>
      <input name="nested_password" class="border-number form-control" placeholder="Enter a new password" translate-attrs="placeholder" type="password" autocomplete="off" ng-minlength="6" required
             data-ng-model="ctrl.password" focus-me="ctrl.ready">
    </div>
    <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.nested_confirm_password.$invalid && ctrl.submitted}">
      <label class="error-message" ng-if="resetPasswordForm.nested_confirm_password.$error.required && ctrl.submitted"><translate>Retype your new password</translate></label>
      <label class="error-message" ng-if="resetPasswordForm.nested_confirm_password.$error.minlength && ctrl.submitted"><translate>The confirmation password you have entered is not long enough</translate></label>
      <label class="error-message" ng-if="!resetPasswordForm.nested_confirm_password.$error.minlength && !resetPasswordForm.nested_confirm_password.$error.required && resetPasswordForm.nested_confirm_password.$error.matchTo && ctrl.submitted"><translate>Your confirmation password should match your new password </translate></label>
      <input name="nested_confirm_password" class="border-number form-control" placeholder="Confirm new password" translate-attrs="placeholder" type="password" autocomplete="off" ng-minlength="6" match-to="ctrl.password" required
             data-ng-model="ctrl.confirmPassword">
    </div>

    <input type="submit" ng-if="!ctrl.resetPasswordProgress" value="Reset" class="butn-green butn-lg butn-login nstbtn" translate-attrs>
    <input type="submit" disabled="disabled" ng-if="ctrl.resetPasswordProgress" value="Resetting..." class="butn-green butn-lg butn-login nstbtn" translate-attrs>
  </div>
</form>
