#single-contact {
  .place-head {
      .popover {
          right: 64px!important;
          top: -6px!important;
          left: auto!important;
          z-index: 22;
      }
  }
  .contact-info {
      margin-top: 8px;
      margin-bottom: 16px;
      padding: 0 32px;
      h4 {
          font-size: 13px;
          line-height: 16px;
          color: $color-gale;
          margin: 0;
      }
      h5 {
          font-size: 18px;
          line-height: 24px;
          border-bottom: 1px solid $color-border;
          padding: 4px 0 8px 0;
      }
      .mu-places {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
          .inline-place-row {
              width: 50%;
              padding: 8px 0;
          }
      }
  }
}

#contacts-list {
    padding-top: 36px;
    height: 100%;
    h2 {
        margin: 0 0 36px 0;
    }
    .srch {
        top: 8px;
        left: 8px;
        fill: $color-gale;
    }
    input {
        margin-bottom: 24px;
        height: 32px;
        font-size: 13px;
        padding-left: 32px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $color-border;
    }
    h6 {
        background-color: $color-breeze-light;
        line-height: 24px;
        color: $color-solid;
        padding: 0 8px;
        border-radius: 4px;
        margin: 0 0 8px 0;
    }
    .inline-user-row {
        height: 72px;
        align-items: center;
        .add-as-contact {
            width: 32px;
            margin: 0 4px;
            justify-content: center;
            display: flex;
        }
    }
    .inline-app-row {
        height: 72px;
        display: flex;
        align-items: center;
        img {
            border-radius: 8px;
            margin: 0 8px;
            object-fit: contain;
            flex: none;
        }
        span:first-child {
            font-size: 16px;
            line-height: 22px;
            color: #323D47;
            margin-top: 4px;
        }
        span:last-child {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0,0,0,.4);
        }
        .app-icon {
            margin: 0 4px;
            .star-button {
                fill: $color-solid-64;
            }
        }
    }
    .alphabet {
        position: absolute;
        right: 8px;
        top: 160px;
        margin: 0;
        padding: 0;
        flex-direction: column;
        list-style: none;
        font-size: 9px;
        line-height: 16px;
        font-weight: bold;
        li a{
            color: $color-gale;
            text-transform: uppercase;
        }
        li.active a{
            color: $color-solid;
        }
    }
    .butn.butn-pending {
        line-height: 32px;
    }
}
