<div id="create-place">
  <div class="_difv" ng-if="ctrlCreate.step1">
    <h2 class="_df">Create a Place</h2>
    <p>Choose a Place Type:</p>
    <div class="select-box _difh" selectable>
      <div class="icn">
        <img src="">
      </div>
      <div class="desc">
        <h3>Close Place</h3>
        <p>Only Members can view place contents.</p>
        <aside>you can invite members from your Teammates after creating the place.</aside>
      </div>
    </div>
    <div class="select-box _difh" selectable>
      <div class="icn">
        <img src="">
      </div>
      <div class="desc">
        <h3>Open Place</h3>
        <p>All Teammates can be view place contents. but just members can contribute in the place.</p>
        <aside>you can invite members from your Teammates after creating the place.</aside>
      </div>
    </div>
    <button ng-click="ctrlCreate.step1 = false ;ctrlCreate.step2 = true ;">Next</button>
  </div>
  <div class="_difv" ng-if="ctrlCreate.step2">
      <h2 class="_df">Create a Place <span>&nbsp;(Close Place)</span></h2>
      <label for="PlaceName">Place Name</label>
      <input type="text" id="PlaceName" tabindex="1" placeholder="#Marketing Development">
      <label for="PlaceID">Place ID</label>
      <div class="placeID">
        <div class="field">
          <input type="text" id="PlaceID" tabindex="2" placeholder="Marketing-Development">
          <span>team.</span>
          <span>@nested.me</span>
        </div>
        <aside>The place will be identify by this unique address. choose wisely you <b>can't</b> change the PlaceID after creating place.</aside>
      </div>
      <p>Receiving</p>
      <div class="select-box-step2" selectable>
          <h3>Off</h3>
          <p>Just members can communicate in the place.</p>
          <aside>
            <p>Which kind of members can be contribute in the place?</p>
            <select>
              <option value="Creators">Creators & Members</option>
              <option value="Creators">Creators & Members</option>
            </select>
          </aside>
      </div>
      <div class="select-box-step2" selectable>
          <h3>Teammates Only</h3>
          <p>All Teammates can send messages to the place.</p>
          <aside>
            <p>Show in the teammates search results?</p>
            <div class="place-switch">
              <input type="checkbox" name="checkbox_id" id="src-res" value="value">
              <label for="src-res">ON
                <div class="circle"></div>
              </label>
              <label for="src-res">OFF
                <div class="circle"></div>
              </label>
            </div>
          </aside>
      </div>
      <div class="select-box-step2" selectable>
          <h3>Everyone <i>(also email)</i></h3>
          <p>Everyone can send their messages to the place.</p>
          <aside>
            <p>Show in the public search results?</p>
            <div class="place-switch">
              <input type="checkbox" name="checkbox_id" id="pub-res" value="value" checked>
              <label for="pub-res">ON
                <div class="circle"></div>
              </label>
              <label for="pub-res">OFF
                <div class="circle"></div>
              </label>
            </div></aside>
      </div>
      <p>Place Privacies</p>
      <div class="option-row">
        <p>
          Who can add members?
        </p>
        <select>
          <option value="Creators">Creators Only</option>
        </select>
      </div>
      <div class="option-row">
        <p>
          Who can create sub-place?
        </p>
        <select>
          <option value="Creators">Creators Only</option>
          <option value="Creators">Creators & Members</option>
        </select>
      </div>
      <div class="option-row">
        <input type="checkbox" id="favo">
        <label for="favo">Add to my favored places.</label>
      </div>
      <div class="option-row">
        <input type="checkbox" id="notification">
        <label for="notification">Turn on notification for this place.</label>
      </div>
      <button>Create Place</button>
    </div>
</div>
<div class="close-modal">
  <img src="">
</div>
