$hot-bg-color: cornsilk;
@keyframes activity-item-hot {
  from {
    background-color: $hot-bg-color;
    transform-origin: top;
    transform: scaleY(0);
  }
  to {
    background-color: $hot-bg-color;
  }
}

@keyframes activity-item-normal {
  from {
    background-color: $hot-bg-color;
  }
  to {
    background-color: white;
  }
}
