<div>
  <nested-navbar data-ng-model="navbar" data-ng-init="navbar.extended = true"></nested-navbar>
  <div id="container">
    <div class="leftside _bggray">
      <nested-sidebar data-ng-model="sidebar"></nested-sidebar>
    </div>
    <div class="nst-content" on-scroll="events.scroll(event)">
      <div class="_fw">
        <div class="_fw eventsody" id="EventList">
          <div data-ng-if="invitation" class="_fl title-bar _vam _df _fw">
            <div class="evrow" data-ng-repeat="invite in invites" data-ng-include="app/events/partials/invitation.html"></div>
          </div>
          <hr class="title-bar-hr">
          <div data-ng-if="events.place.id" class="_fl title-bar _vam _df _fw">
            <div class="logo-bar">
              <img class="account-initials-32" data-ng-if="events.place.picture.org.uid" src="{{events.place.picture.x32.url}}"/>
              <div class="account-initials-32" data-ng-if="!events.place.picture.org.uid" data-ng-bind="events.place.name | initials:2"></div>
            </div>
            <div class="name _tofe title-bar-holder">
              <h5>{{events.place.name}}</h5>
              <p class="nst-mood-storm" data-ng-bind="events.place.id + '@nested.me'"></p>
            </div>
            <div class="nst-mood-storm" style="width:110px;margin-top:30px;">{{events.place.counters.allMembers}} members</div>
            <div class="margin-top-20">
              <div class="nst-more">
                <a href="#/place/{{events.place.id}}">
                  <div class="nst-more-badge"></div>
                </a>
              </div>
            </div>
          </div>
          <hr class="title-bar-hr">
          <div data-ng-repeat="eventGroup in events.eventGroups" class="_fw">

            <div class="event-group-time col-lg-12">
              <div class="sender">
                <p class="nst-mood-simple" data-ng-init="today = eventGroup.type == 'daily' && eventGroup.date.getDate() == now.getDate()">
                  <span data-ng-if="today"><strong class="nst-mood-solid">Today</strong> <span data-ng-bind="now | date:'EEEE d MMM'"></span></span>
                  <span data-ng-if="!today" data-ng-bind="eventGroup.date | date:eventGroup.titleFormat"></span>
                </p>
              </div>
            </div>
            <div class="evrow" data-ng-repeat="event in eventGroup.set" data-ng-include="event.view.tpl.path" data-ng-model="event"></div>
          </div>
        </div>
        <div class=" text-center col-lg-12" data-ng-if="events.moreEvents">
          <a href="javascript:void(0);" id="load-more-events" class="nst-mood-cheerful" data-ng-click="events.load()">Load More...</a>
        </div>
      </div>
    </div>

  </div>
</div>
