<div>
  <nested-navbar></nested-navbar>

  <div id="" class="_fh">
    <div class="_dt _fh">
      <div class="_dtr">
        <nested-sidebar></nested-sidebar>

        <div class="nst-content _dtc _pr _fhw">
          <div class="_fhw">
            <table id="EventList" class="_fhw">
              <tbody data-ng-repeat="event in events.events" data-ng-include="event.view.tpl" data-ng-model="event"></tbody>

              <!--Time of activity -->

              <!--<tr>-->
                <!--<td>-->
                  <!--<p>Today Wednesday 24 Feb</p>-->
                <!--</td>-->
              <!--</tr>-->

              <!--add null full height  tr-->
            </table>
            <!--<div class="_tac">-->
            <!--<a id="LoadMoreEvent" before="">Load More ..</a>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
