<nst-navbar data-ng-model="navbar" place-id="{{ctlActivity.currentPlace.id}}" nav-title="{{ctlActivity.currentPlace.id?ctlActivity.currentPlace.name:'Feed'}}"  show-place-id="ctlActivity.showPlaceId" nav-picture-url="{{ctlActivity.currentPlace.id ? ctlActivity.currentPlace.picture.getUrl('x128') : '' }}" nav-picture-class="{{ !ctlActivity.currentPlace.id? 'icon-nav icon-all-place' : '' }}" ready-to-show="ctlActivity.currentPlaceLoaded" place-description="{{ctlActivity.currentPlace.description}}"></nst-navbar>
<!-- ctlActivity.currentPlace -->
<div class="nst-content _tr _bgwhite" id="content-wrapper">
  <scroll-change-handler reached-bottom="ctlActivity.loadMore"></scroll-change-handler>
  <section class="_fw nst-content-body">
    <div class="navbarillu"></div>
    <div class="filter-bar _fw" ng-mouseleave="filterPopoverShow = false;popoverSettingShow = false">
      <div class="iconsblock" data-popover-class="white-pop popover-white-nst-setting"
           ng-mouseenter="filterPopoverShow = false;popoverSettingShow = true"
           uib-popover-template="'app/activity/partials/popovers/setting_popover.html'"
           data-popover-placement="bottom-center" data-popover-is-open="popoverSettingShow">
        <div class="icon icon-viewicon- _pa" id="test-setting-filter"></div>
      </div>
    </div>

    <section class="_fw nst-content-body _bgwhite">
      <div class="_fw eventsbody _bgwhite" id="EventList" set-seen-on-visible>
        <div class="actdate" ng-repeat="group in ctlActivity.activities track by group.date">
          <p class="nst-mood-simple">
            {{::group.date}}
          </p>
          <activity-item place="ctlActivity.currentPlace"
                         ng-repeat="activity in group.items track by activity.id" model="activity"
                         extended="ctlActivity.expanded"></activity-item>

        </div>
      </div>

      <div class="nst-marginbtm-48 text-center">
        <br>
        <p class="nst-mood-storm" ng-if="ctlActivity.reachedTheEnd">
          <translate>You've reached the end of your Activities! </translate>
        </p>
        <p class="nst-mood-storm" ng-if="ctlActivity.noActivity || (ctlActivity.activities.length == 0 && !ctlActivity.loading)">
          <translate>There are no activities here! </translate>
        </p>
        <div class="_difh nst-mood-cheerful no-gutter" ng-if="ctlActivity.loading">
          <div class="col-xs-6">
            <div class="nst-loading nst-loading-size-16  _fr"></div>
          </div>
          <div class="col-xs-6 nst-marginbtm-4"><translate>Loading...</translate></div>
        </div>
        <p class="nst-mood-storm" ng-if="ctlActivity.loadMessageError">
          An error has occurred. Please
          <a href="javascript:void(0);" class="nst-mood-cheerful" data-ng-click="ctlActivity.loadMore()">
            try again...
          </a>
        </p>
      </div>
    </section>
  </section>
</div>
