<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw"><translate>No access</translate></p>
      <div class="_df closebut" ng-click="cancel()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail"><translate>You don't have the required access to enter this Place!</translate></p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons">
          <div class="butn-green _jcc _df" ng-click="ok()"><a class="_df"><translate>Alright</translate></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
