<div class="profile-section">
  <svg class="_16svg">
    <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
  </svg>
  <translate>Profile</translate>
</div>
<div class="_fw upload-photo-container">
  <div class="_ma upload-photo">
    <label for="logo">
      <img initial-avatar="{{::ctlSidebar.user.name}}" ng-src="{{ctrl.model | avatar : 'x128'}}" data-width="96" data-height="96" data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="12"/>
    </label>
    <input id="logo" type="file" name="logo" accept="image/*" onchange="angular.element(this).scope().ctrl.setImage(event)">
    <div class="probut">
      <div ng-if="ctrl.model.picture.url" class="remove-photo-hover" data-ng-click="ctrl.removeImage()" role="button"></div>
      <label for="logo" class="add-photo-hover"></label>
    </div>
  </div>
</div>

<script type="text/ng-template" id="profile-change-name-modal.html">
  <div id="change-view">
    <div class="_difv _fw">
      <div class="_difh modal-head">
        <p class="_df _fw"><translate>Edit Name</translate></p>
      </div>
        <form name="editNameForm" ng-submit="submitted = true; ctrl.updateName(editNameForm.$valid, firstName, lastName, $close, $dismiss);" ng-init="firstName = ctrl.model.firstName; lastName = ctrl.model.lastName; submitted = false;" novalidate autocomplete="off">
          <div class="form-group" ng-class="{ 'has-error' : editNameForm.firstName.$invalid && submitted}">
            <label class="input-lab" ng-if="!editNameForm.firstName.$error.required || !submitted"><translate>First name</translate></label>
            <label class="input-lab" ng-if="editNameForm.firstName.$error.required && submitted"><translate>First name is required</translate></label>
            <input class="_df _fw form-control" name="firstName" type="text" ng-model="firstName" tabindex="1" maxlength="35" placeholder="John" translate-attrs="placeholder" required focus-me/>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : editNameForm.lastName.$invalid && submitted}">
            <label class="input-lab" ng-if="!editNameForm.lastName.$error.required || !submitted"><translate>Surname</translate></label>
            <label class="input-lab" ng-if="editNameForm.lastName.$error.required && submitted"><translate>Surname is required</translate></label>
            <input class="_df _fw form-control" name="lastName" type="text" ng-model="lastName" required maxlength="35" placeholder="Doe" translate-attrs="placeholder" tabindex="2"/>
          </div>
          <div class="_df _fw mdl-ft">
            <div class="butn-white" ng-click="$dismiss('discard')" translate-attrs="value" tabindex="4"><translate>Discard</translate></div>
            <input type="submit" class="butn-green" id="change-save" ng-disabled="ctrl.updateProgress" value="Save" translate-attrs="value" tabindex="3"></input>
          </div>
        </form>
    </div>
  </div>

</script>

<script type="text/ng-template" id="profile-gender-select-modal.html">
  <div id="change-view">
    <div class="_difv _fw">
      <div class="_difh modal-head">
        <p class="_df _fw"><translate>Select Gender</translate></p>
      </div>
      <form name ="editGenderForm" ng-submit="submitted = true; ctrl.updateGender(editGenderForm.$valid, gender, $close, $dismiss);" novalidate autocomplete="off" ng-init="gender = ctrl.model.gender; submitted = false;">
        <div class="form-group" ng-class="{ 'has-error' : editGenderForm.gender.$invalid && submitted}">
          <label class="input-lab" ng-if="editGenderForm.gender.$valid || !submitted"><translate>Gender</translate></label>
          <label class="input-lab" ng-if="editGenderForm.gender.$invalid && submitted"><translate>Gender is required</translate></label>
          <select name="gender" ng-model="gender" ng-options="item.key as item.title for item in ctrl.genders" class="form-control" required></select>
        </div>
        <div class="_df _fw mdl-ft">
          <div class="butn-white" ng-click="$dismiss('discard')"><translate>Discard</translate></div>
          <input type="submit" class="butn-green" id="change-save" ng-disabled="ctrl.updateProgress" value="Save" translate-attrs="value"></input>
        </div>
      </form>
    </div>
  </div>
</script>

<script type="text/ng-template" id="profile-change-email-modal.html">
  <div id="change-view">
    <div class="_difv _fw">
      <div class="_difh modal-head">
        <p class="_df _fw"><translate>Edit email address</translate></p>
      </div>
      <div class="_difv _fw">
        <form name ="editEmailForm" ng-submit="submitted = true; ctrl.updateEmail(editEmailForm.$valid, email, $close, $dismiss);" ng-init="email = ctrl.model.email; submitted = false;" novalidate autocomplete="off">
          <div class="form-group" ng-class="{ 'has-error' : editEmailForm.email.$invalid && submitted}">
            <label class="input-lab" ng-if="editEmailForm.email.$valid || !submitted"><translate>Email</translate></label>
            <label class="input-lab" ng-if="editEmailForm.email.$invalid && submitted"><translate>The provided email is not valid</translate></label>
            <input class="_df _fw form-control" name="email" type="text" ng-model="email" tabindex="1" focus-me ng-pattern="ctrl.emailPattern" maxlength="254"/>
          </div>
          <div class="_df _fw mdl-ft">
            <div class="butn-white" ng-click="$dismiss('discard')"><translate>Discard</translate></div>
            <input type="submit" class="butn-green" id="change-save" ng-disabled="ctrl.updateProgress" value="Save" translate-attrs="value"></input>
          </div>
        </form>
      </div>
    </div>
  </div>

</script>

<script type="text/ng-template" id="profile-change-dob-modal.html">
  <div id="change-view">
    <div class="_difv _fw">
      <div class="_difh modal-head">
        <p class="_df _fw"><translate>Edit date of birth</translate></p>
      </div>
      <form name="editDateOfBirthForm" ng-submit="submitted = true; ctrl.updateDateOfBirth(editDateOfBirthForm.$valid, dateOfBirth, $close, $dismiss);" ng-init="dateOfBirth = ctrl.model.dateOfBirth; submitted = false;" novalidate autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error' : !dateOfBirth && submitted }">
          <label class="input-lab" ng-if="dateOfBirth || !submitted"><translate>Date of birth</translate></label>
          <label class="input-lab" ng-if="!dateOfBirth && !submitted"><translate>Date of birth is required</translate></label>
          <inline-date-picker min="{{::vm.minDateOfBirth}}" max="{{::maxDateOfBirth}}" selected-value="dateOfBirth"></inline-date-picker>
        </div>
        <div class="_df _fw mdl-ft">
          <div class="butn-white" ng-click="$dismiss('discard')"><translate>Discard</translate></div>
          <input type="submit" class="butn-green" id="change-save" ng-disabled="ctrl.updateProgress" value="Save" translate-attrs="value"></input>
        </div>
      </form>
    </div>
  </div>

</script>

<div class="inner-panel _ma">
  <form ng-submit="ctrl.saveAndExit(profileForm.$valid);" name="profileForm" novalidate>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Full Name</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw">{{ctrl.model.getFullName()}}</div>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="profile-change-name-modal.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>User ID</translate></label>
      <div class="field _difh _fw" dir="ltr">
        <div class="_df _fw">@{{ctrl.model.id}}</div>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Phone Number</translate></label>
      <div class="field _difh _fw" dir="ltr">
        <div class="_df _fw">+{{ctrl.model.phone}}</div>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Email</translate></label>
      <div class="field _difh _fw">
        <div ng-if="ctrl.model.email" class="_df _fw" dir="ltr">{{ctrl.model.email}}</div>
        <i ng-if="!ctrl.model.email" class="_df _fw"><translate class="nst-mood-breez">Not specified</translate></i>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="profile-change-email-modal.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Date of Birth</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw" dir="ltr">{{ctrl.model.dateOfBirth || 'Not specified'}}</div>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="profile-change-dob-modal.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Gender</translate></label>
      <div class="field _difh _fw">
        <div ng-if="ctrl.model.gender" class="_df _fw">{{ctrl.getGender()}}</div>
        <i ng-if="!ctrl.model.gender" class="_df _fw">Not specified</i>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="profile-gender-select-modal.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Searchable</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw srchp"><translate>Having your Search turned on, anyone can reach you, even without knowing your ID.</translate></div>
        <div class="place-switch _fn">
          <input type="checkbox" name="checkbox_id" id="Searchable" data-ng-model="ctrl.model.searchable" ng-change="ctrl.updateSearchable(ctrl.model.searchable);">
          <label for="Searchable">
            <b><translate>Yes</translate></b>
            <div class="circle" switch-drag="Searchhable"></div>
          </label>
          <label for="Searchable">
            <b><translate>No</translate></b>
          </label>
        </div>
      </div>
    </div>
  </form>

</div>
