<div class="profile-section">
  <svg class="_16svg">
    <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
  </svg>
  <translate>Profile</translate>
</div>
<div class="_fw upload-photo-container">
  <div class="_ma upload-photo">
    <label for="logo">
      <img initial-avatar="{{::ctlSidebar.user.name}}" ng-src="{{ctrl.model | avatar : 'x128'}}" data-width="96" data-height="96" data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="12"/>
    </label>
    <input id="logo" type="file" name="logo" accept="image/*" onchange="angular.element(this).scope().ctrl.setImage(event)">
    <div class="probut">
      <div ng-if="ctrl.model.picture.url" class="remove-photo-hover" data-ng-click="ctrl.removeImage()" role="button"></div>
      <label for="logo" class="add-photo-hover"></label>
    </div>
  </div>
</div>

<div class="inner-panel _ma">
  <form ng-submit="ctrl.saveAndExit(profileForm.$valid);" name="profileForm" novalidate>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Full Name</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw">{{ctrl.model.getFullName()}}</div>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/settings/profile/modals/profile-change-name.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>User ID</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw">@{{ctrl.model.id}}</div>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Phone Number</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw">+{{ctrl.model.phone}}</div>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Email</translate></label>
      <div class="field _difh _fw">
        <div ng-if="ctrl.model.email" class="_df _fw">{{ctrl.model.email}}</div>
        <i ng-if="!ctrl.model.email" class="_df _fw">Not specified</i>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/settings/profile/modals/profile-change-email.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Date of Birth</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw">{{ctrl.model.dateOfBirth || 'Not specified'}}</div>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/settings/profile/modals/profile-change-dob.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Gender</translate></label>
      <div class="field _difh _fw">
        <div ng-if="ctrl.model.gender" class="_df _fw">{{ctrl.getGender()}}</div>
        <i ng-if="!ctrl.model.gender" class="_df _fw">Not specified</i>
        <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/settings/profile/modals/profile-select-gender.html">
          <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
        </svg>
      </div>
    </div>
    <div class="form-group _difv _fw">
      <label class="input-lab _fw"><translate>Searchable</translate></label>
      <div class="field _difh _fw">
        <div class="_df _fw srchp"><translate>Having your Search turned on, anyone can reach you, even without knowing your ID.</translate></div>
        <div class="place-switch _fn">
          <input type="checkbox" name="checkbox_id" id="Searchable" data-ng-model="ctrl.model.searchable" ng-change="ctrl.updateSearchable(ctrl.model.searchable);">
          <label for="Searchable">
            <b><translate>Yes</translate></b>
            <div class="circle" switch-drag="Searchhable"></div>
          </label>
          <label for="Searchable">
            <b><translate>No</translate></b>
          </label>
        </div>
      </div>
    </div>
  </form>

</div>
