<div class="_fhw">
  <div class="nst-vc">
    <div class="logos-container">
      <div id="Logo" class="giant"></div>
      <div id="logo-type"></div>
    </div>
    <div class="panel" id="panel-workspace">
      <div class="panel-heading">
        <p class="nst-font-xxlarge _df _fw nmarg">
          <b><translate>Sign in to your workspace</translate></b>
        </p>
      </div>
      <div  class="panel-body">
        <form accept-charset="UTF-8" name="loginForm" data-ng-submit="ctrl.submitForm()" novalidate>
          <fieldset>
            <p>Enter your Domain to sign in.</p>
            <div class="form-group _fw" ng-class="{ 'has-error' : (loginForm.workspace.$error.required || ctrl.message.class.length > 0) && submitted}">
              <input type="text" placeholder="" class="_fw" name="workspace" id="workspace" auto-focus
                      data-ng-model="ctrl.workspace" translate-attrs="placeholder" required focus-me="ctrl.focusCount" autocomplete="off"/>
            </div>

            <div class="form-group">
              <input ng-if="!ctrl.progress" class="butn butn-green butn-lg butn-login" value="Sign in" type="submit" translate-attrs="value"/>
              <input ng-if="ctrl.progress" class="butn butn-green butn-lg butn-login" value="Wait..." type="submit" translate-attrs="value" disabled/>
            </div>

            <!-- <div class="row nst-vb _jcc">
              <p class="nmarg">
                <span>Don’t have one?</span>&nbsp;
                <a class="_fw text-center nst-mood-cheerful" ui-sref="public.register-nested"><translate>Create your own here</translate></a>
              </p>
            </div> -->
          </fieldset>
        </form>

      </div>
    </div>

    <p class="response warn" data-ng-if="ctrl.message.fill">
      <a class="{{ctrl.message.class}} testing_err" data-ng-bind="ctrl.message.text"></a>
    </p>
  </div>
</div>
