<form name="phoneVerifyForm" ng-submit="ctrl.verify(phoneVerifyForm.$valid);ga('send', 'event', { eventCategory: 'register', eventAction: 'verify-phone', eventLabel: 'verify'});" novalidate class="use-ng-animate register-step">
  <p class="text-center nst-font-medium nst-marginbtm-24">
    <translate>We've sent a verification code via SMS to</translate><br>
    <b class="nst-mood-cheerful text-center nst-font-medium" dir="ltr">
      +{{ctrl.countryCode}}{{ctrl.phone}}
    </b><br>
  <translate>Check your phone and enter the code below</translate>

  </p>

  <label class="typical-label" for="verification_code">
    <translate>6-digit verification code</translate>
  </label>
  <p class="nst-mood-lively" data-ng-if="ctrl.verificationWrongCode">
    <translate>You've entered a wrong code</translate>
  </p>

  <div class="form-group">
    <input id="verification_code" maxlength="6" minlength="6" name="verification_code" class="form-control" ng-model="ctrl.verificationCode" required focus-me="ctrl.ready"/>
  </div>

  <div class="_difh nst-marginbtm-16 text-center _fw">
    <input type="button" class="_df butn butn-white secondary _jcc lftbtn" nst-disable-for-btn id="resend" seconds="10" ng-click="ctrl.resend()" value="Resend" translate-attrs="value">
    <input type="button" class="_df butn butn-white secondary _jcc rghbtn btn" nst-disable-for-btn seconds="90" ng-click="ctrl.callMe()" value="Call" translate-attrs="value">
  </div>

  <div class="text-center">
    <input type="submit" value="Verifing..." ng-if="ctrl.verificationProgress" ng-disabled="phoneVerifyForm.verification_code.$invalid" class="butn butn-green butn-lg butn-login nstbtn _fwi" translate-attrs="value">
    <input type="submit" value="Verify" ng-if="!ctrl.verificationProgress" ng-disabled="phoneVerifyForm.verification_code.$invalid" class="butn butn-green butn-lg butn-login nstbtn _fwi" translate-attrs="value">
  </div>
</form>
