<td class="ico">
  <div class="ei-mail-unread"></div>
</td>
<td class="sender">
  <img data-ng-if="event.post.sender.picture.org.uid" src="{{event.post.sender.picture.x32.url}}"/>
  <div class=" _fl account-initials-32" data-ng-if="!event.post.sender.picture.org.uid" data-ng-bind="event.post.sender.name.initials"></div>

  <span data-ng-bind="event.post.sender.fullname"></span>
</td>
<td class="msg">
  <a class="subject" href="#/post/{{event.post.id}}" ng-click="$event.preventDefault(); postView(event.post, '/post/' + event.post.id)" data-ng-bind-html="event.post.subject | emoji"></a>
  <div data-ng-show="navbar.extended" class="body" data-ng-bind-html="event.post.body | emoji | characters:255"></div>
  <div data-ng-show="navbar.extended" class="attachments">
    <ul class="attachments-bar image">
      <li>
        <ul class="attachments-bar">
          <li data-ng-repeat="(key, attachment) in event.post.attachments">
            <a href="{{attachment.download.url}}" ng-click="$event.preventDefault(); attachment.getDownloadUrl().then(attachmentView);">
              <img data-ng-if="attachment.thumbs.x128.uid" src="{{attachment.thumbs.x128.url}}"/>
              <div data-ng-if="!attachment.thumbs.x128.uid && event.post.attachmentPreview" class="{{'doc'}}-attachment">{{attachment.filename}}</div>
              <div data-ng-if="!(attachment.thumbs.x128.uid || event.post.attachmentPreview)" class="attachment-badge-bar">
                <div class="_dib attachment-badge-{{attachment.mimeType.split('/')[0]}}"></div>
                <span class="_dib">{{attachment.filename}}</span>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</td>
<td class="places">
  <a href="#/events/{{event.post.places[0].id}}" class="normal-badge _dtc" data-ng-bind="event.post.places[0].name"></a>
  <div data-ng-if="event.post.places.length > 1" class=" _dtc" data-uib-popover-template="'app/components/nested/event/common/more_places.html'" data-popover-placement="auto bottom">
    <a class="more-tag">+{{event.post.places.length - 1}}</a>
  </div>
</td>
<td class="time" data-ng-include="'app/components/nested/event/common/date.html'"></td>
