<td class="ico">
  <div class="ei-mail-unread"></div>
</td>
<td class="sender">
  <img data-ng-if="event.post.sender.picture.org.uid" src="{{event.post.sender.picture.x32.url}}"/>
  <div class="account-initials-32" data-ng-if="!event.post.sender.picture.org.uid" data-ng-bind="event.post.sender.name.initials"></div>

  <span data-ng-bind="event.post.sender.fullname"></span>
</td>
<td class="msg">
  <a class="subject" href="#/post/{{event.post.id}}" ng-click="$event.preventDefault(); postView(event.post, '/post/' + event.post.id)" data-ng-bind-html="event.post.subject | emoji"></a>
  <div data-ng-show="navbar.extended" class="body" data-ng-bind-html="event.post.body | emoji"></div>
  <div data-ng-show="navbar.extended" class="attachments">
    <ul class="attachments-bar image">

      <ul class="attachments-bar">
        <li>
          <div class="doc-attachment"></div>
        </li>
        <li>
          <div class="media-attachment"></div>
        </li>
        <li>
          <div class="file-attachment"></div>
        </li>
        <li>
          <div class="zip-attachment"></div>
        </li>
        <li>
          <div class="pdf-attachment"></div>
        </li>
      </ul>
    </ul>
  </div>
</td>
<td class="places">
  <a href="#/events/{{event.post.places[0].id}}" class="_dtc" data-ng-bind="event.post.places[0].name"></a>
  <div data-ng-if="event.post.places.length > 1" class="more-tag _dtc" data-uib-popover-template="'app/components/nested/event/common/more_places.html'" data-popover-placement="auto bottom">+{{event.post.places.length - 1}}</div>
</td>
<td class="time" data-ng-include="'app/components/nested/event/common/date.html'"></td>
