<div class="popup-panel popover-white-nst-setting">
  <div class="icon-position">
    <div class="icon-viewicon- _fr"></div>
  </div>
  <ul class="list-unstyled nst-mood-hurricane ul-popover nst-font-medium">
    <li class="nst-font-small">View setting</li>
    <li>
      <label class="" for="content"> Content Preview</label>
      <input class="_fr" type="checkbox" id="content" name="content" value="content"
             data-ng-model="login.content"/>
    </li>

    <li>
      <label class="" for="attachments">Attachments</label>
      <input class="_fr" type="checkbox" id="attachments" name="attachments" value="attachments"
             data-ng-model="login.attachments"/>
    </li>

    <li>
      <label class="" for="comments">Comments</label>
      <input class="_fr" type="checkbox" id="comments" name="comments" value="comments"
             data-ng-model="login.comments"/>
    </li>


    <li>
      <div class="line-popover"></div>
    </li>

    <li>
      <label class="" for="msg">Quick message</label>
      <input class="_fr" type="checkbox" id="msg" name="msg" value="msg"
             data-ng-model="login.msg"/>
    </li>
  </ul>
