<div class="add-label label-sm-modal">
    <h4>
        <svg class="_24svg _fn" ng-click="$dismiss();">
            <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
        <translate>Labels</translate>
        <p>
            {{ctrl.selectedLabels.length | localize}}/{{10 | localize}}
        </p>
    </h4>
    <ui-select minimum-input-length="4" multiple limit="{{ctrl.targetLimit}}"  class="label-search _dib"
        data-ng-model="ctrl.selectedLabels">
        <ui-select-match placeholder="{{::ctrl.labelSelectPlaceHolder}}" class="label-items">
            <div class="selected-innter color-lbl-bg-{{$item.color}}">
                <span>{{$item.name}}</span>
            </div>
        </ui-select-match>
        {{$select.open = true;""}}
        <ui-select-choices refresh="ctrl.search.fn($select.search)"
                            refresh-delay="0"
                            repeat="label as label in ctrl.search.results track by $index">
            <svg class="_16svg mirror _fn color-lbl-{{label.color}}">
                <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
            </svg>
            <span class="_vat _df" data-ng-bind-html="label.name | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
            Dang!  We couldn't find any choices...
        </ui-select-no-choice>
    </ui-select>
    <div class="load-more-labels">
        <translate ng-if="ctrl.haveMore">Show more…</translate>
    </div>
    <div class="modal-footer">
        <input type="button" class="butn-green" disabled value="Done" translate-attrs="value">
    </div>
</div>