<div class="add-label label-sm-modal">
    <h4>
        <svg class="_24svg _fn" ng-click="$dismiss();">
            <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
        <translate>Labels</translate>
        <p class="_df _fn">
            <span ng-class="{'force' : ctrl.selectedLabels.length > ctrl.addLabelLimit}">
                {{ctrl.selectedLabels.length | localize}}
            </span>
            /{{ctrl.addLabelLimit | localize}}
        </p>
    </h4>
    <div class="label-search">
        <suggest-picker config="ctrl.suggestPickerConfig" selecteds="ctrl.selectedLabels" ng-if="ctrl.loaded"
            suggests="ctrl.search.results" keyword='ctrl.keyword' request-more="ctrl.searchMore" suggests-updated="ctrl.suggestsUpdated"></suggest-picker>
    </div>
    <div class="load-more-labels">
        <translate ng-if="ctrl.haveMore" ng-click="ctrl.searchFn(ctrl.keyword)">Show more...</translate>
        <div class="_tac nst-mood-cheerful" ng-show="ctrl.quickAdd" ng-click="ctrl.createLabel()">
          <svg class="_16svg _fn fill-sense-wire ">
              <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
          </svg>
          <translate>add "{{ctrl.keyword}}" label</translate>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="butn butn-green" ng-disabled="!ctrl.firstTouch || ctrl.selectedLabels.length > ctrl.addLabelLimit" value="Done" ng-click="ctrl.submitLabels();" translate-attrs="value">
    </div>
</div>
