<div class="_difv add-member-modal">
  <h4>
    <div class="_df" ng-click="$dismiss();">
      <svg class="_24svg _fn">
          <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
      </svg>
    </div>
    <translate>Add Holders</translate>
  </h4>
  <suggest-picker config="addHolderCtrl.suggestPickerConfig" selecteds="addHolderCtrl.selectedUsers" class="add-user-modal-input"
    suggests="addHolderCtrl.users" keyword='addHolderCtrl.query' request-more="addHolderCtrl.searchMore"></suggest-picker>
  <div class="modal-body">
    <div class="_fw suggests">
      <translate>Suggested:</translate>
    </div>
  </div>
  <div class="m-footer _df _fw">
    <input type="button" class="butn butn-green" ng-disabled="addHolderCtrl.selectedUsers.length === 0" value="Add" ng-click="addHolderCtrl.add()"/>
  </div>
</div>
