<div class="cr8-label">
    <h4>Create a Label</h4>
    <Label>Label Name</Label>
    <input type="text">
    <Label>Label Color</Label>
    <input type="text">
    <div class="modal-footer">
        <input type="button" ng-click="ctrl.closePopover()"  value="Discard" class="butn-white">
        <input type="button" ng-if="ctrl.selectedFiles.length> 0" ng-click="ctrl.addToCompose()" value="Create" class="butn-green">
        <input type="button" disabled value="Create" class="butn-green">
    </div>
</div>