<div class="label-sm-modal">
    <h4><translate>Create a Label</translate></h4>
    <Label><translate>Label Name</translate></Label>
    <input type="text" ng-model="ctrl.title">
    <Label><translate>Label Color</translate></Label>
    <div class="_pr _fw label-color">
        <select name="lang" ng-model="ctrl.code">
            <option selected value="A">- Default -</option>
            <option value="B">Green</option>
            <option value="C">Yellow</option>
            <option value="D">Red</option>
            <option value="E">Purple</option>
            <option value="F">Blue</option>
            <option value="G">Aquamarine</option>
        </select>
        <svg class="_16svg mirror _fn color-lbl-{{ctrl.code}}">
            <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
    </div>
    <Label><translate>Holders</translate></Label>
    <div class="holders-radio">
        <input type="radio" ng-model="ctrl.holderType" value="specific" id="create-label-specific" name="selector">
        <label for="create-label-specific"><translate>Specific Users</translate></label>
        <input type="radio" ng-model="ctrl.holderType" value="all" id="create-label-all" name="selector">
        <label for="create-label-all"><translate>Public</translate></label>
    </div>
    <div class="_df _fw input-select-match" ng-if="ctrl.holderType == 'specific'">
        <ui-select minimum-input-length="4" multiple limit="{{ctrl.targetLimit}}"  class="address-input _dib"
         data-ng-model="ctrl.specificHolders">
          <ui-select-match placeholder="{{::ctrl.userSelectPlaceHolder}}" compose-match-item class="match-items">
            <div class="selected-innter">
              <span class="place-img">
                <img ng-src="{{$item.picture}}"/>
              </span>
              <span class="place-name">{{$item.name}}</span>
            </div>
          </ui-select-match>
          <ui-select-choices refresh="ctrl.search.fn($select.search)"
                             refresh-delay="0"
                             repeat="place as place in ctlCompose.search.results track by $index">
            <div class="place-initials-32">
              <img ng-src="{{place.picture}}"/>
            </div>
            <span class="_fn _df" auto-dir="place.name" data-ng-bind-html="place.name | highlight: $select.search"></span>
            <span class="_fw _df" ></span>
            <span class="nst-font-10 _vat _df" dir="ltr" data-ng-bind-html="place.id | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
    </div>
    <div class="_df _fw holders-all-msg" ng-if="ctrl.holderType == 'all'">
        <translate>All users on your company can use this label.</translate>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="$dismiss()"  value="Discard" class="butn-white">
        <input type="button" ng-disabled="ctrl.isNotValid()" ng-click="ctrl.createLabel()" value="Create" class="butn-green">
    </div>
</div>
