<div class="label-sm-modal">
    <h4>Create a Label</h4>
    <Label>Label Name</Label>
    <input ng-model="createCtrl.title" type="text">
    <Label>Label Color</Label>
    <!--<input type="text" class="label-color">-->
    <div class="_pr _fw label-color">
        <select name="lang" ng-model="createCtrl.code">
            <option value="A">- Default -</option>
            <option value="B">Green</option>
            <option value="C">Yellow</option>
            <option value="D">Red</option>
            <option value="E">Purple</option>
            <option value="F">Blue</option>
            <option value="G">Aquamarine</option>
        </select>
        <svg class="_16svg mirror _fn color-lbl-{{createCtrl.code}}">
            <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
    </div>
    <Label><translate>Holders</translate></Label>
    <div class="holders-radio">
        <input type="radio" ng-model="createCtrl.holderType" value="specific" id="create-label-specific" name="selector">
        <label for="create-label-specific"><translate>Specific Users</translate></label>
        <input type="radio" ng-model="createCtrl.holderType" value="all" id="create-label-all" name="selector">
        <label for="create-label-all"><translate>Public</translate></label>
    </div>
    <div class="_df _fw input-select-match" ng-if="createCtrl.holderType == 'specific'">
      <ui-select multiple class="modal-add-input _df"
                 data-ng-model="createCtrl.specificHolders" limit="{{createCtrl.limit}}"
                 autofocus="true" always-show-list on-select="addHolderCtrl.search('')">
        <ui-select-match placeholder="{{::createCtrl.searchPlaceholder}}">
          <div class="selected-innter">
            <span class="place-img">
              <img initial-avatar="{{$item.id}}" picture="{{$item | avatar}}"
                   data-width="24" data-height="24" data-radius="2"
                   data-word-count="2" data-font-size="12" name="{{$item.fullName}}"/>
            </span>
            <span class="place-name">{{$item.fullName}}</span>
          </div>
        </ui-select-match>
        <ui-select-choices refresh="createCtrl.search($select.search)" refresh-delay="0"
                           repeat="user in (createCtrl.users | filter: $select.search) track by user.id" >
          <img initial-avatar="{{user.id}}" name="{{user.fullName}}" picture="{{user| avatar:'x64'}}" data-width="40" data-height="40" data-radius="24" class="account-initials-40 _df" data-word-count="2" data-font-size="16"/>
          <div class="_difv">
            <!--todo:: | highlight: $select.search in persian name-->
            <span auto-dir="user.fullName"><span class="_df _fw" data-ng-bind-html="user.fullName"></span></span>
            <small class="_df">@{{user.id}}</small>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="_df _fw holders-all-msg" ng-if="createCtrl.holderType == 'all'">
        <translate>All users on your company can use this label.</translate>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="$dismiss()"  value="Discard" class="butn-white">
        <input type="button" ng-disabled="createCtrl.isNotValid()" ng-click="createCtrl.createLabel()" value="Create" class="butn-green">
    </div>
</div>
