<div class="label-sm-modal">
    <h4>
        <svg class="_24svg _fn close-btn" ng-click="$dismiss();">
            <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
        <translate>Edit Label</translate>
        <div class="_df _fn modal-more-set" popover-class="white-pop post-card-moreo-ptions"
            data-popover-placement="bottom-right auto"
            data-uib-popover-template="'app/label/partials/edit-label-options.html'"
            data-popover-append-to-body="false">
            <svg class="_24svg">
                <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
            </svg>
        </div>
    </h4>
    <Label>Label Name</Label>
    <input ng-model="ctrl.title" type="text">
    <Label>Label Color</Label>
    <!--<input type="text" class="label-color">-->
    <div class="_pr _fw label-color marginbtm">
        <select name="lang" ng-model="ctrl.code">
            <option selected value="A">- Default -</option>
            <option value="B">Green</option>
            <option value="C">Yellow</option>
            <option value="D">Red</option>
            <option value="E">Purple</option>
            <option value="F">Blue</option>
            <option value="G">Aquamarine</option>
        </select>
        <svg class="_16svg mirror _fn color-lbl-{{ctrl.code}}">
            <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
    </div>
    <h5 ng-if="ctrl.holderType == 'specific'" class="list-head">
        <translate>Holders</translate>&nbsp;({{ ctrl.specificHolders.length | localize }})
        <p ng-click="ctrl.addHolder()">
            <translate class="nst-mood-cheerful">Add</translate>
            <svg class="_16svg _fn fill-sense-wire">
                <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
            </svg>
        </p>
    </h5>
    <div iscroll="" class="iscroll-wrapper holders" ng-if="ctrl.holderType == 'specific'">
        <ul class="iscroll-scroller">
            <li ng-repeat="user in ctrl.specificHolders">
                <div class="icon">
                    <div class="user-avatar-20">
                        <img ng-src="{{user | picture}}" alt="user.fullName" data-uib-tooltip="{{user.fullName}}" data-tooltip-append-to-body="true" data-tooltip-placement="top auto">
                    </div>
                </div>
                <span>
                    {{user.fullName}}
                </span>
                <div ng-click="ctrl.removeHolder(user.id)" class="actions _aic _df force">
                    <translate>remove</translate>
                    <!--<svg class="_16svg _df _fn force">
                        <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
                    </svg>-->
                </div>
                <hr/>
            </li>
        </ul>
    </div>
    <p ng-if="ctrl.holderType == 'all'" class="holders-all-msg">All users on your company can use this label.</p>
    <div class="modal-footer">
      <input type="button" ng-click="$dismiss()"  value="Discard" class="butn-white">
      <input type="button" ng-disabled="ctrl.isNotValid()" ng-click="ctrl.editLabel()" value="Apply" class="butn-green">
    </div>
</div>
