<div class="mini-modal">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw">{{confirmModal.title}}</p>
      <div class="_df" ng-click="$dismiss()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail" ng-bind-html="confirmModal.body"></p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons" data-ng-init="lockmodal = false">
          <div class="butn-{{confirmModal.cancelColor}} secondary _jcc _df" ng-click="confirmModal.discard()"><span class="_df">{{confirmModal.cancelText}}</span></div>
          <div class="butn-{{confirmModal.confirmColor}} _jcc _df" ng-click="confirmModal.confirm()"><span class="_df">{{confirmModal.confirmText}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
