<div class="label-sm-modal request-modal">
    <h4>
        <translate>Request a Label</translate>
    </h4>
    <div class="req-modal-input ng-class:{'_oh' : requestCtrl.editColor}">
        <input type="text" ng-model="requestCtrl.keyword" placeholder="Enter a label name…" data-ng-keyup="requestCtrl.inputKeyUpHandler();">
        <div class="color-btn" ng-click="requestCtrl.editCode = true" ng-if="requestCtrl.newLabel">
            <svg class="_16svg _fn color-lbl-{{requestCtrl.label.code}}">
                <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
            </svg>
        </div>
        <div class="color-selector" ng-if="requestCtrl.editCode">
            <translate>Label color</translate>
            <i ng-repeat="code in requestCtrl.codes" ng-click="requestCtrl.changeColor(code)" ng-class="{'active' : code == requestCtrl.label.code}">
                <svg class="_16svg _fn color-lbl-{{code}}">
                    <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
                </svg>
            </i>
            <i>
                <svg class="_16svg _fn" ng-click="requestCtrl.editCode = false">
                    <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
                </svg>
            </i>
        </div>
        <ul class="label-suggest" ng-if="requestCtrl.keyword.length > 0 && requestCtrl.openSuggests">
            <li ng-repeat="suggest in requestCtrl.suggests" ng-click="requestCtrl.suggestClickHandler(suggest)">
                <svg class="_16svg _fn color-lbl-{{suggest.code}}">
                    <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
                </svg>
                <span class="_fw _df">{{suggest.title}}</span>
            </li>
            <li ng-click="requestCtrl.requestNewLabel()">
                <svg class="_16svg _fn fill-sense-wire">
                    <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
                </svg>
                <span class="nst-mood-cheerful _fn" translate-inner>Create new label</span>
                <span class="nst-mood-cheerful _fw _df">&nbsp;"{{requestCtrl.keyword}}"</span>
            </li>
        </ul>
    </div>
    <p class="holders-all-msg">
        <translate>You can request an existing label or create a new one. You ll have access after Label Manager approve your request.</translate>
    </p>
    <div class="modal-footer">
        <input type="button" ng-click="$dismiss()" value="Discard" class="butn-white">
        <input type="button" ng-disabled="requestCtrl.isNotValid() || requestCtrl.disabled" ng-click="requestCtrl.requestLabel()" value="Send Request" class="butn-green">
    </div>
</div>
