<div class="_bgwhite visited-places visible-scrollbar" dir="ltr" nst-scrollbar suppress-scroll-x="true">
  <ul dir="{{$root._direction}}" ng-controller="RecentVisitedController as ctrl">
    <li>
      <div class="_fw _jcc _df margin-top-10" ng-if="ctrl.loading">
        <div class="nst-loading nst-loading-size-4 _fl"></div>
        <span>&nbsp;</span>
        <div class="nst-font-xsmall _fr nst-marginbtm-4">
          <translate>Loading...</translate>
        </div>
      </div>
    </li>
    <li data-ng-repeat="place in ctrl.places">
      <a class="_df placerow _aic _fw"  ui-sref="app.place-messages({placeId:place.id})">
        <div class="_df _fw">
          <!--<p class="_txe place-name">{{place.name}}</p>-->
          <span class="_txe">{{place.name}}</span>
        </div>
        <div class="place-initials-24">
          <img class="" ng-src="{{place | picture : 'x32'}}"/>
        </div>
      </a>
    </li>
  </ul>

</div>