<div class="settings-body"
  ng-init="sharePostPolicyOptions = [NST_PLACE_POLICY_OPTION.MANAGERS, NST_PLACE_POLICY_OPTION.MEMBERS];
           addMemberPolicyOptions = [NST_PLACE_POLICY_OPTION.MANAGERS, NST_PLACE_POLICY_OPTION.MEMBERS];">

  <div class="form-group" ng-class="{ 'has-error' : ctrl.placeName.$invalid}">
    <label class="input-lab"><translate>Place name</translate></label>
    <label class="error-message" ng-if="ctrl.placeName.$invalid"><translate>Place name is required</translate></label>
    <div class="field">
      <div class="_df _fw">
        <input name="placeName" class="form-control" type="text" ng-model="ctrl.place.name" tabindex="1" />
      </div>
      <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/place/settings/main/modals/place-change-name-modal.html">
      <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
    </svg>
    </div>
  </div>

  <div class="form-group">
    <label class="input-lab"><translate>Place Description</translate></label>
    <div class="field">
      <div class="_df _fw">
        <input name="PlaceDes" class="form-control" type="text" ng-model="ctrl.place.description" tabindex="2" />
      </div>
      <svg class="_24svg _df _fn edit-icon" open-custom-modal="app/place/settings/main/modals/place-change-description-modal.html">
      <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
    </svg>
    </div>
  </div>

  <p>Who can share posts with this Place?</p>
  <place-policy-option levels="sharePostPolicyOptions"
                       level="ctrl.getAddPostPrivacyLevel(ctrl.place)"
                       level-changed="ctrl.setAddPostPolicy"
                       place-name="ctrl.place.name">
  </place-policy-option>

  <p>Who can add members?</p>
  <place-policy-option levels="addMemberPolicyOptions"
                       level="ctrl.getAddMemberPrivacyLevel(ctrl.place)"
                       level-changed="ctrl.setAddMemberPolicy"
                       place-name="ctrl.place.name">
  </place-policy-option>

</div>
