<form name="submitPasswordForm" ng-submit="ctrl.submit(submitPasswordForm.$valid);" novalidate class="use-ng-animate register-step">
  <p class="text-center nst-font-medium nst-marginbtm-24">
    <translate>Please enter your account paasword to change your phone number.</translate>
  </p>

  <div class="form-group has-feedback" ng-class="{ 'has-error' : (submitPasswordForm.nested_password.$invalid || ctrl.submitError) && (submitPasswordForm.nested_password.$touched || ctrl.submitted) }">
    <label ng-if="(submitPasswordForm.nested_password.$valid && !ctrl.submitError) || !(submitPasswordForm.nested_password.$touched || ctrl.submitted)"><translate>Password</translate></label>
    <label class="error-message" ng-if="submitPasswordForm.nested_password.$error.required && (submitPasswordForm.nested_password.$touched || ctrl.submitted)"><translate>Password is required</translate></label>
    <label class="error-message" ng-if="submitPasswordForm.nested_password.$error.minlength && (submitPasswordForm.nested_password.$touched || ctrl.submitted)"><translate>Password must be at least 6 character</translate></label>
    <label class="error-message" ng-if="ctrl.submitError == 'wrongPassword'"><translate>Your password is wrong!</translate></label>
    <label class="error-message" ng-if="ctrl.submitError == 'unknown'"><translate>An error has occured!</translate></label>
    <input class="form-control" ng-model="ctrl.password" name="nested_password" data-ng-init="ctrl.showPassword = true" type="{{ctrl.showPassword ? 'password': 'text'}}" minlength="6" tabindex="2" required autocomplete="off" maxlength="128" ng-change="ctrl.submitError = null;"/>
    <i class="cursor-pointer nst-ico-eye-slash form-control-feedback {{ctrl.showPassword ? 'nst-ico-eye-slash' : 'nst-ico-eye'}}" ng-click="ctrl.showPassword = !ctrl.showPassword"></i>
  </div>

  <div class="text-center">
    <input type="submit" value="Working..." ng-if="ctrl.changePhoneProgress" ng-disabled="submitPasswordForm.$invalid" class="butn-green butn-lg butn-login nstbtn" translate-attrs="value">
    <input type="submit" value="Submit" ng-if="!ctrl.changePhoneProgress" ng-disabled="submitPasswordForm.$invalid" class="butn-green butn-lg butn-login nstbtn" translate-attrs="value">
  </div>
</form>
