<td class="ico">
  <div class="ei-comment-add"></div>
</td>
<td class="sender">
  <img data-ng-if="event.actor.picture.org.uid" src="{{event.actor.picture.x32.url}}"/>
  <div class="account-initials-32" data-ng-if="!event.actor.picture.org.uid" data-ng-bind="event.actor.name.initials"></div>

  <span data-ng-bind="event.actor.fullname"></span>
</td>
<td class="msg">
  <div class="comment-subject">
    <span>commented on </span>
    <a class="post" href="#/post/{{event.post.id}}" data-ng-bind-html="event.post.subject | emoji"></a>
  </div>
  <div data-ng-show="extended_view" class="body" data-ng-bind-html="event.comment.body | emoji"></div>
</td>
<td class="places">
  <a href="#/events/{{event.post.places[0].id}}" class="_dtc" data-ng-bind="event.post.places[0].name"></a>
  <div class="more-tag _dtc" ng-if="event.post.places.length > 1">+{{event.post.places.length - 1}}</div>
</td>
<td class="time" data-ng-bind="event.date.getTime() | date:event.view.dateFormat"></td>
