.manage-label {
    flex-direction: column;
    display: flex;
    padding: 0 24px!important;
    .labels-headline {
        display: flex;
        margin-top: 40px;
        margin-bottom: 24px;
        h3 {
            font-size: 20px;
            line-height: 24px;
            padding: 0 16px;
            font-weight: 400;
            margin: 0;
        }
    }
    .lbl-search {
        display: flex;
        margin: 16px 0;
        position: relative;
        width: 100%;
        input {
            height: 32px;
            margin: 0;
            padding-left: 32px;
            border-color: $color-breeze-new;
            &::focus {
                border-width: 1px;
            }
        }
        i {
            position: absolute;
            top: calc(50% - 8px);
            left: 8px;
            opacity: .4;
        }
    }
    .lbl-cr8 {
        white-space: nowrap;
        margin-left: 24px;
        padding: 0 8px;
        line-height: 24px;
        color: $color-solid-64;
        display: flex;
        height: 32px;
        align-items: center;
        cursor: pointer;
        svg {
            fill: $color-gale-new;
            margin-left: 6px;
        }
    }
    h4 {
        margin: 8px -8px;
        line-height: 24px;
        font-size: 12px;
        font-weight: bold;
        padding: 0 6px;
        background-color: $color-breeze-5-new;
        border-radius: 4px;
        color: $color-solid;
    }
    ul {
        margin: 0 -24px;
        li {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            .icon {
                width: 48px;
                padding: 12px 16px;
            }
            hr {
                position: absolute;
                border-color: $color-breeze-5-new;
                bottom: 0;
                right: 0;
                margin: 0;
                width: calc(100% - 48px)
            }
        }
        &.requests {
            li {
                height: 64px;
                .req-body {
                    padding-top: 8px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    cite {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 19px;
                        font-style: normal;
                    }
                    p {
                        margin: 4px 0 0 0;
                        color: $color-new-hurricane;
                    }
                }
                .actions {
                    > div {
                        width:  24px;
                        height: 24px;
                        margin-left: 16px;
                        display: flex;
                        justify-content: center;
                        transform: translateX(8px);
                        align-items: center;
                    }
                    display: flex;
                    flex: none;
                    padding-right: 16px;
                }
            }
        }
        &.labels {
            li {
                height: 48px;
                padding: 0 16px;
                .icon {
                    padding: 16px 16px 0 0;
                    width: 32px;
                    height: 100%;
                }
                .label-details {
                    display: flex;
                    width: 100%;
                    font-size: 14px;
                }
                .usage {
                    margin-left: 24px;
                    display: flex;
                    flex: none;
                    svg {
                        margin-right: 8px;
                    }
                    span {
                        width: 52px;
                    }
                }
                .users {
                    display: flex;
                    flex: none;
                    margin-left: 16px;
                    width: 112px;
                    color: $color-new-hurricane;
                    .user-avatar-20 {
                        margin-right: 8px;
                    }
                }
                .edit {
                    opacity: .4;
                }
            }
        }
    }
}

.cr8-label {
    height: auto!important;
    min-height: 0px!important;
    padding: 24px!important;
    align-self: center;
    h4 {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0;
        display: flex;
        align-items: center;
        color: $color-solid;
        span {
            flex: 1;
            display: flex;
        }
    }
    > label {
        margin-top: 24px;
        color: $color-gale-new;
        font-weight: bold;
    }
    .label-color {
        margin-bottom: 24px;
        select {
            padding-left: 40px;
        }
        svg {
            position: absolute;
            left: 12px;
            top: 50%;
            margin-top: -8px;
        }
    }
    .holders-radio {
        display: flex;
        height: 16px;
        flex: none;
        margin: 8px 0;
        input[type="radio"] {
            display: none;
        }
    }
    .input-select-match {
        height: 32px;
        margin-bottom: 32px;
        .address-input {
            padding: 0;
        }
        .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
            height: 32px;
            padding: 0;
            margin: 0;
            font-size: 14px;
        }
    }
    .holders-all-msg {
        flex: none;
        height: 33px;
        box-sizing: content-box;
        margin-bottom: 32px;
        line-height: 32px;
        color: $color-gale-new;
    }
    .modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        border: none;
        input {
            width: 92px!important;
            height: 32px!important;
            margin: 0 0 0 8px!important;
            font-weight: bold;
        }
    }
    ul.holders {
        margin: 0 -24px 0 -16px;
        list-style: none;
        li {
            display: flex;
            height: 48px;
            padding-right: 24px;
            position: relative;
            .icon {
                width: 48px;
                justify-content: center;
                align-items: center;
                display: flex;
                flex: none;
            }
            span {
                align-items: center;
                display: flex;
                flex: 1;
            }
            p {
                margin: 0;
                display: flex;
                flex: none;
                align-items: center;
                color: $color-solid-64;
            }
            hr {
                position: absolute;
                border-color: $color-breeze-5-new;
                bottom: 0;
                right: 0;
                margin: 0;
                width: calc(100% - 48px)
            }
        }
    }
    .modal-more-set {
        opacity: .4;
        & + .popover {
            border-color: transparent;
            top: 20px!important;
            left: 240px!important;
            right: 20px;
            .list-items {
                height: 40px;
                span {
                    color: $color-new-hurricane;
                }
                &.force span{
                    color: $color-force
                }
            }
        }
    }
}