<div class="manage-label" manage-label-scroll>
  <div class="labels-headline _aic">
    <svg class="_24svg _df _r45 _fn" ng-click="$dismiss();">
      <use xlink:href="/assets/icons/nst-icn24.svg#cross"></use>
    </svg>
    <h3 class="_df _fw">
      <span ng-if="ctrl.labelManager"><translate>Manage Labels</translate></span>
      <span ng-if="!ctrl.labelManager"><translate>My Labels</translate></span>
    </h3>
  </div>
  <div class="_df _fw _aic">
    <div class="lbl-search">
      <i>
        <svg class="_16svg mirror _fn">
          <use xlink:href="/assets/icons/nst-icn16.svg#search"></use>
        </svg>
      </i>
      <input ng-keyup="ctrl.searchKeyUp()" ng-model="ctrl.keyword" type="text" placeholder="Find Labels" translate-attrs="placeholder">
    </div>
    <div ng-if="ctrl.labelManager && ctrl.selectedItems.length == 0" ng-click="ctrl.createLabel()" class="lbl-cr8" >
      <a><translate>New Label</translate></a>
      <svg class="_16svg _df _fn">
        <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>' +
      </svg>
    </div>
    <div ng-if="!ctrl.labelManager && ctrl.selectedItems.length == 0" ng-click="ctrl.requestLabel()"  class="lbl-cr8" >
      <a><translate>Request a Label</translate></a>
      <svg class="_16svg _df _fn">
        <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>' +
      </svg>
    </div>
    <div ng-if="ctrl.labelManager && ctrl.selectedItems.length > 0" ng-click="ctrl.removeSelectedLabels()"  class="lbl-remove" >
      <a><translate>Remove Label{{ctrl.selectedItems.length > 1 ? 's' : ''}} ({{ctrl.selectedItems.length | localize}})</translate></a>
      <svg class="_16svg _df _fn force">
        <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>' +
      </svg>
    </div>
  </div>
  <h5 ng-if="ctrl.requestList.length > 0" class="list-head">{{ctrl.labelManager ? '' : 'Pending '}}Requests</h5>
  <ul class="requests" ng-class="{'pending': !ctrl.labelManager}" nst-scrollbar>
    <li ng-repeat="request in ctrl.requestList">
      <hr/>
      <div class="icon">
        <svg class="_16svg _df _fn color-lbl-{{request.label ? request.label.code : request.code}}">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
      </div>
      <div ng-if="ctrl.labelManager" class="req-body">
        <cite>
          {{request.label ? request.label.title : request.title}}
        </cite>
        <p>
          <span user-detail="request.user"><b>{{request.user.fullName}}</b></span>
          <span ng-if="request.label"><translate>wants to reach this.</translate></span>
          <span ng-if="!request.label"><translate>wants to create this.</translate></span>
        </p>
      </div>
      <div ng-if="!ctrl.labelManager" class="req-body">
        <cite class="{{request.label.code}}">
          <span ng-if="request.label"><translate>Joining to</translate></span>
          <span ng-if="!request.label"><translate>Adding</translate></span>
          "{{request.label ? request.label.title : request.title}}"
        </cite>
      </div>
      <div class="actions">
        <div ng-if="ctrl.labelManager && request.label" ng-click="ctrl.editLabel(request.label)">
          <svg class="_16svg _df _fn fill-solid-24">
            <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
          </svg>
        </div>
        <div ng-if="ctrl.labelManager" ng-click="ctrl.declineRequest(request.id)">
          <svg class="_16svg _df _fn force">
            <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
          </svg>
        </div>
        <div ng-if="ctrl.labelManager" ng-click="ctrl.acceptRequest(request.id)">
          <svg class="_16svg _df _fn fill-sense-wire">
            <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
          </svg>
        </div>
        <div ng-if="!ctrl.labelManager" ng-click="ctrl.withdrawRequest(request.id)" class="actions">
          <svg class="_16svg _df _fn force">
            <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
          </svg>
        </div>
      </div>
    </li>
  </ul>
  <h5 class="list-head">Labels</h5>
  <ul class="labels _df" nst-scrollbar>
    <li ng-repeat="label in ctrl.labels track by $index">
      <hr/>
      <div class="icon" ng-if="ctrl.labelManager">
        <div class="select-card" ng-class="{'selected': label.selected}">
          <input ng-model="label.selected" ng-change="ctrl.toggleSelected(label.id, label.selected)" class="_fr" type="checkbox" id="label-select{{label.id}}" name="select"/>
          <label class="_fw _df _asc setting" for="label-select{{label.id}}"></label>
        </div>
      </div>
      <div class="label-details">
        <span>{{label.title}}</span>
      </div>
      <div class="usage">
        <svg class="_16svg _df _fn color-lbl-{{label.code}}">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
        <span>{{label.counters.posts | localize}}</span>
      </div>
      <div ng-if="label.public" class="users">
        <translate>everyone</translate>
      </div>
      <div ng-if="!label.public" class="users">
        <div ng-repeat="user in label.topMembers" class="user-avatar-20">
          <img ng-src="{{user | picture}}" alt="user.fullName" data-uib-tooltip="{{user.fullName}}" data-tooltip-append-to-body="true" data-tooltip-placement="top auto">
        </div>
      </div>
      <div class="edit" ng-if="ctrl.labelManager">
        <svg class="_16svg _df _fn" ng-click="ctrl.editLabel(label.id)">
          <use xlink:href="/assets/icons/nst-icn16.svg#pencil"></use>
        </svg>
      </div>
    </li>
  </ul>
</div>
