<div class="manage-label">
  <div class="labels-headline _aic">
    <svg class="_24svg _df _r45 _fn" ng-click="$dismiss();">
      <use xlink:href="/assets/icons/nst-icn24.svg#cross"></use>
    </svg>
    <h3 class="_df _fw">
      <translate ng-if="ctrl.labelManager">Manage Labels</translate>
      <translate ng-if="!ctrl.labelManager">My Labels</translate>
    </h3>
  </div>
  <div class="_df _fw _aic">
    <div class="lbl-search">
      <i>
        <svg class="_16svg mirror _fn">
          <use xlink:href="/assets/icons/nst-icn16.svg#search"></use>
        </svg>
      </i>
      <input type="text" placeholder="Find Labels">
    </div>
    <div class="lbl-cr8" create-Label label-manager="{{ctrl.labelManager}}"></div>
  </div>
  <h5 class="list-head">{{ctrl.labelManager ? '' : 'pending '}}Requests</h5>
  <ul class="requests" ng-if="ctrl.labelManager">
    <li>
      <hr/>
      <div class="icon">
        <svg class="_16svg _df _fn color-lbl-F">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
      </div>
      <div class="req-body">
        <cite>
          Top Secret
        </cite>
        <p>
          <b>Regina Adam</b> want to reach this.
        </p>
      </div>
      <div class="actions">
        <svg class="_16svg _df _fn fill-solid-24">
          <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
        </svg>
        <svg class="_16svg _df _fn force">
          <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
        </svg>
        <svg class="_16svg _df _fn fill-sense-wire">
          <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
        </svg>
      </div>
    </li>
  </ul>
  <ul class="requests pending" ng-if="!ctrl.labelManager">
    <li>
      <hr/>
      <div class="icon">
        <svg class="_16svg _df _fn color-lbl-F">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
      </div>
      <div class="req-body">
        <cite>
          Top Secret
        </cite>
      </div>
      <div class="actions">
        <svg class="_16svg _df _fn force">
          <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
        </svg>
      </div>
    </li>
  </ul>
  <h5 class="list-head">Labels</h5>
  <ul class="labels">
    <li>
      <hr/>
      <div class="icon" ng-if="ctrl.labelManager">
        <div class="select-card ng-class:{'selected' : ctlPostCard.isChecked || ctlPostCard.isCheckedForce}">
          <input class="_fr" type="checkbox" id="select{{label.id}}" name="select"
                ng-model="ctrl.isChecked" ng-checked="ctrl.isChecked"/>
          <label class="_fw _df _asc setting" for="select{{label.id}}"></label>
        </div>
      </div>
      <div class="label-details">
        <span>Important</span>
      </div>
      <div class="usage">
        <svg class="_16svg _df _fn color-lbl-A">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
        <span>74</span>
      </div>
      <div class="users">
        <translate>everyone</translate>
      </div>
      <div class="edit" ng-if="ctrl.labelManager">
        <svg class="_16svg _df _fn">
          <use xlink:href="/assets/icons/nst-icn16.svg#pencil"></use>
        </svg>
      </div>
    </li>
    <li>
      <hr/>
      <div class="icon">
        <div class="select-card ng-class:{'selected' : ctlPostCard.isChecked || ctlPostCard.isCheckedForce}">
          <input class="_fr" type="checkbox" id="select{{label.id}}" name="select"
                ng-model="ctrl.isChecked" ng-checked="ctrl.isChecked"/>
          <label class="_fw _df _asc setting" for="select{{label.id}}"></label>
        </div>
      </div>
      <div class="label-details">
        <span>Important</span>
      </div>
      <div class="usage">
        <svg class="_16svg _df _fn color-lbl-D">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
        <span>74</span>
      </div>
      <div class="users">
        <div class="user-avatar-20">
          <img ng-src="" alt="">
        </div>
        <div class="user-avatar-20">
          <img ng-src="" alt="">
        </div>
        <div class="user-avatar-20">
          <img ng-src="" alt="">
        </div>
      </div>
      <div class="edit">
        <svg class="_16svg _df _fn">
          <use xlink:href="/assets/icons/nst-icn16.svg#pencil"></use>
        </svg>
      </div>
    </li>
  </ul>
</div>
