<div id="change-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw"><translate>Change place ID</translate></p>
      <div class="_df closebut" ng-click="$dismiss()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <input class="form-control"
             type="text" ng-change=""
             data-ng-model="changeModal" id="change-place-id"/>
      <div class="butn-green" ng-click="$close(changeModal)" style="width: 100%;margin-top: 10px" id="change-save"><translate>Save</translate></div>
    </div>
  </div>
</div>
