<div id="change-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw"><translate>{{title}}</translate></p>
      <!--<div class="_df closebut" ng-click="$dismiss()"><img src="../assets/icons/close.svg"></div>-->
    </div>
    <div class="_difv _fw">
      <div class="form-group">
        <label class="input-lab"><translate>First name</translate></label>
        <div>
          <input class="_df _fw form-control" name="firstName" type="text" data-ng-model="oldVal.valOne" tabindex="2"/>
        </div>
      </div>
      <div class="form-group">
        <label class="input-lab"><translate>LastName</translate></label>
        <div>
          <input class="_df _fw form-control" name="lastName" type="text" data-ng-model="oldVal.valTwo" tabindex="2"/>
        </div>
      </div>
      <div class="_df _fw mdl-ft">
        <div class="butn-white" ng-click="$close('discard')"><translate>Discard</translate></div>
        <div class="butn-green" ng-click="$close(oldVal)" id="change-save"><translate>Save</translate></div>
      </div>
    </div>
  </div>
</div>
