.taskBackDrop {
    background-color: transparentize($color-solid, 1 - .94);
}
.create-task {
    padding: 10px 16px 0 16px;
    max-height: 100%;
    .auto-height-item ,
    .const-height-item {
        > label {
            position: relative;
            svg {
                position: absolute;
            }
            .hover-item {
                visibility: hidden;
            }
            &:hover {
                .hover-item {
                    visibility: visible;
                }
                .static-item {
                    visibility: hidden;
                }
            }
        }
        &:hover {
            .task-input-wrapper {
                border-bottom: 1px solid $color-gale!important;
            }
            label {
                svg {
                    opacity: 1;
                }
            }
        }
    }

    .auto-height-item {
        padding-top: 12px;
        flex-direction: row-reverse;
        display: flex;
        width: 100%;
        textarea,
        input {
            margin-top: 2px;
        }

        label ._16svg {
            margin-top: 4px;
        }
    }
    .const-height-item {
        align-items: center;
        flex-direction: row-reverse;
        display: flex;
        width: 100%;
        textarea,
        input {
            margin-top: 6px;
        }
        .task-input-wrapper {
            align-self: center;
        }
    }
    .task-input-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        align-self: flex-start;
        padding: 0 0 6px;
        flex-wrap: wrap;
        margin: 0 8px;
        border-bottom: 1px solid transparent!important;
        task-assignee,
        task-label {
          display: flex;
          position: relative;
          flex-wrap: wrap;
          width: 100%;
        }
        .status {
            font-size: 12px;
            font-weight: bold;
            color: $color-gale;
            min-width: 74px;
            line-height: 32px;
            &.candidate {
                color: #0079F2;
            }
        }
        &.focus {
            border-bottom: 1px solid $color-gale!important;
        }
        &.error {
            textarea {
                color: $color-force;
            }
            &.focus {
                border-bottom: 1px solid $color-force!important;
            }
            .error-handler {
                color: $color-force;
            }
        }
        .error-handler {
            position: absolute;
            right: 0;
            bottom: -20px;
            line-height: 18px;
            font-size: 12px;
        }
        .unfocused-input {
            font-size: 14px;
            padding: 4px 0;
            color: #333;
            width: 100%;
            b {
                color: #323D47;
            }
            &.candidates {
                color: #0079F2;
                b {
                    color: #0079F2;
                }
            }
        }
    }
    h3 {
        margin: 0;
        width: 100%;
        display: flex;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        padding: 0 8px;
        margin-top: 2px;
    }
    .auto-height-item > label ,
    .const-height-item > label {
        width: 48px;
        display: flex;
        flex: none;
        justify-content: center;
        margin: 0;
        svg {
            opacity: .4;
        }
        &.focus {
            svg {
                opacity: 1;
            }
        }
    }
    .create-task-input {
        display: flex;
        width: 100%;
        border-radius: 0;
        padding: 0;
    }

    .task-title {
        min-height: 60px;
        padding-top: 0;
        textarea {
            font-size: 20px;
            font-weight: bold;
            height: 28px;
            margin-top: 6px;
            overflow: hidden;
        }
        .task-input-wrapper {
            align-self: center;
        }
        label {
            padding-top: 6px;
        }
        .task-progress-icon {
            transform: scale(1.5, 1.5);
            transform-origin: top center;
            opacity: .4!important;
        }
    }
    .task-assignee,
    .task-watcher {
        min-height: 48px;
        label {
            overflow: hidden;
            img {
                margin: 0;
            }
        }
        .task-input-wrapper {
            align-items: center;
        }
        input {
            height: 19px;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            width: auto;
            min-width: 120px;
            align-self: center;
            flex: 1;
        }
    }
    .task-due {
        height: 48px;
        input {
            height: 18px;
            font-size: 13px;
            line-height: 18px;
        }
    }
    .task-more-options {
        max-height: 0;
        overflow: hidden;
        width: 100%;
        transition: $animation-dur max-height ease-in-out;
        &.visible {
            max-height: 800px;
        }
    }
    .task-description {
        min-height: 64px;
        textarea {
            height: 24px;
            // overflow: hidden;
        }
    }
    .task-todo {
        &:hover {
            .task-input-wrapper {
                border-bottom: 1px solid transparent!important;
            }
            ul {
                border-bottom: 1px solid $color-gale!important;
            }
        }
        ul {
            border-bottom: 1px solid transparent!important;
            &.focus {
                border-bottom: 1px solid $color-gale!important;
            }
        }
    }
    .task-labels {
        input {
            height: 19px;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            width: auto;
            min-width: 120px;
            align-self: center;
            flex: 1;
        }
    }
    .task-attachment {
        .attachments-badge-wrapper {
            margin: 8px;
        }
    }

    .task-footer {
        height: 64px;
        a {
            font-size: 13px;
            color: $color-gale;
            padding: 0 16px;
        }
        input[type="button"] {
            height: 32px;
            padding: 0;
        }
    }
    .todo-list {
        list-style: none;
        padding: 6px 0;
        label {
            max-width: calc(100% - 8px);
        }
        li {
             margin: 8px 0 0;
        }
        svg {
            margin: 4px;
        }
        textarea {
            height: 18px;
            font-size: 13px;
            line-height: 20px;
            max-height: 128px;
        }
    }
    textarea {
        resize: none;
    }
    #task-description {
        // max-height: 56px;
    }
    .task-attachments-list {
        margin: 8px;
    }
}
