<div class="create-task">
  <div class="task-title const-height-item">
      <div class="task-input-wrapper ng-class:{'focus' : taskTitle, 'error' : ctrl.taskTitle.length > 64}">
        <textarea type="text" class="no-style gale-holder create-task-input" placeholder="Enter a Task Title" id="task-title"
            ng-focus="taskTitle = true" ng-blur="taskTitle = false" resize-textarea ng-model="ctrl.taskTitle"></textarea>
            <div class="error-handler" ng-if="ctrl.taskTitle.length > 54">
                {{ctrl.taskTitle.length | localize}} / 64
            </div>
      </div>
    <label for="task-title">
        <svg class="_32svg">
            <use xlink:href="/assets/icons/nst-task-icn32.svg#in-progress-simple"></use>
        </svg>
    </label>
  </div>
  <div class="task-assignee auto-height-item">
    <div class="task-input-wrapper ng-class:{'focus' : taskAssign}">
        <span ng-if="ctrl.assignees.length <= 1" class="status">assignee:</span>
        <span ng-if="ctrl.assignees.length > 1" class="status candidate">candidates:</span>
        <div user-chips user-id="assignee" candidate="(ctrl.assignees.length > 1)" on-remove="ctrl.removeAssigneeChip" ng-repeat="assignee in ctrl.assignees"></div>
        <input nst-mention-user type="text" class="no-style gale-holder create-task-input" placeholder="Add Assignee or Candidates"
        id="task-assignee" ng-focus="taskAssign = true" ng-blur="taskAssign = false" ng-model="ctrl.assigneeInput" ng-keydown="ctrl.assigneeKeyDown($event)">
    </div>
    <label for="task-assignee" ng-class="{'focus' : taskAssign}">
        <svg class="_24svg" ng-if="ctrl.assigneeIcon == 'no-assignee'">
            <use xlink:href="/assets/icons/nst-icn24.svg#ask-wire"></use>
        </svg>
        <img ng-src="{{ctrl.assigneeIcon | picture}}" ng-if="ctrl.assigneeIcon != 'no-assignee' && ctrl.assigneeIcon != 'candidate'">
        <svg class="_24svg" ng-if="ctrl.assigneeIcon == 'candidate'">
          <use xlink:href="/assets/icons/nst-task-icn32.svg#candidate"></use>
        </svg>
    </label>
  </div>
  <div class="task-due const-height-item">
        <div class="task-input-wrapper ng-class:{'focus' : taskDue}">
            <input type="text" class="no-style gale-holder create-task-input" placeholder="+ Set a due time (optional)" id="task-due"
            ng-focus="taskDue = true" ng-blur="taskDue = false"
            ng-model="ctrlTopBar.advancedSearch.date" datepicker-config="{allowFuture : true}" g-formatted-picked-date="gfdate" g-picked-date="gdate" ng-jalaali-flat-datepicker>
        </div>
        <label for="task-due" ng-class="{'focus' : taskDue}">
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#checked-box"></use>
            </svg>
        </label>
  </div>
  <div class="task-more-options ng-class:{'visible' : ctrl.showMoreOption}">
    <div class="task-description auto-height-item ng-class:{'focus' : taskDes}">
        <div class="task-input-wrapper">
            <textarea class="no-style gale-holder create-task-input"
            ng-focus="taskDes = true" ng-blur="taskDes = false"
            placeholder="+ Add a Description …" id="task-description" resize-textarea></textarea>
        </div>
        <label for="task-description" ng-class="{'focus' : taskDes}">
            <svg class="_16svg">
                 <use xlink:href="/assets/icons/nst-icn16.svg#petition"></use>
            </svg>
        </label>
    </div>
    <div class="task-todo auto-height-item">
      <div class="_difv _fw">
        <h3>To-Do list</h3>
        <ul class="todo-list">
          <li>
            <input class="_fr" type="checkbox" id="todo" />
            <label class="_fw setting left-box checkbox-label _asc" for="todo">
                <div class="task-input-wrapper ng-class:{'focus' : tasktodo}">
                    <input type="text" class="no-style gale-holder create-task-input" placeholder="+ add a to-do"
                    ng-focus="tasktodo = true" ng-blur="tasktodo = false">
                </div>
            </label>
          </li>
        </ul>
      </div>
      <label ng-class="{'focus' : tasktodo}">
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#finish-flag"></use>
            </svg>
        </label>
    </div>
    <div class="task-attachment auto-height-item">
        <div class="_difv _fw">
            <h3>Attachments</h3>
            <ul class="task-attachments-list">
                <li class="attachment-plus">
                    <svg class="_16svg">
                        <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <label>
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#attach"></use>
            </svg>
        </label>
    </div>
    <div class="task-watchers auto-height-item">
        <div class="_difv _fw">
            <h3>Watchers</h3>
            <div class="task-input-wrapper ng-class:{'focus' : taskWatch}">
                <input type="text" class="no-style gale-holder create-task-input"
                ng-focus="taskWatch = true" ng-blur="taskWatch = false" placeholder="add peoples who wants to follow task…">
            </div>
        </div>
      <label ng-class="{'focus' : taskWatch}">
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
            </svg>
        </label>
    </div>
    <div class="task-labels auto-height-item">
        <div class="_difv _fw">
            <h3>Labels</h3>
            <div class="task-input-wrapper ng-class:{'focus' : taskLabel}">
                <input type="text" class="no-style gale-holder create-task-input" placeholder="add labels…"
                ng-focus="taskLabel = true" ng-blur="taskLabel = false">
            </div>
        </div>
      <label ng-class="{'focus' : taskLabel}">
            <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
            </svg>
        </label>
    </div>
  </div>
  <div class="task-footer const-height-item">
    <input type="button" class="butn butn-green" disabled value="Create Task">
    <a class="_df _fw" ng-if="!ctrl.showMoreOption" ng-click="ctrl.showMoreOption =! ctrl.showMoreOption">
      <translate>More options</translate>
    </a>
    <a class="_df _fw" ng-if="ctrl.showMoreOption" ng-click="ctrl.showMoreOption =! ctrl.showMoreOption">
      <translate>Hide options</translate>
    </a>
  </div>
</div>
