.bg-compose.bg-task {
    background-color: $color-modal-bg;
    z-index: 0;
    position: absolute;
}
.create-task-container {
    position: relative;
    margin: 0 auto;
    background-color: $color-white-revesable-super;
    width: 472px;
    min-height: 120px;
    box-shadow: 0 32px 64px $color-solid-to-super;
    // max-height: calc(100vh - 160px);
    // overflow: hidden;
    border-radius: 6px;
    &.minimize {
        top: auto;
        right: 10px;
        bottom: 0;
        width: 180px;
        position: fixed;
        height: 30px;
        margin: 0;
        min-height: 0;
    }
}
.create-task {
    padding: 10px 16px 0 16px;
    max-height: 100%;
    position: relative;
    &.task-form h3 {
        margin: 8px 0 0;
    }
}
