<table>
  <tr>
    <td class="arrow-places">
      <div class="arrow-holder-places" data-ng-click="colp =! colp" data-ng-model="colp" data-ng-show="place.children.length > 0">
      <label class="label-position-places {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}" data-ng-init="colp = false"></label>
      </div>
    </td>
    <td class="logo">
      <a href="#/place/{{place.id}}">
        <img class="account-initials-48" data-ng-if="place.picture.org.uid" src="{{place.picture.x64.url}}"/>
        <div class="account-initials-48" data-ng-if="!place.picture.org.uid" data-ng-bind="place.name | initials:2"></div>
      </a>
    </td>
    <td class="name _tofe">
      <div  class="_fw" data-ng-click="go($location.path.replace('#/place/{{place.id}}'))" >
        <div class="_dt">
          <div class="_dtr">
            <div class="_dtc" data-ng-switch="place.role">
              <div data-ng-switch-when="creator" class="role-icon-crown"></div>
              <div data-ng-switch-when="key_holder" class="role-icon-green"></div>
              <div data-ng-switch-default class="role-icon-gray"></div>
            </div>
            <div class="_dtc">
              <h5 data-ng-bind="place.name"></h5>
            </div>
          </div>
        </div>
        <div class="_dtr">
          <div class="_dtc">
            <label class="empty-space"></label>
          </div>
          <div class="_dtc">
            <p class="nst-mood-storm" data-ng-bind="place.id + '@nested.me'"></p>
          </div>
        </div>
      </div>
    </td>
    <td class="members">
      <div data-ng-if="place.counters.allMembers > 0" class="nst-more-members" data-ng-bind="place.counters.allMembers + ' Member' + (place.counters.allMembers > 1 ? 's' : '')"></div>
      <div data-ng-if="place.counters.allMembers == 0" class="nst-no-more-members"></div>
    </td>
    <td class="properties">
      <div class="nst-pencil _fr"></div>
      <div class="nst-atsign _fr"></div>
      <div class="nst-eye _fr"></div>
      <div class="nst-search _fr"></div>
    </td>
    <td class="nst-more">
        <div class="nst-more-badge popover-green"  data-popover-placement="bottom-right" id="active-test" uib-popover-template="'app/places/context_menu/contex_menu_places.html'" popover-trigger="outsideClick"></div>
    </td>
  </tr>
</table>

<ul data-ng-if="place.children.length > 0" data-ng-show="colp">
  <li data-ng-repeat="place in place.children" data-ng-include="'app/places/place_row.html'" data-ng-model="place"></li>
</ul>
