<div>
  <div>
    <nested-navbar></nested-navbar>
  </div>
  <div class="_dtr _fh">
    <div class="_dtc">
      <div data-ng-bind="places.places"></div>
      <div class="_dt _fh _fw _bggray">
        <ul id="AllPlaces">
          <li data-ng-repeat="place in places.places" data-ng-include="places.tpl" data-ng-model="place"></li>

          <li>
            <table>
              <tr>
                <td class="arrow">
                  <label id="nst-arrow"></label>
                </td>
                <td class='logo'>
                  <img src="../assets/images/angular-material.png">
                </td>
                <td class='name'>
                  <div class="_dt">
                    <div class="_dtr">
                      <div class="_dtc">
                        <div class="role-icon-crown"></div>
                      </div>
                      <div class="_dtc">
                        <h5>Sale's Place</h5>
                      </div>
                    </div>
                  </div>
                  <div class="_dtr">
                    <div class="_dtc">
                      <label id="empty-space"></label>
                    </div>
                    <div class="_dtc">
                      <p>kutlass@nested.me</p>
                    </div>
                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class="account-initials-right place-members"></div>
                </td>
                <td class='properties'>
                  <div class="nst-pencil _fr"></div>
                  <div class="nst-atsign _fr"></div>
                  <div class="nst-search _fr"></div>
                </td>
                <td class="nst-more">
                  <a href="#/place-option"><div class="nst-more-badge"></div></a>
                </td>
              </tr>
            </table>
          </li>

          <li>
            <table>
              <tr>
                <td class="arrow">
                  <label id="nst-arrow-rotated"></label>
                </td>
                <td class='logo'>
                  <img src="../assets/images/angular-material.png">
                </td>
                <td class='name'>
                  <div class="_dt">
                    <div class="_dtr">
                      <div class="_dtc">
                        <div class="role-icon-green"> 
                        </div>
                      </div>
                      <div class="_dtc">
                        <h5>Ronak Software</h5>
                      </div>
                    </div>
                  </div>
                  <div class="_dtr">
                    <div class="_dtc">
                      <label id="empty-space"></label>
                    </div>
                    <div class="_dtc">
                      <p>ronaksoftware@nested.me</p>
                    </div>
                  </div>
                </td>
                <td class='members'>
                  <div class='nst-more-members'>+18</div>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials-right place-members'></div>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials-right place-members'></div>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials-right place-members'></div>

                </td>
                <td class='properties'>
                  <div class="nst-pencil _fr"></div>
                  <div class="nst-atsign _fr"></div>
                  <div class="nst-eye _fr"></div>
                  <div class="nst-search _fr"></div>
                </td>
                <td class="nst-more">
                  <div class="nst-more-badge"></div>
                </td>
              </tr>
            </table>
          </li>

          <ul> <!--second level-->
            <li>
              <table>
                <tr>
                  <td class="arrow">
                    <label id="nst-arrow-rotated"></label>
                  </td>
                  <td class='logo'>
                    <img src="../assets/images/angular-material.png">
                  </td>
                  <td class='name'>
                    <div class="_dt">
                      <div class="_dtr">
                        <div class="_dtc">
                          <div class="role-icon-crown"> 
                          </div>
                        </div>
                        <div class="_dtc">
                          <h5>Nested</h5>
                        </div>
                      </div>
                    </div>
                    <div class="_dtr">
                      <div class="_dtc">
                        <label id="empty-space"></label>
                      </div>
                      <div class="_dtc">
                        <p>ronak.nested@nested.me</p>
                      </div>
                    </div>
                  </td>
                  <td class='members'>
                    <!--<img src='" + pic_url + "'/>-->
                    <div class='nst-more-members'>+9</div>
                    <div class='account-initials-right place-members'></div>
                    <div class='account-initials-right place-members'></div>
                    <div class='account-initials-right place-members'></div>

                  </td>
                  <td class='properties'>
                    <div class="nst-pencil _fr"></div>
                    <div class="nst-atsign _fr"></div>
                    <div class="nst-eye _fr"></div>
                    <div class="nst-search _fr"></div>
                  </td>
                  <td class="nst-more">
                    <div class="nst-more-badge"></div>
                  </td>
                </tr>
              </table>
            </li>

            <ul> <!--third level-->
              <li>
                <table>
                  <tr>
                    <td class="arrow">
                    </td>
                    <td class='logo'>
                      <img src="../assets/images/angular-material.png">
                    </td>
                    <td class='name'>
                      <div class="_dt">
                        <div class="_dtr">
                          <div class="_dtc">
                            <div class="role-icon-green"> 
                            </div>
                          </div>
                          <div class="_dtc">
                            <h5>App</h5>
                          </div>
                        </div>
                      </div>
                      <div class="_dtr">
                        <div class="_dtc">
                          <label id="empty-space"></label>
                        </div>
                        <div class="_dtc">
                          <p>ronak.nested@nested.me</p>
                        </div>
                      </div>
                    </td>
                    <td class='members'>
                      <!--<img src='" + pic_url + "'/>-->
                      <div class='nst-more-members'>+1</div>
                      <div class='account-initials-right place-members'></div>
                      <div class='account-initials-right place-members'></div>
                      <div class='account-initials-right place-members'></div>

                    </td>
                    <td class='properties'>
                      <div class="nst-eye _fr"></div>
                      <div class="nst-search _fr"></div>
                    </td>
                    <td class="nst-more">
                      <div class="nst-more-badge"></div>
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td class="arrow">
                    </td>
                    <td class='logo'>
                      <img src="../assets/images/angular-material.png">
                    </td>
                    <td class='name'>
                      <div class="_dt">
                        <div class="_dtr">
                          <div class="_dtc">
                            <div class="role-icon-gray"> 
                            </div>
                          </div>
                          <div class="_dtc">
                            <h5>Hello</h5>
                          </div>
                        </div>
                      </div>
                      <div class="_dtr">
                        <div class="_dtc">
                          <label id="empty-space"></label>
                        </div>
                        <div class="_dtc">
                          <p>ronak.nested@nested.me</p>
                        </div>
                      </div>
                    </td>
                    <td class='members'>
                      <!--<img src='" + pic_url + "'/>-->
                      <div class='account-initials-right place-members'></div>
                      <div class='account-initials-right place-members'></div>
                    </td>
                    <td class='properties'>
                      <div class="nst-eye _fr"></div>
                      <div class="nst-search _fr"></div>
                    </td>
                    <td class="nst-more">
                      <div class="nst-more-badge"></div>
                    </td>
                  </tr>
                </table>
              </li>

            </ul> <!--second level-->
            <li>
              <table>
                <tr>
                  <td class="arrow">
                  </td>
                  <td class='logo'>
                    <img src="../assets/images/angular-material.png">
                  </td>
                  <td class='name'>
                    <div class="_dt">
                      <div class="_dtr">
                        <div class="_dtc">
                          <div class="role-icon-green"> 
                          </div>
                        </div>
                        <div class="_dtc">
                          <h5>Magnet</h5>
                        </div>
                      </div>
                    </div>
                    <div class="_dtr">
                      <div class="_dtc">
                        <label id="empty-space"></label>
                      </div>
                      <div class="_dtc">
                        <p>ronak.magnet@nested.me</p>
                      </div>
                    </div>
                  </td>
                  <td class='members'>
                    <!--<img src='" + pic_url + "'/>-->
                    <div class='nst-more-members'>+1</div>
                    <div class='account-initials-right place-members'></div>
                    <div class='account-initials-right place-members'></div>
                  </td>
                  <td class='properties'>
                    <div class="nst-pencil _fr"></div>
                  </td>
                  <td class="nst-more">
                    <div class="nst-more-badge"></div>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <li> <!--first level-->
            <table>
              <tr>
                <td class="arrow">
                </td>
                <td class='logo'>
                  <img src="../assets/images/angular-material.png">
                </td>
                <td class='name'>
                  <div class="_dt">
                    <div class="_dtr">
                      <div class="_dtc">
                        <div class="role-icon-green"> 
                        </div>
                      </div>
                      <div class="_dtc">
                        <h5>Subscribes</h5>
                      </div>
                    </div>
                  </div>
                  <div class="_dtr">
                    <div class="_dtc">
                      <label id="empty-space"></label>
                    </div>
                    <div class="_dtc">
                      <p>ronak.magnet@nested.me</p>
                    </div>
                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='nst-more-members'>+1</div>
                  <div class='account-initials-right place-members'></div>
                  <div class='account-initials-right place-members'></div>
                </td>
                <td class='properties'>
                  <div class="nst-pencil _fr"></div>
                </td>
                <td class="nst-more">
                  <div class="nst-more-badge"></div>
                </td>
              </tr>
            </table>
          </li>
          <li> <!--first level-->
            <table>
              <tr>
                <td class="arrow">
                </td>
                <td class='logo'>
                  <img src="../assets/images/angular-material.png">
                </td>
                <td class='name'>
                  <div class="_dt">
                    <div class="_dtr">
                      <div class="_dtc">
                        <div class="role-icon-green"> 
                        </div>
                      </div>
                      <div class="_dtc">
                        <h5>Subscribes</h5>
                      </div>
                    </div>
                  </div>
                  <div class="_dtr">
                    <div class="_dtc">
                      <label id="empty-space"></label>
                    </div>
                    <div class="_dtc">
                      <p>ronak.magnet@nested.me</p>
                    </div>
                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='nst-more-members'>+1</div>
                  <div class='account-initials-right place-members'></div>
                  <div class='account-initials-right place-members'></div>
                </td>
                <td class='properties'>
                  <div class="nst-pencil _fr"></div>
                </td>
                <td class="nst-more">
                  <div class="nst-more-badge"></div>
                </td>
              </tr>
            </table>
          </li>

        </ul>

      </div>
    </div>



