<div>
  <div>
    <nested-navbar></nested-navbar>
  </div>


  <div class="_dtr _fh">
    <div class="_dtc">
      <div class="_dt _fh _fw _bggray">
        <ul id="AllPlaces">
          <li>
            <table>
              <tr>
                <td class="arrow">
                  <label id="nst-arrow">

                  </label>
                </td>
                <td class='logo'>

                  <img src="../assets/images/yeoman.png ">
                </td>
                <td class='name'>
                  <div class='_dtr'>

                    <div class='_dtc'>
                        <span id="place-logo"> 
                          <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                          <label for="place"></label> 
                        </span>
                    </div>

                    <div class='_dtc'>
                      <h5>Sale's place</h5>

                      </div>
                    <div class="_dtr">
                      <div class="_dtc ">
                        lll
                        </div>
                      <div class="_dtc">
                      <p>kutlass@nested.me</p></div>
                      </div>

                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials'>
                  </div>
                </td>
                <td class='properties'>
                    <span id="nst-pencil"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                    <span id="nst-atsign"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                      <span id="nst-more-badge">
                       <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                  </span>
                </td>
              </tr>
            </table>
          </li>

          <li>
            <table>
              <tr>
                <td class='logo'>
                  <img src="../assets/images/yeoman.png ">
                </td>
                <td class='name'>
                  <div class='_dtr'>
                    <div class='_dtc'>
                        <span id="place-logo"> 
                          <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                          <label for="place"></label> 
                        </span>
                    </div>
                    <div class='_dtc'>
                      <h5>Ronak Software</h5>
                      <p>ronaksoftwaregroup@nested.me</p></div>
                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials'>
                  </div>
                  <div class='account-initials'>
                  </div>
                  <div class='account-initials'>
                  </div>
                </td>
                <td class='properties'>
                    <span id="nst-pencil"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                    <span id="nst-atsign"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                   <span id="nst-eye"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                   <span id="nst-more-badge">
                       <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                </td>

              </tr>
            </table>
          </li>

          <li>
            <table>
              <tr>
                <td class='logo'>
                  <img src="../assets/images/yeoman.png ">
                </td>
                <td class='name'>
                  <div class='_dtr'>
                    <div class='_dtc'>
                        <span id="place-logo"> 
                          <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                          <label for="place"></label> 
                        </span>
                    </div>
                    <div class='_dtc'>
                      <h5>Ronak Software</h5>
                      <p>ronaksoftwaregroup@nested.me</p></div>
                  </div>
                </td>
                <td class='members'>
                  <!--<img src='" + pic_url + "'/>-->
                  <div class='account-initials'>
                  </div>
                  <div class='account-initials'>
                  </div>
                  <div class='account-initials'>
                  </div>
                </td>
                <td class='properties'>
                    <span id="nst-pencil"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                    <span id="nst-atsign"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                  <span id="nst-search"> 
                      <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                     </span>
                   <span id="nst-more-badge">
                       <input type="checkbox" id="place" name="place" value="remember"  data-ng-model="login.remember"/> 
                      <label for="place"></label> 
                </td>
              </tr>
            </table>
          </li>

        </ul>
      </div>
    </div>

