<table>
  <tr>
    <td class="arrow-places">
      <label data-ng-model="colp" data-ng-show="place.children.length > 0" class="{{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}" data-ng-init="colp = false" data-ng-click="colp =! colp"></label>
    </td>
    <td class="logo">
      <img class="account-initials-48" data-ng-if="place.picture.org.uid" src="{{place.picture.x64.url}}"/>
      <div class="account-initials-48" data-ng-if="!place.picture.org.uid" data-ng-bind="place.name | initials:2"></div>
    </td>
    <td class="name _tofe">
      <div class="_dt">
        <div class="_dtr">
          <div class="_dtc" data-ng-switch="place.role">
            <div data-ng-switch-when="creator" class="role-icon-crown"></div>
            <div data-ng-switch-when="key_holder" class="role-icon-green"></div>
            <div data-ng-switch-default class="role-icon-gray"></div>
          </div>
          <div class="_dtc">
            <h5 data-ng-bind="place.name"></h5>
          </div>
        </div>
      </div>
      <div class="_dtr">
        <div class="_dtc">
          <label class="empty-space"></label>
        </div>
        <div class="_dtc">
          <p  class="nst-mood-storm" data-ng-bind="place.id + '@nested.me'"></p>
        </div>
      </div>
    </td>
    <td class="members">
      <div data-ng-if="place.counters.allMembers > 3" class="nst-more-members" data-ng-bind="'+' + (place.counters.allMembers - 3)"></div>
      <div data-ng-if="place.counters.allMembers < 4" class="nst-no-more-members"></div>

      <span data-ng-repeat="member in place.activeMembers | limitTo:3">
        <img data-ng-if="member.picture.org.uid" class="account-initials-right" src="{{member.picture.x32.url}}"/>
        <div data-ng-if="!member.picture.org.uid" class="account-initials-right place-members" data-ng-bind="member.name.initials"></div>
      </span>
    </td>
    <td class="properties">
      <div class="nst-pencil _fr"></div>
      <div class="nst-atsign _fr"></div>
      <div class="nst-eye _fr"></div>
      <div class="nst-search _fr"></div>
    </td>
    <td class="nst-more">
      <a href="#/place/{{place.id}}"><div class="nst-more-badge"></div></a>
    </td>
  </tr>
</table>

<ul data-ng-if="place.children.length > 0" data-ng-show="colp">
  <li data-ng-repeat="place in place.children" data-ng-include="'app/places/place_row.html'" data-ng-model="place"></li>
</ul>

