<div class="_difc _fw placerow">
  <div class="_df placearrow">
    <div class="arrow-holder-places" data-ng-click="colp =! colp" data-ng-model="colp" data-ng-show="place.children.length > 0">
      <label class="label-position-places {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}" data-ng-init="colp = false"></label>
    </div>
  </div>
  <div class="logo _df">
    <a href="#/place/{{place.id}}">
      <img class="account-initials-48" data-ng-if="place.picture.org.uid" src="{{place.picture.x64.url}}"/>
      <img class="account-initials-48" data-ng-if="!place.picture.org.uid" src="../assets/icons/absents_place.svg"></img>
    </a>
  </div>
  <a class="name _df _fw" href="#/place/{{place.id}}">
    <div class="name _df _fw">
      <div class="_difh">
        <div class="_df ico" data-ng-switch="place.role">
          <div data-ng-switch-when="creator" class="role-icon-crown"></div>
          <div data-ng-switch-when="key_holder" class="role-icon-green"></div>
          <div data-ng-switch-default class="role-icon-gray"></div>
        </div>
        <div class="_difv _fw">
          <h5 class="_df" data-ng-bind="place.name"></h5>
          <p class="nst-mood-storm _df" data-ng-bind="place.id + '@nested.me'"></p>
        </div>
      </div>
    </div>
  </a>
  <div class="members _df">
    <div data-ng-if="place.counters.allMembers > 0" class="nst-more-members" data-ng-bind="place.counters.allMembers + ' Member' + (place.counters.allMembers > 1 ? 's' : '')"></div>
    <div data-ng-if="place.counters.allMembers == 0" class="nst-no-more-members"></div>
  </div>
  <div class="properties _df">

    <div class="nst-{{place.privacy.receptive ? '' : 'de'}}active-ico-pencil _fr"></div>
    <div class="nst-{{place.privacy.email ? '' : 'de'}}active-ico-atsign _fr"></div>
    <div class="nst-{{place.privacy.notidentical ? '' : 'de'}}active-ico-eye _fr"></div>
    <div class="nst-{{place.privacy.search ? '' : 'de'}}active-ico-search _fr"></div>

  </div>
  <div class="nst-more _df no-animation">
    <a href="#/place/{{place.id}}">
      <div data-uib-tooltip="Place option" data-tooltip-append-to-body="false" data-tooltip-placement="left-center" class="nst-option-badge"></div>
    </a>
    <a href="#/events/{{place.id}}">
      <div data-uib-tooltip="Show messages" data-tooltip-append-to-body="false" data-tooltip-placement="left-center" class="nst-act-badge"></div>
    </a>
  </div>
</div>
<hr class="lineee">
<ul data-ng-if="place.children.length > 0" data-ng-show="colp">
  <li data-ng-repeat="place in place.children" data-ng-include="'app/places/place_row.html'" data-ng-model="place"></li>
</ul>
