/**
  **********************************************************
  *     Nested Classes - Page Specific - Places *
  **********************************************************
 */

.option-add-icon-plc {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -48px;
  background-repeat: no-repeat;
}

#place-bg {
  background-color: $color-breeze-50;
}

#container-places {
  max-width: 1920px;
  min-width: 990px;
  margin: auto;
  height: 100%;
  width: 100%;
}

#AllPlaces ul {

}
#AllPlaces {
  min-width: 574px;
  overflow-y: scroll;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.placearrow{
  width: 40px;
}

#AllPlaces li {
  border-bottom: 1px solid $color-calm;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
#AllPlaces div {
}
#AllPlaces div:hover {
background-color: $color-sense-5;
}
#AllPlaces > div:hover:last-child {
  background-color: $color-white;
}

#AllPlaces ul {
  flex-direction: column;
  list-style: none;
  flex:1 0 auto;
}
#AllPlaces ul ul {
  list-style: none;
  padding-left: 25px;
}

#AllPlaces .logo {
  width: 48px;
  flex: none
}

#AllPlaces li > table td.logo > img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  vertical-align: middle;
}
#AllPlaces li li table {
  max-height: 48px
}
#AllPlaces li li > table td.logo > img {
  width: 32px;
  height: 32px;
  border-radius: 24px;
  vertical-align: middle;
}

#AllPlaces li > table td.name {
  min-width: 200px;
  margin-top: 15px;

}

#AllPlaces li > table td.name img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#AllPlaces li > table td.name h5 {
  margin: 1px 5px;
  font-weight: normal;
  font-size: small;
}

#AllPlaces li > table td.name p {
  margin-left: 5px;
  //color: #787878;
  font-size: x-small;
}

#AllPlaces .members {
  width: 168px;
  text-align: right;
}

#AllPlaces li > table td.members img {
  width: 32px;
  margin: 1px;
}

.place-members {
  margin-right: 5px;
}

.role-icon-crown {
  background: url('../assets/icons/roleicon_24.png') no-repeat;
  width: 24px;
  height: 24px;
}

.role-icon-crown-new {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 0px;

}

.role-icon-key {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}

.role-icon-avatar {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}

.role-icon-key-wait {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -48px;
}

.role-icon-avatar-wait {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -64px;
}

.role-icon-green {
  background: url('../assets/icons/roleicon_24.png') no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -24px;
}

.role-icon-gray {
  background: url('../assets/icons/roleicon_24.png') no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -48px;
}


[class*=nst-deactive-ico-]{
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
}

.nst-deactive-ico-atsign {
  background-position: 0px -48px;
}

.nst-deactive-ico-eye {
  background-position: 0px -24px;
}

.nst-deactive-ico-search {
  background-position: 0px -72px;
}

[class*=nst-active-ico-]{
  background: url('../assets/icons/placeicon_24.png') no-repeat;
  height: 24px;
  min-width: 24px;
}

.nst-active-ico-atsign {
  background-position: 0px -48px;
}

.nst-active-ico-eye {
  background-position: 0px -24px;
}

.nst-active-ico-search {
  background-position: 0px -72px;
}

.nst-more-badge {
  background: url('../assets/icons/more_32.png') no-repeat;
  height: 32px;
  width: 32px;
}

._dtc .nst-more-badge {
  width: 48px;
  height: 32px;
}

[class*=nst-place-icon-]{
  background: url('../assets/icons/placeicon_24_default.png') no-repeat;
  height: 24px;
  width: 24px;
}

.nst-place-icon-shown {
  background-position: 0px -96px;
}

.nst-place-icon-notif {
  background-position: 0px -120px;
}

.nst-place-icon-lock {
  background-position: 0px -24px;
}

.nst-place-icon-print {
  background-position: 0px 0px;

}
.nst-place-icon-search{
  background-position: 0px -72px;
}
.nst-place-icon-email{
  background-position: 0px -48px;
}

.nst-arrow {
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  padding: 0 0 0 5px;
  background-position: center center;
  cursor: pointer;
}

[class*=nst-arrow-]{
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  cursor: pointer;
  padding: 0 0 0 5px;
}
.nst-arrow-rotated {
  background-position: center center;
  transform: rotate(180deg);
}

.nst-arrow-rotated-90 {
  transform: rotate(90deg);
}

.nst-arrow-rotated-270 {
  transform: rotate(270deg);
}

.nst-menu-arrow {
  background: url('../assets/icons/menu_arrow_16.png') no-repeat;
  height: 12px;
  width: 12px;
  background-position: center center;
  cursor: pointer;
}

.arrow {
  width: 15px;
}

.arrow-places {
  width: 25px;
  vertical-align: middle;
}

.nst-more {
  width: 70px;
  justify-content: flex-start;
}

.empty-space {
  width: 24px;
  height: 24px;
}

.nst-more-members {
  min-width: 30px;
  height: 30px;
  float: right;
  line-height: 28px;
  text-align: center;
  font-size: $font-size-small;
  color: $color-storm;
  margin-left: 5px;
  margin-right: 5px;
}

.nst-no-more-members {
  min-width: 30px;
  height: 30px;
  float: right;
  line-height: 28px;
  text-align: center;
  font-size: $font-size-small;
  color: $color-storm;
  margin-left: 5px;
  margin-right: 5px;
}

.restplace {
  background-color: white;
  min-height: 500px;
}
.restplace:hover {
  background-color: white;
}
.margin-l-5 {
  margin-left: 5px;
}

.arrow-holder-places {
  height: 64px;
}

.label-position-places {
  margin-left: 5px;
  margin-top: 20px;
}

.name a {
  color: $color-solid;
}
.placerow {
  flex-direction: row;
  background-color: $color-white;
  position: relative;
}
.properties {
  width: 100px;
  flex:none;
}
.ico {
  min-width: 30px;
  padding-top: 4px;
  justify-content: center;
}
.lineee{
  margin: 0;
}
