<div id="place-settings">
  <div class="place-name">
    <label for="logo" class="pic">
      <img data-ng-if="ctlSettings.logoFile || ctlSettings.place.picture.thumbnails.x64.url.download"
           ng-src="{{ctlSettings.logoUrl || ctlSettings.place.picture.thumbnails.x64.url.download}}"/>
      <img data-ng-if="!ctlSettings.place.picture.thumbnails.x64.url.download && !ctlSettings.logoFile"
           src="/assets/icons/absents_place.svg"/>
    </label>
    <input id="logo" data-ng-disabled="!ctlSettings.hasControlAccess" type="file" name="logo" accept="image/*"
           onchange="angular.element(this).scope().ctlSettings.loadImage(event)"/>

    <div class="det">
      <h3 data-ng-if="ctlSettings.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name"
          editable-text="ctlSettings.place.name" onbeforesave="ctlSettings.update('name', $data)">
        {{ctlSettings.place.name || 'empty'}}<a class="change-button">change</a></h3>
      <h3 data-ng-if="!ctlSettings.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name">
        {{ctlSettings.place.name || 'empty'}}</h3>

      <h5 class="nst-mood-storm" data-tooltip-placement="left auto" data-uib-tooltip="Place ID">{{ctlSettings.place.id
        + '@nested.me'}}</h5>
    </div>
  </div>
  <div class="place-des">
    <p data-ng-if="ctlSettings.hasControlAccess" class="nst-mood-storm" data-tooltip-placement="left auto"
        data-uib-tooltip="Place description" editable-text="ctlSettings.place.description"
        onbeforesave="ctlSettings.update('description', $data)">{{ctlSettings.place.description || 'empty'}}</p>
    <p class="no-animation" data-tooltip-placement="left auto" data-uib-tooltip="Place description"
        data-ng-if="!ctlSettings.hasControlAccess">{{ctlSettings.place.description || 'empty'}}</p>
  </div>
  <p>Receiving</p>
  <div class="recive-set">
    <div class="_difh _fw _aic">
      <p>Everyone<span>&nbsp;(including email)&nbsp;</span></p><a class="change-button">change</a>
    </div>
    <p>Only Keyholders can send messages to this Place.</p>
    <div class="src-res">
      <p>Show in public search results?</p>
      <div class="place-switch">
        <input type="checkbox" name="checkbox_id" id="pub-res" value="value">
        <label for="pub-res"><b>ON</b>
          <div class="circle"></div>
        </label>
        <label for="pub-res"><b>OFF</b></label>
      </div>
    </div>
  </div>
  <div class="_difh _fw">
    <div class="_fw _difv">
      <p>Create Subplace Access</p>
      <select>
        <option value="Creators">Creators Only</option>
        <option value="Creators">Creators & Members</option>
      </select>
    </div>
    <div class="_fw _difv">
      <p>Create Subplace Access</p>
      <select>
        <option value="Creators">Creators Only</option>
        <option value="Creators">Creators & Members</option>
      </select>
    </div>
  </div>
  <p data-ng-if="ctlSettings.hasSeeMembersAccess">Keyholders</p>
  <div class="select-box2 _difh" data-ng-if="ctlSettings.hasSeeMembersAccess">
    <div class="add">
      <svg>
        <use xlink:href="/assets/icons/nst-icn20.svg#cross"></use>
      </svg>
    </div>
    <p>Add Keyholders</p>
  </div>
  <nst-place-member-item data-ng-if="ctlSettings.hasSeeMembersAccess" class="user-item"
                         data-ng-repeat="member in ctlSettings.teammates"
                         member="member" place="ctlSettings.place"
                         has-remove-access="ctlSettings.hasRemoveAccess"
                         has-control-access="ctlSettings.hasControlAccess" on-remove="ctlSettings.removeMember"
                         role="member.state"/>
</div>
<div class="close-modal" ng-click="$close(result)">
  <svg>
    <use xlink:href="/assets/icons/nst-icn32.svg#cross"></use>
  </svg>
</div>
