<nst-mini-navbar></nst-mini-navbar>
<div class="nst-navbar">
  <div class="nst-content _tr">
    <div class="content">
      <div class="place-logo"  ng-if="ctlFullNavbar.pictureUrl || ctlFullNavbar.pictureClass">
          <div data-ng-if="ctlFullNavbar.pictureClass" class="icon {{ctlFullNavbar.pictureClass}}"></div>
          <img ng-if="ctlFullNavbar.pictureUrl" class="_tr" ng-src="{{ctlFullNavbar.pictureUrl}}"/>
      </div>
      <div class="place-info _difv">
        <cite>{{ctlFullNavbar.title}}</cite>
        <h3 id="place-address">{{ctlFullNavbar.getPlaceId()}}@nested.me</h3>
        <p>{{ctlFullNavbar.description}}</p>
        <div class="navigation" ng-if="!ctlFullNavbar.controls">
          <nav>
            <a ng-href="{{ctlFullNavbar.getMessagesUrl()}}" ng-click="ctlFullNavbar.rollUpward('message')" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isMessages ? 'active' : ''}}">
              Messages
            </a>
            <!-- <a ng-href="{{ctlFullNavbar.getFilesUrl()}}" ng-click="ctlFullNavbar.rollUpward('files')" ng-if="!ctlFullNavbar.isBookmarkMode" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isFiles ? 'active' : ''}}">
              Files
            </a> -->
            <a ng-href="{{ctlFullNavbar.getActivityUrl()}}" ng-click="ctlFullNavbar.rollUpward('activity')" ng-if="!ctlFullNavbar.isBookmarkMode" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isActivity ? 'active' : ''}}">
              Activity
            </a>
            <a ng-href="{{ctlFullNavbar.getSettingsUrl()}}" ng-if="ctlFullNavbar.hasPlace()" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isPlaceSettings ? 'active' : ''}}">
              Settings
            </a>
          </nav>
          <div class="search">
            <input type="text" nst-mention class="form-control"
                   placeholder="Search in {{ctlFullNavbar.hasPlace() ? ctlFullNavbar.title : 'all places'}}"
                   type="text" ng-keyup="ctlFullNavbar.search(ctlFullNavbar.searchQuery, $event);"
                   ng-model="ctlFullNavbar.searchQuery"/>
            <i class="icon cursor-pointer icon-search-rotated"></i>
           </div>
         </div>
        <div class="navigation" ng-if="ctlFullNavbar.controls">
          <nav>
            <div class="_df _fw" data-ng-repeat="control in ctlFullNavbar.controls.left" data-ng-switch="control.type">
              <a data-ng-switch-when="button" class="butn-white-nav nst-mood-storm"
                 href="{{control.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
              <a data-ng-switch-when="button-back" class="butn-white-nav nst-mood-storm"
                 href="{{ctlFullNavbar.page.state.previous.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
              <label data-ng-switch-when="button-label" class="butn-white-nav nst-mood-storm"
                     data-ng-click="control.fn()" for="{{control.data.id}}">
                     <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                     <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
              </label>
              <a data-ng-switch-when="button-success" class="butn-green-nav"
                 href="{{control.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
            </div>

            <div class="_df _fn" data-ng-repeat="control in ctlFullNavbar.controls.right" data-ng-switch="control.type">
              <a data-ng-switch-when="button" class="_fr butn-white-nav nst-mood-storm"
                 href="{{control.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
              <a data-ng-switch-when="button-back" class="butn-white-nav nst-mood-storm"
                 href="{{ctlFullNavbar.page.state.previous.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
              <label data-ng-switch-when="button-label" class="_fr butn-white-nav nst-mood-storm"
                     data-ng-click="control.fn()" for="{{control.data.id}}">
                     <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                     <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
              </label>
              <a data-ng-switch-when="button-success" class="_fr butn-green-nav"
                 href="{{control.url}}" data-ng-click="control.fn()">
                 <span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>
                 <div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>
               </a>
            </div>
          </nav>
         </div>

         <div class="nav-access">
           <svg  class="cursor-pointer margin-r_5 icon-rp _df popover-white-nst-activity-places" popover-append-to-body="true" uib-popover-template="'app/components/navbar/full/navbar-setting-popover.html'"
                 popover-trigger="outsideClick" data-popover-placement="bottom-right">
             <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
             <use xlink:href="/assets/icons/nst-icn24.svg#Wmore"></use>
           </svg>
           <svg ng-click="ctlFullNavbar.toggleBookmark()" ng-class="{active : ctlFullNavbar.isBookmarked}">
             <use xlink:href="/assets/icons/nst-icn24.svg#Wfav"></use>
           </svg>
           <svg class="svg-hover morphed" ng-click="ctlFullNavbar.toggleNotification()"  ng-class="{active : ctlFullNavbar.notificationStatus}">
             <use xlink:href="/assets/icons/nst-icn24.svg#Wnotifoff" ></use>
             <use xlink:href="/assets/icons/nst-icn24.svg#Wnotifon"></use>
           </svg>
         </div>
       </div>


       <!--<div class="navbar-top _df">-->
        <!--<div class="title-bar _difh _fw" ng-show="ctlFullNavbar.readyToShow">-->
          <!--<div class="logo-bar _df" ng-if="ctlFullNavbar.pictureUrl || ctlFullNavbar.pictureClass">-->
            <!--<div data-ng-if="ctlFullNavbar.pictureClass" class="icon {{ctlFullNavbar.pictureClass}}"></div>-->
            <!--<img ng-if="ctlFullNavbar.pictureUrl" class="account-initials-64 _tr" ng-src="{{ctlFullNavbar.pictureUrl}}"/>-->
          <!--</div>-->
          <!--<div class="name _fw _difv _jcc">-->
            <!--<a class="_df _tr">{{ctlFullNavbar.title}}</a>-->
            <!--<span class="nst-mood-storm _df _tr" data-ng-if="ctlFullNavbar.hasPlace()">{{ctlFullNavbar.getPlaceId()}}@nested.me</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="navbar-bottom _fw" data-ng-if="!ctlFullNavbar.controls">-->
        <!--<div id="inputsearch" class="has-feedback _fw">-->
          <!--<input type="text" nst-mention class="form-control" placeholder="Search in {{ctlFullNavbar.hasPlace() ? ctlFullNavbar.title : 'all places'}}" type="text" ng-keyup="ctlFullNavbar.search(ctlFullNavbar.searchQuery, $event);" ng-model="ctlFullNavbar.searchQuery"/>-->
          <!--<i ng-click="ctlFullNavbar.srch('inputsearch');"-->
             <!--class="_pa _left icon-close-search form-control-feedback"></i>-->
        <!--</div>-->
        <!--<div class="_difh _fh _fw">-->
          <!--<div class="menu-links-search _df">-->
            <!--<div ng-click="ctlFullNavbar.srch('inputsearch');" class="icon cursor-pointer icon-search-rotated _dib"></div>-->
          <!--</div>-->

          <!--<a ng-href="{{ctlFullNavbar.getMessagesUrl()}}" ng-click="ctlFullNavbar.rollUpward('message')" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isMessages ? 'active' : ''}}">-->
            <!--Messages-->
          <!--</a>-->
          <!--<a ng-href="{{ctlFullNavbar.getActivityUrl()}}" ng-click="ctlFullNavbar.rollUpward('activity')" ng-if="!ctlFullNavbar.isBookmarkMode" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isActivity ? 'active' : ''}}">-->
            <!--Activity-->
          <!--</a>-->
          <!--<a ng-href="{{ctlFullNavbar.getSettingsUrl()}}" ng-if="ctlFullNavbar.hasPlace()" class="menu-links-butn _df li-hover {{ctlFullNavbar.page.isPlaceSettings ? 'active' : ''}}">-->
            <!--Settings-->
          <!--</a>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="navbar-bottom _fw" data-ng-if="ctlFullNavbar.controls">-->
        <!--<div class="_df _fw" data-ng-repeat="control in ctlFullNavbar.controls.left" data-ng-switch="control.type">-->
          <!--<a data-ng-switch-when="button" class="butn-white-nav nst-mood-storm"-->
             <!--href="{{control.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
          <!--<a data-ng-switch-when="button-back" class="butn-white-nav nst-mood-storm"-->
             <!--href="{{ctlFullNavbar.page.state.previous.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
          <!--<label data-ng-switch-when="button-label" class="butn-white-nav nst-mood-storm"-->
                 <!--data-ng-click="control.fn()" for="{{control.data.id}}">-->
                 <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
                 <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
          <!--</label>-->
          <!--<a data-ng-switch-when="button-success" class="butn-green-nav"-->
             <!--href="{{control.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
        <!--</div>-->

        <!--<div class="_df _fn" data-ng-repeat="control in ctlFullNavbar.controls.right" data-ng-switch="control.type">-->
          <!--<a data-ng-switch-when="button" class="_fr butn-white-nav nst-mood-storm"-->
             <!--href="{{control.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
          <!--<a data-ng-switch-when="button-back" class="butn-white-nav nst-mood-storm"-->
             <!--href="{{ctlFullNavbar.page.state.previous.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
          <!--<label data-ng-switch-when="button-label" class="_fr butn-white-nav nst-mood-storm"-->
                 <!--data-ng-click="control.fn()" for="{{control.data.id}}">-->
                 <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
                 <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
          <!--</label>-->
          <!--<a data-ng-switch-when="button-success" class="_fr butn-green-nav"-->
             <!--href="{{control.url}}" data-ng-click="control.fn()">-->
             <!--<span class="_dib _vat" ng-if="control.caption">{{control.caption}}</span>-->
             <!--<div class="_dib {{control.data.icon}}" ng-if="control.data.icon"></div>-->
           <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="content-plus"></div>
  </div>
</div>
<scroll-roller roll-upward="ctlFullNavbar.rollToTop"></scroll-roller>
