<nst-mini-navbar ng-if="$root.deviceDetector.isTablet() || $root.deviceDetector.isMobile()"></nst-mini-navbar>

<div class="nst-navbar _tr nfeed"
     ng-if="!ctlFullNavbar.isUnreadMode && !ctlFullNavbar.isSearchMode && !ctlFullNavbar.isConvMode && !ctlFullNavbar.isFeed && !ctlFullNavbar.isSentMode && !ctlFullNavbar.isBookmarkMode"
     data-ng-include="'app/components/navbar/full/navbar-static.html'">

</div>
<div ng-if="ctlFullNavbar.isUnreadMode || ctlFullNavbar.isConvMode ||
            ctlFullNavbar.isSearchMode || ctlFullNavbar.isFeed ||
            ctlFullNavbar.isSentMode || ctlFullNavbar.isBookmarkMode"
            class="nst-navbar-fff _tr">
  <div class="bg">
    <div></div>
  </div>
  <div class="nst-content _tr">
    <div class="content _pr unread-nav" ng-if="ctlFullNavbar.isUnreadMode">
      <div class="place-logo">
        <img ng-src="{{ctlFullNavbar.place | picture:'x128'}}"/>
      </div>
      <h2><translate>{{ctlFullNavbar.place.name}} total unseen posts</translate></h2>
    </div>
    <div class="content _pr conv-nav" ng-if="ctlFullNavbar.isConvMode">
      <div class="top-nav">
        <svg class="_24svg _r90 mirror _fn" ng-click="ctlFullNavbar.goBack();">
          <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
        </svg>
        <div class="conv-logos">
          <div class="place-avatar-32">
            <img initial-avatar="{{ctlFullNavbar.user.id}}" name="{{ctlFullNavbar.user.fullName}}" picture="{{ctlFullNavbar.user | avatar:'x64'}}" data-width="32" data-height="32" data-radius="4" data-word-count="2" data-font-size="12" ng-if="ctlFullNavbar.user"/>
          </div>
          <div class="place-avatar-40">
            <img initial-avatar="{{ctlFullNavbar.account.id}}" name="{{ctlFullNavbar.account.fullName}}" picture="{{ctlFullNavbar.account | avatar:'x64'}}" data-width="40" data-height="40" data-radius="4" data-word-count="2" data-font-size="12" ng-if="ctlFullNavbar.account"/>
          </div>
        </div>
        <h2 class="_df">
          <translate>Conversation with:</translate>
          &nbsp;
          <b ellipsis-mail="ctlFullNavbar.account.fullName" data-uib-tooltip="{{ctlFullNavbar.account.fullName}}"
             data-tooltip-enable="{{forceTooltip ? true : false}}" data-tooltip-placement="bottom-center">{{ctlFullNavbar.account.fullName}}</b>
        </h2>


      </div>
      <div class="bot-nav">
        <div class="_df _fw _pr">
          <input class="_fw" mention-new-method mention-enable-label type="text" placeholder="Search..." ng-model="ctlFullNavbar.query" translate-attrs="placeholder" ng-keyup="ctlFullNavbar.searchKeyPressed($event, ctlFullNavbar.query)">
          <svg class="_16svg close-inp" ng-if="ctlFullNavbar.query.length > 0" ng-click="ctlFullNavbar.query = ''">
            <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
          </svg>
        </div>
        <div class="cp-illu _fn">
        </div>
      </div>
    </div>
    <div class="content _pr srch-nav" ng-if="ctlFullNavbar.isSearchMode">
      <div class="bot-nav">
        <svg class="_24svg _r90 _df _fn mirror" ng-click="ctlFullNavbar.goBack()">
          <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
        </svg>
        <!--<input type="text" nst-mention mention-new-method mention-enable-label placeholder="Search..." class="_df _fw" ng-model="ctlFullNavbar.query" translate-attrs="placeholder" ng-keyup="ctlFullNavbar.searchKeyPressed($event, ctlFullNavbar.query)">-->
        <div class="search-chips-container _df _fw">
          <div ng-repeat="chip in ctlFullNavbar.chips" class="chips">
            <div class="chip-type">
              <svg class="_16svg _r90 _df _fn fill-white" ng-click="ctlFullNavbar.removeChip(chip.type, chip.title)">
                <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
              </svg>
              <span ng-if="chip.type != 'keyword'" class="_df _fn">{{chip.type}}</span>
            </div>
            <div class="chip-title">{{chip.title}}</div>
          </div>
          <input nst-mention mention-new-method mention-enable-label id="search-chip-input" placeholder="Search..." ng-model="ctlFullNavbar.chipQuery" translate-attrs="placeholder" ng-keyup="ctlFullNavbar.searchKeyPressed($event, ctlFullNavbar.chipQuery, true)">
        </div>
        <div class="cp-illu _fn"></div>
      </div>
    </div>
    <div class="content _pr" ng-if="ctlFullNavbar.isFeed || ctlFullNavbar.isSentMode || ctlFullNavbar.isBookmarkMode">
      <div class="bot-nav">
        <div class="navigation">
          <h2 class="_df _fw" ng-if="ctlFullNavbar.isFeed"><translate>Feed</translate></h2>
          <h2 class="_df _fw" ng-if="ctlFullNavbar.isSentMode"><translate>Shared by me</translate></h2>
          <h2 class="_df _fw" ng-if="ctlFullNavbar.isBookmarkMode"><translate>Bookmarks</translate></h2>
          <!--<nav>
            <a ui-sref="app.messages-favorites()" ng-click="ctlFullNavbar.rollUpward('message'); _track('navbar', 'view feed')" class="menu-links-butn _df li-hover" active-group="message">
              <svg class="icon-filter _df">
                <use xlink:href="/assets/icons/nst-icn24.svg#messages"></use>
              </svg>
              <translate>Feed</translate>
            </a>
            <a ui-sref="app.messages-bookmarked()" ng-click="ctlFullNavbar.rollUpward('message');  _track('navbar', 'view bookmarks');" class="menu-links-butn _df li-hover" active-group="bookmarked">
              <svg class="icon-filter _df">
                <use xlink:href="/assets/icons/nst-icn24.svg#bookmark"></use>
              </svg>
              <translate>Bookmarks</translate>
            </a>
            <a ui-sref="app.messages-sent()" ng-click="ctlFullNavbar.rollUpward('message');  _track('navbar', 'view sent');" class="menu-links-butn _df li-hover" active-group="sent">
              <svg class="icon-filter _df">
                <use xlink:href="/assets/icons/nst-icn24.svg#sent-message"></use>
              </svg>
              <translate>Shared by me</translate>
            </a>
          </nav>-->
          <div class="search">
            <input type="text" class="form-control"
                   nst-mention mention-new-method mention-enable-label place-id="{{ctlFullNavbar.placeId}}"
                   ng-keyup="ctlFullNavbar.search(ctlFullNavbar.searchQuery, $event);" ng-model="ctlFullNavbar.searchQuery"
                   placeholder="Search..." has-place="ctlFullNavbar.hasPlace()" place-name="ctlFullNavbar.title"/>
            <svg class="_24svg mirror _fn">
              <use xlink:href="/assets/icons/nst-icn24.svg#search"></use>
            </svg>
          </div>
        </div>
        <div class="cp-illu"></div>
      </div>
    </div>
  </div>
</div>

<scroll-roller roll-upward="ctlFullNavbar.rollToTop"></scroll-roller>
