<div>
  <a class="_df list-items _ac"  ng-click="ctlFullNavbar.showSettingsModal()"><div class="icon icon-viewicon-"></div><span>Place Setting</span></a>
  <a class="_df list-items _ac"  ng-click="ctlFullNavbar.showAddSubplaceModal()"><div class="icon icon-viewicon-"></div><span>Add Subplace</span></a>
  <a class="_df  list-items _ac" href="{{ctlFullNavbar.urls.Leave}}"><div class="option-delete-icon"></div><span>Leave</span></a>
  <a class="_df list-items _ac" href="{{ctlFullNavbar.urls.Add}}"><div class="add-icon"></div><span>Add Member</span></a>
</div>
