<a class="list-items _difh" ng-click="ctlFullNavbar.toggleBookmark()">
  <div>
    <svg class="_16svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn16.svg#messages"></use>
    </svg>
  </div>
  <input class="_fr" type="checkbox" id="comments" name="comments" ng-checked="ctlFullNavbar.isBookmarked"/>
  <label class="_fw setting _asc" for="comments"><translate>Show in Feed</translate></label>
</a>
<hr>
<a class="_df list-items _aic"
   href="#/profile"
   ng-if="ctlFullNavbar.isPersonal()">
  <div class="top-user-avatar-24">
    <img initial-avatar="{{ctlFullNavbar.user.fullName}}" picture="{{ctlFullNavbar.user | avatar}}" data-width="24" data-height="24" data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="12"/>
  </div>
  <span><translate>Profile Settings</translate></span>
</a>
<a class="_df list-items _aic"
   ui-sref="app.place-settings({ placeId : ctlFullNavbar.getPlaceId() })"
   ng-if="!ctlFullNavbar.isPersonal()"
   ng-click="ctlFullNavbar.openSettingsModal($event)">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#gear"></use>
    </svg>
  </div>
  <span><translate>Place Settings</translate></span>
</a>
<a class="_df list-items _aic" ng-click="ctlFullNavbar.openAddMemberModal($event);"
   ng-if="ctlFullNavbar.allowedToAddMember && !ctlFullNavbar.isSubPersonal()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
    </svg>
  </div>
  <translate ng-if="ctlFullNavbar.isGrandPlace">Invite Members</translate>
  <translate ng-if="!ctlFullNavbar.isGrandPlace">Add Members</translate>
</a>
<hr ng-if="ctlFullNavbar.allowedToAddPlace">
<a ng-if="ctlFullNavbar.isGrandPlace && !ctlFullNavbar.isPersonal() && ctlFullNavbar.allowedToAddPlace"
   class="_df list-items _aic" ui-sref="app.place-create({ placeId : ctlFullNavbar.getPlaceId() })"
   ng-click="ctlFullNavbar.openCreateSubplaceModal($event,'open')">
  <div>
    <svg class="_20svg">
      <use xlink:href="/assets/icons/nst-icn20.svg#openplace"></use>
    </svg>
  </div>
  <span><translate>Create an Open Place</translate></span>
</a>
<a class="_df list-items _aic" ui-sref="app.place-create({ placeId : ctlFullNavbar.getPlaceId() })"
   ng-click="ctlFullNavbar.openCreateSubplaceModal($event,'close')"
   ng-if="ctlFullNavbar.allowedToAddPlace">
  <div>
    <svg class="_20svg">
      <use xlink:href="/assets/icons/nst-icn20.svg#closedplace"></use>
    </svg>
  </div>
  <span><translate>Create a Closed Place</translate></span>
</a>
<hr ng-if="!ctlFullNavbar.isPersonal()">
<a class="_df red list-items _aic"
   ng-if="!ctlFullNavbar.isPersonal() && !ctlFullNavbar.isSubPersonal() && (!ctlFullNavbar.allowedToRemovePlace || (ctlFullNavbar.allowedToRemovePlace && ctlFullNavbar.place.counters.creators > 1))"
   ng-click="ctlFullNavbar.confirmToLeave()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  <span><translate>Leave</translate></span>
</a>
<a class="_df red list-items _aic"
   ng-if="!ctlFullNavbar.isSubPersonal() && !ctlFullNavbar.isPersonal() && ctlFullNavbar.allowedToRemovePlace"
   ng-click="ctlFullNavbar.confirmToRemove()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
    </svg>
  </div>
  <span><translate>Leave and Delete</translate></span>
</a>
<a class="_df red  list-items _aic" ng-if="ctlFullNavbar.isSubPersonal() && ctlFullNavbar.allowedToRemovePlace"
   ng-click="ctlFullNavbar.confirmToRemove()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  </svg>
  <span>Delete</span>
</a>
