<div class="bg"></div>
<div class="nst-content _tr">
  <div class="content _pr">
    <div class="top-nav" ng-if="ctlFullNavbar.hasPlace()">
      <div class="place-logo">
        <img ng-src="{{ctlFullNavbar.place | picture:'x128'}}"/>
      </div>
      <div class="place-info _difv" >
        <!--<div id="filler" affixers first-imp="true" parent=".content" after-content="72"></div>-->
        <cite fit-text>{{ctlFullNavbar.title}}</cite>
        <h3 id="place-address">
          <svg ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.isGrandPlace">
            <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && !ctlFullNavbar.isGrandPlace && !ctlFullNavbar.place.privacy.locked">
            <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && !ctlFullNavbar.isGrandPlace && ctlFullNavbar.place.privacy.locked">
            <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.place.privacy.receptive == 'off' &&  ctlFullNavbar.place.policy.add_post == 'creators'">
            <use xlink:href="/assets/icons/nst-icn16.svg#manager"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.place.privacy.receptive == 'off' && ctlFullNavbar.place.policy.add_post == 'everyone'">
            <use xlink:href="/assets/icons/nst-icn16.svg#manager-member"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.place.privacy.receptive == 'internal'">
            <use xlink:href="/assets/icons/nst-icn16.svg#team"></use>
          </svg>
          <svg ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.place.privacy.receptive == 'external'">
            <use xlink:href="/assets/icons/nst-icn16.svg#earth"></use>
          </svg>
          <span class="_ltr">{{ctlFullNavbar.getPlaceId()}}<span ng-show="ctlFullNavbar.hasPlace() && ctlFullNavbar.place.privacy.receptive == 'external'">@nested.me</span></span>
        </h3>
        <!--<p class="nst-mood-storm margin-t-5">{{ctlFullNavbar.placeDescription | truncate}}</p>-->

      </div>

    </div>
    <div class="bot-nav">
      <div class="navigation">
        <nav>
          <a ng-href="{{ctlFullNavbar.getMessagesUrl()}}" ng-click="ctlFullNavbar.rollUpward('message')" class="menu-links-butn _df li-hover" active-group="message">
            <svg class="icon-filter _df">
              <use xlink:href="/assets/icons/nst-icn24.svg#messages"></use>
            </svg>
            <translate>Messages</translate>
          </a>
          <a ng-href="{{ctlFullNavbar.getFilesUrl()}}" ng-click="ctlFullNavbar.rollUpward('files')" ng-if="!ctlFullNavbar.isBookmarkMode && ctlFullNavbar.hasPlace()" class="menu-links-butn _df li-hover" active-group="file">
            <svg class="icon-filter _df">
              <use xlink:href="/assets/icons/nst-icn24.svg#file"></use>
            </svg>
            <translate>Files</translate>
          </a>
          <a ng-href="{{ctlFullNavbar.getActivityUrl()}}" ng-click="ctlFullNavbar.rollUpward('activity')" ng-if="!ctlFullNavbar.isBookmarkMode && !ctlFullNavbar.isSentMode && !ctlFullNavbar.isFeed" class="menu-links-butn _df li-hover" active-group="activity">
            <svg class="icon-filter _df">
              <use xlink:href="/assets/icons/nst-icn24.svg#log"></use>
            </svg>
            <translate>Activities</translate>
          </a>
        </nav>
        <div class="search">
          <input type="text" nst-mention class="form-control" place-id="{{ctlFullNavbar.placeId}}"
                 ng-keyup="ctlFullNavbar.search(ctlFullNavbar.searchQuery, $event);" ng-model="ctlFullNavbar.searchQuery"
                 search-placeholder-setter has-place="ctlFullNavbar.hasPlace()" place-name="ctlFullNavbar.title"/>
          <i class="icon cursor-pointer icon-search-rotated"></i>
        </div>
        <div class="cp-illu"></div>
      </div>
    </div>
    <div class="nav-access" ng-if="ctlFullNavbar.hasPlace()">
      <script type="text/ng-template" id="more-uib-tooltip.html">
        <translate>More options</translate>
      </script>
      <div class="cursor-pointer icon-rp _df" data-popover-class="white-pop popover-white-nst-activity-places"
           data-popover-append-to-body="false" uib-popover-template="'app/components/navbar/full/navbar-setting-popover.html'"
           data-popover-popup-close-delay="100" data-popover-trigger="focus" data-popover-placement="auto bottom-right"
           data-uib-tooltip-template="'more-uib-tooltip.html'" data-tooltip-append-to-body="false"
           data-tooltip-placement="bottom-right auto" id="navbar-popover">
        <svg class=" fill-b">
          <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
        </svg>
      </div>
      <!--<script type="text/ng-template" id="add-uib-tooltip.html">-->
        <!--<translate ng-if="!ctlFullNavbar.isBookmarked">Add to feed</translate>-->
        <!--<translate ng-if="ctlFullNavbar.isBookmarked">Remove from feed</translate>-->
      <!--</script>-->
      <!--<div data-uib-tooltip-template="'add-uib-tooltip.html'" data-tooltip-append-to-body="false"-->
           <!--data-tooltip-placement="bottom-right auto">-->
        <!--<svg class="svg-hover" ng-click="ctlFullNavbar.toggleBookmark()" ng-class="{morphed : ctlFullNavbar.isBookmarked}">-->
          <!--<use xlink:href="/assets/icons/nst-icn24.svg#star-wire"></use>-->
          <!--<use xlink:href="/assets/icons/nst-icn24.svg#star"></use>-->
        <!--</svg>-->
      <!--</div>-->
      <script type="text/ng-template" id="notification-uib-tooltip.html">
        <translate ng-if="!ctlFullNavbar.notificationStatus" >Turn notification on</translate>
        <translate ng-if="ctlFullNavbar.notificationStatus">Turn notification off</translate>
      </script>
      <div data-uib-tooltip-template="'notification-uib-tooltip.html'" data-tooltip-append-to-body="false"
           data-tooltip-placement="bottom-right auto">
        <svg class="svg-hover" ng-click="ctlFullNavbar.toggleNotification()"  ng-class="{morphed : ctlFullNavbar.notificationStatus}">
          <use xlink:href="/assets/icons/nst-icn24.svg#bell-muted" ></use>
          <use xlink:href="/assets/icons/nst-icn24.svg#bell-ringed"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
