<div class="profile-section">
  <svg class="_16svg">
    <use xlink:href="/assets/icons/nst-icn16.svg#lock"></use>
  </svg>
  <translate>Password</translate>
</div>
<form class="inner-panel" ng-submit="ctrl.change(changePassForm.$valid);" name="changePassForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.oldPassword.$invalid && ctrl.submitted}">
    <label for="oldPassword" ng-if="changePassForm.oldPassword.$valid || !ctrl.submitted"><translate>Current Password</translate></label>
    <label class="error-message" ng-if="changePassForm.oldPassword.$error.required && ctrl.submitted"><translate>Enter your old password</translate></label>
    <input type="password" id="oldPassword" class="form-control" name="oldPassword" placeholder="Old Password" data-ng-model="ctrl.model.oldPassword" translate-attrs="placeholder" required/>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPassword.$invalid && ctrl.submitted}">
    <label for="newPassword" ng-if="changePassForm.newPassword.$valid || !ctrl.submitted"><translate>New password</translate></label>
    <label class="error-message" ng-if="changePassForm.newPassword.$error.required && ctrl.submitted"><translate>Enter your new password</translate></label>
    <label class="error-message" ng-if="!changePassForm.newPassword.$error.required && changePassForm.newPassword.$error.minlength && !changePassForm.newPassword.$pristine && ctrl.submitted"><translate>The old password you have entered is too short </translate></label>
    <label class="error-message" ng-if="!changePassForm.newPassword.$error.required && changePassForm.newPassword.$error.maxlength && !changePassForm.newPassword.$pristine && ctrl.submitted"><translate>The old password you have entered is too long</translate></label>
    <input id="newPassword" type="password" class="form-control" name="newPassword" placeholder="New Password" data-ng-model="ctrl.model.newPassword" translate-attrs="placeholder" required ng-minlength="6" ng-maxlength="24"/>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPasswordConfirm.$invalid && ctrl.submitted}">
    <label for="newPasswordConfirm" ng-if="changePassForm.newPasswordConfirm.$valid || !ctrl.submitted"><translate>Re-enter New password</translate></label>
    <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.required && ctrl.submitted"><translate>Retype your new password.</translate></label>
    <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.matchTo && !changePassForm.newPasswordConfirm.$pristine && ctrl.submitted && !changePassForm.newPasswordConfirm.$error.required"><translate>The passwords you typed do not match</translate></label>
    <input id="newPasswordConfirm" type="password" class="form-control" name="newPasswordConfirm" placeholder="Confirm new password" data-ng-model="ctrl.model.newPasswordConfirm" required match-to="ctrl.model.newPassword" translate-attrs="placeholder"/>
  </div>
  <div>
    <input class="butn-green _fw" type="submit" value="Change" translate-attrs="value"/>
  </div>
</form>
