<div class="profile-section">
  <svg class="_16svg">
    <use xlink:href="/assets/icons/nst-icn16.svg#lock"></use>
  </svg>
  <translate>Password</translate>
</div>
<form class="inner-panel" ng-submit="ctlPass.change(changePassForm.$valid);" name="changePassForm" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.oldPassword.$invalid && ctlPass.submitted}">
    <label for="oldPassword">Current Password</label>
    <label class="error-message" ng-if="changePassForm.oldPassword.$error.required && ctlPass.submitted"><translate>Enter your old password</translate></label>
    <input type="password" id="oldPassword" class="form-control" name="oldPassword" placeholder="Old Password" data-ng-model="ctlPass.model.oldPassword" translate-attrs="placeholder" required/>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPassword.$invalid && ctlPass.submitted}">
    <label for="newPassword">New password</label>
    <label class="error-message" ng-if="changePassForm.newPassword.$error.required && ctlPass.submitted"><translate>Enter your new password</translate></label>
    <label class="error-message" ng-if="changePassForm.newPassword.$error.minlength && !changePassForm.newPassword.$pristine && ctlPass.submitted"><translate>The old password you have entered is too short </translate></label>
    <label class="error-message" ng-if="changePassForm.newPassword.$error.maxlength && !changePassForm.newPassword.$pristine && ctlPass.submitted"><translate>The old password you have entered is too long</translate></label>
    <input id="newPassword" type="password" class="form-control" name="newPassword" placeholder="New Password" data-ng-model="ctlPass.model.newPassword" translate-attrs="placeholder" required ng-minlength="6" ng-maxlength="24"/>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPasswordConfirm.$invalid && ctlPass.submitted}">
    <label for="newPasswordConfirm">Re-enter New password</label>
    <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.required && ctlPass.submitted"><translate>Retype your new password.</translate></label>
    <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.matchTo && !changePassForm.newPasswordConfirm.$pristine && ctlPass.submitted && !changePassForm.newPasswordConfirm.$error.required" translate-inner>The passwords you typed do not match</label>
    <input id="newPasswordConfirm" type="password" class="form-control" name="newPasswordConfirm" placeholder="Confirm new password" data-ng-model="ctlPass.model.newPasswordConfirm" required match-to="ctlPass.model.newPassword" translate-attrs="placeholder"/>
  </div>
  <div>
    <input class="butn-green _fw" type="submit" value="Change" translate-attrs="value"/>
  </div>
</form>
