<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw">{{errorCtrl.title}}</p>
      <div class="_df" ng-click="$close();"><img src="../assets/icons/close.svg" class="_fh"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail">{{errorCtrl.reason}}</p>
    </div>
    <div class="_difh _jcc">
      <div class="butn-white _jcc _df" ng-click="$close();">
        <a class="_df">Return</a>
      </div>
    </div>
  </div>
</div>
