<div class="activity-recent">
  <div class="name">Recent Activities</div>
  <div class="recent-container _fw _df _jcc _fn" data-ng-if="recentCtrl.status.loadInProgress">
    <div class="nst-mood-cheerful no-gutter nst-margin-24">
      <div class="_fw">
        <div class="nst-loading nst-loading-size-4 _fl"></div>
        <span>&nbsp;</span>
        <div class="nst-font-xsmall _fr nst-marginbtm-4">Loading...</div>
      </div>
    </div>
  </div>
  <ul class="recent-container" data-ng-if="!recentCtrl.status.loadInProgress">
    <li class="recent-item" ng-repeat="activity in recentCtrl.activities">
      <recent-activity-item place="recentCtrl.place" model="activity"/>
    </li>
  </ul>
</div>
