.activity-recent {

  .recent-container {

    .recent-item.hot.ng-enter {
      transition: all 0.8s ease-out;
      opacity: 0;
    }
    .recent-item.hot.ng-enter-active {
      background-color: #E1FEE0;
      animation: bg-transiate 6s forwards;
      opacity: 1;
    }
  }
}
@keyframes bg-transiate {
    90% {
        background:#E1FEE0;
    }
    100% {
        background: #fff;
    }
}
