  <nested-navbar></nested-navbar>
  <div class="_fh _ma">
        <div class="panel-create-place _fh _ma">
          <ul class="list-inline head">
            <li>
              <a href="#">/</a>
            </li>
            <li>
              <img src="../assets/icons/arrow_16.png" class="arrow-right">
            </li>
            <li>
              <a herf="#">Ronak Holding</a>
            </li>
            <li>
              <img src="../assets/icons/arrow_16.png" class="arrow-right">
            </li>
            <li>
              <a herf="#">Nested Projects</a>
            </li>
            <li>
              <img src="../assets/icons/arrow_16.png" class="arrow-right">
            </li>
            <li>
              <a herf="#">Development Team</a>
            </li>
            <li class="_fr">
              <a herf="#" class="nst-mood-cheerful">Change Location</a>
            </li>
          </ul>
          <div class="_fw">
            <div class="_ma upload-photo">
              <img src="../assets/images/uploadphoto_16.png">
            </div>
          </div>
          <div class="inner-panel _ma">
            <div class="place-id">
              <div>
                Place ID
              </div>
              <div>
                <input aria-invalid="false" class="form-control ng-pristine ng-untouched ng-valid" name="place id"
                       type="text">
              </div>
              <div class="notice-bar">
                Place ID cant be change later.be careful!
              </div>
            </div>
            <div id="place-privacy">Place Privacy</div>
            <div>
              <ul class="list-inline">
                <li class=" nst-lock"></li>
                <li class="cp-text-leveling">Lock</li>
                <li class="cp-switch-option-right  _fr" data-ng-model="lock-btn"
                    data-ng-class="lock-btn ? 'cp-switch-option-right' : 'cp-switch-option-right-off'"
                    data-ng-click="lock-btn =! lock-btn">Off
                </li>
                <li class="cp-switch-option  _fr" data-ng-model="lock-btn"
                    data-ng-class="lock-btn ? 'cp-switch-option' : 'cp-switch-option-off'" data-ng-click="lock-btn =! lock-btn">On
                </li>
              </ul>
            </div>
            <div class="notice-bar">
              Parent members Can't view Inside The Place. <a href="" class="nst-mood-cheerful">Learn more</a>
            </div>
            <div>
              <ul class="list-inline">
                <li class="nst-print"></li>
                <li class="cp-text-leveling">Receptive</li>
                <li class="cp-switch-option-right _fr" data-ng-model="Receptive-btn"
                    data-ng-class="Receptive-btn ? 'cp-switch-option-right' : 'cp-switch-option-right-off'"
                    data-ng-click="Receptive-btn =! Receptive-btn">Off
                </li>
                <li class="cp-switch-option _fr" data-ng-model="Receptive-btn"
                    data-ng-class="Receptive-btn ? 'cp-switch-option' : 'cp-switch-option-off'" data-ng-click="Receptive-btn =! Receptive-btn">On
                </li>
              </ul>
            </div>
            <div class="notice-bar">
              Oly members Can Write Posts. <a href="" class="nst-mood-cheerful">Learn more</a>
            </div>
            <div>
              <ul class="list-inline">
                <li class="  nst-atsign"></li>
                <li class="cp-text-leveling">Email</li>
                <li class="cp-switch-option-right  _fr" data-ng-model="email-btn"
                    data-ng-class="email-btn ? 'cp-switch-option-right' : 'cp-switch-option-right-off'"
                    data-ng-click="email-btn =! email-btn">Off
                </li>
                <li class="cp-switch-option  _fr" data-ng-model="email-btn"
                    data-ng-class="email-btn ? 'cp-switch-option' : 'cp-switch-option-off'" data-ng-click="email-btn =! email-btn">On
                </li>
              </ul>
            </div>
            <div class="notice-bar">
              Disable until "Receptive" off. <a href="" class="nst-mood-cheerful">Learn more</a>
            </div>
            <div>
              <ul class="list-inline">
                <li class="  nst-search"></li>
                <li class="cp-text-leveling">Search</li>
                <li class="cp-switch-option-right  _fr" data-ng-model="search-btn"
                    data-ng-class="search-btn ? 'cp-switch-option-right' : 'cp-switch-option-right-off'"
                    data-ng-click="search-btn =! search-btn">Off
                </li>
                <li class="cp-switch-option  _fr" data-ng-model="search-btn"
                    data-ng-class="search-btn ? 'cp-switch-option' : 'cp-switch-option-off'" data-ng-click="search-btn =! search-btn">On
                </li>
              </ul>
            </div>
            <div class="notice-bar">
              Disable until "Receptive" off. <a href="" class="nst-mood-cheerful">Learn more</a>
            </div>
            <div>
              <div>
                Place Name
              </div>
              <div class="nst-marginbtm-0.5">
                <input aria-invalid="false" class="form-control ng-pristine ng-untouched ng-valid" name="place id"
                       type="text"/>
              </div>
              <div class="notice-bar">
                Short name help you to identify quickly your places.
              </div>
            </div>
            <div>
              <input type="submit" value="Create Place" class="btn btn-lg btn-block"/>
            </div>
          </div>
        </div>
  </div>

