.popover-userdetail {
  width: 208px;
  height: 208px;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  border: none;
  position: absolute;
  border-radius: 4px;
  .popover-content {
    padding: 0;
  }
  .user-avatar-bg {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;
    background-color: cadetblue;
    border-radius: 4px 4px 0 0;
    .blur-image {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      border-radius: 4px 4px 0 0;
      &:after {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.2);
      }
      div {
        width: 100%;
        height: 100%;
        transform: scale(2,2);
        background-size: cover;
        background-position: center center;
        transform-origin: center center;
        filter: blur(16px);
      }
    }
    .user-avatar-72 {
      z-index: 2;
      margin-top: 48px;
    }
  }
  .user-data {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 24px 12px 12px 12px;
    height: 118px;
    h4 {
      color: $color-solid;
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      font-weight: 700;
    }
    span {
      color: #00B45A;
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      padding-bottom: 8px;
    }
    div {
      display: inline-flex;
      flex-direction: row;
      flex: none;
      .butn-green {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
        line-height: 32px;
      }
      .butn-white {
        display: flex;
        flex: none;
        margin: 0 4px 0 0;
        i {
          transform: scale(.625,.625);
        }
      }
      svg {
        width: 32px;
        height: 32px;
        transform: scale(.85,.85);
        fill: $color-white;
      }
    }
  }
}
