<!-- <div id="setting" class="popup-panel popover-white-nst-setting">
  <div>
    <span class="spansetting">Select filter</span>
  </div>
  <div>
    <a class="_fw" href="">
      <div class="list-items">All</div>
    </a>
  </div>
  <div>
    <a class="_fw" href="">
      <div class="list-items">Messages</div>
    </a>
  </div>
  <div>
    <a class="_fw" href="">
      <div class="list-items">Comments</div>
    </a>
  </div>
  <div>
    <a class="_fw" href="">
      <div class="list-items">Logs</div>
    </a>
  </div>
</div> -->


<div id="setting" class="popup-panel popover-white-nst-setting">
  <span class="spansetting">Select filter</span>
  <a class="_db list-items" href="{{ctlActivity.urls.filters.all}}">All</a>
  <a class="_db list-items" href="{{ctlActivity.urls.filters.messages}}">Messages</a>
  <a class="_db list-items" href="{{ctlActivity.urls.filters.comments}}">Comments</a>
  <a class="_db list-items" href="{{ctlActivity.urls.filters.logs}}">Logs</a>
</div>
