<div id="change-pic" class="_fh">
  <div class="crop-modal-head">
    <translate>Fit Your Image</translate>
  </div>
  <!-- style="height: {{ctlCrop.width}}px;width: {{ctlCrop.width}}px"-->
  <div class="crop-modal-body" ng-if="ctlCrop.ready">
    <img-crop image="ctlCrop.uploadedImageURL" result-image="ctlCrop.cropedImage"
              result-image-quality="1" area-type="{{ctlCrop.type}}" on-load-done="ctlCrop.calc();"></img-crop>
  </div>
  <div class="crop-modal-foot">
    <input type="button"  ng-click="ctlCrop.close()" value="Discard" class="butn-white" translate-attrs="value">
    <input type="button" ng-click="ctlCrop.accept()" value="Done" class="butn butn-green" translate-attrs="value">
  </div>
</div>
