.abc {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
  right: 0;
  top: 0;
}
.main {
  background: url("../assets/images/mainbg.jpg") ;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  height: 100vh;
  min-height: 900px;
  color: #14D769;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}
.mainnested {
  margin-top:30px;
}
.mainnestedlogo {
  margin-top:90px;
}
.main h1 {
  font-size: 48px;
  font-family: corporativeblack;
  font-weight: 900;
}
.mainp {
  line-height: 21px;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  width:512px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.maininput {
  margin-top: 20px;
  width: 496px;
  min-height: 36px;
  color: #869D91;
  text-align: center;
  font-family: corporativeregular;
  font-size: 20px;
  font-weight: 100;
  padding: 6px 6px 6px 10px;
  border-radius: 10px;
}
#mainsubmit{
  color: white;
  font-weight: 900;
  font-size: 24px;
  margin-top: 15px;
  min-height: 48px;
  width: 496px;
  background-color: #14D769;
  border-radius: 10px;
  border-bottom: 3px;
  border-bottom-color: #2b542c;
  border-top-color: #14D769;
  border-left-color: #14D769;
  border-right-color: #14D769;
  border-style: inset;
}
#mainsubmit:hover{
  border-bottom: 0;
}
.mainsign {
  position: fixed;
  right: 25%;
  top: 18px;
  width: 150px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  margin-top: 15px;
  min-height: 30px;
  background-color: #14D769;
  border-radius: 10px;
  border-bottom: 3px;
  border-bottom-color: #2b542c;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: inset;
}
.mainsign:hover {
  border-bottom: 5px;
}
.mainsign a{
  font-size: 22px;
  text-decoration: none;
  font-family: corporativeblack;
  color: white;
}
footer {
  position: relative;
  min-height: 200px;
  text-align: left;
  width: 100%;
  background-color: #476152;
}

.liicon {
  margin: auto;
  margin-top:13px;
}

.footup{
  top: -60px;
  height: 20px;
}

.footup img {
  float: right;
}
.footup p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-top: 70px;
  margin-left: -88px;
}
.footup p b {
  font-weight: 900;
}

.footbud {
  width: 450px;
  margin-top: 10px;
}
.footbud h4{
  font-weight: 800;
  font-family: corporativeblack;
}

@media (min-width:990px){
  .footup{
    left: -300px;
  }

  .footbud {
    left: 20%;
  }
}

@media (max-width:768px){
  .box {
    min-height: 20vh;
  }
}

.footbud h4 {
  color: #14D769;
}

.footbud p {
  color: #fff;
  line-height: 1.1;
}

.row {
  margin: 0 0 0 0!important;
}

.copyRight {
  position: fixed;
  bottom: 7px;
  right: 7px;
  color: white;
  width: 300px;
}
