
body.drag-enter #compose-box:after {
  content: "Drop files ...";
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  background-color: rgba(71,97,82,.1);
  top:0;
  left:0;
  color: $color-hurricane;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 400px;
  text-align: center;
  border: 10px dashed $color-hurricane;
  box-sizing: border-box;
}

.event-dragover .droplet {
  opacity: .87;
  visibility: visible;
}

.event-dragover .droplet:after {
  content: "Drop files ...";
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: inline-block;
  position: relative;
  z-index: 9999;
  color: $color-hurricane;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 400px;
  text-align: center;
  border: 10px dashed $color-hurricane;
  box-sizing: border-box;
}
.event-dragleave .droplet {
  animation: dragDrop 2s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
//.event-dragenter .droplet {
//  background-color: #E7ECE9;
//  opacity: .5;
//  height: 100%;
//  animation: dragDrop .1s;
//}
//.event-drop .droplet {
//  background-color: transparent;
//  opacity: .5;
//  z-index: -990;
//  height: 100%;
//}
#view {
  z-index: 4000;
}
