
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
  height: 32px;
}
.fr-separator.fr-vs {
  height: 24px;
  margin: 3px 0;
}
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i {
  margin: 0;
  justify-content: center;
  width: 100%;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown i, .fr-popup .fr-command.fr-btn.fr-dropdown i, .fr-toolbar .fr-command.fr-btn.fr-dropdown span, .fr-popup .fr-command.fr-btn.fr-dropdown span, .fr-toolbar .fr-command.fr-btn.fr-dropdown img, .fr-popup .fr-command.fr-btn.fr-dropdown img {
  margin: 0;
  width: 24px;
}
.fr-toolbar .fr-command.fr-btn span, .fr-popup .fr-command.fr-btn span {
  min-width: 24px;
}
.fr-toolbar .fr-command.fr-btn img, .fr-popup .fr-command.fr-btn img {
  margin: auto;
  width: 24px;
  height: 24px;
  display: block;
  opacity: .72;
}
.fr-toolbar .fr-command.fr-btn[aria-pressed="true"] img,
.fr-toolbar .fr-command.fr-btn.fr-active img,
.fr-popup .fr-command.fr-btn[aria-pressed="true"] img {
  opacity: 1;
  background-color: $color-breeze-5-new;
  border-radius: 2px;
}
.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection {
  width: 38px;
}
.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li img {
  width: 24px;
  height: 24px;
}

.compose-wrapper .fr-box.fr-basic .fr-element {
    padding: 0;
    color: $color-black-reversable;
}
.compose-wrapper .fr-box.fr-basic .fr-wrapper {
  background: transparent
}
.editor-butns-wrapper .fr-toolbar.fr-bottom {
  box-shadow: none;
  border: none;
  background-color: rgb(234, 235, 235);
}
.compose-wrapper .fr-box {
  width: 100%;
  height: 100%;
  cursor: initial;
  p {
    margin: 0;
  }
  .fr-element {
    padding: 0;
    overflow: visible;
  }
}

.fr-toolbar .fr-command.fr-btn span.fr-sr-only, .fr-popup .fr-command.fr-btn span.fr-sr-only {
  padding: 0 4px;
  min-width: 80px;
  margin: 0 4px;
}
.fr-view table td, .fr-view table th {
  border-color: transparent;
}