body.iscroll-on .iscroll-scroller {
    position: relative;
    background-color: transparent;
}
body.iscroll-on .iscroll-wrapper {
    background-color: transparent;
    &:hover {
        .iScrollVerticalScrollbar.iScrollLoneScrollbar {
            opacity: 1!important;
        }
    }
}
.iscroll-wrapper.iscroll-off {
    overflow: auto
}