body.modal-open {
  .modal {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex!important;
    justify-content: center;
    align-items: center;
    //box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
    .butn-green {
      width: 128px;
    }
  }
}
#add-view {
  border: 1px solid $color-breeze;
  border-radius: 6px;
  background-color: $color-white;
  padding: 10px;
  width: 800px;
  height: auto;
}

#delete-view {
  border: 1px solid $color-breeze;
  border-radius: 8px;
  background-color: $color-white;
  padding: 15px;
  width: 510px;
  height: auto;
}

.modal-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.modal-detail {
  margin: 20px 0;
  font-size: $font-size-large;
}

.modal-detail a{
  font-weight: bold;
  color: $color-solid;
}

.modal-detail .small{
  font-weight: 100;
  font-size: $font-size-small;
}

.modal-detail input{
  min-height: 40px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.modal-attachment {
  //padding: 128px 0;
}

.modal-dialog {
  height: 100%;
  margin: 0;
  overflow-y: visible;
  height: 100%;
  .modal-content {
    //padding: 80px 0;
  }
}

.modal.in .modal-dialog{
  border-radius: $border-radius-large;
}


.modal-xlg, .modal-mlg {
  width: auto;
}

.modal-xlg {
  margin: 0 1%;
}

.modal-mlg {
  width: 100%;
  margin:  80px;
  max-width: 1600px;
  max-height: 1200px;
  display: flex;
  align-items: center;
  .modal-content {
    height: 100%
  }
}

.modal-sm {
  width: auto!important;
  height: auto!important;
  vertical-align: middle;
  max-height: 100%;
}

.modal-head {
  //margin: 10px 0;
}

.modal-head p {
  font-size: $font-size-xlarge;
  font-weight: 500;
}
.nst-modal-footer {
  background-color: $color-breeze-50;
  border-radius: $border-radius-large;
  margin-top: 15px;
  padding: 5px;
}

.modal-add {
  border-bottom: 1px solid $color-calm;
  margin: 10px 0;
  .butn-green-nav {
    margin: 0;
    position: relative;
    right: 20px;
  }
}
.ui-select-choices-row > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;
}
.modal-body {
  padding: 0;
  width: 100%;
  flex-direction: column;
  display: inline-flex;
  > p {
    font-size: 16px;
    line-height: 19px;
    color: $color-grey;
    font-weight: 400;
  }
}
.suggests {
  height: 180px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item {
    width: 48%;
    height: 50px;
    transition: all .3s;
    cursor: pointer;
    .item-logo {
      width: 64px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      img {
        width: 48px;
        height: auto;
      }
    }
    .det {
      flex: 1;
      justify-content: center;
      p {
        font-size: 16px;
        line-height: 19px;
        color: #143C82;
        font-weight: 400;
        margin: 0;
      }
      span {
        font-size: 13px;
        line-height: 16px;
        color: $color-grey-text;
        font-weight: 400;
        strong {
          color: $color-solid;
        }
      }
    }
    &:hover {
      background-color: #E8FBF0;
      border-radius: 2px;
      .det p {
        text-decoration: underline;
      }
    }
  }
  .item.invite {
    .item-logo {
      width: 48px;
      img {
        width: 32px;
        height: auto;
      }
    }
    .det {
      p {
        font-size: 16px;
        line-height: 19px;
        color: #143C82;
        font-weight: 400;
        margin: 0;
      }
    }
    &:hover {
      background-color: $color-bg-pending-hover;
    }
  }
  .item.add {
    height: 72px;
    .item-logo {
      width: 64px;
      img {
        width: 48px;
        height: auto;
      }
    }
    .det {
      p {
        line-height: 19px;
        font-size: 16px;
        color: $color-sense-wire;
        font-weight: 400;
      }
    }
    &:hover {
      background-color: #E8FBF0;
    }
  }
  .devider {
    width: 4%;
    height: 50px;
  }
}
.modal-add .ui-select-container ul {
  width: calc(100% + 50px)!important;
  max-height: 170px!important;
  overflow: hidden;
}
.modal-add .ui-select-choices-row{
  display: inline-flex;
  flex-direction: row;
  height: 50px;
  width: 33.3%;
  margin-top: 5px;
}
.modal-add .ui-select-choices-row a{
  display: inline-flex!important;
  flex-direction: row;
  height: 50px;
  width: 100%;
}
.modal-add .ui-select-choices-row:hover{
  background-color: $color-sense-5;
  cursor: pointer;
}
.modal-add  {
  .dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: $color-white;
    top: 70px;

  }
  input {
    padding-left: 0;
  }
}
.modal-add .ui-select-choices-row.active > a,
.modal-add .ui-select-choices-row.active > a:hover{
  background-color: transparent!important;
  color: $color-solid;
  border-radius: 10px;
}
.modal-add h5 {
  margin-top: 0;
  font-size: $font-size-xlarge;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -1px;
  font-weight: 700;
}

.modal-add input {
  border: none;
  padding: 5px 0;
  min-height: 32px;
}
.modal-sm {
  background-color: $color-white!important;
}
