body.modal-open {
  min-width: auto;
  overflow : hidden;
  .modal {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex!important;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    .butn-green {
      width: 128px;
    }
  }
}

.modal.in .modal-dialog{
  border-radius: $border-radius-large;
}

.modal-dialog {
  height: 100%;
  margin: 0;
  overflow-y: visible;
  height: 100%;
}

.modal-xlg {
  margin: 0 1%;
}

.modal-sm {
  background-color: $color-white!important;
  width: auto!important;
  height: auto!important;
  max-width: 100%;
  vertical-align: middle;
  max-height: 100%;
}

.modal-mlg {
  width: calc(100% - 160px);
  height: calc(100% - 160px);
  margin:  80px;
  max-width: 1600px;
  max-height: 1200px;
  display: flex;
  align-items: center;
  .modal-content {
    height: 100%
  }
}

// For compose full view
.modal-full.modal-dialog {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 64px;
  .modal-dialog,
  .modal-content {
    height: auto;
    width: auto;
    border: none;
    background: none;
    position: static;
    box-shadow: none;
  }
}

.modal-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.add-member-modal {
  border: 1px solid $color-breeze;
  border-radius: 6px;
  background-color: $color-white;
  width: 588px;
  height: auto;
  max-width: 100%;
  h4 {
    margin: 20px 12px 24px 12px;
    display: flex;
    span {
      padding-left: 16px;
      font-size: 20px;
      line-height: 24px;
      color: $color-solid;
    }
  }
  .butn-green {
    margin: 0;
    position: relative;
    //right: 20px;
    width: 104px;
    height: 32px;
    span {
      line-height: 32px;
    }
  }
  input.ui-select-search {
    margin-bottom: 6px;
    max-width: 715px;
    //width: auto!important;
  }
  .m-footer {
    padding: 0 8px;
    height: 48px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
  }
}

.mini-modal {
  border: 1px solid $color-breeze;
  border-radius: 6px;
  background-color: $color-white;
  padding: 24px;
  width: 510px;
  max-width: 100%;
  height: auto;
  @include user-select(none);
  .butn-white {
    width: 125px;
    height: 32px;
    align-items: center;
    line-height: 32px;
  }
  .butn-red{
    align-items: center;
    width: 128px;
    line-height: 32px;
    padding: 0;
    color: $color-white;
  }
  .butn-green{
    line-height: 32px;
  }
  .closebut {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.change-setting-modal {
  border: 1px solid $color-breeze;
  border-radius: 4px;
  background-color: $color-white;
  padding: 15px;
  max-width: 100%;
  height: auto;
  width: 384px;
  .change-setting-modal-footer {
    justify-content: flex-end;
    > div {
      align-items: center;
      width: 114px;
      height: 32px;
      justify-content: center;
      display: flex;
      font-size: 16px;
    }
  }
  textarea {
    resize: vertical;
  }
}

.modal-detail {
  margin: 20px 0;
  font-size: $font-size-large;
  a{
    font-weight: bold;
    color: $color-solid;
    user-select: all;
  }
  .small{
    font-weight: 100;
    font-size: $font-size-small;
  }
  input{
    min-height: 40px;
    margin-bottom: 10px;
    margin-top: 6px;
  }
}

.modal .modal-no-miss {
  width: 100%;
  height: 100%;
  min-width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0!important;
  margin: 0;
  .modal-content {
    position: relative;
    background-color: $color-white;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
  }

  & + div{
    background-color: transparent;
  }

}

.modal .modal-compose {
  width: 100%;
  height: 90%;
  min-width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  border-radius: 0!important;
  margin: 0;
  .modal-content {
    position: relative;
    top: 150px;
    background-color: $color-white;
    width: 632px;
    min-height: 480px;
    max-height: calc(90vh - 160px);
    // overflow: hidden;
    border-radius: 4px;
    >div {
      min-height: 480px;
      max-height: calc(90vh - 160px);
    }
    .ui-select-multiple.ui-select-bootstrap input.ui-select-search ,
    .ui-select-multiple.ui-select-bootstrap {
      padding: 0;
      // height: 29px;
    }
  }
  .compose-wrapper {
    width: 100%;
    min-height: 480px;
    height: 100%;
    position: relative;
    .fr-box.fr-basic .fr-element {
      min-height: 100px;
    }
    &.attached {
      .modal-bo {
        margin: 48px 0 204px 0;
        max-height: calc(90vh - 412px);
      }
      .compose-scrl-wrp {
        min-height: 145px;
        .wdt-emoji-picker {
          display: none;
          opacity: 0;
          visibility: hidden;
        }
      }
      .editor-btn-wrp {
        bottom: 156px;
      }
    }
  }
  .ui-select-choices-row:hover {
    background-color: transparent
  }
  .modal-head {
    height: 48px;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    padding-left: 16px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    svg {
      fill: rgba(0,0,0,.24);
      transition: fill $animation-dur;
      &:hover {
        fill: rgba(0,0,0,1);
      }
    }
  }
  .modal-bo {
    margin: 48px 0 96px 0;
    padding: 0 16px;
    height: calc(100% - 144px);
    max-height: calc(90vh - 304px);
    //overflow-y: scroll;
    //overflow-x: hidden;
    >p {
      color: $color-sense-wire;
      margin-bottom: 6px;
    }
    
  }
  .modal-ft {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    >svg ,
    > * >svg {
      // width: 24px;
      // height: 24px;
      position: static;
      fill: $color-hurricane;
    }
    > svg:hover ,
    > * > svg:hover {
      fill: $color-solid;
    }
    ._24svg {
      width: 24px;
      height: 24px;
      position: relative;
    }
    .butn-green {
      width: 80px;
      height: 32px;
    }
  }
  .editor-btn-wrp {
    height: 48px;
    // width: 100%;
    position: absolute;
    left: 0;
    bottom: 48px;
    padding: 0 16px;
    align-items: center;
    display: flex;
  }

  & + div{
    background-color: transparent;
  }

}
.fullCompose .modal .modal-compose  {
  height: 100%;
  .compose-wrapper {
    min-height: 0;
  }
  .modal-content{
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    max-height: 100vh;
    min-height: 0;
    .nst-attach {
        width: calc(100% - 32px);
        margin: 0 16px;
      }
    .modal-bo {
      margin-top: 48px;
      min-height: calc(100% - 252px);
      height: calc(100vh - 144px);
      max-height: calc(100vh - 413px);
    }
    #compose-full {
      use:first-child {
        display: none;
      }
      use:last-child {
        display: block;
      }
    }
  }
}
.fullCompose .modal .modal-compose .modal-content > div {
  min-height: 100vh;
  max-height: 100vh;
}

.modal-post-view,
.profile-setting-modal{
  width: 100%;
  height: 100%;
  overflow: initial;
  margin: 0!important;
  .modal-content {
    min-height: calc(100% - 56px);
    margin-top: 56px;
    min-width: 1024px;
    background-color: #FAFAFA;
    display: block;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

.modal-head {
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.modal-body {
  padding: 0;
  width: 100%;
  flex-direction: column;
  display: inline-flex;
  > p {
    @extend .nst-font-large;
    line-height: 24px;
    color: $color-grey;
    font-weight: 400;
  }
}

.add-user-modal-input {
  border-bottom: 1px solid $color-calm!important;
  width: calc(100% - 32px)!important;
  padding: 0;
  border-radius: 0;
  position: relative;
  margin: 0 16px 24px 16px;
  .butn-green-nav {
    margin: 0;
    position: relative;
    right: 20px;
  }
  h5 {
    margin-top: 0;
    @extend .nst-font-xlarge;
    line-height: 26px;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .searh-input {
    width: 100%;
    height: 32px;
  }
  input {
    border: none;
    padding: 5px 0;
    min-height: 32px;
  }
  &.ui-select-bootstrap .ui-select-choices-row{
    display: inline-flex;
    flex-direction: row;
    height: 48px;
    width: calc(33.3% - 12px);
    margin-bottom: 12px;
    margin-right: 12px;
    a{
      display: inline-flex!important;
      flex-direction: row;
      height: 48px;
      width: 100%;
      padding: 8px 4px;
    }
    &:hover{
      background-color: $color-sense-5;
      cursor: pointer;
    }
  }
  .dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: $color-white;
    top: calc(100% + 44px);
  }
  input {
    padding-left: 0;
  }
  a.ui-select-choices-row-inner {
    max-width: 100%;
    div {
      max-width: calc(100% - 48px);
    }
    span,small {
      width: 100%;
      @extend ._txe;
    }
  }
}

.modal-full-height-center {
  display: flex;
  position: fixed;
  opacity: 0.98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none!important;
  transition: opacity $animation-dur;
  margin: 0!important;
  border-radius: 0!important;
  &.multiple {
    .modal-content {
      display: flex;
    }
  }
  .modal-content {
    position: relative;
    box-shadow: none;
    border: none;
    overflow-y: auto;
    background-color: transparent;
    > div {
      background-color: $color-white;
      max-width: 480px;
      min-height: 100vh;
      left: 50vw;
      margin-left: -240px;
      position: relative;
      padding: 0 32px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    h2 {
      flex: none;
      color: #000000;
      letter-spacing: -1px;
      line-height: 38px;
      font-size: 32px;
      font-weight: 700;
      margin: 24px 0;
      span {
        margin-left: 16px;
        font-size: 24px;
        font-weight: 400;
        span {
          margin-left: 8px;
          color: $color-black04;
          font-size: 14px;
        }
      }
    }
    .pic {
      width: 96px;
      height: 96px;
      border-radius: 9px;
      box-shadow: 0 4px 16px $color-black16;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    button {
      width: 100%;
      transition: .2s all ease;
      margin: 54px 0 24px;
      line-height: 30px;
      font-size: 18px;
      font-weight: 700;
      @extend .butn-green;
      &:disabled {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
      }
    }
    button.submit {
      width: 100%!important;
    }
    input {
      width: 100%;
      min-height: 28px;
      /*color: $color-solid;*/
      @extend .nst-font-large;
      font-weight: 400;
      padding: 6px;
      transition: all .2s;
      margin-bottom: 10px;
    }
    aside{
      width: 100%;
      line-height: 16px;
      color: $color-black16;
      font-size: 13px;
      font-weight: 400;
      padding: 7px 0;
    }

    .field{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 10px 0 8px 0;
      border-bottom: 1px solid $color-black004;
      align-items: center;
      input {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
      }
      span {
        color: $color-black16;
        @extend .nst-font-large;
        font-weight: 400;
      }
      input {
        background-color: transparent;
        border-color: transparent;
        border-width: 2px;
      }
      input:hover {
        background-color: $color-white;
        border-color: $color-border;
      }

      input:focus {
        background-color: $color-white;
        border-color: $color-solid;
      }
    }
    .butn-white {
      height: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      cursor: pointer ;
    }
    select {
      line-height: 40px;
      color: $color-solid;
      @extend .nst-font-large;
      width: 100%;
      height: 40px;
      font-weight: 400;
      padding: 0 22px 0 8px;
    }

  }

}

.profile-set-view {
  .modal-content {
    .content {
      flex-direction: row;
    }
  }
}

.nst-modal {
  display: flex;
  flex-direction: column;
  .modal-head {
    height: 48px;
    width: 100%;
    display: flex;
    padding-right: 8px;
    align-items: center;
    .close-mdl {
      width: 40px;
      height: 40px;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      svg {
        fill: $color-solid;
      }
    }
    h2 {
      margin: 0;
      span {
        font-size: 19px;
        padding: 0 8px;
      }
    }
  }
  .modal-body {
    margin: 24px 0;
    padding: 0 16px;
  }
  .modal-footer {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border: none;
  }
}

div.modal .attach-place {
  width: 480px;
  max-width: 100%;
  .post-places >div{
    flex-wrap: wrap;
  }
  .ui-select-container > div {
    width: 100%;
  }
  .modal-body {
    input {
      padding: 8px 0;
      height: auto;
      border-bottom: 1px solid $color-breeze;
    }
    ::-webkit-input-placeholder {
      color:    $color-storm;
    }
    ::-moz-placeholder {
      color:    $color-storm;
      opacity:  1;
    }
  }

  .butn-green {
    height: 32px;
    width: 100%;
  }
}
