/**
  *********************************************************
  *     Nested Classes -   * ngProgress
  *********************************************************
*/
#ngProgress {
  background: linear-gradient(to right, $color-sense,$color-sense, transparent);
  color: transparentize($color-sense, 1 - .5)!important;
  //color: black!important;
  //opacity: .9!important;
  background-color: transparent!important;
}

.progress-bar {
  background-color: $color-solid-60;
}
.progress-bar-success {
  background-color: $color-sense;
}
