/*************************
 *    User Initials & avatars
 *************************/

* [class *= "account-initials-"] {
  margin-right: 8px;
  flex: none;
  justify-content: center;
}

@for $i from 1 through 32 {
  .account-initials-#{$i * 8} {
    width: #{$i * 8}px;
    height: #{$i * 8}px;
    border-radius: 50%;
    line-height: #{$i * 8 - 1}px;
    text-align: center;
    font-size: #{$i * 3}px;
    font-weight: normal;
    background-color: $color-solid-30;
    vertical-align: top;
  }
}
.top-user-avatar-24 {
  @include avatar(24px,24px,1010px);
}
.user-avatar-24 {
  @include avatar(40px,24px,1010px);
}
.user-avatar-32 {
  @include avatar(40px,32px,1010px);
}
.profile-user-avatar-32 {
  @include avatar(32px,32px,1010px);
}
.user-avatar-38 {
  @include avatar(40px,38px,1010px);
}
.user-avatar-48 {
  @include avatar(80px,48px,1010px);
}
.user-avatar-28 {
  @include avatar(32px,28px,1010px);
}
.user-avatar-40 {
  @include avatar(40px,40px,1010px);
}
.user-avatar-26 {
  @include avatar(32px,26px,1010px);
}
.user-avatar-64 {
  margin-right: 8px;
  @include avatar(64px,64px,1010px);
}
.user-avatar-72 {
  @include avatar(80px,72px,1010px);
}

.user-wrp {
  height: auto!important;
  align-items: center;
  .idname {
    justify-content: center;
    height: 40px;
    width: calc(100% - 32px);
    padding-left: 4px;
  }
}

.user-item {
  height: 72px;
  width: 100%;
  transition: all $animation-dur;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  &.j-selected {
    background-color: rgba(20, 215, 105,.10);
    .chk-box {
      .chk-ico {
        background: url('../assets/icons/controls.svg') right -16px no-repeat;
      }
    }
  }
  &:hover {
    background-color: rgba(20, 215, 105,.05);
    .user-more-opt {
      fill: $color-solid;
    }
  }
  .chk-box {
    width: 40px;
    display: flex;
    justify-content: center;
    flex: none;
    .chk-ico {
      display: flex;
      background: url('../assets/icons/controls.svg') right 0 no-repeat;
      height: 16px;
      width: 16px;
    }
  }
  .logo {
    display: flex;
    flex: none;
    @include avatar(48px,48px,500px)
  }
  .name {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    padding-left: 8px;
    overflow: hidden;
    p {
      @extend .nst-font-large;
      color: $color-solid;
      margin: 0;
      font-weight: 400;
    }
    span {
      color: #00B45A;
      @extend .nst-font-medium;
      font-weight: 400;
    }
  }
  .role {
    display: flex;
    align-items: center;
    flex: none;
    color:$color-wind;
  }
  .user-more-opt {
    min-width: 24px;
    fill: $color-wind;
    margin-left: 8px;
  }
  .invited {
    .name {
      p {
        color: $color-bg-pending;
      }
    }
    .role {
      color:$color-bg-pending;
    }
  }
}
