/****************************
 *  User Initials & avatars
 ****************************/

* [class *= "account-initials-"] {
  margin-right: 8px;
  flex: none;
  justify-content: center;
  font-weight: normal;
  vertical-align: top;
  background-color: $color-solid-30;
  text-align: center;
  border-radius: 50%;
}

@for $i from 1 through 32 {
  .account-initials-#{$i * 8} {
    width: #{$i * 8}px;
    height: #{$i * 8}px;
    line-height: #{$i * 8 - 1}px;
    font-size: #{$i * 3}px;
  }
}
.top-user-avatar-24 {
  @include avatar(24px,24px,1010px);
}
.user-avatar-20 {
  @include avatar(20px,20px,1010px);
}
.user-avatar-24 {
  @include avatar(40px,24px,1010px);
}
.user-avatar-32 {
  @include avatar(40px,32px,1010px);
}
.profile-user-avatar-32 {
  @include avatar(32px,32px,1010px);
}
.user-avatar-38 {
  @include avatar(40px,38px,1010px);
}
.user-avatar-48 {
  @include avatar(80px,48px,1010px);
}
.user-avatar-28 {
  @include avatar(32px,28px,1010px);
}
.user-avatar-40 {
  @include avatar(40px,40px,1010px);
}
.user-avatar-26 {
  @include avatar(32px,26px,1010px);
}
.user-avatar-64 {
  margin-right: 8px;
  @include avatar(64px,64px,1010px);
}
.user-avatar-72 {
  @include avatar(80px,72px,1010px);
}

