<div class="_difh top" nst-post-modal post="act.post">
  <div user-detail="act.actor.id" class="user-avatar-20">
    <img initial-avatar="{{act.actor.id}}" name="{{act.actor.fullName}}" picture="{{act.actor | avatar}}" data-width="20" data-height="20"
      data-radius="16" data-word-count="2" data-font-size="8" class="account-initials-20 _df _fn" />
  </div>
  <div class="sender _df">
    <div user-detail="act.actor.id">
      <a>{{act.actor.fullName}}</a>
    </div>
  </div>
  <svg class="_16svg _df _fn fill-sense-wire mirror">
    <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
  </svg>
</div>
<div class="body" nst-post-modal post="act.post">
  <div class="_difv">
    <p>
      <translate>added {{act.label.title | scapeRevSpace}} label to {{act.post.subject.length > 32 ? act.post.subject.substr(0,32) + '...' : act.post.subject}}.</translate>
    </p>
  </div>
  <div class="_df _fn comment-time">
    <span>{{act.date | passed | localize }}</span>
  </div>
</div>
