<div class="_difh top">
  <div user-detail="act.comment.sender.id" class="user-avatar-20">
    <img initial-avatar="{{act.actor.id}}" name="{{act.actor.fullName}}" picture="{{act.actor | avatar}}"
      data-width="16" data-height="20" data-radius="20" class="account-initials-20 _df _fn" data-word-count="2" data-font-size="8"
    />
  </div>
  <div class="sender _df">
    <div user-detail="act.comment.sender.id">
      <a auto-dir="act.actor.fullName">{{act.actor.fullName}}</a>
    </div>
  </div>
  <svg class="_16svg _df _fn crown">
    <use xlink:href="/assets/icons/nst-icn16.svg#comment"></use>
  </svg>
</div>
<div class="body" nst-post-modal post="act.post">
  <div class="_difv">
    <p ng-if="act.comment.body.length === 0">
      <translate>removed</translate>
    </p>
    <p auto-dir="act.comment.body" ng-if="act.comment.body.length > 0">
      <span>{{act.comment.body.length > 42 ? act.comment.body.substr(0,42) + '...' : act.comment.body}}</span>
    </p>
  </div>
  <div class="_df _fn comment-time">
    <span>{{act.date | passed | localize }}</span>
  </div>
</div>
