<div class="_df" nst-post-modal post="act.post">
  <div user-detail user="{{act.comment.sender}}">
    <img initial-avatar="{{act.comment.sender.fullName}}" picture="{{act.comment.sender | avatar}}" data-width="16" data-height="16" data-radius="16"
         class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
  </div>
</div>
<div class="colomn" nst-post-modal post="act.post">
  <div class="_difh top">
    <div class="sender _df _fn" user-detail user="{{act.comment.sender}}">
      <a class="on-avatar">{{::act.comment.sender.firstName}}</a> <span class="on-avatar">&nbsp;@{{::act.comment.sender.id}}</span>
    </div>
    <div class="_df _fw"></div>
    <div class="_df _fn">
      <span>{{act.date | passed }}</span>
    </div>
    <div class="ei-comment-add _df _fn"></div>
  </div>
  <div class="_df">
    <p><span><translate>commented:</translate></span>&nbsp;<emoji auto-dir="act.comment.body"><mark marked="act.comment.body"></mark></emoji></p>
  </div>
</div>
