<div class="_df">
  <div user-detail user="{{act.actor}}">
    <img initials="act.actor.fullname" data-url="act.actor.avatar" data-width="16" data-height="16" data-radius="16" class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
  </div>
</div>
<div class="colomn">
  <div class="_difh top">
    <div class="sender _fw _df">
      <a user-detail user="{{act.actor}}">{{::act.actor.name}}</a> <span user-detail user="{{act.actor}}">&nbsp;@{{::act.actor.id}}</span>
    </div>
    <div class="_df _fn">
      <span>{{act.date | passed }}</span>
    </div>
    <div class="ei-member-invite _df _fn"></div>
  </div>
  <div class="_df">
    <p><span>Invited</span> {{::act.member.name}}</p>
  </div>
</div>
