<div class="_df">
  <img initials="act.actor.fullname" data-url="act.actor.avatar" data-width="16" data-height="16" data-radius="16"
       class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
</div>
<div class="colomn">
  <div class="_difh top">
    <div class="sender _fw _df">
      <a>{{act.actor.name}}</a> <span>&nbsp;@{{act.actor.id}}</span>
    </div>
    <div class="_df _fn">
      <span>{{act.date | date : 'passed'}}</span>
    </div>
    <div class="ei-member-leave _df _fn"></div>
  </div>
  <div class="_df">
    <p data-ng-if="!(act.member.id == act.actor.id)">
      <span class="nst-mood-simple">Removed
        @{{act.member.id}}</span><span class="nst-mood-simple"> from
          {{act.inSpecificPlace ? "here" : act.place.name}}</span>
    </p>
    <p data-ng-if="act.member.id == act.actor.id">
      <span class="nst-mood-simple">Left
      {{act.inSpecificPlace ? "here" : act.place.name}}</span>
    </p>
  </div>
</div>
