<div class="user-detail"></div>
<div class="_df">
  <div user-detail user="{{act.actor}}">
    <img initial-avatar="{{::act.actor.fullName}}" picture="{{act.actor | avatar}}" data-width="16" data-height="16" data-radius="16" class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
  </div>
</div>
<div class="colomn">
  <div class="_difh top">
    <div class="sender _df" user-detail user="{{act.actor}}">
      <a class="on-avatar">{{::act.actor.firstName}}</a>
    </div>
    <div class="_df _fw"></div>
    <div class="_df _fn">
      <span>{{act.date | passed }}</span>
    </div>
    <div class="ei-member-invite _df _fn"></div>
  </div>
  <div class="_df">
    <p>
      <translate ng-if="currentPlaceId">created here</translate>
      <translate ng-if="!currentPlaceId">created {{::act.place.name}}</translate>
    </p>
  </div>
</div>
