<div nst-post-modal post="act.post" class="_df">
  <div user-detail="act.post.sender">
    <img initial-avatar="{{::act.post.sender.id}}" name="{{::act.post.sender.firstName}}" picture="{{act.post.sender | avatar}}" data-width="16" data-height="16" data-radius="16"
         class="account-initials-24 _df _fn" data-word-count="1" data-font-size="8"/>
  </div>
</div>
<div class="colomn" nst-post-modal post="act.post">
  <div class="_difh top">
    <div class="sender _df">
      <div user-detail="act.actor">
        <a class="on-avatar">{{::act.post.sender.firstName}}</a>
      </div>
    </div>
    <div class="_df _fn">
      <span>{{act.date | passed | localize }}</span>
    </div>
    <svg class="_16svg _df _fn fill-sense-wire">
      <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
    </svg>
  </div>
  <div class="_difv">
    <p auto-dir="act.post.subject" ng-if="act.post.subject.length > 0"><translate>move a post here: </translate><mark data-ng-bind-html="act.post.subject"></mark></p>
    <p auto-dir="act.post.body" ng-if="act.post.subject.length == 0 && act.post.body.length > 0"><translate>move a post here: </translate><mark data-ng-bind-html="act.post.body | truncate | removeHTMLTags"></mark></p>
    <p auto-dir="act.post.body" ng-if="act.post.subject.length == 0 && act.post.body == 0"><mark><translate>move a post here with {{act.post.counters.attaches > 1 ? act.post.counters.attaches : 'one'}} {{act.post.counters.attaches > 1 ? 'attachments' : 'attachment'}}.</translate></mark></p>
    <!--<p ng-if="place !== act.newPlace.id"><translate>move a post to {{act.post.newPlace.name}}: {{act.post.subject}}</translate></p>-->
  </div>
</div>
