<div class="_difh top">
  <div user-detail="act.actor.id" class="user-avatar-20">
    <img initial-avatar="{{::act.actor.id}}" name="{{::act.actor.fullName}}" picture="{{act.actor | avatar}}" data-width="20"
      data-height="20" data-radius="20" class="account-initials-20 _df _fn" data-word-count="2" data-font-size="8" />
  </div>
  <div class="sender _df">
    <div user-detail="act.actor.id">
      <a auto-dir="act.actor.fullName">{{::act.actor.fullName}}</a>
    </div>
  </div>
  <svg class="_16svg _df _fn fill-sense-wire">
    <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
  </svg>
</div>
<div class="body" nst-post-modal post="act.post">
  <div class="_difv">
    <p auto-dir="act.post.subject" ng-if="act.post.subject.length > 0">
      <translate>moved</translate>&nbsp;
      <mark data-ng-bind-html="act.post.subject.length > 48 ? act.post.subject.substr(0,48) + '...' : act.post.subject"></mark>&nbsp;
      <translate ng-if="place !== act.newPlace.id">from here</translate>
      <translate ng-if="place === act.newPlace.id">to here</translate>
    </p>
    <p auto-dir="act.post.body" ng-if="act.post.subject.length == 0 && act.post.body.length > 0">
      <translate>moved</translate>&nbsp;
      <mark data-ng-bind-html="act.post.body.length > 48 ? act.post.body.substr(0,48) + '...' : act.post.body | truncate | removeHTMLTags"></mark>&nbsp;
      <translate ng-if="place !== act.newPlace.id">from here</translate>
      <translate ng-if="place === act.newPlace.id">to here</translate>
      <!-- <translate>to a new place</translate>
      <span>{{act.newPlace.name}}</span> -->
    </p>
  </div>
  <div class="_df _fn comment-time">
    <span>{{act.timestamp | passed | localize }}</span>
  </div>
</div>
