<div class="_df">
  <img initials="user.name" data-url="act.actor.avatar" data-width="16" data-height="16" data-radius="16" class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
</div>
<div class="colomn">
  <div class="_difh top">
    <div class="sender _fw _df">
      <a>{{act.actor.name}}</a> <span>&nbsp;@{{act.actor.id}}</span>
    </div>
    <div class="_df">
      <span>{{act.date}}</span>
    </div>
    <div class="ei-member-invite _df _fn"></div>
  </div>
  <div class="_df">
    <p><span>Left</span>here</p>
  </div>
</div>
