<nested-navbar></nested-navbar>
<div id="container" class="_bggray" page-change="changeMe($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
  <div class="side">
    <div class="compose _bgwhite _df _fw">
    </div>
  </div>
  <div class="nst-content">
    <div class="subnavitems _bgwhite _df">
      <div class="cp-nav-width-discard">
        <div>
          <a href="#/events" class="btn-white-nav nst-mood-storm">Discard</a>
        </div>
      </div>
    </div>
    <div class="panel-profile-setting _bgwhite _ma _fh">
      <div class="_fw upload-photo-container">
        <div class="_ma upload-photo">
          <label for="logo"><img
            src="{{user.picture.x128.url ? user.picture.x128.url : '../assets/images/uploadphoto_16.png'}}"/></label>
          <input id="logo" type="file" name="logo" accept="image/*"
                 onchange="angular.element(this).scope().account_profile.imgToUri(event)"/>
        </div>
        <div class="probut">
          <label for="logo" class="add-photo-hover"></label>
          <div data-ng-if="user.picture.org.url" class="remove-photo-hover"
               data-ng-click="account_profile.removeImg()"></div>
        </div>

      </div>

        <div class="inner-panel _ma">
          <div class="_tac nst-marginbtm-32 nst-mood-storm">@{{user.username}}</div>
          <div class="nst-marginbtm-4">First Name</div>
          <div>
            <input type="text" name="place_id" class=" nst-marginbtm-24 form-control ng-pristine ng-untouched ng-valid"
                   aria-invalid="false" data-ng-model="user.name.fname"/>
          </div>
          <div class="nst-marginbtm-4">Last Name</div>
          <div>
            <input type="text" name="place_id" class=" nst-marginbtm-24 form-control ng-pristine ng-untouched ng-valid"
                   aria-invalid="false" data-ng-model="user.name.lname"/>
          </div>
          <div>
            <div class="nst-marginbtm-4">Recovery Mail</div>
            <div class="verified-li"></div>
          </div>
          <div>
            <input type="text" name="place_id" class=" nst-marginbtm-24 form-control ng-pristine ng-untouched ng-valid"
                   aria-invalid="false" data-ng-model="user.email"/>
          </div>
          <div class="nst-marginbtm-4">Mobile Phone</div>
          <div class="_fw nst-marginbtm-24">
            <input  name="mobileNumber" international-phone-number
                   class="select-birthday ng-pristine ng-untouched ng-valid" data-ng-model="user.phone"/>
          </div>
          <div class="nst-marginbtm-12">Gender</div>
          <div class="nst-marginbtm-64">
            <ul class="list-inline">
              <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <input  type="radio" name="gender" value="female"/>
                <label>Female</label>
              </li>
              <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <input type="radio" name="gender" value="male"/>
                <label>Male</label>
              </li>
              <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <input type="radio" name="gender" value="other"/>
                <label>Other</label>
              </li>
            </ul>
          </div>
          <div class="nst-marginbtm-4">Birthday</div>
          <div class="nst-marginbtm-36">
            <input class="select-birthday" rsmdatedropdowns ng-model="birth"/>
          </div>
          <div>
            <button class="btn btn-lg btn-block" data-ng-click="account_profile.update()">Save & Exit</button>
          </div>
        </div>
        <div class="restplace _df _fh"></div>
    </div>
  </div>
  <div class="side">
    <div class="compose _bgwhite _df _fw">
    </div>
  </div>
</div>
