<div class="nst-content second-view" id="content-wrapper" page-change="ctlProfileEdit.changeState($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
  <section class="content">
    <div class="panel-profile-menu">
      <h5>Account Settings</h5>
      <a class="active">
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
        </svg>
        <span>Profile</span>
      </a>
      <a>
        <svg class="_16svg" ui-sref="app.change-password">
          <use xlink:href="/assets/icons/nst-icn16.svg#lock"></use>
        </svg>
        <span>Password</span>
      </a>
      <a>
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#device-phone"></use>
        </svg>
        <span>WebApp Prefrences</span>
      </a>
      <h5>Account Settings</h5>
      <a>
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#bell"></use>
        </svg>
        <span>Desktop Notification</span>
      </a>
      <a>
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#earth"></use>
        </svg>
        <span>Language</span>
      </a>

    </div>
    <div class="panel-profile-setting">
      <div class="profile-section">
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
        </svg>
        <translate>Profile</translate>
      </div>
      <div class="_fw upload-photo-container">
        <div class="_ma upload-photo">
          <label for="logo">
            <img ng-show="!ctlProfileEdit.uploadedImage && ctlProfileEdit.model.picture.url"  ng-src="{{ctlProfileEdit.model.picture.url}}">
            <img ng-show="ctlProfileEdit.uploadedImage" ng-src="{{ctlProfileEdit.model.picture.url}}">
            <img ng-if="!ctlProfileEdit.model.picture.url && !ctlProfileEdit.uploadedImage" initials="ctlProfileEdit.model.fullName" data-width="size" data-height="size" data-radius="64" data-word-count="2" data-font-size="16">
          </label>
          <input id="logo" type="file" name="logo" accept="image/*" onchange="angular.element(this).scope().ctlProfileEdit.setImage(event)">
          <div class="probut">
            <div ng-if="ctlProfileEdit.model.picture.url" class="remove-photo-hover" data-ng-click="ctlProfileEdit.removeImage()" role="button"></div>
            <label for="logo" class="add-photo-hover"></label>
          </div>
        </div>
      </div>

      <div class="inner-panel _ma">
        <div class="text-center">
          <a class="_tac nst-marginbtm-32 changePassLink" ui-sref="app.change-password"><translate>Change your password</translate></a>
        </div>
        <form ng-submit="ctlProfileEdit.saveAndExit(profileForm.$valid);" name="profileForm" novalidate>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>Full Name</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw">{{ctlProfileEdit.model.fullName}}</div>
              <svg class="_24svg _df _fn edit-icon" multi-input val-one="ctlProfileEdit.model.firstName" val-two="ctlProfileEdit.model.lastName" title="'Edit Name'">
                <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
              </svg>
            </div>
          </div>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>User ID</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw">{{ctlProfileEdit.model.id}}</div>
            </div>
          </div>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>Phone Number</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw">+{{ctlProfileEdit.model.country}} {{ctlProfileEdit.model.phone}}</div>
            </div>
          </div>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>Date of Birth</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw">{{ctlProfileEdit.model.dateOfBirth || 'Not specified'}}</div>
              <svg class="_24svg _df _fn edit-icon" data-change-modal="ctlProfileEdit.model.dateOfBirth">
                <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
              </svg>
            </div>
          </div>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>Gender</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw">{{ctlProfileEdit.model.gender}}</div>
              <svg class="_24svg _df _fn edit-icon" change-select val="ctlProfileEdit.model.dateOfBirth" title="'change gender'" options="ctlProfileEdit.genders">
                <use xlink:href="/assets/icons/nst-icn24.svg#edit"></use>
              </svg>
            </div>
          </div>
          <div class="form-group _difv _fw">
            <label class="input-lab _fw"><translate>Searchable</translate></label>
            <div class="field _difh _fw">
              <div class="_df _fw srchp">Having your Search turned on, anyone can
                reach you, even without knowing your ID.</div>
              <div class="place-switch _fn">
                <input type="checkbox" name="checkbox_id" id="Searchable" data-ng-model="ctlProfileEdit.model.searchable">
                <label for="Searchable">
                  <b><translate>Yes</translate></b>
                  <div class="circle" switch-drag="Searchhable"></div>
                </label>
                <label for="Searchable">
                  <b><translate>No</translate></b>
                </label>
              </div>
            </div>
          </div>
          <!--<div class="form-group" ng-class="{ 'has-error' : profileForm.firstName.$invalid && ctlProfileEdit.submitted}">-->
          <!--<label for="firstName" ng-if="profileForm.firstName.$valid || !ctlProfileEdit.submitted"><translate>First name</translate></label>-->
          <!--<label class="error-message" ng-if="profileForm.firstName.$error.required && ctlProfileEdit.submitted"><translate>First name is required</translate></label>-->
          <!--<input name="firstName" class="form-control" type="text" data-ng-model="ctlProfileEdit.model.firstName" required/>-->
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--<label for="lang"><translate>Language</translate></label>-->
          <!--<select name="lang" class="form-control nst-marginbtm-24" ng-model="ctlProfileEdit.lang">-->
          <!--<option value="fa-IR">Farsi (فارسی)</option>-->
          <!--<option value="en-US">English</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--<div class="form-action nst-marginbtm-24">-->
          <!--<input type="submit" class="butn-green _fw" value="Save & Exit" translate-attrs="value"/>-->
          <!--</div>-->
        </form>

      </div>

      <!-- <div class="restplace _df _fh"></div> -->
    </div>
  </section>
</div>
<div class="post-navbar">
  <div class="nst-content second-view">
    <div class="content">
      <div class="_40svg _df _fn _asc" id="Logo">
      </div>
      <div class="_df _fw"></div>
      <div class="_df _fn profile-popover _fh _aic">
        <div class="user-avatar-32">
          <img initials="ctlProfileEdit.model.fullName" data-url="ctlProfileEdit.model.picture.url" data-width="32"
               data-height="32"
               data-radius="30" class="account-initials-32 _df" data-word-count="2" data-font-size="12"/>
        </div>
        {{ctlProfileEdit.model.fullName}}

        <svg class="_16svg" data-uib-popover-template="'app/account/profile/profile-popover.html'"
             data-popover-placement="bottom auto"
             data-popover-class="pop-white pop-profile"
             data-popover-append-to-body="true">
          <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
