<div id="popup-msg-badge" nst-scrollbar class="_fw">
  <div  data-ng-repeat="place in act.post.places" class="_fw _df hovercolor">
    <a class="more-place-row _difh" href="#/places/{{place.id}}/messages">
      <div class="_df _fn">
        <img src="{{place | picture}}" class="account-initials-32"/>
      </div>
      <div class="_difv _fw">
        <div class="_df _fw">
          <span class="_dtc teammate-name nst-mood-solid">{{place.name}}</span>
        </div>
        <div class="_df _fw">
          <div class="_dtc nst-mood-storm nst-font-small">{{place.id}}</div>
        </div>
      </div>
    </a>
  </div>
</div>
