<div class="close-modal" ng-click="$dismiss()" id="close-setting-place">
  <svg>
    <use xlink:href="/assets/icons/nst-icn32.svg#cross"></use>
  </svg>
</div>
<div id="place-settings">
  <div class="place-name">
    <label for="logo" class="pic">
      <img data-ng-if="ctlSettings.logoFile || ctlSettings.place.picture.thumbnails.x64.url.download"
           ng-src="{{ctlSettings.logoUrl || ctlSettings.place.picture.thumbnails.x64.url.download}}"/>
      <img data-ng-if="!ctlSettings.place.picture.thumbnails.x64.url.download && !ctlSettings.logoFile"
           src="/assets/icons/absents_place.svg"/>
    </label>
    <input id="logo" data-ng-disabled="!ctlSettings.accesses.hasControlAccess" type="file" name="logo" accept="image/*"
           onchange="angular.element(this).scope().ctlSettings.loadImage(event)"/>

    <div class="det">
      <h3 id="place-name" data-ng-if="ctlSettings.accesses.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name" data-tooltip-append-to-body="true"
          editable-text="ctlSettings.place.name" onbeforesave="ctlSettings.updateName($data);">
        {{ctlSettings.place.name || 'empty'}}<a class="change-button">change</a></h3>
      <h3 data-ng-if="!ctlSettings.accesses.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name" data-tooltip-append-to-body="true">
        {{ctlSettings.place.name || 'empty'}}</h3>

      <h5 class="nst-mood-storm" ng-if="ctlSettings.place.privacy.receptive == 'external'">{{ctlSettings.place.id
        + '@nested.me'}}</h5>
    </div>
  </div>
  <div class="place-des">
    <p data-ng-if="ctlSettings.accesses.hasControlAccess" class="nst-mood-storm" data-tooltip-placement="left auto" data-tooltip-append-to-body="true"
       data-uib-tooltip="Place description" editable-text="ctlSettings.place.description"
       onbeforesave="ctlSettings.updateDescription($data);">{{ctlSettings.place.description || 'empty'}}</p>
    <p class="no-animation" data-tooltip-placement="left auto" data-uib-tooltip="Place description" data-tooltip-append-to-body="true"
       data-ng-if="!ctlSettings.accesses.hasControlAccess">{{ctlSettings.place.description || 'empty'}}</p>
  </div>
  <p class="input-lab" ng-if="ctlSettings.isClosedPlace">Who can post messages to this Place?</p>
  <div ng-if="ctlSettings.isClosedPlace" class="recive-set" ng-class="{'preview' : !ctlSettings.changeReceptiveMode}">
    <!--Off-->
    <div class="select-box2"
         ng-if="(ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'off')"
         ng-click="ctlSettings.setReceivingOff();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive === 'off', disabled : !ctlSettings.accesses.hasControlAccess }">
      <h3 ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace" >Only "{{ctlSettings.place.name}}" {{ctlSettings.place.policy.add_post === 'creators' ? "Managers" : "Members"}}</h3>
      <h3 ng-if="ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace" >{{ ctlSettings.place.policy.add_post === 'creators' ? 'Managers' : 'Members'}}</h3>
      <h3 ng-if="ctlSettings.isSubPersonalPlace" >Only you</h3>


      <div class="_difh _fw _aic">
        <p ng-if="ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace">
          {{ctlSettings.place.policy.add_post === 'creators' ? "Only Managers" : "All Members"}} can post messages in this place.</p>
        <p ng-if="ctlSettings.isSubPersonalPlace">Only you can post messages to this Place.</p>
        <p ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace">
          Only <b>{{ctlSettings.place.name }}</b> {{ctlSettings.place.policy.add_post === 'creators' ? "Managers" : "Members"}} can view Place contents.
        </p>
      </div>

      <p></p>
      <aside ng-if="!ctlSettings.isSubPersonalPlace">
        <p>Which members can post messages to this Place?</p>
        <select data-ng-change="ctlSettings.updateAddPostPolicy()" ng-model="ctlSettings.place.policy.add_post" ng-if="ctlSettings.accesses.hasControlAccess">
          <option value="creators">Managers of {{ctlSettings.place.name}}</option>
          <option value="everyone">Members of {{ctlSettings.place.name}}</option>
        </select>
        <p ng-if="!ctlSettings.accesses.hasControlAccess">
          {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_post]}}
        </p>
      </aside>
    </div>
    <!--Internal-->
    <div class="select-box2"
         ng-if="!ctlSettings.isGrandPlace  && !ctlSettings.isSubPersonalPlace && (ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'internal')"
         ng-click="ctlSettings.setReceivingMembers();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive == 'internal', disabled : !ctlSettings.accesses.hasControlAccess}">
      <h3 ng-if="ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace">Everyone</h3>
      <h3 ng-if="ctlSettings.isGrandPlace && ctlSettings.isPersonalPlace">Only Nested Users</h3>
      <h3 ng-if="!ctlSettings.isGrandPlace">{{ ctlSettings.grandPlace.name }} Members</h3>
      <p ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace">All <b>{{ ctlSettings.grandPlace.name }}</b> Members can post messages to the place.</p>
      <p ng-if="!ctlSettings.isGrandPlace && ctlSettings.isPersonalPlace">Only you can view the contents of this Place.</p>
      <p ng-if="ctlSettings.isGrandPlace">Only Nested users can post messages to this Place.</p>
      <aside>
        <p ng-if="ctlSettings.isGrandPlace">Show in the search results?</p>
        <p ng-if="!ctlSettings.isGrandPlace">Show in the {{ ctlSettings.grandPlace.name }} Members search results?</p>
        <div class="place-switch">
          <input type="checkbox" name="checkbox_id" id="receiving-members-search" value="value" ng-disabled="!ctlSettings.accesses.hasControlAccess"
                 data-ng-model="ctlSettings.place.privacy.search"
                 ng-change="ctlSettings.updateSearchPrivacy()">
          <label for="receiving-members-search">
            <b>Yes</b>
            <div class="circle"  switch-drag></div>
          </label>
          <label for="receiving-members-search">
            <b>No</b>
          </label>
        </div>
      </aside>
    </div>
    <!--Everyone-->
    <div class="select-box2"
         ng-if="(ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'external')"
         ng-click="ctlSettings.setReceivingEveryone();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive == 'external', disabled : !ctlSettings.accesses.hasControlAccess}">
      <h3>
        <svg>
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg>Everyone <i>(including email)</i></h3>
      <p>Everyone can send their messages to "<b>{{ctlSettings.place.name ? ctlSettings.place.name  : '...'}}</b>" Place.
        This includes messages sent from email platforms to your Nested address ({{ ctlSettings.place.id }}@nested.me).</p>
      <aside>
        <p>Show in the search results?</p>
        <div class="place-switch">
          <input type="checkbox" name="checkbox_id" id="receiving-everyone-search" ng-disabled="!ctlSettings.accesses.hasControlAccess"
                 data-ng-model="ctlSettings.place.privacy.search"
                 ng-change="ctlSettings.updateSearchPrivacy()">
          <label for="receiving-everyone-search">
            <b>Yes</b>
            <div class="circle"  switch-drag></div>
          </label>
          <label for="receiving-everyone-search">
            <b>NO</b>
          </label>
        </div>
      </aside>
    </div>
  </div>
  <div class="_difh _fw" ng-if="!ctlSettings.isSubPersonalPlace">
    <div class="_fw _difv" ng-if="ctlSettings.isClosedPlace">
      <p class="input-lab">Who can create a sub-place?</p>
      <select ng-if="ctlSettings.accesses.hasControlAccess"
              data-ng-model="ctlSettings.place.policy.add_place"
              data-ng-change="ctlSettings.updateAddPlacePolicy()">
        <option value="creators">Managers of {{ctlSettings.place.name}}</option>
        <option value="everyone">Members of {{ctlSettings.place.name}}</option>
      </select>
      <p ng-if="!ctlSettings.accesses.hasControlAccess">
        {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_place]}}
      </p>
    </div>
    <div class="_fw _difv">
      <p class="input-lab" ng-if="ctlSettings.isGrandPlace" >Who can invite Members? </p>
      <p class="input-lab" ng-if="!ctlSettings.isGrandPlace">Who can add Members?</p>
      <select ng-if="ctlSettings.accesses.hasControlAccess"
              data-ng-model="ctlSettings.place.policy.add_member"
              data-ng-change="ctlSettings.updateAddMemberPolicy()">
        <option value="creators">Managers of {{ctlSettings.place.name}}</option>
        <option value="everyone">Members of {{ctlSettings.place.name}}</option>
      </select>
      <p ng-if="!ctlSettings.accesses.hasControlAccess">
        {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_member]}}
      </p>
    </div>
  </div>
  <p class="input-lab" data-ng-if="ctlSettings.accesses.hasSeeMembersAccess">Members</p>
  <div class="select-box2 _difh"
       data-ng-if="ctlSettings.accesses.hasAddMembersAccess"
       data-ng-click="ctlSettings.addMember()">
    <div class="add">
      <svg>
        <use xlink:href="/assets/icons/nst-icn20.svg#cross"></use>
      </svg>
    </div>
    <h4>{{ctlSettings.isGrandPlace ? 'Invite Members' : 'Add Members'}} </h4>
  </div>
  <nst-place-member-item data-ng-if="ctlSettings.accesses.hasSeeMembersAccess" class="user-item"
                         data-ng-repeat="member in ctlSettings.teammates"
                         member="member" place="ctlSettings.place"
                         has-remove-access="ctlSettings.accesses.hasRemoveAccess"
                         has-control-access="ctlSettings.accesses.hasControlAccess" on-remove="ctlSettings.removeMember"
                         role="member.state" ></nst-place-member-item>
  <div class="_fw _tac margin-b-15"  data-ng-if="ctlSettings.accesses.hasSeeMembersAccess"place>
    <a class="load-more nst-mood-cheerful" href ng-if="ctlSettings.hasMoreTeammates && !ctlSettings.teammatesLoadProgress" ng-click="ctlSettings.loadMoreTeammates();">Load more</a>
    <span class="nst-mood-cheerful" ng-if="ctlSettings.teammatesLoadProgress">Loading...</span>
  </div>
</div>
