#place-settings {
  max-width: 480px;
  background-color: $color-white;
  width: 100%;
  padding: 0 32px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  .settings-tab {
    height: 48px;
    width: calc(100% + 64px);
    margin-left: -32px;
    position: relative;
    .shadow {
      box-shadow: 0 0 16px $color-black16;
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    a {
      font-size: 16px;
      color: $color-black04;
      background-color: $color-white;
      z-index: 2;
      &.active {
        color: $color-sense-wire;
        border-bottom: 3px solid $color-sense-wire
      }
    }
  }
  .form-group {
    margin-bottom: 32px;
    .field {
      margin: 0;
    }
    .input-lab {
      padding: 0;
    }
  }
  p {
    margin: 0;
  }
  .settings-body {
    padding-bottom: 64px;
    > *:first-child {
      margin-top: 16px;
    }
  }
  .member-head {
    height: 60px;
    border-bottom: 1px solid $color-black008;
    margin-bottom: 12px;
    .selected-user {
      >div {
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        >span {
          font-size: 24px;
          color: $color-solid;
        }
        svg {
          margin: 5px 0;
        }
        a span {
          font-size: 13px;
          color: $color-solid;
        }
        &.force {
          a span {
            color: $color-force-wire;
          }
        }
      }
    }
    .unselected-user {
      padding-top: 24px;
      >div {
        display: flex;
        align-items: center;
      }
      .mbrs-srch {
        width: 55px;
        height: 100%;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        z-index: 1;
        svg {
          fill: $color-breeze;
          use:last-of-type {
            display: none;
          }
        }
        &.srch {
          z-index: 3;
          svg {
            fill: $color-solid;
            use:first-of-type {
              display: none;
            }
            use:last-of-type {
              display: block;
            }
          }
        }
      }
      input {
        border: none;
        height: 35px;
        font-size: 13px;
      }
      input::-webkit-input-placeholder,
      input:-ms-input-placeholder,
      input:-moz-placeholder {
        color: $color-breeze;
        font-size: 13px;
      }
    }
    .top-add {
      font-size: 11px;
      color: $color-black04;
      fill: $color-sense-wire;
      justify-content: flex-end;
    }
  }
  .recive-set {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    p {
      padding-bottom: 8px;
      span {
        @extend .nst-font-medium;
        font-weight: 400;
        line-height: 17px;
      }
    }
    a{
      opacity: 0;
    }
    &:hover {
      a {
        opacity: 1;
      }
    }
    .src-res {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      p {
        display: flex;
        flex: 1;
        color: #000000;
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .recive-set.preview {
    &.select-box2.selected{
      background: none;
      border:none
    }

  }
  .option-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    p {
      line-height: 19px;
      @extend .nst-font-large;
      font-weight: 400;
      display: flex;
      flex: 1;
      color: $color-solid;
    }
    select {
      flex: none;
    }
    input[type="checkbox"] + label {
      display: inline-block;
      background: url('../assets/icons/controls.svg') no-repeat;
      height: 16px;
      min-width: 17px;
      padding: 0 0 0 17px;
      color: $color-storm;
      font-weight: 400;
      @extend .nst-font-medium;
      line-height: 17px;
    }
    input[type="checkbox"]:checked + label {
      background-position: 0 -16px;
    }
  }
  .user-item {
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-left: 0 16px;
  }
}
