<div class="close-modal" ng-click="$dismiss()" id="close-setting-place">
  <svg>
    <use xlink:href="/assets/icons/nst-icn32.svg#cross"></use>
  </svg>
</div>
<div id="place-settings">
  <div class="place-name">
    <label for="logo" class="pic">
      <img data-ng-if="ctlSettings.logoFile || ctlSettings.place.picture.thumbnails.x64.url.download"
           ng-src="{{ctlSettings.logoUrl || ctlSettings.place.picture.thumbnails.x64.url.download}}"/>
      <img data-ng-if="!ctlSettings.place.picture.thumbnails.x64.url.download && !ctlSettings.logoFile"
           src="/assets/icons/absents_place.svg"/>
    </label>
    <input id="logo" data-ng-disabled="!ctlSettings.accesses.hasControlAccess" type="file" name="logo" accept="image/*"
           onchange="angular.element(this).scope().ctlSettings.loadImage(event)"/>

    <div class="det">
      <h3 id="place-name" data-ng-if="ctlSettings.accesses.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name" data-tooltip-append-to-body="true"
          editable-text="ctlSettings.place.name" onbeforesave="ctlSettings.updateName($data);" translate-attrs="data-uib-tooltip">
        {{ctlSettings.place.name || 'empty'}}<a class="change-button"><translate>change</translate></a></h3>
      <h3 data-ng-if="!ctlSettings.accesses.hasControlAccess" data-tooltip-placement="left auto" data-uib-tooltip="Place Name" data-tooltip-append-to-body="true" translate-attrs="data-uib-tooltip">
        {{ctlSettings.place.name || 'empty'}}</h3>

      <h5 class="nst-mood-storm" ng-if="ctlSettings.place.privacy.receptive == 'external'">{{ctlSettings.place.id
        + '@nested.me'}}</h5>
    </div>
  </div>
  <div class="place-des">
    <p data-ng-if="ctlSettings.accesses.hasControlAccess" class="nst-mood-storm" data-tooltip-placement="left auto" data-tooltip-append-to-body="true"
       data-uib-tooltip="Place description" editable-text="ctlSettings.place.description"
       onbeforesave="ctlSettings.updateDescription($data);" translate-attrs="data-uib-tooltip">{{ctlSettings.place.description || 'empty'}}</p>
    <p class="no-animation" data-tooltip-placement="left auto" data-uib-tooltip="Place description" data-tooltip-append-to-body="true"
       data-ng-if="!ctlSettings.accesses.hasControlAccess" translate-attrs="data-uib-tooltip">{{ctlSettings.place.description || 'empty'}}</p>
  </div>
  <p class="input-lab" ng-if="ctlSettings.isClosedPlace"><translate>Who can post messages to this Place?</translate></p>
  <div ng-if="ctlSettings.isClosedPlace" class="recive-set" ng-class="{'preview' : !ctlSettings.changeReceptiveMode}">
    <!--Off-->
    <div class="select-box2"
         ng-if="(ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'off')"
         ng-click="ctlSettings.setReceivingOff();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive === 'off', disabled : !ctlSettings.accesses.hasControlAccess }">
      <h3 ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace" >
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>Only "{{ctlSettings.place.name}}" {{ctlSettings.place.policy.add_post === 'creators' ? "Managers" : "Members"}}</translate>
      </h3>
      <h3 ng-if="ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace" >
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg>{{ ctlSettings.place.policy.add_post === 'creators' ? 'Managers' : 'Members'}}
      </h3>
      <h3 ng-if="ctlSettings.isSubPersonalPlace" >
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>Only you</translate>
      </h3>


      <div class="_difh _fw _aic">
        <p ng-if="ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace"><translate>
          {{ctlSettings.place.policy.add_post === 'creators' ? "Only Managers" : "All Members"}} can post messages in this place.</translate></p>
        <p ng-if="ctlSettings.isSubPersonalPlace">Only you can post messages to this Place.</p>
        <p ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isSubPersonalPlace"><tranlate>
          Only <b>{{ctlSettings.place.name }}</b> {{ctlSettings.place.policy.add_post === 'creators' ? "Managers" : "Members"}} can view Place contents.</tranlate>
        </p>
      </div>

      <p></p>
      <aside ng-if="!ctlSettings.isSubPersonalPlace">
        <p class="_df f4"><translate>Which members can post messages to this Place?</translate></p>
        <div class="_df f1">
          <select data-ng-change="ctlSettings.updateAddPostPolicy()" ng-model="ctlSettings.place.policy.add_post" ng-if="ctlSettings.accesses.hasControlAccess">
            <option value="creators"><translate>Managers of {{ctlSettings.place.name}}</translate></option>
            <option value="everyone"><translate>Members of {{ctlSettings.place.name}}</translate></option>
          </select>
        </div>
        <p ng-if="!ctlSettings.accesses.hasControlAccess">
          {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_post]}}
        </p>
      </aside>
    </div>
    <!--Internal-->
    <div class="select-box2"
         ng-if="!ctlSettings.isGrandPlace  && !ctlSettings.isSubPersonalPlace && (ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'internal')"
         ng-click="ctlSettings.setReceivingMembers();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive == 'internal', disabled : !ctlSettings.accesses.hasControlAccess}">
      <h3 ng-if="ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace">
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>Everyone</translate></h3>
      <h3 ng-if="ctlSettings.isGrandPlace && ctlSettings.isPersonalPlace">
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>Only Nested Users</translate></h3>
      <h3 ng-if="!ctlSettings.isGrandPlace">
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>{{ ctlSettings.grandPlace.name }}Members</translate></h3>
      <p ng-if="!ctlSettings.isGrandPlace && !ctlSettings.isPersonalPlace"><translate>All <b>{{ ctlSettings.grandPlace.name }}</b> Members can post messages to the place.</translate></p>
      <p ng-if="!ctlSettings.isGrandPlace && ctlSettings.isPersonalPlace"><translate>Only you can view the contents of this Place.</translate></p>
      <p ng-if="ctlSettings.isGrandPlace"><translate>Only Nested users can post messages to this Place.</translate></p>
      <aside>
        <p ng-if="ctlSettings.isGrandPlace"><translate>Show in the search results?</translate></p>
        <p ng-if="!ctlSettings.isGrandPlace"><translate>Show in the {{ ctlSettings.grandPlace.name }} Members search results?</translate></p>
        <div class="place-switch">
          <input type="checkbox" name="checkbox_id" id="receiving-members-search" value="value" ng-disabled="!ctlSettings.accesses.hasControlAccess"
                 data-ng-model="ctlSettings.place.privacy.search"
                 ng-change="ctlSettings.updateSearchPrivacy()">
          <label for="receiving-members-search">
            <b><translate>Yes</translate></b>
            <div class="circle" switch-drag="ctlSettings.place.privacy.search"></div>
          </label>
          <label for="receiving-members-search">
            <b><translate>No</translate></b>
          </label>
        </div>
      </aside>
    </div>
    <!--Everyone-->
    <div class="select-box2"
         ng-if="(ctlSettings.accesses.hasControlAccess || ctlSettings.place.privacy.receptive == 'external')"
         ng-click="ctlSettings.setReceivingEveryone();"
         ng-class="{ selected : ctlSettings.place.privacy.receptive == 'external', disabled : !ctlSettings.accesses.hasControlAccess}">
      <h3>
        <svg class="tick">
          <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
        </svg><translate>Everyone</translate> <i><translate>(including email)</translate></i></h3>
      <p><translate>Everyone can send their messages to "<b>{{ctlSettings.place.name ? ctlSettings.place.name  : '...'}}</b>" Place. This includes messages sent from email platforms to your Nested address ({{ ctlSettings.place.id }}@nested.me).</translate></p>
      <aside>
        <p><translate>Show in the search results?</translate></p>
        <div class="place-switch">
          <input type="checkbox" name="checkbox_id" id="receiving-everyone-search" ng-disabled="!ctlSettings.accesses.hasControlAccess"
                 data-ng-model="ctlSettings.place.privacy.search"
                 ng-change="ctlSettings.updateSearchPrivacy()">
          <label for="receiving-everyone-search">
            <b><translate>Yes</translate></b>
            <div class="circle" switch-drag="ctlSettings.place.privacy.search"></div>
          </label>
          <label for="receiving-everyone-search">
            <b><translate>NO</translate></b>
          </label>
        </div>
      </aside>
    </div>
  </div>
  <div class="_difh _fw margin-b-16" ng-if="!ctlSettings.isSubPersonalPlace">
    <div class="f4 _fw _difv" ng-if="ctlSettings.isClosedPlace">
      <p class="input-lab"><translate>Who can create a sub-place?</translate></p>
      <select ng-if="ctlSettings.accesses.hasControlAccess"
              data-ng-model="ctlSettings.place.policy.add_place"
              data-ng-change="ctlSettings.updateAddPlacePolicy()">
        <option value="creators" id="manager-sub-place-access"><translate>Managers of {{ctlSettings.place.name}}</translate></option>
        <option value="everyone" id="member-sub-place-access"><translate>Members of {{ctlSettings.place.name}}</translate></option>
      </select>
      <p ng-if="!ctlSettings.accesses.hasControlAccess">
        {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_place]}}
      </p>
    </div>
    <div class="f1"></div>
    <div class="f4 _fw _difv">
      <p class="input-lab" ng-if="ctlSettings.isGrandPlace" ><translate>Who can invite Members?</translate> </p>
      <p class="input-lab" ng-if="!ctlSettings.isGrandPlace"><translate>Who can add Members?</translate></p>
      <select ng-if="ctlSettings.accesses.hasControlAccess"
              data-ng-model="ctlSettings.place.policy.add_member"
              data-ng-change="ctlSettings.updateAddMemberPolicy()">
        <option value="creators" id="manager-invite-access"><translate>Managers of {{ctlSettings.place.name}}</translate></option>
        <option value="everyone" id="member-invite-access"><translate>Members of {{ctlSettings.place.name}}</translate></option>
      </select>
      <p ng-if="!ctlSettings.accesses.hasControlAccess">
        {{::ctlSettings.memberOptions[ctlSettings.place.policy.add_member]}}
      </p>
    </div>
  </div>
  <p class="input-lab" data-ng-if="ctlSettings.accesses.hasSeeMembersAccess"><translate>Members</translate></p>
  <div class="select-box2 _difh"
       data-ng-if="ctlSettings.accesses.hasAddMembersAccess"
       data-ng-click="ctlSettings.addMember()">
    <div class="add">
      <svg>
        <use xlink:href="/assets/icons/nst-icn20.svg#cross"></use>
      </svg>
    </div>
    <h4><translate>{{ctlSettings.isGrandPlace ? 'Invite Members' : 'Add Members'}}</translate></h4>
  </div>
  <nst-place-member-item data-ng-if="ctlSettings.accesses.hasSeeMembersAccess" class="user-item"
                         data-ng-repeat="member in ctlSettings.teammates"
                         member="member" place="ctlSettings.place"
                         has-remove-access="ctlSettings.accesses.hasRemoveAccess"
                         has-control-access="ctlSettings.accesses.hasControlAccess" on-remove="ctlSettings.removeMember"
                         role="member.state" ></nst-place-member-item>
  <div class="_fw _tac margin-b-15"  data-ng-if="ctlSettings.accesses.hasSeeMembersAccess">
    <a class="load-more nst-mood-cheerful" href ng-if="ctlSettings.hasMoreTeammates && !ctlSettings.teammatesLoadProgress" ng-click="ctlSettings.loadMoreTeammates();"><translate>Load more</translate></a>
    <span class="nst-mood-cheerful" ng-if="ctlSettings.teammatesLoadProgress"><translate>Loading...</translate></span>
  </div>
</div>
