<div id="place-settings" ng-init="selectedView = 0">
  <place-head env="'settings'" data-pict="{{ctrl.logoUrl || ctrl.place.picture.getUrl('x128')}}" dissmiss="$dismiss"
  private="{{ctrl.isClosedPlace}}" id="{{ctrl.place.id}}" data-name="ctrl.place.name"></place-head>

  <div class="_difh settings-tab">
    <div class="shadow"></div>
    <a class="_df _fw _jcc _aic" ng-click="selectedView = 0;" ng-class="{'active' : selectedView == 0}">Settings</a>
    <a class="_df _fw _jcc _aic" ng-click="selectedView = 1;" ng-class="{'active' : selectedView == 1}">Members(12)</a>
  </div>
  <place-main-settings place="ctrl.place" place-type="private" ng-if="selectedView == 0"></place-main-settings>
  <place-member-settings place="ctrl.place" ng-if="selectedView == 1"></place-member-settings>
</div>
