<div class="mention">
  <div class="_fn">
    <div class="user-avatar-24">
      <img ng-if="notification.comment.sender" initial-avatar="{{::notification.comment.sender.id}}"
           picture="{{::notification.comment.sender | avatar}}" name="{{::notification.comment.sender.fullName}}"
           data-width="2432" data-height="24" data-radius="32" class="account-initials-24" data-word-count="2"
           data-font-size="12"/>
    </div>
  </div>
  <div class="_difh f1 _fn bottom-border">
    <div class="_difv f1">
      <div class="_difh _fn">
        <div class="top-user-avatar-24" ng-if="notification.users.length > 1 && user.id !== notification.comment.sender.id" ng-repeat="user in notification.users">
          <img initial-avatar="{{::user.id}}" name="{{::user.fullName}}"
               picture="{{::user | avatar}}"
               data-width="16" data-height="16" data-radius="16" class="account-initials-16" data-word-count="2"
               data-font-size="12"/>
        </div>
        <div class="more-actors" ng-if="notification.otherUsersCount">
          +{{ notification.otherUsersCount }}
        </div>
      </div>
      <p>
        <span class="sender"><b class="_fw _db _txe">{{ ::notification.comment.sender.fullName }}</b></span>
        <span class="sender" ng-if="notification.users[0] && notification.users[0].id != notification.comment.sender.id"><translate>and</translate><b class="_db _txe">{{ ::notification.users[0].fullName }}</b></span>
        <span class="sender" ng-if="notification.users[1] && notification.users[1].id != notification.comment.sender.id"><translate>and</translate><b class="_db _txe">{{ ::notification.users[1].fullName }}</b></span>
        <span class="sender" ng-if="notification.users[2] && notification.users[2].id != notification.comment.sender.id"><translate>and</translate><b class="_db _txe">{{ ::notification.users[2].fullName }}</b></span>
        <small ng-if="notification.users[0]"><translate>commented on your post</translate>.</small>
        <!--{{notification.post.subject}}:<br>-->
      </p>
      <p auto-dir="notif.commentBody"  ng-if="notification.users.length < 1">
        {{::notification.comment.body | truncate}}
      </p>
    </div>
    <div class="mention-date _fn" data-uib-tooltip="{{notification.date | date : 'full' | localize}}" data-tooltip-append-to-body="true" data-tooltip-placement="top auto">
      {{notification.lastUpdate | passed | localize}}
    </div>
    <svg class="_df _fn _16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#comments"></use>
    </svg>
  </div>
</div>
