<div class="notif-li-container">
  <div class="unread-badge"></div>
  <div class="_fn" ng-include="'/app/notification/common/picture.html'"></div>
  <div class="_difh f1 _fn bottom-border">
    <div class="notif-li-body">
      <div class="notif-li-subject" ng-include="'/app/notification/common/name.html'"></div>
      <p>
        <translate>demoted you in <b>{{notification.place.name}} (#{{notification.place.id}})</b>.</translate>
      </p>
    </div>
    <svg class="_df _fn _16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
    </svg>
  </div>
</div>
