<div class="notif-li-container">
  <div class="_fn">
    <div class="user-avatar-24">
      <img initial-avatar="{{::notification.actor.id}}" name="{{::notification.actor.fullName}}"
           picture="{{::notification.actor | avatar}}"
           data-width="24" data-height="24" data-radius="24" class="account-initials-24" data-word-count="2"
           data-font-size="12"/>
    </div>
  </div>
  <div class="_difh f1 _fn bottom-border">
    <div class="notif-li-body">
      <div class="notif-li-subject">
        <span><b class="_fw _db _txe">{{::notification.actor.fullName}}</b></span>
        <div class="mention-date _fn" data-uib-tooltip="{{notification.date | date : 'full' | localize}}" data-tooltip-append-to-body="true" data-tooltip-placement="top auto">
          {{notification.date | passed | localize}}
        </div>
      </div>
      <p>
        <translate>demoted you in <b>{{notification.place.name}} (#{{notification.place.id}})</b>.</translate>
      </p>
    </div>
    <svg class="_df _fn _16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
    </svg>
  </div>
</div>
