<div class="maincontainer second-view">
  <div class="nst-container">
    <nst-navbar data-ng-model="navbar"></nst-navbar>

    <div class="nst-content" id="content-wrapper"
         page-change="ctlProfileEdit.changeState($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
      <section class="content _bgwhite">

        <div class="panel-profile-setting _bgwhite _ma">

          <div class="_fw upload-photo-container">
            <div class="_ma upload-photo">
              <label for="logo"><img initials="ctlProfileEdit.model.fullName"
                                     data-url="ctlProfileEdit.model.picture.url"
                                     data-width="size" data-height="size" data-radius="64" data-word-count="2"
                                     data-font-size="16"></label>
              <input id="logo" type="file" name="logo" accept="image/*"
                     onchange="angular.element(this).scope().ctlProfileEdit.imgToUri(event)">
            </div>
            <div class="probut">
              <label for="logo" class="add-photo-hover"></label>
              <!-- ngIf: ctlProfileEdit.model.picture.url -->
              <div class="remove-photo-hover" data-ng-click="ctlProfileEdit.removeImg()" role="button"
                   tabindex="0"></div><!-- end ngIf: ctlProfileEdit.model.picture.url -->
            </div>
          </div>

          <div class="inner-panel _ma">
            <div class="_tac nst-marginbtm-32 nst-mood-storm">@{{ctlProfileEdit.model.id}}</div>
            <div class="nst-marginbtm-4">First Name</div>
            <div>
              <form name="place_id">
                <input page-change-element class="nst-marginbtm-24 form-control" aria-invalid="false"
                       type="text" name="first_name"
                       data-ng-model="ctlProfileEdit.model.firstName" data-ng-change="ctlProfileEdit.model.check()"/>
              </form>
            </div>
            <div class="nst-marginbtm-4">Last Name</div>
            <div>
              <form name="place_id">
                <input page-change-element class=" nst-marginbtm-24 form-control" aria-invalid="false"
                       type="text" name="last_name"
                       data-ng-model="ctlProfileEdit.model.lastName" data-ng-change="ctlProfileEdit.model.check()"/>
              </form>
            </div>
            <!--<div>
              <div class="nst-marginbtm-4">Recovery Mail</div>
              <div class="verified-li"></div>
            </div
            <div>
              <form name="place_id">
                <input page-change-element type="text" name="place_id" value="{{ctlProfile.user.email}}" class=" nst-marginbtm-24 form-control"
                       aria-invalid="false" data-ng-model="ctlProfile.user.email"/>
              </form>
            </div>>-->
            <div class="nst-marginbtm-4">Mobile Phone</div>
            <div class="_fw nst-marginbtm-24">
              <input disabled name="phone_number" international-phone-number
                     data-ng-model="ctlProfileEdit.model.phone"/>
            </div>
            <!--<div class="nst-marginbtm-12">Gender</div>
            <div class="nst-marginbtm-64">
              <ul class="list-inline">
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="female"/>
                  <label>Female</label>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="male"/>
                  <label>Male</label>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="other"/>
                  <label>Other</label>
                </li>
              </ul>
            </div>
            <div class="nst-marginbtm-4">Birthday</div>
            <div class="nst-marginbtm-36">
              <input page-change-element class="select-birthday" rsmdatedropdowns ng-model="birth"/>
            </div>-->
            <div>
              <button class="butn butn-sense _fw" data-ng-click="ctlProfileEdit.save()">Save & Exit</button>
            </div>
          </div>
          <div ng-hide="true" class="restplace _df _fh"></div>
        </div>
      </section>
    </div>
  </div>
</div>
