<div class="maincontainer prof-hld  _fw ng-class:{'navtiny' : navView,'sidetiny' : ctlApp.viewSettings.sidebar.collapsed}">
  <nst-sidebar data-ng-model="sidebar" collapsed="ctlApp.viewSettings.sidebar.collapsed"  class="_fn _fh"></nst-sidebar>
  <div class="nst-container">
    <nst-navbar data-ng-model="navbar"></nst-navbar>

    <div class="nst-content" id="content-wrapper" page-change="changeMe($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
      <section class="content _bgwhite">

        <div class="panel-profile-setting _bgwhite _ma">

          <div class="_fw upload-photo-container">
              <div class="_ma upload-photo">
                <label for="logo"><img src="{{ctlProfile.user.avatar}}"></label>
                <input id="logo" type="file" name="logo" accept="image/*" onchange="angular.element(this).scope().ctlProfile.imgToUri(event)">
              </div>
              <div class="probut">
                <label for="logo" class="add-photo-hover"></label>
                <!-- ngIf: user.picture.org.url --><div class="remove-photo-hover" data-ng-click="ctlProfile.removeImg()" role="button" tabindex="0"></div><!-- end ngIf: user.picture.org.url -->
              </div>
          </div>

          <div class="inner-panel _ma">
            <div class="_tac nst-marginbtm-32 nst-mood-storm">@{{ctlProfile.user.id}}</div>
            <div class="nst-marginbtm-4">First Name</div>
            <div>
              <form name="place_id">
                <input page-change-element type="text" name="place_id" class="nst-marginbtm-24 form-control"
                       aria-invalid="false" data-ng-model="ctlProfile.user.fname"/>
              </form>
            </div>
            <div class="nst-marginbtm-4">Last Name</div>
            <div>
              <form name="place_id">
                <input page-change-element type="text" name="place_id" class=" nst-marginbtm-24 form-control"
                       aria-invalid="false" data-ng-model="ctlProfile.user.lname"/>
              </form>
            </div>
            <!--<div>
              <div class="nst-marginbtm-4">Recovery Mail</div>
              <div class="verified-li"></div>
            </div
            <div>
              <form name="place_id">
                <input page-change-element type="text" name="place_id" value="{{ctlProfile.user.email}}" class=" nst-marginbtm-24 form-control"
                       aria-invalid="false" data-ng-model="ctlProfile.user.email"/>
              </form>
            </div>>-->
            <div class="nst-marginbtm-4">Mobile Phone</div>
            <div class="_fw nst-marginbtm-24">
              <input disabled page-change-element name="mobileNumber" international-phone-number value="{{ctlProfile.user.phone}}"
                     class="select-birthday" data-ng-model="ctlProfile.user.phone"/>
            </div>
            <!--<div class="nst-marginbtm-12">Gender</div>
            <div class="nst-marginbtm-64">
              <ul class="list-inline">
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="female"/>
                  <label>Female</label>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="male"/>
                  <label>Male</label>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                  <input type="radio" name="gender" value="other"/>
                  <label>Other</label>
                </li>
              </ul>
            </div>
            <div class="nst-marginbtm-4">Birthday</div>
            <div class="nst-marginbtm-36">
              <input page-change-element class="select-birthday" rsmdatedropdowns ng-model="birth"/>
            </div>-->
            <div>
              <button class="butn butn-sense _fw" data-ng-click="ctlProfile.update()">Save & Exit</button>
            </div>
          </div>
          <div class="restplace _df _fh"></div>
        </div>
    </div>
  </div>
</div>
