<div class="teammates" ng-show="ctlTeammates.teammates.length > 0">
  <h4 class="">{{ctlTeammates.grandPlace.teammatesCount }} Members
    <label class="arrow-holder-nav {{ctlTeammates.mode === 'expanded' ? 'nst-arrow' : 'nst-arrow-rotated'}}"
           data-ng-click="ctlTeammates.toggleMode();">
    </label>
  </h4>
  <div class="avatars" ng-class="{'expanded' : ctlTeammates.mode === 'expanded'}" nst-scrollbar suppress-scroll-x="true">
    <div class="user-avatar-28" ng-repeat="teammate in ctlTeammates.teammates | limitTo : ctlTeammates.limit track by teammate.id"
         data-tooltip-placement="top" data-uib-tooltip="{{::teammate.name}}">
      <img initials="teammate.name" data-url="teammate.avatar" data-width="28" data-height="28"
           data-radius="14" class="account-initials-28 _df" data-word-count="2" data-font-size="11"/>
    </div>
    <div class="user-avatar-28" ng-if="ctlTeammates.hasAddMembersAccess" ng-click="ctlTeammates.addMember()"
         data-tooltip-placement="top" data-uib-tooltip="Add">
      <svg>
        <use xlink:href="/assets/icons/nst-icn20.svg#cross"></use>
      </svg>
    </div>
  </div>
</div>
