<div class="activity-description">
  <div class="ico">
    <svg class="_16svg _df _fn fill-b">
      <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
    </svg>
  </div>
  <div class="sender" data-ng-include="'app/activity/partials/activity-common-actor.html'"
       data-ng-init="actor = act.actor"></div>
</div>
<div class="activity-content">
  <div class='msg'>
    <div class="subject">
      <div class="nst-mood-simple">
        <translate>created here</translate>
        <!--<translate ng-if="!currentPlaceId">created
          <a class="place" ui-sref="app.place-activity({placeId: act.place.id})">
            {{::act.place.name}}
          </a>-->
        </translate>

      </div>
      <!-- <span class="nst-mood-simple"><translate>created</translate>&nbsp;</span>

      <span data-ng-if="act.place.hasParent">
        <span class="nst-mood-simple">&nbsp;in</span>
        <a ui-sref="app.place-messages({placeId: act.place.parent.id})">{{::act.inSpecificPlace ? "here" : act.place.parent.name}}</a>
      </span> -->
    </div>
  </div>
  <div class='places'></div>
  <div class="time no-animation" data-ng-include="'app/activity/partials/activity-common-date.html'"></div>
</div>
