<div ng-repeat="place in act.post.places"  class="_dtr" id="popup-badge">
  <div class="_dtc">
    <img src="{{place | picture}}"/>
  </div>
  <div class="_dtc">
    <div class="_dtr">
      <ul class="list-unstyled text-center">
        <li>
         <a ui-sref="app.place-activity({placeId : place.id})" class="_dtc teammate-name nst-mood-solid text-left">{{::place.name}}</a>
        </li>
      </ul>
    </div>
    <div class="_dtr">
      <div class="_dtc nst-mood-storm nst-font-small">{{::place.id}}</div>
    </div>
  </div>
</div>
