<div class="actdes">
  <div class="ico">
    <div class="ei-member-join"></div>
  </div>
  <div class="sender" data-ng-include="'app/activity/partials/activity-common-actor.html'"
       data-ng-init="actor = act.actor"></div>
</div>
<div class="actcon">
  <div class="msg">
    <div class="subject">
      <div class="nst-mood-simple">
        <translate ng-if="currentPlaceId">joined here</translate>
        <a class="place" ng-if="!currentPlaceId" ui-sref="app.place-activity({placeId: act.place.id})">
          <translate>joined {{::act.place.name}}</translate>
        </a>
      </div>
    </div>
  </div>
  <div class="places"></div>
  <div class="time no-animation" data-ng-include="'app/activity/partials/activity-common-date.html'"></div>
</div>
