.activity-recent {

  .recent-container {

    .recent-item {
      opacity: 1;
    }
    .recent-item.ng-enter {
      -webkit-transition: 1s ease;
      transition: 1s ease;
      opacity: 0;
    }
    .recent-item.ng-enter-active {
      opacity: 1;
    }
  }
}
