/**
 *  Holders
 */

ul.attachments-bar {
  list-style: none;
  padding: 5px;
}

ul.attachments-bar li {
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
}

.msg .attachments-bar,
#Content .attachments-bar {
  display: inline-flex;
}

.msg .attachments-container,
#Content .attachments-container {
  overflow-x: auto;
}

//ul.attachments-bar.image {
//  list-style: none;
//  padding: 5px;
//  //overflow: auto ;
//  //white-space: nowrap;
//  //word-break: keep-all;
//}
//
//ul.attachments-bar.image li {
//  padding: 0;
//}
//
//ul.attachments-bar.image .att-item {
//  width: 72px;
//  height: 96px;
//  margin: 5px;
//  vertical-align: middle;
//  position: relative;
//  float: left;
//}
//
//ul.attachments-bar.image .att-item > span.filename {
//  position: absolute;
//  top: 40px;
//  left: 2px;
//  right: 2px;
//  word-break: keep-all;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  padding: 10px;
//  color: gray;
//  overflow: hidden;
//}
//
//ul.attachments-bar.image .att-item.inprogress {
//  opacity: 0.3 ;
//}
//
//ul.attachments-bar.non-image {
//  max-height: 150px;
//}
//
//ul.attachments-bar.non-image li {
//  background-color: #E6E6E6;
//  border-radius: 5px;
//  min-width: 150px;
//  display: inline-block;
//  margin: 1px;
//  line-height: 24px;
//  vertical-align: baseline;
//}
//
//ul.attachments-bar.non-image .att-item {
//  background-repeat: no-repeat;
//  background-position: left center;
//  display: inline-block;
//}
//
//ul.attachments-bar.non-image .att-item > span.filename {
//  line-height: 10px;
//  margin: 2px 2px 2px 28px;
//  padding: 0px;
//  font-size: x-small;
//}

/**
 *  Expanded Attachments
 */

[class*="att-exp-"] {
  width: 72px;
  height: 96px;
  background: url('../assets/icons/attachment_card.svg') no-repeat;
  color: black;
  //overflow: hidden;
  //word-break: break-all;
  //word-wrap: unset;
  //white-space: initial;
  //text-overflow: ellipsis;
}

// File
[class*="att-exp-application-"],
.att-exp-application-vnd.android.package-archive {
  background-position: 0 -288px;
}

// Media
[class*="att-exp-video-"],
[class*="att-exp-audio-"],
.att-exp-application-vnd.rn-realmedia {
  background-position: 0 -96px;
}

// Document
[class*="att-exp-text-"],
.att-exp-application-vnd.openxmlformats-officedocument.wordprocessingml.document,
.att-exp-application-msword,
.att-exp-application-vnd.oasis.opendocument.text,
.att-exp-application-vnd.oasis.opendocument.text-template,
.att-exp-application-x-latex,
.att-exp-application-rtf {
  background-position: 0 0;
}

// Zip
.att-exp-application-zip,
.att-exp-application-x-rar-compressed,
.att-exp-application-vnd.android.package-archive,
.att-exp-application-java-archive,
.att-exp-application-java-serialized-object,
.att-exp-application-javascript,
.att-exp-application-x-shockwave-flash,
.att-exp-application-x-mspublisher,
.att-exp-application-x-msdownload {
  background-position: 0 -384px;
}


// PDF
.att-exp-application-pdf {
  background-position: 0 -192px;
}

.attachments-bar img {
  border: 1px solid lightgray;
  height: 96px;
}

[class*="att-exp-image-"] {
}

.large-viewe-attach {
  height: 175px;
  width:126px;
  background: url('../assets/icons/attachment_card.svg') no-repeat;
  background-position: 0px -337px;
  background-size:  cover;

}
.test-at image {
  height: 175px;
  width: 126px;
}


/*
  **************************************************
  *    attachment badges  *
  **************************************************
 */

.attachment-badge-bar {
  background-color: $color-breeze-50;
  color: $color-solid;
  border-radius: 6px;
  margin-left: 5px;
  padding: 0;
  height: 20px;
  display: inline-flex;
;
}

[class*="att-badge-"] {
  color: $color-white;
  background-color: $color-storm;
  font-size: $font-size-xxsmall;
  line-height: 20px;
  border-radius: 6px 0 0 6px;
  padding: 0.5ex 6px;
  text-align: center;
}

.attachment-badge-bar span {
  font-size: $font-size-medium;
  line-height: 20px;
  padding: 0.5ex 5px;
  min-width: 64px;
  max-width: 256px;
}

// Media
[class*="att-badge-video-"],
[class*="att-badge-audio-"],
.att-badge-application-vnd.rn-realmedia {
  background-color: #3CC882;
}

// Document
[class*="att-badge-text-"],
.att-badge-application-vnd.openxmlformats-officedocument.wordprocessingml.document,
.att-badge-application-msword,
.att-badge-application-vnd.oasis.opendocument.text,
.att-badge-application-vnd.oasis.opendocument.text-template,
.att-badge-application-x-latex,
.att-badge-application-rtf {
 background-color: #148CF0;
}

// Zip
.att-badge-application-zip,
.att-badge-application-x-rar-compressed,
.att-badge-application-vnd.android.package-archive,
.att-badge-application-java-archive,
.att-badge-application-java-serialized-object,
.att-badge-application-javascript,
.att-badge-application-x-shockwave-flash,
.att-badge-application-x-mspublisher,
.att-badge-application-x-msdownload {
  background-color: #5A28BE;
}

// PDF
.att-badge-application-pdf {
  background-color: #FA0032;
}

.attachments-bar p {
  font-size: $font-size-xsmall;
  position: relative;
  top: 25px;
  left: 4px;
  text-align: center;
  overflow: hidden;
  line-height: 1em;
  width: 65px;
  height: 65px;
}

.nst-attachment-mimetype {

}
