/**
  ******************************
  *  Margins
  ******************************
 */

.margin-20 {
  margin: 20px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-r_5{
  margin-right: -5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-l-50 {
  margin-left: 50px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-l-5 {
  margin-left: 5px;
}

.nst-fh {
  height: 100%;
}

.nst-hs {
  display: flex;
  justify-content: flex-start;
}

.nst-hc {
  display: flex;
  justify-content: center;
}

.nst-he {
  display: flex;
  justify-content: flex-end;
}

.nst-vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.nst-vc {
  height: 100%;
  display: flex;
  align-items: center;
}

.nst-vb {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.nst-ve {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.no-gutter [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter [class*="col-"]:first-child {
  padding-left: 15px;
}

.no-gutter [class*="col-"]:last-child {
  padding-right: 15px;
}

.nst-margin-auto {
  margin: auto;
}

.no-gutter2 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter2 [class*="col-"]:first-child {
  padding-left: 0px;
}

.no-gutter2 [class*="col-"]:last-child {
  padding-right: 0px;
}

@for $i from 0 through 6 {
  .nst-margin-#{$i * 4} {
    margin: #{$i * 4}px;
  }
}
