
/**
  ******************************
  *  General
  ******************************
 */

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;
}

.avatar-64 {
  width: 64px;
  height: 64px;
  font-size: 32px;
}

.avatar-40 {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.vatar-24 {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.icon {
  color: $color-breeze;
  width: 24px;
  height: 24px;
  background-color: $color-white;

}

.icon-search {

}

.icon-storm {
  color: $color-storm;
}

.icon-breez {
  color: $color-breeze;
}

.icon-solid {
  color: $color-solid;
}

.badge {

  padding: 5px;

}

.badge-more {

}

.a {
  color: $color-sense;
  text-decoration: none;
}

.btn {
  border: 1px $color-breeze solid;
  background-color: $color-white;
  font-size: 14px;
  height: 32px;
}

.btn-sense {
  @extend .btn;
  background-color: $color-sense;
  color: $color-white;
}

.btn-force {
  @extend .btn;
  background-color: $color-force;
  color: $color-white;
}

.input {
  border: none;
  background-color: $color-white;
  font-size: 14px;
  height: 32px;

}

.input-tiny {


}

.input-force {

}

.input-title {

}

.textarea {

}

/**
  ******************************
  *  navbar
  ******************************
 */

.navbar {

}

.navbar-top {

}

.navbar-bottom {

}


/**
  ******************************
  *  sidebar
  ******************************
 */

.sidebar {
  .ul-side-menu {

  }
  .li-side-menu {

  }

  .ul-side-place-list {

  }
  .li-sideplace-item {

  }

}

