@import "mixin.scss";

@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Regular", null, null, ttf woff woff2);
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Semibold", bold, null, ttf woff woff2);
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Bold", 900, null, ttf woff woff2);
@include font-face(YekanBakh,"../assets/fonts/YekanBakh/YekanBakh-Regular", null, null, eot woff2);
@include font-face(YekanBakh,"../assets/fonts/YekanBakh/YekanBakh-Bold", bold, null, eot woff2);
@include font-face(corporativeblack,"../assets/fonts/CorporativeSansAlt/CorporativeSansAlt-Black");
@include font-face(corporativeregular,"../assets/fonts/CorporativeSansAlt/CorporativeSansAlt-Regular");

/**
  ******************************
  *     Layout                 *
  ******************************
 */

* {
    box-sizing: inherit;
    vertical-align: inherit;
}
a,a:focus{
  outline-width:0;
}
div, ul, ol {
    margin: 0;
    padding: 0;
}
select {
  color: #000;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}
input[type='text'], input[type='password'], input[type='tel'] {
    outline: none ;
    border: 1px solid $color-breeze;
    border-radius: 4px;
    padding: 3px;
    box-shadow: none;
    padding-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.a-hover:hover {
  color: $color-sense;
}
//*a:visited {
//  color: $color-sense;
//}
//
.input-disabled{
  pointer-events: none;
}

body {
  background-color: $color-bg;
  font-family: $font-family-per-reg, $font-family-eng-reg;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 600px;
  overflow-y: hidden;
}

body,
html {
  height: 100%;
}

*:focus {
  outline: none;
}

input[type="text"],
input[type="password"] {
  height: 40px;
}

input,
button,
select,
textarea {
  //border: 1px solid $color-calm;
}

._fl {float: left ;}
._fr {float: right;}
._cf {clear: both;}
._fw { width: 100%; }
._fh { height: 100%; }
._fvh {height: 100vh;}
._fhw {
    position: absolute ;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

._db { display: block; }
._df { display: flex }
._dib { display: inline-block;}
._dif { display: inline-flex;}
._difv { display: inline-flex;flex-direction: column}
._difh { display: inline-flex;}
._difc { display: inline-flex;align-items: center}
._jcc { justify-content: center}
._jce { justify-content: flex-end; }
._di { display: inline; }
._dt { display: table; table-layout: fixed; }
._dtr { display: table-row; }
._dtc { display: table-cell; vertical-align: middle; }
._fn {flex: none}

._pa { position: absolute;}
._pr { position: relative;}
._pf { position: fixed;}

._tofe {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
._tac { text-align: center; }
._tar { text-align: right;}
._tal { text-align: left;}
._vam { vertical-align: middle;}
._vat { vertical-align: top;}
._vabl { vertical-align: baseline;}
._vabt { vertical-align: bottom;}

._cgray {color: #E7ECE9;}
._bggray {background-color: #E7ECE9};
._bgwhite {background-color: $color-white;};

._modal {z-index: 101}
._tr {transition: .3s}
._rtl {direction: rtl}
._ltr{direction: ltr}

a.place,
a.account,
a.post {
  color: $color-sense;
}

a.place {
  font-weight: bold;
}

.defcur {
  cursor: default;
}
.nacur {
  cursor: not-allowed;
  color: black;
}
.nacur:hover {
  color: black;
}
.cursor-pointer {
  cursor: pointer;
}

/**
  ******************************
  *  General ul Css
  ******************************
 */

#Account {
  width: 200px;
  position: relative;
  display: inline-block;
  font-size: medium;
  padding: 15px 25px;
}

.btn-green{
  background-color: $color-sense;
  border: 1px solid #00B45A;
  border-radius: 5px;
  margin: 0 5px;
  width: 128px;
  flex: none;
  text-decoration: none;
}

.btn-green-nav{
  background-color: $color-sense;
  border: 1px solid #00B45A;
  border-radius: 3px;
  margin: 5px;
  height: 32px;
  flex: none;
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: $color-white;
  padding: 5px 16px 5px 16px;
  text-decoration: none;

}

.btn-green:hover {
  background-color: $color-sense-wire;
  text-decoration: none;
}
.btn-green:focus {
  background-color: $color-sense;
  text-decoration: none;
}
.btn-green:disabled{
  opacity: .5;
  cursor: not-allowed;
  text-decoration: none;
}
.btn-green a{
  margin: 4px 0;
  color: $color-white;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.btn-green:hover a{
  color: white;
  text-decoration: none;
}
.btn-red{
  background-color: $color-force;
  border: 1px solid #ff0014;
  border-radius: 3px;
  margin: 0 5px;
  width: 128px;
  flex: none;
  text-decoration: none;
}
.btn-red:disabled{
  opacity: .5;
  cursor: not-allowed;
  text-decoration: none;
}
.btn-red:hover:enabled{
  background-color: $color-force-wire;
  text-decoration: none;
}
.btn-red:focus{
  background-color: $color-force;
  text-decoration: none;
}
.btn-red a{
  margin: 4px 0;
  color: $color-white;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.btn-red:hover a{
  color: white;
  white-space: nowrap;
  text-decoration: none;
}
.btn-white{
  border: 1px solid $color-breeze;
  background-color: $color-white;
  border-radius: 3px;
  margin: 0 5px;
  width: 128px;
  flex: none;
  text-decoration: none;
}
.btn-white-nav{
  border: 1px solid $color-breeze;
  background-color: $color-white;
  border-radius: 3px;
  margin: 5px;
  height: 32px;
  flex: none;
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 5px 16px 5px 16px;
  text-decoration: none;
}
.btn-white:hover{
  background-color: $color-calm;
}
.btn-white:focus{
  background-color: $color-breeze;
}
.btn-white a{
  margin: 4px 0;
  color: $color-storm;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
.btn-white:hover a{
  color: $color-storm;
}
.large-font {
  font-size: $font-size-large;
}
.force {
  color: $color-force-wire;
}
/**
  *********************************
  *     General Hacks             *
  *********************************
 */

//****input Styles****

.switch {
  min-width: 128px;
  display: inline-flex;
}
.switch label{
  width: 50%;
  height: 24px;
  font-size: 12px;
  cursor: pointer;
  display: table;
  vertical-align: middle;
  text-align: center;
}
.labtxt{
  text-align: center;
  padding-top: 5px;
}

input[type='file'],
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] {
  max-width: 1px;
}

input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/controls.svg') no-repeat;
  height: 16px;
  min-width: 17px;
  padding: 0 0 0 17px;
  font-size: $font-size-small;
  color: $color-solid;
}

input[type="checkbox"]:checked + label {
  background-position: 0 -16px;
}

/**
 *   Switch Checkboxes
 */

// On: Value = 0;
input[type="checkbox"].inpsw + label {
  box-sizing: border-box;
  height: auto;
  padding: 0 0;
  border-width:1px;
  border-right-width: 0px;
  border-color: $color-breeze;
  border-style:solid;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: none;
  color : $color-wind;
}

// Off: Value = 0;
input[type="checkbox"].inpsw + label + label {
  background-color: $color-sense-wire;
  color: $color-white;
  box-sizing: border-box;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

// On: Value = 1;
input[type="checkbox"].inpsw:checked + label  {
  background-color: $color-sense-wire;
  color: $color-white;
  border: none;
}

// Off: Value = 1;
input[type="checkbox"].inpsw:checked + label + label  {
  box-sizing: border-box;
  border-width:1px;
  border-left-width: 0px;
  border-color: $color-breeze;
  border-style:solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: none;
  color : $color-wind;
}

// On: Value = 0; Disabled
input[type="checkbox"].inpsw:disabled + label  {
  color: $color-breeze;
}

// Off: Value = 0; Disabled
input[type="checkbox"].inpsw:disabled + label + label  {
  background-color: $color-breeze;
  color : $color-wind;
}

// On: Value = 1; Disabled
input[type="checkbox"].inpsw[disabled]:checked + label  {
  background-color: $color-breeze;
  color: $color-wind;
}

// Off: Value = 1; Disabled
input[type="checkbox"].inpsw[disabled]:checked + label + label  {
  color: $color-breeze;
  background-color: $color-white;
}

#viewswitch input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/viewswitch.svg') no-repeat;
  height: 15px;
  min-width: 48px;
  padding: 0 0 0 17px;
  background-position: 0 -15px;
}

#viewswitch input[type="checkbox"]:checked + label {
  background-position: 0px 0px;

}

input[type="radio"] {
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

input[type="radio"] + label {
  background: url('../assets/icons/controls.svg') no-repeat;
  height: 16px;
  width: 16px;
  background-position: 0px -48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 22px;
}

input[type="radio"]:checked + label {
  background: url('../assets/icons/controls.svg') no-repeat;
  background-position: 0px -64px;
  height: 16px;
  width: 17px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//*****margins*******
.margin-top-5 {
  margin-top: 5px;
}
.margin-l-50 {
  margin-left: 50px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-l-5 {
  margin-left: 5px;
}

/*************************
 *    Account Initials
 *************************/

* [class *= "account-initials-"] {
  margin-right: 8px;
  flex: none;
  justify-content: center;
  border: 1px $color-solid-30 solid;
}

@for $i from 1 through 32 {
  .account-initials-#{$i * 8} {
    width: #{$i * 8}px;
    height: #{$i * 8}px;
    border-radius: 50%;
    line-height: #{$i * 8 - 1}px;
    text-align: center;
    font-size: #{$i * 3}px;
    font-weight: normal;
    color: white;
    background-color: $color-solid-30;
    vertical-align: top;
  }
}

.account-initials-right {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 31px;
  text-align: center;
  font-size: $font-size-small;
  font-weight: normal;
  color: white;
  background-color: $color-solid-30;
}

/**
  *********************************
  *     Bootstrap Overrides       *
  *********************************
 */

#input-compose-to a {
  border-bottom: 1px solid $color-calm;
  height: 56px;
}

.ui-select-bootstrap .ui-select-choices-row > a{
  padding: 5px;
}

#input-compose-to img {
vertical-align: middle;
}

.ui-select-bootstrap .ui-select-choices-row.active > a{
  background-color: $color-sense-50;
}

.account-picture {
  border-radius: 50%;
}

iframe {
  border: none;
}

a {
  color: $color-sense-wire;
}

a:hover {
  color: inherit;
}

.modal {
  min-width: 900px;
  min-height: 600px;
  padding: 80px 0;
  display: flex!important;
  justify-content: center;
  align-items: center;
  //box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.modal-buttons {
  justify-content: flex-end;
  height: 32px;
  font-weight:400;
}

#add-view {
  border: 1px solid #ced9d3;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 10px;
  width: 800px;
  height: auto;
}

#delete-view {
  border: 1px solid #ced9d3;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 15px;
  width: 510px;
  height: auto;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.modal-detail {
  margin: 20px 0;
  font-size: 16px;
}

.modal-detail a{
  font-weight: bold;
  color: black;
}

.modal-detail .small{
  font-weight: 100;
  font-size: 12px;
}

.modal-detail input{
  min-height: 40px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.modal-attachment {
  //padding: 128px 0;
}

.modal-dialog {
  height: 100%;
}

.modal.in .modal-dialog{
  border-radius: 6px;
}

.modal-dialog .modal-content {
  height: 100%;
}

.modal-xlg, .modal-mlg {
  width: auto;
}

.modal-xlg {
  margin: 0 1%;
}

.modal-mlg {
  margin: 0 80px;
  width: 100%;
  max-width: calc(100% - 160px);
}

.modal-sm {
  width: auto!important;
  height: auto!important;
  vertical-align: middle;
}

.modal-head {
  //margin: 10px 0;
}

.modal-head p {
  font-size: 22px;
  font-weight: 500;
}

.editable-click{
  border-bottom: none;
  cursor: pointer;
  color: $color-sense-wire;
}

.editable-click:hover{
  color: $color-sense-wire;
}

/*
 ************** Popovers ************
*/


.popover {
  border-radius: 0;
  z-index: 1000;
}
 #popover-badge.popover{
   border-radius: 206px;
   bow-shadow: unset;
}
 #popover-badge .popover-content{
 padding:0;
 }

 #popover-badge .popover-content:hover {
   background-color: $color-sense-50;
 }

.navbar-popover {
  margin-left: 20px;
  margin-top: -6px;
  direction: ltr;
}
.places .popover {
  direction: ltr;
}
.popover .arrow {
  display: none;
}

.popover-content {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;

}

#menu.popover-content {
 padding: 0;
}

#menu.popup-panel {
  max-width: 238px;
  margin: 0;
  padding: 0;
}

.popover-white + .popover {
  max-width: 320px;
  min-width: 319px;
  height: 100px;
  position: absolute;
  top:-11px!important;
  left:366px!important;
  z-index: 35;
  background: $color-white;
  border-radius: 6px 0px 6px 6px;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}
@media screen and (max-width: 990px){
  .popover-white + .popover {
    left:280px!important;
  }
}

.popover-green + .popover {
  background: $color-sense-5;
  border-radius: 6px 0px 6px 6px;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
  border-color: $color-sense-50;
}

.popover-green + .popover.bottom > .arrow {
  border-bottom-color: $color-sense-wire;
}

.popover-green + .popover.bottom > .arrow:after {
  border-bottom-color: $color-sense-5;
}

.popover.bottom > .arrow {
  border-bottom-color: #ccc;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #fff;
  left: 0;
}

.panel {
  background-color: white;
  margin: auto;
  border-radius: 8px;
  border: 1px solid $color-breeze;
  padding: 25px 15px 25px 15px;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.form-control {
  border: 1px solid $color-breeze;
}
.form-control:focus,
.btn:focus {
  border: 2px solid $color-solid;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: $color-wind;
}

.form-control:-moz-placeholder {
  color: $color-wind;
}

.form-control::-moz-placeholder {
  color: $color-wind;
}

.form-control:-ms-input-placeholder {
  color: $color-wind;
}

.panel a {
  text-decoration: none;
  font-size: $font-size-small;
}

.btn {
  background-color: $color-sense;
  font-size: $font-size-medium;
  font-weight: bold;
  border: 1px solid $color-sense-wire;
  color: white;
  height: 40px;
  border-radius: 6px;
  line-height: 1.33333;
}

label {
  font-weight: normal;
}

.form-control-feedback {
  top: 4px;
  pointer-events: auto;
}
a .ui-select-choises-row-inner {
  border-bottom: 1px solid $color-breeze;
}

.ui-select-match-item{
  @extend .normal-badge;
  border: none;
}

.ui-select-match-item:hover {
  @extend .normal-badge;
}

//select match in compose page
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  padding-top: 4px;
  color: $color-solid;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close:hover {
  color: $color-solid;
}

.videogular vg-media video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 550px;
}

/**
  *************************************
  *     Nested Classes - Typography   *
  *************************************
 */

.nst-fotn-xsmall {
  font-size: $font-size-xsmall;
}
.nst-font-small {
  font-size: $font-size-small;
}

.nst-font-medium {
  font-size: $font-size-medium;
}

.nst-font-large {
  font-size: $font-size-large;
}

.nst-font-xlarge {
  font-size: $font-size-xlarge;
}

.nst-error-msg {
  margin-top: 16px;
  font-size: $font-size-small;
  color: $color-force-wire;
}

/**
  *********************************
  *     Nested Classes - Colors   *
  *********************************
 */

.nst-mood-simple {
  color: $color-solid-60;
  flex:none
}

.nst-mood-storm {
  color: $color-storm;
}

.nst-mood-cheerful {
  color: $color-sense-wire;
}

.nst-mood-lively {
  color: $color-force-wire;
}

.nst-mood-breez {
  color: $color-breeze;
}

.nst-mood-solid {
  color: $color-solid
}

/**
  *********************************
  *     Nested Common Panels      *
  *********************************
 */


.side {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 208px;
  max-width: 416px;
  clear: both;
  flex: none;
}
.side:after {
  content: "";
  clear: both;
  display: block;
}
.side:before {
  content: "";
  clear: both;
  display: block;
}
.rightside {
  display: flex;
  height: 100%;
  min-width: 208px;
}

.nst-content-body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100% - 50px);
}
.body {
  background-color: $color-white;
  //border-right: 1px solid $color-calm;
  //border-left: 1px solid $color-calm;
  //max-width: 1920px;
  //min-width: 990px;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  z-index: -100;
}
.maincontainer {
  display: inline-flex;
  flex-direction: row;
  z-index: -99;
}
.sidebar {
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  width: 272px;
  height: 100%;
  flex: none;
  background-color: $color-calm;
  overflow-y: auto;
  overflow-x: hidden;
  transition: .3s;
}
.maincontainer.tiny .sidebar{
  width: 72px;
}
@media screen and (max-width: 990px){
  .sidebar{
    display: none;
  }
}
.sidebar > div {
  flex: none;
  transition: 0.3s;

}

.sidebar-border {
  background-color: $color-calm;
  //position: relative;
  //right: 4px;
  display: flex;
  flex: none;
  width: 4px;
  height: 100%;
  background: linear-gradient(to right, $color-calm, #d8dcd9);
}

.side-top {
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgb(255,255,255), $color-calm);
  width: 272px;
  height: 112px;
}
.maincontainer.tiny .side-top {
  width: 72px;
}
.nested-logo {
  z-index: 7;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
#Logo {
  background: url("../assets/icons/NestedLogo.svg") no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  margin: auto;
}

.compose {
  z-index: 7;
  display: flex;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  //min-width: 208px;
  height: 35px;
}

#compose {
  //border: 1px solid $color-sense-wire;
  line-height: 30px ;
  color: white;
  display: flex;
  font-size: 16px;
  font-family: open-sans, sans-serif;
  font-weight: 500;
  justify-content: center;
  width: 174px;
  height: 32px;
  align-items: center;
}
.maincontainer.tiny #compose {
  width: 54px;
}

#compose:hover{
  color: $color-white;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease;
}
#compose:active {
  background-color: $color-sense;
}
.side-menu {
  height: 180px;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
}
.side-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  //flex: 0 1 auto;
}
.maincontainer.tiny .side-menu-item {
  justify-content: center;
}
.maincontainer.tiny .icon-side {
  margin: 0;
}
.side-menu-item .item{
  display: flex;
  color: $color-solid;
  font-size: $font-size-large;
  font-weight: 200;
  margin-left: 3px;
}
.maincontainer.tiny .onlyExpand, .maincontainer.tiny .side-menu-item .item,.maincontainer.tiny .lines {
  display: none;
}
.side-menu-item:hover{

  background-color: $color-white;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease;
}
.side-menu-item:active {
}
.sidebar > .side-place {
  padding-left: 8px;
  height: 100%;
  //height: calc(100% - 420px);
}
.side-place-wrapper {
  z-index: 1;
  padding-bottom: 80px;
  padding-top: 112px;
}
.side-place-wrapper a{
  text-decoration: none;
  display: inline;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  white-space: nowrap;
}

.side-place-wrapper > .side-place {
  padding-left: 10px;
}
.side-place {
  display: box;
  box-orient: horizontal;
  box-flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-start;
  //width: calc(100% - 10px);
}
.sidebar > .side-place > .side-place-item-inner{
  min-height: 56px;
}
.side-place-item {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: column;
  //min-height: 42px;
}
.side-place-item-inner {
  display: inline-flex;
  min-height: 42px;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: row;
  //height: 42px;
}
.maincontainer.tiny .side-place-item-inner a {
  display: none;
}
.side-place .side-place .side-place-item {
}

.side-place-wrapper > .side-place > .side-place-item > .side-place-item-inner:hover{
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $color-white;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease;
}
.side-place-name:hover{
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $color-white;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease;
}
.maincontainer.tiny .side-place-item-inner:hover {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $color-white;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-timing-function: ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease, ease;
}
.sidebar > .side-place > .side-place-item > .side-place-item-inner:active{
  border-radius: 7px;
  background-color: rgba(255,255,255,.4);
}

.side-place-item-image {
  width: 52px;
  display: flex;
  flex: none;
  justify-content: center;
}
.maincontainer.tiny .side-place-item-image {
  width: 40px;
  img {
    margin-right:2px;
  }
}
.side-place-item a {
  color: rgb(71, 97, 82);
  font-weight: 300;
  margin-left: 4px;
}
.side-place-item .e2-arrow {
  width: 16px;
  flex: none;
  margin-right: 12px;
}
.maincontainer.tiny .e2-arrow label {
  display: none;
}
.maincontainer.tiny .sidebar:hover .e2-arrow label {
  display: block;
  animation: appearence .2s;
}
.maincontainer.tiny .side-place-item .e2-arrow {
  width: 12px;
}
.side-profile {
  z-index: 6;
  position: fixed;
  width: 272px;
  left: 0;
  bottom: 0;
  background-color: $color-calm;
  height: 80px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.maincontainer.tiny .side-profile {
  width: 72px;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-profile:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: #d8dcd9;
}
.side-profile a{
  color: $color-solid;
  line-height: 1em;
}
.side-profile span{
  font-size: $font-size-small;
  color: $color-storm;
}
.maincontainer.tiny .side-profile span,
.maincontainer.tiny .side-profile a{
  display: none;
}
.nst-container {
  background-color: $color-bg-nested;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  overflow-y: initial;
  overflow-y: auto;
  z-index: 1;
}

.nst-container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  flex-direction: row;
}

/**
  *********************************
  *     Nested Classes - Layouts  *
  *********************************
 */

.nst-fh {
  height: 100%;
}

.nst-hs {
  display: flex;
  justify-content: flex-start;
}

.nst-hc {
  display: flex;
  justify-content: center;
}

.nst-he {
  display: flex;
  justify-content: flex-end;
}

.nst-vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.nst-vc {
  height: 100%;
  display: flex;
  align-items: center;
}

.nst-vb {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.nst-ve {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.no-gutter [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter [class*="col-"]:first-child {
  padding-left: 15px;
}

.no-gutter [class*="col-"]:last-child {
  padding-right: 15px;
}

.nst-margin-auto {
  margin: auto;
}

.no-gutter2 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter2 [class*="col-"]:first-child {
  padding-left: 0px;
}

.no-gutter2 [class*="col-"]:last-child {
  padding-right: 0px;
}

/**
  *******************************************************
  *     Nested Classes - Icons    *
  *******************************************************
 */

.nst-ico-eye, .nst-ico-eye-slash {
  background: url("../assets/icons/inputform.svg") no-repeat;
  height: 32px;
}

.nst-ico-eye {
  background-position: 0 -64px;
}

/**
  ***************************************************************
  *     Nested Classes - Component Specific - menu    *
  ***************************************************************
 */

[class*="profile-menu-"] {
  background: url('../assets/icons/menuicon.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.profile-menusetting {
  background: url('../assets/icons/placebuttons.svg') no-repeat;
  width: 24px;
  height: 24px;
  background-position: 0 -35px;
}

.profile-menu-edit-profile {
  background-position: 0 -120px;
}

.profile-menu-signout {
  background-position: 0 -72px;
}

/**
  *********************************
  *    Add teammate modal
  *********************************
 */

.nst-modal-footer {
  background-color: $color-breeze-50;
  border-radius: 6px;
  margin-top: 15px;
  padding: 5px;
}

.modal-add {
  border-bottom: 1px solid $color-calm;
  margin: 10px 0;
}
.ui-select-choices-row > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;
}
.suggests {
  height: 170px;
  overflow: hidden;
}
.modal-add .ui-select-container ul {
  width: calc(100% + 50px)!important;
  max-height: 170px!important;
  overflow: hidden;
}
.modal-add .ui-select-choices-row{
  display: inline-flex;
  flex-direction: row;
  height: 50px;
  width: 33.3%;
  margin-top: 5px;
}
.modal-add .ui-select-choices-row a{
  display: inline-flex!important;
  flex-direction: row;
  height: 50px;
  width: 100%;
}
.modal-add .ui-select-choices-row:hover{
  background-color: $color-sense-5;
  cursor: pointer;
}
.modal-add  .dropdown-menu {
  border: none;
  box-shadow: none;
}
.modal-add .ui-select-choices-row.active > a,
.modal-add .ui-select-choices-row.active > a:hover{
  background-color: $color-sense-5 ;
  color: black;
  border-radius: 10px;
}
.modal-add h5 {
  font-size: $font-size-xlarge;
}

.modal-add input {
  border: none;
  padding: 5px 0px;
}

/**
  *********************************
  *     Unknown                   *
  *********************************
 */

.chkHolder span {
  margin-left: 3px;
  text-align: left;
  padding: 10px 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rightLink {
  text-align: right;
}

#chat-profile {
  margin-left: 5px;
  margin-top: 5px;
}


/**
  *********************************************************
  *     Nested Classes -Events *
  *********************************************************
 */

[class*="ei-"] {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.svg');
  margin-top: 8px;
}

.ei-mail-read {
  background-position: center center;
  background-repeat: no-repeat;
}

.ei-mail-unread {
  background-position: 0 0;
  background-repeat: no-repeat;
}

.ei-member-join {
  background-position: 0 -96px;
  background-repeat: no-repeat;
}

.ei-member-leave {
  background-position: center -80px;
  background-repeat: no-repeat;
}

.ei-comment-add {
  background-position: 0 -48px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-invite {
  background-position: 0 -112px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-member-invite {
  background-position: 0 -64px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.placeactsico {
  margin-top: 8px;
  border-radius: 50%;
}
.subnav #ViewSelector #ExpandView {
  background-image: url('/res/ico/viewswitch_expand.png');
  width: 27px;
  height: 10px;
  display: inline;
  cursor: pointer ;
}

.subnav #ViewSelector #ExpandView.on { background-position: 27px; }
.subnav #ViewSelector #ExpandView.off { }
.subnav #ViewSelector #CollapseView {
  background-image: url('/res/ico/viewswitch_collapse.png');
  width: 27px;
  height: 10px;
  display: inline-block;
  cursor: pointer ;
}

.subnav #ViewSelector #CollapseView.on { background-position: 27px; }
.subnav #ViewSelector #CollapseView.off {}
.subnav #Search {
  width: 146px;
  height: 30px;
  border-radius: 7px;
}
#MyPlaces { width: 275px; background-color: #E7ECE9; vertical-align: top;}
#MyPlaces ul {
  list-style: none;
  display: inline;
}
#MyPlaces li#AllPlaces { color: #00B45A; font-weight: bold; background-color: #FAFBFB; text-align: center;}
#MyPlaces li {
  display: block;
  overflow: hidden ;
  text-overflow: ellipsis ;
  word-break: keep-all;
  white-space: nowrap;
  padding-left: 10px;
  line-height: 46px;
  vertical-align: middle;
}
#MyPlaces li span {
  padding: 10px;

}
#MyPlaces li .place-cell {
  width:200px;
  border-bottom: 1px solid $color-breeze;
}

#MyPlaces li img { margin: 1px 3px;}
#MyPlaces li a {
  font-size: medium;
  display: block;
}

#MyPlaces li:hover { background-color: #F0F0F0; }
#MyPlaces li a:hover {
  font-weight: bold;
}

#MyPlaces li a span { line-height: 32px; }
#MyPlaces li.selected { background-color: #E7ECE9; }
#MyPlaces > ul > li {
  border: none;
  border-bottom: 1px solid #c0c0c0;
}

/**
  *********************************************************
  *     Nested Classes -   * Badges
  *********************************************************
 */

a.normal-badge {
  color: $color-solid;
}

//[class$="-badge"] {
//}

.small-badge {
  background-color: $color-badge;
  border-radius: 40px;
  flex: none;
  align-items: center;

}
.small-badge a{
  color: $color-solid;
  margin: 0 8px;
  font-size: 11px;
  white-space: nowrap;
}
.place:hover {
  color : black;
}

.normal-badge {
  background-color: $color-badge;
  border-radius: 9px;
  color: $color-solid;
  font-size: 12px;
  white-space: nowrap;
  padding: 0 8px;
  height: 20px;
  flex: none;
}

.large-badge {
  background-color: $color-badge;
  border-radius: 16px;
  flex: none;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.large-badge a{
  color: $color-solid;
  margin: 2px 12px;
  font-size: 13px;
  white-space: nowrap;
}
#PostView .normal-badge {
  //margin-top: 9px;
  //line-height:12px;
}

.normal-badge:hover {
  color: $color-solid;
}



/**
  *********************************************************
  *     Nested Classes -   * Media
  *********************************************************
 */

@media (min-width: 1000px) {
  #AllPlaces { width: 100%; }
}
@media (max-width: 999px) {

  #AllPlaces li > table td.properties {}
  #AllPlaces li > table td.members {}
}

@media (max-width: 999px) {
  #MyPlaces {}
  #EventList td.places {}
  #PostView .main-body .right-column {}
  #PostView #Toolbar {}
  #PostView #Comments {}
}
/**
  *********************************************************
  *     Nested Classes -   * ngProgress
  *********************************************************
*/
#ngProgress {
  background: linear-gradient(to right, rgba(20,215,105,1),rgba(20,215,105,1),rgba(20,215,105,0) );
  color: rgba(20,215,105,.5)!important;
  //color: black!important;
  //opacity: .9!important;
  background-color: transparent!important;
}

.progress-bar {
  background-color: $color-solid-60;
}
.progress-bar-success {
  background-color: $color-sense;
}
