
/**
  ******************************
  *  General
  ******************************
 */
.maincontainer {
  background-color: $color-breeze-50;
}
.nst-container {
  width: 100%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;
}

.avatar-64 {
  width: 64px;
  height: 64px;
  font-size: 32px;
}

.avatar-40 {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.vatar-24 {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.icon {
  color: $color-breeze;
  width: 24px;
  height: 24px;
  background-color: $color-white;

}

.icon-search {

}
.icon-search-rotated {
  transform: rotate(270deg);
}

.icon-storm {
  color: $color-storm;
}

.icon-breez {
  color: $color-breeze;
}

.icon-solid {
  color: $color-solid;
}

.badge {

  padding: 5px;

}

.badge-more {

}

.a {
  color: $color-sense;
  text-decoration: none;
}

.btn {
  border: 1px $color-breeze solid;
  background-color: $color-white;
  font-size: 14px;
  height: 32px;
}

.btn-sense {
  @extend .btn;
  background-color: $color-sense;
  color: $color-white;
}

.btn-force {
  @extend .btn;
  background-color: $color-force;
  color: $color-white;
}

.input {
  border: none;
  background-color: $color-white;
  font-size: 14px;
  height: 32px;

}

.input-tiny {


}

.input-force {

}

.input-title {

}

.textarea {

}

.display-none {
  display: none;
}

/**
  ******************************
  *  navbar
  ******************************
 */

.nst-navbar {
  background-color: $color-white;
  border-bottom: 1px solid $color-calm;
  min-width: 700px;

}
.intern-navbar {
  height: 190px;
  width: 700px;
  margin: auto;

}
.navbar-top {
height: 122px;
}

.navbar-bottom {
  height: 64px;

}

.menu-links {
  display: inline;
}
.menu-links-btn {
  height: 68px;
  width: 140px;
  line-height: 68px;
  color: $color-storm;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.menu-links-btn:hover {
  color: $color-solid;
}



/**
  ******************************
  *  sidebar
  ******************************
 */

.sidebar {
  .ul-side-menu {

  }
  .li-side-menu {

  }

  .ul-side-place-list {

  }
  .li-sideplace-item {

  }

}

/**
  ******************************
  *  Margins
  ******************************
 */

.margin-20 {
  margin: 20px;
}

.margin-l-5 {
  margin-left: 5px;
}
.margin-r-5 {
  margin-right: 5px;
}
.margin-t-5 {
  margin-top: 5px;
}
.margin-b-5 {
  margin-bottom: 5px;
}
