.badge {
  padding: 5px;
}


.a {
  color: $color-sense;
  text-decoration: none;
}

.plshide:focus {
  display: none;
}

.list-items {
  height: 30px;
  padding: 5px 10px;
  width: 100%;
  color: $color-hurricane;
  &.active {
    background-color: $color-sense-5;
    color: $color-solid;
    border-bottom-left-radius: 5px;
  }
  &:hover {
    background-color: $color-sense-5;
    color: $color-solid;
    border-bottom-left-radius: 5px;
  }
}



/**
  ******************************
  *  Margins
  ******************************
 */

.margin-20 {
  margin: 20px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-l-15 {
  margin-left: 15px;
}
