/**
  ******************************
  *  Margins
  ******************************
 */

.margin-l-5 {
  margin-left: 5px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-r_5{
  margin-right: -5px;
}

.margin-l-50 {
  margin-left: 50px;
}

.nst-vc {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
  background-color: $color-bg-public-pages;
  #Logo {
    margin: 16px 0 0 0;
    flex: none;
    width: 24px;
    height: 24px;
  }
  #Logo.giant {
    margin: 0;
    width: 72px;
    height: 72px;
  }
  #logo-type {
    margin: 0 0 16px 0;
  }
  #giant-logo-type {
    margin: 0 0 0 42px;
    flex: none;
    width: 128px;
    height: 38.17px;
  }
  > a {
    position: absolute;
    transform: translateY(-32px);
    flex: none;
    line-height: 24px;
    display: flex;
    height: 24px;
    margin-bottom: 8px;
    max-width: 358px;
    color: $color-hurricane;
    fill: $color-hurricane;
  }
}

@media only screen and (max-width: 500px) {
  .nst-vc {
    padding-top: 0;
    padding-bottom: 80px;
    > a {
      position: relative;
      transform: none;
    }
  }
}
.nst-arrow {
  background: url('../assets/icons/arrow.svg') no-repeat;
  height: 25px;
  width: 16px;
  padding: 0 0 0 5px;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.no-animation {
  animation: none!important;
}
.no-animation *{
  animation: none!important;
}
.arrow {
  width: 15px;
}.ico {
  min-width: 30px;
  justify-content: center;
}

.ui-select-highlight {
  background-color: #AEECC9;
  color: $color-hurricane;
}

.user {
  height: 70px;
}
.nst-vb {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.no-gutter [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter [class*="col-"]:first-child {
  padding-left: 15px;
}

.no-gutter [class*="col-"]:last-child {
  padding-right: 15px;
}

.no-gutter2 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter2 [class*="col-"]:first-child {
  padding-left: 0px;
}

.no-gutter2 [class*="col-"]:last-child {
  padding-right: 0px;
}

@for $i from 0 through 6 {
  .nst-margin-#{$i * 4} {
    margin: #{$i * 4}px;
  }
}
