.nst-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 16px;
}

.nst-avatar-64 {
  width: 64px;
  height: 64px;
  font-size: 32px;
}

.nst-avatar-40 {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.nst-vatar-24 {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.nst-icon {
  color: $color-breeze;
  width: 24px;
  height: 24px;
  background-color: $color-white;

}

.nst-icon-search {

}

.nst-icon-storm {
  color: $color-storm;
}

.nst-icon-breez {
  color: $color-breeze;
}

.nst-icon-solid {
  color: $color-solid;
}

.nst-badge {

  padding: 5px;

}

.nst-badge-more {


}

.nst-a {
  color: $color-sense;
  text-decoration: none;
}

.nst-btn {
  border: 1px $color-breeze solid;
  background-color: $color-white;
  font-size: 14px;

  height: 32px;
}

.nst-btn-sense {
  background-color: $color-sense;
  color: $color-white;
}

.nst-btn-force {
  background-color: $color-force;
  color: $color-white;
}

.nst-input {
  border: none;
  background-color: $color-white;
  font-size: 14px;
  height: 32px;

}

.nst-input-tiny {


}

.nst-input-force {

}

.nst-input-title {

}

.nst-textarea {

}

/**
  ******************************
  *  nst-navbar
  ******************************
 */

.nst-navbar {

}

.nst-navbar-top {

}

.nst-navbar-bottom {

}


/**
  ******************************
  *  nst-sidebar
  ******************************
 */

.nst-sidebar{

}
.nst-side {

}
