/**
  *********************************
  *     Variables                 *
  *********************************
*/

$color-solid: #000;
$color-sense: #14d769;
$color-sense-wire: #00b45a;
$color-sense-5: #f3fdf7;
$color-sense-50: #83d8ad;
$color-solid-30: #b2b2b2;
$color-solid-60: #666666;
$color-force: #ff6464;
$color-force-10: #ffefef;
$color-force-wire: #ff0014;
$color-calm: #f0f5f2;
$color-breeze: #ced9d3;
$color-breeze-50: #e8ece9;
$color-wind: #a6b9af;
$color-storm: #869d91;
$color-hurricane: #476152;
$color-badge: #a0e8b8;
$color-fillbox: #f0f5f2;
$color-white: #FFFFFF;
$color-bg:rgb(250,250,250);

$font-size-xxsmall: 10px;
$font-size-xsmall: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 22px;

$font-family-eng-reg: "OpenSans";
$font-family-eng-bold: "OpenSans";
$font-family-per-reg: "YekanBakh";
$font-family-per-bold: "YekanBakh";

/**
  *********************************
  *     Keyframes                 *
  *********************************
*/
@keyframes appearence {
  from {opacity: 0;}
  to {opacity: 1;}
}
