/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "nested.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
  *********************************
  *     General Hacks             *
  *********************************
 */


 //****input Styles****

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/controls.png') no-repeat;
  height: 16px;
  min-width: 17px;
  padding: 0 0 0 17px;
  font-size: $font-size-small;
  color: $color-solid;
}

input[type="checkbox"]:checked + label {
  background-position: 0 -16px;
}

#viewswitch input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/viewswitch.png') no-repeat;
  height: 15px;
  min-width: 48px;
  padding: 0 0 0 17px;
}


#viewswitch input[type="checkbox"]:checked + label {
  background-position: 0 -15px;
}


input[type="radio"] {
  opacity:0;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

input[type="radio"] + label{
  background: url('../assets/icons/controls.png') no-repeat;
  height: 16px;
  width: 16px;
  background-position: 0px -48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 22px;
}

input[type="radio"]:checked + label{
  background: url('../assets/icons/controls.png') no-repeat;
  background-position: 0px -64px;
  height: 16px;
  width: 17px;
}

/*************************
 *    Account Initials
 *************************/


* [class *= "account-initials-"] {
  margin-right: 8px;
}

@for $i from 1 through 32 {
  .account-initials-#{$i * 8} {
    width: #{$i * 8}px;
    height: #{$i * 8}px;
    border-radius: 50%;
    float: left;
    line-height: #{$i * 8 - 1}px;
    text-align: center;
    font-size: $font-size-small; // #{$i/2}px
    font-weight: normal;
    color: white;
    background-color: $color-solid-30;
    vertical-align: top;
  }
}

.account-initials-right {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  float: right;
  line-height: 31px;
  text-align: center;
  font-size: $font-size-small;
  font-weight: normal;
  color: white;
  background-color: $color-solid-30 ;
}


/**
  *********************************
  *     Bootstrap Overrides       *
  *********************************
 */

.modal-dialog .modal-content {
  margin-top: 150px;
}


.panel {
  background-color: white;
  margin: auto;
  border-radius: 8px;
  border: 1px solid $color-breeze;
  padding: 25px 15px 25px 15px;
  box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
}

.form-control {
  border: 1px solid $color-breeze;
}

.form-control:focus,
.btn:focus {
  border: 2px solid $color-solid;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: $color-wind;
}

.form-control:-moz-placeholder {
  color: $color-wind;
}

.form-control::-moz-placeholder {
  color: $color-wind;
}

.form-control:-ms-input-placeholder {
  color: $color-wind;
}

.panel a {
  text-decoration: none;
  font-size: $font-size-small;
}

.btn {
  background-color: $color-sense;
  font-size: $font-size-medium;
  font-weight: bold;
  border: 1px solid $color-sense-wire;
  color: white;
  height: 40px;
  border-radius: 6px;
  line-height: 1.33333;
}

label {
  font-weight: normal;
}

.form-control-feedback {
  top: 4px;
}



/**
  *************************************
  *     Nested Classes - Typography   *
  *************************************
 */

.nst-font-small {
  font-size: $font-size-small;
}
.nst-font-medium {
  font-size: $font-size-medium;
}
.nst-font-large {
  font-size: $font-size-large;
}

.nst-font-xlarge {
  font-size: $font-size-xlarge;
}

/**
  *********************************
  *     Nested Classes - Colors   *
  *********************************
 */

.nst-mood-simple {
  color: $color-solid-60;
}

.nst-mood-storm {
  color: $color-storm;
}

.nst-mood-cheerful {
  color: $color-sense-wire;
}

.nst-mood-lively {
  color: $color-force-wire;
}
.nst-mood-breez {
  color: $color-breeze;
}
.nst-mood-solid {
  color: $color-solid
}
/**
  *********************************
  *     Nested Classes - Layouts  *
  *********************************
 */

.nst-fh {
  height :100%;
}
.nst-hs {
  display: flex;
  justify-content: flex-start;
}

.nst-hc {
  display: flex;
  justify-content: center;
}

.nst-he {
  display: flex;
  justify-content: flex-end;
}

.nst-vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.nst-vc {
  height: 100%;
  display: flex;
  align-items: center;
}

.nst-vb {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.nst-ve {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.no-gutter [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter [class*="col-"]:first-child {
  padding-left: 15px;
}

.no-gutter [class*="col-"]:last-child {
  padding-right: 15px;
}
.nst-margin-auto {
  margin: auto;
}
.no-gutter2 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter2 [class*="col-"]:first-child {
  padding-left: 0px;
}

.no-gutter2 [class*="col-"]:last-child {
  padding-right: 0px;
}

/**
  *********************************
  *     Nested Classes - Icons    *
  *********************************
 */

.nst-ico-eye, .nst-ico-eye-slash {
  background: url("../assets/icons/form.png") no-repeat;
  height: 32px;
}

.nst-ico-eye {
  background-position: 0 -64px;
}

/**
  **********************************************
  *     Nested Classes - Component Specific    *
  **********************************************
 */


/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
 */

.nested-logo {
  height:64px;
  width:20px;
}
#Header {
  //height: 64px;
  position: relative;
  border-bottom: 1px solid $color-calm;
}

#PrimaryPageSelector {
  width: 575px;
}

#PrimaryPageSelector ul {
  display: inline-block;
}
#SecondaryPageSelector ul {
  display: inline-block;
}

#SecondaryPageSelector .margin-ul-placeotion {
  margin-left: 208px;
}

#PrimaryPageSelector li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: medium;
  border-top: 5px solid white;
  width: 7em;
  text-align: center;
}

#PrimaryPageSelector li:hover,
#PrimaryPageSelector li.selected {
  border-top: 5px solid black;
}

#PrimaryPageSelector li.selected a,
#PrimaryPageSelector li:hover a {
  color: $color-solid;
  font-weight: bold;
}

#PrimaryPageSelector a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  text-decoration: none;
  color: $color-storm;
}



#SecondaryPageSelector li {
  display: inline-block;
  font-size: $font-size-small;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-bottom: 5px solid white;

}

#SecondaryPageSelector li:hover,
#SecondaryPageSelector li.selected {
  border-bottom: 3px solid $color-sense ;
  color: $color-sense ;
}

#SecondaryPageSelector li.selected a,
#SecondaryPageSelector li.hover a
{
  color: $color-sense;

}
#SecondaryPageSelector a {
  padding: 9px 15px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $color-solid;
  display: block;
}
#SecondaryPageSelector a:hover {
  color: $color-sense;
}

.nav-profile {
  padding: 10px 0 2px 0;
  font-weight: 600;
}
.nav-width-ul {
  display: inline-block;
  margin-top: 0;
  //width: 1000px;
}

.nav > li > a {
  position: relative;
  display: block;
   padding: 22px 16px 22px 16px;
}

.nav > ul a {
  padding : 22px 16px 22px 16px;
}

.Search .form-control {
  width:144px;
}

.Search .input {
  height:10px;
  width:50px;
}

.menu-links-top {
  font-size: $font-size-large;
}

.nst-nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

}

#nst-compose-button {
  height: 32px;
  width: 128px;
  vertical-align: middle;
  font-weight: normal;
}
#nst-compose-button:hover {
  background-color: $color-sense;
}

input #nav-search {
  height: 30px;
  width: 146px;
  border-radius: 6px;
}

#n-search {
  width: 146px;
  height: 30px;
  border-radius: 6px;
  padding-left: 8px;

}

#SubNav #Buttons { width: 100px; }
#SubNav #Search { width: 100px; }


.button-back {
  width: 46px;
  height: 22px;
  background-color: $color-white;
  border: 1px solid $color-breeze;
  border-radius: 5px;
  color: $color-storm;
}
.add-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -96px;
  background-repeat: no-repeat;
}

.option-delete-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.option-leave-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -24px;
  background-repeat: no-repeat;
}

.option-rename-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position: 0 -72px;
  background-repeat: no-repeat;
}

.option-add-icon {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/actionbuttons_place_24.png");
  background-position:0 -48px;
  background-repeat: no-repeat;
}


/**
  *********************************************************
  *     Nested Classes - Component Specific - Side Bar    *
  *********************************************************
 */


/**
  ********************************************************
  *     Nested Classes - Page Specific  Content  *
  ********************************************************
 */

 #content {
  background-color: $color-sense;
}
.nst-event-name {
  width: 128px;
  vertical-align: top;
  font-size: $font-size-small;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.nst-green-tag {
  display: inline-block;
  background-color: #89EBB4;
  border-radius: 10px;
  margin: 1px;
  padding: 1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 100px;
}

/**
  ****************************************************
  *     Nested Classes - Page Specific - register    *
  ****************************************************
 */
#panel-register{
  width:352px;
  padding: 20px 15px 20px 15px;
}
.select-birthday{
  background-color: #eaffea;
  width:100%;
  height:38px;
}
.select-birthday option:hover{
  background-color: #ccffe6;
}
.nst-marginbtm{
  margin-bottom: 15px;
}
.nst-font-10{
  font-size:10px;
}
/**
  *************************************************
  *     Nested Classes - Page Specific - Login    *
  *************************************************
 */

#panel-signin {
  width: 354px;
  height: 336px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Reset Password    *
  **********************************************************
 */

#panel-reset {
  width: 350px;
  height: 345px;
}
.msg-panel {
  height: 100px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Sidebar    *
  **********************************************************
 */

/**
  **********************************************************
  *     Nested Classes - Page Specific - Events  *
  **********************************************************
 */

.nst-content {
  background-color: $color-white;
  width:100%;
}

.nst-event-pic {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: 0 -2px;
  background-repeat: no-repeat;
}
.decline {
  background-color: $color-white;
  border-color: $color-calm;
  border-radius: 5px;
  padding: 0px;
  color: $color-storm;
  display: inline-block;
  font-size: $font-size-small;
  height: 22px;
  width: 80px;
}
.accept {
  background-color: $color-sense;
  border-color: $color-calm;
  border-radius: 5px;
  padding: 0px;
  color: $color-white;
  display: inline-block;
  font-size: $font-size-small;
  height: 22px;
  width: 80px;
}
.headlineicon {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/headlineicon_16.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
}
.headlineicon-green {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_compose_24.png');
  background-repeat: no-repeat;
}

.event-group-time {
  margin-left: 10px;
  margin-top: 15px;
  width:100%
}

.event-group-time:hover {
  background-color: $color-white !important;
}

.event-group-time .msg,
.event-group-time .time,
.event-group-time .places,
.event-group-time .sender {
  border-bottom: none !important;
}

.daily-time p {
  margin-left: 10px;
  margin-top: 15px;

}

#EventList {
  margin-top: 100px;
}
#EventList .td { padding: 5px; }
#EventList .td.ico { width: 16px; vertical-align: top; }
#EventList .td.ico img { border-radius: 16px; }
#EventList .td.sender {
  width: 200px;
  vertical-align: top;
  font-size: small;
  overflow: hidden ;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
#EventList {table-layout: fixed;}
#EventList tr:hover { background-color: #E7FBF0;} // TODO: color should change
#EventList td { padding: 5px; }
#EventList td.ico {
  padding-left: 8px;
  width: 32px;
  vertical-align: top;
}
#EventList td.ico img { border-radius: 16px; }
#EventList td.sender {
  width: 166px;
  vertical-align: top;
  font-size: small;
  overflow: hidden ;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
#EventList td.sender img { margin-left: 2px; margin-right: 4px; border-radius: 16px; }
#EventList td.sender span { line-height: 32px;}
#EventList td.msg {
  width: auto;
  border-bottom: 1px solid #ced9d3;
  vertical-align: top;
  padding-top: 12px;
}
#EventList td.msg .subject { font-weight: bold; line-height: 24px; word-break: break-all; overflow: hidden;}
#EventList td.msg .body { color: gray; word-break: break-all; overflow: hidden; }
#EventList td.places { width: 220px; vertical-align: top; border-bottom: 1px solid #ced9d3; }
#EventList tr #time-of-event { width: 400px; }
#EventList td.places > * {
  display: inline-block;
  background-color: $color-badge;
  border-radius: 10px;
  margin: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-xsmall;
  border: 1px solid $color-badge;
  padding: 1px 10px 1px 10px ;
  color: $color-solid;

}

#EventList td.places >.more-tag {
  border-color: $color-solid;
  border-width: 1px;
  border-style: solid;
  background-color: $color-solid;
  border-radius: 7px;
  color: $color-white;
  font-size: $font-size-xsmall;
  width: 28px;
  height: 14px;
  text-align: center;
  line-height: 10px;
}
#EventList td.time {
  width: 100px;
  border-bottom: 1px solid $color-breeze;
  vertical-align: top;
  color: $color-solid-60 ;
}
#EventList.collapse td.msg .body { display: none; }
#EventList.collapse td.msg .attachments { display: none; }

#PostView {
  //top: 0;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;

  overflow: hidden;
}
.msg .headlineicon {
  margin-top: 2px;
}

#load-more-events {
  cursor : pointer;
}

.attachment-badge-bar {
  height: 18px;
  background-color: $color-breeze-50;
  border-radius: 5px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 8px;
  overflow: hidden;
}

.attachment-badge-doc {
  background: url('../assets/icons/attachment_badge2.png') no-repeat;
  width: 24px;
  height: 10px;
  background-position: 0 0px;
  margin-top: 4px;
}

.attachment-badge-img {
  background: url('../assets/icons/attachment_badge2.png') no-repeat;
  width: 24px;
  height: 10px;
  background-position: 0 -10px;
  margin-top: 4px;

}

.attachment-badge-pdf {
  background: url('../assets/icons/attachment_badge2.png') no-repeat;
  width: 24px;
  height: 10px;
  background-position: 0 -20px;
  margin-top: 4px;
}

.attachment-badge-file {
  background: url('../assets/icons/attachment_badge2.png') no-repeat;
  width: 24px;
  height: 10px;
  background-position: 0 -30px;
  margin-top: 4px;
}

.attachment-badge-zip {
  background: url('../assets/icons/attachment_badge2.png') no-repeat;
  width: 24px;
  height: 10px;
  background-position: 0 -40px;
  margin-top: 4px;
}
/**
  **********************************************************
  *     Nested Classes - Page Specific - Places *
  **********************************************************
 */

#place-bg {
  background-color: $color-breeze-50;
}
#AllPlaces {
  list-style: none;
  margin: 100px auto;
  padding-bottom: 100%;
  background: $color-white;
}

#AllPlaces li {
  border-bottom: 1px solid $color-calm;
  min-height: 64px;
}
#AllPlaces tr {
 background-color: $color-white;
}

#AllPlaces ul {
  list-style: none;
  margin-left: 25px;
}
#AllPlaces li > table {
  width: 100%;
  height: 64px;
}
#AllPlaces li > table td.logo {
  width: 48px;
}
#AllPlaces li > table td.logo > img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
#AllPlaces li > table td.name {
  min-width: 200px;
  margin-top: 15px;

}
#AllPlaces li > table td.name img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
#AllPlaces li > table td.name h5 {
  margin: 1px 5px;
  font-weight: normal;
  font-size: small;
}
#AllPlaces li > table td.name p {
  margin: 5px;
  //color: #787878;
  font-size: x-small;
}
#AllPlaces li > table td.members {
  width: 168px;
  text-align: right;
}
#AllPlaces li > table td.members img{
  height: auto;
  width: 32px;
  height: 32px;
  margin: 1px;

}

.place-members {
  margin-right: 5px;
}

.role-icon-crown {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  width: 16px;
  height: 16px;
}

.role-icon-crown-new {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 0px;

}

.role-icon-key {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}

.role-icon-avatar {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}

.role-icon-key-wait {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -48px;
}

.role-icon-avatar-wait {
  background: url('../assets/icons/roleicon_16-2.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -64px;
}

.role-icon-green {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}

.role-icon-gray {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}

.nst-pencil {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
}

.nst-atsign  {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -48px;
}

.nst-eye {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -24px;

}

.nst-search  {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -72px;
}

.nst-more-badge  {
  background: url('../assets/icons/more_32.png') no-repeat;
  height: 32px;
  width: 32px;
}

._dtc .nst-more-badge {
  width: 48px;
  height: 32px;
}

.nst-shown {
  background: url('../assets/icons/placeicon_24_default.png') no-repeat;
  height: 24px;
  width: 24px;
  background-position:  0px -96px;

}

.nst-notif {
  background: url('../assets/icons/placeicon_24_default.png') no-repeat;
  height: 24px;
  width: 24px;
  background-position:  0px -120px;

}

.nst-lock {
  background: url('../assets/icons/placeicon_24_default.png') no-repeat;
  height: 24px;
  width: 24px;
  background-position:  0px -24px;

}

.nst-print {
  background: url('../assets/icons/placeicon_24_default.png') no-repeat;
  height: 24px;
  width: 24px;
  background-position:  0px 0px;

}

.nst-arrow {
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  padding: 0 0 0 5px;
  background-position: center center;
  cursor: pointer;
}

.nst-arrow-rotated {
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  padding: 0 0 0 5px;
  background-position: center center;
  transform: rotate(180deg);
  cursor: pointer;
}


.nst-menu-arrow {
  background: url('../assets/icons/menu_arrow_16.png') no-repeat;
  height: 12px;
  width: 12px;
  background-position: center center;
  cursor: pointer;
}

.arrow {
  width: 15px;
}

.nst-more {
  width: 32px;
}

.empty-space {
  width: 16px;
  height: 16px;
}

.nst-more-members {
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px $color-calm;
  float: right;
  line-height: 28px;
  text-align: center;
  font-size: $font-size-small;
  color: $color-storm;
  margin-left: 5px;
  margin-right: 5px;
}

.nst-no-more-members {
  min-width: 30px;
  height: 30px;
  float: right;
  line-height: 28px;
  text-align: center;
  font-size: $font-size-small;
  color: $color-storm;
  margin-left: 5px;
  margin-right: 5px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Post-view *
  **********************************************************
 */


.post-nav {
  display: inline-block;
  width: 100%;
  height: 60px;

}
.post-nav img {
  padding-right:20px;
  padding-left: 20px;
}
.post-nav-left {
  float: left;
  height: 60px;
  min-width: 500px;
  padding-left: 16px;
  padding-top: 18px;
}
.post-nav-left p {
  font-size: $font-size-xlarge;
}
.post-nav-left-bottom {
  float: left;
  min-height: 40px;
  min-width: 500px;
  padding-left: 16px;

}

.post-nav-left-bottom p {
  //padding-top: 8px;
}
.post-nav-right {
  float: right;
  width: 240px;
  padding-left: 43px;
  padding-top: 18px;

}
.post-nav-right-bottom {
  width: 320px;
  float: right;

}
.normal-badge {
  background-color: $color-badge;
  border-radius: 15px;
  color: $color-solid;
  font-size: 13px;
  padding: 2px 8px 2px 8px;
  margin: 4px;
  white-space: nowrap;
}
.normal-badge:hover {
  color: $color-solid;
}

.badges {
  margin-left: 24px;
  padding-top: 8px;

}
.nst-nowrap-badge {
  width: 400px;
  margin-left: 150px;
  margin-top: -20px;
  overflow: auto;
}

.delete-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 -48px;
  background-repeat: no-repeat;
}
.forward-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
}
.Reply-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
}
.panel-action ._dtc {
  padding-right: 8px;
  padding-left: 24px;

}
.time-post-view {
  width: 80px;
  font-size: $font-size-small;
}
.profile-post-view {
  width: 40px;
}
.msg-post-view {
  padding-left: 40px;
}
.input-msg input {
  float: right;
  border: 1px solid $color-breeze !important;
  padding-right: 8px;
  height: 32px;
  margin-bottom: 5px;
  margin-right: 8px;
  margin-left: 8px;
  width: 258px;
}
.input-msg {
  height: 42px;
}
.input-msg img {
  margin-top: 6px;
  margin-left: 4px;
}

*[class*="-attachment"] {
  width: 72px;
  height: 96px;
  background: url('../assets/icons/attachment_card_96x72.png') no-repeat;
  padding: 15px 10px 20px 10px;
  white-space: normal;
  overflow: hidden;
  border-bottom: 20px solid rgba(255, 255, 255, 0);
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* for set '...' in absolute position */
  position: relative;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
}

*[class*="-attachment"]:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 10px;
  bottom: 0.5ex;
}

*[class*="-attachment"]:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 10px;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.doc-attachment {
  background-position: 0 0;

}

.media-attachment {
  background-position: 0 -96px;

}

.pdf-attachment {
  background-position: 0 -192px;

}
.file-attachment {
  background-position: 0 -288px;
}

.zip-attachment {
  background-position: 0 -384px;
}

#PostView > div { table-layout: fixed; }
#PostView .top-space { height: 10%; }
#PostView .bottom-space { height: 10%; }
#PostView .left-space { width: 10%; }
#PostView .right-space { width: 10%; }
#PostView .main-body {
  border: 1px solid $color-breeze;
  border-radius: 8px;
  background-color: $color-white ;
  padding: 0;
  // height: 640px;
  box-shadow: 0 0 16px 0 rgba(71, 97, 82, 0.15);
}
#PostView .main-body .left-column {}
#PostView .main-body .right-column { width: 300px;}
#PostView #PostHeader {
  border-bottom: 1px solid $color-breeze ;
  padding: 0px;
  height: 100px;
}

#PostHeader .badges{
  margin-right: 5px;

}

#PostView #PostTime {
  top: 0px;
  right: 0px;
  text-align: right;
  vertical-align: top;
  line-height: 32px;
}

#PostView #PostTime .date {margin: 1px; color: gray; font-weight: bold;}
#PostView #PostTime .time {margin: 1px 10px; font-size: $font-size-small;}
#PostView #SenderIco {
  width: 16px;
  height: 16px;
  display: inline-block;
}

#PostView #SenderIco img { border-radius: 16px; }
#PostView #SenderName {
  display: inline-block ;
}

#PostView #Targets { margin: 5px 1px; }
#PostView #Targets div {
  display: inline-block;
  background-color: $color-sense-wire ;
  border-radius: 10px;
  margin: 1px;
  padding: 1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 300px;
}

#PostView #Toolbar {
  bottom: 0px;
  right: 0px;
}

#PostView #Toolbar ul {
  list-style: none;
  float: right;
}

#PostView #Toolbar li {
  display: inline-block;
  margin: 2px 15px;
}

#PostView #Toolbar li img {
  float: right;
}

#PostView #Toolbar li span {
  line-height: 24px;
  color: gray ;
}

#PostView #Content {
  vertical-align: top;
  overflow: auto;
}

#PostView #PostBody {
  border: none;
  overflow: auto;
}

#PostView #Comments {
  padding: 5px;
  width: 320px;
  background-color: rgb(247,250,249);
}

#PostView .NewComment { padding: 5px; }
#PostView .NewComment .account-ico { float: left;}

#PostView .NewComment #CommentSendBtn  {
  background-color: $color-sense;
  border: none ;
  border-radius: 5px;
  padding: 5px 10px;
  color: $color-white ;
}

#PostView #CommentList .sender-ico {
  float: left;
}

#PostView #CommentList .sender-ico img {
  border-radius: 16px;
  margin-right: 3px;
}

#PostView #CommentList .sender {
  color: $color-sense;
  font-weight: bold;
}

#PostView #CommentList .comment-txt {
  overflow: hidden;
  line-height: 24px;
  vertical-align: baseline;
}

#PostView #CommentList .comment { clear: both; padding: 5px;}

#PostView #CommentList .comment:hover { background-color: #E7FBF0;} // TODO: the color should change


/**
  **********************************************************
  *     Nested Classes - Page Specific - Place-option *
  **********************************************************
 */



.ico-margin {
  margin-left: 15px;
}

#place-option-body {
  height: 100%;
  width: 800px;
  background-color: $color-white;
  margin: 100px auto;
}
#place-option-body hr {
  width: 98%;
  margin: auto;

}
.room-name {
  height: 152px;
  margin-top: -10px;
}

.room-pic {
  margin-left: 12px;
  margin-top: 30px;
}

.nst-options {
  height: 110px;
}

//.nst-options span {
//  padding-top: 70px;
//  padding-left: 5px;
//}

.nst-options .nst-eye {
  margin-left: 7px;
}

.nst-place-privacy {
  height: 172px;
}

//.nst-place-privacy span {
//  padding-top: 65px;
//  padding-left: 10px;
//}

.nst-teammates {
  height: 240px;
}

.nst-teammates >._dtr {
  width: 800px;
}

.place-option-members> ._dt {
  width: 800px;
}

.teammate-name {
  min-width: 270px;
}

.place-option-members {
  height:400px;
}

.teammates-panel .account-initials-48 {
  margin: 6px 0px 6px 12px;
}

.role-icon {
  margin-right: 3px;
  margin-left: 3px
}

.room-name h5 {
  padding-top: 45px;
}

.option-hld {
  width: 400px;
  padding-top: 5px;
}

.switch-panel {
  padding-right: 10px;
}

.add-panel {
  margin-top: 38px;
}

.add-panel >div {
  margin-top: -9px;
}

#switch-option input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/viewswitch.png') no-repeat;
  height: 15px;
  min-width: 48px;
  padding: 0 0 0 17px;
}

#switch-option input[type="checkbox"]:checked + label {
  background-position: 0 -15px;
}

.switch-option {
  background-color: $color-sense;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border: 2px solid $color-sense;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  width: 60px;
  height: 14px;
  text-align: center;
  color: $color-white;
  font-size: $font-size-small;
  line-height: 10px;
}

.switch-option-right {
  background-color: $color-white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border: 2px solid $color-sense;
  width: 60px;
  height: 14px;
  margin-left: -4px;
  color: $color-solid;
  font-size: $font-size-small;
  text-align: center;
  line-height: 10px;
}

.switch-option-off {
  background-color: $color-white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border: 2px solid $color-sense;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  width: 60px;
  height: 14px;
  text-align: center;
  color: $color-solid;
  font-size: $font-size-small;
  line-height: 10px;
}

.switch-option-right-off {
  background-color: $color-sense;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border: 2px solid $color-sense;
  width: 60px;
  height: 14px;
  margin-left: -4px;
  color: $color-white;
  font-size: $font-size-small;
  text-align: center;
  line-height: 10px;
}

.properties {
  width: 126px;
}

.add-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_place_24.png');
  background-position: 0 -96px;
  background-repeat: no-repeat;
}

.menuicon-remove {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/menuicon_24.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.menuicon-create {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/menuicon_24.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
}


.popup-panel {
  background-color: $color-sense-5;
  width: 144px;
  border: 1px solid $color-sense;
  padding: 10px;
}

#compose-body {
  height: 100%;
  width: 800px;
  background-color: $color-white;
  margin: 0px auto;
  margin-top: 91px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - compose *
  **********************************************************
 */

.compose-input {
  width: 100%;
  height: 60px;
  border: none;
  padding-left: 8px;
  font-size: $font-size-xlarge;
}

.address-input {
  width: 90%;
  height: 40px;
  border: none;
  padding-left: 8px;
}

#compose-body span {
  padding-left: 8px;
}

#compose-body hr{
  width: 98%;
  margin: auto;
}

.nst-attach-upload {
  height: 16px;
  max-width: 200px;
  background-color: $color-fillbox;
  margin-top: 88px;
  border-radius: 6px;
  line-height: 15px;
  font-size: $font-size-small;
  margin-right: -35px;
}

.nst-attach-area {
  margin-left: 10px;
  margin-top: 10px;
}

.nst-attach {
  height: 112px;
}

.nst-attach .headlineicon-green{
  margin: 12px;
}

.nst-attach-bar {
  width: 94%;
  height: 24px;
  background-color: $color-fillbox;
  margin-left: 10px;
  margin-top: 8px;
}

.nst-compose-message {
  height: 500px;
}

.compose-message-input {
  height: 100px;
  border: none;
  width: 100%;
  padding-left: 8px;
}

.nst-compose-message p {
  padding: 10px;
}



/**
  *********************************
  *     Unknown                   *
  *********************************
 */

.chkHolder span {
  margin-left: 3px;
  text-align: left;
  padding: 10px 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rightLink {
  text-align: right;
}


#chat-profile {
  margin-left: 5px;
  margin-top: 5px;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
