/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "nested.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
  *********************************
  *     General Hacks             *
  *********************************
 */

a {
  text-decoration: none;
}

body {
  background-color: $color-sense-5;
  font-family: $font-family-eng-reg;
}

body,
html,
*[ui-view] {
  height: 100%;
}

*:focus {
  outline: none;
}
a:hover {
  color:#00b45a;
  text-decoration: none;
}
input[type="text"],
input[type="password"] {
  height: 40px;
}

input,
button,
select,
textarea {
  border: 1px solid $color-breeze;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/controls.png') no-repeat;
  height: 16px;
  min-width: 17px;
  padding: 0 0 0 17px;
}

input[type="checkbox"]:checked + label {
  background-position: 0 -16px;
}

#viewswitch input[type="checkbox"] + label {
  display: inline-block;
  background: url('../assets/icons/viewswitch.png') no-repeat;
  height: 15px;
  min-width: 48px;
  padding: 0 0 0 17px;
}



#viewswitch input[type="checkbox"]:checked + label {
  background-position: 0 -15px;
}



input[type="radio"] {
  opacity:0;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

input[type="radio"] + label{
  background: url('../assets/icons/controls.png') no-repeat;
  height: 16px;
  width: 16px;
  background-position: 0px -48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

input[type="radio"]:checked + label{
  background: url('../assets/icons/controls.png') no-repeat;
  background-position: 0px -64px;
  height: 16px;
  width: 17px;
}

/**
  *********************************
  *     Bootstrap Overrides       *
  *********************************
 */

.panel {
  background-color: white;
  margin: auto;
  border-radius: 7px;
  border: 1px solid $color-breeze;
  padding: 25px 15px 25px 15px;
  box-shadow: 1px 1px 1px 1px $color-breeze;
}

.form-control {
  border: 1px solid $color-breeze;
}

.form-control:focus,
.btn:focus {
  border: 2px solid $color-solid;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: $color-wind;
}

.form-control:-moz-placeholder {
  color: $color-wind;
}

.form-control::-moz-placeholder {
  color: $color-wind;
}

.form-control:-ms-input-placeholder {
  color: $color-wind;
}

.panel a {
  text-decoration: none;
  font-size: $font-size-small;
}

.btn {
  background-color: $color-sense;
  font-size: $font-size-medium;
  font-weight: bold;
  border: 1px solid $color-sense-wire;
  color: white;
  height: 40px;
  border-radius: 6px;
  line-height: 1.33333;
}

label {
  font-weight: normal;
}

.form-control-feedback {
  top: 4px;
}

/**
  *********************************
  *     Nested Classes            *
  *********************************
 */

/**
  *************************************
  *     Nested Classes - Typography   *
  *************************************
 */

.nst-font-small {
  font-size: $font-size-small;
}
.nst-font-medium {
  font-size: $font-size-medium;
}
.nst-font-large {
  font-size: $font-size-large;
}

.nst-font-xlarge {
  font-size: $font-size-xlarge;
}

/**
  *********************************
  *     Nested Classes - Colors   *
  *********************************
 */

.nst-mood-simple {
  color: $color-solid-60;
}

.nst-mood-calm {
  color: $color-storm;
}

.nst-mood-cheerful {
  color: $color-sense-wire;
}

.nst-mood-lively {
  color: $color-force-wire;
}

/**
  *********************************
  *     Nested Classes - Layouts  *
  *********************************
 */

.nst-hs {
  display: flex;
  justify-content: flex-start;
}

.nst-hc {
  display: flex;
  justify-content: center;
}

.nst-he {
  display: flex;
  justify-content: flex-end;
}

.nst-vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.nst-vc {
  height: 100%;
  display: flex;
  align-items: center;
}

.nst-vb {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.nst-ve {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.no-gutter [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter [class*="col-"]:first-child {
  padding-left: 15px;
}

.no-gutter [class*="col-"]:last-child {
  padding-right: 15px;
}
.nst-margin-auto {
  margin: auto;
}
.no-gutter2 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.no-gutter2 [class*="col-"]:first-child {
  padding-left: 0px;
}

.no-gutter2 [class*="col-"]:last-child {
  padding-right: 0px;
}

/**
  *********************************
  *     Nested Classes - Icons    *
  *********************************
 */

.nst-ico-eye, .nst-ico-eye-slash {
  background: url("../assets/icons/form.png") no-repeat;
  height: 32px;
}

.nst-ico-eye {
  background-position: 0 -64px;
}

/**
  **********************************************
  *     Nested Classes - Component Specific    *
  **********************************************
 */

/**
  ***************************************************************
  *     Nested Classes - Component Specific - Navigation Bar    *
  ***************************************************************
 */
.nested-logo {
  height:64px;
  width:20px;
}

.nav > li > a {
  position: relative;
  display: block;
   padding: 22px 16px 22px 16px;
}

.nav > ul a {
  padding : 22px 16px 22px 16px;
}

.Search .form-control {
  width:144px;
}

.Search .input {
  height:10px;
  width:50px;
}
//testttt:
body #nav-body {
  margin-top: 64px;
}

.menu-links-top {
  font-size: $font-size-large;
}

.nst-nav {
  background-color: white;
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: 9999;

}

#nst-compose-button {
  height:32px;
  width:128px;
  vertical-align: middle;
  font-weight: normal;
}
#nst-compose-button:hover {
  background-color: $color-sense;
}

input #nav-search {
  height: 30px;
  width: 146px;
  border-radius: 6px;
}

#n-search {
  width: 146px;
  height: 30px;
  border-radius: 6px;
  text-align: right;
}

/**
  *********************************************************
  *     Nested Classes - Component Specific - Side Bar    *
  *********************************************************
 */


/**
  ********************************************************
  *     Nested Classes - Page Specific  Content  *
  ********************************************************
 */

 #content {
  background-color: $color-sense;
}
.nst-event-name {
  width: 128px;
  vertical-align: top;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.nst-green-tag {
  display: inline-block;
  background-color: #89EBB4;
  border-radius: 10px;
  margin: 1px;
  padding: 1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 100px;
}

/**
  ****************************************************
  *     Nested Classes - Page Specific - register    *
  ****************************************************
 */
#panel-register{
  width:352px;
  padding: 20px 15px 20px 15px;
}
.select-birthday{
  background-color: #eaffea;
  width:100%;
  height:38px;
}
.select-birthday option:hover{
  background-color: #ccffe6;
}
.nst-marginbtm{
  margin-bottom: 15px;
}
.nst-font-10{
  font-size:10px;
}
/**
  *************************************************
  *     Nested Classes - Page Specific - Login    *
  *************************************************
 */

#panel-signin {
  width: 354px;
  height: 336px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Reset Password    *
  **********************************************************
 */

#panel-reset {
  width: 350px;
  height: 345px;
}
.msg-panel {
  height: 100px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Sidebar    *
  **********************************************************
 */

.sidebar {
  background-color: $color-breeze-50;
  //padding: 25px 15px 25px 15px;
  height: 100%;
  width: 275px;
}
.nested-sidebar {
  background-color: $color-breeze-50;
  height: 100%;
}
.sidebar-container {
  width:250px;
}

.nst-sidebar-header {
  display: inline-block;
  background-color: whitesmoke;
  margin: 1px;
  padding: 30px 5px 30px 5px;
  width:250px;
}

/**
  **********************************************************
  *     Nested Classes - Page Specific - Events  *
  **********************************************************
 */

.nst-content {
  background-color:white;
  width:100%;
}

.nst-event-pic {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: 0 -2px;
  background-repeat: no-repeat;
}


/**
  **********************************************************
  *     Nested Classes - Page Specific - Places *
  **********************************************************
 */



.role-icon-crown {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  // background-size: 16px 400%;
  width: 16px;
  height: 16px;
}

.role-icon-green {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -16px;
}
.role-icon-gray {
  background: url('../assets/icons/roleicon_16.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}

.nst-pencil {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;

}
.nst-atsign  {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -48px;

}
.nst-eye {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -24px;

}
.nst-search  {
  background: url('../assets/icons/placeicon_24_breez.png') no-repeat;
  height: 24px;
  min-width: 24px;
  background-position: 0px -72px;

}
.nst-more-badge  {
  background: url('../assets/icons/more_32.png') no-repeat;
  height: 32px;
  width: 32px;

}
#nst-arrow {
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  padding: 0 0 0 5px;
  background-position: center center;

  }
#nst-arrow-rotated {
  background: url('../assets/icons/arrow_16.png') no-repeat;
  height: 25px;
  width: 15px;
  padding: 0 0 0 5px;
  background-position: center center;
  transform: rotate(180deg);
}
.arrow {
  width:15px;
}

.nst-more {
  width: 32px;
}

#empty-space {
  width: 16px;
  height: 16px;
}
.nst-more-members {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border: solid 1px $color-storm;
    float: right;
    line-height: 31px;
    text-align: center;
    font-size: small;
    font-weight: normal;
    color: $color-storm;



}
/**
  *********************************
  *     Unknown                   *
  *********************************
 */

.chkHolder span {
  margin-left: 3px;
  text-align: left;
  padding: 10px 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rightLink {
  text-align: right;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
