
@import "mixin.scss";

@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Regular");
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Semibold", bold);
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Bold", 900);

/**
  *********************************
  *     Variables                 *
  *********************************
 */

$color-solid: #000;
$color-sense: #14d769;
$color-sense-wire: #00b45a;
$color-sense-5: #f3fdf7;
$color-sense-50: #83d8ad;
$color-solid-30: #b2b2b2;
$color-solid-60: #666666;
$color-force: #ff8264;
$color-force-wire: #ff6463;
$color-calm: #f0f5f2;
$color-breeze: #ced9d3;
$color-breeze-50: #e8ece9;
$color-wind: #a6b9af;
$color-storm: #869d91;
$color-hurricane: #476152;
$color-badge: #89EBB4;
$color-fillbox :#f0f5f2;
$color-white : #FFFFFF;




$font-size-xsmall: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 22px;

$font-family-eng-reg: "OpenSans";
$font-family-eng-bold: "OpenSans";
$font-family-per-reg: "OpenSans";
$font-family-per-bold: "OpenSans";

/**
  ******************************
  *     Layout                 *
  ******************************
 */

* {
    box-sizing: inherit;
    vertical-align: inherit;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 1000px;
}
div, ul, ol {
    margin: 0px;
    padding: 0px;
}

input[type='text'], input[type='password'] {
    outline: none ;
    border: 1px solid $color-storm;
    border-radius: 5px;
    padding: 3px;
}

a {
  text-decoration: none;
  color: $color-sense;
}

a:hover {
  color: $color-sense;
  text-decoration: none;
}

body {
  background-color: $color-sense-5;
  font-family: $font-family-eng-reg;
}

body,
html,
*[ui-view] {
  height: 100%;
}

*:focus {
  outline: none;
}

input[type="text"],
input[type="password"] {
  height: 40px;
}

input,
button,
select,
textarea {
  border: 1px solid $color-calm;
}

._fl {float: left ;}
._fr {float: right;}
._cf {clear: both;}

._fw { width: 100%; }
._fh { height: 100%; }
._fhw {
    position: absolute ;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

._db { display: block; }
._dib { display: inline-block;}
._di { display: inline; }
._dt { display: table; table-layout: fixed; }
._dtr { display: table-row; }
._dtc { display: table-cell; vertical-align: middle; }

._pa { position: absolute;}
._pr { position: relative;}
._pf { position: fixed;}

._tofe {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
._tac { text-align: center; }
._tar { text-align: right;}
._tal { text-align: left;}
._vam { vertical-align: middle;}
._vat { vertical-align: top;}
._vabl { vertical-align: baseline;}
._vabt { vertical-align: bottom;}

._cgray {color: #E7ECE9;}
._bggray {background-color: #E7ECE9};
._modal {z-index: 101}


.s-ico {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.m-ico {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.l-ico {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

a.place {
  color: $color-sense;
  font-weight: bold;
}

a.account {
  color: $color-sense;
}

a.post {
  color: $color-sense;
}

//****General ul Csss***

ul.attachments-bar {
    list-style: none;
    padding: 5px;
    overflow: auto ;
}

ul.attachments-bar li {
    display: inline-block;
    margin: 1px;
}

ul.attachments-bar.image {
    list-style: none;
    padding: 5px;
    overflow: auto ;
    white-space: nowrap;
    word-break: keep-all;
}

ul.attachments-bar.image li {
    padding: 0px;
}

ul.attachments-bar.image img {
    border: 1px solid lightgray;
    margin: 3px;
    height: 96px;
}

ul.attachments-bar.image .att-item {
    width: 72px;
    height: 96px;
    margin: 5px;
    vertical-align: middle;
    position: relative;
    float: left;
}

ul.attachments-bar.image .att-item > span.filename {
    position: absolute;
    top: 40px;
    left: 2px;
    right: 2px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    color: gray;
    overflow: hidden;
}

ul.attachments-bar.image .att-item.inprogress {
    opacity: 0.3 ;
}

ul.attachments-bar.non-image {
    max-height: 150px;
}

ul.attachments-bar.non-image li {
    background-color: #E6E6E6;
    border-radius: 5px;
    min-width: 150px;
    display: inline-block;
    margin: 1px;
    line-height: 24px;
    vertical-align: baseline;
}

ul.attachments-bar.non-image .att-item {
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
}

ul.attachments-bar.non-image .att-item > span.filename {
    line-height: 10px;
    margin: 2px 2px 2px 28px;
    padding: 0px;
    font-size: x-small;
}

ul.attachments-bar.non-image .att-item.doc{
    background-image: url('');
}

ul.attachments-bar.non-image .att-item.file {
    background-image: url('');
}

ul.attachments-bar.non-image .att-item.pdf{
    background-image: url('');
}

ul.attachments-bar.non-image .att-item.zip {
    background-image: url('');
}

ul.attachments-bar.non-image .att-item.media {
    background-image: url('');
}

#Account {
  width: 200px;
  position: relative;
  display: inline-block;
  font-size: medium;
  padding: 15px 25px;
}
#DarkScreen {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: whitesmoke;
    opacity: 0.7;
    z-index: 100;
}
#TransparentCanvas {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 100;
}

/**
  *********************************************************
  *     Nested Classes -Events *
  *********************************************************
 */

#SubNav #Compose {
  width: 250px;
  text-align: center;
}
#SubNav { height: 32px;
  border-bottom: 1px solid $color-sense;
}

#SubNav #Compose a {
  background-color: #14D769;
  border: 1px solid #00B45A;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-size: $font-size-small;
  font-weight: 900;
  margin-left: -32px;
  height: 30px;
  width: 128px;
}

.ei-mail-read {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-mail-unread {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: 0 0r;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-member-join {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: 0 -96px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-member-leave {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: center -80px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-comment-add {
  width: 16px;
  height: 16px;
  background-image:url('../assets/icons/eventicon.png');
  background-position: 0 -48px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-invite {
  width: 16px;
  height: 16px;
  background-image:url('../assets/icons/eventicon.png');
  background-position: 0 -112px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.ei-member-invite {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/eventicon.png');
  background-position: 0 -64px;
  background-repeat: no-repeat;
  margin-top: 8px;
}

#SubNav #ViewSelector #ExpandView {
  background-image: url('/res/ico/viewswitch_expand.png');
  width: 27px;
  height: 10px;
  display: inline;
  cursor: pointer ;
}

#SubNav #ViewSelector #ExpandView.on { background-position: 27px; }
#SubNav #ViewSelector #ExpandView.off { }
#SubNav #ViewSelector #CollapseView {
  background-image: url('/res/ico/viewswitch_collapse.png');
  width: 27px;
  height: 10px;
  display: inline-block;
  cursor: pointer ;
}

#SubNav #ViewSelector #CollapseView.on { background-position: 27px; }
#SubNav #ViewSelector #CollapseView.off {}
#SubNav #Search {
  width: 146px;
  height: 30px;
  border-radius: 7px;
}
#MyPlaces { width: 275px; background-color: #E7ECE9; vertical-align: top;}
#MyPlaces ul {
  list-style: none;
  display: inline;
}
#MyPlaces li#AllPlaces { color: #00B45A; font-weight: bold; background-color: #FAFBFB; text-align: center;}
#MyPlaces li {
  display: block;
  overflow: hidden ;
  text-overflow: ellipsis ;
  word-break: keep-all;
  white-space: nowrap;
  padding-left: 10px;
  line-height: 46px;
  vertical-align: middle;
}
#MyPlaces li span {

  padding:10px;
}
#MyPlaces li .place-cell {
  width:200px;
  border-bottom: 1px solid $color-breeze;
}

#MyPlaces li img { margin: 1px 3px;}
#MyPlaces li a {
  font-size: medium;
  display: block;
}

#MyPlaces li:hover { background-color: #F0F0F0; }
#MyPlaces li a:hover {
  font-weight: bold;
}

#MyPlaces li a span { line-height: 32px; }
#MyPlaces li.selected { background-color: #E7ECE9; }
#MyPlaces > ul > li { border-bottom: 1px solid #c0c0c0; border: none;}


/**
  *********************************************************
  *     Nested Classes -  compose  *
  *********************************************************
 */

#ComposeBtns a {
  text-align: right;
  background-color: #14D769;
  border: 1px solid #00B45A;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-size: medium;
  margin: 2px;
  cursor: pointer;
}

#ComposeContainer {
  width: 800px;
  background-color: white;
  padding: 5px;
  vertical-align: top ;
}

#ComposeContainer input[type='text'] {
  outline: none;
  padding: 10px;
}

#ComposeContainer .seprator {
  border-bottom: 1px solid #c0c0c0 ;
  vertical-align: middle;
}

#ComposeContainer .seprator > div {
  display: inline-block;
}

#ComposeContainer #Subject {
  display: block ;
  height: 64px;
  width: 100%;
  font-size: medium;
  border: none;
}

#ComposeContainer #To {
  height: 32px;
  border: none;
  min-width: 250px;
}

#ComposeContainer .place {
  display: inline-block;
  background-color: #B8F3D2;
  border-radius: 6px;
  padding: 3px;
  margin: 1px;
}

#ComposeContainer textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 400px;
  border: none;
  outline: none;
  padding: 10px;
}

#ComposeContainer #Toolbar {display: block;}
#ComposeContainer #Toolbar .btn {
  padding: 4px;
  cursor: pointer;
}

#ComposeContainer #Toolbar #Attachment {
  margin: 5px;
  width: 24px;
  height: 24px;
  background-image: url('/res/ico/attachment_icon_m.png');
  background-size: contain;
}

div.att-item {
  width: 72px;
  height: 96px;
  margin: 5px;
  vertical-align: middle;
  position: relative;
  float: left;
}

.att-item > span.filename {
  position: absolute;
  top: 40px;
  left: 2px;
  right: 2px;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  color: gray;
  overflow: hidden;
}
.att-item.inprogress {
  opacity: 0.3 ;
}

/**
  *********************************************************
  *     Nested Classes -   * Media
  *********************************************************
 */

@media (min-width: 1000px) {
  #AllPlaces { width: 800px; }
}
@media (max-width: 999px) {

  #AllPlaces li > table td.properties {
    display: none;
  }
  #AllPlaces ul { margin-left: 5px;}
  #AllPlaces li > table td.members { display: none; }
}

@media (min-width: 1000px) {
  #Logo { width: 250px; text-align: center; }
  #Logo #Pic {
    width: 32px;
    height: 32px;
    margin-left: -32px;
  }
  #Logo #Type { height: 32px; }
}

@media (max-width: 999px) {
  #MyPlaces { }
  #EventList td.places { }
  #PostView .main-body .right-column { }
  #PostView #Toolbar {  }
  #PostView #Comments { }
}
