<div id="PostView">
  <div class="_dt _fw _fh">
    <div class="_dtr">
      <div class="_dtc">
        <div class="_dt _fh _fw main-body">
          <div class="_dtr">
            <div class='_dtc'>
              <div id='PostHeader' class='_dt _fw _pr'>
                <div class="post-nav">
                  <div class="post-nav-left">
                    <p data-ng-bind="thePost.subject"></p>
                  </div>
                  <div class="date post-nav-right">
                    <div class="date _fl nst-mood-storm" data-ng-bind="thePost.date.getTime() | date:'d MMMM'"></div>
                    <div class="_fr"><img src="../assets/icons/close_16.png"></div>
                    <div class="time _fr nst-mood-storm" data-ng-bind="thePost.date.getTime() | date:'yyyy hh:mm'"></div>
                  </div>
                </div>
                <div class="post-nav-botm">
                  <div class="post-nav-left-bottom ">
                    <div class="account-initials _di"></div>
                    <div class="nst-mood-cheerful _di">
                      <img data-ng-if="thePost.sender.picture.org.uid" class="account-initials-24" src="{{thePost.sender.picture.x32.url}}"/>
                      <div data-ng-if="!thePost.sender.picture.org.uid" class="account-initials-24" data-ng-bind="thePost.sender.name.initials"></div>

                      <p class="_di" data-ng-bind="thePost.sender.fullname"></p>
                    </div>
                    <div class="badges _di">
                      <a class="_di normal-badge" data-ng-repeat="place in thePost.places" href="#/place/{{place.id}}" data-ng-bind="place.name"></a>
                    </div>
                  </div>


                  <div class="post-nav-right-bottom">
                    <div class="_dt panel-action _fr">
                      <div class="_dtr">
                        <div class="_dtc nst-mood-storm">Delete</div>
                        <div class="_dtc delete-icon"></div>

                        <div class="_dtc nst-mood-storm">Forward</div>
                        <div class="_dtc forward-icon"></div>

                        <div class="_dtc nst-mood-storm">Reply</div>
                        <div class="_dtc Reply-icon"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="_dtr _fh">
            <div class='_dt _fw _fh'>
              <div class='_dtr'>
                <div id='Content' class="_dtc _pr">
                  <div class="_dt _fh _fw">
                    <div class="_dtr">
                      <div id="Attachments">
                        <ul class='attachments-bar image'>
                          <li>
                            <ul class="attachments-bar">
                              <li>
                                <div class="doc-attachment"></div>
                              </li>
                              <li>
                                <div class="media-attachment"></div>
                              </li>
                              <li>
                                <div class="pdf-attachment"></div>
                              </li>
                              <li>
                                <div class="file-attachment"></div>
                              </li>
                              <li>
                                <div class="zip-attachment"></div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="_dtr _fh">
                      <div id="PostBody" class="_fh _fw">
                        <div class="msg-post-view" data-ng-bind-html="thePost.body | emoji"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="Comments" class="_dtc _vat">
                  <div class="_dt _fh _fw">
                    <div class="_dtr" data-ng-repeat="comment in thePost.comments">
                      <div class="NewComment _dtc _vat">
                        <div class="_dt _fw">
                          <div class="_dtr">
                            <div class="_dtc profile-post-view">
                              <img data-ng-if="comment.sender.picture.org.uid" class="account-initials-24" src="{{comment.sender.picture.x32.url}}"/>
                              <div data-ng-if="!comment.sender.picture.org.uid" class="account-initials-24" data-ng-bind="comment.sender.name.initials"></div>
                            </div>
                            <div class="_dtc">
                              <h5 class="nst-mood-cheerful" data-ng-bind="comment.sender.fullname"></h5>
                            </div>
                            <div class="_dtc time-post-view nst-mood-storm" data-ng-bind="comment.date.getTime() | date:'dd MMM yyyy'"></div>
                          </div>
                        </div>
                        <div class="msg-post-view" data-ng-bind-html="comment.body | emoji">
                          <p class="nst-mood-storm nst-font-small">delete</p>
                        </div>
                      </div>
                    </div>
                    <div class="_dtr">
                      <div class="_dtc">
                        <div class="input-msg">
                          <img data-ng-if="user.picture.org.uid" class="account-initials-24" src="{{user.picture.x32.url}}"/>
                          <div data-ng-if="!user.picture.org.uid" class="account-initials-24" data-ng-bind="user.name.initials"></div>

                          <input type="text" name="comment_txt" placeholder="write your comment..."/>
                        </div>
                      </div>
                    </div>
                    <div class="_dtr _fh _fw`">
                      <div class="_dtc _pr">
                        <div id='CommentList' class='_fhw'></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
