<div id="PostView" class="_difv _fw _fh">
  <div class="_difv _fw" id="PostHeader">
    <div class="post-nav-top _difh _fw">
      <p class="_df _fw" ng-if="ctlPost.post.subject.length >= 1"
         data-ng-bind-html="ctlPost.post.subject | emoji"></p>
      <p class="_df _fw" ng-if="ctlPost.post.subject.length < 1">
        <i>No Subject</i>
      </p>
      <div class="time nst-mood-storm _fn">{{ctlPost.post.date | date : 'long'}}</div>
      <div class="closebut" ng-click="$close(result)">
        <img src="../assets/icons/close.svg"/>
      </div>
    </div>
    <div class="post-nav-bot _difh">
      <div class="post-comment-user-avatar">
      <img initials="ctlPost.post.sender.name" data-url="ctlPost.post.sender.avatar" data-width="24" data-height="24"
           data-radius="12" class="account-initials-24 _df" data-word-count="2" data-font-size="11"/>
      </div>
      <span class="actor-name nst-mood-cheerful _df">{{ctlPost.post.sender.name}}</span>
      <span class="margin-l-5 nst-mood-storm">to</span>
      <div class="badges _df _fw">
        <div class="large-badge _df" data-ng-repeat="place in ctlPost.post.allPlaces">
          <a class="_di _fl" href="/#/places/{{place.id}}/messages">
            {{place.name}}
          </a>
        </div>
      </div>
      <div class="panel-action _fn">
        <ul class="list-inline _df">
          <li ng-if="ctlPost.hasRemoveAccess()">
            <a href="" ng-click="ctlPost.removePost(ctlPost.post);">
              <span class="nst-mood-solid _dib">Delete</span>
              <span class="action-button-post-delete _dib"></span>
            </a>
          </li>
          <li>
            <a href="{{ctlPost.urls.forward}}">
              <span class="nst-mood-solid _dib">Forward</span>
              <span class="action-button-post-forward  _dib"></span>
            </a>
          </li>

          <li>
            <div class="popover-white-nst-activity-places cursor-pointer" uib-popover-template="'app/post/reply.html'"
                 ng-init="ctlPost = ctlPost" data-popover-placement="bottom-right auto" popover-trigger="outsideClick">
              <span class="nst-mood-solid _dib">Reply</span>
              <span class="action-button-post- _dib"></span>
            </div>
          </li>

          <li>
            <div class="comment-input-toggle cursor-pointer" ng-init="commentInput = true" ng-click="commentInput =! commentInput">
              <span class="nst-mood-solid _dib">Send comment</span>
              <span class="action-button-post- _dib"></span>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="_difh _fh" id="PostBody">
    <div nst-scrollbar id="Content" class="_difv _fw">
      <div class="_df _fw _fn">
        <div class="attachments _fw _df" data-ng-if="ctlPost.post.hasAnyAttachment">
          <nst-attachments-view post-id="ctlPost.post.id" attachments="ctlPost.post.attachments" preview-mode="'thumbnail'"></nst-attachments-view>
        </div>
      </div>
      <div class="_df _fw _di">
        <div class="_fw _wrb"
             auto-dir="{{ctlPost.post.body}}"
             data-ng-bind-html="ctlPost.post.body | openLinkInNewWindow | emoji ">
        </div>
      </div>
    </div>

    <div id="Comments" class="_df _vat">
      <!-- @FIXME : Use a proper animation to go downward -->
      <div class="comment-msg _difv _fw" nst-scrollbar scroll-animate="false" go-downward="ctlPost.revealNewComment">
        <div data-ng-if="ctlPost.status.hasMoreComments" class="_fw text-center">
          <a class="nst-mood-cheerful" data-ng-click="ctlPost.loadMoreComments()">Load More...</a>
        </div>
        <div data-ng-repeat="comment in ctlPost.comments" class="_fw _difh NewComment">
          <div class="_df profile-post-view">
            <div class="post-comment-user-avatar">
              <img initials="comment.sender.name" data-url="comment.sender.avatar" data-width="24" data-height="24"
                   data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="11"/>
            </div>
          </div>
          <div class="_difv _fw">
            <div class="_difh">
              <h5 class="nst-mood-cheerful _df _fw" data-ng-bind="comment.sender.name"></h5>
              <div class="_df time-post-view nst-mood-storm"
                   data-uib-tooltip="{{comment.date | date : 'full'}}"
                   data-tooltip-append-to-body="true" data-tooltip-placement="auto left">{{comment.date | date : 'short'}}</div>
            </div>
            <div class="_fw _wrb cmt-post-view" auto-dir="{{comment.body}}">
              <span ng-bind-html="comment.body | emoji"></span>
              <a href data-ng-if="ctlPost.allowToRemoveComment(comment);" ng-click="ctlPost.removeComment(comment);" class="nst-mood-storm nst-font-small" >&nbsp;&nbsp;delete </a>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-input _difh" ng-show="commentInput">
        <div class="_difv _pr _fn">
          <div class="post-card-user-avatar">
          <img initials="ctlPost.user.name" data-url="ctlPost.user.avatar" data-width="32" data-height="32"
               data-radius="16" class="account-initials-32" data-word-count="2" data-font-size="16"/>
          </div>
          <span data-ng-show="512 - ctlPost.nextComment.length < 30"
                class="nst-mood-simple _df _ma" data-ng-bind="512 - ctlPost.nextComment.length"></span>
        </div>
        <div class="_difv _fw _fh">
          <!--<div class="_difh sendcomment">
            <button class="butn-send-comment df" da
            ta-ng-click="ctlPost.sendComment($event)">Send</button>
          </div>-->
          <!--<div contenteditable role="textbox" aria-multiline="false" placeholder="Write your comment..."-->
               <!--ng-keydown="ctlPost.sendComment($event)" data-ng-disabled="ctlPost.status.commentSendInProgress"-->
               <!--ng-model="ctlPost.nextComment" auto-dir="{{ctlPost.nextComment}}" max-length="5"-->
               <!--aria-expanded="false" class="_fw comment-box _wrb"><p></p></div>-->
          <textarea type="text" nst-mention class="_df _fw" cols="32"
                    data-ng-disabled="ctlPost.status.commentSendInProgress"
                    data-ng-model="ctlPost.nextComment"
                    ng-keyup="ctlPost.sendComment($event)"
                    placeholder="write your comment..."
                    auto-dir="{{ctlPost.nextComment}}"></textarea>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
