/**
  **********************************************************
  *     Nested Classes - Page Specific - Post-view *
  **********************************************************
 */

.post-nav {
  display: inline-block;
  width: 100%;
  height: 60px;

}
#PostView {
  //top: 0;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
  overflow: hidden;
}

.post-nav-left {
  min-width: 500px;
  padding-left: 16px;
  padding-top: 18px;
  overflow: auto;
}

.post-nav-left p {
  width: 100%;
  font-size: $font-size-xlarge;
}

.post-nav-left-bottom {
  float: left;
  min-height: 40px;
  min-width: 500px;
  padding-left: 16px;

}

.post-nav-left-bottom p {
  //padding-top: 8px;
}

.post-nav-right {
  width: 340px;
  padding-top: 18px;
}
.post-nav-right > div{
  display: flex;
  width: 33.3%;
  justify-content: flex-end;
}
.post-nav-right > div > img{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.post-nav-right-bottom {
  min-width: 305px;
}

.nst-nowrap-badge {
  overflow: visible;
}

.delete-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 -48px;
  background-repeat: no-repeat;
}

.forward-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
}

.Reply-icon {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/actionbuttons_post_24.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.panel-action li {
  width: 100px;
  margin: auto;
}
.panel-action li span:last-child {
  vertical-align: bottom;
}

.time-post-view {
  width: 110px;
  font-size: $font-size-small;
}

.profile-post-view {
  width: 40px;
}

.msg-post-view {
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 20px;
}
.cmt-post-view {
  padding-right: 5px;
}

.comment-input textarea {
  float: left;
  border: 1px solid $color-breeze !important;
  padding: 6px;
  padding-right: 8px;
  margin-bottom: 5px;
  height: 60px;
  resize: none;
  border-radius: 6px;
}

.comment-input img {
  margin-top: 6px;
  margin-left: 4px;
}

#PostView > div {
  table-layout: fixed;
}

#PostView .top-space {
  height: 10%;
}

#PostView .bottom-space {
  height: 10%;
}

#PostView .left-space {
  width: 10%;
}

#PostView .right-space {
  width: 10%;
}

#PostView {
  border: 1px solid $color-breeze;
  border-radius: 8px;
  background-color: $color-white;
  padding: 0;
  // height: 640px;
  //box-shadow: 0 0 16px 0 rgba(71, 97, 82, 0.15);
}

#PostView .main-body .left-column {
}

#PostView .main-body .right-column {
  width: 300px;
}

#PostView #PostHeader {
  border-bottom: 1px solid $color-breeze;
  padding: 0px;
  height: 100px;
}

#PostView #PostTime {
  top: 0px;
  right: 0px;
  text-align: right;
  vertical-align: top;
  line-height: 32px;
}

#PostView #PostTime .date {
  margin: 1px;
  color: gray;
  font-weight: bold;
}
.date {
  position: relative;
  top:-1px;
}

#PostView #PostTime .time {
  margin: 1px 10px;
  font-size: $font-size-small;
}

#PostView #SenderIco {
  width: 16px;
  height: 16px;
  display: inline-block;
}

#PostView #SenderIco img {
  border-radius: 16px;
}

#PostView #SenderName {
  display: inline-block;
}

#PostView #Targets {
  margin: 5px 1px;
}

#PostView #Targets div {
  display: inline-block;
  background-color: $color-sense-wire;
  border-radius: 10px;
  margin: 1px;
  padding: 1px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 300px;
}

#PostView #Toolbar {
  bottom: 0px;
  right: 0px;
}

#PostView #Toolbar ul {
  list-style: none;
  float: right;
}

#PostView #Toolbar li {
  display: inline-block;
  margin: 2px 15px;
}

#PostView #Toolbar li img {
  float: right;
}

#PostView #Toolbar li span {
  line-height: 24px;
  color: gray;
}

#PostView #Content {
  vertical-align: top;
  overflow: auto;
}

#PostView #PostBody {
  border: none;
  overflow: auto;
}

#PostView #Comments {
  padding: 5px;
  width: 320px;
  background-color: rgb(247, 250, 249);
  border-radius: 6px;
}

#PostView .NewComment {
  padding: 5px;
  flex-shrink: 0;
}
.NewComment h5 {
  text-overflow: ellipsis;
  margin: 0;
}
#PostView .NewComment .account-ico {
  float: left;
}

#PostView .NewComment #CommentSendBtn {
  background-color: $color-sense;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: $color-white;
}

#PostView #CommentList .sender-ico {
  float: left;
}

#PostView #CommentList .sender-ico img {
  border-radius: 16px;
  margin-right: 3px;
}

#PostView #CommentList .sender {
  color: $color-sense;
  font-weight: bold;
}

#PostView #CommentList .comment-txt {
  overflow: hidden;
  line-height: 24px;
  vertical-align: baseline;
}

#PostView #CommentList .comment {
  clear: both;
  padding: 5px;
}

#PostView #CommentList .comment:hover {
  background-color: #E7FBF0;
}

.comment-input{
  max-height: 120px;
  margin: 10px 0;
  flex: 1;
}
.comment-input span {
  position: relative;
  top: 4px;
}
.comment-msg {
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  flex: 1;
  max-height: calc(100% - 140px);
  min-height: calc(100% - 150px);
}

.actor-name {
  width: 200px;
  padding-top: 4px;
  overflow: hidden;
  white-space: nowrap;

}
.actor-name span{
  text-overflow: ellipsis;
}
.badges {
  padding-left: 25px;
}
.image-preview {
  background-color: rgba(240, 245, 242,0.7);
  border-radius: 6px;
  padding: 10px 0 68px 0;
  //overflow: hidden;
  align-items: center;
  justify-content: center;
  //margin-bottom: 58px;
}
.image-preview > img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding-bottom: 10px;
}
.nst-preview-pic-mode {
  //position: relative;
  //bottom: 68px;
  //top: 0;


}

.nst-preview-footer {
  position: absolute;
  height: 68px;
  background-color: white;
  bottom: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 1px;
  padding-left: 10px;
}

.padding-l-16 {
  padding-left: 16px;
}

.image-box-preview {
  left: 0px;
  right: 0px;
  border-radius: 6px;
  min-height: 240px;
  min-width: 240px;

}

.file-preview {
  height: 550px;
}
.nst-preview-footer .nst-nav-btn-breeze,.nst-arrow-rotated-90{
  margin-top: 16px;
  margin-right: 16px;
  padding: 2px 6px 0px 6px;
}
.nst-arrow-rotated-270 {
  margin-top: 13.2px;
  margin-right: 8px;
  padding: 22px 6px 0px 6px;
}

.comment-input-det{
  width: 10px;
}
.comment-input-det button{
  margin-left: 8px;
  margin-bottom: 7px;

}

.closebut{
  position: relative;
  top: -5px;
  height: 24px;
}
.sendcomment {
  justify-content: flex-end;
}

.btn-send-comment{
  width: 48px;
  height: 24px;
  background-color: $color-sense;
  border: 1px solid #00B45A;
  padding-top: 2px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-size: $font-size-medium;
  font-weight: 600;
  line-height: 22px;
  margin-right: 15px;
}
.comment-input .nst-mood-simple {
  margin-right: 10px;
}

.filename-p {
  padding-top: 22px;
  padding-bottom: 10px;
}
.audioplayer{
  height: 50px;
}
.account-initials-24 {
  min-width: 24px;
  min-height: 24px;
}
.comment-msg div:last-child {
  flex-grow: 1!important;
}
