<div id="PostView" class="_difv _fw _fh">
  <div class="_difv _fw" id="PostHeader">
    <div class="post-nav-top _difh _fw">
      <p class="_df _fw" ng-if="ctlPost.post.subject.length >= 1"
         dir="{{(ctlPostCard.languageIsRtl(ctlPostCard.post.subject)) ? 'rtl' : 'ltr'}}"
         data-ng-bind-html="ctlPost.post.subject | emoji"></p>
      <p class="_df _fw" ng-if="ctlPost.post.subject.length < 1">
        <i>No Subject</i>
      </p>
      <div class="time nst-mood-storm _fn">{{ctlPost.post.date | date : 'long'}}</div>
      <div class="closebut" ng-click="$close(result)">
        <img src="../assets/icons/close.svg"/>
      </div>
    </div>
    <div class="post-nav-bot _difh">
      <img initials="ctlPost.post.sender.name" data-url="ctlPost.post.sender.avatar" data-width="24" data-height="24"
           data-radius="12" class="account-initials-24 _df" data-word-count="2" data-font-size="11"/>
      <span class="actor-name nst-mood-cheerful _df">{{ctlPost.post.sender.name}}</span>
      <span class="margin-l-5 nst-mood-storm">to</span>
      <div class="badges _df _fw">
        <div class="large-badge _df" data-ng-repeat="place in ctlPost.post.allPlaces">
          <a class="_di _fl" href="/#/places/{{place.id}}/messages">
            {{place.name}}
          </a>
        </div>
      </div>
      <div class="panel-action _fn">
        <ul class="list-inline _df">
          <li ng-if="ctlPost.hasRemoveAccess()">
            <a href="" ng-click="ctlPost.removePost(ctlPost.post);">
              <span class="nst-mood-solid _dib">Delete</span>
              <span class="action-button-post-delete _dib"></span>
            </a>
          </li>
          <li>
            <a href="{{ctlPost.urls.forward}}">
              <span class="nst-mood-solid _dib">Forward</span>
              <span class="action-button-post-forward  _dib"></span>
            </a>
          </li>

          <li>
            <div class="popover-white-nst-activity-places cursor-pointer" uib-popover-template="'app/post/reply.html'"
                 ng-init="ctlPost = ctlPost" data-popover-placement="bottom-right auto" popover-trigger="outsideClick">
              <span class="nst-mood-solid _dib">Reply</span>
              <span class="action-button-post- _dib"></span>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="_difh _fh" id="PostBody">
    <div ng-scrollbars id="Content" class="_df _fw">
        <div class="_db _fw">
          <div class="attachments _fw _df" data-ng-if="ctlPost.post.hasAnyAttachment">
            <nst-attachments-view post-id="ctlPost.post.id" attachments="ctlPost.post.attachments" preview-mode="'thumbnail'"></nst-attachments-view>
          </div>
        </div>
        <div class="_db _fh">
          <div class="_fh _fw">
            <div class="msg-post-view {{ctlPost.post.contentType == 'text/plain' ? 'pre' : ''}}"
                 dir="{{(ctlPostCard.languageIsRtl(ctlPostCard.post.body)) ? 'rtl' : 'ltr'}}"
                 data-ng-bind-html="ctlPost.post.body | openLinkInNewWindow | emoji ">
            </div>
          </div>
        </div>
      </div>

    <div id="Comments" class="_df _vat">
      <div class="_fw" ng-scrollbars scroll-me="ctlPost.comments.length">
        <div class="_db _fh">
          <div class="comment-msg _difv _fw">
            <div data-ng-if="ctlPost.status.hasMoreComments" class="_fw text-center">
              <a id="load-more-events" class="nst-mood-cheerful" data-ng-click="ctlPost.loadMoreComments()">Load More...</a>
            </div>
            <div data-ng-repeat="comment in ctlPost.comments" class="_fw _difh NewComment">
              <div class="_df profile-post-view">
                <img initials="comment.sender.name" data-url="comment.sender.avatar" data-width="24" data-height="24"
                     data-radius="12" class="account-initials-24" data-word-count="2" data-font-size="11"/>
              </div>
              <div class="_difv _fw">
                <div class="_difh">
                  <h5 class="nst-mood-cheerful _df _fw" data-ng-bind="comment.sender.name"></h5>
                  <div class="_df time-post-view nst-mood-storm"
                       data-uib-tooltip="{{comment.date | date : 'full'}}"
                       data-tooltip-append-to-body="true" data-tooltip-placement="auto left">{{comment.date | date : 'short'}}</div>
                </div>
                <div class="_df _fw _wrb cmt-post-view">
                  <emoji data-ng-if="!ctlPost.allowToRemoveComment(comment)">
                    <mark marked="comment.body">
                    </mark>
                  </emoji>
                  <emoji data-ng-if="ctlPost.allowToRemoveComment(comment)" ng-click="ctlPost.removeComment(comment);">
                    <mark marked="comment.body">
                    </mark>
                    <a class="nst-mood-storm nst-font-small" >&nbsp;&nbsp;delete </a>
                  </emoji>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-input _difh">
        <div class="_difv">
          <img initials="ctlPost.user.name" data-url="ctlPost.user.avatar" data-width="32" data-height="32"
               data-radius="16" class="account-initials-32" data-word-count="2" data-font-size="16"/>
          <span data-ng-show="250 - ctlPost.nextComment.length < 20"
                class="nst-mood-simple _df">{{250 - ctlPost.nextComment.length}}</span>
        </div>
        <div class="_difv _fw">
          <!--<div class="_difh sendcomment">
            <button class="butn-send-comment df" data-ng-click="ctlPost.sendComment($event)">Send</button>
          </div>-->
          <textarea class="_df _fw" cols="32" maxlength="250"
                    data-ng-disabled="ctlPost.status.commentSendInProgress"
                    data-ng-model="ctlPost.nextComment"
                    ng-keyup="ctlPost.sendComment($event)"
                    placeholder="write your comment..."/>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
