<a class="_df list-items _aic ng-class:{'active' : ctrlEditTask.onlyComments}" ng-click="ctrlEditTask.onlyComments = true;ctrlEditTask.activityPopover = false;">
    <span>
        <translate>Comments</translate>
    </span>
    <svg class="_16svg item-check">
        <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
    </svg>
</a>
<a class="_df list-items _aic ng-class:{'active' : !ctrlEditTask.onlyComments}" ng-click="ctrlEditTask.onlyComments = false;ctrlEditTask.activityPopover = false;">
    <span>
        <translate>Comments & History</translate>
    </span>
    <svg class="_16svg item-check">
        <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
    </svg>
</a>
