<div class="actdes">
  <div class="ico">
    <div class="ei-member-leave"></div>
  </div>
  <div class="sender">
    <img data-ng-if="event.actor.picture.org.uid" src="{{event.actor.picture.x32.url}}"/>
    <div class="_fl account-initials-32" data-ng-if="!event.actor.picture.org.uid" data-ng-bind="event.actor.name.initials"></div>

    <span data-ng-bind="event.actor.fullname"></span>
  </div>
</div>
<div class="actcon">
  <div class="msg">
    <span class="nst-mood-simple">Removed <strong data-ng-bind="event.member.fullname"></strong> from <a class="place" href="#/events/{{event.place.id}}" data-ng-bind="event.place.name"></a></span>
  </div>
  <div class="places"></div>
  <div class="time" data-ng-include="'app/components/nested/event/common/date.html'"></div>
</div>
