<td class="ico">
  <div class="ei-member-leave"></div>
</td>
<td class="sender">
  <img data-ng-if="event.actor.picture.org.uid" src="{{event.actor.picture.x32.url}}"/>
  <div class="account-initials-32" data-ng-if="!event.actor.picture.org.uid" data-ng-bind="event.actor.name.initials"></div>

  <span data-ng-bind="event.actor.fullname"></span>
</td>
<td class="msg"><span>Removed <strong data-ng-bind="event.member.fullname"></strong> from <a class='place' href="#/events/{{event.place.id}}" data-ng-bind="event.place.id"></a></span></td>
<td class="places"></td>
<td class="time" data-ng-bind="event.date.getTime() | date:event.view.dateFormat" data-uib-tooltip="{{event.date.getTime() | date:'yyyy d MMM H:mm'}}" data-tooltip-placement="left"></td>
