#panel-reset {
  width: 350px;
  height: auto;
}

#panel-reset .butn:hover {
  color:$color-white;
}

.msg-panel {
  height: 100px;
}
.recover-pass-step {
  &.ng-enter {
    /* transition on enter for .5s */
    transition: 0.5s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
  }
  /* end 'enter' transition */
  &.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
  }
}
