<div class="_fhw">
  <div class="nst-vc nst-mood-sense-5 ng-scope _fh">
    <div class="panel" id="panel-reset">
      <form name="firstStep" ng-if="ctlRecover.step == 1" data-ng-submit="ctlRecover.submitNumber()" class="use-ng-animate recover-pass-step" novalidate>
        <div class="nst-vb no-gutter2">
          <h3 class="col-xs-9 nst-font-xlarge">Recover your account</h3>
          <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right">or <a href="#/signin" class="nst-mood-cheerful">Sign
            in</a></p>
        </div>
        <div class="panel-body">
          <p>
            Enter your phone number to help you sign back in to Nested.
          </p>
          <div class="form-group">
            <label class="nst-mood-storm nst-font-small" for="nested_phone">Mobile Phone</label>
            <input name="nested_phone" id="nested_phone" international-phone-number
                   class="phone-input _fw" data-ng-model="ctlRecover.phone" autofocus autocomplete="off"/>
          </div>
          <input type="submit" ng-disabled="ctlRecover.submitNumberProgress || ctlRecover.phoneInvalid"
                 value="{{ctlRecover.submitNumberProgress ? 'Submitting...' : 'Next'}}"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>
      </form>

      <form name="codeVerifyForm" ng-if="ctlRecover.step == 2" ng-submit="ctlRecover.submitCode()" class="use-ng-animate recover-pass-step">
        <div class="nst-vb no-gutter2">
          <h3 class="col-xs-9 nst-font-xlarge testing-title">Phone Verification</h3>
        </div>
        <div class="panel-body">
          <div class="text-center nst-font-medium">
            We've sent a verification code via SMS to
          </div>
          <div class="nst-mood-cheerful text-center nst-font-medium">
            {{ctlRecover.phone}}
          </div>
          <div class="text-center nst-font-medium">
            <a href ng-click="ctlRecover.step = 1;">It's not me!</a>
          </div>

          <div class="form-group" data-ng-model="show">
            <label class="nst-mood-storm nst-font-medium" for="phone_code">
              6 letter and digits verification code
            </label>
            <p class="nst-mood-lively" data-ng-if="ctlRegister.verificationWrongCode">
              Wrong Code
            </p>
            <input id="phone_code" maxlength="6" minlength="6" class="form-control" name="phone_code" ng-model="ctlRecover.verificationCode" autocomplete="off" autofocus required/>
          </div>
        </div>


        <!--<div class="_difh nst-marginbtm-16">-->
        <!--<div class="text-center _df react-btn lftbtn" nst-disable-for-btn min="2" sec="0" id="call" class="btn" click="ctlRecover.callMe()" value="Call">-->
        <!--</div>-->
        <!--<div class="text-center _df react-btn" nst-disable-for-btn id="resend" min="0" sec="45" click="ctlRecover.resend()" value="Resend">-->
        <!--</div>-->
        <!--</div>-->

        <div class="text-center">
          <input type="submit" value="{{ctlRecover.codeVerificationProgress ? 'Verifing...' : 'Verify'}}"
                 ng-disabled="ctlRecover.codeVerificationProgress || codeVerifyForm.phone_code.$invalid"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>

      </form>

      <form novalidate name="resetPasswordForm" ng-if="ctlRecover.step == 3" data-ng-submit="ctlRecover.resetPass()" class="use-ng-animate recover-pass-step">
        <div class="nst-vb no-gutter2">
          <h3 class="col-xs-9 nst-font-xlarge testing-title1">Reset Password</h3>
          <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right">or <a href="#/signin" class="nst-mood-cheerful">Sign
            in</a></p>
        </div>
        <div class="panel-body">
          <p class="nst-font-medium">
            To continue to your account you should enter new password.
          </p>
          <div class="form-group">
            <input name="nested_password" class="form-control" placeholder="Enter new password" type="password" autocomplete="off" ng-minlength="6" ng-maxlength="32" required
                   data-ng-model="ctlRecover.password" autofocus>
          </div>
          <div class="form-group">
            <input name="nested_confirm_password" class="form-control" placeholder="Confirm new password" type="password" autocomplete="off" ng-minlength="6" ng-maxlength="32" match-to="ctlRecover.password" required
                   data-ng-model="ctlRecover.confirmPassword">
          </div>

          <input  type="button" ng-disabled="ctlRecover.resetPasswordProgress || resetPasswordForm.$invalid"
                 data-ng-click="ctlRecover.resetPass()"
                 value="{{ ctlRecover.resetPasswordProgress ? 'Resetting...' : 'Reset' }}"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>
      </form>

      <div id="panel-reseta" class="panel hide">
        <div class="panel-heading">
          <div class="nst-vb no-gutter2">
            <h3 ng-show="ctlRecover.step3" class="col-xs-9 nst-font-large"></h3>
          </div>
        </div>

        <p ng-show="ctlRecover.step3" class="nst-margin-auto"></p>
      </div>

      <fieldset class="hide">

        <div class="form-group" ng-show="ctlRecover.step2">
          <label for="confCode">Code</label>
          <input class="form-control" id="confCode" type="text" data-ng-model="ctlRecover.verificationCode">
          <div class="call-btn disabled">Call (wait 58")</div>
          <div class="filler"></div>
          <div class="call-btn">Resend</div>
        </div>
        <div class="form-group" ng-show="ctlRecover.step3">


        </div>

        <div ng-show="ctlRecover.step2" class="butn-green _fw" ng-click="ctlRecover.submitCode()">Submit</div>
        <div ng-show="ctlRecover.step3" class="butn-green _fw" ng-click="">
        </div>
      </fieldset>
    </div>
  </div>
</div>
