<div class="condition-row">
  <div class="col1">
    <select name="condition" ng-model="model.condition" class="form-control condition-select" required
      ng-options="item.key as item.title for item in getConditions()"></select>
  </div>
  <div class="col1" ng-if="model.condition == conConst.CONDITION_LABEL">
    <select name="equivalent" ng-model="model.equivalent" class="form-control condition-select" required
      ng-options="item.key as item.title for item in equivalents"></select>
  </div>
  <div class="col2">
    <input ng-if="model.condition == conConst.CONDITION_ASSIGNEE || model.condition == conConst.CONDITION_ASSIGNOR" type="text" ng-model="model.data.user" class="_fw" nst-mention-user placeholder="Type Name or Username" translate-attrs="placeholder"/>
    <input ng-if="model.condition == conConst.CONDITION_LABEL" type="text" ng-model="model.data.label" class="_fw" nst-mention-label placeholder="Type Label Name" translate-attrs="placeholder"/>
    <input ng-if="model.condition == conConst.CONDITION_KEYWORD" type="text" ng-model="model.data.keyword" class="_fw" placeholder="Type Keyword" translate-attrs="placeholder"/>
    <input ng-if="model.condition == conConst.CONDITION_DUE_TIME" type="number" ng-model="model.data.range" min="1" max="99" class="_fw" placeholder="Type Keyword" translate-attrs="placeholder"/>
    <select ng-if="model.condition == conConst.CONDITION_DUE_TIME" name="time" ng-model="model.data.unit" class="form-control condition-select" required
            ng-options="item.key as item.title for item in timeOptions"></select>
    <multiple-select ng-if="model.condition == conConst.CONDITION_STATUS" name="status" val="model.data.status" items="statusOptions"></multiple-select>
  </div>
</div>
