<li class="large ng-class:{
    'overdue' : task.status === ctrl.statuses.OVERDUE,
    'completed' : task.status === ctrl.statuses.COMPLETED,
    'candidate' : task.status === ctrl.statuses.NO_ASSIGNED}"
    ng-click="ctrl.editTask(task.id)">
    <div class="list-li-icon">
      <task-progress-icon status="ctrl.getTaskIcon(task.status, task.progress)" progress="task.progress"></task-progress-icon>
    </div>
    <!-- {{task|json}} -->
    <div class="list-li-body">
      <a>
        <span>{{task.title}}</span>
      </a>
      <p ng-if="task.status === ctrl.statuses.ASSIGNED && ctrl.isAssignedToMePage">
        <translate>from</translate> <b><span user-detail="task.assignor">{{task.assignor.fullName}}</span></b>
        <span ng-if="task.dueDate !== undefined && !task.hasDueTime"> • {{task.dueDate | leftDate | localize}}</span>
        <span ng-if="task.dueDate !== undefined && task.hasDueTime"> • {{task.dueDate | leftDate : 'time' | localize}}</span>
      </p>
      <p ng-if="task.status === ctrl.statuses.ASSIGNED && ctrl.isCreatedByMePage">
        <translate>to</translate> <b><span user-detail="task.assignee">{{task.assignee.fullName}}</span></b>
        <span ng-if="task.dueDate !== undefined && !task.hasDueTime"> • {{task.dueDate | leftDate | localize}}</span>
        <span ng-if="task.dueDate !== undefined && task.hasDueTime"> • {{task.dueDate | leftDate : 'time' | localize}}</span>
      </p>
      <p ng-if="task.status === ctrl.statuses.ASSIGNED && ctrl.isWatchlistPage">
        <translate>from</translate> <b><span user-detail="task.assignor">{{task.assignor.fullName}}</span></b> 
        <translate>to</translate > <b><span user-detail="task.assignee">{{task.assignee.fullName}}</span></b> 
        <span ng-if="task.dueDate !== undefined && !task.hasDueTime"> • {{task.dueDate | leftDate | localize}}</span>
        <span ng-if="task.dueDate !== undefined && task.hasDueTime"> • {{task.dueDate | leftDate : 'time' | localize}}</span>
      </p>
      <p ng-if="task.status === ctrl.statuses.OVERDUE">
        <translate>from</translate> <b><span user-detail="task.assignor">{{task.assignor.fullName}}</span></b> 
        <translate>to</translate > <b><span user-detail="task.assignee">{{task.assignee.fullName}}</span></b> 
        <span ng-if="task.dueDate !== undefined && !task.hasDueTime"> • {{task.dueDate | leftDate | localize}}</span>
        <span ng-if="task.dueDate !== undefined && task.hasDueTime"> • {{task.dueDate | leftDate : 'time' | localize}}</span>
      </p>
      <!-- <p ng-if="task.candidates !== undefined && task.assignee === undefined">
        <translate>from</translate> <span user-detail="task.assignor">{{task.assignor.fullName}}</span>
        <translate>to</translate> <span user-detail="task.candidates[0]">{{task.candidates[0].fullName}}</span>
      </p> -->
      <p ng-if="task.status === ctrl.statuses.REJECTED">
        <translate>All candidates rejected task.</translate>
      </p>
      <p ng-if="task.status === ctrl.statuses.NO_ASSIGNED">
        <translate>waiting for candidates response.</translate>
      </p>
      <p ng-if="task.status === ctrl.statuses.COMPLETED">
        <!-- TODO : Time of finish -->
        <translate>Completed on {{task.dueDate | date : 'short' | localize}} by</translate> <b>{{task.assignee.fullName}}</b>
      </p>
    </div>
    <div class="list-li-extra">
      <div ng-if="task.description.length > 0" data-tooltip-placement="{{$root._direction == 'rtl' ? 'top-left' : 'top-right'}}"
        data-uib-tooltip-template="'task-description.html'" data-tooltip-append-to-body="true" class="task-detail-item">
        <svg class="_16svg _df" class="task-detail-item">
          <use xlink:href="/assets/icons/nst-icn16.svg#petition"></use>
        </svg>
        <span></span>
      </div>
      <div ng-if="task.todos.length > 0" class="task-detail-item">
        <svg class="_16svg _df">
          <use xlink:href="/assets/icons/nst-icn16.svg#bullet-list"></use>
        </svg>
        <span>{{task.todos.length}}</span>
      </div>
      <div ng-if="task.counters.attachments > 0" class="task-detail-item">
        <svg class="_16svg _df">
          <use xlink:href="/assets/icons/nst-icn16.svg#attach"></use>
        </svg>
        <span>{{task.counters.attachments}}</span>
      </div>
      <div ng-if="task.counters.watchers > 0" class="task-detail-item" data-tooltip-placement="{{$root._direction == 'rtl' ? 'top-left' : 'top-right'}}"
          data-uib-tooltip-template="'task-watchers.html'" data-tooltip-append-to-body="true">
        <svg class="_16svg _df">
          <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
        </svg>
        <span>{{task.counters.watchers}}</span>
      </div>
      <div ng-if="task.counters.labels > 0" class="task-detail-item" data-tooltip-placement="{{$root._direction == 'rtl' ? 'top-left' : 'top-right'}}"
          data-uib-tooltip-template="'task-labels.html'" data-tooltip-append-to-body="true">
        <svg class="_16svg _df">
          <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
        </svg>
        <span>{{task.counters.labels}}</span>
      </div>
      <div ng-if="task.counters.comments > 0" class="task-detail-item">
        <svg class="_16svg _df">
          <use xlink:href="/assets/icons/nst-icn16.svg#comments"></use>
        </svg>
        <span>{{task.counters.comments}}</span>
      </div>
    </div>
  </li>