.user-chips-wrapper {
    max-width: 180px;
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 4px;
    padding-right: 5px;
    height: 28px;
    border: 1px solid #DDDFE0;
    border-radius: 4px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 2px 4px $color-breeze-new;
    .user-avatar-16 {
        margin: 0 6px;
        svg {
            display: none;
        }
    }
    span {
        max-width: 148;
        line-height: 26px;
        font-size: 13px;
        color: $color-solid;
    }
    &.isSelected {
        background-color: $color-solid;
        span {
            color: $color-white;
        }
        .user-avatar-16 {
            margin: 0 6px;
            svg {
                fill: $color-white;
            }
        }
        &:hover {
            .user-avatar-16 {
                svg {
                    fill: $color-white;
                }
            }
        }
        &.isCandidate {
            background-color: #0079F2;
            &:hover {
                border-color: #0079F2; 
            }
        }
    }
    &.isCandidate {
        border-color: #0079F2;
        &:hover {
            border-color: #004DA6; 
        }
    }
    &:hover {
        .user-avatar-16 {
            &::after {
                display: none;
            }
            img {
                display: none;
            }
            svg {
                display: block;
                fill: $color-force;
            }
        }
    }
}