<div class="label-chips-wrapper ng-class:{'isSelected color-lbl-shadow-' + label.code : isSelected}" ng-click="selectChip();">
    <div class="label-edge color-lbl-bg-{{label.code}}">
        <svg class="_fh _fw _df _fn">
            <use xlink:href="/assets/icons/label-chips.svg#label-edge"></use>
        </svg>
        <svg class="_16svg">
            <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
        </svg>
    </div>
    <span class="_txe color-lbl-bg-{{label.code}}">
        {{label.title}}
    </span>
</div>