<div class="place-chips-wrapper ng-class:{'isSelected' : isSelected, 'isEmail' : isEmail}" ng-click="selectChip();">
  <div class="place-picture">
    <img initial-avatar="{{place.id}}" name="{{place.name}}" picture="{{place | picture : 'x128'}}" data-width="26"
        data-height="26" ng-if="!isEmail"
        data-radius="6" class="_df" data-word-count="2" data-font-size="13"/>
    <img class="email-holder" src="/assets/icons/ph_email.png" ng-if="isEmail"/>
  </div>
  <span class="_txe">
    {{place.name}}
  </span>
  <div class="clear" ng-if="removePermission" ng-click="clearItem();">
    <svg class="_16svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
    </svg>
  </div>
</div>
