<div class="user-chips-wrapper ng-class:{'isSelected' : isSelected, 'isCandidate' : candidate}" ng-click="selectChip();">
  <div class="user-avatar-16" ng-click="closeChip()">
    <img initial-avatar="{{user.id}}" name="{{user.fullName}}" picture="{{user | avatar : 'x128'}}" data-width="16" data-height="16"
      data-radius="40" class="account-initials-16 _df" data-word-count="2" data-font-size="8" />
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
    </svg>
  </div>
  <span class="_txe">
    {{user.fullName}}
  </span>
</div>
