<div class="maincontainer _fw option-hld ng-class:{'navtiny' : navView,'sidetiny' : sideView}">
  <nst-sidebar data-ng-model="sidebar" class="_fn _fh"></nst-sidebar>
  <div class="nst-container">
    <nst-navbar place="ctlPlaceSettings.place"></nst-navbar>

    <div class="nst-content _tr" id="content-wrapper" ng-scrollbars>


      <section class="content _bgwhite">
        <!-- TODO : Remove the style about scroll -->
        <div id="place-option-body" class="_bgwhite" style="height : 2000px; overflow: scroll;">
          <div id="place-option-hld _fh">
            <div class="room-name">
              <label for="logo" class="_di">
                <img data-ng-if="ctlPlaceSettings.place.picture.thumbnails.x64.url.download" class="account-initials-64 room-pic" ng-src="{{ctlPlaceSettings.place.picture.thumbnails.x64.url.download}}"/>
                <div data-ng-if="!ctlPlaceSettings.place.picture.thumbnails.x64.url.download" class="account-initials-64 _dib room-pic">{{ctlPlaceSettings.place.name | initials:2}}</div>
              </label>
              <input id="logo" data-ng-disabled="!ctlPlaceSettings.hasControlAccess" type="file" name="logo" accept="image/*" onchange="angular.element(this).scope().place_option.imgToUri(event)"/>

              <div class="_dib room-pic">
                <h5 data-ng-if="ctlPlaceSettings.hasControlAccess" editable-text="ctlPlaceSettings.place.name" onbeforesave="place_option.updatePlace('place_name', $data)">{{ctlPlaceSettings.place.name || 'empty'}}</h5>
                <h5 data-ng-if="!ctlPlaceSettings.hasControlAccess">{{ctlPlaceSettings.place.name || 'empty'}}</h5>

                <h5 class="nst-mood-storm">{{ctlPlaceSettings.place.id + '@nested.me'}}</h5>
                <h5 data-ng-if="ctlPlaceSettings.hasControlAccess" class="nst-mood-storm" data-tooltip-placement="left auto" data-uib-tooltip="Place description" editable-text="ctlPlaceSettings.place.description"
                    onbeforesave="place_option.updatePlace('place_desc', $data)">{{ctlPlaceSettings.place.description || 'empty'}}</h5>
                <h5 class="no-animation" data-tooltip-placement="left auto" data-uib-tooltip="Place description" data-ng-if="!ctlPlaceSettings.hasControlAccess">{{ctlPlaceSettings.place.description || 'empty'}}</h5>
              </div>
            </div> <!--/Room name-->
            <div class="options">
              <div class="nst-options col-xs-12 col-lg-6">
                <h5 class="tittle-option">Options For Me</h5>
                <hr>
                <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-notification"><i class="nst-place-icon-notif _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-notification"><h5>Notifictions</h5></label></div>
                  <div class="_df switch">
                    <input type="checkbox" id="sw-notification" class="inpsw" name="notification" data-ng-model="ctlPlaceSettings.options.notification"
                           ng-change="ctlPlaceSettings.setNotification()"/>
                    <label class="on active" for="sw-notification" data-ng-click="ctlPlaceSettings.options.notification && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label class="noton" for="sw-notification" data-ng-click="!ctlPlaceSettings.options.notification && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div>
                <div class="nst-description _df _fw">
                  <p>People who you add to this place, will be added automatically in root place. if you want to add people just to this place, <a class="nst-mood-cheerful cursor-pointer">invite them
                    as a member</a>.</p>
                </div>
                <!-- <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-digest"><i class="nst-place-icon-shown _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-digest"><h5>Show in Digest</h5></label></div>
                  <div class="_df switch">
                    <input type="checkbox" id="sw-digest" class="inpsw" name="digest" data-ng-model="digest" onchange="TODO:FIX"/>
                    <label class="on active" for="sw-digest" data-ng-click="digest && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label class="noton" for="sw-digest" data-ng-click="!digest && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div> -->
              </div> <!--/nst-option-->

              <div class="nst-place-privacy col-xs-12 col-lg-6">
                <h5 class="tittle-option">Place Privacy</h5>
                <hr>

                <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-locked"><i class="nst-place-icon-lock _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-locked"><h5>Lock</h5></label></div>

                  <div class="_df switch">
                    <input type="checkbox" id="sw-locked" data-ng-disabled="!ctlPlaceSettings.hasControlAccess" class="inpsw" name="locked" data-ng-model="ctlPlaceSettings.place.privacy.locked"
                           ng-change="ctlPlaceSettings.updatePrivacy()"/>
                    <label for="sw-locked" data-ng-click="ctlPlaceSettings.place.privacy.locked && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label for="sw-locked" data-ng-click="!ctlPlaceSettings.place.privacy.locked && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div>
                <div class="nst-description _df _fw">
                  <p>Parent members Can't view Inside The Place.<a class="nst-mood-cheerful cursor-pointer">Learn more</a></p>
                </div>

                <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-receptive"><i class="nst-place-icon-print _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-receptive"><h5>Receptive</h5></label></div>
                  <div class="_df switch">
                    <input type="checkbox" data-ng-disabled="!ctlPlaceSettings.hasControlAccess" id="sw-receptive" class="inpsw" name="receptive" data-ng-model="ctlPlaceSettings.place.privacy.receptive"
                      ng-change="ctlPlaceSettings.updatePrivacy()"/>
                    <label for="sw-receptive" data-ng-click="ctlPlaceSettings.place.privacy.receptive && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label for="sw-receptive" data-ng-click="!ctlPlaceSettings.place.privacy.receptive && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div>
                <div class="nst-description _df _fw">
                  <p>Only members Can Write Posts. <a class="nst-mood-cheerful cursor-pointer">Learn more</a>.</p>
                </div>

                <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-search"><i class="nst-place-icon-search _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-search"><h5>Search</h5></label></div>
                  <div class="_df switch">
                    <input type="checkbox" data-ng-disabled="!ctlPlaceSettings.place.privacy.receptive || !ctlPlaceSettings.hasControlAccess " id="sw-search" class="inpsw" name="search" data-ng-model="ctlPlaceSettings.place.privacy.search"
                      ng-change=""/>
                    <label for="sw-search" data-ng-click="ctlPlaceSettings.place.privacy.search && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label for="sw-search" data-ng-click="!ctlPlaceSettings.place.privacy.search && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div>
                <div class="nst-description _df _fw">
                  <p>Disabled until "Receptive" off <a class="nst-mood-cheerful  cursor-pointer">Learn more</a>.</p>
                </div>

                <div class="_difc _fw optionrow">
                  <div class="_df"><label for="sw-email"><i class="nst-place-icon-email _df"></i></label></div>
                  <div class="_df _fw"><label for="sw-email"><h5>Email</h5></label></div>
                  <div class="_df switch">
                    <input type="checkbox" data-ng-disabled="!ctlPlaceSettings.place.privacy.receptive || !ctlPlaceSettings.hasControlAccess" id="sw-email" class="inpsw" name="email" data-ng-model="ctlPlaceSettings.place.privacy.email"
                           ng-change=""/>
                    <label for="sw-email" data-ng-click="ctlPlaceSettings.place.privacy.email && $event.preventDefault();">
                      <div class="labtxt _fw">ON</div>
                    </label>
                    <label for="sw-email" data-ng-click="!ctlPlaceSettings.place.privacy.email && $event.preventDefault();">
                      <div class="labtxt _fw">OFF</div>
                    </label>
                  </div>
                </div>
                <div class="nst-description _df _fw">
                  <p>Disabled until "Receptive" off. <a class="nst-mood-cheerful cursor-pointer">Learn more</a>.</p>
                </div>
              </div> <!-- /nst-place-privacy-->
            </div>

            <div class="nst-teammates _dib">
              <h5 class="tittle-option _di">Teammates</h5>
              <div data-ng-if="ctlPlaceSettings.hasAddMembersAccess" class="_di  _fr" data-ng-click="place_option.showAddModal('teammate')">
                <span class="nst-mood-simple _dib _vat">Add Teammate</span>
                <div class="add-icon _dib"></div>
              </div>
              <hr>
              <h5 ng-if="!ctlPlaceSettings.hasSeeMembersAccess" class="nst-mood-storm">
                You are not allowed to see other teamates!
              </h5>
              <h5 ng-if="ctlPlaceSettings.hasSeeMembersAccess && ctlPlaceSettings.hasSeeMembersAccess && !ctlPlaceSettings.hasAnyTeamate" class="nst-mood-storm">
                There is not any teamate here!
              </h5>
              <div data-ng-if="ctlPlaceSettings.hasSeeMembersAccess" class="col-lg-6 col-xs-6 user" data-ng-repeat="member in ctlPlaceSettings.members.creators" data-ng-include="'app/pages/places/settings/member.html'"
                   data-ng-init="role = 'creator'"></div>
              <div data-ng-if="ctlPlaceSettings.hasSeeMembersAccess" class="col-lg-6 col-xs-6 user" data-ng-repeat="member in ctlPlaceSettings.members.keyHolders" data-ng-include="'app/pages/places/settings/member.html'"
                   data-ng-init="role = 'key_holder'"></div>
              <div data-ng-if="ctlPlaceSettings.hasSeeMembersAccess" class="col-lg-6 col-xs-6 user" data-ng-repeat="member in ctlPlaceSettings.members.pendingKeyHolders" data-ng-include="'app/pages/places/settings/member.html'"
                   data-ng-init="role = 'pending_key_holder'"></div>
            </div><!--/nst-teammates-->

            <div class="place-option-members _dib">
              <h5 class="title-option _di">Participants</h5>
              <div data-ng-if="ctlPlaceSettings.hasAddMembersAccess" class="_di _fr" data-ng-click="place_option.showAddModal('member')">
                <span class="nst-mood-simple _dib _vat">Invite members</span>
                <div class="add-icon _dib"></div>
              </div>
              <hr>
              <h5 ng-if="!ctlPlaceSettings.hasSeeMembersAccess" class="nst-mood-storm">
                You are not allowed to see the participants!
              </h5>
              <h5 ng-if="ctlPlaceSettings.hasSeeMembersAccess && !ctlPlaceSettings.hasAnyGuest" class="nst-mood-storm">
                There is not any participant here!
              </h5>
              <div data-ng-if="ctlPlaceSettings.hasSeeMembersAccess" class="col-xs-6 col-lg-6" data-ng-repeat="member in ctlPlaceSettings.members.knownGuests" data-ng-include="'app/pages/places/settings/member.html'"
                   data-ng-init="role = 'known_guest'"></div>
              <div data-ng-if="ctlPlaceSettings.hasSeeMembersAccess" class="col-xs-6 col-lg-6" data-ng-repeat="member in ctlPlaceSettings.members.pendingKnownGuests" data-ng-include="'app/pages/places/settings/member.html'"
                   data-ng-init="role = 'pending_known_guest'">
              </div>

            </div> <!-- /place-option-members-->
            <div class="restplace _df _fh"></div>
          </div>
        </div>
      </section>

      <div class="content-plus" id="content-plus">
        <div>
          <div class="name">Recent Activities</div>
          <div class="row">
            <div class="_df">
              <img initials="user.name" data-url="user.picture.x24.url" data-width="16" data-height="16" data-radius="16" class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
            </div>
            <div class="colomn">
              <div class="_difh top">
                <div class="sender _fw _df">
                  <a>Ehsan</a> <span>@ehsan</span>
                </div>
                <div class="_df">
                  <span>23" ago</span>
                </div>
                <div class="ei-comment-add _df _fn"></div>
              </div>
              <div class="_df">
                <p><span>commented</span> Wow, It's really Cool... We love new design :D</p>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
