<div class="_difv add-member-modal">
  <h4>
    <div class="_df" ng-click="$dismiss();">
      <svg class="_24svg _fn">
        <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
      </svg>
    </div>
    <translate >Add Members</translate>
  </h4>
  <suggest-picker config="addMemberCtrl.suggestPickerConfig" selecteds="addMemberCtrl.selectedUsers" class="add-user-modal-input"
    suggests="addMemberCtrl.users" keyword='addMemberCtrl.query' request-more="addMemberCtrl.searchMore"></suggest-picker>
  <div class="modal-body">
    <div class="_fw suggests">
      <translate>Suggested:</translate>
    </div>
    <p class="no-result" ng-if="addMemberCtrl.users.length === 0"><translate>No results</translate></p>
  </div>
  <div class="m-footer _df _fw">
    <input type="button" class="butn butn-green" ng-disabled="addMemberCtrl.selectedUsers.length === 0"
      translate-attrs="value" value="Add" ng-click="addMemberCtrl.add();" id="add" />
  </div>
</div>
