<div class="chk-box" ng-if="mode == 'settings'">
  <div ng-if="!memberCtrl.isCurrent && memberCtrl.hasControlAccess" class="chk-ico" ng-click="memberCtrl.onSelect(memberCtrl.member)"></div>
</div>
<div class="logo">
  <img initials="memberCtrl.member.name" data-url="memberCtrl.member.avatar" data-width="48" data-height="48"
       data-radius="24" class="account-initials-48" data-word-count="2" data-font-size="16"/>
</div>
<div class="name _txe">
  <p class="_txe" ng-class="{ 'nst-mood-pending': memberCtrl.member.role === 'pending_key_holder'}">{{memberCtrl.member.name}} <i ng-if="memberCtrl.isCurrent" translate-inner>(me)</i></p>
  <span ng-class="{ 'nst-mood-pending': memberCtrl.member.role === 'pending_key_holder'}">@{{memberCtrl.member.id}}</span>
</div>
<div class="role">
  <translate ng-if="memberCtrl.member.role === 'creator' && false">Manager</translate>
  <translate class="nst-mood-pending" ng-if="memberCtrl.member.role === 'pending_key_holder' && false">Pending ...</translate>
  <div data-ng-switch="memberCtrl.member.role" class="_fn">
    <svg class="_24svg _df _16svg crown" data-ng-switch-when="creator">
      <use xlink:href="/assets/icons/nst-icn24.svg#crown"></use>
    </svg>
    <svg class="_16svg _df" data-ng-switch-when="key_holder" ng-if="false">
      <use xlink:href="/assets/icons/nst-icn16.svg#member"></use>
    </svg>
    <svg class="_16svg _df pendfill" data-ng-switch-when="pending_key_holder">
      <use xlink:href="/assets/icons/nst-icn16.svg#hourglass"></use>
    </svg>
    <svg class="_24svg _df" data-ng-switch-when="pending_known_guest">
      <use xlink:href="/assets/icons/nst-icn24.svg#hourglass"></use>
    </svg>
  </div>
  <div class="cursor-pointer _df user-more-opt" ng-click="$event.stopPropagation()" popover-class="white-pop" data-popover-placement="auto bottom-right"  uib-popover-template="'app/pages/places/settings/place-member-item-options.html'"
       popover-append-to-body="false" popover-trigger="focus">
    <svg class="_24svg" ng-if="(memberCtrl.hasRemoveAccess || memberCtrl.hasControlAccess) && !(memberCtrl.member.role === 'creator' && memberCtrl.place.counters.creators === 1) && !memberCtrl.isCurrent">
      <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
    </svg>
  </div>
</div>

