<div class="_difv _fw add-member-modal">
  <h4>
    <div class="_df" ng-click="$dismiss();">
      <svg class="_24svg _fn">
          <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
      </svg>
    </div>
    <translate data-ng-if="!addMemberCtrl.isGrandPlace">Add Members</translate>
    <translate data-ng-if="addMemberCtrl.isGrandPlace">Invite new Members</translate>
  </h4>
  <ui-select multiple class="add-user-modal-input _df"
    data-ng-model="addMemberCtrl.selectedUsers" limit="{{addMemberCtrl.limit}}"
    autofocus="true" always-show-list on-select="addMemberCtrl.search('')">
    <ui-select-match placeholder="{{::addMemberCtrl.searchPlaceholder}}">
      <div class="selected-innter">
        <span class="place-img">
          <img initial-avatar="{{$item.id}}" picture="{{$item | avatar}}"
                data-width="24" data-height="24" data-radius="2"
                data-word-count="2" data-font-size="12" name="{{$item.fullName}}"/>
        </span>
        <span class="place-name">{{$item.fullName}}</span>
      </div>
    </ui-select-match>
    <ui-select-choices refresh="addMemberCtrl.search($select.search)" refresh-delay="0"
                        repeat="user in (addMemberCtrl.users | filter: $select.search) track by user.id" >
      <img initial-avatar="{{user.id}}" name="{{user.fullName}}" picture="{{user| avatar:'x64'}}" data-width="32"
      data-height="32" data-radius="24" class="account-initials-32 _df" data-word-count="2" data-font-size="16"/>
      <div class="_difv">
        <!--todo:: | highlight: $select.search in persian name-->
        <span auto-dir="user.fullName"><span class="_txe _fw" data-ng-bind-html="user.fullName"></span></span>
        <small class="_df">@{{user.id}}</small>
      </div>
    </ui-select-choices>
  </ui-select>
  <div class="modal-body">
    <p data-ng-if="addMemberCtrl.users < 1 && !addMemberCtrl.isTeammateMode" class="_fw"><ranslate>Import Contacts:</ranslate></p>
    <p data-ng-if="addMemberCtrl.users < 1 && addMemberCtrl.isTeammateMode" class="_fw"><translate>You can add multiple Members simultaneously</translate></p>
    <div class="_fw suggests">
      <translate>Suggested:</translate>
    </div>
  </div>
  <div class="m-footer _df _fw">
    <input type="button" class="butn-green" data-ng-if="addMemberCtrl.isGrandPlace" ng-disabled="addMemberCtrl.selectedUsers.length === 0" value="Invite" ng-click="addMemberCtrl.add();" id="invite"/>
    <input type="button" class="butn-green" data-ng-if="!addMemberCtrl.isGrandPlace" ng-disabled="addMemberCtrl.selectedUsers.length === 0" value="Add" ng-click="addMemberCtrl.add();" id="add"/>
  </div>
</div>
