<div class="logo">
  <img initials="memberCtrl.member.name" data-url="memberCtrl.member.avatar" data-width="48" data-height="48"
       data-radius="24" class="account-initials-48" data-word-count="2" data-font-size="16"/>
</div>
<div class="name">
  <p>{{memberCtrl.member.name}}</p>
  <span>@{{memberCtrl.member.id}}</span>
</div>
<div class="role">
  Keyholder <span ng-if="memberCtrl.member.role === 'creator'">(Master)</span>
  <div data-ng-switch="memberCtrl.member.role" class="_fn">
    <div data-ng-switch-when="creator" class="role-icons-crown role-icon"></div>
    <div data-ng-switch-when="key_holder" class="role-icons-key role-icon"></div>
    <div data-ng-switch-when="pending_key_holder" class="role-icons-key-wait role-icon"></div>
    <div data-ng-switch-when="pending_known_guest" class="role-icons-avatar-wait role-icon"></div>
    <div data-ng-switch-default class="role-icons-avatar role-icon"></div>
  </div>
  <div class="svg-hover morphed popover-green cursor-pointer margin-r_5 icon-rp _df" data-popover-placement="auto left-top" id="active-test" uib-popover-template="'app/pages/places/settings/place-member-item-options.html'" popover-append-to-body="false"  popover-trigger="focus">
  <svg ng-if="memberCtrl.hasRemoveAccess || memberCtrl.hasControlAccess">
    <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
    <use xlink:href="/assets/icons/nst-icn24.svg#Wmore"></use>
  </svg>
  </div>
</div>
