<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p data-ng-show="!place.privacy.locked" class="_df _fw">Make Place "Accessible"?</p>
      <p data-ng-show="place.privacy.locked" class="_df _fw">Make Place "Locked"?</p>
      <div class="_df" ng-click="cancel()"><img src="../assets/icons/close.svg" class="_fh"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail">You are about to change your privacy access public view this place, Are you still want to change ?!</p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons" data-ng-init="lockmodal = false">
          <div class="butn-white _jcc _df" ng-click="cancel()"><a class="_df">Cancel</a></div>
          <div class="butn-green _jcc _df" ng-click="ok()"><a class="_df">Yes</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
