<div class="mention-wrp" ng-controller="MentionsController as ctlMentions">
  <div class="subject">
    <a>Mentions</a>
  </div>
  <ul>
    <li ng-repeat="mention in ctlMentions.mentions track by mention.id" ui-sref="app.message({ postId : mention.postId })" ng-click="ctlMentions.viewPost(mention, $event);">
      <div class="item-inner ng-class:{'seen' : mention.isSeen}">
        <div class="user-avatar-24">
          <img src="{{mention.avatar}}">
        </div>
        <div class="mention">
          <p>
            <a>{{ ::mention.name }}:</a>
            <span auto-dir="{{::mention.commentBody}}">{{mention.commentBody | truncate}}</span>
          </p>
          <div class="ment-date">
            {{mention.date | passed}}
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="more-mentions" ng-click="ctlMentions.markAllSeen()">
    Mark All as Read
  </div>
</div>
