[contenteditable]:before{
  content: attr(placeholder);
  display: block;
  color: $color-wind;
  position: absolute;
  //width: 100%;
  //height: 100%;
  font-size: 18px;
  font-weight: 300;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  transition: opacity $animation-dur;
}
[contenteditable]:focus,
[contenteditable]:active {
 &:before {
   opacity: 0!important;
 }
}
