<div class="teammates">
  <h4 class="">{{ctlTeamates.grandPlace.teamatesCount || 0}} Teammates
    <svg ng-click="ctlTeamates.toggleMode();">
      <use xlink:href="/assets/icons/nst-icn24.svg#sent"></use>
    </svg>
  </h4>
  <div class="avatars">
    <div class="user-avatar-28" ng-repeat="teamate in ctlTeamates.teamates | limitTo : ctlTeamates.limit track by teamate.id" data-tooltip-placement="top" data-uib-tooltip="{{::teamate.name}}">
      <img ng-src="{{teamate.avatar}}" class="ng-scope">
    </div>
    <svg ng-if="ctlTeamates.hasSeeMembersAccess" ng-click="ctlTeamates.addMember()">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/nst-24.svg#fav24"></use>
    </svg>
  </div>
</div>
