/**
  *************************************************
  *     Nested Classes - Page Specific - Login    *
  *************************************************
 */
#panel-signin {
  max-width: 360px;
  width: 100%;
  min-height: 336px;
  padding: 0;
  border: none;
  .company-detail {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    position: relative;
    &.dark {
      h1, p{
        color: $color-white;
      }
    }
    >img {
      width: 64px;
      height: 64px;
      margin-top: 16px;
      object-fit: cover;
      border-radius: 4px;
      box-shadow: 0px 8px 16px rgba(50, 61, 71, 0.08);
      z-index: 2;
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 33px;
      margin: 16px 0;
      z-index: 2;
    }
    p {
      margin-bottom: 16px;
      font-size: 14px;
      z-index: 2;
      line-height: 19px;
    }
    .company-image-filter {
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      img {
        width: 128px;
        height: 128px;
        transform: scale(7.5,7.5);
        transform-origin: center center;
        filter: blur(16px) brightness(76%);
        z-index: 1;
      }
    }
  }
  .panel-heading {
    padding: 0 16px;
  }
  .panel-body {
    padding: 0 16px 24px;
  }
  form {
    margin-top: 20px;
  }
  .nst-vb {
    margin-top: 14px;
    span {
      font-size: 13px;
    }
  }
}

.login-anchor:hover {
    color: $color-sense-wire;
}
