.task-filter {
  background: $contrast-bg-color;
  box-shadow: 0 32px 64px $box-shadow-color-bold;
  border-radius: 6px;
  color: $color-new-hurricane;
  h2 {
    line-height: 28px;
    height: 72px;
    padding: 24px 24px 20px;
  }
  p {
    font-size: 13px;
    opacity: 0.8;
  }
  label {
    font-size: 13px;
    color: $color-solid;
    font-weight: bold;
    margin: 0 0 6px;
    opacity: 0.8;
  }
  .task-filter-inner {
    padding: 24px 48px 0;
    .filter-name {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      p {
        padding: 4px 6px;
        margin: 0;
      }
      input, select {
        background-color: $color-white-to-black;
      }
    }
    .condition-row {
      height: 40px;
      position: relative;
      display: flex;
      margin-bottom: 8px;
      select {
        height: 40px;
        background: url("../assets/icons/inputform.svg") no-repeat 98% -124px, linear-gradient(to bottom, $color-white-to-black, $color-calm 100%) !important;
      }
      input {
        min-width: 92px;
        background-color: $color-white-to-black;
      }
    }
    .add-condition {
      width: auto !important;
      margin-bottom: 16px;
    }
    .remove-row {
      position: absolute;
      width: 32px;
      left: -40px;
      top: 4px;
      @include align-center();
      height: 32px;
    }
  }
  .condition-select {

  }
  .modal-footer {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
  }
  .col1 {
    width: 156px;
    margin-right: 8px;
  }
  .col2 {
    flex: 1;
    display: flex;
    input, select, .ng-flat-datepicker-wrapper {
      display: flex;
      flex: 1;
      width: auto;
      margin-right: 8px;
      input {
        height: 40px;
        line-height: 40px;
      }
    }
    > *:last-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .butn {
    height: 40px;
  }
}

body[dir="rtl"] {
  .task-filter {
    .col1,
    .col2 input,
    .col2 select {
      margin-right: 0;
      margin-left: 8px;
    }
    .task-filter-inner .remove-row {
      left: auto;
      right: -40px;
    }
    .task-filter-inner {
      .condition-row {
        select {
          height: 40px;
          background: url("../assets/icons/inputform.svg") no-repeat -2% -124px, linear-gradient(to bottom, $color-bg-nested, $color-bg-nested 100%) !important;
        }
      }
    }
  }
}

body[dir="rtl"],
body[dir="ltr"] {
  .task-filter {
    .col2 {
      > *:last-child {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
