a.normal-badge {
  color: $color-solid;
}

.small-badge {
  background-color: $color-breeze;
  border-radius: 40px;
  flex: none;
  align-items: center;
  display: flex;
  color: $color-hurricane;
  padding: 0 8px 0 8px;
  font-size: $font-size-xsmall;
  margin: 0 8px;
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
  transition: all $animation-dur;
  &:hover {
    background-color: $color-hurricane;
    color: $color-white;

  }
}

.place:hover {
  color : black;
}

.normal-badge {
  background-color: $color-badge;
  border-radius: 9px;
  color: $color-solid;
  font-size: $font-size-small;
  line-height: 22px;
  white-space: nowrap;
  padding: 0 8px;
  height: 20px;
  flex: none;
}
.ui-select-match-item:hover {
  background: $color-sense-50;
}
.ui-select-match-item.btn-primary {
  background-color: $color-sense-wire;
  color: $color-white;
}

.large-badge {
  background-color: $color-badge;
  border-radius: 16px;
  flex: none;
  display: flex;
  align-items: center;
  margin: 4px 4px;
}
.large-badge a {
  color: $color-solid;
  margin: 2px 12px;
  font-size: 13px;
  white-space: nowrap;
}
.normal-badge:hover {
  color: $color-solid;
}

#new-post {
  position: absolute;
  z-index: 555;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  top: $navbar-height + 40px;
  width: 162px;
  height: 32px;
  background-color: $color-force-wire;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  @include opacity(.85);
  //transition: $animation-dur;
  a {
    color: $color-white;
    font-size: $font-size-medium;
    white-space: nowrap;
    padding-left: 10px;
    cursor: pointer;
  }
  i {
    height: 16px;
    color: $color-white;
    font-style: normal;
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
  }
}


.more-tag {
  background-color: #8AEBB4;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 32px;
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
  flex : none;
  color: $color-hurricane;
  padding: 0 8px 2px 8px;
  font-size: $font-size-xsmall;
  align-self: center;
  transition: all $animation-dur;
  &:hover {
    color: $color-white;
    background-color: $color-hurricane;
  }
}
