.maincontainer.navtiny {
  #content-plus {
    transform: translateY(96px);
  }
  #new-post {
    top:102px;
  }
}
.maincontainer.sidetiny {
  .sidebar{
    width: $sidebar-width-tiny;
    .side-profile {
      width: $sidebar-width-tiny;
      padding: 0;
      display: inline-flex;
      //flex-direction: column-reverse;
      align-items: center;
      transition: $animation-dur;
      & > a > div {
        justify-content: center;
        padding: 0;
        transition: .1s;
        & > img {
          //margin-left: 22px;
          transition: $animation-dur;
        }
      }
      a {
        white-space: nowrap;
      }
    }
  }
  nst-navbar {
    left: $sidebar-width-tiny;
  }

  //hidden unwanted elements in tiny sidebar
  .lines,.side-menu-item .item,.onlyExpand {
    width : 0;
    margin: 0;
    padding: 0;
    flex: none;
    overflow: hidden;
    transition: $animation-dur;
    a{
      white-space: nowrap;
    }
  }
}
