.butn {
  @include user-select(none);
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
  color: $color-white;
  height: 32px;
  border-radius: 2px;
  flex: none;
  line-height: 1.33333;
  text-align: center;
  transition: all $animation-dur;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  padding: 0 16px;
  a,span {
    color: $color-white;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  &:hover:disabled,
  &:focus:disabled,
  &:disabled{
    cursor: not-allowed;
    border-color: #DDDFE0;
    text-decoration: none;
    box-shadow: none;
    background-color: #DDDFE0;
    color: #ACB0B4;
    a,span {
      color: #ACB0B4;
    }
  }
  &.secondary:disabled {
    box-shadow: none;
    background-color: $color-white!important;
  }
}

/**
  *********************************
  *        Green btn              *
  *********************************
*/

.butn-green{
  background-color: $color-sense;
  border-color: $color-sense-wire;
  color: $color-white;
  box-shadow: 0 2px 4px rgba(1, 177, 89, .32);
  &:hover {
    border-color: $color-sense;
    color: $color-white;
    box-shadow: 0 4px 8px rgba(1, 177, 89, .32);
    a,span{
      color: $color-white;
    }
  }
  &:focus {
    background-color: $color-sense-wire;
    border-color: $color-sense-wire;
    box-shadow: 0 1px 2px rgba(1, 177, 89, .32);
  }
  &.secondary {
    background-color: $color-white!important;
    color: $color-sense-wire;
    a, span {
      color: $color-sense-wire;
    }
  }
}

/**
  *********************************
  *        Blue btn              *
  *********************************
*/

.butn-pending{
  background-color: $color-bg-pending;
  border-color: $color-bg-pending-wire;
  color: $color-white;
  box-shadow: 0 2px 4px rgba(0, 77, 166, .32);
  a,span {
    color: $color-white;
  }
  &:hover {
    border-color: $color-bg-pending;
    box-shadow: 0 4px 8px rgba(0, 77, 166, .32);
    a,span{
      color: $color-white;
    }
  }
  &:focus {
    box-shadow: 0 1px 2px rgba(0, 77, 166, .32);
    background-color: $color-bg-pending-wire;
    border-color: $color-bg-pending-wire;
  }
  &.secondary {
    background-color: $color-white!important;
    color: $color-bg-pending-wire;
    a, span {
      color: $color-bg-pending-wire;
    }
  }
}

/**
  *********************************
  *          red btn              *
  *********************************
*/

.butn-red{
  background-color: $color-force;
  border-color: $color-force-wire;
  margin: 0 5px;
  box-shadow: 0 2px 4px rgba(230, 0, 38, .32);
  a,span{
    color: $color-white;
  }
  &:hover {
    box-shadow: 0 4px 8px rgba(230, 0, 38, .32);
    border-color: $color-force;
    a,span{
      color: $color-white;
    }
  }
  &:focus{
    box-shadow: 0 1px 2px rgba(230, 0, 38, .32);
    background-color: $color-force-wire;
    border-color: $color-force-wire;
  }
  &.secondary {
    background-color: $color-white!important;
    color: $color-force-wire;
    a, span {
      color: $color-force-wire;
    }
  }
}

/**
  *********************************
  *         White btn             *
  *********************************
*/

.butn-white{
  border-color: rgb(35, 38, 41);
  background-color: rgb(50, 61, 71);
  color: $color-white;
  box-shadow: 0 2px 4px rgba(35, 38, 41, .32);
  margin: 0 5px;
  a,span{
    color: $color-white;
  }
  &:hover{
    background-color: rgb(50, 61, 71);
    border-color: rgb(50, 61, 71);
    color: $color-white;
    box-shadow: 0 4px 8px rgba(35, 38, 41, .32);
    a,span{
      color: $color-white
    }
  }
  &:focus{
    background-color: $color-white;
    color: $color-white;
    box-shadow: 0 1px 2px rgba(35, 38, 41, .32);
    background-color: rgb(35, 38, 41);
    border-color: rgb(35, 38, 41);
    a,span {
      color: $color-white
    }
  }
  &.secondary {
    background-color: $color-white!important;
    color: rgb(35, 38, 41);
    a, span {
      color: rgb(35, 38, 41);
    }
  }
}

/**
  *********************************
  *      Other btn classes        *
  *********************************
*/

.butn-lg {
  padding: 4px 16px;
  font-size: $font-size-large;
  line-height: 1.33333;
}
.butn-login {
  width: 100%;
  margin: 0;
  height: 40px;
  @extend .butn-green;
}

/**
  *********************************
  *          switches          *
  *********************************
*/ 

.switch {
  min-width: 128px;
  display: inline-flex;
  position: relative;
}

.switch label{
  width: 50%;
  height: 24px;
  font-size: $font-size-small;
  cursor: pointer;
  display: table;
  vertical-align: middle;
  text-align: center;
}

// On: Value = 0;
input[type="checkbox"].inpsw + label {
  box-sizing: border-box;
  height: auto;
  padding: 0 0;
  border-width:1px;
  border-right-width: 0px;
  border-color: $color-breeze;
  border-style:solid;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: none;
  color : $color-wind;
}

// Off: Value = 0;
input[type="checkbox"].inpsw + label + label {
  background-color: $color-sense;
  color: $color-white;
  box-sizing: border-box;
  border: 1px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

// On: Value = 1;
input[type="checkbox"].inpsw:checked + label  {
  background-color: $color-sense;
  border-color: $color-sense;
  color: $color-white;
  box-sizing: border-box;
}

// Off: Value = 1;
input[type="checkbox"].inpsw:checked + label + label  {
  box-sizing: border-box;
  border-width:1px;
  border-left-width: 0px;
  border-color: $color-breeze;
  border-style:solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: none;
  color : $color-wind;
}

// On: Value = 0; Disabled
input[type="checkbox"].inpsw:disabled + label  {
  color: $color-breeze;
}

// Off: Value = 0; Disabled
input[type="checkbox"].inpsw:disabled + label + label  {
  background-color: $color-breeze;
  color : $color-wind;
}

// On: Value = 1; Disabled
input[type="checkbox"].inpsw[disabled]:checked + label  {
  background-color: $color-breeze;
  border-color: $color-breeze;;
  color: $color-wind;
}

// Off: Value = 1; Disabled
input[type="checkbox"].inpsw[disabled]:checked + label + label  {
  color: $color-breeze;
  background-color: $color-white;
}


/**
  *********************************
  *          radio btns           *
  *********************************
*/

.switch {
  input[type="radio"] {
    opacity: 0;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    visibility:hidden;
    & + label {
      background: none;
      position: relative;
      padding: 0;
    }
  }
}

.switch {
  min-width: 128px;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  label{
    width: 100%;
    display: flex;
    height: 24px;
    font-size: $font-size-small;
    cursor: pointer;
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-right-width: 0;
    border-left-width: 0;
    border-color: $color-breeze;
    padding: 0 0;
    color : $color-wind;
    background: none;
    box-sizing: border-box;
    border-radius: 0;
    // On: Value = 0;
    &:first-of-type {
      border-left-width: 1px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
    // Off: Value = 0;
    &:last-of-type {
      border-right-width: 1px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }


  input[type="radio"] + label  {
    box-sizing: border-box;
    border-color: $color-breeze;
    background: none;
    color : $color-wind;
  }

  input[type="radio"]:checked + label {
    background-color: $color-sense;
    border-color: $color-sense;
    color: $color-white;
    box-sizing: border-box;
  }

  //disabled radio button
  input[type="radio"]:disabled + label  {
    color: $color-breeze;
  }
  input[type="radio"][disabled]:checked  + label  {
    background-color: $color-breeze;
    border-color: $color-breeze;;
    color: $color-wind;
  }
}


.place-switch {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  //background-color: $color-sense;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  cursor: grab;
  z-index: 2;
  user-select: none;
  // OFF
  input + label,
  input + label + label{
    background-color: $color-white;
    display: flex;
    height: 100%;
    margin: 0;
    width: 50%;
    align-items: center;
    transition: all $animation-dur;
    border: 1px solid #F0F0F0;
    b {
      color: $color-solid-30;
      font-weight: 400;
      transition: all $animation-dur/2;
    }
  }
  input + label {
    justify-content: flex-end;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right-width: 0;
    b {
      opacity: 0;
    }
    .circle {
      position: absolute;
      top: 4px;
      width: 24px;
      height: 24px;
      background: linear-gradient(to top, rgba(255,255,255,1), #EBEBEB);
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,#EBEBEB 100%);
      border-radius: 50px;
      display: flex;
      transition: all $animation-dur cubic-bezier(.25,.8,.25,1);
      left: 0;
      transform: translateX(4px);
      box-shadow: 0 2px 4px $color-breeze;
      border: 1px solid $color-breeze-50
    }
  }
  input + label + label {
    justify-content: flex-start;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left-width: 0;
    b {
      opacity: 1;
      color: rgba(0,0,0,.5);
    }
  }

  // ON
  input[type="checkbox"]:checked + label  {
    .circle {
      background-color: #F0F0F0;
      //left: 52px;
      transform: translateX(52px);
    }
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:checked + label + label {
    background-color: $color-sense;
    border: 1px solid $color-sense-wire;
  }
  input[type="checkbox"]:checked + label {
    border-right-width: 0;
    b {
      opacity: 1;
      color: $color-white;
    }
  }
  input[type="checkbox"]:checked  + label + label {
    border-left-width: 0;
    color: transparent;
    b {
      opacity: 0;
    }
  }

  //disabled
  // OFF
  input[disabled] + label,
  input[disabled]:checked + label,
  input[disabled]:checked + label + label,
  input[disabled] + label + label{
    background-color: #E6E6E6;
    border-color: rgba(120,120,120,.2);
    b {
      color: $color-border-pics;
    }
    .circle {
      background-color: #FAFAFA;
      box-shadow: none;
    }
  }

}

.inline-date-picker {
  display: flex;
  div {
    flex: 1;
    width: 100%;
    display: flex;
  }
  input {
    display: flex;
    padding: 0 16px!important;
  }
  select {
    height: 40px;
    display: flex;
    flex: 1;
    padding: 0 16px;
  }
  .devider {
    display: flex;
    width: 16px;
    flex: none;
  }
}


.arrow-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  .unread-on-arrow {
    width: 6px;
    height: 6px;
    margin-top: -2px;
    border-radius: 100%;
    background-color: $color-bg-pending;
  }
  &:hover {
    svg {
      opacity: 1;
    }
    background-color: $color-bg-hover-item;
  }
  &:active {
    opacity: 1;
    background-color: $color-bg-active-item;
  }
  label {
    width: 12px;
    height: 12px;
    transition: all $animation-dur;
  }
}