.content-plus {
  display: inline-flex;
  flex-direction: column;
  width: 276px;
  z-index: 10;
  top: 0;
  max-height: 600px;
  margin-left: 16px;
  position: relative;
  left: 0;
  //transition: all 0.2s;
  backface-visibility: hidden;
  //transform: translateZ(0) scale(1.0, 1.0);
  #cp1 {
    height: 480px;
  }
  & > div {
    display: inline-flex;
    flex-direction: column;
    width: 276px;
    flex: none;
    overflow-y: auto;
    margin-top: 24px;
    padding: 12px 0 0 0;
    z-index: 15;
    border: 1px solid $color-border;
    position: relative;
    justify-content: space-between;
    overflow-y: auto;
    //height: 100%;
    .row {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      //height: 24px;
      align-items: flex-start;
      flex-shrink: inherit;
      padding-left: 8px;
      padding-top: 8px;
      position: relative;
      .colomn {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid $color-breeze;
        span {
          color: $color-wind;
          font-size: $font-size-xxsmall;
          line-height: 12px;
          font-weight: 400;
          white-space: nowrap;
        }
        .top{
          height: 20px;
          width: 100%;
          padding-right: 8px;
          align-items: center;
          max-width: 234px;
          flex: none;
          overflow: hidden;
          .sender {
            align-items: center;
            overflow: hidden;
            flex: 1;
            max-width: 100%;
            >div {
              max-width: 100%;
              @extend ._txe;
            }
            a,a>span {
              color: $color-hurricane;
              font-weight: 600;
              font-size: $font-size-xsmall;
              line-height: 15px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          [class*="ei-"]{
            margin: 0 4px;
          }
        }
        p {
          color: #808080;
          font-size: $font-size-xsmall;
          @extend ._wrb;
          //line-height: 13px;
          //font-weight: 400;
          span {
            font-style: italic;
            white-space: normal;
            font-size: $font-size-xsmall;
            @extend ._wrb;
          }
        }
      }
      &:hover {
        background-color: $color-sense-5;
        cursor: pointer;
        transition: .2s;
      }
      &:before {
        content: "";
        display: none;
      }
    }
  }
  .name {
    color: $color-hurricane;
    font-size: $font-size-xsmall;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 12px;
    padding: 0 8px;
  }
  .teammates {
    //border-top: 1px solid $color-breeze;
    display: flex;
    flex-direction: column;
    flex: none;
    //background-color: #fff;
    z-index: 4;
    .avatars.expanded{
      max-height: calc(100vh - 273px);
    }
    .avatars {
      display: flex;
      flex-direction: row;
      margin: 10px;
      flex: none;
      flex-wrap: wrap;
      width: calc(100% - 16px);
      div.user-avatar-28 {
        margin: 2px;
        position: relative;
        i {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border-radius: 20px;
          border: 2px solid $color-solid;
          background-color: $color-white;
          top: -4px;
          right: 0;
          svg {
            flex: none;
            transform: scale(.5,.5);
          }
        }
      }
      img {
        width: 28px;
        height: 28px;
        border-radius: 28px;
      }
      label {
        width: 24px;
        height: 24px;
      }
    }
    .sidebar-add-member {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      border: 1px solid $color-sense;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px 0;
      svg {
        display: flex;
        width: 20px;
        height: 20px;
        fill: $color-sense;
      }
    }
  }
}
#content-plus {
  position: absolute;
  //margin-left: 356px;
  top: 284px;
  left: calc(50% + 164px);
  //transform: translateY($navbar-height + 10px);
  //Left: 50%;
  will-change: transform;
}
