#Logo {
  background: url("../assets/icons/Nested_Logo.svg") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: auto;
}
#Logo-white {
  background: url("../assets/icons/Nested_LogoNegative.svg") no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  margin: auto;
}
#logo-type {
  background: url("../assets/icons/Nested_EnglishType.svg") no-repeat;
  background-size: contain;
  height: 57px;
  width: 128px;
  margin: auto;
}
#Logo-type-white {
  background: url("../assets/icons/Nested_EnglishTypeNegative.svg") no-repeat;
  background-size: contain;
  height: 24px;
  width: 54px;
}
.svg-hover {
  transition: all .2s;
  fill: $color-wind-new;
  use:first-child{
    display: flex;
  }
  use:last-child{
    display: none;
  }
  //&:hover,
  &.morphed{
    fill: $color-sense-wire ;
    use:first-child{
      display: none;
    }
    use:last-child{
      display: flex;
    }
  }
  /*&.morphed:hover{
    fill: $color-wind;
    use:first-child{
      display: flex;
    }
    use:last-child{
      display: none;
    }
  }*/
}

.icon {
  color: $color-breeze;
  background-size: cover;
  flex: none;
}
.close-inp {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%)
}

.icon-all-place {
  background-image: url("../assets/icons/all-places.svg");
}

.icon-nav {
  background-image: url("../assets/icons/sidebaricon.svg");
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  flex: none;
  width: 48px;
  height: 48px;
}

.icon-search-rotated {
  background: url('../assets/icons/search.svg') no-repeat;
  width: 32px;
  height: 32px;
}
.icon-search-rotated-white {
  background: url('../assets/icons/search-white.svg') no-repeat;
  width: 32px;
  height: 32px;
}

.filter-bar-popover-button {
  //width: 38px;
  display: flex;
  height: 32px;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 42px;
  justify-content: center;
  padding-left: 8px;
  svg {
    margin: 0 8px; 
  }
  &.disabled {
    opacity: .3
  }
}
.filter-bar-popover-button-right {
  margin-right: 28px;
}

.filter-bar-popover-button:hover {
  // border-color: $color-breeze;
  // border-radius: 5px;
  // background-color: $color-white;
}
.nst-ico-eye, .nst-ico-eye-slash {
  background: url("../assets/icons/inputform.svg") no-repeat;
  height: 32px;
}

.nst-ico-eye {
  background-position: 0 -64px;
}

.headlineicon {
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/headlineicon.svg');
  background-position: 0 0px;
  background-repeat: no-repeat;
}

.closebut{
  position: relative;
  top: -5px;
  height: 24px;
  width: 24px;
}

.thi-svg {
  flex: none;
  width: 40px;
  max-height: 40px;
  svg {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    display: block;
    transition: transform $animation-dur ease;
  }
  svg:first-child {
    transform: translateY(-2px);
  }
  svg:first-child + svg {
    transform: translateY(-16px);
    opacity: 1;
  }
  svg:last-child {
    transform: translateY(-30px);
  }
}
.thi-svg.open {
  flex: none;
  width: 40px;
  height: 100%;
  svg {
    width: 24px;
    height: 24px;
  }
  svg:first-child + svg {
    opacity: 0;
  }
  svg:first-child {
    transform: translateY(12px);
  }
  svg:last-child {
    transform: translateY(-42px);
  }
}

.tw-svg {
  flex: none;
  position: relative;
  div {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity $animation-dur;
  }
  svg {
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -8px;
    transition: all $animation-dur ease;
    transform-origin: center center;
  }
}
.tw-svg.open {
  div {
    opacity: 0;
  }
  svg {
    transform: rotateZ(180deg);
  }
}
.edit-icon {
  fill: $color-black16;
  cursor: pointer;
}
svg.flip-vertical {
  -moz-transform: scale(-1, -1);
   -o-transform: scale(-1, -1);
   transform: scale(-1, -1);
}
