input[type="text"],
input[type="password"] {
  height: 40px;
  padding: 3px 3px 3px 10px;
  border: 1px solid $color-border;
  color: $input-color;
  border-radius: 4px;
  &:focus {
    border: 2px solid $color-solid;
  }
}
input {
  outline: none;
  //transition: all $animation-dur ease;
  box-shadow: none;
  &:focus:not(:hover) {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

input:placeholder-shown{
  //color: $color-grey
}


input[type="submit"] {
  &:focus {
    //border-color: inherit;
  }
}
input[type="checkbox"] {
  max-width: 1px;
}
.ui-select-search {
  //width: auto!important;
}
.input {
  border: none;
  background-color: $color-white;
  font-size: $font-size-medium;
  height: 32px;
  padding-left: 10px;
}

select {
  appearance: none;
}

a .ui-select-choises-row-inner {
  border-bottom: 1px solid $color-breeze;
}

.ui-select-match-item{
  @extend .normal-badge;
  border: none;
  &:hover {
    @extend .normal-badge;
  }
}


.ui-select-bootstrap {
  .ui-select-choices-row > a{
    padding: 5px;
  }
  .ui-select-choices-row.active > a{
    background-color: $color-sense-50;
  }
}


.ui-select-multiple.ui-select-bootstrap {
  width: 100%;
  border: none;
  box-shadow: none;
  > div {
    max-width: 100%;
  }
  .ui-select-match {
    max-width: 100%;
    .close {
      padding-top: 4px;
      color: $color-solid;
      &:hover {
        color: $color-solid;
      }
    }
  }
}

select {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background: url("../assets/icons/inputform.svg") no-repeat 98% -124px,linear-gradient(to bottom,$color-white ,$color-light-cloud 100%);
  border-style: solid;
  border-width: 1px;
  border-color: $color-breeze;
  border-radius: 4px;
  padding-right: 15px;
  &:hover {
    background: url("../assets/icons/inputform.svg") no-repeat 98% -124px,white;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background: $color-bg;
  }
}


//input number in register and forgot password
input.pre-number {
    display: flex;
    width: 64px;
    height: 34px;
    flex: none;
    padding-left: 20px;
    @extend .nst-font-large;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid transparent;

}
input.number {
  display: flex;
  flex: 1;
  height: 34px;
  direction: ltr!important;
  padding-left: 16px;
  @extend .nst-font-large;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid transparent;
}
i.plus{
    position: absolute;
    left: 6px;
    @extend .nst-font-large;
    font-weight: 500;
    top: 7px;
    font-style: normal;
  }
i.sep{
    position: absolute;
    left: 62px;
    font-size: 20px;
    font-weight: 200;
    top: 4px;
    font-style: normal;
    color: $color-border;
}
