.ui-select-container {
  input[type="text"] {
    &:focus {
      border-color: transparent !important;
    }
  }
}
input {
  background-color: transparent;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  height: 40px;
  padding: 3px 3px 3px 10px;
  border: 1px solid $color-border;
  color: $input-color;
  border-radius: 4px;
  &:focus {
    border: 2px solid $color-solid;
  }
}
input {
  outline: none;
  //transition: all $animation-dur ease;
  box-shadow: none;
  &:focus:not(:hover) {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

input:placeholder-shown{
  //color: $color-grey
}


input[type="submit"] {
  &:focus {
    //border-color: inherit;
  }
}
input[type="checkbox"] {
  max-width: 1px;
}
.ui-select-search {
  //width: auto!important;
}
.input {
  border: none;
  background-color: $color-white;
  font-size: $font-size-medium;
  height: 32px;
  padding-left: 10px;
}

a .ui-select-choises-row-inner {
  border-bottom: 1px solid $color-breeze;
}

.ui-select-match-item{
  @extend .normal-badge;
  border: none;
  &:hover {
    @extend .normal-badge;
  }
}


.ui-select-bootstrap {
  .ui-select-choices-row > a{
    padding: 5px;
    overflow: hidden
  }
  .ui-select-choices-row.active > a{
    background-color: $color-sense-50;
  }
}


.ui-select-multiple.ui-select-bootstrap {
  width: 100%;
  border: none;
  box-shadow: none;
  > div {
    max-width: 100%;
  }
  .ui-select-match {
    max-width: 100%;
    .close {
      padding-top: 4px;
      color: $color-solid;
      &:hover {
        color: $color-solid;
      }
    }
  }
}

select {
  appearance: none;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background: url("../assets/icons/inputform.svg") no-repeat 98% -124px,linear-gradient(to bottom,$color-white-revesable-super ,$color-light-cloud 100%);
  border-style: solid;
  border-width: 1px;
  border-color: $color-breeze;
  border-radius: 4px;
  padding-right: 15px;
  &:hover {
    background: url("../assets/icons/inputform.svg") no-repeat 98% -124px,white;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background: $color-bg;
  }
}


//input number in register and forgot password
input.pre-number {
    display: flex;
    width: 64px;
    height: 34px;
    flex: none;
    padding-left: 20px;
    @extend .nst-font-large;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid transparent;

}
input.number {
  display: flex;
  flex: 1;
  height: 34px;
  direction: ltr!important;
  padding-left: 16px;
  @extend .nst-font-large;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid transparent;
}
i.plus{
    position: absolute;
    left: 6px;
    @extend .nst-font-large;
    font-weight: 500;
    top: 9px;
    font-style: normal;
  }
i.sep{
    position: absolute;
    left: 62px;
    font-size: 20px;
    font-weight: 200;
    top: 7px;
    font-style: normal;
    color: $color-border;
}
.form-group.has-error input.number, .form-group.has-error input.number:focus ,
.form-group.has-error input.pre-number, .form-group.has-error input.pre-number:focus {
  border: 2px solid transparent!important;
}


input::-moz-placeholder {
  text-overflow: ellipsis!important;
  white-space: nowrap;
  overflow: hidden;
}
input:-moz-placeholder {
    text-overflow: ellipsis!important;
    white-space: nowrap;
    overflow: hidden;
}
input::-webkit-input-placeholder {
    text-overflow: ellipsis!important;
    white-space: nowrap;
    overflow: hidden;
}
//
label.setting  {
  display: inline-block;
  background-image: url('../assets/icons/radiobuttons-checkbox.svg');
  height: 16px;
  line-height: 16px!important;
  min-width: 17px;
  padding: 0 17px 0 0!important;
  font-size: $font-size-small;
  background-size: 16px 256px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -48px;
  &.left-box {
    background-position-x: left!important;
    padding: 0 0 0 24px!important;
  }
}

input[type="checkbox"]:disabled + label.setting {
  background-position-x: right;
  background-position-y: -208px;
}
input[type="checkbox"]:checked:disabled + label.setting {
  background-position-x: right;
  background-position-y: -192px;
}
input[type="checkbox"]:disabled:hover + label.setting {
  background-position-x: right;
  background-position-y: -208px;
}
input[type="checkbox"]:checked:disabled:hover + label.setting {
  background-position-x: right;
  background-position-y: -192px;
}


input[type="checkbox"]:hover + label.setting {
  background-position-x: right;
  background-position-y: -64px;
}
input[type="checkbox"]:active + label.setting {
  background-position-x: right;
  background-position-y: -80px;
}

input[type="checkbox"]:checked + label.setting {
  background-position-x: right;
  background-position-y: 0;
}

input[type="checkbox"]:checked:hover + label.setting {
  background-position-x: right;
  background-position-y: -16px;
}
input[type="checkbox"]:checked:hover:active + label.setting {
  background-position-x: right;
  background-position-y: -32px;
}
// todo checkbox
label.todo  {
  display: flex;
  line-height: 16px!important;
  font-size: $font-size-small;
}

// input[type="checkbox"]:disabled + label.setting {
//   background-position-x: right;
//   background-position-y: -48px;
// }

// input[type="checkbox"]:hover + label.setting {
//   background-position-x: right;
//   background-position-y: -80px;
// }

input[type="checkbox"]:checked + label.todo {
  text-decoration: line-through;
  color: $color-gale;
}

// input[type="checkbox"]:checked:disabled + label.setting {
//   background-position-x: right;
//   background-position-y: 0;
// }

input[type="checkbox"]:checked:hover + label.todo {
  background-position-x: right;
  background-position-y: -32px;
}

//
input[type="radio"] + label{
    padding-left: 20px;
    margin: 0 40px 0 0;
    display: inline-block;
    background-image: url('../assets/icons/radiobuttons-checkbox.svg');
    min-width: 17px;
    height: 16px;
    font-size: $font-size-small;
    background-size: 16px 256px;
    background-position: left -144px;
    background-repeat: no-repeat;
}
input[type="radio"]:hover + label {
  background-position: left -160px;
}
input[type="radio"]:active + label {
  background-position: left -176px;
}

input[type="radio"]:checked + label {
  background-position: left -96px;
}
input[type="radio"]:checked:hover + label {
  background-position: left -112px;
}
input[type="radio"]:checked:active + label {
  background-position: left -128px;
}
input[type="radio"]:disabled + label {
  background-position: left -240px;
}
input[type="radio"]:checked:disabled + label {
  background-position: left -224px;
}
textarea.no-style ,
textarea.no-style:hover ,
textarea.no-style:focus ,
input[type="text"].no-style ,
input[type="text"].no-style:hover ,
input[type="text"].no-style:focus {
  border: none;
  box-shadow: none;
}


.gale-holder:-moz-placeholder {
  color: $color-gale-new;
}
.gale-holder::-moz-placeholder {
  color: $color-gale-new;
}
.gale-holder:-ms-input-placeholder {
  color: $color-gale-new;
}
.gale-holder::-webkit-input-placeholder {
  color: $color-gale-new;
}


.input-buttons {
  display: flex;
  flex: none;
  align-self: flex-start;
  margin-right: -4px;
  margin-top: 3px;
  > * {
      flex: none;
      width: 24px;
      height: 24px;
      @include align-center();
  }
  .discard-changes {
      margin: 0 12px;
      fill: $color-solid;
      @include hover(.64, 1);
  }
  .submit-changes {
    background: $color-sense;
    border: 1px solid $color-sense-wire;
    box-shadow: 0px 2px 4px rgba(0, 180, 90, 0.32);
    border-radius: 4px;
    svg {
      fill: $color-white;
    }
  }
}
