/**
  *********************************
  *     List items  *
  *********************************
*/

.list-items {
  height: 30px;
  padding: 5px 10px;
  width: 100%;
  //color: $color-storm;
  color: $color-solid;
  fill: $color-solid;
  transition: background-color $animation-dur;
  span {color: $color-solid;fill: $color-solid}
  span,label,a {
    transition-duration: $animation-dur;
    transition-property: background-color,color;
  }
  &:hover{
    background-color: $color-sense-5;
    border-bottom-left-radius: 5px;
  }
  &.active{
    background-color: $color-sense-5;
    border-bottom-left-radius: 5px;
  }
  &.red-item ,
  &.red-item span{
    color: $color-force;
    fill: $color-force;
  }
  &.red-item:hover,
  &.force:hover {
    background-color: rgba(255,100,100,.04);
  }
}

.remove-from-places {
  height: 48px;
  padding: 5px 10px;
  margin-right: 4px;
  .text-wrap {
    flex:1;
    flex-direction: column;
    align-items:flex-start !important;
    margin:6px 0 0 0 !important;
    width: calc(100% - 48px);
    .place-name {
      margin: 0;
      padding: 0;
    }
  }
}
