/**
  *********************************
  *     List items  *
  *********************************
*/

.list-items {
  height: 30px;
  padding: 5px 10px;
  width: 100%;
  color: $color-storm;
  transition: all $animation-dur;
  &:hover{
    background-color: $color-sense-5;
    color: $color-hurricane;
    border-bottom-left-radius: 5px;
    span,label,a {
      transition-duration: $animation-dur;
      transition-property: background-color,color;
      color: $color-hurricane;
    }
  }
  &.active{
    background-color: $color-sense-5;
    color: $color-hurricane;
    border-bottom-left-radius: 5px;
    span,label,a {
      transition: all $animation-dur;
      color: $color-hurricane;
    }
  }
}
