@media screen and (max-width: $screen-sm) and (orientation: portrait) {
  .modal {
    min-height: 350px;
    min-width: 1px!important;
    padding: 50px 0!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    position: absolute;
    //box-shadow: 0px 0px 16px 0px rgba(71, 97, 82, 0.15);
    span.nst-mood-solid:first-of-type {
      display: none;
    }
    #PostView {
      .post-nav-top{
        align-items: center;
        flex-direction: column-reverse;
        .closebut {
          align-self: flex-end;
        }
        .time {
          align-self: center;
          position: absolute;
          top: 10px;
          left: 10px;
          display: none;
        }
      }
      .post-nav-bot{
        align-items: center;
        flex-direction: row;
        .actor-name {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
        .actor-name + span {
          display: none;
        }
        .badges {
          max-width: 100%;
          display: none;
        }
        .comment-input-toggle {
          display: flex;
        }
      }
      #PostBody {
        position: relative;
        display: inline-flex;
        flex-direction: column;
      }
      #Content {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex: 1;
      }
      #Comments {
        width: 100%;
        max-width: 100%;
      }
      .comment-input {
        width: 100%;
        margin: 0;
        padding: 10px;
        flex-direction: row;
        align-items: center;
        background-color: #f7faf9;
        textarea {
          height: 100%;
        }
      }
    }
  }
}
