.logo-bar {
  width: 64px;
  margin: 0 8px;
  flex: none;
  align-items: center;
  justify-content: center;
}

.title-bar {
  height: 80px;
  .name{
    justify-content: center;
    span{
      align-items: center;
      //padding-top: 10px;
    }
    a{
      align-items: flex-end;
      font-size: 32px;
      font-weight: 100;
    }

  }
}

.placerow {
  img {
    width: 32px;
    height: 32px;
  }
  span {
      font-size: 14px;
      line-height: 20px;
      color: $color-solid;
      padding-left: 8px;
    }
}

.userrow {
  display: flex;
  > * {
    display: flex;
  }
  img {
    @include avatar(48px,48px,1010px);
  }
  span:first-child {
      font-size: 16px;
      line-height: 22px;
      color: $color-solid;
      padding-left: 8px;
      margin-top: 4px;
    }
  span:last-child {
      font-size: 14px;
      line-height: 20px;
      color: $color-gale;
      padding-left: 8px;
    }
}