.navbar-popover {
  margin-left: 20px;
  margin-top: -6px;
}

.popover.white-pop {
  border: none;
  box-shadow: 0 0 16px lighten($box-shadow-color-bold, 50%);
  border-radius: 4px;
  padding: 0;
  .popover-content {
    .item-check {
      display: none;
      fill: $color-sense-wire;
    }
    .active {
      span {
        font-weight: bold;
      }
      .item-check {
        display: flex;
      }
    }
    > * > span {
      min-height: 22px;
      line-height: 22px;
      width: 100%;
    }
  }
}
.task-logs-filter-popover {
  min-width: 192px;
}
.popover-white + .popover {
  max-width: 320px;
  min-width: 319px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 35;
  background: $sidebar-bg-color;
}

.popover.bottom > .arrow {
  border-bottom-color: #ccc;
}

.popover.bottom > .arrow:after {
  border-bottom-color: $sidebar-bg-color;
  left: 0;
}
.popover-white-nst-activity-places{
  background: $sidebar-bg-color;
  border-color: $color-breeze;
  position: absolute;
  //z-index: 35;
  padding: 0;
  width: 276px!important;
  max-width: calc(100vw - 131px)!important;
  label {
    margin: 0;
  }
}


.popover-white-nst-msg {
  max-width: 320px;
  min-width: 319px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: -1px!important;
  left: auto!important;
  right: -1px;
  z-index: 35;
  background: $sidebar-bg-color;
  .popover-inner {
    //padding: 8px 4px;
    max-height: 145px;
    overflow-y: hidden;
  }
  .popover-content {
    max-height: 145px;
    overflow-y: hidden;
  }
}

.popover-white-nst-setting {
  background: $sidebar-bg-color;
  border-color: $color-breeze;
  position: absolute;
  top: 2px !important;
  left: auto !important;
  right: 0;
  z-index: 37;
  padding: 0;
  width: 210px;
  .popover-content span {
    line-height: 19px;
  }
  a span {
    line-height: 19px;
  }
}

.messages-sort-popover {
  background: $sidebar-bg-color;
  border-color: $color-breeze;
  position: absolute;
  top: 3px !important;
  left: auto !important;
  right: -2px;
  z-index: 36;
  width: 210px;
  .popover-content span {
    line-height: 19px;
  }
  a span {
    line-height: 19px;
  }
}
.messages-view-setting-popover{
  background: $sidebar-bg-color;
  border-color: $color-breeze;
  position: absolute;
  top: 3px !important;
  // left: auto !important;
  // right: -2px;
  z-index: 32;
  width: 210px;
  .popover-content span {
    line-height: 19px;
  }
  a span {
    line-height: 19px;
  }
}

.line-popover {
  height: 1px;
  background-color: $contrast-border-color;
  margin: 8px 0;
  width: 100%;
}

.popup-panel {
  margin-top: 24px;
  flex-direction: column;
  display: inline-flex;
}

.sidebar-profile-popover {
  height: auto!important;
  align-items: center;
  .id-name-user {
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    width: calc(100% - 32px);
    padding-left: 4px;
  }
}
.more-places-popover {
  overflow-y: auto;
  height: auto;
  max-height: 145px;
 }

//mention popover
.popover.notifications-popover {
  min-width: 280px;
  max-width: 280px;
  max-height: 480px;
  padding: 0;
  transition: height $animation-dur;
  height: auto;
  z-index: 1029;
  top: 52px!important;
  // bottom: 40px;
  box-shadow: 0 24px 32px $box-shadow-color-bold;
  //position: absolute;
  //z-index: 35;
  background-color: $sidebar-bg-color;
  border: none;
  border-radius: 4px;
  &.navnot {
    top: 56px!important;
    bottom: 0;
    right: 8px!important;
    width: 380px;
    min-width: 0;
    max-width: calc(100vw - 69px);
    //max-height: none;
    .popover-inner {
      //max-height: none;
      .notification-wrapper {
        max-height: 100%;
        ul {
          //max-height: calc(100vh - 108px);
        }
      }
    }
    .arrow {
      z-index: -2;
      right: 56px!important;
      left: auto!important;
      transform: translateY(10%) rotateZ(45deg);
    }
  }
  .popover-content,.popover-inner {
    height: 100%;
  }
  >div.arrow {
    display: none;
  }
  > .popover-inner {
    z-index: 2;
    max-height: 480px;
  }
}
.popover.applications-popover {
  width: 256px;
  max-height: 480px;
  padding: 0;
  transition: height $animation-dur;
  height: auto;
  z-index: 1029;
  top: 52px!important;
  // bottom: 40px;
  box-shadow: 0 24px 32px $box-shadow-color-bold;
  //position: absolute;
  //z-index: 35;
  background-color: $sidebar-bg-color;
  border: none;
  border-radius: 4px;
  .popover-content,.popover-inner {
    height: 100%;
  }
  >div.arrow {
    display: none;
  }
  > .popover-inner {
    z-index: 2;
    max-height: 480px;
  }
}

.profile-popover {
  width: 224px;
  &.edit-profile-popover {
    a:first-child ,
    a:first-child + a ,
    hr:first-of-type {
      display: none;
    }
  }
  .popover-content {
    padding: 12px 0;
  }
  span {
    width: 100%;
  }
  small {
    color: $color-black04;
    font-size: 12px;
  }
  svg {
    width: 16px!important;
    height: 16px!important;
    fill: $color-force!important;
    margin-right: 8px;
  }
}

.post-card-moreo-ptions {
  z-index: 222!important;
  max-width: 320px;
  min-width: 220px
}

.place-item-options-popover {
  width: 160px!important;
  .popover-content{
    .list-items {
      padding-left: 8px;
      padding-right: 8px;
      div:first-of-type {
        margin-left: 4px;
        margin-right: 12px;
      }
      div.top-user-avatar-24 {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}

.navbar-popover {
  width: 276px!important;
  .popover-content{
    .list-items {
      padding-left: 8px;
      padding-right: 8px;
      div:first-of-type {
        margin-left: 4px;
        margin-right: 12px;
      }
      div.top-user-avatar-24 {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}

.create-place-popover {
  width: 216px!important;
  .popover-content{
    .list-items {
      padding: 4px 8px;
      height: auto;
      min-height: 30px;
      &:hover {
        background-color: $color-bg-hover-item;
      }
      div:first-of-type {
        margin-left: 4px;
        margin-right: 12px;
      }
      div.top-user-avatar-24 {
        margin-left: 0;
        margin-right: 8px;
      }
      span {
        font-size: 14px;
        color: $color-solid;
        line-height: 18px;
        height: auto
      }
      aside {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          font-size: 13px;
          color: $color-solid;
          opacity: .64;
        }
        b {
          font-size: 13px;
          color: $color-solid;
          opacity: .64;
        }
      }
    }
  }
}

.recently-visited-places-popover {
  border-radius: 4px;
  min-width: 224px;
  width: 224px;
  top: -220px!important;
  bottom: 117px;
  left: 8px!important;
  max-height: 216px;
  overflow: hidden;
  .visited-places {
    max-height: 216px;
    padding: 8px 0;
    li {
      display: flex;
      &:hover {
        background-color: $color-sense-5;
        cursor: pointer;
        transition: .2s;
      }
      span {
        color: $color-new-hurricane;
        font-size: 13px;
        font-style: italic;
      }
    }
    .inline-place-row {
      padding: 8px 12px;
    }
  }
}
