.navbar-popover {
  margin-left: 20px;
  margin-top: -6px;
  direction: ltr;
}

// #menu.popover-content {
//   padding: 0;
// }

// #menu.popup-panel {
//   max-width: 238px;
//   margin: 0;
//   padding: 0;
// }

.popover-white + .popover {
  max-width: 320px;
  min-width: 319px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 35;
  background: $color-white;
}

.popover.bottom > .arrow {
  border-bottom-color: #ccc;
}

.popover.bottom > .arrow:after {
  border-bottom-color: $color-white;
  left: 0;
}
.popover-white-nst-activity-places{
  background: $color-white;
  border-color: $color-breeze;
  position: absolute;
  //z-index: 35;
  padding: 0;
  width: 276px!important;
  max-width: calc(100vw - 131px)!important;
  label {
    margin: 0;
  }
}


.popover-white-nst-msg {
  max-width: 320px;
  min-width: 319px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: -1px!important;
  left: auto!important;
  right: -1px;
  z-index: 35;
  background: $color-white;
  .popover-inner {
    //padding: 8px 4px;
    max-height: 145px;
    overflow-y: hidden;
  }
  .popover-content {
    max-height: 145px;
    overflow-y: hidden;
  }
}

.popover-white-nst-setting {
  background: $color-white;
  border-color: $color-breeze;
  position: absolute;
  top: 2px !important;
  left: auto !important;
  right: 0;
  z-index: 37;
  padding: 0;
  width: 210px;
  .popover-content span {
    line-height: 19px;
  }
  a span {
    line-height: 19px;
  }
}

.popover-white-nst-sort {
  background: $color-white;
  border-color: $color-breeze;
  position: absolute;
  top: 3px !important;
  left: auto !important;
  right: -2px;
  z-index: 36;
  width: 210px;
  .popover-content span {
    line-height: 19px;
  }
  a span {
    line-height: 19px;
  }
}

.line-popover {
  height: 1px;
  background-color: $color-breeze-50;
  margin: 5px 0;
  width: 100%;
}

.popup-panel {
  margin-top: 24px;
  flex-direction: column;
  display: inline-flex;
}

.more-places-popover {
  overflow-y: auto;
  height: auto;
  max-height: 145px;
 }

//mention popover
.notifications-popover {
  min-width: 360px;
  max-width: 360px;
  max-height: 480px;
  transition: height $animation-dur;
  height: auto;
  z-index: 1029;
  top: auto!important;
  bottom: 40px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  //position: absolute;
  //z-index: 35;
  background-color: $color-white;
  border: 1px solid #CED9D3;
  border-radius: 4px;
  &.navnot {
    top: 56px!important;
    bottom: 0;
    right: 8px!important;
    width: 380px;
    min-width: 0;
    max-width: calc(100vw - 69px);
    //max-height: none;
    .popover-inner {
      //max-height: none;
      .mention-wrp {
        max-height: 100%;
        ul {
          //max-height: calc(100vh - 108px);
        }
      }
    }
    .arrow {
      z-index: -2;
      right: 56px!important;
      left: auto!important;
      transform: translateY(10%) rotateZ(45deg);
    }
  }
  .popover-content,.popover-inner {
    height: 100%;
  }
  .arrow {
    width: 16px!important;
    height: 16px!important;
    border-style: solid;
    border-color: #CED9D3;
    background-color: $color-white;
    margin: 0!important;
    display: flex!important;
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
    left: -6px!important;
    border-width: 1px 0 0 1px!important;
    z-index: 0;
  }
  > .popover-inner {
    z-index: 2;
    max-height: 480px;
  }
}

.profile-popover {
  width: 224px;
  &.edit-profile-popover {
    a:first-child ,
    a:first-child + a ,
    hr:first-of-type {
      display: none;
    }
  }
  .popover-content {
    padding: 12px 0;
  }
  span {
    width: 100%;
  }
  small {
    color: $color-black04;
    font-size: 12px;
  }
  svg {
    width: 16px!important;
    height: 16px!important;
    fill: $color-force!important;
    margin-right: 8px;
  }
}

.post-card-moreo-ptions {
  z-index: 222!important;
  max-width: 320px;
  min-width: 220px
}

.navbar-popover {
  width: 276px!important;
  .popover-content{
    .list-items {
      padding-left: 8px;
      padding-right: 8px;
      div:first-of-type {
        margin-left: 4px;
        margin-right: 12px;
      }
      div.top-user-avatar-24 {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}

.recently-visited-places-popover {
  border-radius: 4px;
  min-width: 224px;
  width: 224px;
  top: -220px!important;
  bottom: 117px;
  left: 8px!important;
  max-height: 216px;
  overflow: hidden;
  .visited-places {
    max-height: 216px;
    padding: 8px 0;
    li {
      display: flex;
      &:hover {
        background-color: $color-sense-5;
        cursor: pointer;
        transition: .2s;
      }
      span {
        color: $color-new-hurricane;
        font-size: 13px;
        font-style: italic;
      }
    }
    .placerow {
      padding: 8px 12px;
    }
  }
}