.select-box {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 10px;
  padding-bottom: 12px;
  transition: all .2s ease;
  cursor: pointer;
  .desc {
    h3 {
      letter-spacing: -1px;
      line-height: 24px;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      color: $color-solid;
      font-weight: 400;
      @extend .nst-font-large;
      line-height: 19px;
    }
    span {
      color: #869D91;
      @extend .nst-font-medium;
      line-height: 17px;
      word-wrap: break-word;
    }
  }
  .icn {
    width: 120px;
    height: 120px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      transform: scale(4,4)
    }
  }
  &:hover {
    background-color: $color-white;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
  }
  &.selected {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    border: solid 2px $color-sense;
    background-color: $color-white;
  }
  &.disabled:hover {
    background-color: transparent;
    box-shadow:none;
  }
}

.select-box2 {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
  //border: dashed 1px $color-wind;
  padding: 0 12px;
  border-radius: 10px;
  transition: all $animation-dur ease;
  color: $color-solid;
  min-height: 64px;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    font-weight: 700;
    color: $color-solid;
    margin: 12px 0;
    i {
      @extend .nst-font-large;
      color: #808080;
      font-weight: 400;
      line-height: 19px;
      font-style: normal;
    }
  }

  h4 {
    margin: 0;
    line-height: 22px;
    font-size: 16px;
    color: $color-sense-wire;
    font-weight: 700;
  }
  p {
    color: $color-solid;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    @extend .nst-font-large;
    opacity: .5;
    padding-bottom: 8px;
  }
  aside {
    width: 100%;
    padding: 0 10px;
    margin: 8px 0;
    @extend .nst-font-medium;
    word-wrap: break-word;
    flex-direction: row;
    align-items: center;
    display: none;
    p {
      flex: 1;
      display: flex;
      @extend .nst-font-medium;
      font-weight: 400;
    }
  }
  .add {
    width: 48px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      transform-origin: center center;
      transform: scale(2,2);
      fill: #00B45A;
    }
  }
  &.selectable:hover {
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    border-color: transparent;
    background-color: $color-white;
    transform: scale(1.1,1.1);
    p {
      opacity: 1;
    }
  }
  &.selected {
    background-color: $color-white;
    border: solid 2px $color-sense;
    p {
      opacity: 1;
    }
    aside {
      display: inline-flex;
    }
  }
  &.disabled {
    border: solid 2px $color-solid-60;
    box-shadow: none;
  }
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background-color: transparent;
  border-radius: 0;
  color: $color-solid;
  padding: 0;
  height: 30px;
  margin: 0!important;
  border-width: 0;
  span {
    line-height: 28px!important;
    padding: 0;
    height: 28px;
    font-size: 14px;
    white-space: nowrap;
    @extend ._txe;
  }
  .close {
    line-height: 30px;
    width: 20px;
    justify-content: center;
    transition: opacity $animation-dur;
    position: absolute;
    right: 8px;
    top: 2px;
    padding: 0;
  }
  div.selected-innter {
    background: linear-gradient(to bottom,$color-bg-nested ,$sidebar-place-bg-hover-color 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    border-radius: 4px;
    height: 30px;
    max-width: 216px;
    transition-property: border-color,background;
    transition-duration: $animation-dur;
    .place-img {
      display: inline-block;
      font-size: $font-size-xxsmall;
      border-radius: $border-radius-large 0 0 $border-radius-large;
      color: $color-white;
      width: 28px;
      height: 28px;
      img {
        width: 26px;
        height: 26px;
      }
      svg {
        width: 16px;
        fill: #FF0014;
        height: 16px;
      }
    }
    .place-name {
      display: inline-block;
      line-height: 24px;
      font-size: $font-size-medium;
      min-width: 16px;
      max-width: calc(100% - 24px);
      border-radius: 0 6px 6px 0;
      color: $color-solid;
      padding: 0 28px 0 4px;
      margin-left: -3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.isEmail {
      border-radius: 20px;
      border-color: #B9D7FF;
      max-width: 256px;
      .place-name {
        max-width: calc(100% + 4px);
        padding-left: 12px;
      }
    }
    &.isEmail.error {
      border-color: #FF0014;
      background: #FFC8C8;
      .place-name {
        color: #FF0014;
        font-weight: 700;
        padding-left: 0;
      }
    }
    &.isEmail:hover {
      border-color: #9BB9E1;
      border-radius: 20px;
    }
  }
  &:hover,&:active,&:focus {
    outline-offset: 0!important;
    outline-width: 0!important;
    .close {
      opacity: 1;
      text-shadow: none;
    }
  }
  &:hover {
    div.selected-innter{
      height: 30px;
      border-color: #C0C0C0;
      background: linear-gradient(to bottom,$color-bg-nested ,$sidebar-place-bg-hover-color 100%);
    }
    div.selected-innter.isEmail{
      height: 30px;
      border-color: #9BB9E1;
      background: linear-gradient(to bottom,$color-bg-nested ,$sidebar-place-bg-hover-color 100%);
    }
    div.selected-innter.isEmail.error{
      border-color: #FF0014;
      background: #FFC8C8;
    }
  }
  &:active,&:focus{
    div.selected-innter {
      border-color: $color-sense;
      background: linear-gradient(to bottom, #8AEBB4, #8AEBB4 100%);
      outline-offset: 0!important;
      outline-width: 0!important;
    }
    div.selected-innter.isEmail{
      border-color: #379BFF;
      background: #9BCDFF;
    }
    div.selected-innter.isEmail.error{
      border-color: $color-force-wire;
      background: $color-force-wire;
      .place-name {
        color: $color-white;
      }
      svg {
        fill: $color-white;
      }
    }

  }
}

.ui-select-match > span {
  margin: 4px 2px;
  display: inline-flex;
}
.btn-primary:active,.btn-primary:focus {
  //border-color: $color-sense!important;
  //background: linear-gradient(to bottom, #8AEBB4, #8AEBB4 100%)!important;
}
