h5.list-head {
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    background-color: $color-breeze-5-new;
    border-radius: 4px;
    flex: none;
    color: $color-solid;
    width: calc(100% + 16px);
    display: flex;
    margin: 8px -8px;
    &.large {
      line-height: 32px;
      margin: 8px 16px;
      padding: 0 8px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      width: calc(100% - 32px);
    }
    span {
        flex: none;
    }
    p {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 0;
        align-items: center;
        color: $color-solid-64;
    }
    &.error {
      color: $color-force;
      background-color: transparentize($color-force, 1 - .16);
    }
    &.pending {
      color: $color-bg-pending;
      background-color: transparentize($color-bg-pending, 1 - .04);
    }
}

.list-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  li {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 24px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      width: calc(100% - 64px);
      height: 1px;
      background-color: $color-breeze-5-new;
    }
    &:last-of-type::after {
      display: none;
    }
  }
  .list-li-icon {
    width: 32px;
    height: 32px;
    flex: none;
    transform: translateY(-10px);
    @include align-center();
  }
  .list-li-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 10px;
    color: $color-solid;
    > a:first-of-type ,
    > span:first-of-type {
      color: $color-solid;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    p {
      font-size: 13px;
      margin: 0;
      opacity: .8;
      b {
        font-weight: normal;
        color: $color-solid;
      }
    }
  }
  .list-li-extra {
    display: flex;
    flex: none;
    font-size: 13px;
    color: $color-solid;
    justify-content: flex-end;
    & + .list-li-buttons {
      margin-left: 8px;
    }
    .task-detail-item {
      position: relative;
      display: flex;
      flex-direction: column;
      transform: translateY(-10px);
      svg {
        margin: 0 12px;
        fill: $color-gale;
      }
      span {
        color: $color-solid-64;
        width: 100%;
        left: 0;
        text-align: center;
        bottom: 0;
        font-size: 13px;
        transform: translateY(22px);
        position: absolute;
      }
    }
  }
  .list-li-buttons {
    display: flex;
    flex: none;
    font-size: 14px;
    > * {
      margin-left: 8px;
      margin-right: 0;
    }
  }
}
.overdue li,
li.overdue{
  background-image: url("../assets/icons/horizontal_stripes_force.png");
  background-repeat: repeat;
}
.candidate li,
li.candidate{
  background-image: url("../assets/icons/horizontal_stripes_pending.png");
  background-repeat: repeat;
}
.completed li,
li.completed{
  background-image: url("../assets/icons/horizontal_stripes_solid.png");
  background-repeat: repeat;
}
.rejected li,
li.rejected {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .overdue li{
    background-image: url("../assets/icons/horizontal_stripes_force@2x.png");
  }
  .candidate li{
    background-image: url("../assets/icons/horizontal_stripes_pending@2x.png");
  }
  .complete li{
    background-image: url("../assets/icons/horizontal_stripes_solid@2x.png");
  }
}
li {
  &.small {
    height: 32px;
  }
  &.medium {
    height: 48px;
  }
  &.large {
    height: 72px;
  }
}

.user-option-slider {
    height: 72px;
    width: 100%;
    transition: all $animation-dur;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &.j-selected {
      background-color: $color-breeze-new;
      .chk-box {
        .chk-ico {
          background: url('../assets/icons/controls.svg') right -16px no-repeat;
        }
      }
    }
    &:hover {
      background-color: $color-breeze-5-new;
      .user-more-opt {
        fill: $color-solid;
      }
    }
    .chk-box {
      width: 40px;
      display: flex;
      justify-content: center;
      flex: none;
      .chk-ico {
        display: flex;
        background: url('../assets/icons/controls.svg') right 0 no-repeat;
        height: 16px;
        width: 16px;
      }
    }
    .logo {
      display: flex;
      flex: none;
      @include avatar(48px,48px,500px)
    }
    .name {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      padding-left: 8px;
      overflow: hidden;
      p {
        @extend .nst-font-large;
        color: $color-solid;
        margin: 0;
        font-weight: 400;
      }
      span {
        color: $color-sense-wire;
        @extend .nst-font-medium;
        font-weight: 400;
      }
    }
    .role {
      display: flex;
      align-items: center;
      flex: none;
      color:$color-wind;
    }
    .user-more-opt {
      min-width: 24px;
      fill: $color-wind;
      margin-left: 8px;
    }
    .invited {
      .name {
        p {
          color: $color-bg-pending;
        }
      }
      .role {
        color:$color-bg-pending;
      }
    }
}