h5.list-head {
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    background-color: $color-breeze-5-new;
    border-radius: 4px;
    flex: none;
    color: $color-solid;
    width: calc(100% + 16px);
    display: flex;
    margin: 8px -8px;
    &.large {
      line-height: 32px;
      margin: 8px 16px;
      padding: 0 8px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      width: calc(100% - 32px);
    }
    span {
        flex: none;
    }
    p {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 0;
        align-items: center;
        color: $color-solid-64;
    }
    &.error {
      color: $color-force;
      background-color: transparentize($color-force, 1 - .16);
    }
    &.pending {
      color: $color-bg-pending;
      background-color: transparentize($color-bg-pending, 1 - .04);
    }
}

.list-ul {
  display: flex;
  width: 100%;
  li {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 24px;
  }
  .list-li-icon {
    width: 32px;
    height: 32px;
    flex: none;
    @include align-center();
  }
  .list-li-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 10px;
    > span:first-of-type {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .list-li-extra {
    display: flex;
    flex: none;
    font-size: 13px;
    flex-direction: column;
  }
}

li {
  &.small {
    height: 32px;
  }
  &.medium {
    height: 48px;
  }
  &.large {
    height: 72px;
  }
}

.user-option-slider {
    height: 72px;
    width: 100%;
    transition: all $animation-dur;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &.j-selected {
      background-color: transparentize($color-sense, 1 - .1);
      .chk-box {
        .chk-ico {
          background: url('../assets/icons/controls.svg') right -16px no-repeat;
        }
      }
    }
    &:hover {
      background-color: transparentize($color-sense, .5);
      .user-more-opt {
        fill: $color-solid;
      }
    }
    .chk-box {
      width: 40px;
      display: flex;
      justify-content: center;
      flex: none;
      .chk-ico {
        display: flex;
        background: url('../assets/icons/controls.svg') right 0 no-repeat;
        height: 16px;
        width: 16px;
      }
    }
    .logo {
      display: flex;
      flex: none;
      @include avatar(48px,48px,500px)
    }
    .name {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      padding-left: 8px;
      overflow: hidden;
      p {
        @extend .nst-font-large;
        color: $color-solid;
        margin: 0;
        font-weight: 400;
      }
      span {
        color: $color-sense-wire;
        @extend .nst-font-medium;
        font-weight: 400;
      }
    }
    .role {
      display: flex;
      align-items: center;
      flex: none;
      color:$color-wind;
    }
    .user-more-opt {
      min-width: 24px;
      fill: $color-wind;
      margin-left: 8px;
    }
    .invited {
      .name {
        p {
          color: $color-bg-pending;
        }
      }
      .role {
        color:$color-bg-pending;
      }
    }
}