body[dir="rtl"] {
  .sidebar {
    left: auto;
    right: 0;
    .sidebar-wrapper .detailed.isSelected:after {
      right: auto;
      left: -8px;
      transform: translateY(-50%) rotateZ(180deg);
    }
    .sidebar-plus-wrapper {
      left: 0;
      right: auto;
      box-shadow: 4px 0 12px rgba(0, 0, 0, 0.5);
      .places{
        ul li ul .place-item-inner a {
          right: -16px;
          left: 0;
          display: flex;
          padding-right: 8px;
          padding-left: 21px;
        }
        .place-item-inner {
          .icon {

            left: auto;
            right: -16px;
          }
          a {
            margin-right: 0;
            margin-left: -16px;
            display: flex;
          }
          i {
            right: auto;
            left: 0;
            .nst-arrow {
              padding-right: 8px;
              padding-left: 0;
            }
          }

        }
        .places-list {
          padding-right: 0;
          padding-left: 8px;
          >ul {
            padding-left: 0;
            padding-right: 16px;
          }
        }
      }
    }
  }
  .nst-container {
    margin-left: 0!important;
    margin-right: 272px;
  }
  .tick {
    margin-right: 0;
    margin-left: 8px;
  }
  .place-switch input + label {
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
    border-left-width: 0;
    border-right-width: 1px;
  }
  .place-switch input + label + label {
    border-top-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-left-width: 1px;
    border-right-width: 0;
  }
  .place-switch input[type="checkbox"]:checked + label {
    border-right-width: 1px;
    border-left-width: 0;
  }
  .place-switch input[type="checkbox"]:checked + label + label {
    border-right-width: 0;
    border-left-width: 1px;
  }
  .place-switch input + label .circle {
    right: 0;
    transform: translateX(-4px);
  }
  .place-switch input[type="checkbox"]:checked + label .circle {
    transform: translateX(-52px);
  }
  #create-place .create-place-checkbox:checked + label {
    background-position: 100% -16px;
  }
  #create-place .create-place-checkbox + label {
    background-position: 100% 0;
    padding: 0 17px 0 0;
  }
  .green-radio + label {
    background-position: 100% -48px;
    padding: 0 17px 0 0;
  }
  .green-radio:checked + label {
    background-position: 100% -64px;
  }
  #place-settings .user-item .name {
    padding-left: 0;
    padding-right: 8px;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  #add-view .butn-green{
    left: 0;
    right: auto;
  }
  .content-plus {
    margin-left: 0;
    margin-right: 16px;
  }
  select {
    background : url('../assets/icons/inputform.svg') no-repeat 2% -124px, linear-gradient(to bottom, #FFFFFF, whitesmoke 100%);
  }
  .post-card .post-head {
    padding-right: 0;
    padding-left: 24px;
  }
  .compose-input {
    padding-left: 0;
    padding-right: 16px;
    direction: rtl;
  }
  .nst-navbar .place-info .navigation .search {
    i {
      left: 4px;
      right: auto;
    }
  }
  .post-card .post-head .icon {
    left: auto ;
    right: 5px;
  }
  .nst-navbar .nav-access {
    right: auto;
    left: 0;
  }
  .nst-navbar .place-info {
    float: right;
  }
  .icon-logo {
    left: auto;
    right: 0;
  }
  .place-info {
    left: 0;
  }
  #delete-view .closebut {
    right: auto;
    left: 16px;
  }
  #top-nav-container ul ul li {
    padding-left: 0;
    padding-right: 16px;
  }
  .sidebar-wrapper .unreadPlace {
    right: -12px;
    left: auto;
  }
  .nst-navbar-f,.nst-navbar-fff {
    left: 0;
    right: 272px;
  }
  .post-card-comments.sticky .text {
    margin-left: auto;
    margin-right: 40px;
  }
  nst-navbar .nst-navbar.nfeed .menu-links-butn span {
    margin-left: 0;
    margin-right: 8px;
  }
  nst-navbar .place-logo {
    float: right;
  }

  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item div.selected-innter .place-name {
    padding: 0 4px 0 28px;
    margin-right: -3px;
  }
  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item .close {
    right: auto;
    left: 8px;
  }
  .ui-select-bootstrap .ui-select-choices-row>a {
    text-align: right;
  }
  .margin-l-50 {
    margin-right: 50px;
    margin-left: 0;
  }
  .mentions .arrow {
    border-width: 0 1px 1px 0!important;
    right: -6px !important;
    left: auto!important;
  }
  .file-list .file-list-header .files-srch input {
    left: auto;
    right: 42px;
  }
  .close-modal {
    right: auto;
    right: 56px;
  }
  .post-card-comments .delete-comment {
    transform: translateX(-12px);
  }
  .post-card-comments strong{
    float: right;
  }
  .file-list .file-list-header #header-send-to {
    margin-right: 0;
    margin-left: 20px;
  }
  .post-card .post-head .pin-post {
    left: 4px;
    right: auto;
  }
  nst-attachments-editable-bar ul.thumbnail-bar .attach-thumbnail .detail, nst-attachments-preview-bar ul.thumbnail-bar .attach-thumbnail .detail {
    padding-right: 0;
    padding-left: 48px;
  }
  nst-attachments-editable-bar ul li .attdl, nst-attachments-preview-bar ul li .attdl{
    right: auto;
    left: 10px;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:last-child .attdl, nst-attachments-preview-bar ul.thumbnail-bar li:last-child .attdl {
    right: auto;
    left: 24px;
  }
  post-card .chain-stats > div > * {
    direction: rtl;
  }
  .post-card .post-card-time {
    padding-left: 8px;
    padding-right: 0;
  }
  .user-avatar-64 {
    margin-right: 0;
    margin-left: 8px;
  }
  #Logo-type-white {
    background: url("../assets/icons/Nested_PersianTypeNegative.svg") no-repeat;
  }
  .toast-top-right {
    top: 12px;
    right: auto;
    left: 12px;
  }
  .comments-load a {
    margin-left : 0;
    margin-right: 32px;
  }
  post-card .card-control {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
  .files-types-images {
    margin: 0 7px 0 0;
  }
  .file-list ul .file-list-item {
    padding: 20px 16px 20px 0;
  }
  input[type="text"], input[type="password"] {
    direction: rtl;
    padding: 3px 10px 3px 3px;
  }
  .pop-profile svg {
    margin-right: 0;
    margin-left: 8px;
  }
  .chain {
    left: auto;
    right: 0;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:first-child, nst-attachments-preview-bar ul.thumbnail-bar li:first-child {
    margin-right: 16px;
    margin-left: 4px;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:last-child, nst-attachments-preview-bar ul.thumbnail-bar li:last-child {
    padding-right: 0;
    padding-left: 16px;
  }
  .post-card .post-places a {
    margin-right: 0;
    margin-left: 16px;
    padding-left: 0;
    padding-right: 4px;
  }
  nst-attachments-preview-bar ul.badge-bar a.attach-badge-default {
    .badge-name {
      margin-left: 0;
      margin-right: -3px;
      border-radius: 6px 0 0 6px;
    }
    .badge-extension {
      border-radius: 0 3px 3px 0;
    }

  }
  #EventList .ico {
    float: right;
    padding-left: 0;
    padding-right: 8px;
  }
  .mirror {
    transform: scaleX(-1);
    filter: FlipH;
    &._r90 {
      transform: scaleX(-1) rotateZ(90deg);
    }
  }
  .quick-message-wrp .quick-message-inner .quick-sender > div {
    left: auto;
    right: -4px;
  }
  .text-left {
    text-align: right;
  }
  .text-right {
    text-align: left;
  }
  input[type="checkbox"]:checked + label.setting,
  input[type="checkbox"]:checked + label.setting {
    background-position: 0 -16px;
    padding: 0 0 0 17px!important;
  }
  input[type="checkbox"] + label.setting,
  input[type="checkbox"] + label.setting {
    background-position: 0 0;
    padding: 0 0 0 17px!important;
  }
  #panel-signin input[type="checkbox"]:checked + label,
  #panel-register input[type="checkbox"]:checked + label {
    background-position: 100% -16px;
    padding: 0 17px 0 0;
  }
  #panel-signin input[type="checkbox"] + label,
  #panel-register input[type="checkbox"] + label {
    background-position: 100% 0;
    padding: 0 17px 0 0;
  }
  .has-feedback .form-control {
    padding-left: 42px;
    padding-right: 10px;
  }
  .form-control-feedback {
    right: auto;
    left: 0;
  }
  .no-gutter [class*="col-"]:first-child {
    padding-left: 2.5px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
  }
  .no-gutter [class*="col-"]:last-child {
    padding-right: 2.5px;
    padding-left: 15px;
  }
  .nst-preview-footer {
    padding-right: 10px;
    padding-left: 0;
  }
  .user-wrp .idname {
    padding-right: 4px;
    padding-left: 0;
  }
  .post-card .post-places svg {
    margin: -4px -4px -3px 4px;
  }
  .nst-navbar-f .icon-filter + span {
    margin-left: 0;
    margin-right: 8px;
  }
  .badge-invite {
    left: auto;
    right: 24px;
  }
  nst-navbar .conv-nav .conv-logos .user-avatar-32 {
    left: auto;
    right: 0;
  }
  nst-navbar .conv-nav .conv-logos .user-avatar-40 {
    right: auto;
    left: 0;
  }
  .lftbtn {
    margin-right: 0;
    margin-left: 16px;
  }
  .close-inp {
    right: auto;
    left: 0;
  }
  .empty div[contenteditable]:before{
    content: 'اینجا متن را بنویسید...';
  }
  .post-card-comments p.LTR-text {
    strong {
      direction: rtl;
    }
    span {
      float: right;
      padding: 0;
    }
  }
  .flg {
    left: auto;
    right: 10px;
  }
  .panel-profile-menu {
    float: right;
    margin-right: 0;
    margin-left: 24px;
  }
  .panel-profile-setting {
    float: right;
  }
  .recive-opt .active-border {
    left: auto;
    right: 0;
  }
  .user-item .name {
    padding-left: 0;
    padding-right: 8px;
  }
  .place-head {
    margin-right: -32px;
  }
  #place-settings .settings-tab {
    margin-left: 0;
    margin-right: -32px;
  }

  #place-settings .user-item {
    margin-right: -32px;
  }
  .ui-select-choices-row {
    float: right;
  }
  nst-navbar .place-info h3 svg {
    margin: 0 0 0 4px;
  }
}
body[dir="ltr"] {
  .post-card-comments p.RTL-text {
    strong {
      direction: ltr;
    }
    span {
      float: left;
      padding: 0;
    }
  }
}
@media screen and (max-width: $screen-md){


}
