@media screen and (max-width: $screen-sm) {
  .content {
    width: 100%;
  }
  .menu-links-butn {
    font-size: $font-size-large;
  }
  .nst-content {
    padding: 0 10px;
  }
  .modal .modal-mlg {
    margin: 8px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
  }
  #PostView {
    .post-nav-top{
      align-items: center;
      flex-direction: column-reverse;
      .closebut {
        align-self: flex-end;
      }
      .time {
        align-self: center;
        position: absolute;
        top: 10px;
        left: 10px;
        display: none;
      }
    }
    .post-nav-bot{
      align-items: center;
      flex-direction: row;
      .actor-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      .actor-name + span {
        display: none;
      }
      .badges {
        max-width: 100%;
        display: none;
      }
      .comment-input-toggle {
        display: flex;
      }
    }
    #PostBody {
      position: relative;
      display: inline-flex;
      flex-direction: column;
    }
    #Content {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      display: flex;
      flex: 1;
    }
    #Comments {
      width: 100%;
      max-width: 100%;
    }
    .comment-input {
      width: 100%;
      margin: 0;
      padding: 10px;
      flex-direction: row;
      align-items: center;
      background-color: #f7faf9;
      textarea {
        height: 100%;
      }
    }
  }
}
//max-width: 990px

@media screen and (max-width: $screen-md){
  .modal-mlg {
    margin: 16px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
  }
  #new-post {
    top: $navbar-height;
  }
  .maincontainer {
    //height: 100%;
    //min-height: 100%;
    //overflow: visible;
    //padding-top: 67px;
  }
  #content-wrapper {
    max-height : 100%!important;
    //overflow: visible;
  }
  #content-wrapper .content {
    //overflow: visible;
  }
  .content {
    //width: 600px;
    //min-width: 600px;
    //height: 100%;
  }
  .popover-white + .popover {
    left:280px!important;
  }
  .sidebar{
    display: none!important;
  }
  .sidebar-border {
    display: none;
  }
}

//min-width: 990px

@media screen and (min-width: $screen-md){
  body {
    //overflow: hidden;
  }
  .modal-mlg {
    //margin: 80px;
    //width: calc(100% - 160px);
    //height: calc(100% - 160px);
  }
  .nst-container{
    margin-left: 272px;
    width: calc(100% - 272px);
  }
  nst-navbar {
    //width: calc(100% - 272px);
  }
  .maincontainer.sidetiny {
    .nst-container{
      margin-left: $sidebar-width-tiny;
      width: calc(100% - 72px);
    }
    nst-navbar {
      //width: calc(100% - 72px);
    }
  }
  .nst-topnav{
    display: none;
  }
  #top-nav-container {
    display: none;
  }
}


@media screen and (max-width: $screen-lg){
  .content-plus{
    display: none;
    height: 0!important;
  }
  .modal-lg-white {

  }
}
@media screen and (max-width: $screen-lg) and (min-width: $screen-md){
  .maincontainer.sidetiny{
    #new-post {
      transform: translateX(-50%);
    }
  }

}
@media screen and (min-width: $screen-lg){
  .maincontainer.sidetiny{
    #content-plus {
    }
    #new-post {
    }
  }
  #new-post {
    //margin-left: 138px;
  }
}
