h5.list-head {
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    background-color: $color-breeze-5-new;
    border-radius: 4px;
    flex: none;
    color: $color-solid;
    width: calc(100% + 16px);
    display: flex;
    margin: 8px -8px;
    span {
        flex: none;
    }
    p {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 0;
        align-items: center;
        color: $color-solid-64;
    }
}


.user-option-slider {
    height: 72px;
    width: 100%;
    transition: all $animation-dur;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &.j-selected {
      background-color: rgba(20, 215, 105,.10);
      .chk-box {
        .chk-ico {
          background: url('../assets/icons/controls.svg') right -16px no-repeat;
        }
      }
    }
    &:hover {
      background-color: rgba(20, 215, 105,.05);
      .user-more-opt {
        fill: $color-solid;
      }
    }
    .chk-box {
      width: 40px;
      display: flex;
      justify-content: center;
      flex: none;
      .chk-ico {
        display: flex;
        background: url('../assets/icons/controls.svg') right 0 no-repeat;
        height: 16px;
        width: 16px;
      }
    }
    .logo {
      display: flex;
      flex: none;
      @include avatar(48px,48px,500px)
    }
    .name {
      display: inline-flex;
      flex-direction: column;
      flex: 1;
      padding-left: 8px;
      overflow: hidden;
      p {
        @extend .nst-font-large;
        color: $color-solid;
        margin: 0;
        font-weight: 400;
      }
      span {
        color: $color-sense-wire;
        @extend .nst-font-medium;
        font-weight: 400;
      }
    }
    .role {
      display: flex;
      align-items: center;
      flex: none;
      color:$color-wind;
    }
    .user-more-opt {
      min-width: 24px;
      fill: $color-wind;
      margin-left: 8px;
    }
    .invited {
      .name {
        p {
          color: $color-bg-pending;
        }
      }
      .role {
        color:$color-bg-pending;
      }
    }
}