body[dir="rtl"] {
  .attachs-bar {
    right: auto;
    left: 0;
    transform: translateX(-100%);
  }
  &.attachs-bar-active {
    .control-bar {
      right: 0;
      left: 240px;
    }
    .attachs-bar {
      transform: translateX(0);
    }
    .nst-preview-pic-mode {
      transform: translate3d(120px, 0, 0)
    }
  }
  .sidebar {
    .sidebar-container .detailed.isSelected:after {
      right: auto;
      left: -10px;
      transform: translateY(-50%) rotateZ(180deg);
    }
    .sidebar-plus-wrapper {
      left: 0;
      right: auto;
      box-shadow: 4px 0 12px rgba(0, 0, 0, 0.5);
      .side-places-list {
        ul li ul .place-item-inner a {
          right: -16px;
          left: 0;
          display: flex;
          padding-right: 8px;
          padding-left: 21px;
        }
        .place-item-inner {
          .icon {
            left: auto;
            right: -16px;
          }
          a {
            margin-right: 0;
            margin-left: -16px;
            display: flex;
          }
          i {
            right: auto;
            left: 0;
            .nst-arrow {
              padding-right: 8px;
              padding-left: 0;
            }
          }
        }
        .places-list {
          padding-right: 0;
          padding-left: 8px;
          >ul {
            padding-left: 0;
            padding-right: 16px;
          }
        }
      }
    }
  }
  .disconnect-message {
    right: auto;
    left: 0;
  }
  nst-attachments-editable-bar ul.thumbnail-bar .uploadprogress,
  nst-attachments-preview-bar ul.thumbnail-bar .uploadprogress {
    right: 12px;
    left: 28px;
    transform: rotateZ(180deg);
  }
  .tick {
    margin-right: 0;
    margin-left: 8px;
  }
  .place-switch input+label {
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
    border-left-width: 0;
    border-right-width: 1px;
  }
  .place-switch input+label+label {
    border-top-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-left-width: 1px;
    border-right-width: 0;
  }
  .place-switch input[type="checkbox"]:checked+label {
    border-right-width: 1px;
    border-left-width: 0;
  }
  .place-switch input[type="checkbox"]:checked+label+label {
    border-right-width: 0;
    border-left-width: 1px;
  }
  .place-switch input+label .circle {
    right: 0;
    transform: translateX(-3px);
  }
  .place-switch input[type="checkbox"]:checked+label .circle {
    transform: translateX(-45px);
  }
  #create-place .create-place-checkbox:checked+label {
    background-position: 100% -16px;
  }
  #create-place .create-place-checkbox+label {
    background-position: 100% 0;
    padding: 0 17px 0 0;
  }
  .green-radio+label {
    background-position: 100% -48px;
    padding: 0 17px 0 0;
  }
  .green-radio:checked+label {
    background-position: 100% -64px;
  }
  #place-settings .user-option-slider .name {
    padding-left: 0;
    padding-right: 8px;
  }
  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item div.selected-innter .place-img {
    border-radius: 0 4px 4px 0;
  }
  .account-initials-40 {
    margin-right: 0;
    margin-left: 8px;
  }
  .nav-item-butn {
    margin-left: 24px;
    margin-right: 0;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  .add-member-modal .butn-green {
    left: 0;
    right: auto;
  }
  .content-plus {
    margin-left: 0;
    margin-right: 16px;
  }
  select {
    background: url('../assets/icons/inputform.svg') no-repeat -2% -124px, linear-gradient(to bottom, $color-white-revesable-super, $color-light-cloud 100%);
  }
  .footer-panel select {
    background: transparent;
  }
  .compose-subject-input {
    direction: rtl;
  }
  .nst-navbar {
    left: 0;
    right: auto
  }
  .nst-navbar .place-info .navigation .search {
    i {
      left: 4px;
      right: auto;
    }
  }
  .nst-navbar .nav-access {
    right: auto;
    left: 0;
  }
  .nst-navbar .place-info {
    float: right;
  }
  .icon-logo {
    left: auto;
    right: 0;
  }
  .place-info {
    left: 0;
  }
  .mini-modal .closebut {
    right: auto;
    left: 16px;
  }
  #top-nav-container ul ul li {
    padding-left: 0;
    padding-right: 16px;
  }
  .sidebar-container .unreadPlace {
    left: 0;
    right: -2px;
  }
  .recently-visited-places-popover {
    left: auto!important;
    right: 8px!important;
  }
  .post-card-comments.sticky .text {
    margin-left: auto;
    margin-right: 40px;
  }
  .post-card-comment-input textarea {
    padding: 5px 8px 5px 28px;
  }
  nst-navbar .nav-item-butn span {
    margin-left: 0;
    margin-right: 8px;
  }
  nst-navbar .place-logo {
    float: right;
  }
  nst-navbar .content .search {
    float: right
  }
  nst-navbar .content .cp-illu {
    float: right
  }
  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item div.selected-innter .place-name {
    padding: 0 4px 0 28px;
    margin-right: -3px;
  }
  .ui-select-multiple.ui-select-bootstrap .ui-select-match-item .close {
    right: auto;
    left: 8px;
  }
  .ui-select-bootstrap .ui-select-choices-row>a {
    text-align: right;
  }
  .margin-l-50 {
    margin-right: 50px;
    margin-left: 0;
  }
  .file-list .file-list-header .files-srch input {
    left: auto;
    right: 42px;
  } // .close-modal {
  //   right: auto;
  //   right: 56px;
  // }
  .post-card-comments {
    padding: 8px 0 0px 16px;
    .delete-comment {
      transform: translateX(-20px);
    }
  }
  .post-card-comments strong {
    float: right;
  }
  .file-list .file-list-header #header-send-to {
    margin-right: 0;
    margin-left: 20px;
  }
  .user-wrapper img {
    margin-left: 8px;
    margin-right: 0;
  }
  nst-attachments-editable-bar ul.thumbnail-bar .attach-thumbnail .detail,
  nst-attachments-preview-bar ul.thumbnail-bar .attach-thumbnail .detail {
    padding-right: 0;
    padding-left: 48px;
  }
  nst-attachments-editable-bar ul li .attdl,
  nst-attachments-preview-bar ul li .attdl {
    right: auto;
    left: 10px;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:last-child .attdl,
  nst-attachments-preview-bar ul.thumbnail-bar li:last-child .attdl {
    right: auto;
    left: 24px;
  }
  .user-avatar-64 {
    margin-right: 0;
    margin-left: 8px;
  }
  #Logo-type-white {
    background: url("../assets/icons/Nested_PersianTypeNegative.svg") no-repeat;
  }
  .toast-top-right {
    top: 12px;
    right: auto;
    left: 12px;
  }
  .comments-load a {
    //margin-left : 0;
    //margin-right: 32px;
  }
  .files-types-images {
    margin: 0 7px 0 0;
  }
  .file-list ul .file-list-item {
    padding: 20px 16px 20px 0;
  }
  input[type="text"],
  input[type="password"] {
    direction: rtl;
    padding: 3px 10px;
  }
  .profile-popover svg {
    margin-right: 0;
    margin-left: 8px;
  }
  .chain {
    left: auto;
    right: 0;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:first-child,
  nst-attachments-preview-bar ul.thumbnail-bar li:first-child {
    margin-right: 16px;
    margin-left: 4px;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:last-child,
  nst-attachments-preview-bar ul.thumbnail-bar li:last-child {
    padding-right: 0;
    padding-left: 16px;
  }
  .post-places>span {
    margin-right: 0;
    margin-left: 16px;
  }
  nst-attachments-preview-bar ul.badge-bar a.attach-badge-default {
    .badge-name {
      margin-left: 0;
      margin-right: -3px;
      border-radius: 6px 0 0 6px;
    }
    .badge-extension {
      border-radius: 0 3px 3px 0;
    }
  }
  .activities-list .ico {
    float: right;
    padding-left: 0;
    padding-right: 8px;
  }
  .mirror {
    transform: scaleX(-1);
    filter: FlipH;
    &._r90 {
      transform: scaleX(-1) rotateZ(90deg);
    }
    &._r-90 {
      transform: rotateZ(90deg);
    }
  }
  .filter-bar .filter-bar-inner {
  }
  .quick-message-wrp .quick-message-inner .quick-sender>div {
    left: auto;
    right: -4px;
  }
  .text-left {
    text-align: right;
  }
  .text-right {
    text-align: left;
  }
  input[type="checkbox"] + label.setting.left-box {
    background-position-x: 100%!important;
    padding: 0 24px 0 0!important;
  }
  input[type="checkbox"]:checked + label.setting.left-box {
    background-position-x: 100%!important;
    padding: 0 24px 0 0!important;
  }
  input[type="checkbox"]:checked+label.setting,
  input[type="checkbox"]:checked+label.setting {
    background-position-x: 0;
    padding: 0 0 0 17px!important;
  }
  input[type="checkbox"]+label.setting,
  input[type="checkbox"]+label.setting {
    background-position-x: 0;
    padding: 0 0 0 17px!important;
  }
  #panel-signin input[type="checkbox"]:checked+label,
  #panel-register input[type="checkbox"]:checked+label {
    // background-position: 100% -16px;
    padding: 0 17px 0 0;
  }
  #panel-signin input[type="checkbox"]+label,
  #panel-register input[type="checkbox"]+label {
    // background-position: 100% 0;
    padding: 0 17px 0 0;
    background-position-x: right;
  }
  .register-name-cell-left {
    padding-right: 0;
    padding-left: 8px;
  }
  .register-name-cell-right {
    padding-left: 0;
    padding-right: 8px;
  }
  .has-feedback .form-control {
    padding-left: 42px;
    padding-right: 10px;
  }
  .form-control-feedback {
    right: auto;
    left: 0;
  }
  .no-gutter [class*="col-"]:first-child {
    padding-left: 2.5px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
  }
  .no-gutter [class*="col-"]:last-child {
    padding-right: 2.5px;
    padding-left: 15px;
  }
  .nst-preview-footer {
    padding-right: 10px;
    padding-left: 0;
  }
  .sidebar-profile-popover .id-name-user {
    padding-right: 4px;
    padding-left: 0;
  }
  .badge-invite {
    left: auto;
    right: 24px;
  }
  nst-navbar .conversation-nav .conversation-people .user-avatar-32 {
    left: auto;
    right: 0;
  }
  nst-navbar .conversation-nav .conversation-people .user-avatar-40 {
    right: auto;
    left: 0;
  }
  .lftbtn {
    margin-right: 0;
    margin-left: 16px;
  }
  .rghbtn {
    margin-right: 16px;
    margin-left: 0;
  }
  .close-inp {
    right: auto;
    left: 0;
  }
  .modal .modal-compose .modal-head {
    padding-left: 0;
    padding-right: 16px;
  }
  .compose-btns>* {
    margin: 0 0 0 8px;
  }
  .compose-options {
    right: auto !important;
    left: -8px !important;
  }
  #wdt-emoji-menu-header {
    padding: 4px 7px 0 0;
  } // .post-card-comments p.RTL-text {
  //   strong {
  //     direction: rtl;
  //   }
  //   span {
  //     float: right;
  //     padding: 0;
  //   }
  //   .time {
  //     float: left
  //   }
  // }
  #compose-recipient-input .ui-select-choices {
    left: 0;
    right: 16px;
  }
  .place-initials-32 {
    margin-left: 8px;
    margin-right: 0;
  }
  .fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab[data-param1=text]~[data-param1=background]::after {
    transform: translate3d(100%, 0, 0);
  }
  .flg {
    left: auto;
    right: 10px;
  }
  .panel-profile-menu {
    float: right;
    margin-right: 0;
    margin-left: 24px;
  }
  .panel-profile-setting {
    float: right;
  }
  .receive-opt .active-border {
    left: auto;
    right: 0;
  }
  .user-option-slider .name {
    padding-left: 0;
    padding-right: 8px;
  }
  .place-head {
    margin-right: auto;
    margin-left: -32px;
    left: auto;
    right: 50vw;
    transform: translate3d(50%, 0, 0);
  }
  .place-head-holder-2 {
    right: 50vw;
    left: auto;
    transform: translate3d(50%, 0, 0);
  }
  #place-settings .settings-tab {
    margin-left: 0;
    margin-right: -32px;
  }
  .place-head.setting-head .logo-holder {
    left: auto;
    right: 32px;
  }
  .place-head .logo-holder>span {
    right: 104px;
    left: auto;
  }
  .place-head .logo-holder>a {
    left: auto;
    right: 104px;
  }
  .place-head.setting-head .logo-holder i {
    right: auto;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 9px;
  }
  .place-head.setting-head .logo-holder i svg {
    left: auto;
    right: 6px;
  }
  #place-settings .user-option-slider {
    margin-right: -32px;
  }
  .add-member-modal .ui-select-choices-row {
    float: right;
  }
  nst-navbar .place-info h3 svg {
    margin: 0 0 0 4px;
  }
  .notification-wrapper ul li {
    direction: rtl;
    text-align: right;
  }
  .place-head.setting-head h3 {
    margin: 0 16px 0 0;
  }
  .modal-full-height-center .modal-content h2 span {
    margin-left: 0;
    margin-right: 16px;
  }
  .modal-full-height-center .modal-content>div {
    right: 50vw;
    margin-right: -240px;
    left: 0;
    margin-left: 0;
  }
  .remove-from-places span {
    padding-right: 0;
    padding-left: 16px;
  }
  .post-places .places-label {
    margin-right: 0;
    margin-left: 16px;
  }
  .filter-bar .mark-read {
    margin-right: 0;
    margin-left: 28px;
    svg {
      margin-right: 4px;
      margin-left: 0;
    }
  }
  .move-head .wire {
    svg {
      left: auto;
      right: 0;
    }
    svg.ready {
      left: auto;
      right: 50%;
    }
    svg.set {
      right: calc(100% - 32px);
      left: auto;
    }
    .triangle {
      right: auto;
      left: -8px;
      border-width: 4px 8px 4px 0;
      border-color: transparent $color-breeze transparent transparent;
    }
  }
  .move-to-list a div {
    padding-left: 0;
    padding-right: 24px;
  }
  .content-plus .name svg {
    left: 12px;
    right: auto;
  }
  .place-head.contact-head .logo-holder {
    left: 0;
    right: 24px;
  }
  .place-head.contact-head .contact-actions {
    right: auto;
    left: 40px;
  }
  .inline-user-row span:last-child,
  .inline-user-row span:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  #contacts-list .alphabet {
    right: auto;
    left: 8px;
  }
  #contacts-list .srch {
    left: auto;
    right: 8px;
  }
  #contacts-list input {
    padding-right: 32px;
  }
  .inline-place-row span {
    padding-right: 8px;
    padding-left: 0;
  }
  nst-navbar .content .search svg {
    right: auto;
    left: 4px;
  }
  nst-navbar .content .top-nav {
    padding-left: 0;
    padding-right: 16px;
  }
  nst-navbar .content .bot-nav .navigation .search input {
    padding: 2px 8px 2px 20px;
  }
  .panel-profile-setting {
    .sessions {
      li {
        a.force {
          right: auto;
          left: 0;
        }
      }
    }
  }
  .manage-label .label-create-butn,
  .manage-label .label-remove-butn {
    margin-left: 0;
    margin-right: 24px;
    svg {
      margin-left: 0;
      margin-right: 6px;
    }
  }
  .manage-label ul.labels li .icon {
    padding: 16px 0 0 16px;
  }
  .manage-label ul.requests li .actions>div {
    margin-left: 0;
    margin-right: 16px;
  }
  .manage-label ul.labels li .usage {
    margin-left: 0;
    margin-right: 24px;
  }
  .manage-label ul.labels li .users {
    margin-left: 0;
    margin-right: 16px;
  }
  .label-sm-modal .label-color svg {
    left: 0;
    right: 12px;
  }
  .modal-full-height-center .modal-content select {
    padding: 0 32px 0 8px;
  }
  input[type="radio"]+label {
    margin: 0 0 0 40px;
  }
  .label-sm-modal .modal-footer input {
    margin: 0 8px 0 0!important;
  }
  .label-sm-modal ul.holders li {
    padding-right: 0;
    padding-left: 24px;
  }
  .label-sm-modal .close-btn {
    margin-left: 16px;
    margin-right: 0;
  }
  .label-sm-modal .modal-more-set+.popover {
    right: 240px !important;
    left: 20px;
  }
  .label-sm-modal.add-label h4 svg {
    margin-right: 0;
    margin-left: 8px;
  }
  .label-chips-wrapper {
    margin: 0 0 5px 5px;
}
  .popover-white-nst-msg {
    left: -1px!important;
    right: auto;
  }
  .popover-white-nst-setting {
    left: 0!important;
    right: auto;
  }
  .messages-sort-popover {
    left: 0px!important;
    right: auto;
  }
  .white-pop .popover-content a div,
  .white-pop .popover-content label div {
    &:last-of-type {
      margin-left: 0;
      margin-right: 8px;
    }
    &:first-of-type {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .popover-userdetail .user-data div .butn-white,
  .popover-userdetail .user-data div .butn-white-nav {
    margin: 0 0 0 4px;
  }
  .mini-player .player-list ul li .info span {
    padding-right: 0;
    padding-left: 16px;
  }
  .mini-player .player .player-handler .bg-bar,
  .mini-player .player .player-handler .played-bar {
    // left: auto;
    // right: 0;
    // transform-origin: right center;
  }
  .mini-player .player .player-handler .player-dragger {
    // left: auto;
    // right: 0;
  }
  .mini-player .player-ribbon a {
    margin-left: 0;
    margin-right: 8px;
  }
  .mini-player .player-ribbon>div:last-child svg {
    margin-right: 8px;
    margin-left: 0;
  }
  .mini-player .player-ribbon>div:last-child {
    margin-right: 4px;
    margin-left: 0;
  }
  nst-attachments-editable-bar ul li .attsize,
  nst-attachments-preview-bar ul li .attsize {
    padding-right: 0;
    text-align: left;
    padding-left: 48px;
  }
  nst-attachments-editable-bar ul.thumbnail-bar li:last-child,
  nst-attachments-preview-bar ul.thumbnail-bar li:last-child {
    .music-knee {
      right: 0;
    }
    .playbtn {
      right: 50%;
      transform: translate(50%, -50%);
      margin-right: -8px;
      margin-left: 0;
    }
    .attach-thumbnail-voice {
      .playbtn {
        margin-right: 0;
      }
    }
  }
  .mini-player .player-buttons-wrapper .remain-time {
    justify-content: flex-end;
  }
  .vjs-has-started .vjs-control-bar {
    left: auto;
    right: 50%;
    transform: translateX(50%);
  }
  .place-files-modal ul li .checkbox {
    right: auto;
    left: 8px;
  }
  .files-modal ul li {
    padding-left: 0;
    padding-right: 16px;
  }
  .manage-label .settings-tab {
    margin-right: -24px;
    margin-left: 0;
  }
  .manage-label ul.labels li .usage svg {
    margin-right: 0;
    margin-left: 8px;
  }
  .top-bar .search .inner i {
    left: auto;
    right: 4px;
  }
  .top-bar .search .inner span.advanced-search {
    left: 4px;
    right: auto;
  }
  .search-modal .search-popover .label-suggests li .icon {
    padding-right: 0;
    padding-left: 12px;
  }
  .search-modal .advanced-search-popover select {
    background: url(../assets/icons/inputform.svg) no-repeat -10px -128px, linear-gradient(to bottom, #FFFFFF, whitesmoke 100%);
  }
  .side-grand-place-item-container cite {
    padding-left: 34px;
    padding-right: 0;
  }
  .side-scroll-list-wrapper .places i {
    right: auto;
    left: 4px;
  }
  .side-grand-place-item-container .picture {
    padding-right: 0;
    padding-left: 8px;
  }
  .side-grand-place-item-container {
    padding-left: 0;
    padding-right: 8px;
  }
  .side-grand-place-item > ul {
    padding-left: 0;
    padding-right: 8px;
  }
  .side-place-item-container {
    padding-left: 0;
    padding-right: 3px;
  }
  .side-scroll-list-wrapper .places .place-line-icon {
    left: auto;
    right: -16px;
  }
  .sidebar-container .side-place-item-container cite {
    padding-left: 34px;
    padding-right: 8px;
    margin-right: 0;
    margin-left: -16px;
    left: auto;
    right: -16px;
  }
  .nst-navbar-fixed .nst-navbar-fixed-container .place-pic {
    margin: 0 8px 0 12px;
  }
  .nst-navbar-fixed .nst-navbar-fixed-container cite {
    margin-right: 0;
    margin-left: 4px;
  }
  .nst-navbar .place-detail > span {
    margin: 0 10px 0 16px;
  }
  .nst-navbar .place-detail .more-navbar-settings-icon {
    margin: 0 12px 0 28px;
  }
  .post-places.no-post-view > span svg {
    right: auto;
    left: 0;
  }
  .top-bar .search .inner .search-chips-container .chips .close-chips {
    left: auto;
    right: 0;
  }
  .content-plus > div .activity-item .top .user-avatar-20 {
    margin-right: 0;
    margin-left: 4px;
  }
  .content-plus > div .activity-item .body {
    margin-left: 0;
    margin-right: 10px;
  }
  .file-list ul .file-item-inner {
    padding-right: 0;
    padding-left: 16px;
  }
  .file-list ul .attachment-tiny-thumb {
    margin-left: 16px;
    margin-right: 0;
  }
  .file-list ul .item-size,
  .file-list ul .item-date {
    margin-left: 0;
    margin-right: 16px;
  }
  .label-sm-modal.add-label .ui-select-bootstrap .ui-select-choices-row > a {
    direction: rtl;
  }
  #single-contact .place-head .popover {
    left: 64px !important;
    right: auto !important;
    border-radius: 0 6px 6px 6px;
  }
  .place-head.contact-head .contact-actions > div {
    margin-left: 0;
    margin-right: 16px;
  }
  .suggest-list.horizental li {
    margin-right: 0;
    margin-left: 6px;
  }
  .file-list ul img {
    margin-right: 0;
    margin-left: 16px;
  }
  .filter-bar .filter-bar-inner .toolbar {
    padding-right: 4px;
    padding-left: 0;
  }
  .filter-bar .filter-bar-inner .toolbar .default-mode-butn {
    margin-left: 0;
    margin-right: 4px;
  }
  .profile-popover {
    border-radius: 0 6px 6px 6px;
  }
  .unread-notif-badge {
    left: -4px;
    right: auto;
  }
  .post-card-comment-input {
    padding-right: 0;
    padding-left: 6px;
  }
  .post-card-comments p {
    strong {
      direction: rtl;
    }
    span {
      float: right;
      padding: 0;
    }
    .time {
      float: left;
      margin-left: 0;
      margin-right: 4px
    }
  }
  .post-card-comments p.LTR-text {
    span {
      padding: 0;
    }
  }
  .sidebar-container .unreadPlace {
    right: auto;
    left: 0;
  }
  .iScrollVerticalScrollbar {
    left: 0!important;
    right: auto!important;
  }
  .account-initials-32 {
    margin-right: 0;
    margin-left: 8px;
  }
  .search-modal .search-popover .search-query span {
    min-width: 60px;
    text-align: right;
  }
  .suggest-list li a.LTR-text {
    justify-content: flex-end;
  }
  .content-plus .content-plus-inner > div .activity-item {
    padding: 8px 6px 0 15px;
  }
  .side-places-list .arrow-toggle {
    right: auto;
    left: 4px;
  }
  .side-place-item-container .place-line-icon {
    left: auto;
    right: -16px;
  }
  .quick-message-wrp .quick-message-inner .quick-message {
    margin-left: 32px;
    margin-right: 0;
  }
  .task-area h2 ._16svg {
    transform-origin: right center;
  }
  .edit-task .task-comments .task-comments-inner {
    right: auto;
    left: 0;
  }
  .edit-task .task-form {
    padding: 12px 16px 36px 4px;
    .task-binder {
      right: auto;
      left: 0;
       .task-binders {
        margin: 0 0 16px 16px;
      }
      &.is-open .task-binders .task-binder-butn {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
  .ng-flat-datepicker-arrow.ng-flat-datepicker-arrow-left svg {
    transform: rotate(0);
  }
  .ng-flat-datepicker-arrow.ng-flat-datepicker-arrow-right svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .user-chips-wrapper {
    padding-right: 0;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 4px;
  }
  .label-chips-wrapper .label-edge {
    transform: scale(-1, 1);
  }
  nst-attachments-editable-bar ul.badge-bar li a:not(.attdl) img, nst-attachments-preview-bar ul.badge-bar li a:not(.attdl) img {
    margin-left: 0;
    margin-right: 4px;
  }
  nst-attachments-editable-bar ul.badge-bar li, nst-attachments-preview-bar ul.badge-bar li {
    margin: 3px 0 3px 6px;
  }
  nst-attachments-editable-bar ul.badge-bar li .attdl.del, nst-attachments-preview-bar ul.badge-bar li .attdl.del {
    left: auto;
    right: -4px;
  }
  nst-attachments-editable-bar ul.badge-bar li .uploadprogress,
  nst-attachments-preview-bar ul.badge-bar li .uploadprogress {
    right: auto;
    left: 0;
    div {
      right: auto;
      left: 0;
      animation-name: attachment-progress-rtl;
    }
  }
  .edit-task {
    .nst-loading {
      left: calc(50% + 140px);
    }
  }
  .list-ul .list-li-extra + .list-li-buttons {
    margin-left: 0;
    margin-right: 8px;
  }
  .list-ul .list-li-buttons > * {
    margin-right: 8px;
    margin-left: 0;
  }
  .list-ul li::after {
    right: auto;
    left: 0;
  }
  .edit-task .task-comments .log-filter .popover {
    left: auto!important;
    right: 10px;
  }
  .notification-wrapper .settings-tab .unread-notif-badge {
    right: auto;
    left: -14px;
  }
  .modal .modal-compose .compose-modal-footer .butn-green, .modal .modal-compose .compose-modal-footer .butn-login {
    width: 120px;
  }
  .wdt-emoji-picker {
    right: auto;
    left: 12px;
  }
  .notif-ul .notif-li .notif-li-container {
    padding: 8px 16px 0 0;
    .unread-badge {
      left: auto;
      right: 8px;
    }
    .bottom-border>svg {
      margin-left: 16px;
      margin-right: 4px;
    }
  }
  .place-switch.sm input[type="checkbox"]:checked + label .circle {
    transform: translateX(-18px);
  }
  .places-modal .modal-body .places li .place-item .place-extra input {
    margin-left: 20px;
    margin-right: 0;
  }
  .places-modal .modal-body .places li .place-item .place-selector {
    left: auto;
    right: 16px;
  }
  .label-sm-modal .req-modal-input .color-btn {
    left: 16px;
    right: auto;
  }
  .place-chips-wrapper {
    margin-right: 0;
    padding-right: 0;
    margin-left: 4px;
    padding-left: 22px;
    .clear {
      right: auto;
      left: 6px;
    }
    .place-picture img {
      border-radius: 0 4px 4px 0;
      &.email-holder {
        border-radius: 24px;
      }
    }
    &.isEmail .place-picture {
      margin-left: 0;
      margin-right: 3px;
    }
  }
  .file-list ul li.checked .checkbox div {
    border-width: 0;
  }
}

body[dir="ltr"] {
  .ng-jalaali-flat-datepicker table tbody {
    direction: ltr;
  }
  .post-card-comments p.RTL-text {
    strong {
      direction: ltr;
    }
    span {
      float: left;
      padding: 0;
    }
    .time {
      float: right;
    }
  }
}

@media screen and (max-width: $screen-md) {}
