<div class="task-card">
    <task-progress-icon status="ctlTaskCard.statuses.ASSIGNED_NO_CHECKLIST" progress="-1"></task-progress-icon>        
  <!-- <span>{{ctlTaskCard.statuses | json}}</span> -->
  <span>{{ctlTaskCard.task.title}}</span>
</div>
<div class="chain-stats">
  <div ng-if="!ctlPostCard.addOn">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
    </svg>
  </div>
  <div ng-if="ctlPostCard.addOn" class="no-replied-or-forwarded" ng-click="ctlPostCard.goTo('post-subject-' + ctlPostCard.post.id)">
    <svg class="_24svg">
      <use xlink:href="/assets/icons/nst-icn24.svg#open-message"></use>
    </svg>
  </div>

  <div ng-if="ctlPostCard.addOn">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
    </svg>
    <span ng-click="ctlPostCard.goTo('post-place-' + ctlPostCard.post.id)" ng-if="!(ctlPostCard.post.places.length == 1)" translate-inner>shared in {{ctlPostCard.post.places.length | localize}} places</span>
    <span ng-click="ctlPostCard.goTo('post-place-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.places.length == 1" translate-inner>shared in One place</span>
  </div>
  <div ng-if="ctlPostCard.addOn">
    <!-- <svg class="chain-ico">
    <use xlink:href="/assets/icons/nst-icn16.svg#more"></use>
  </svg> -->
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#comments"></use>
    </svg>
    <span ng-if="ctlPostCard.unreadCommentsCount === 0">
  <span ng-click="ctlPostCard.goTo('comment-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.counters.comments == 0" translate-inner>No comments</span>
    <span ng-click="ctlPostCard.goTo('comment-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.counters.comments == 1" translate-inner>One comment</span>
    <span ng-click="ctlPostCard.goTo('comment-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.counters.comments > 1" translate-inner>{{ctlPostCard.post.counters.comments | localize}} comments</span>
    </span>
    <!-- <a class="_df _fn comments-count new-comments-count" ng-if="ctlPostCard.unreadCommentsCount > 0" ui-sref="app.message({ postId : ctlPostCard.post.id })" -->
    <a class="_df _fn comments-count new-comments-count" ng-if="ctlPostCard.unreadCommentsCount > 0" ng-click="ctlPostCard.loadNewComments($event,'scrollIntoView');">
    <span ng-if="ctlPostCard.unreadCommentsCount == 1" translate-inner>1 new comment</span>
    <span ng-if="ctlPostCard.unreadCommentsCount > 1">{{ctlPostCard.unreadCommentsCount | localize}} <translate>new comments</translate></span>
  </a>
  </div>

</div>
