<div class="_fhw">
  <div class="nst-vc nst-mood-sense-5 ng-scope _fh">
    <div class="panel" id="panel-register">
      <div class="nst-vb no-gutter2 nst-marginbtm-48" ng-if="ctrl.step == 1">
        <p class="col-xs-9 nst-font-xlarge">
          <translate>Create an account</translate>
        </p>
        <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right">
          <translate>or</translate>
          <a href="#/signin" class="nst-mood-cheerful">
            <translate>Sign in</translate>
          </a>
        </p>
      </div>
      <p class="nst-font-medium nst-marginbtm-48" ng-if="ctrl.step == 1">
        <translate>To create an account with Nested, please enter your phone number.</translate>
      </p>
      <submit-phone-step ng-if="ctrl.step == 1" on-completed="{{::ctrl.phoneSubmittedEventKey}}" check-phone-available="true" instant-submit="ctrl.autoSubmit" phone="ctrl.phone" country-code="ctrl.code"></submit-phone-step>
      <verify-code-step ng-if="ctrl.step == 2" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.codeVerifiedEventKey}}" on-previous="{{::ctrl.previousStepEventKey}}"></verify-code-step>
      <register-step ng-if="ctrl.step == 3" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.completedEventKey}}"></register-step>
    </div>
  </div>
</div>
