<div class="_fhw">
  <div class="nst-vc ng-scope">
    <a class="_fw" ng-show="ctrl.step == 1" ui-sref="public.signin">
      <svg class="_24svg _r90 mirror">
        <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
      </svg>
      <translate>Sign in</translate>
    </a>
    <a class="_fw" ng-show="ctrl.step == 2" ng-click="ctrl.step = 1">
      <svg class="_24svg _r90 mirror">
        <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
      </svg>
      <translate>Change phone number</translate>
    </a>
    <a class="_fw" ng-show="ctrl.step == 3"></a>
    <div class="panel" id="panel-register">
      <div class="no-gutter2 panel-heading">
        <p class="_df _fw nst-font-xxlarge nmarg">
          <translate>Create an account</translate>
        </p>
        <p class="_df _fn nst-font-medium nmarg nst-mood-gale">
          <translate>Step {{ctrl.step | localize}}/ {{ 3 | localize }}</translate>
        </p>
      </div>
      <div class="panel-body">
        <p class="nst-font-medium nst-marginbtm-24" ng-if="ctrl.step == 1">
          <translate>To create an account with Nested, please enter your phone number.</translate>
        </p>
        <submit-phone-step ng-if="ctrl.step == 1" on-completed="{{::ctrl.phoneSubmittedEventKey}}" check-phone-available="true" instant-submit="ctrl.autoSubmit" phone="ctrl.phone" country-code="ctrl.code"></submit-phone-step>
        <verify-code-step ng-if="ctrl.step == 2" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.codeVerifiedEventKey}}" on-previous="{{::ctrl.previousStepEventKey}}" country-code="ctrl.code"></verify-code-step>
        <register-step ng-if="ctrl.step == 3" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.completedEventKey}}" country-code="ctrl.code"></register-step>
        <div class="divider">
          <span>or</span>
        </div>
        <div class="row nst-vb">
          <a class="_fn _fw text-center nst-mood-cheerful nst-google-btn" ng-click="ctrl.signUpWithGoogle()">
            <svg class="svg" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M17.64 9.2c0-.637-.057-1.25-.164-1.84H9v3.481h4.844c-.209 1.125-.843 2.079-1.796 2.717v2.258h2.908c1.702-1.567 2.684-3.874 2.684-6.615z" fill-rule="evenodd" fill="#4285f4"></path><path d="M9.003 18c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H.96v2.332C2.44 15.983 5.485 18 9.003 18z" fill-rule="evenodd" fill="#34a853"></path><path d="M3.964 10.712c-.18-.54-.282-1.117-.282-1.71 0-.593.102-1.17.282-1.71V4.96H.957C.347 6.175 0 7.55 0 9.002c0 1.452.348 2.827.957 4.042l3.007-2.332z" fill-rule="evenodd" fill="#fbbc05"></path><path d="M9.003 3.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C13.465.891 11.429 0 9.003 0 5.485 0 2.44 2.017.96 4.958L3.967 7.29c.708-2.127 2.692-3.71 5.036-3.71z" fill-rule="evenodd" fill="#ea4335"></path></svg>
            <translate>Sign up with Google</translate>
          </a>
        </div>
      </div>
    </div>
    <div id="Logo"></div>
  </div>
</div>
