.mini-player {
    position: fixed;
    bottom: 0;
    left: 50vw;
    margin-left: -160px;
    width: 320px;
    z-index: 9999;
    .player-ribbon {
        height: 32px;
        margin-bottom: 5px;
        display: flex;
        background-color: $color-solid;
        border-radius: 8px;
        box-shadow: 0 4px 16px $color-solid-64;
        padding: 8px;
    }
    .mini-player-inner {
        display: flex;
        background-color: $color-solid;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        flex-direction: column;
        min-height: 88px;
        box-shadow: 0 4px 16px $color-solid-64;
    }
    .player {
        height: 54px;
        display: flex;
        flex: none;
        .sound-poster {
            padding: 8px 16px;
            img {
                width: 36px;
                height: 36px;
            }
        }
        .player-handler {
            padding: 0 12px;
            height: 24px;
        }
        span {
            line-height: 18px;
            font-size: 12px;
            opacity: .64;
            color: $color-white;
        }
        .player-quit {
            width: 52px;
            display: flex;
            padding: 8px;
            opacity: .64;
            justify-content: flex-end;
        }
    }
    .player-buttons-wrapper {
        height: 32px;
        display: flex;
        align-items: center;
        flex: none;
        .remain-time ,
        .player-dropdown {
            width: 48px;
            display: flex;
            padding: 0 8px;
            flex: none;
        }
        .player-buttons{
            width: 100%;
            display: flex;
            justify-content: center;
            svg {
                margin: 0 12px;
            }
        }
        .player-dropdown {
            justify-content: flex-end;
            opacity: .72;
        }
        .remain-time {
            opacity: .64;
            color: $color-white;
            justify-content: center;
        }
    }
    .player-list {
        display: flex;
        max-height: 208px; 
        padding: 8p 0;
    }
}