<div class="mini-player">
   <div class="player">
       <div class="sound-poster">
           <img src="" alt="">
       </div>
       <div class="_difv _fw">
           <div class="player-handler">

           </div>
       </div>
       <div class="player-quit">
            <svg class="_16svg close-inp">
                <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
            </svg>
       </div>
   </div>
   <div class="player-buttons-wrapper">
       <div class="remain-time">
        {{ctrl.currentPlay.duration}}
       </div>
       <div class="player-buttons">
            <div class="butn-previous">
                <svg class="_16svg close-inp">
                    <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
                </svg>
            </div>
            <div class="butn-playpause">

            </div>
            <div class="butn-next">

            </div>
       </div>
       <div class="player-dropdown"></div>
   </div>
   <div class="player-list">

   </div>
</div>