<div class="mini-player">
    <div class="player-ribbon" ng-if="ctrl.displayState === 1">
        <img ng-src="{{ctrl.currentPlay.item.thumbnail}}" alt="" ng-if="!ctrl.isVoice">
        <img initial-avatar="{{::ctrl.currentPlay.item.sender.id}}" name="{{::ctrl.currentPlay.item.sender.fullName}}" picture="{{ctrl.currentPlay.item.sender | avatar}}"
        data-width="24" data-height="24" data-radius="13" class="account-initials-24 _df" data-word-count="2" data-font-size="8"
        ng-if="ctrl.isVoice"/>
        <a>
            <span class="_txe">{{ctrl.currentPlay.item.filename}}</span>
        </a>
        <div ng-click="ctrl.previous()" ng-if="ctrl.currentPlay.prev">
            <svg class="_16svg fill-white">
                <use xlink:href="/assets/icons/nst-icn16.svg#player-back"></use>
            </svg>
        </div>
        <div ng-click="ctrl.play()" ng-if="ctrl.currentPlay.status == 'pause'">
            <svg class="_16svg fill-white active">
                <use xlink:href="/assets/icons/nst-icn16.svg#play"></use>
            </svg>
        </div>
        <div ng-click="ctrl.pause()" ng-if="ctrl.currentPlay.status != 'pause'">
            <svg class="_16svg fill-white">
                <use xlink:href="/assets/icons/nst-icn16.svg#pause"></use>
            </svg>
        </div>
        <div ng-click="ctrl.next()">
            <svg class="_16svg fill-white" ng-if="ctrl.currentPlay.next">
                <use xlink:href="/assets/icons/nst-icn16.svg#player-next"></use>
            </svg>
        </div>
        <div ng-click="ctrl.displayState = 2">
            <svg class="_16svg fill-white">
                <use xlink:href="/assets/icons/nst-icn16.svg#expand"></use>
            </svg>
        </div>
        <div ng-click="ctrl.closePlayer()">
            <svg class="_16svg fill-white">
                <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
            </svg>
        </div>
    </div>
    <div class="mini-player-inner" ng-if="ctrl.displayState === 2 || ctrl.displayState === 3">
        <div class="player">
            <div class="sound-poster">
                <img ng-src="{{ctrl.currentPlay.item.thumbnail}}" alt="" ng-if="!ctrl.isVoice">
            </div>
            <div class="_difv _fw _jcc">
                <div class="player-handler">
                    <div class="bg-bar"></div>
                    <div class="played-bar"></div>
                    <div class="player-dragger"></div>
                </div>
                <span>
                    {{ctrl.currentPlay.item.filename}}
                </span>
            </div>
            <div class="player-quit">
                <svg class="_16svg fill-white _fn" ng-click="ctrl.closePlayer()">
                    <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
                </svg>
                <svg class="_16svg fill-white _fn" ng-click="ctrl.displayState = 1">
                    <use xlink:href="/assets/icons/nst-icn16.svg#collapse"></use>
                </svg>
            </div>
        </div>
        <div class="player-buttons-wrapper">
            <div class="remain-time">
                <!-- -22:22 -->
                {{ctrl.currentTimeString}}
                <!-- {{ctrl.currentPlay.track.duration}} -->
            </div>
            <div class="player-buttons">
                <div class="butn-previous">
                    <svg class="_16svg fill-white" ng-if="ctrl.currentPlay.prev" ng-click="ctrl.previous()">
                        <use xlink:href="/assets/icons/nst-icn16.svg#player-back"></use>
                    </svg>
                </div>
                <div class="butn-playpause" ng-click="ctrl.playPauseToggle">
                    <svg class="_16svg fill-white" ng-if="!ctrl.playStatus" ng-click="ctrl.play()">
                        <use xlink:href="/assets/icons/nst-icn16.svg#play"></use>
                    </svg>
                    <svg class="_16svg fill-white" ng-if="ctrl.playStatus" ng-click="ctrl.pause()">
                        <use xlink:href="/assets/icons/nst-icn16.svg#pause"></use>
                    </svg>
                </div>
                <div class="butn-next">
                    <svg class="_16svg fill-white" ng-if="ctrl.currentPlay.next" ng-click="ctrl.next()">
                        <use xlink:href="/assets/icons/nst-icn16.svg#player-next"></use>
                    </svg>
                </div>
            </div>
            <div class="player-dropdown">
                <svg class="_16svg fill-white {{ctrl.displayState === 2 ? '_r-180' : '' }}" ng-click="ctrl.openList()">
                    <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
                </svg>
            </div>
        </div>
        <div class="player-list ng-class:{'collapse' : ctrl.displayState === 2}">
            <ul>
                <li ng-repeat="track in ctrl.playList" ng-click="ctrl.play(track.id)">
                    <div class="poster">
                        <img ng-src="{{ctrl.currentPlay.item.thumbnail}}" alt="" ng-if="!ctrl.isVoice">
                    </div>
                    <div class="info ng-class:{'isPlayed' : track.isPlayed}">
                        {{track.filename}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
