<div>
  <nst-navbar></nst-navbar>
  <div id="container" class="_bggray">
    <div class="side">
      <div class="compose _bgwhite _df _fw">
      </div>
    </div>
    <div class="nst-content">
      <div class="subnavitems _bgwhite _df _fw">
        <ul class="nav-width-ul-compose _fw">
          <li data-ng-repeat="(key, filter) in places.filters" class="li-hover {{key== places.filter ? 'selected' : null}}" >
            <a class="places-anchor" href="#/places/{{key}}">{{filter.name}}</a>
          </li>

        </ul>
        <li class="_difc" style="width: 150px">
          <a href="#/create_place" class="places-anchor nst-mood-storm _difc">Add a Place<div class="option-add-icon-plc _df"></div></a>
        </li>

      </div>
      <div id="AllPlaces" class="_fw _fh">
        <ul class="_dif _fw">
          <li data-ng-repeat="place in places.places" data-ng-include="'app/places/place_row.html'" data-ng-model="place" class="_fw _df"></li>
        </ul>
        <div class="restplace _df _fh"></div>
      </div>
    </div>
    <div class="side">
      <div class="compose _bgwhite _df _fw">
      </div>
    </div>
  </div>
</div>
