<div id="popup-msg-badge" perfect-scrollbar>
  <div  data-ng-repeat="place in ctlPostCard.post.allPlaces" class="_fw _df hovercolor">
    <a class="more-place-row" href="#/places/{{place.id}}/messages">
    <div class="_dtc">
      <img ng-src="{{place.picture}}" class="account-initials-32"/>
    </div>
    <div class="_dtc">
      <div class="_dtr">
        <ul class="list-unstyled text-center">
          <li>
            <span class="_dtc teammate-name nst-mood-solid text-left">{{place.name}}</span>
          </li>
        </ul>
      </div>
      <div class="_dtr">
        <div class="_dtc nst-mood-storm nst-font-small">{{place.id}}</div>
      </div>
    </div>
    </a>
  </div>
</div>
