<a class="_df list-items _aic _fw" ui-sref="app.message({ postId : ctlPostCard.post.id })"
   ng-click="ctlPostCard.viewFull($event)" ng-if="!ctlPostCard.chainView">
  <div class="_aic _df">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#expand"></use>
    </svg>
  </div>
  <span><translate>Full view</translate></span>
</a>
<div class="line-popover" ng-if="!ctlPostCard.chainView"></div>
<a class="_df list-items _aic _fw"
   ng-click="ctlPostCard.replyAll($event); ctlPostCard.markAsRead(); _track('post card', 'reply all : toolbar');"
   ui-sref="app.compose-reply-all({ postId: ctlPostCard.post.id })">
  <div class="_aic _df">
    <svg class="_16svg mirror">
      <use xlink:href="/assets/icons/nst-icn16.svg#reply"></use>
    </svg>
  </div>
  <span><translate>Reply</translate></span>
</a>
<a class="_df list-items _aic _fw" ng-click="ctlPostCard.replyToSender($event);"
   ui-sref="app.compose-reply-sender({ postId: ctlPostCard.post.id })">
  <div class="_aic _df">
    <svg class="_16svg mirror">
      <use xlink:href="/assets/icons/nst-icn16.svg#reply"></use>
    </svg>
  </div>
  <span><translate>Reply to sender</translate></span>
</a>
<a class="_df list-items _aic _fw" ui-sref="app.compose-forward({ postId: ctlPostCard.post.id })"
   ng-click="ctlPostCard.forward($event); ctlPostCard.markAsRead(); _track('post card', 'forward : toolbar');">
  <div class="_aic _df">
    <svg class="_16svg mirror">
      <use xlink:href="/assets/icons/nst-icn16.svg#forward"></use>
    </svg>
  </div>
  <span><translate>Forward</translate></span>
</a>
<!--<a class="_df list-items _aic _fw">-->
<!--<div class="_aic _df">-->
<!--<svg class="_16svg">-->
<!--<use xlink:href="/assets/icons/nst-icn16.svg#printer"></use>-->
<!--</svg>-->
<!--</div>-->
<!--<span><translate>Print</translate></span>-->
<!--</a>-->
<div class="line-popover"
     ng-if="ctlPostCard.currentUserIsSender || ctlPostCard.placesWithRemoveAccess.length > 0 || ctlPostCard.post.wipeAccess || ctlPostCard.hasPlacesWithControlAccess()"></div>

<a class="_df list-items _aic _fw" ng-click="ctlPostCard.attachPlace();" ng-if="ctlPostCard.currentUserIsSender">
  <div class="_aic _df">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
    </svg>
  </div>
  <span><translate>Attach a Place</translate></span>
</a>


<a class="_df list-items _aic _fw" ng-click="ctlPostCard.seenBy();" ng-if="ctlPostCard.currentUserIsSender">
  <div class="_aic _df">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#eye-open"></use>
    </svg>
  </div>
  <span><translate>Seen by...</translate></span>
</a>

<a ng-if="ctlPostCard.post.wipeAccess && ctlPostCard.post.recipients.length == 0"
   ng-click="$event.stopPropagation(); ctlPostCard.retract();"
   class="_df list-items _aic _fw red">
  <div class="_aic _df">
    <svg class="_r45 _16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#retract"></use>
    </svg>
  </div>
  <span><translate>Retract</translate></span>
</a>

<div class="line-popover" ng-if="ctlPostCard.currentUserIsSender"></div>


<a class="_df list-items _aic _fw cursor-pointer"
   ng-if="ctlPostCard.hasPlacesWithControlAccess()"
   popover-class="white-pop"
   data-popover-placement="{{$root._direction == 'ltr' ? 'right-center auto' : 'left-center auto'}}"
   data-uib-popover-template="'app/messages/partials/popovers/move-to.html'"
   data-popover-append-to-body="false"
   translate-attrs="data-uib-popover"
   data-popover-is-open="ctlPostCard.showMoveTo"
   ng-mouseover="ctlPostCard.toggleMoveTo(true)"
   ng-mouseleave="ctlPostCard.toggleMoveTo(false)">

  <div class="_aic _df">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#places"></use>
    </svg>
  </div>
  <span class="_df _fw"><translate>Move from</translate></span>
  <div class="_aic _df">
    <svg class="_r-90 _16svg mirror">
      <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
    </svg>
  </div>
</a>
<a class="_df list-items _aic _fw red cursor-pointer"
   ng-if="ctlPostCard.placesWithRemoveAccess.length > 0 && ! ( ctlPostCard.post.wipeAccess && ctlPostCard.post.places.length == 1 && ctlPostCard.post.recipients.length == 0 )"
   popover-class="white-pop"
   data-popover-placement="{{$root._direction == 'ltr' ? 'right-center auto' : 'left-center auto'}}"
   data-uib-popover-template="'app/messages/partials/popovers/remove-from.html'"
   data-popover-append-to-body="true"
   translate-attrs="data-uib-popover"
   data-popover-is-open="ctlPostCard.showRemoveFrom"
   ng-mouseover="ctlPostCard.toggleRemoveFrom(true)"
   ng-mouseleave="ctlPostCard.toggleRemoveFrom(false)">

  <div class="_aic _df">
    <svg class="_r45 _16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
    </svg>
  </div>
  <span class="_df _fw"><translate>Remove from</translate></span>
  <div class="_aic _df">
    <svg class="_r-90 _16svg mirror">
      <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
    </svg>
  </div>
</a>
