<div ng-mouseover="ctlPostCard.toggleRemoveFrom(true)" class="_difv"
     ng-mouseleave="ctlPostCard.toggleRemoveFrom(false)">
  <a class="_df list-items force remove-from-places _aic _fw"
     data-ng-repeat="place in ctlPostCard.getPlacesWithRemoveAccess()"
     ng-click="ctlPostCard.remove(place)">
    <div class="_aic _df">
      <div class="post-card-place-avatar">
        <img class="" ng-src="{{place | picture : 'x64'}}"/>
      </div>
    </div>
    <div class="_df _fh text-wrap">
      <p class="_txe place-name">{{place.name}}</p>
      <span class="_txe _fw">@{{place.id}}</span>
    </div>
  </a>
</div>
