<div id="setting" class="popup-panel">
  <h6><translate>View Settings</translate></h6>
  <div class="list-items">
    <input class="_fr" type="checkbox" id="content" name="content" ng-click="ctl.toggleContentPreview()" ng-checked="ctl.viewSetting.content"/>
    <label class="_fw setting" for="content"> <translate>Content Preview</translate></label>
  </div>
  <div class="list-items">
    <input class="_fr" type="checkbox" id="attachments" name="attachments" ng-click="ctl.toggleAttachmentsPreview()" ng-checked="ctl.viewSetting.attachments"/>
    <label class="_fw setting" for="attachments"><translate>Attachments</translate></label>
  </div>
  <div class="list-items" ng-if="!ctlMessages.isSentMode">
    <input class="_fr" type="checkbox" id="comments" name="comments" ng-click="ctl.toggleCommentsPreview()" ng-checked="ctl.viewSetting.comments"/>
    <label class="_fw setting" for="comments"><translate>Comments</translate></label>
  </div>
  <!--<div ng-if="ctl.currentPlaceId">-->
    <!--<div class="list-items">-->
      <!--<input class="_fr" type="checkbox" id="msg" name="msg" ng-click="ctl.toggleQuickMessagePreview()" ng-checked="ctl.viewSetting.quickMessage"/>-->
      <!--<label class="_fw setting" for="msg">Quick message</label>-->
    <!--</div>-->
  <!--</div>-->
</div>
