<div id="setting" class="popup-panel">
  <div>
   <span class="spansetting"> View setting</span>
  </div>
  <div>
    <div class="list-items">
      <input class="_fr" type="checkbox" id="content" name="content" ng-click="ctlMessages.toggleContentPreview()" ng-checked="ctlMessages.viewSetting.content"/>
      <label class="_fw setting" for="content"> Content Preview</label>
    </div>
  </div>
  <div>
    <div class="list-items">
      <input class="_fr" type="checkbox" id="attachments" name="attachments" ng-click="ctlMessages.toggleAttachmentsPreview()" ng-checked="ctlMessages.viewSetting.attachments"/>
      <label class="_fw setting" for="attachments">Attachments</label>
    </div>
  </div>
  <div>
    <div class="list-items">
      <input class="_fr" type="checkbox" id="comments" name="comments" ng-click="ctlMessages.toggleCommentsPreview()" ng-checked="ctlMessages.viewSetting.comments"/>
      <label class="_fw setting" for="comments">Comments</label>
    </div>
  </div>
  <div ng-if="ctlMessages.currentPlaceId">
    <div class="list-items">
      <input class="_fr" type="checkbox" id="msg" name="msg" ng-click="ctlMessages.toggleQuickMessagePreview()" ng-checked="ctlMessages.viewSetting.quickMessage"/>
      <label class="_fw setting" for="msg">Quick message</label>
    </div>
  </div>
</div>
