<div id="setting" class="popup-panel">
  <h6><translate>Sort by</translate></h6>
  <a class="list-items" ng-if="!ctrl.currentPlaceId" ui-sref="app.messages-favorites-sorted({ sort: 'latest-messages' })" ui-sref-active="active" ng-click="_track('posts', 'sort by recent posts')"><translate>Recent Messages</translate></a>
  <a class="list-items" ng-if="!ctrl.currentPlaceId" ui-sref="app.messages-favorites-sorted({ sort: 'latest-activity' })" ui-sref-active="active" ng-click="_track('posts', 'sort by latest activity')"><translate>Latest Activity</translate></a>
  <a class="list-items" ng-if="ctrl.currentPlaceId" ui-sref="app.place-messages-sorted({ sort: 'latest-messages', placeId: ctrl.currentPlaceId })" ui-sref-active="active" ng-click="_track('posts', 'sort by recent posts')"><translate>Recent Messages</translate></a>
  <a class="list-items" ng-if="ctrl.currentPlaceId" ui-sref="app.place-messages-sorted({ sort: 'latest-activity', placeId: ctrl.currentPlaceId })" ui-sref-active="active" ng-click="_track('posts', 'sort by latest activity')"><translate>Latest Activity</translate></a>
</div>
