<div id="setting" class="popup-panel">
  <h6><translate>Sort by</translate></h6>
  <a class="list-items ng-class:{ 'active': ctlMessages.messagesSetting.sort == 'latest-messages' }" href="{{ctlMessages.urls.latestMessages}}" ng-click="_track('posts', 'sort by recent posts')"><translate>Recent Messages</translate></a>
  <a class="list-items ng-class:{ 'active': !(ctlMessages.messagesSetting.sort == 'latest-messages') }" href="{{ctlMessages.urls.latestActivity}}" ng-click="_track('posts', 'sort by latest activity')"><translate>Latest Activity</translate></a>
</div>
