<div id="add-view">
  <div class="_difv _fw">
      <div class="_difh modal-add">
        <h5 class="_df _fw">Delete a place</h5>
        <div class="_df" ng-click="cancel()"><img src="../assets/icons/close_16.png" class="_fh"></div>
      </div>
    <div class="_difv _fw">
      <div ng-if="!nextStep" class="_fw _df _jcc">
        Are you sure ?! Read our <a class="nst-mood-cheerful"> Privacy Policy </a> for more details.
      </div>
      <div ng-if="nextStep" class="_fw _df _jcc">
        Enter your place name
        <input id="input-search" name="mysearch" ng-model="PlaceName" ng-keyup="checkplace(PlaceName)" placeholder="Place Name">
        </input>
      </div>
      <div class="_difh _jcc wngbot">
        <div class="switch" data-ng-init="lockmodal = false">
          <div class="btn-white" ng-click="cancel()"><a class="large-font">Cancel</a></div>
          <div ng-hide="nextStep" class="btn-green" ng-click="nextStep =! nextStep"><a class="large-font">Next Step</a></div>
          <div data-ng-if="deletevalidated" class="btn-red" ng-click="ok()"><a class="large-font">DELETE</a></div>
        </div>
      </div>

    </div>
  </div>
</div>
