<div id="delete-view">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw">Leaving {{place.name}}</p>
      <div class="_df" ng-click="cancel()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail">Do you want to leave "{{place.name}}" place?</p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons" data-ng-init="lockmodal = false">
          <div class="btn-white _jcc _df" ng-click="cancel()"><a class="_df">No</a></div>
          <div class="btn-red _jcc _df" ng-click="ok()"><a class="_df">Yes</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
