<div>
  <div>
    <nested-navbar></nested-navbar>
  </div>
  <div class="_dtr _fh">
    <div class="_dtc">
      <div class="_dt _fh _fw _bggray">
        <div id="place-option-body">
          <!--<p data-ng-bind="place_option.place.name"></p>-->
          <!--<p data-ng-bind="place_option.name">name is:</p>-->
          <div class="room-name">
            <div class="account-initials-64 room-pic "></div>
            <h5>Room Name</h5>
            <h6 class="nst-mood-storm">RoomID@nested.me</h6>
            <span>Accesses</span>
          </div>
          <div class="nst-accesses">
            <h5>Non_Teammates can read </h5>

            <h5>Non_Teammates can write </h5>

            <h5>Email</h5>

            <h5>Show in search </h5>

            <h5>Teammates</h5>

          </div>


          <div class="nst-teammates">
            <div initials class="account-initials" data-ng-if="!event.actor.picture.org.uid" data-ng-bind="event.actor.name.initials"></div>
            <div class="account-initials"></div>
          </div>


          <div class="nst-members">
            <div initials class="account-initials" data-ng-if="!event.actor.picture.org.uid" data-ng-bind="event.actor.name.initials"></div>
            <div class="account-initials"></div>
          </div>


        </div>

      </div>
    </div>



