<div id="add-view">
  <div class="_difv _fw">
      <div class="_difh modal-add">
        <h5 class="_df _fw" style="justify-content: center">Warning</h5>
        <div class="_df" ng-click="$close(result)"><img src="../assets/icons/close_16.png" class="_fh"></div>
      </div>
    <div class="_difv _fw">
      <div class="_fw _df _jcc">
        You are about to change your privacy access public view this place, Are you still want to change ?!
      </div>
      <div class="_difh _jcc wngbot">
        <div class="switch">
          <input type="checkbox" id="sw-notification" class="inpsw" name="notification" />
          <label class="on active" for="sw-notification" data-ng-click="notification && $event.preventDefault();"><div class="labtxt _fw">YES</div></label>
          <label class="noton" for="sw-notification" ng-click="$close(result)"><div class="labtxt _fw">CANCEL</div></label>
        </div>
      </div>

    </div>
      <div class="nst-modal-add-teammate _df _fw _jcc">
          <p>Read our <a class="nst-mood-cheerful">Privacy Policy</a> for more details.</p>
      </div>
  </div>
</div>
