<div class="nst-content second-view" id="content-wrapper">
  <section class="content _bgwhite">
    <div class="navbarillu"></div>
    <div class="panel-profile-setting">
      <h2 class="{{$root._direction == 'rtl' ? '_fr' : '_fl'}}"><translate>Reset Password</translate><br></h2>
      <a class="butn-white-nav {{$root._direction == 'rtl' ? '_fl' : '_fr'}}" ui-sref="app.profile()">
        <translate>Back to the profile</translate>
      </a>
      <form ng-submit="ctlPass.change(changePassForm.$valid);" name="changePassForm" novalidate>
        <div class="inner-panel">
          <div class="form-group" ng-class="{ 'has-error' : changePassForm.oldPassword.$invalid && ctlPass.submitted}">
            <label for="oldPassword">&nbsp;</label>
            <label class="error-message" ng-if="changePassForm.oldPassword.$error.required && ctlPass.submitted"><translate>Enter your old password</translate></label>
            <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" data-ng-model="ctlPass.model.oldPassword" translate-attrs="placeholder" required/>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPassword.$invalid && ctlPass.submitted}">
            <label for="newPassword">&nbsp;</label>
            <label class="error-message" ng-if="changePassForm.newPassword.$error.required && ctlPass.submitted"><translate>Enter your new password</translate></label>
            <label class="error-message" ng-if="changePassForm.newPassword.$error.minlength && !changePassForm.newPassword.$pristine && ctlPass.submitted"><translate>The old password you have entered is too short </translate></label>
            <label class="error-message" ng-if="changePassForm.newPassword.$error.maxlength && !changePassForm.newPassword.$pristine && ctlPass.submitted"><translate>The old password you have entered is too long</translate></label>
            <input type="password" class="form-control" name="newPassword" placeholder="New Password" data-ng-model="ctlPass.model.newPassword" translate-attrs="placeholder" required ng-minlength="6" ng-maxlength="24"/>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPasswordConfirm.$invalid && ctlPass.submitted}">
            <label for="newPasswordConfirm">&nbsp;</label>
            <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.required && ctlPass.submitted"><translate>Retype your new password.</translate></label>
            <label class="error-message" ng-if="changePassForm.newPasswordConfirm.$error.matchTo && !changePassForm.newPasswordConfirm.$pristine && ctlPass.submitted && !changePassForm.newPasswordConfirm.$error.required" translate-inner>The passwords you typed do not match</label>
            <input type="password" class="form-control" name="newPasswordConfirm" placeholder="Confirm new password" data-ng-model="ctlPass.model.newPasswordConfirm" required match-to="ctlPass.model.newPassword" translate-attrs="placeholder"/>
          </div>
        </div>
        <div>
          <input class="butn-green _fw" type="submit" value="Change" translate-attrs="value"/>
        </div>
      </form>
    </div>
  </section>
</div>
