body.isDesktop {
  min-width: 1024px;
  .modal-mlg {
    width: calc(100% - 160px);
    height: calc(100% - 160px);
  }
  .nst-container{
    margin-left: 272px;
    width: calc(100% - 272px);
  }
  .noSide
  .nst-container{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    animation: appearence $animation-dur;
  }
  // .nst-navbar.nfeed {
  //   .menu-links-butn {
  //     svg { display: flex;}
  //   }
  // }
  // .nst-navbar-f.nfeed {
  //   .menu-links-butn {
  //     svg { display: flex;}
  //   }
  // }
  .navbarillu {
    display: none;
  }
}


@media screen and ( max-width: 1100px ){
  nst-navbar .menu-links-butn {
    span {
      max-width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: max-width $animation-dur;
    }
    &:hover {
      span {
        max-width: 200px;
      }
    }
    
  }
  nst-navbar .content .bot-nav .navigation {
    min-width: 480px;
  }
}