
/**
  *********************************
  *     Keyframes                 *
  *********************************
*/
@keyframes appearence {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes appearence-2 {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes modal-dialog {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
  }
}
@keyframes modal-dialog2 {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(0,0);
  }
}
@keyframes post-view {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $color-white;
  }
}
@keyframes appearenceOp {
  from {opacity: 0;}
  to {opacity: .5;}
}
@keyframes app-tr {
  0% {
    opacity: 0;
    left: -40px;
  }
  90% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: .8;
    left: 0;
  }
}
@keyframes off-right {
  0% {
    left: -4px;
  }
  100% {
    left: 0;
  }
}
@keyframes post-comment {
  0% {
    top: -100px;
    height: 1px;
    opacity: 0;
  }
  100% {
    top: 0;
    height: auto;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@keyframes new-comment-hot {
  0% {
    background-color: transparent;
    max-height: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
    max-height: 300px;
  }
  45% {
    background-color: rgba(0, 121, 242, .16);
  }
  75% {
    background-color: rgba(0, 121, 242, .16);
  }
  100% {
    max-height: none;
    background-color: transparent;
  }
}
@keyframes activity-item-hot {
  from {
    max-height: 0;
  }
  to {
    max-height: 64px;
  }
}

@keyframes activity-item-normal {
  from {
    background-color: $hot-bg-color;
  }
  to {
    background-color: $color-white;
  }
}

@keyframes recent-activity-item-hot-light {
  from {
    max-height: 0;
    background-color: $hot-bg-color;
  }
  to {
    max-height: 512px;
    background-color: $hot-bg-color;
  }
}
@keyframes recent-activity-item-hot-dark {
  from {
    max-height: 0;
    background-color: $hot-bg-color-dark;
  }
  to {
    max-height: 512px;
    background-color: $hot-bg-color-dark;
  }
}

@keyframes recent-activity-item-normal {
  from {
    background-color: $hot-bg-color;
  }
  to {
    background-color: $color-white;
  }
}

@keyframes recent-activity-item-normal-dark {
  from {
    background-color: $hot-bg-color-dark;
  }
  to {
    background-color: transparent;
  }
}

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }
@keyframes remove-max-height {
  0% { max-height: 0;}
  90% { max-height: 500px;}
  100% { max-height: none;}
}
@keyframes remove-max-height-rev {
  0% { max-height: none;}
  10% { max-height: 500px;}
  100% { max-height: 0;}
}
@keyframes more-recipient-badge {
  0% {
    transform: scale(.5,.5) translateY(1px);;
  }
  20% {
    transform: scale(1,1) translateY(1px);;
  }
  100% {
    transform: scale(1,1) translateY(1px);;
  }
}
@keyframes attachment-progress {
  from {
    -webkit-transform: translateX(0);
  }
  to { 
    -webkit-transform: translateX(24px);
  }
}

@keyframes attachment-progress-rtl {
  from {
    -webkit-transform: translateX(0);
  }
  to { 
    -webkit-transform: translateX(-24px);
  }
}

@keyframes places-loading {
  0% {
    visibility: visible;
    opacity: .92;
  }
  30% { 
    opacity: .92;
  }
  80% { 
    opacity: .92;
  }
  100% { 
    opacity: 0.92;
  }
}
