/**
  ******************************
  *           fonts            *
  ******************************
*/

@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Light", 300, null, eot ttf woff woff2);
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Regular", 400, null, eot ttf woff woff2);
@include font-face(OpenSans, "../assets/fonts/OpenSans/OpenSans-Bold", bold, null, eot ttf woff woff2);
@include font-face(YekanBakh,"../assets/fonts/YekanBakh/YekanBakhNestedWeb-Light", 300, null, eot ttf woff woff2);
@include font-face(YekanBakh,"../assets/fonts/YekanBakh/YekanBakhNestedWeb-Regular", 400, null, eot ttf woff woff2);
@include font-face(YekanBakh,"../assets/fonts/YekanBakh/YekanBakhNestedWeb-Bold", bold, null, eot ttf woff woff2);


/**
  ******************************
  *          reset             *
  ******************************
*/
body,
html {
  -webkit-overflow-scrolling: touch;
  //height: 100%;
  min-width: 240px;
  overflow-x: hidden;
}
html {
  height: 100%;
}
body {
  font-family: $font-family-per-reg, $font-family-eng-reg;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-y: scroll;
}

* {
  box-sizing: inherit;
  vertical-align: inherit;
    &:focus {
    outline: none;
  }
  &:visited, &:link ,&:active, &:hover {
    text-decoration: none;
  }
}
u:hover {
  text-decoration: underline;
}

a,a:focus{
  outline-width:0;
  text-decoration: none;
}
a {
  color: $color-solid-48;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
cite {
  font-style: normal;
}
mark {
  background-color: inherit;
  color: inherit;
  @extend ._wrb
}

div, ul, ol {
  margin: 0;
  padding: 0;
}

select {
  color: $color-solid;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 $color-solid;
}

iframe {
  border: none;
}
[ng-click],[data-ng-click],[onclick]{
  cursor: pointer;
}
vr {
  width: 1px;
  background-color: $color-border;
}

//Remove bug in safari for justify aligned texts
@media not all and (min-resolution:.001dpcm) { 
    .post-card .post-body p { 
      text-align: initial!important; 
    }
}