.a {
  color: $color-sense;
  text-decoration: none;
}
.a-hover:hover {
  color: $color-sense;
}

.hovercolor:hover {
  background-color: $color-sense-5;
}

.emojione {
  height: 1em;
  width: 1em;
  vertical-align: bottom;
  align-self: center;
}

hr {
  margin-top: .7em;
  margin-bottom: .7em;
  width: 100%;
}
.first-child {
  margin-top: 20px;
}
