.post-area {
  justify-content: center;
  z-index: 20;
  padding-top: 16px;
  position: relative;
  > * {
    margin: 0 24px;
    &._fw {
      max-width: 720px;
      margin: auto;
      display: block;
      width: calc(100% - 48px);
    }
  }
  .loading {
    margin-top: 50px;
    z-index: 999;
  }
}

.content {
  .loading {
    margin-top: -22px;
    margin-left: -22px;
    z-index: 999;
    position: fixed;
    left: 50vw;
    top: 50vh;
  }
}

.filter-bar {
  height: 48px;
  flex: none;
  position: relative;
  width: 100%;
  justify-content: center;
  background-color: $color-bg-nested;
  .filter-bar-inner {
    background-color: $color-bg-nested;
    z-index: 22;
    height: 48px;
    padding-top: 8px;
    display: flex;
    // position: fixed;
    max-width: 880px;
    min-width: 544px;
    width: calc(100vw - 480px);
    top: 95px;
    left: 50vw;
    .toolbar {
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      height: 100%;
      border-radius: 8px;
      border: 1px solid $color-breeze-5-new;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 4px;
      transition: background-color $animation-dur;
      .default-mode-butn {
        margin-left: 4px;
        fill: $color-white;
        &:hover {
          opacity: 1;
        }
      }
      .devider {
        height: 24px;
        width: 1px;
        background-color: $color-black;
        opacity: .16;
        display: flex;
        flex: none;
        margin: 0 8px;
      }
      p {
        margin-right: 4px;
      }
      > span,
      > * > span {
        color: $color-solid;
        opacity: .72;
        font-size: 12px;
      }
      b span {
        opacity: 1;
        color: $color-white;
      }
      svg {
        fill: $color-solid;
        opacity: .72;
      }
      &.unread-mode,
      &.selected-mode {
        > span,
        > * > span {
          color: $contrast-bg-color;
        }
        svg {
          fill: $contrast-bg-color;
        }
      }
      &.unread-mode {
        background-color: $color-bg-pending;
        border: 1px solid $color-bg-pending;
      }
      &.selected-mode {
        background-color: $color-solid;
        border: 1px solid $color-solid;
      }
    }
  }
  span {
    line-height: 32px;
  }
  a span {
    &.force {
      color: $color-force-wire;
    }
  }
  b {
    line-height: 32px;
  }
  p {
    margin: 0;
    span {
      margin: 0 8px;
    }
    a {
      white-space: nowrap;
      font-size: 12px;
      color: $color-new-hurricane;
      font-size: 12px;
    }
  }
  .icon-filter {
    line-height: 24px;
    position: relative;
    z-index: 54;
    height: 16px;
    width: 16px;
  }
  .disable {
    opacity: .08;
  }
}

.tool-bar {
  height: 42px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  position: relative;
  margin: 16px;
  align-self: flex-end;
  width: calc(100% - 32px);
}

