<div class="maincontainer _fw _fh ng-class:{'navtiny' : ctlApp.navView,'sidetiny' : sideView}" >
  <nested-sidebar data-ng-model="sidebar" class="_fn _fh"></nested-sidebar>
  <div class="nst-container">
    <nested-navbar data-ng-model="navbar" place="ctlMessages.currentPlace"></nested-navbar>

    <div class="nst-content _tr" id="content-wrapper" onscroll="angular.element(this).scope().ctlMessages.scroll(event);angular.element(this).scope().ctlApp.scroll(event)">
      <section class="content">
        <div class="filter-bar _fw">
            <div class="iconsblock popover-white-nst-sort" uib-popover-template="'app/messages/partials/popovers/sort_popover.html'" data-popover-placement="bottom-center" popover-trigger="outsideClick">
              <span class="nst-mood-storm _df">{{ctlMessages.messagesSetting.sort}}</span>
              <div class="icon icon-viewicon-sort _df"></div>
            </div>
            <div class="iconsblock popover-white-nst-setting" uib-popover-template="'app/messages/partials/popovers/setting_popover.html'" data-popover-placement="bottom-center" popover-trigger="outsideClick">
              <div class="icon icon-viewicon- "></div>
            </div>
        </div>

        <div class="_fw quick-message _fn" ng-if="ctlMessages.ViewSetting.quickMessage">
          <input class="_fw input input-title" placeholder="Quick Message Title..."/>
          <input class="_fw input" placeholder="quick message text..."/>

        </div>
        <div class="post-area">
          <post-card class="_fw" data-ng-repeat="msg in ctlMessages.messages" post="msg" settings="ctlMessages.ViewSetting"></post-card>
          <div class="text-center _fw moreevent">
            <a href="javascript:void(0);" id="load-more-events" class="nst-mood-cheerful" data-ng-click="ctlMessages.loadMore()">Load More...</a>
          </div>
        </div>

      </section>
      <div class="content-plus" id="content-plus">
        <div>
          <div class="name">Recent Activities</div>
          <recent-activity-item ng-repeat="act in ctlMessages.activities" model="act" class="row"></recent-activity-item>
        </div>
      </div>
    </div>
  </div>
</div>
