<div class="maincontainer _fw _fh">
  <div class="sidebar">
    <div class="nested-logo"><div id="Logo"></div></div>
    <div class="compose"><a class="btn-green" id="compose">Compose</a></div>
    <div class='side-menu'>
      <div class="side-menu-item"><div class="icon icon-solid icon-side icon-all-place"></div><a class="item">All Places</a></div>
      <div class="side-menu-item"><div class="icon icon-solid icon-side icon-bookmarks"></div><a class="item">Bookmarks</a></div>
      <div class="side-menu-item"><div class="icon icon-solid icon-side icon-sent"></div><a class="item">Sent</a></div>
    </div>
    <div class="side-place">
      <div class="side-place-item">
        <div class="side-place-item-image">
          <img initials="SalPersonal" data-url="place.picture.x32.url" data-width="40" data-height="40" data-radius="20" class="account-initials-40" data-word-count="2" data-font-size="16"/>
        </div>
        <a class="_fw">Sal's Personal</a>
        <span class="e2-arrow _df">
          <label data-ng-model="colp"
             class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
             data-ng-click="colp =! colp">
          </label>
        </span>
      </div>
      <div class="side-place" data-ng-show="colp">
        <div class="side-place-item">
          <div class="side-place-item-image">
            <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
          </div>
          <div class="lines">
            <div class="box-r"></div>
            <div class="box-b"></div>
            <div class="box-n"></div>
            <div class="box-n"></div>
          </div>
          <div class="_fw _fh side-place-name">
            <a class="_fw">Nested Music</a>
          </div>

        </div>
      </div>
      <div class="side-place-item">
        <div class="side-place-item-image">
          <img initials="place.name" data-url="place.picture.x32.url" data-width="40" data-height="40" data-radius="20" class="account-initials-40" data-word-count="2" data-font-size="16"/>
        </div>
        <a class="_fw">Ronak Software Group</a>
        <span class="e2-arrow _df">
          <label data-ng-model="colp"
                 class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
                 data-ng-click="colp =! colp">
          </label>
        </span>
      </div>
      <div class="side-place" data-ng-show="colp">
        <div class="side-place-item">
          <div class="side-place-item-image">
            <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
          </div>
          <div class="lines">
            <div class="box-r"></div>
            <div class="box-b"></div>
            <div class="box-r"></div>
            <div class="box-n"></div>
          </div>
          <div class="_fw _fh side-place-name">
            <a class="_fw">Nested</a>
            <span class="e2-arrow _df">
              <label data-ng-model="colp"
                 class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
                 data-ng-click="colp =! colp">
          </label>
            </span>
          </div>
        </div>
        <div class="side-place">
          <div class="side-place-item">
            <div class="side-place-item-image">
              <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
            </div>
            <div class="lines">
              <div class="box-n"></div>
              <div class="box-l"></div>
              <div class="box-n"></div>
              <div class="box-l"></div>
            </div>
            <div class="lines">
              <div class="box-r"></div>
              <div class="box-b"></div>
              <div class="box-r"></div>
              <div class="box-n"></div>
            </div>
            <div class="_fw _fh side-place-name">
              <a class="_fw">Copy-writing</a>
              <span class="e2-arrow _df">
                <label data-ng-model="colp"
                 class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
                 data-ng-click="colp =! colp">
          </label>
              </span>
            </div>

          </div>
          <div class="side-place-item">
            <div class="side-place-item-image">
              <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
            </div>
            <div class="lines">
              <div class="box-n"></div>
              <div class="box-l"></div>
              <div class="box-n"></div>
              <div class="box-l"></div>
            </div>
            <div class="lines">
              <div class="box-r"></div>
              <div class="box-b"></div>
              <div class="box-r"></div>
              <div class="box-n"></div>
            </div>
            <div class="_fw _fh side-place-name">
              <a class="_fw">Design</a>
              <span class="e2-arrow _df">
                <label data-ng-model="colp"
                 class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
                 data-ng-click="colp =! colp">
          </label>
              </span>
            </div>
          </div>
          <div class="side-place-item">
            <div class="side-place-item-image">
              <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
            </div>
            <div class="lines">
              <div class="box-n"></div>
              <div class="box-l"></div>
              <div class="box-n"></div>
              <div class="box-l"></div>
            </div>
            <div class="lines">
              <div class="box-r"></div>
              <div class="box-b"></div>
              <div class="box-n"></div>
              <div class="box-n"></div>
            </div>
            <div class="_fw _fh side-place-name">
              <a class="_fw">Development</a>
              <span class="e2-arrow _df">
                <label data-ng-model="colp"
                 class="arrow-holder-nav {{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}"
                 data-ng-click="colp =! colp">
          </label>
              </span>
            </div>
          </div>
        </div>
        <div class="side-place-item">
          <div class="side-place-item-image">
            <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="20" class="account-initials-32" data-word-count="2" data-font-size="16"/>
          </div>
          <div class="lines">
            <div class="box-r"></div>
            <div class="box-b"></div>
            <div class="box-n"></div>
            <div class="box-n"></div>
          </div>
          <div class="_fw _fh side-place-name">
            <a class="_fw">The Kichen</a>
          </div>

        </div>
      </div>
      <div class="side-place-item">
        <div class="side-place-item-image">
          <img initials="place.name" data-url="place.picture.x32.url" data-width="40" data-height="40" data-radius="20" class="account-initials-40" data-word-count="2" data-font-size="16"/>
        </div>
        <a class="_fw">Z Conf7</a>
      </div>
    </div>
    <div class="side-profile">
      <img initials="user.name" data-url="user.picture.x32.url" data-width="32" data-height="32" data-radius="16" class="account-initials-32" data-word-count="2" data-font-size="16"/>
      <div class="_fw _df"><a>Sal Naghavi<br><span class="nst-mood-storm">@kuttlass</span> </a></div>
      <div class="">
        <a href="#/place/{{events.place.id}}">
          <div class="icon icon-solid icon-more" data-tooltip-placement="top auto" data-uib-tooltip="Place settings"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar-border"></div>
  <div class="nst-container">
    <div class="nst-navbar _df">
      <div class="content">
        <div class="navbar-top">
          <div class="title-bar _difh margin-20 _vam _fl">
            <div class="logo-bar _df">
              <img initials="events.place.name" data-url="events.place.picture.x64.url" data-width="64" data-height="64" data-radius="32" class="account-initials-64" data-word-count="2"
                   data-font-size="16"/>
            </div>
            <div class="name title-bar-holder _difv">
              <a class="_df _fh"><b>Ronak software Group</b></a>
              <span class="nst-mood-storm _df _fh" data-ng-bind="events.place.id + '@nested.me'"></span>
            </div>
          </div>
        </div>

        <div class="navbar-bottom">
          <div class="_di menu-links-btn display-none">
            <img initials="events.place.name" data-url="events.place.picture.x64.url" data-width="64" data-height="64" data-radius="32" class="account-initials-64" data-word-count="2"
                 data-font-size="16"/>
          </div>
          <div class="menu-links">
            <div class="menu-links-btn _dib" ng-click="'#/messages'" ng-class="messages ? 'selected' : null">Messages</div>
            <div class="menu-links-btn _dib" ng-click="'#/activity'" ng-class="events ? 'selected' : null">Activity</div>
            <div class="menu-links-btn _dib" ng-click="'#/option'" ng-class="options ? 'selected' : null">Option</div>
            <input class="_dib display-none"/>
            <div class="menu-links-search _dib _fr"><div class="nst-place-icon-search icon-search-rotated _dib"></div></div>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="filter-bar _pr">
        <div class="filter-bar-hld">
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
        </div>
      </div>

      <div class="_fw quick-message">
        <input class="_fw input input-title" placeholder="Quick Message Title..."/>
        <input class="_fw input" placeholder="quick message text..."/>

      </div>

    </section>
  </div>
</div>
