.post-area {
  justify-content: center;
  z-index: 20;
  > * {
    margin: 0 24px;
    &._fw {
      width: calc(100% - 48px);
    }
  }
}

.filter-bar {
  border-bottom: 1px solid $color-border;
  height: 32px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  position: relative;
  margin: 24px 24px 16px 24px;
  align-self: flex-end;
  width: calc(100% - 48px);
  z-index: 60;
  background-color: $color-bg-nested;
  span {
    color: $color-black04;
    font-size: 11px;
    white-space: nowrap;
    line-height: 32px;
  }
  a span {
    color: $color-solid;
    &.force {
      color: $color-force-wire;
    }
  }
  p {
    margin: 0;
    span{
      font-size: 12px
    }
    a {
      white-space: nowrap;
      font-size: 12px;
    }
  }
  .selected-cards-action {
    a {
      margin: 0 8px;
      svg {
        margin: 0 4px;
      }
    }
  }
  .icon-filter {
    line-height: 24px;
    position: relative;
    z-index: 54;
    height: 16px;
    width: 16px;
    fill: $color-black04;
  }
  .disable {
    opacity: .08;
  }
  .mark-read {
    margin-right: 28px;
    svg {
      fill: $color-black04;
      margin-left: 4px;
    }
  }
}
.tool-bar {
  height: 42px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  position: relative;
  margin: 16px;
  align-self: flex-end;
  width: calc(100% - 32px);
}

hr.hot-message-separator {
  border: 0;
  width: 92%;
  margin-top: 24px;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, $color-breeze, $color-sense, $color-breeze);
}
