<div class="maincontainer _fw _fh">
  <div class="sidebar">
    <div class="nested-logo">
      <div id="Logo"></div>
    </div>
    <div class="compose">
      <div class="btn-green" id="compose">Compose</div>
    </div>
  </div>
  <div class="nst-container">
    <div class="nst-navbar">
      <div class="intern-navbar">
        <div class="navbar-top">
          <div class="title-bar _difh margin-20 _vam _fl">
            <div class="logo-bar _df">
              <img initials="events.place.name" data-url="events.place.picture.x64.url" data-width="64" data-height="64" data-radius="32" class="account-initials-64" data-word-count="2"
                   data-font-size="16"/>
            </div>
            <div class="name title-bar-holder _difv">
              <a class="_df _fh"><b>Ronak software Group</b></a>
              <span class="nst-mood-storm _df _fh" data-ng-bind="events.place.id + '@nested.me'"></span>
            </div>
          </div>
        </div>

        <div class="navbar-bottom">
          <div class="_di menu-links-btn display-none">
            <img initials="events.place.name" data-url="events.place.picture.x64.url" data-width="64" data-height="64" data-radius="32" class="account-initials-64" data-word-count="2"
                 data-font-size="16"/>
          </div>
          <div class="menu-links">
            <div class="menu-links-btn _dib" ng-click="'#/messages'" ng-class="messages ? 'selected' : null">Messages</div>
            <div class="menu-links-btn _dib" ng-click="'#/activity'" ng-class="events ? 'selected' : null">Activity</div>
            <div class="menu-links-btn _dib" ng-click="'#/option'" ng-class="options ? 'selected' : null">Option</div>
            <input class="_dib display-none"/>
            <div class="menu-links-search _dib _fr"><div class="nst-place-icon-search icon-search-rotated _dib"></div></div>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="filter-bar _pr">
        <div class="filter-bar-hld">
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
          <div class="margin-l-15 nst-place-icon-search _dib"></div>
        </div>
      </div>

      <div class="_fw quick-message">
        <input class="_fw input input-title" placeholder="Quick Message Title..."/>
        <input class="_fw input" placeholder="quick message text..."/>

      </div>

    </section>
  </div>
</div>
