<a href="{{place.href}}" class="side-place-item-inner">
  <div ng-if="place.avatar" class="side-place-item-image">
    <div class="unreadPlace" ng-if="ctlSidebar.placesNotifCountObject[place.id] > 0">
      <svg class="pendfill">
        <use xlink:href="/assets/icons/nst-icn24.svg#unread-circle"></use>
      </svg>
    </div>
    <img class="" ng-src="{{place.avatar}}" />
  </div>
  <div>
    <p ng-click="ctlSidebar.onPlaceClick($event,place);" class="_fw" data-ellipsis>
      {{place.name}}
    </p>
  </div>
</a>
<nst-sidebar-place-info grand-place="place" unread-mode="ctlSidebar.isUnreadMode"></nst-sidebar-place-info>