<div class="side-place-item-inner">
  <div class="side-place-item-image"
       data-ng-include="'app/components/sidebar/picture.html'" onload="place = place; size = 40"></div>

  <a href="{{place.url}}" class="_fw">{{place.getName()}}</a>

  <span data-ng-if="place.children.length > 0" class="e2-arrow _df">
    <label class="arrow-holder-nav {{place.isCollapsed ? 'nst-arrow' : 'nst-arrow-rotated'}}"
           data-ng-click="place.isCollapsed =! place.isCollapsed">
    </label>
  </span>
</div>
<ul class="side-place" data-ng-if="place.children.length > 0" data-ng-show="!place.isCollapsed">
  <li class="side-place-item" data-ng-repeat="child in place.children"
      data-ng-include="'app/components/sidebar/subplace.html'" onload="place = child"></li>
</ul>
