<span class="e2-arrow _dib" data-ng-init="its_mine = events.placeAncestors.slice(0, place.id.split('.').length).join('.') == place.id; its_me = events.placeAncestors.join('.') == place.id">
    <label data-ng-model="colp" data-ng-show="place.children.length > 0"
           class="{{colp ? 'nst-arrow-rotated' : 'nst-arrow'}}" data-ng-init="colp = its_mine && !its_me"
           data-ng-click="colp =! colp"></label>
</span>
<span>
    <img class="account-picture" data-ng-if="place.picture.org.uid" src="{{place.picture.x32.url}}"/>
    <span class="account-initial" data-ng-if="!place.picture.org.uid" data-ng-bind="place.name | initials:2"></span>
</span>
<span class="place-name"><a href="#/events/{{place.id}}"><span data-ng-bind="place.name"></span></a></span>
<div class="e2-border"></div>

<ul data-ng-if="place.children.length > 0" data-ng-show="colp">
  <li data-ng-repeat="place in place.children"
      data-ng-init="its_mine = events.placeAncestors.slice(0, place.id.split('.').length).join('.') == place.id; its_me = events.placeAncestors.join('.') == place.id"
      class="sidebar-padding _tofe {{its_mine ? 'selected' : undefined}} {{its_me ? 'active' : undefined}}"
      data-ng-include="'app/components/sidebar/sidebar_subplace.html'" data-ng-model="place"></li>
</ul>
