<div class="sidebar">
  <div class="all-messages">
    all Messages
  </div>
  <ul>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">1th Grandplace</a>
    </li>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">2nd Grandplace</a>
    </li>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">3rd Grandplace</a>
    </li>
    <li>
      <ul>
        <li class="subplace">
          <img src="../assets/images/nested-logo.png"><a href="#">subplace A</a>
        </li>
        <li class="subplace">
          <img src="../assets/images/nested-logo.png"><a href="#">subplace B</a>
        </li>
        <li>
          <ul>
            <li class="subplace">
              <img src="../assets/images/nested-logo.png"><a href="#">subplace B1</a>
            </li>
            <li class="subplace">
              <img src="../assets/images/nested-logo.png"><a href="#">subplace B2</a>
            </li>
            <li>
              <ul>
                <li class="subplace">
                  <img src="../assets/images/nested-logo.png"><a href="#">subplace B2A</a>
                </li>
                <li class="subplace">
                  <img src="../assets/images/nested-logo.png"><a href="#">subplace B2B</a>
                </li>
              </ul>
            </li>
            <li class="subplace">
              <img src="../assets/images/nested-logo.png"><a href="#">subplace B3</a>
            </li>
            <li class="subplace">
              <img src="../assets/images/nested-logo.png"><a href="#">subplace B4</a>
            </li>
          </ul>
        </li>
        <li class="subplace">
          <img src="../assets/images/nested-logo.png"><a href="#">subplace C</a>
        </li>
        <li class="subplace">
          <img src="../assets/images/nested-logo.png"><a href="#">subplace D</a>
        </li>
      </ul>
    </li>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">Grandplace</a>
    </li>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">Hover: Arrow Show</a>
    </li>
    <li class="grandplace">
      <img src="../assets/images/yeoman.png"><a href="#">Grandplace</a>
    </li>
  </ul>
</div>

