<div class="nst-place-collapse">
  <img data-ng-show="subplace.children.length > 0" src="../assets/icons/arrow_16.png" data-ng-model="colp" data-ng-init="colp = false" data-ng-class="colp ? 'arrow-up' : 'arrow-down'" data-ng-click="colp =! colp"/>
</div>

<a href="#">
  <img class="sp-img" data-ng-if="subplace.picture.org.uid" src="{{subplace.picture.x32.url}}"/>
  <div data-ng-if="!subplace.picture.org.uid" class="account-initials-24" data-ng-bind="subplace.name | initials:2"></div>
  <span data-ng-bind="subplace.name"></span>
</a>

<ul data-ng-show="colp" data-ng-if="subplace.children.length > 0">
  <li class="subplace" data-ng-repeat="subplace in subplace.children" data-ng-include="'app/components/sidebar/sidebar_subplace.html'" data-ng-model="subplace"></li>
</ul>
