<div class="sidebar _df">
  <div class="sidebar-wrapper">
    <div class="side-top">
      <div class="nested-logo">
        <a href="#/">
          <div id="Logo"></div>
        </a>
      </div>
      <div class="compose"><a class="butn-green onlyExpand _tr" id="compose" href="{{ctlSidebar.urls.compose}}"><div class="icon icon-side icon-compose _df"></div><div class="onlyExpand _df">Compose</div> </a></div>
    </div>
    <div class="side-place-wrapper _fw" ng-scrollbars>
        <div class="side-menu">
          <div class="side-menu-item">
            <a href="{{ctlSidebar.urls.unfiltered}}"><div class="icon icon-solid icon-side icon-all-place _df"></div>
              <span class="item _df _fw fade-animation" ng-show="!sideView">All Places</span></a></div>
          <div class="side-menu-item" ng-if="false">
            <a href="{{ctlSidebar.urls.bookmarks}}"><div class="icon icon-solid icon-side icon-bookmarks"></div>
              <span class="item _fw" ng-show="!sideView">Bookmarks</span></a></div>
          <div class="side-menu-item" ng-if="false">
            <a href="{{ctlSidebar.urls.sent}}"><div class="icon icon-solid icon-side icon-sent"></div>
              <span class="item _fw" ng-show="!sideView">Sent</span></a></div>
        </div>
      <ul class="side-place" data-ng-if="ctlSidebar.invitations.length > 0">
        <li class="side-place-item" data-ng-repeat="invitaion in ctlSidebar.invitations">
          <div class="side-place-item-inner active">
            <a href="javascript:void(0);" ng-click="ctlSidebar.invitation.showModal(invitaion.id)" class="_fw">
              <div class="side-place-item-image">
                <img class="account-initials-40" src="{{invitaion.place.avatar}}"/>
              </div>

              <span class="_fw onlyExpand nst-mood-pending">{{invitaion.place.name}} (Pending Invitation)</span></span>
            </a>
          </div>
        </li>
      </ul>
      <ul class="side-place">
          <li class="side-place-item" data-ng-repeat="place in ctlSidebar.places"
              data-ng-include="'app/components/sidebar/place.html'" onload="place = place"></li>
        </ul>
      </div>
    <div class="side-profile">
      <div class="_difh _fw" ng-show="profileMenu">
        <li class="profile-menu-edit-profile _df _fn"></li>
        <li class="_df nst-mood-solid a-hover _fw fade-animation" ng-show="!sideView"><a class="nst-mood-solid _difh _fw" href="#/profile">Edit My profile</a></li>
      </div>
      <div class="_difh _fw" ng-show="profileMenu">
        <li class="profile-menu-signout _df _fn"></li>
        <li class="_df a-hover fade-animation _fw" ng-show="!sideView"><a class="nst-mood-solid _difh _fw" href="#/signout">Sign out</a></li>
      </div>
      <div class="_difh _fw" ng-click="profileMenu =! profileMenu">
        <img class="account-initials-32"
             initials="ctlSidebar.user.name" data-url="ctlSidebar.user.avatar"
             data-width="size" data-height="size" data-radius="20" data-word-count="2" data-font-size="16"/>
        <div class="_fw _df fade-animation" ng-show="!sideView">
          <a>{{ctlSidebar.user.name}}<br><span class="nst-mood-storm">@{{ctlSidebar.user.id}}</span> </a>
        </div>
        <div class="_df _fn fade-animation" ng-show="!sideView">
          <div class="icon icon-solid icon-more"></div>
        </div>
      </div>
      <div class="_df _fn _fw _jcc" ng-click="sideView =! sideView">
        <div ng-show="!sideView" class="nst-arrow-rotated-90"></div>
        <div ng-show="sideView" class="nst-arrow-rotated-270"></div>
      </div>
    </div>
    </div>
  <div class="sidebar-border"></div>
  </div>
</div>
