.sidebar-directive {
  position: relative;
  width: $sidebar-width;
  padding-top: 48px;
  max-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 48px;
  width: $sidebar-width - 8px;
  margin: 16px 4px 0 4px;
  padding: 6px;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid $color-breeze-new;
  flex: none;
  z-index: 56;
  transform: translateZ(0);
  @include user-select(none);
}

.unread-notif-badge {
  height: 20px;
  color: $color-white;
  background-color: rgb(255, 0, 20);
  border-radius: 10px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: #800000;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  top: 6px;
  transform: translateY(-40%);
  right: 6px;
  padding: 0 8px;
}

.sidebar-wrapper {
  z-index: 4;
  display: inline-flex;
  flex-direction: column;
  width: 100%; // background-color: $sidebar-color;
  position: relative;
  flex: none;
  transition: all $animation-dur;
  .side-place-item-inner {
    >*:last-child {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      >a {
        display: flex;
        line-height: 19px;
        @extend .nst-font-large;
      }
      >span {
        line-height: 16px;
        font-size: 13px;
        opacity: 0.25;
        max-width: 100%;
        display: block;
        @extend ._txe;
      }
      p span {
        display: block;
        @extend ._txe;
      }
    }
  }
  .unreadPlace {
    position: absolute;
    height: 24px;
    left: -2px;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-force;
    fill: $color-force;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.side-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  &.isSelected {
    font-weight: bold
  }
}

.side-places-wrapper { 
  z-index: 1;
  left: 0;
  flex: 1; // max-height: calc(100vh - 448px);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 260px);
  .places {
    position: relative;
    width: 100%;
    height: 100%; // justify-content: flex-start;
    padding: 16px 0;
    .ps-scrollbar-y-rail {
      z-index: 5
    }
    svg {
      // Temp : remove this
      max-width: 30px;
      max-height: 30px;
    }
    ul.side-places {
      padding-left: 16px;
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      >li>div>svg {
        position: absolute!important;
        top: 10px;
      }
      li {
        //padding-left: 3px;
        display: flex;
        position: relative;
        flex-direction: column;
        ul {
          //border-left: 1px solid $color-wind;
          //padding-left: 16px;
          width: calc(100% - 0);
          .place-item-inner {
            a {
              position: relative;
              left: -16px;
            }
          }
        }
        &:last-child {
          >div>.filler {
            visibility: visible;
          }
        }
      }
      .place-item-inner {
        width: 100%; //padding-left: 8px;
        display: flex;
        align-items: center;
        flex-direction: row;
        transition: all $animation-dur;
        position: relative;
        .place-item-inner {
          left: -16px;
        }
        a {
          @extend ._txe;
          min-height: 32px;
          transition: all $animation-dur;
          color: $color-storm;
          font-weight: 400;
          @extend .nst-font-medium;
          line-height: 32px;
          padding-left: 8px;
          padding-right: 21px;
          display: flex;
          margin-top: 4px;
          margin-bottom: 4px;
          margin-right: -16px;
          width: 100%;
          div {
            max-width: 100%;
          }
          span {
            width: auto;
            max-width: 100%;
          }
          b {
            color: $color-bg-pending;
            font-weight: 700;
            opacity: .72;
          }
        }
        a:hover,
        a.isSelected {
          background-color: $sidebar-place-bg-hover-color;
          border-radius: 3px;
          color: $color-solid;
          b {
            color: $color-bg-pending;
            opacity: .72;
          }
        }
        i {
          display: flex;
          padding-right: 2px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-30%);
          label {
            width: 12px;
            height: 12px;
            transition: all $animation-dur;
          }
        }
        .icon {
          position: relative;
          left: -16px;
          margin: 0;
          width: 16px;
          height: 16px;
        }
        .filler {
          width: 8px;
          height: 50%;
          position: absolute;
          left: -12px;
          bottom: 0;
          background-color: $color-white;
          visibility: hidden;
          transition: none;
          animation: none;
        }
      }
    }
  }
  a {
    text-decoration: none;
    display: inline;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    white-space: nowrap;
  }
}

.side-place {
  display: flex;
  flex-flow: column;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-start; //width: calc(100% - 10px);
}

.sidebar ul li .side-place-item-inner {
  min-height: 48px;
}

.invitation-name {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  font-weight: 600;
  font-size: $font-size-medium;
}

.sidebar ul ul li .side-place-item-inner {
  min-height: 42px;
}

.side-place-item {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: column; //min-height: 42px;
}

.side-place-item-inner {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: row;
  cursor: pointer;
  >div:first-child {
    opacity: .72;
    transition: opacity $animation-dur;
  }
  &:hover {
    >div:first-child {
      opacity: 1;
    }
  }
  &.isSelected {
    >div:first-child {
      opacity: 1;
    }
    >*:last-child p {
      font-weight: bold;
    }
  }
}

.side-place-invite-item-inner {
  display: inline-flex;
  width: 100%;
  height: 56px;
  align-items: center;
  flex: none;
  flex-direction: row;
  cursor: pointer;
  background-color: rgba(50, 150, 255, .8);
  transition: all $animation-dur ease;
  span {
    line-height: 19px;
    color: $color-white;
    @extend .nst-font-large;
    font-weight: 700;
  }
  p>span {
    line-height: 16px;
    color: $color-white;
    font-size: 13px;
    font-weight: 300;
  }
}

.side-place-invite-item-inner:hover {
  background-color: rgba(50, 150, 255, 1)!important;
}

.side-place-wrapper>.side-place>.side-place-item>.side-place-item-inner:hover {
  background-color: $sidebar-bg-hover-color;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}

.side-place-wrapper>.side-place>.side-place-item>.side-place-item-inner {
  &.active {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgba(50, 150, 255, .2);
  }
  &.active:hover {
    background-color: rgba(50, 150, 255, .4);
  }
}

.side-place-name:hover {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $color-white;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}

.sidebar>.side-place>.side-place-item>.side-place-item-inner:active {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .4);
}

.side-place-item-image {
  @include avatar(64px, 24px, 12.5%);
}

.side-place-name a {
  margin-left: 4px;
}

.side-place-item a {
  //color: $color-hurricane;
  font-weight: $font-wight-regular;
  width: 100%;
}

.side-place-item-inner>a:first-child {
  flex-direction: row;
  display: inline-flex;
  min-width: 40px;
  justify-content: center;
}

.side-place-invite-item-inner>a:first-child {
  flex-direction: row;
  display: inline-flex;
  min-width: 40px;
  padding-left: 5px;
}

.side-place .side-place .side-place-item-inner>a:first-child {
  width: auto;
}

.maincontainer.sidetiny .e2-arrow label {
  opacity: .2;
}

.maincontainer.sidetiny .sidebar:hover .e2-arrow label {
  opacity: 1;
  transition: .2s;
}

.maincontainer.sidetiny .side-place-item .e2-arrow {
  width: 12px;
}

.create-place {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $color-hurricane;
  div {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 80%;
    text-align: center;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $color-white;
  }
  #addIcon use:first-child {
    opacity: 0;
  }
  &:hover {
    #addIcon use:first-child {
      animation: svgadd 1s ease forwards;
    }
  }
}


/* lines of sidebar
/its a square filled with four .25 area size and they create lines around our bounderies ....
/u should know this lines repeats to times they have head place!
/the number of dives are like 2D coordinate system
*/

dl {
  margin: 0;
}

ul ul>li:last-child>.place-item-inner {
  .lines:last-of-type {
    .box3 {
      border-right: none;
    }
    .box4 {
      border-left: none;
    }
  }
}

//the first li's are grand places ~ dont need lines
.side-place>li>ul>li:last-child>ul {
  li .lines:first-of-type {
    div {
      border: none;
    }
  }
}

.side-place>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines {
    div {
      border: none;
    }
  }
}

.side-place>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines {
    div {
      border: none;
    }
  }
}

.side-place>li>ul>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines+.lines {
    div {
      border: none;
    }
  }
}

.side-place>li>ul>li>ul>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines+.lines+.lines {
    div {
      border: none;
    }
  }
}

.lines:last-of-type {
  .box1 {
    //border-bottom: solid;
    border-width: 1px;
    border-color: $color-breeze;
  }
  .box4 {
    //border-top: solid;
    border-width: 1px;
    border-color: $color-breeze;
  }
}

.box1 {
  border-left: solid;
  border-bottom: none;
  border-width: 1px;
  border-color: $color-breeze;
}

.box2 {
  border-right: solid;
  border-bottom: none;
  border-width: 0px;
  border-color: $color-breeze;
}

.box3 {
  border-top: none;
  border-right: solid;
  border-width: 0px;
  border-color: $color-breeze;
}

.box4 {
  border-left: solid;
  border-top: none;
  border-width: 1px;
  border-color: $color-breeze;
}


// Deprecated : remove carefully
.side-place-name {
  display: flex;
  align-items: center;
  height: 42px;
  overflow: hidden;
}

.lines {
  display: inline-block;
  width: 16px;
  height: 40px; //height: 100%;
  flex: none;
  position: relative; //left: -16px;
  top: 0;
}

.lines div {
  float: left;
  display: inline-block;
  flex: none;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.box-n {
  border-right: solid;
  border-width: 0;
  border-color: $color-breeze;
}
