<div class="sidebar _df" ng-class="{ 'expanded' : ctlSidebar.isInDetailMode }" nst-sidebar-revert-mouse-leave="ctlSidebar.isInDetailMode" leave-delay="1000">
  <div class="sidebar-wrapper">
    <div class="side-top">
      <a class="nested-logo detailed" ui-sref="app.messages-favorites()">
        <div data-uib-tooltip-template="'nested-uib-tooltip.html'"
               data-tooltip-placement="right auto" data-tooltip-append-to-body="true">
          <div id="Logo-white"></div>
        </div>
        <div ui-sref="app.messages-favorites()">
          <script type="text/ng-template" id="nested-uib-tooltip.html">
            <span>
              Nested &copy; 2017
              <br>
              v {{ctlSidebar.APP_VERSION}}
            </span>
          </script>
          <!--<div id="Logo-type-white"></div>-->
        </div>
      </a>
      <script type="text/ng-template" id="compose-uib-tooltip.html">
        <translate>Compose</translate>
      </script>
      <a class="detailed side-menu-item" id="compose"
         data-uib-tooltip-template="'compose-uib-tooltip.html'"
         data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
         data-tooltip-placement="right auto" data-tooltip-append-to-body="true"
         ng-click="ctlSidebar.compose($event);">
        <div>
          <div class="unreadPlace" ng-if="ctlSidebar.hasDraft">
            <svg class="pendfill">
              <use xlink:href="/assets/icons/nst-icn24.svg#unread-circle"></use>
            </svg>
          </div>
          <div class="compose">
            <svg>
              <use xlink:href="/assets/icons/nst-icn32.svg#compose"></use>
            </svg>
          </div>
        </div>
        <div>
          <b><translate>Compose</translate></b>
        </div>
      </a>
      <div class="side-menu">
        <script type="text/ng-template" id="feed-uib-tooltip.html">
          <translate>Feed</translate>
        </script>
        <a ui-sref="app.messages-favorites()" class="side-menu-item detailed ng-class:{'isSelected' : ctlSidebar.isFeed}"
           data-uib-tooltip-template="'feed-uib-tooltip.html'" active-group="message"
           data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
           data-tooltip-append-to-body="true" data-tooltip-placement="right auto">
          <span>
            <svg>
              <use xlink:href="/assets/icons/nst-icn16.svg#messages"></use>
            </svg>
          </span>
          <translate>Feed</translate>
        </a>
        <script type="text/ng-template" id="bookmark-uib-tooltip.html">
          <translate>Bookmarked Posts</translate>
        </script>
        <a ui-sref="app.messages-bookmarked()" class="side-menu-item detailed ng-class:{'isSelected' : ctlSidebar.isBookmarkMode}"
           data-uib-tooltip-template="'bookmark-uib-tooltip.html'" active-group="bookmarked"
           data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
           data-tooltip-append-to-body="true" data-tooltip-placement="right auto">
          <span>
            <svg>
              <use xlink:href="/assets/icons/nst-icn16.svg#bookmarked-message"></use>
            </svg>
          </span>
          <translate>Bookmarked Posts</translate>
        </a>
        <script type="text/ng-template" id="sent-uib-tooltip.html">
          <translate>Shared by me</translate>
        </script>
        <a ui-sref="app.messages-sent()" class="side-menu-item detailed ng-class:{'isSelected' : ctlSidebar.isSentMode}"
           data-uib-tooltip-template="'sent-uib-tooltip.html'" active-group="sent"
           data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
           data-tooltip-append-to-body="true" data-tooltip-placement="right auto">
          <span>
            <svg>
              <use xlink:href="/assets/icons/nst-icn16.svg#sent-message"></use>
            </svg>
          </span>
          <translate>Shared by me</translate>
        </a>
      </div>
    </div>
    <div class="side-place-wrapper _fw">
      <div class="shadow-top ng-class:{'vis' : ctlSidebar.overFlowTop}" ng-click="ctlSidebar.scrollTop()">
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
        </svg>
        <div class="unreadPlace" ng-show="ctlSidebar.overFlowTopUnread">
          <svg class="pendfill">
            <use xlink:href="/assets/icons/nst-icn24.svg#unread-circle"></use>
          </svg>
        </div>
      </div>
      <div class="places _ltr" dir="ltr" nst-scrollbar suppress-scroll-x="true" sidebar-scroll >
        <ul class="side-place" data-ng-if="ctlSidebar.invitations.length > 0 " dir="{{_direction}}">
          <li class="side-place-item" ng-repeat="invitaion in ctlSidebar.invitations">
            <a href="javascript:void(0);" ng-click="ctlSidebar.invitation.showModal(invitaion.id)"
               class="side-place-invite-item-inner active detailed" data-uib-tooltip="{{invitaion.place.name}}"
               data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed || forceTooltip ? true : false}}" data-tooltip-placement="right auto" data-tooltip-append-to-body="true">
              <div class="side-place-item-image">
                <img class="" ng-src="{{invitaion.place | picture : 'x64'}}"/>
              </div>
              <div class="_difv">
                <p class="_fw nst-font-small nst-mood-pending-fill"><translate>You've been invited to</translate></p>
                <span class="invitation-name _txe _fw" data-ng-bind="::invitaion.place.name" data-ellipsis></span>
              </div>
            </a>
          </li>
        </ul>
        <ul class="side-place" dir="{{_direction}}" data-as-sortable="ctlSidebar.setOrder" data-ng-model="ctlSidebar.places">
          <li class="side-place-item" ng-repeat="place in ctlSidebar.places" data-as-sortable-item
              data-ng-include="'app/components/sidebar/place.html'" onload="place = place"></li>

        </ul>
        <script type="text/ng-template" id="create-uib-tooltip.html">
          <translate>Create a new Place</translate>
        </script>
        <a class="create-place _fw detailed" ng-click="ctlSidebar.openCreatePlaceModal($event);" dir="{{_direction}}"
          data-uib-tooltip-template="'create-uib-tooltip.html'"
          data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
          data-tooltip-append-to-body="true" data-tooltip-placement="right auto">
          <span>
            <!--<svg id="addIcon" morph-svg first-id="sq40dashed" second-id="sq40">
              <use xlink:href="/assets/icons/nst-add40.svg#sq40"></use>
              <use xlink:href="/assets/icons/nst-add40.svg#sq40dashed"></use>
            </svg>-->
            <svg class="_24svg">
              <use xlink:href="/assets/icons/nst-icn24.svg#cross"></use>
            </svg>
          </span>
          <translate>Create a new Place</translate>
        </a>
      </div>
      <div class="shadow-bot ng-class:{'vis' : ctlSidebar.overFlowBottom}" ng-click="ctlSidebar.scrollBottom()">
        <svg class="_16svg">
          <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
        </svg>
        <div class="unreadPlace" ng-show="ctlSidebar.overFlowBottomUnread">
            <svg class="pendfill">
              <use xlink:href="/assets/icons/nst-icn24.svg#unread-circle"></use>
            </svg>
          </div>
      </div>
    </div>
    <div class="side-access">
      <script type="text/ng-template" id="recently-uib-tooltip.html">
        <translate>Recently Viewd Places</translate>
      </script>
      <a class="detailed popover-mentions"
         ng-click="ctlSidebar.recentOpen =! ctlSidebar.recentOpen;ctlSidebar.profileOpen = falsen;ctlSidebar.mentionOpen = false" ng-init="ctlSidebar.recentOpen = false"
         data-uib-popover-template="'app/place/recent-visited/recently-visited.html'"
         data-popover-placement="top-center auto"
         data-popover-append-to-body="false"
         data-popover-is-open="ctlSidebar.recentOpen"
         data-popover-class="recent-place-pop"
         data-tooltip-append-to-body="true"
         data-uib-tooltip-template="'recently-uib-tooltip.html'"
         data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
         data-tooltip-placement="right auto">
        <div>
          <svg class="_16svg">
            <use xlink:href="/assets/icons/nst-icn16.svg#square-clock"></use>
          </svg>
        </div>
        <div ng-click="_track('sidebar', 'view notifications');">
          <translate>Recently Viewd Places</translate>
        </div>
      </a>
      <script type="text/ng-template" id="label-uib-tooltip.html">
        <span ng-if="ctlSidebar.user.authority.labelEditor" translate-inner>Manage Labels</span>
        <span ng-if="!ctlSidebar.user.authority.labelEditor" translate-inner>My Labels</span>
      </script>
      <a class="detailed" manage-label
         data-uib-tooltip-template="'label-uib-tooltip.html'"
         data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
         data-tooltip-placement="right auto" data-tooltip-append-to-body="true"
         ng-click="ctlSidebar.goLabelRoute($event);">
        <div>
          <svg class="_16svg">
            <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
          </svg>
        </div>
        <div>
          <span ng-if="ctlSidebar.user.labelEditor" translate-inner>Manage Labels</span>
          <span ng-if="!ctlSidebar.user.labelEditor" translate-inner>My Labels</span>
        </div>
      </a>
      <hr>
      <script type="text/ng-template" id="mention-uib-tooltip.html">
        <translate>Notifications</translate>
      </script>
      <a class="detailed popover-mentions oddH"
         data-uib-popover-template="'app/notification/notification-popover.html'"
         data-popover-placement="right-bottom auto"
         data-popover-class="mentions"
         data-popover-append-to-body="false"
         data-popover-is-open="ctlSidebar.mentionOpen"
         data-popover-trigger="none"
         data-tooltip-append-to-body="true"
         data-uib-tooltip-template="'mention-uib-tooltip.html'"
         data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
         data-tooltip-placement="right auto">
        <div ng-click="ctlSidebar.mentionOpen =! ctlSidebar.mentionOpen;ctlSidebar.recentOpen = false;ctlSidebar.profileOpen = false;$event.preventDefault();$event.stopPropagation()">
          <svg class="_20svg">
            <use xlink:href="/assets/icons/nst-icn20.svg#bell"></use>
          </svg>
          <div class="notif" ng-if="ctlSidebar.notificationsCount > 0">{{ctlSidebar.notificationsCount | localize}}</div>
        </div>
        <div ng-click="ctlSidebar.mentionOpen =! ctlSidebar.mentionOpen;ctlSidebar.profileOpen = false;$event.preventDefault();$event.stopPropagation(); _track('sidebar', 'view notifications');">
          <translate>Notifications</translate>
        </div>
      </a>
      <script type="text/ng-template" id="profile-uib-tooltip.html">
        <translate>More</translate>
      </script>
      <a class="detailed"
         data-uib-popover-template="'app/settings/profile/profile-popover.html'"
         data-popover-placement="right-bottom auto"
         data-popover-class="pop-white pop-profile"
         data-popover-is-open="ctlSidebar.profileOpen"
         data-popover-append-to-body="false"
         data-uib-tooltip-template="'profile-uib-tooltip.html'"
         data-popover-trigger="none"
         data-tooltip-enable="{{!ctlApp.viewSettings.sidebar.collapsed ? true : false}}"
         data-tooltip-placement="right auto" data-tooltip-append-to-body="true">
        <div ng-click="ctlSidebar.profileOpen =! ctlSidebar.profileOpen;ctlSidebar.mentionOpen = false;$event.preventDefault();$event.stopPropagation()">
          <svg class="_r90 _20svg">
            <use xlink:href="/assets/icons/nst-icn20.svg#more"></use>
          </svg>
        </div>
        <translate ng-click="ctlSidebar.profileOpen =! ctlSidebar.profileOpen;ctlSidebar.mentionOpen = false;$event.preventDefault();$event.stopPropagation()">More</translate>
      </a>
      <script type="text/ng-template" id="logout-uib-tooltip.html">
        <translate>Log out</translate>
      </script>
    </div>
  </div>
  <!--<div class="sidebar-border"></div>-->
  <div class="sidebar-plus-wrapper" ng-show="ctlSidebar.selectedGrandPlace">
    <div class="side-profile-block" bg-check="{{ctlSidebar.selectedGrandPlace.avatar}}">
      <div class="user-detail txt">
        <a class="_wrb">{{ctlSidebar.selectedGrandPlace.name}}</a>
      </div>
      <div class="user-avatar">
        <img ng-if="ctlSidebar.selectedGrandPlace.avatar" ng-src="{{ctlSidebar.selectedGrandPlace.avatar}}"/>
        <img ng-if="!ctlSidebar.selectedGrandPlace.avatar" class="account-initials-32"
             initials="ctlSidebar.selectedGrandPlace.name" data-url="ctlSidebar.selectedGrandPlace.avatar"
             data-width="size" data-height="size" data-radius="20" data-word-count="2" data-font-size="16"/>
      </div>
      <!--<div class="side-stats">-->
        <!--<div class="unread ng-class:{'active' : ctlSidebar.isUnreadMode}">-->
          <!--<a class="_fn _df" ui-sref="app.place-messages-unread({placeId: ctlSidebar.selectedGrandPlace.id})"><translate>Total unseen posts</translate>&nbsp;</a>-->
          <!--<span class="_fn _df">{{(ctlSidebar.placesNotifCountObject[ctlSidebar.selectedGrandPlace.id] || 0) | localize}}</span>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div nst-scrollbar dir="ltr" suppress-scroll-x="true" class="places">
      <div class="places-list" dir="{{$root._direction}}">
        <nst-sidebar-place-info grand-place="ctlSidebar.selectedGrandPlace" unread-mode="ctlSidebar.isUnreadMode"></nst-sidebar-place-info>
      </div>
    </div>
  </div>
</div>
