.sidebar-directive {
  position: relative;
  width: $sidebar-width;
  padding-top: 48px;
  max-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 48px;
  width: $sidebar-width - 8px;
  margin: 16px 2px 0 2px;
  padding: 6px;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid $color-breeze-new;
  flex: none;
  z-index: 56;
  transform: translateZ(0);
  @include user-select(none);
}

.unread-notif-badge {
  height: 20px;
  color: $color-white;
  background-color: rgb(255, 0, 20);
  border-radius: 10px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: #800000;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  top: 6px;
  transform: translateY(-40%);
  right: 6px;
  padding: 0 8px;
}

.side-grand-place-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 8px;
}

.side-grand-place-item-inner {
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 8px;
  .unread-on-arrow {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: $color-bg-pending;
  }
}

.side-grand-place-item-image {
  display: flex;
  flex: none;
  padding-right: 8px;
  img {
    border-radius: 10%;
    width: 24px;
    height: 24px;
  }
}
.sidebar-wrapper {
  z-index: 4;
  display: inline-flex;
  flex-direction: column;
  width: 100%; // background-color: $sidebar-color;
  position: relative;
  flex: none;
  transition: all $animation-dur;
  svg {
    fill: $color-solid;
  }
  .side-place-item-inner {
    width: 100%; //padding-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all $animation-dur;
    position: relative;
    max-height: 36px;
    cite {
      transition: all $animation-dur;
      line-height: 32px;
      padding-left: 8px;
      padding-right: 21px;
      display: flex;
      margin-top: 4px;
      margin-bottom: 4px;
      margin-right: -16px;
      width: 100%;
      left: -16px;
      div {
        max-width: 100%;
      }
      span {
        width: auto;
        max-width: 100%;
      }
      b {
        color: $color-bg-pending;
        opacity: .72;
      }
    }
    &.isSelected cite {
      background-color: $sidebar-place-bg-hover-color;
      border-radius: 3px;
      color: $color-solid;
    }
    .icon {
      position: relative;
      left: -16px;
      margin: 0;
      width: 16px;
      height: 16px;
    }
  }
  .unreadPlace {
    position: absolute;
    height: 24px;
    left: -2px;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-force;
    fill: $color-force;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.side-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  transition: box-shadow .2s, background-color .2s;
  .item-icon {
    width: 40px;
    justify-content: center;
    display: flex;
    flex: none;
    opacity: .72;
    transition: opacity .2s;
  }
  .item-desc {
    opacity: .8;
    transition: opacity .2s;
  }
  span {
    color: $color-solid;
    font-size: 14px;
    font-weight: 400;
  }
  &.isSelected {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    span {
      font-weight: bold;
    }
    &:hover {
      background-color: #ffffff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    }
    &:active {
      background-color: #ffffff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    }
    >* {
      opacity: 1;
    }
  }
  &:hover {
    background-color: rgba(50, 61, 71, .12);
    >* {
      opacity: 1;
    }
  }
  &:active {
    background: rgba(50, 61, 71, .16);
  }
  &#compose {
    height: 40px;
    margin-bottom: 8px;
    &:hover {
      background-color: #ffffff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    }
    &:active {
      background-color: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .16);
    }
  }
}

.side-places-wrapper {
  z-index: 1;
  left: 0;
  margin-top: 8px;
  flex: 1; // max-height: calc(100vh - 448px);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 268px);
  .side-places-head {
    height: 32px;
    flex: none;
    align-items: center;
    span {
      padding: 0 8px;
      color: $color-solid-24;
      font-size: 12px;
      font-weight: bold;
    }
    div {
      width: 28px;
      height: 28px;
      opacity: .24;
      margin: 2px;
      border-radius: 4px;
      &:hover {
        opacity: 1;
        background-color: $color-breeze-new;
      }
    }
  }
  .places {
    position: relative;
    flex: 1;
    width: calc(100% + 12px);
    margin: 0 -6px;
    >ul {
      padding: 0 6px;
    }
    i {
      display: flex;
      padding-right: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 28px;
      height: 28px;
      transform: translateY(-50%);
      justify-content: center;
      align-items: center;
      label {
        width: 12px;
        height: 12px;
        transition: all $animation-dur;
      }
    }
    .icon {
      fill: #C1C4C7;
    }
    cite {
      @extend ._txe;
      font-size: 13px;
      color: $color-solid;
      opacity: .8;
      position: relative;
      b {
        color: $color-bg-pending;
        font-weight: 700;
        font-size: 13px;
      }
    }
    .ps-scrollbar-y-rail {
      z-index: 5;
      left: 0!important;
      right: auto!important;
      > .ps-scrollbar-y {
        right: 4px;
      }
      &:active > .ps-scrollbar-y ,
      &:hover > .ps-scrollbar-y {
        width: 6px;
      }
    }
    >ul>li>ul {
      // padding-left: 16px;
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      >li>div>svg {
        // position: absolute!important;
        // top: 10px;
      }
      li {
        //padding-left: 3px;
        display: flex;
        position: relative;
        flex-direction: column;
        ul {
          //border-left: 1px solid $color-wind;
          //padding-left: 16px;
          width: 100%;
          .place-item-inner {
            a {
              position: relative;
              left: -16px;
            }
          }
        }
      }
      .place-item-inner {}
    }
  }
  a {
    text-decoration: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    white-space: nowrap;
  }
}

.invitation-name {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  font-weight: 600;
  font-size: $font-size-medium;
}

.side-place-item {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: column; //min-height: 42px;
}

.side-place-item-inner {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex: none;
  flex-direction: row;
  cursor: pointer;
  padding-left: 3px;
  color: $color-solid;
}

.side-place-invite-item-inner {
  display: inline-flex;
  width: 100%;
  height: 56px;
  align-items: center;
  flex: none;
  flex-direction: row;
  cursor: pointer;
  background-color: rgba(50, 150, 255, .8);
  transition: all $animation-dur ease;
  span {
    line-height: 19px;
    color: $color-white;
    @extend .nst-font-large;
    font-weight: 700;
  }
  p>span {
    line-height: 16px;
    color: $color-white;
    font-size: 13px;
    font-weight: 300;
  }
}

.side-place-invite-item-inner:hover {
  background-color: rgba(50, 150, 255, 1)!important;
}

.side-place-name:hover {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: $color-white;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}

.side-place-item-image {
  @include avatar(64px, 24px, 12.5%);
}

.side-place-name a {
  margin-left: 4px;
}

.side-place-item a {
  //color: $color-hurricane;
  font-weight: $font-wight-regular;
  width: 100%;
}

.side-place-invite-item-inner>a:first-child {
  flex-direction: row;
  display: inline-flex;
  min-width: 40px;
  padding-left: 5px;
}

.create-place {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $color-hurricane;
  div {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 80%;
    text-align: center;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $color-white;
  }
  #addIcon use:first-child {
    opacity: 0;
  }
  &:hover {
    #addIcon use:first-child {
      animation: svgadd 1s ease forwards;
    }
  }
}


/* lines of sidebar
/its a square filled with four .25 area size and they create lines around our bounderies ....
/u should know this lines repeats to times they have head place!
/the number of dives are like 2D coordinate system
*/

dl {
  margin: 0;
}

ul ul>li:last-child {
  >.side-place-item-inner {
    .lines:last-of-type {
      .box3 {
        border-right: none;
      }
      .box4 {
        border-left: none;
      }
    }
  }
}

//the first li's are grand places ~ dont need lines
.side-place-border-selector>li>ul>li:last-child>ul {
  li .lines:first-of-type {
    div {
      border: none;
    }
  }
}

.side-place-border-selector>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines {
    div {
      border: none;
    }
  }
}

.side-place-border-selector>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines {
    div {
      border: none;
    }
  }
}

.side-place-border-selector>li>ul>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines+.lines {
    div {
      border: none;
    }
  }
}

.side-place-border-selector>li>ul>li>ul>li>ul>li>ul>li>ul>li:last-child>ul {
  li .lines:first-of-type+.lines+.lines+.lines+.lines {
    div {
      border: none;
    }
  }
}

.lines:last-of-type {
  .box1 {
    //border-bottom: solid;
    border-width: 1px;
    border-color: rgba(50,61,71,.08);
  }
  .box4 {
    //border-top: solid;
    border-width: 1px;
    border-color: rgba(50,61,71,.08);
  }
}

.box1 {
  border-left: solid;
  border-bottom: none;
  border-width: 1px;
  border-color: rgba(50,61,71,.08);
}

.box2 {
  border-right: solid;
  border-bottom: none;
  border-width: 0px;
  border-color: rgba(50,61,71,.08);
}

.box3 {
  border-top: none;
  border-right: solid;
  border-width: 0px;
  border-color: rgba(50,61,71,.08);
}

.box4 {
  border-left: solid;
  border-top: none;
  border-width: 1px;
  border-color: rgba(50,61,71,.08);
}

// Deprecated : remove carefully
.side-place-name {
  display: flex;
  align-items: center;
  height: 42px;
  overflow: hidden;
}

.lines {
  display: inline-block;
  width: 16px;
  height: 36px; //height: 100%;
  flex: none;
  position: relative; //left: -16px;
  top: 0;
}

.lines div {
  float: left;
  display: inline-block;
  flex: none;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.box-n {
  border-right: solid;
  border-width: 0;
  border-color: $color-breeze;
}

