<div class="attach-place nst-modal">

  <div class="modal-head">
    <div class="_df close-mdl" ng-click="$dismiss()">
      <svg class="_24svg">
        <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
      </svg>
    </div>
    <h2 class="_df _fw"><translate>Attach a Place</translate></h2>
  </div>

  <div class="modal-body">
    <ui-select minimum-input-length="4" multiple limit="10"  class="_df _fw"
               data-ng-model="">
      <ui-select-match placeholder="{{::ctrl.inputPlaceHolderLabel}}">
        <div class="selected-innter" ng-class="{'error' : !$item.isEmailValid}">
              <span class="place-img" ng-if="!$item.isEmail">
                <img ng-if="$item.avatar" ng-src="{{::$item.avatar }}"/>
                <img ng-if="$item.data.picture" ng-src="{{$item.data | picture }}"/>
                <img ng-if="!$item.data.picture" src="/assets/icons/absents_place.svg"/>
              </span>
              <span class="place-img">
                  <svg>
                    <use xlink:href="/assets/icons/nst-icn16.svg#exclamation-mark"></use>
                  </svg>
                </span>
          <span class="place-name">{{$item.name}}</span>
        </div>

      </ui-select-match>
      <ui-select-choices refresh="ctrl.search.fn($select.search)"
                         refresh-delay="0"
                         repeat="place as place in (ctrl.search.results | filter: $select.search ) track by $index">
        <img class="account-initials-32" ng-src="{{::place.avatar}}"/>
        <span class="" data-ng-bind-html="place.name | highlight: $select.search"></span>
        <br/>
        <span class="nst-font-10 _vat margin-l-50">{{::place.id}}</span>
      </ui-select-choices>
    </ui-select>

    <div class="_difv _fw post-places">
      <p class="_fw places-label"><translate>You already shared this post with following Places:</translate></p>
      <div class="_df _fw">
        <a class="_df" data-ng-repeat="place in ctrl.places">
          #{{::place.name}}
        </a>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input type="button" class="butn-green _fw _df" value="Attach {{2}} Place">
  </div>
</div>
