.move-place {
  width: 480px;
  padding: 10px 8px;
  .modal-footer {
    input {
      width: 100%!important;
      height: 32px;
    }
  }
  .modal-body {
    padding: 0;
  }
}
.move-head {
  min-height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .wire {
    width: 160px;
    height: 1px;
    background-color: $color-breeze;
    display: flex;
    flex: none;
    margin-bottom: 36px;
    position: relative;
    svg {
      position: absolute;
      transform: translate(-50%,-50%);
      left: 0;
      transition: left,right ease-in-out $animation-dur;
      fill: $color-breeze;
      background-color: $color-white;
      //animation: replace-wire $animation-dur ease-in-out .3s forwards;
      &.ready {
        left: 50%;
      }
      &.set {
        left: calc(100% - 15px);
      }
    }
    .triangle {
      position: absolute;
      right: -8px;
      top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent $color-breeze;
    }
  }
  .move-from,.move-to {
    width: 88px;
    min-height: 88px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex: none;
    flex-direction: column;
    img {
      width: 32px;
      border-radius: 3px;
      height: 32px;
      margin: 8px 0;
    }
    p {
      width: 100%;
      display: block;
      color: black;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      height: 36px;
      @extend ._wrb;
    }
    span {
      font-size: 12px;
      height: 17px;
      color:$color-gale;
      @extend ._txe;
    }
  }
}
.move-to-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  input {
    width: calc(100% - 24px);
    height: 32px;
    text-align: center;
    border: none;
    margin: 16px 12px;
    border-bottom: 1px solid $color-breeze-50;
    &:focus {
      border: none;
      border-bottom: 1px solid $color-breeze-50;
    }
  }
  a {
    padding: 12px;
    width: 100%;
    display: flex;
    height: 72px;
    transition: background-color $animation-dur;
    border-radius: 7px;
    &:hover,&.selected {
      background-color: transparentize($color-sense, 1 - .08);
    }
     img {
       width: 48px;
       height: 48px;
       border-radius: 4px;
       display: flex;
       flex: none;
     }
    div {
      padding-left: 24px;
      flex-direction: column;
      width: calc(100% - 48px);
      display: flex;
      p,p span{
        color: black;
        @extend ._txe;
        font-size: 16px;
        width: 100%;
      }
      span {
        @extend ._txe;
        font-size: 14px;
        color: $color-gale;
        width: 100%;
      }
    }
  }
}
