<div class="move-place nst-modal">
  <form ng-submit="ctrl.replace(ctrl.targetPlace);">
    <div class="modal-head">
      <div class="_df close-mdl" ng-click="$dismiss()">
        <svg class="_24svg">
          <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
      </div>
      <h2 class="_df _fw"><translate>Select a Destination</translate></h2>
    </div>

    <div class="modal-body">

      <div class="move-head">
        <div class="move-from">
          <translate>Current Place</translate>
          <img ng-src="{{::ctrl.selectedPlace | picture}}">
          <p>{{::ctrl.selectedPlace.name}}</p>
          <span>
            {{::ctrl.selectedPlace.id}}
          </span>
        </div>
        <div class="wire">
          <svg class="_16svg ng-class:{'set': ctrl.targetPlace.id.length > 0 ,'ready': ctrl.ready}">
            <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
          </svg>
          <div class="triangle"></div>
        </div>
        <div class="move-to">
          <translate>Another Place</translate>
          <img ng-src="{{ctrl.targetPlace | picture}}">
          <p>{{ctrl.targetPlace.name}}</p>
          <span>
            {{ctrl.targetPlace.id}}
          </span>
        </div>
      </div>

      <div class="move-to-list">
        <input type="text" autofocus placeholder="find place" translate-attrs="placeholder" ng-change="ctrl.search(ctrl.searchKeyword)" ng-model="ctrl.searchKeyword">
        <a ng-if="ctrl.resultTargets.length > 0" ng-click="ctrl.setTargetPlace(place)" ng-repeat="place in ctrl.resultTargets" class=" ng-class:{'selected' : ctrl.targetPlace.id == place.id}">
          <img ng-src="{{place | picture : 'x64'}}" alt="{{::place.name}}">
          <div>
            <p>{{::place.name}}</p>
            <span>{{::place.id}}</span>
          </div>
        </a>
        <span ng-if="ctrl.resultTargets.length == 0">No results!</span>
      </div>

    </div>

    <div class="modal-footer">
      <input ng-if="!ctrl.targetPlace" type="button" class="butn butn-green _fw _db" value="Move to ..." translate-attrs="value" disabled/>
      <input ng-if="ctrl.targetPlace" type="submit" class="butn butn-green _fw _db" ng-value="ctrl.getMoveButtonLabel(ctrl.targetPlace.name)"/>
    </div>
  </form>
</div>
