<div class="move-place nst-modal">
  <form ng-submit="">
    <div class="modal-head">
      <div class="_df close-mdl" ng-click="$dismiss()">
        <svg class="_24svg">
          <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
      </div>
      <h2 class="_df _fw"><translate>Select a Destination</translate></h2>
    </div>

    <div class="modal-body">

      <div class="move-head">
        <div class="move-from">
          <translate>
            Currenct Place
          </translate>
          <img ng-src="{{::ctrl.selectedPlace | picture}}">
          <p>{{::ctrl.selectedPlace.name}}</p>
          <span>
            {{::ctrl.selectedPlace.id}}
          </span>
        </div>
        <div class="wire">
          <svg class="_16svg ready">
            <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
          </svg>
        </div>
        <div class="move-to">
          <translate>
            Another Place
          </translate>
          <img ng-src="{{::ctrl.selectedPlace | picture}}">
          <p>{{::ctrl.selectedPlace.name}}</p>
          <span>
            {{::ctrl.selectedPlace.id}}
          </span>
        </div>
      </div>

      <div class="move-to-list">
        <input type="text" placeholder="find place">
        <a>
          <img src="" alt="">
          <div>
            <p></p>
            <span></span>
          </div>
        </a>
      </div>

    </div>

    <div class="modal-footer">
      <input ng-if="ctrl.selectedTargets.length == 0" type="button" class="butn-green _fw _df" value="Move to ..." translate-attrs="value" disabled/>
      <input ng-if="ctrl.selectedTargets.length > 0" type="submit" class="butn-green _fw _df" value="move to place.name" translate-attrs="value"/>
    </div>
  </form>
</div>
