<div class="mini-modal">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p class="_df _fw"><b translate-inner>Remove Posts</b></p>
      <div class="_df" ng-click="$dismiss()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <div class="modal-detail">
        <p translate-inner>Your {{ctrl.post}} posts will be removed from here.</p>
      </div>
      <div class="modal-buttons">
        <div class="butn-white _jcc _df" ng-click="$close(false);">
          <a class="_df"><b translate-inner>Cancel</b></a>
        </div>
        <div class="butn-red _jcc _df" ng-click="$close(true);">
          <a class="_df"><b translate-inner>Remove {{ctrl.post}}</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
