<div class="seen-by nst-modal">
  <div class="modal-head">
    <div class="_df close-mdl" ng-click="$dismiss()">
      <svg class="_24svg">
        <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
      </svg>
    </div>
    <h2 class="_df _fw _fn">
      <translate>Seen by:</translate>
    </h2>
  </div>
  <div class="modal-body" nst-scrollbar on-reach-bottom="ctrl.loadWhoSeen">
    <div class="_fw _jcc _df margin-top-10" ng-if="ctrl.loading">
      <div class="nst-loading nst-loading-size-4 _fl"></div>
      <span>&nbsp;</span>
      <div class="nst-font-xsmall _fr nst-marginbtm-4">
        <translate>Loading...</translate>
      </div>
    </div>
    <div class="_fw _jcc _df margin-top-10" ng-if="!ctrl.loading && ctrl.readers.length === 0">
      <trasnlate>No one has seen the post!</trasnlate>
    </div>
    <div class="_difh user-wrapper" ng-repeat="reader in ctrl.readers">
      <img initial-avatar="{{reader.user.fullName}}" picture="{{reader.user | avatar : 'x64'}}"
           data-width="48"
           data-height="48"
           data-radius="48" class="account-initials-48" data-word-count="2" data-font-size="16"/>
      <div class="_difv">
        <p>{{reader.user.fullName}}</p>
        <span>{{ reader.timestamp | passed }}</span>
      </div>
    </div>
  </div>
</div>
