.seen-by {
    width: 480px;
    max-height: 100vh;
    .modal-head {
        height: 72px;
    }
    .modal-body {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .user-wrapper {
        width: 50%;
        margin-bottom: 32px
    }
    .iscroll-wrapper {
        max-height: 325px;
        .iscroll-scroller {
            display: table;
        }
    }
}
.user-wrapper {
    img {
        @include avatar(48px,48px,1010px);
    }
    div {
        padding-left: 8px;
        p {
            color: black;
            font-size: 16px;
            margin: 0
        }
        span {
            color: $color-storm;
            font-size: 12px
        }
    }
}
