<div class="places-modal apps-modal">
    <div class="modal-head">
        <div class="_df" ng-click="$dismiss();">
        <svg class="_24svg">
            <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
        </svg>
        </div>
        <h4 translate-inner>Add applications</h4>
    </div>
    <div class="modal-body">
        <input placeholder="Search apps" ng-model="ctrl.query" type="text" focus-me="1">
        <div ng-if="ctrl.apps.length > 0" iscroll="" class="iscroll-wrapper">
            <ul class="list-apps">
                <li ng-repeat="app in ctrl.apps track by app.id" ng-class="{'integrated': app.token}">
                    <img ng-src="{{app.iconLargeUrl}}" alt="">
                    <p> 
                        <h3>{{app.name}}</h3>
                        <translate>by {{app.developer}}</translate>
                    </p>
                    <button class="butn butn-green secondary" ng-if="!app.token" ng-click="$event.preventDefault();ctrl.selectApp(app.id)"><translate>Create Token</translate></button>
                    <div class="_df multi-buttons">
                        <button class="butn butn-green" ng-click="$event.preventDefault();ctrl.copyToken(app)" ng-if="app.token">
                            <svg class="_24svg fill-white">
                                <use xlink:href="/assets/icons/nst-icn24.svg#heavy-check"></use>
                            </svg>
                            <translate>Done</translate>
                        </button>
                        <button class="butn butn-green secondary" ng-click="$event.preventDefault();ctrl.openApp(app.id)" ng-if="app.token">
                            <translate>Use</translate>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer" ng-if="ctrl.apps.length === 0 && !ctrl.intiatlLoading">
          <h5 ng-if="ctrl.query.length == 0"><translate>No app has been registered in this Nested, Contact with admin</translate></h5>
          <h5 ng-if="ctrl.query.length > 0"><translate>No results for "{{ctrl.query}}"</translate></h5>
        </div>
    </div>
</div>