<div class="_fhw" ng-scrollbars>
<div class="main">
  <div class="container" align="center">
    <div class="mainnested"><img class="svg"  width="165" height="60" alt="" src="../assets/images/nested-logotype-white.svg"></div>
    <div class="mainnestedlogo"><img class="svg" width="320" height="320" alt="" src="../assets/images/nested-logo-white.svg"></div>
    <h1 class="defcur">The next level of communications</h1>
    <p class="mainp defcur">Nested is the next level of inter-enterprise communications -
      above conventional email & messaging platforms -
      intuitively helping you house your people in places you build,
      keeping you close in control & up-to-date, wherever you are.</p>
    <div class="mainerror">{{ctlIntro.invitation.error ? ctlIntro.invitation.message : "&nbsp;"}}</div>
    <form data-ng-if="!ctlIntro.invitation.sent" name="inviteForm" data-ng-submit="inviteForm.$valid && ctlIntro.requestInvitation(inviteForm)">
      <input class="maininput" name="email" data-ng-model="email" type="email" required spellcheck="false" tabindex="1" placeholder="Enter your email & we will invite you soon as possible :)"/><br/>
      <input id="mainsubmit" type="submit" value="Request a Pioneer Invitation" tabindex="2"/>
    </form>
    <div class="mainsuccess" data-ng-if="ctlIntro.invitation.sent">{{ctlIntro.invitation.message}}</div>
    <div class="mainlogin">
      <div class="_db mainlogintop">
        <div class="_dib"><img class="line" src="assets/images/v0_assets_line.png"></div>
        <div class="_dib"><span>WE ARE IN</span></div>
        <div class="_dib"><img class="line" src="assets/images/v0_assets_line.png"></div>
      </div>
      <div class="_db mainloginbod">
        <div class="_dib">
          <img src="/assets/images/v0_android.png"><br>
          <span>Android</span>
        </div>
        <div class="_dib loginweb">
          <a href="#/signin">
            <img src="assets/images/v0_web.png" alt=""><br>
            <span>Web</span>
          </a>
        </div>
        <div class="_dib">
          <img src="assets/images/v0_ios.png" alt=""><br>
          <span>iOS</span>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="footup col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img class="svg" id="u2808" width="192" height="128" alt=""src="../assets/images/ronak-logo-with-border.svg"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><p><b>Ronak</b> Software Group</p></div>
      </div>
    </div>
    <div class="row">
      <div class="footbud col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h4>Headquarter</h4>
          <p>747 Boostan Complex<br>Poonak Sq<br>Tehran<br>Iran</p>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
             <h4>Office</h4>
             <p>ul. Zielona 31<br>Węgierska<br>Górka<br>Poland</p>
        </div>-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
          <div class="liicon" ><a href="https://www.linkedin.com/company/ronak-software-group" ><img src="../assets/images/Linkedin.png" width="24px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyRight">
  <p>Copyright © 2016 Ronak Software Group</p>
</div>
<script>
  $("#mainsubmit")
    .mousedown(function(){
    $( this ).css("background-color","#04b04f");
  }).mouseup(function(){
    $( this ).css("background-color","#14D769");
  });
</script>

</div>
