.top-bar {
  position: fixed;
  top: -5px;
  transform: translate3d(0, 5px, 0);
  left: 0;
  width: 100vw;
  height: 48px;
  background-color: $sidebar-color;
  display: flex;
  align-items: center;
  z-index: 300;
  justify-content: center;
  &.search-modal-is-open {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .24);
  }
  .search {
    max-width: $navbar-max-width;
    min-width: $navbar-min-width;
    width: calc(100vw - 480px);
    display: flex;
    justify-content: center;
    position: relative;
    .inner {
      width: 100%;
      // max-width: 480px;
      overflow-x: auto;
      overflow-y: hidden;
      height: 32px;
      background-color: rgba(255, 255, 255, .12);
      border-radius: 4px;
      border-bottom: 1px solid rgba(0,0,0, .4);
      display: flex;
      position: relative;
      padding-left: 32px;
      padding-right: 32px;
      i {
        position: absolute;
        left: 4px;
        top: 4px;
        opacity: .24;
      }
      span.advanced-search {
        position: absolute;
        right: 4px;
        top: 4px;
        opacity: .24;
        &.open {
          opacity: 1;
        }
      }
      .input-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        input {
          line-height: 36px;
          width: 100%;
          height: 32px;
          min-width: 256px;
          background-color: transparent;
          // padding-left: 32px;
          color: $color-white;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }
      .search-chips-container {
        padding: 6px 5px 0 5px;
        color: #323D47;
        flex-wrap: nowrap;
        .chips {
          display: flex;
          flex: none;
          margin: 0 2px;
          height: 20px;
          border-radius: 4px;
          overflow: hidden;
          transition: all 0.3s;
          text-overflow: ellipsis;
          position: relative;
          white-space: nowrap;
          background-color: rgb(0,0,0);
          padding: 0 10px 0 4px;
          .close-chips {
            width: 20px;
            height: 20px;
            padding: 2px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            background-color: rgb(0,0,0);
          }
          &:hover {
            .close-chips {
              opacity: 1;
            }
          }
          b span {
            opacity: 1;
          }
          span {
            line-height: 20px;
            font-size: 12px;
            color: $color-white;
            opacity: .8;
          }
        }
      }
    }
    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, .4);
    }
    input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, .4);
    }
    input:-moz-placeholder {
      color: rgba(255, 255, 255, .4);
    }
  }
  .logo,
  .account {
    width: $sidebar-width;
    display: flex;
    flex: none;
  }
  .logo {
    padding: 0 16px;
    #Logo-type-white {
      margin: 0 8px;
      opacity: .72;
    }
  }
  .account {
    justify-content: flex-end;
    >a {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 12px;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      &:hover {
        background-color: rgba(0, 0, 0, .4);
      }
    }
    ._20svg {
      opacity: .4
    }
  }
}

.search-modal {
  position: fixed;
  z-index: 223;
  left: 0;
  right: 0;
  bottom: 0;
  top: 48px;
  .search-popover,
  .advanced-search-popover {
    position: absolute;
    left: 50vw;
    padding-top: 8px;
    padding-bottom: 3px;
    width: 100%;
    max-width: 480px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
  }
  .search-popover {
    .ui-select-highlight {
      background-color: transparent;
    }
    .search-query {
      padding: 0 16px;
      height: 40px;
      a span {
        color: $color-solid;
        font-size: 14px;
      }
      span {
        color: $color-gale;
        font-size: 13px;
      }
    }
    section {
      max-height: 30vh;
      padding: 0 8px;
      h5 {
        margin: 6px 0;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(50, 61, 71, .12);
        color: $color-solid-64;
        padding: 0 6px;
        font-weight: bold;
      }
      ul {
        list-style: none;
      }
    }
    .recent-search {
      li {
        height: 40px;
        display: flex;
        flex: none;
        align-items: center;
        a {
          color: rgba(50, 61, 71, .8);
          font-size: 14px;
          display: flex;
          width: 100%;
          padding: 0 8px;
        }
        span {
          font-size: 13px;
          color: $color-gale-new;
        }
      }
    }
    .init-from-suggests {
      overflow-x: auto;
      ul {
        flex-wrap: nowrap;
        display: flex;
        overflow: hidden;
        flex: none;
      }
      li {
        display: inline-flex;
        flex: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 60px;
        margin-right: 6px;
        span {
          font-size: 12px;
          color: rgba(50, 61, 71, .8);
          line-height: 16px;
          margin-top: 4px;
        }
        img {
          margin: 0;
        }
      }
    }
    .from-suggests {
      ul {
        display: flex;
        flex-direction: column;
      }
      li {
        display: inline-flex;
        flex: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        margin-right: 6px;
        .account-title {
          font-size: 14px;
          color: $color-new-hurricane;
          line-height: 16px;
          margin-top: 4px;
          width: 100%;
          padding: 0 8px;
          b {
            color: $color-solid;
          }
        }
        a {
          color: $color-gale-new;
          font-size: 12px;
          display: flex;
          flex: none;
          b {
            color: $color-solid;
          }
        }
        img {
          margin: 0;
        }
        &.selected {
          background-color: $color-breeze-new;
          border-radius: 4px;
        }
      }
    }
    .place-suggests {
      li {
        display: flex;
        height: 40px;
        align-items: center;
        width: 100%;
        &.selected {
          background-color: $color-breeze-new;
          border-radius: 4px;
        }
      }
      img {
        border-radius: 3px;
        flex: none;
      }
      li>span {
        width: 100%;
        display: flex;
        padding: 0 8px;
        color: $color-new-hurricane;
      }
      span {
        color: $color-new-hurricane;
      }
      a {
        color: $color-gale;
        font-size: 14px;
        display: flex;
        flex: none;
        padding: 0 8px;
      }
    }
    .label-suggests {
      li {
        display: flex;
        height: 40px;
        align-items: center;
        width: 100%;
        svg {
          margin-right: 12px;
          flex: none;
        }
        span {
          line-height: 39px;
          width: 100%;
          display: flex;
          font-size: 14px;
          border-bottom: 1px solid $color-breeze-5-new;
          color: rgba(50, 61, 71, .8);
        }
        &.selected {
          background-color: $color-breeze-new;
          border-radius: 4px;
        }
      }
    }
  }
  .advanced-search-popover {
    padding-left: 16px;
    padding-right: 16px;
    label {
      color: $color-solid;
      font-size: 13px;
      font-weight: bold;
      opacity: .8;
      margin-top: 8px;
      margin-bottom: 6px;
    }
    .checkbox-label {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: bold;
      line-height: 16px;
    }
    select {
      height: 32px;
      width: 120px;
      margin-bottom: 4px;
      background-position-y: -128px;
    }
    .seperator-text {
      margin: 0 16px;
    }
    .advanced-search-text-input {
      height: 32px;
      width: 100%;
      display: flex;
      border: 1px solid $color-solid-24;
      border-radius: 4px;
      margin-bottom: 4px;
      &:focus {
        border-color: $color-solid;
        border-width: 2px;
      }
    }
    .butn-green {
      margin-top: 20px;
      margin-bottom: 16px;
      height: 40px;
    }
  }
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(35, 38, 41, .88);
  }
}
