<div class="top-bar">
  <div class="logo">
    <a ui-sref="app.messages-favorites()" class="_df">
      <div data-uib-tooltip-template="'nested-uib-tooltip.html'" class="_df"
              data-tooltip-placement="bottom auto" data-tooltip-append-to-body="true">
        <div id="Logo-white"></div>
      </div>
      <script type="text/ng-template" id="nested-uib-tooltip.html">
        <span>
          Nested &copy; 2017
          <br>
          v {{ctlSidebar.APP_VERSION}}
        </span>
      </script>
      <div class="_df">
        <div id="Logo-type-white"></div>
      </div>
    </a>
  </div>
  <div class="search">
    a
  </div>
  <div class="account">
    a
  </div>
</div>