<div class="top-bar">
  <div class="logo">
    <a ui-sref="app.messages-favorites()" class="_df">
      <div data-uib-tooltip-template="'nested-uib-tooltip.html'" class="_df" data-tooltip-placement="bottom auto" data-tooltip-append-to-body="true">
        <div id="Logo-white"></div>
      </div>
      <script type="text/ng-template" id="nested-uib-tooltip.html">
        <span>
          Nested &copy; 2017
          <br>
          v {{ctlSidebar.APP_VERSION}}
        </span>
      </script>
      <div class="_df">
        <div id="Logo-type-white"></div>
      </div>
    </a>
  </div>
  <div class="search">
    <div class="inner">
      <i>
          <svg class="_24svg fill-white">
              <use xlink:href="/assets/icons/nst-icn24.svg#search"></use>
            </svg>
      </i>
      <input nst-mention mention-new-method mention-enable-label focus-me="1" placeholder="{{ctrlTopBar.searchPlaceholder}}" ng-model="ctrlTopBar.chipQuery"
        translate-attrs="placeholder" ng-keyup="ctrlTopBar.searchKeyPressed($event, ctrlTopBar.chipQuery, true)">
    </div>
  </div>
  <div class="account">
    <script type="text/ng-template" id="mention-uib-tooltip.html">
      <translate>Notifications</translate>
    </script>
    <a class="notifications-popover-handler" data-uib-popover-template="'app/notification/notification-popover.html'" data-popover-placement="bottom-right auto"
      data-popover-class="notifications-popover" data-popover-is-open="ctrlTopBar.notifOpen" data-popover-append-to-body="false"
      data-popover-trigger="none" ng-click="ctrlTopBar.notifOpen =! ctrlTopBar.notifOpen;ctrlTopBar.profileOpen = false;$event.preventDefault();$event.stopPropagation()">
      <svg class="_20svg fill-white">
        <use xlink:href="/assets/icons/nst-icn20.svg#bell"></use>
      </svg>
      <div class="unread-notif-badge" ng-if="ctrlTopBar.notificationsCount > 0">{{ctrlTopBar.notificationsCount | localize}}</div>
    </a>
    <a class="detailed" data-uib-popover-template="'app/settings/profile/profile-popover.html'" data-popover-placement="bottom-right auto"
      data-popover-class="pop-white profile-popover" data-popover-is-open="ctrlTopBar.profileOpen" data-popover-append-to-body="false"
      data-popover-trigger="none">
      <div class="top-user-avatar-24" user-detail="ctrlTopBar.user.id" user-id="ctrlTopBar.user.id" ng-click="ctrlTopBar.profileOpen =! ctrlTopBar.profileOpen;ctrlTopBar.notifOpen = false;">
        <img initial-avatar="{{ctrlTopBar.user.id}}" name="{{ctrlTopBar.user.fullName}}" picture="{{ctrlTopBar.user | avatar}}" data-width="32"
          data-height="32" data-radius="30" class="account-initials-24 _df" data-word-count="2" data-font-size="12" />
      </div>
    </a>
  </div>
</div>
