.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: $color-solid;
  display: flex;
  align-items: center;
  z-index: 1100;
  justify-content: center;
  .search {
    max-width: $navbar-max-width;
    min-width: $navbar-min-width;
    width: 100vw;
  }
  .logo,
  .account {
    width: $sidebar-width;
    display: flex;
    flex: none;
  }
  .logo{
    padding: 0 16px;
    #Logo-type-white {
      margin: 0 8px;
      opacity: .72;
    }
  }
}