<a ng-if="ctlSidebar.canCreateGrandPlace" class="_df list-items _aic"
    ng-click="ctlSidebar.openCreatePlaceModal($event);">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
    </svg>
  </div>
  <span><translate>Create a Grand Place</translate></span>
</a>
<hr ng-if="ctlSidebar.canCreateGrandPlace && (ctlSidebar.canCreateOpenPlace || ctlSidebar.canCreateClosedPlace)">
<a class="_df list-items _aic" ng-if="ctlSidebar.canCreateOpenPlace" ng-click="ctlSidebar.openCreateSubplaceModal($event,'open');">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#window"></use>
    </svg>
  </div>
  <span><translate>Create an Open Place</translate></span>
</a>
<a class="_df list-items _aic" ng-if="ctlSidebar.canCreateClosedPlace" ng-click="ctlSidebar.openCreateSubplaceModal($event,'close');">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#brick-wall"></use>
    </svg>
  </div>
  <span><translate>Create a Closed Place</translate></span>
</a>