<div id="cookie">
  <div class="_difv _fw">
    <div class="_difh modal-head">
      <p  class="_df _fw force">This website uses cookies</p>
      <div class="_df" ng-click="cancel()"><img src="../assets/icons/close.svg"></div>
    </div>
    <div class="_difv _fw">
      <p class="_df nst-mood-storm modal-detail">This website uses cookies</p>
      <div class="_difh _jcc">
        <div class="_difh _fw modal-buttons">
          <div class="butn-white _jcc _df" ng-click="cancel()"><a class="_df">Read policy</a></div>
          <div class="butn-red _jcc _df " ng-click="ok()"><a class="_df">Agree</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
