/**
  *************************************************
  *     Nested Classes - Page Specific - Login    *
  *************************************************
 */
#panel-signin {
  width: 354px;
  height: 336px;
  .butn:hover{
    color: $color-white;
  }
}

.login-anchor:hover {
    color: $color-sense-wire;
}
