nst-attachments-preview-bar {
  //overflow-y: visible;
  //overflow-x: auto;
  i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: $color-white;
    box-shadow : 0 3px 3px  3px rgba(0,0,0,.15);
    z-index: 4;
    width: 36px;
    height: 36px;
    transition: opacity $animation-dur;
    opacity: 1;
    &:first-of-type {
      left: -16px;
      top: 50%;
      transform: rotateZ(-90deg) translateX(50%);
    }
    &:last-of-type {
      right: -16px;
      top: 50%;
      transform: rotateZ(-90deg) translateX(50%);
    }
    svg {
      width: 24px;
      height: 24px;
      transform:  scale(1.2,1.2);
    }
  }
  ul {
    list-style: none;
    position: relative;
    display: inline-block;
    li {
      position: relative;
      display: inline-block;
      .attdl {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: $color-grey;
        bottom: 2px;
        right: 4px;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        transition: opacity $animation-dur;
        svg {
          fill: $color-white;
          width: 32px;
          height: 20px;
        }
      }
      &:hover .attdl {
        opacity: 1;
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  overflow: hidden;
  ul.thumbnail-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    li {
      margin: 4px;
      vertical-align: middle;

      &:first-child {
        margin-left: 16px;
      }
      &:last-child {
        a > * {
          margin-right: 16px;
        }
      }
    }
    .attach-thumbnail {
      height: 96px;
      width: 96px;
      display: inline-block;
    }
    .attach-thumbnail-default {
      height: 96px;
      width: 72px;
      background: url('../assets/icons/attachment_card.svg') no-repeat;
      background-position: 0px -288px;
      background-size: cover;
      padding: 20px 8px 6px 8px;
      word-wrap: break-word;
      font-size: $font-size-xsmall;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .attach-thumbnail-archive {
      background-position: 0px -384px;
    }
    .attach-thumbnail-document {
      background-position: 0px 0px;
    }
    .attach-thumbnail-pdf {
      background-position: 0 -192px;
    }
    .attach-thumbnail-audio {
      background-position: 0 -96px;
    }
    .attach-thumbnail-video {
      background-position: 0 -96px;
    }
  }
  ul.badge-bar {
    li {
      margin-right: 8px;
      margin-bottom: 4px;
    }
    a.attach-badge-default {
      .badge-extension {
        display: inline-block;
        line-height: 24px;
        font-size: $font-size-xxsmall;
        font-weight: bold;
        border-radius: $border-radius-large 0 0 $border-radius-large;
        color: $color-white;
        background-color: $color-storm;
        padding: 0 4px;
        min-width: 16px;
        max-width: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .badge-name {
        display: inline-block;
        line-height: 24px;
        font-size: $font-size-xsmall;
        min-width: 16px;
        max-width: 172px;
        border-radius: 0 6px 6px 0;
        background-color: $color-breeze-50;
        color: $color-solid;
        padding: 0 6px;
        margin-left: -3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    a.attach-badge-default:hover {
      color: $color-white;
      text-decoration: none;
    }
    .attach-badge-image {
      .badge-extension {
        background-color: #3CC882 !important;
      }
    }
    .attach-badge-archive {
      .badge-extension {
        background-color: #5A28BE !important;
      }
    }
    .attach-badge-document {
      .badge-extension {
        background-color: #148CF0 !important;
      }
    }
    .attach-badge-audio {
      .badge-extension {
        background-color: #3CC882 !important;
      }
    }
    .attach-badge-video {
      .badge-extension {
        background-color: #3CC882 !important;
      }
    }
    .attach-badge-pdf {
      .badge-extension {
        background-color: #FA0032 !important;
      }
    }
    .attach-badge-other {
    }
  }
  ul.two-img {
    display: inline-flex;
    flex-direction: row;
    li {
      flex: none;
      height: 100%;
      display: flex;
    }
  }
  div.only-img {
    display: flex;
  }
}
