<i ng-click="goLeft();$event.stopPropagation()" ng-class="{'_opz' : !overFlowLeft}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-up"></use>
  </svg>
</i>
<ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
  <li ng-repeat="item in items">
    <a href="javascript:void(0);" ng-click="onClick(item);$event.stopPropagation()" ng-if="item.type === 'image' || item.type === 'gif' || ( item.type === 'video' && item.uploadType !== 'FILE' )">
      <img class="attach-thumbnail-img" alt=""
        style="background: url({{item.thumbnail}});background-size: cover; height: 96px;position: relative;top: 4px; width: {{ (item.width / item.height * 96) }}px"/>
        <span class="playbtn" ng-if="item.type === 'gif'">
          <svg class="_24svg">
            <use xlink:href="/assets/icons/nst-icn24.svg#infinity"></use>
          </svg>
        </span>
        <span class="playbtn" ng-if="item.type === 'video'">
          <svg class="_24svg">
            <use xlink:href="/assets/icons/nst-icn24.svg#play"></use>
          </svg>
        </span>
    </a>
    <a href="javascript:void(0);" ng-click="onClick(item);$event.stopPropagation()" ng-if="item.type !== 'image' && item.type !== 'gif' && item.uploadType === 'FILE'">
      <div class="attach-thumbnail {{'attach-thumbnail-' + item.type}}">
        <div class="file-name"><p>{{item.filename}}</p></div>
        <div class="detail">
          <p>{{item.extension | uppercase}}</p>
          <span class="attsize">{{item.size | bytes:2}}</span>
        </div>
      </div>
    </a>
    <a href="javascript:void(0);" ng-click="download(item);$event.stopPropagation()" class="attdl">
      <svg class="_16svg">
        <use xlink:href="/assets/icons/nst-icn16.svg#downloads"></use>
      </svg>
    </a>
  </li>
</ul>

<ul ng-if="internalMode == 'badge'" class="badge-bar">
  <li ng-repeat="item in items | orderBy:['order', 'name']">
    <a href="javascript:void(0);" ng-click="onClick(item)" class="attach-badge-default {{'attach-badge-' + item.type}}">
      <div class="badge-extension">{{item.extension ? item.extension :
        item.filename.split('.')[item.filename.split('.').length -1 ] | uppercase}}
      </div>
      <div class="badge-name">{{item.filename ? item.filename : '&nbsp'}}</div>
    </a>

  </li>
</ul>
<div ng-if="internalMode == 'onlyimg'" class="only-img">
  <div class="_df _jcc" style="width: {{wrpWidth}}px; height: {{wrpHeight}}px; overflow: hidden"
       ng-click="onClick(items[0]);$event.stopPropagation()">
    <img style="
    object-fit: cover;
    height: {{height}}px;
    width: {{width}}px" ng-src="{{items[0].picture.getUrl('preview')}}"/>
  </div>
  <span class="playbtn _scl2" ng-if="items[0].type === 'video'">
    <svg class="_24svg">
      <use xlink:href="/assets/icons/nst-icn24.svg#play"></use>
    </svg>
  </span>
  <span class="playbtn _scl2" ng-if="items[0].type === 'gif'">
    <svg class="_24svg">
      <use xlink:href="/assets/icons/nst-icn24.svg#infinity"></use>
    </svg>
  </span>
  <div class="download-img" ng-click="download(items[0])">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#downloads"></use>
    </svg>
  </div>
</div>
<div ng-if="internalMode == 'twoimg'" class="two-img _fw ng-class:{'deform' : deform}">
  
  <img style="width: calc({{scaleOne}}% - 8px);height: {{constHeight}}px;object-fit: cover"
       ng-src="{{items[0].picture.getUrl('preview')}}" ng-click="onClick(items[0]);$event.stopPropagation()"/>

  <a class="download-img" style="left: calc({{scaleOne}}% - 40px);right:auto;transform: translateX(-50%);"
     ng-click="download(items[0])">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#downloads"></use>
    </svg>
  </a>

  <span class="playbtn _scl2" style="left: {{scaleOne / 2}}%;right:auto;" ng-click="onClick(items[0])">
    <svg class="_24svg" ng-if="items[0].type === 'video'">
      <use xlink:href="/assets/icons/nst-icn24.svg#play"></use>
    </svg>
    <svg class="_24svg" ng-if="items[0].type === 'gif'">
      <use xlink:href="/assets/icons/nst-icn24.svg#infinity"></use>
    </svg>
  </span>

  <div style="width: {{flexDiv}}px"></div>

  <img style="width: calc({{scaleTwo}}% - 8px);height: {{constHeight}}px;object-fit: cover"
       ng-src="{{items[1].picture.getUrl('preview')}}" ng-click="onClick(items[1]);$event.stopPropagation()"/>

  <a class="download-img" style="left: auto;right:8px;" ng-click="download(items[1])">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#downloads"></use>
    </svg>
  </a>

  <span class="playbtn _scl2 oddCase" style="right: {{scaleTwo / 2}}%;left:auto;" ng-click="onClick(items[1])">
    <svg class="_24svg" ng-if="items[1].type === 'video'">
      <use xlink:href="/assets/icons/nst-icn24.svg#play"></use>
    </svg>
    <svg class="_24svg" ng-if="items[1].type === 'gif'">
      <use xlink:href="/assets/icons/nst-icn24.svg#infinity"></use>
    </svg>
  </span>
  <!--<li style="width: {{scaleOne}}%">-->
  <!--</li>-->
  <!--<li style="width: {{flexDiv}}px">-->
  <!--</li>-->
  <!--<li style="width: {{scaleTwo}}%">-->
  <!--</li>-->
</div>
<i ng-click="goRight();$event.stopPropagation()" ng-class="{'_opz' : !overFlowRight}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
  </svg>
</i>
