<i ng-click="goLeft();$event.stopPropagation()" ng-class="{'_opz' : !overFlowLeft}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-up"></use>
  </svg>
</i>
<ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
  <li ng-repeat="item in items">
    <a href="javascript:void(0);" ng-click="onClick(item);$event.stopPropagation()">
      <img ng-if="item.hasThumbnail" class="attach-thumbnail-img" alt=""
           style="background: url({{item.thumbnail}});background-size: cover; height: 108px; width: {{ (item.ratio * 108) }}px"/>
      <div ng-if="!item.hasThumbnail" class="attach-thumbnail {{'attach-thumbnail-' + item.type}}">
        <p>{{item.name}}</p>
        <div class="detail">
          <p>{{item.extension | uppercase}}</p>
          <span class="attsize">{{item.size | bytes:2}}</span>
        </div>
      </div>
    </a>
    <a href="javascript:void(0);" ng-click="download(item);$event.stopPropagation()" class="attdl">
      <svg class="_16svg">
        <use xlink:href="/assets/icons/nst-icn16.svg#downloads"></use>
      </svg>
    </a>
  </li>
</ul>

<ul ng-if="internalMode == 'badge'" class="badge-bar">
  <li ng-repeat="item in items | orderBy:['order', 'name']">
    <a href="javascript:void(0);" ng-click="onClick(item)" class="attach-badge-default {{'attach-badge-' + item.type}}">
      <div class="badge-extension">{{item.extension ? item.extension : item.filename.split('.')[item.filename.split('.').length -1 ] | uppercase}}</div>
      <div class="badge-name">{{item.filename ? item.filename : '&nbsp'}}</div>
    </a>

  </li>
</ul>
<div ng-if="internalMode == 'onlyimg'" class="only-img">
  <div style="width: {{wrpWidth}}px; height: {{wrpHeight}}px; overflow: hidden" ng-click="onClick(items[0]);$event.stopPropagation()">
  <img style="
    height: {{height}}px;
    width: {{width}}px" ng-src="{{items[0].preview}}"/>
  </div>
</div>
<ul ng-if="internalMode == 'twoimg'" class="two-img">
  <li style="width: {{flexOneWidth}}px;height:  {{imgHeight}}px" ng-click="onClick(items[0]);$event.stopPropagation()">
    <img width="100%" height="100%" ng-src="{{items[0].preview}}"/>
  </li>
  <li style="width: {{flexDiv}}px">
  </li>
  <li style="width: {{flexTwoWidth}}px;height:  {{imgHeight}}px" ng-click="onClick(items[1]);$event.stopPropagation()">
    <img width="100%"  height="100%" ng-src="{{items[1].preview}}"/>
  </li>
</ul>
<i ng-click="goRight();$event.stopPropagation()" ng-class="{'_opz' : !overFlowRight}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-down"></use>
  </svg>
</i>
