<div class="attachments-preview-bar">
  <ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
    <li ng-repeat="item in items" data-tooltip-placement="bottom" data-uib-tooltip="{{item.name}}">
      <a href="javascript:void(0);" ng-click="onClick(item);$event.stopPropagation()">
        <img ng-if="items.length > 1 && item.hasThumbnail" class="attach-thumbnail" alt=""
             style="background: url({{item.thumbnail}});background-size: cover; height: 96px; width: {{ (item.ratio * 96) }}px"/>
        <img ng-if="items.length === 1 && item.hasThumbnail" alt="" ng-src="{{item.preview}}" width="100%"/>
        <div ng-if="!item.hasThumbnail" class="attach-thumbnail-default {{'attach-thumbnail-' + item.type}}">
          {{item.name}}
        </div>
      </a>
    </li>
  </ul>
  <ul ng-if="internalMode == 'badge'" class="badge-bar">
    <li ng-repeat="item in items | orderBy:['order', 'name']">
      <a href="javascript:void(0);" ng-click="onClick(item)" class="attach-badge-default {{'attach-badge-' + item.type}}">
        <div class="badge-extension">{{item.extension ? item.extension : '&nbsp'}}</div>
        <div class="badge-name">{{item.name ? item.name : '&nbsp'}}</div>
      </a>
    </li>
  </ul>
</div>
