<div class="actdes">
  <div class="ico">
    <div class="ei-comment-add"></div>
  </div>
  <div class="sender" data-ng-include="'app/events/partials/event/common/actor.html'" data-ng-init="actor = event.actor"></div>
</div>
<div class="actcon">
  <div class="msg" data-ng-click="$event.preventDefault(); postView(event.post, '/post/' + event.post.id, $event)">
    <div class="subject">
      <span class="nst-mood-simple">commented on&nbsp;</span>
      <a class="nst-mood-solid post" href="#/post/{{event.post.id}}" ng-click="$event.preventDefault(); postView(event.post, '/post/' + event.post.id, $event)" data-ng-bind-html="event.post.subject || '<em>No Subject</em>' | emoji"></a>
    </div>
    <div data-ng-show="events.extended" class="body" data-ng-bind-html="event.comment.body | emoji"></div>
  </div>
  <div class="places _dif">
    <div data-ng-if="event.post.places.length > 1" class="_df _pr more-tag popover-white" data-uib-popover-template="'app/events/partials/event/common/more_places.html'" data-popover-placement="auto bottom-right" popover-trigger="outsideClick">
      <a>{{event.post.places.length - 1}}+</a>
    </div>
    <div class="small-badge _df _pr"><a href="#/events/{{event.post.places[0].id}}"  data-ng-bind="event.post.places[0].name"></a></div>
  </div>
  <div class="time" data-ng-include="'app/events/partials/event/common/date.html'"></div>
</div>
