<div class="nst-content _tr content-wrapper">
    <section class="content nst-marginbtm-28">
      <div class="task-area">
        <h2>
          <svg class="_16svg _df _scl2">
            <use xlink:href="/assets/icons/nst-icn16.svg#checked-box"></use>
          </svg>
          <a>
            <translate>Search results</translate>
          </a>
          <hr>
        </h2>
        <div class="list-ul">
            <task-view-item ng-repeat="task in ctlSearch.messages"></task-view-item>
        </div>
        <div class="nst-margin-24 text-center" ng-if="ctlSearch.reachedTheEnd || ctlSearch.loadMessageError || ctlSearch.loading || ctlSearch.noResult">
          <p class="nst-mood-storm" ng-if="ctlSearch.noResult">
            <translate>No results found!</translate>
          </p>
          <p class="nst-mood-storm" ng-if="ctlSearch.reachedTheEnd">
            <translate>No more Tasks here!</translate>
          </p>
          <p class="nst-mood-storm" ng-if="ctlSearch.loadMessageError">
            <translate>An error has occurred. Please <a href class="nst-mood-cheerful" data-ng-click="ctlSearch.loadMore()">try again...</a></translate>
          </p>
          <div class="_difh nst-mood-cheerful no-gutter" ng-if="ctlSearch.loading">
            <div class="nst-loading"></div>
          </div>
        </div>
        <div class="nst-marginbtm-32"></div>
      </div>
    </section>
    <div class="content-plus">
      <div class="content-plus-inner">
        <div>
          <div class="name">
            <span class="nst-text-bold"><translate>Search Tips</translate></span>
            <svg class="_16svg _df">
              <use xlink:href="/assets/icons/nst-icn16.svg#star"></use>
            </svg>
          </div>
          <div class="_bgwhite _db nst-padding-10">
            <div class="nst-padding-bottom-10">
              <translate>Use some special formats to make your search more precision:</translate>
            </div>
            <div class="nst-padding-bottom-10">
              <span class="search-info-chip"><translate>from:</translate></span>
              <translate>tasks form specified user</translate>
            </div>
            <div class="nst-padding-bottom-10">
              <span class="search-info-chip"><translate>to:</translate></span>
              <translate>tasks to specified user</translate>
            </div>
            <div>
              <span class="search-info-chip"><translate>label:</translate></span>
              <translate>tasks with specific labels</translate>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  