<div class="activity-recent">
  <div class="name"  ng-click="recentCtrl.openActivity()"><translate>Recent Activities</translate></div>
  <div class="recent-container _fw _df _jcc _fn" style="height: 80px" data-ng-if="recentCtrl.status.loadInProgress">
    <div class="nst-mood-cheerful no-gutter nst-margin-24 _pr">
      <div class="loading">
        <div class="animation"><div class="circle one"></div></div>
        <div class="animation"><div class="circle two"></div></div>
        <div class="animation"><div class="circle three"></div></div>
        <div class="animation"><div class="circle four"></div></div>
        <div class="animation"><div class="circle five"></div></div>
      </div>
    </div>
  </div>
  <ul class="recent-container" data-ng-if="!recentCtrl.status.loadInProgress">
    <li class="recent-item use-ng-animate" ng-class="{ hot : activity.isHot }" ng-repeat="activity in recentCtrl.activities">
      <recent-activity-item place="recentCtrl.place" model="activity" current-place-id="settings.placeId"/>
    </li>
  </ul>
</div>
