.activity-recent {
  .recent-container {
    list-style: none;
    .recent-item.hot {
      overflow-y: hidden;
    }
    .recent-item.hot.ng-enter {
      animation: recent-activity-item-hot 0.75s ease-in forwards, recent-activity-item-normal 0.75s 4s ease-out forwards;
    }
  }
}
