.activity-recent {
  display: flex;
  flex-direction: column;
  max-height: 478px;
  .recent-container {
    height: auto;
    list-style: none;
    background-color: $sidebar-bg-color !important;
    li {
      display: flex;
    }
    li:last-child {
      .colomn {
        border: none;
      }
    }
    .recent-item.hot {
      overflow-y: hidden;
    }
    .recent-item.hot.ng-enter {
      animation: recent-activity-item-hot-light 0.75s ease-in forwards, recent-activity-item-normal 0.75s 4s ease-out forwards;
    }
    .loading {
      margin-top: 0;
    }
  }
}
