<nst-attachments-editable-bar mode="'badge'" items="ctlAttachment.attachments.viewModels" ng-if="ctlAttachment.editMood" on-item-delete="ctlAttachment.attachments.detach"></nst-attachments-editable-bar>
<nst-attachments-preview-bar mode="'badge'" items="ctlAttachment.attachments.viewModels" ng-if="!ctlAttachment.editMood" on-item-click=""></nst-attachments-preview-bar>

<a class="attachment-plus ng-class:{'active': ctlAttachment.openPopover}"  ng-click="ctlAttachment.openPopover =! ctlAttachment.openPopover" ng-if="ctlAssignee.editMood"
   data-popover-class="files-menu-popover" move-add-attachment-element data-popover-append-to-body="true" uib-popover-template="'app/task/common/attachment/popovers/add-attachment-popover.html'"
   data-popover-trigger="focus" data-popover-placement="auto {{$root._direction === 'rtl'? 'left': 'right'}}" data-popover-is-open="ctlAttachment.openPopover">
  <svg class="_16svg ng-class:{'_r45': ctlAttachment.openPopover}">
    <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
  </svg>
</a>
<input id="upload-files" type="file" multiple on-file-change="ctlAttachment.attachments.fileSelected" />
<input id="upload-media" type="file" multiple on-file-change="ctlAttachment.attachments.mediaSelected" />
