<div class="comment-voice-recorder" ng-if="ctrlRecorder.support">
  <div class="recorder-eqo" ng-if="!ctrlRecorder.recorded" ng-class="{'active': ctrlRecorder.recording}" style="{{ctrlRecorder.getEqo(ctrlRecorder.eqo)}}"></div>
  <div class="recorder" ng-if="!ctrlRecorder.recorded" ng-mousedown="ctrlRecorder.start()" ng-mouseup="ctrlRecorder.stop()" ng-class="{'active': ctrlRecorder.recording}">
    <svg class="_16svg" ng-if="!ctrlRecorder.recording">
      <use xlink:href="/assets/icons/nst-icn16.svg#microphone"></use>
    </svg>
    <svg class="_16svg" ng-if="ctrlRecorder.recording">
      <use xlink:href="/assets/icons/nst-icn16.svg#microphone-wire"></use>
    </svg>
  </div>
  <div class="voice-uploader" ng-if="ctrlRecorder.recorded">
    <div class="nst-loading sm"></div>
  </div>
</div>
<div class="comment-voice-timer" ng-if="ctrlRecorder.recording || ctrlRecorder.recorded">
  <div class="comment-voice-blinker" ng-class="{'recording': ctrlRecorder.recording}"></div>
  <div class="comment-voice-timer-text">{{ctrlRecorder.timerCounter | durationToTime | localize}}</div>
</div>
