nst-voice-comment-recorder {
  .comment-voice-recorder {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    .recorder {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-color: $contrast-bg-color;
      display: flex;
      justify-content: center;
      svg {
        fill: $color-grey;
        display: flex;
      }
      &:hover {
        svg {
          fill: $color-grey-text;
        }
      }
      &.active {
        background-color: transparent;
        svg {
          fill: $color-white;
        }
      }
    }
    .recorder-eqo {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-color: rgba($color-sense, 0.6);
      &.active {
        transition: all 0.1s;
      }
    }
  }
  .comment-voice-timer {
    position: absolute;
    top: 50%;
    left: 45px;
    height: 20px;
    width: 200px;
    background-color: $contrast-bg-color;
    transform: translateY(-50%);
    .comment-voice-blinker {
      position: absolute;
      top: 50%;
      left: 10px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: #660000;
      transform: translateY(-50%);
      &.recording {
        box-shadow: 0 0 4px #cc0000;
        animation-name: comment-voice-timer-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    .comment-voice-timer-text {
      position: absolute;
      top: 50%;
      left: 25px;
      height: 16px;
      width: 100px;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 18px;
      color: $color-new-hurricane;
    }
  }
}
@keyframes comment-voice-timer-animation {
  0%, 100% {
    background-color: #660000;
  }
  50% {
    background-color: #ff0000;
  }
}
body[dir="rtl"] {
  nst-voice-comment-recorder {
    .comment-voice-recorder {
      right: auto;
      left: 30px;
    }
    .comment-voice-timer {
      left: auto;
      right: 45px;
      .comment-voice-blinker {
        left: auto;
        right: 10px;
      }
      .comment-voice-timer-text {
        left: auto;
        right: 25px;
      }
    }
  }
}
