<!--<div ng-if="!attachment.isDownloaded && attachment.extension === 'mp4'" class="nst-preview-pic-mode">-->
  

  <!--<img ng-if="attachment.hasThumbnail" class="_oph" ng-src="{{attachment.thumbnail}}" />-->
  <!--<div ng-if="!attachment.hasThumbnail" class="att-exp-application-large-">-->
    <!--<div class="_tac _fw _dibp title-att color-doc nst-font-large upper-case">{{attachment.extension}}</div>-->
  <!--</div>-->
<!--</div>-->
<div class="attachment-image-show ng-class:{'loaded' : attachment.loaded}" style="width:{{attachment.newW + 'px'}};height:{{attachment.newH + 'px'}};transform:scale({{scaleVal}},{{scaleVal}})">
  <!--<img ng-if="attachment.preview" class="tumb" />-->{{attachment.loaded}}
  <video width="{{attachment.newW}}" height="{{attachment.newH}}" autoplay loop preview-on-load>
    <source src="{{trustSrc(attachment.viewUrl)}}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="prev" style="background-image:url('{{attachment.preview}}');" ng-hide="attachment.loaded"></div>
</div>
<div class="loading white" ng-if="!attachment.loaded" >
  <div class="animation"><div class="circle one"></div></div>
  <div class="animation"><div class="circle two"></div></div>
  <div class="animation"><div class="circle three"></div></div>
  <div class="animation"><div class="circle four"></div></div>
  <div class="animation"><div class="circle five"></div></div>
</div>