<div ng-if="attachment.viewUrl" class="attachment-image-show ng-class:{'loaded' : attachment.loaded}" style="width:{{attachment.newW + 'px'}};height:{{attachment.newH + 'px'}};transform:scale({{scaleVal}},{{scaleVal}})">
  <video width="{{attachment.newW}}" height="{{attachment.newH}}" autoplay loop preview-on-load>
    <source src="{{trustSrc(attachment.viewUrl)}}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="prev" style="background-image:url('{{attachment.preview}}');" ng-hide="attachment.loaded"></div>
</div>
<div class="loading white" ng-if="!attachment.loaded" >
  <div class="animation"><div class="circle one"></div></div>
  <div class="animation"><div class="circle two"></div></div>
  <div class="animation"><div class="circle three"></div></div>
  <div class="animation"><div class="circle four"></div></div>
  <div class="animation"><div class="circle five"></div></div>
</div>
