
  <div class="nst-preview-pic-mode" ng-if="attachment.downloadUrl">
    <video class="video-js" controls preload="auto" poster="{{attachment.extension}}" data-setup='{ "techOrder": ["vlc"] }'>
      <source src="{{attachment.downloadUrl}}" type="video/mp4"></source>
    </video>
  </div>

  <!--<div ng-if="!attachment.isDownloaded" class="nst-preview-pic-mode">-->
    <!--<img ng-if="attachment.hasThumbnail" class="_oph" src="{{attachment.thumbnail}}" />-->
    <!--<div ng-if="!attachment.hasThumbnail" class="att-exp-application-large-">-->
      <!--<div class="_tac _fw _dibp title-att color-doc nst-font-large upper-case">{{attachment.extension}}</div>-->
    <!--</div>-->
    <!--<div class="downloadprogress">-->
      <!--<div ng-progressbar="{{attachment.downloadedRatio}}" progressbar-mode="circle"></div>-->
    <!--</div>-->
  <!--</div>-->
