.edit-task {
    width: 752px;
    max-width: 752px;
    min-height: 480px;
    display: flex;
    position: relative;
    .task-creator {
        position: absolute;
        left: 8px;
        top: -8px;
        transform: translateY(-100%);
        h2 {
            font-size: 13px;
            color: $color-white;
            margin: 0;
        }
    }
    .task-form {
        width: 472px;
        padding: 12px 16px 36px 3px;
        position: relative;
        .task-binder {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .task-comments {
        width: 280px;
        background-color: #EEEFEF;
        border-radius: 0 6px 6px 0;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        .log-filter {
            height: 40px;
            opacity: .4;
            display: flex;
            align-items: center;
            padding: 0 10px;
            h3 {
                font-size: 13px;
                margin: 0;
                font-weight: bold;
            }
            svg {
                margin: 0 4px;
            }
        }
        .no-comments-holder {
            margin-top: 110px;
            display: flex;
            align-items: center;
            flex-direction: column;
            span {
                font-size: 13px;
                transform: translateY(-24px);
                color: #ACB0B4;
                text-align: center;
                b {
                    color: #6A727A;
                }
            }
        }
        .task-comments-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            comments-board {
                height: 100%;
            }
            .comments-container {
                display: flex;
                height: calc(100% - 48px);
            }
        }
    }
}