<div class="bg-compose" ng-click="ctrlEditTask.backDropClick();" reposition-bg></div>
<div class="task-related-parent overflow-task-view">
  <a ng-if="ctrlEditTask.model.isRelated" ng-click="ctrlEditTask.editTask(ctrlEditTask.model.relatedTask.id)">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#chain"></use>
    </svg>
    {{ctrlEditTask.model.relatedTask.title}}
  </a>
  <div class="devider" ng-if="ctrlEditTask.model.isRelated"></div>
</div>
<div class="task-creator overflow-task-view">
  <svg class="_16svg">
    <use xlink:href="/assets/icons/nst-icn16.svg#line-star"></use>
  </svg>
  <h2>
    <translate>created by</translate>
    <b>{{ctrlEditTask.model.assignor.fullName}}</b>
  </h2>
</div>
<div class="edit-task">
  <div class="task-form ng-class:{'edit-mode': ctrlEditTask.model.access.updateTask, '_opz' : ctrlEditTask.loading}">
    <div ng-if="!ctrlEditTask.loading">
      <div class="task-title auto-height-item">
        <div
          class="task-input-wrapper ng-class:{'focus': ctrlEditTask.titleFocus, 'error' : (ctrlEditTask.model.title.length > ctrlEditTask.model.titleLengthLimit)}">
          <textarea type="text" class="no-style gale-holder create-task-input"
                    placeholder="{{ctrlEditTask.titlePlaceholder}}" id="task-title"
                    ng-focus="ctrlEditTask.titleFocus = true"
                    ng-blur="ctrlEditTask.titleFocus = false; ctrlEditTask.updateTitle(ctrlEditTask.model.title);"
                    resize-textarea ng-model="ctrlEditTask.model.title"
                    enter-key="ctrlEditTask.enterSubjectTask(); ctrlEditTask.updateTitle(ctrlEditTask.model.title);"
                    prevent-shift-enter="true" nst-suggest-emoji auto-dir="ctrlEditTask.model.title"
                    uneditable="{{ctrlEditTask.model.access.updateTask? 'false': 'true'}}"
          ></textarea>
          <div ng-if="ctrlEditTask.model.access.updateTask" class="task-menu-options"
               data-popover-class="white-pop task-logs-filter-popover"
               data-popover-append-to-body="false"
               uib-popover-template="'app/task/common/popovers/task-more-options-popover.html'"
               data-popover-placement="auto bottom-{{$root._direction === 'rtl' ? 'left' : 'right'}}">
            <svg class="_24svg">
              <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
            </svg>
          </div>
          <div class="error-handler"
               ng-if="ctrlEditTask.model.title.length > (ctrlEditTask.model.titleLengthLimit - 10)">
            {{ctrlEditTask.model.title.length | localize}} / {{ctrlEditTask.model.titleLengthLimit | localize}}
          </div>
        </div>
        <label for="task-title" ng-class="{'focus' : ctrlEditTask.titleFocus}">
          <task-progress-icon status="ctrlEditTask.getTaskIcon(ctrlEditTask.model.status, ctrlEditTask.model.progress)"
                              progress="ctrlEditTask.model.progress"></task-progress-icon>
        </label>
      </div>
      <div class="task-assignee auto-height-item">
        <div class="task-input-wrapper ng-class:{'focus' : ctrlEditTask.assigneeFocus}">
          <task-assignee assignees-data="ctrlEditTask.model.assignees" assignee-focus="ctrlEditTask.assigneeFocus"
                         assignee-with-candidate="true"
                         assignee-placeholder="{{ctrlEditTask.assigneePlaceholder}}"
                         remove-items="ctrlEditTask.removeAssigneeItems"
                         assignee-focus-me="ctrlEditTask.assigneeFocusTrigger"
                         add-item="ctrlEditTask.model.access.updateTask"
                         remove-item="ctrlEditTask.model.access.updateTask"
                         on-key-down="ctrlEditTask.assigneeKeyDown"
          ></task-assignee>
          <div class="input-buttons" ng-if="ctrlEditTask.assigneeFocus && ctrlEditTask.assigneeChanged">
            <div class="discard-changes">
              <svg class="_16svg" ng-click="ctrlEditTask.executeAssigneeUpdate('abort')">
                <use xlink:href="/assets/icons/nst-icn16.svg#xcross"></use>
              </svg>
            </div>
            <div class="submit-changes" ng-click="ctrlEditTask.executeAssigneeUpdate('confirm')">
              <svg class="_16svg">
                <use xlink:href="/assets/icons/nst-icn16.svg#heavy-tick"></use>
              </svg>
            </div>
          </div>
          <div ng-if="ctrlEditTask.assigneeFocus != true && ctrlEditTask.model.assignees.length == 1"
               ng-click="ctrlEditTask.assigneeFocus = true;"
               class="unfocused-input" translate-inner>Assigned to <b user-detail="ctrlEditTask.model.assignees[0]">
                 <translate ng-if="ctrlEditTask.user.id === ctrlEditTask.model.assignees[0].id">Me</translate>
                 <span ng-if="ctrlEditTask.user.id !== ctrlEditTask.model.assignees[0].id">{{ctrlEditTask.model.assignees[0].fullName}}</span></b>
          </div>
          <div ng-if="ctrlEditTask.assigneeFocus != true && ctrlEditTask.model.assignees.length > 1"
               ng-click="ctrlEditTask.assigneeFocus = true;"
               class="unfocused-input candidates">
            <translate>Candidates:</translate>
            <span ng-repeat="assignee in ctrlEditTask.model.assignees">
              <b user-detail="assignee">
                <translate ng-if="ctrlEditTask.user.id === assignee.id">Me</translate>
                <span ng-if="ctrlEditTask.user.id !== assignee.id">{{assignee.fullName}}</span>
              </b>{{ctrlEditTask.model.assignees.length - 2 == $index? ' & ': (ctrlEditTask.model.assignees.length - 2 > $index? ', ': '')}}
            </span>
          </div>
        </div>
        <label ng-class="{'focus' : ctrlEditTask.assigneeFocus}">
          <svg class="_24svg" ng-if="ctrlEditTask.assigneeIcon == 'no-assignee'">
            <use xlink:href="/assets/icons/nst-icn24.svg#ask-wire"></use>
          </svg>
          <img initial-avatar="{{ctrlEditTask.assigneeIcon}}" name="{{ctrlEditTask.assigneeIcon}}"
               picture="{{ctrlEditTask.assigneeIcon | avatar : 'x32'}}" data-width="20" data-height="20"
               data-radius="40" class="account-initials-20 _df" data-word-count="2" data-font-size="13"
               ng-if="ctrlEditTask.assigneeIcon != 'no-assignee' && ctrlEditTask.assigneeIcon != 'candidate'"/>
          <svg class="_32svg" ng-if="ctrlEditTask.assigneeIcon == 'candidate'">
            <use xlink:href="/assets/icons/nst-task-icn32.svg#candidate"></use>
          </svg>
        </label>
      </div>
      <div ng-if="ctrlEditTask.model.access.updateTask == true || ctrlEditTask.model.dueDate != null"
           class="task-due const-height-item">
        <div class="task-input-wrapper ng-class:{'focus': ctrlEditTask.dueDateFocus}">
          <input type="text" class="no-style gale-holder create-task-input"
                 placeholder="{{ctrlEditTask.dueDatePlaceholder}}"
                 id="task-due" ng-focus="ctrlEditTask.dueDateFocus = true" ng-blur="ctrlEditTask.dueDateFocus = false"
                 ng-model="ctrlEditTask.model.dueDateText"
                 data-config="ctrlEditTask.datePickerconfig" g-formatted-picked-date="gfdate" g-picked-date="gdate"
                 ng-jalaali-flat-datepicker have-time="ctrlEditTask.model.hasDueTime" timestamp-model="ctrlEditTask.model.dueDate"
                 uneditable="{{ctrlEditTask.model.access.updateTask? 'false': 'true'}}"
          >
        </div>
        <label for="task-due"
               ng-class="{'focus': ctrlEditTask.dueDateFocus, 'no-hover': (ctrlEditTask.model.access.updateTask != true || ctrlEditTask.model.dueDate == null)}">
          <div class="_24svg _df _jcc">
            <svg class="_16svg static-item">
              <use xlink:href="/assets/icons/nst-icn16.svg#finish-flag"></use>
            </svg>
            <svg class="_16svg force hover-item"
                 ng-if="ctrlEditTask.model.dueDate != null && ctrlEditTask.model.access.updateTask == true"
                 ng-click="ctrlEditTask.removeDueDate()" translate-attrs="data-uib-tooltip"
                 data-uib-tooltip="Remove Due Time" data-tooltip-placement="top-center auto"
                 data-tooltip-append-to-body="true">
              <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="task-description auto-height-item" ng-if="ctrlEditTask.enableDescription">
        <div class="task-input-wrapper ng-class:{'focus': ctrlEditTask.descriptionFocus}">
          <textarea class="no-style gale-holder create-task-input" focus-me="{{ctrlEditTask.descriptionFocus}}" ng-model="ctrlEditTask.model.description"
                    ng-focus="ctrlEditTask.descriptionFocus = true" nst-suggest-emoji
                    ng-blur="ctrlEditTask.descriptionFocus = false; ctrlEditTask.updateDescription(ctrlEditTask.model.description);"
                    enter-key="ctrlEditTask.enterDescriptionTask(); ctrlEditTask.updateDescription(ctrlEditTask.model.description);"
                    placeholder="{{ctrlEditTask.descriptionPlaceholder}}" id="task-description" resize-textarea
                    uneditable="{{ctrlEditTask.model.access.updateTask? 'false': 'true'}}" auto-dir="ctrlEditTask.model.description"></textarea>
        </div>
        <label for="task-description" ng-class="{'focus': ctrlEditTask.descriptionFocus}">
          <svg class="_16svg">
            <use xlink:href="/assets/icons/nst-icn16.svg#petition"></use>
          </svg>
        </label>
      </div>
      <div class="task-todo auto-height-item" ng-show="ctrlEditTask.enableTodo">
        <div class="_difv _fw">
          <h3>
            <translate>To-Do list</translate>
          </h3>
          <ul class="todo-list ng-class:{'focus': ctrlEditTask.todoFocus}">
            <task-todo todos-data="ctrlEditTask.model.todos" todo-focus="ctrlEditTask.todoFocus"
                       todo-placeholder="{{ctrlEditTask.todoPlaceholder}}"
                       remove-items="ctrlEditTask.removeTodoItems" todo-focus-me="ctrlEditTask.assigneeTodoTrigger"
                       update-item="ctrlEditTask.updateTodo"
                       check-item="ctrlEditTask.checkTodo" add-item="ctrlEditTask.model.access.addTodo"
                       remove-item="ctrlEditTask.model.access.removeTodo"></task-todo>
            </li>
          </ul>
        </div>
        <label ng-class="{'focus': ctrlEditTask.todoFocus, 'no-hover': ctrlEditTask.model.access.removeTodo != true}">
          <div class="_24svg _df _jcc _pr">
            <svg class="_16svg static-item">
              <use xlink:href="/assets/icons/nst-icn16.svg#bullet-list"></use>
            </svg>
            <svg class="_16svg force hover-item"
                 ng-if="ctrlEditTask.model.access.removeTodo == true"
                 ng-click="ctrlEditTask.removeTodos()" data-uib-tooltip="Remove To-Do list"
                 data-tooltip-placement="top-center auto"
                 data-tooltip-append-to-body="true">
              <use xlink:href="/assets/icons/nst-icn16.svg#negative-xcross"></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="task-attachment auto-height-item" ng-show="ctrlEditTask.enableAttachment">
        <div class="_difv _fw">
          <h3><translate>Attachments</translate></h3>
          <div class="attachments-badge-wrapper">
            <task-attachment attachments-data="ctrlEditTask.model.attachments"
                             remove-items="ctrlEditTask.removeAttachmentItems"
                             ng-click="ctrlEditTask.attachmentFocus = true"
                             task-id="ctrlEditTask.taskId" add-item="ctrlEditTask.model.access.addAttachment"
                             remove-item="ctrlEditTask.model.access.removeAttachment"></task-attachment>
          </div>
        </div>
        <label
          ng-class="{'focus': ctrlEditTask.attachmentFocus, 'no-hover': ctrlEditTask.model.access.removeAttachment != true}">
          <div class="_24svg _df _jcc _pr">
            <svg class="_16svg static-item">
              <use xlink:href="/assets/icons/nst-icn16.svg#attach"></use>
            </svg>
            <svg class="_16svg force hover-item"
                 ng-if="ctrlEditTask.model.access.removeAttachment == true"
                 ng-click="ctrlEditTask.removeAttachments()" data-uib-tooltip="Remove All Attachments"
                 data-tooltip-placement="top-center auto" translate-attrs=""
                 data-tooltip-append-to-body="true">
              <use xlink:href="/assets/icons/nst-icn16.svg#negative-xcross"></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="task-watcher auto-height-item" ng-show="ctrlEditTask.enableWatcher">
        <div class="_difv _fw">
          <h3>
            <translate>Watchers</translate>
          </h3>
          <div class="task-input-wrapper ng-class:{'focus': ctrlEditTask.watcherFocus}">
            <task-assignee assignees-data="ctrlEditTask.model.watchers" assignee-focus="ctrlEditTask.watcherFocus"
                           assignee-with-candidate="false"
                           assignee-placeholder="{{ctrlEditTask.watcherPlaceholder}}"
                           remove-items="ctrlEditTask.removeWatcherItems" assignee-exclude="{{ctrlEditTask.user.id}}"
                           add-item="ctrlEditTask.model.access.addWatcher"
                           remove-item="ctrlEditTask.model.access.removeWatcher"></task-assignee>
          </div>
        </div>
        <label
          ng-class="{'focus': ctrlEditTask.watcherFocus, 'no-hover': ctrlEditTask.model.access.removeWatcher != true}">
          <div class="_24svg _df _jcc _pr">
            <svg class="_16svg static-item">
              <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
            </svg>
            <svg class="_16svg force hover-item"
                 ng-if="ctrlEditTask.model.access.removeWatcher == true"
                 data-uib-tooltip="Remove All Watchers"
                 data-tooltip-placement="top-center auto" translate-attrs="data-uib-tooltip"
                 data-tooltip-append-to-body="true"
                 ng-click="ctrlEditTask.removeWatchers()">
              <use xlink:href="/assets/icons/nst-icn16.svg#negative-xcross"></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="task-labels auto-height-item" ng-show="ctrlEditTask.enableLabel">
        <div class="_difv _fw">
          <h3>
            <translate>Labels</translate>
          </h3>
          <div class="task-input-wrapper ng-class:{'focus': ctrlEditTask.labelFocus}">
            <task-label labels-data="ctrlEditTask.model.labels" label-focus="ctrlEditTask.labelFocus"
                        label-placeholder="{{ctrlEditTask.labelPlaceholder}}"
                        remove-items="ctrlEditTask.removeLabelItems" add-item="ctrlEditTask.model.access.addLabel"
                        remove-item="ctrlEditTask.model.access.removeLabel"></task-label>
          </div>
        </div>
        <label ng-class="{'focus': ctrlEditTask.labelFocus, 'no-hover': ctrlEditTask.model.access.removeLabel !== true}">
          <div class="_24svg _df _jcc _pr">
            <svg class="_16svg static-item">
              <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
            </svg>
            <svg class="_16svg force hover-item" ng-if="ctrlEditTask.model.access.removeLabel == true"
                 ng-click="ctrlEditTask.removeLabels()" data-uib-tooltip="Clear All Labels"
                 data-tooltip-placement="top-center auto" translate-attrs="data-uib-tooltip"
                 data-tooltip-append-to-body="true">
              <use xlink:href="/assets/icons/nst-icn16.svg#negative-xcross"></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="task-binder ng-class:{'is-open': ctrlEditTask.isOpenBinder}"
           ng-if="((!ctrlEditTask.enableWatcher && ctrlEditTask.model.access.addLabel) ||
              (!ctrlEditTask.enableAttachment && ctrlEditTask.model.access.addAttachment) ||
              (!ctrlEditTask.enableTodo && ctrlEditTask.model.access.addTodo)||
              (!ctrlEditTask.enableDescription && ctrlEditTask.model.access.updateTask) ||
              (!ctrlEditTask.enableLabel && ctrlEditTask.model.access.addLabel))">
        <div class="task-binders">
          <div class="task-binder-butn" ng-click="ctrlEditTask.openBinder()">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
            </svg>
          </div>
          <div class="task-binder-butn" ng-if="!ctrlEditTask.enableLabel && ctrlEditTask.model.access.addLabel"
               ng-click="ctrlEditTask.bindRow('enableLabel')">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
            </svg>
          </div>
          <div class="task-binder-tooltip">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#tag"></use>
            </svg>
            <translate>Add Label</translate>
          </div>
          <div class="task-binder-butn" ng-if="!ctrlEditTask.enableWatcher && ctrlEditTask.model.access.addWatcher"
               ng-click="ctrlEditTask.bindRow('enableWatcher')">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
            </svg>
          </div>
          <div class="task-binder-tooltip">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#person"></use>
            </svg>
            <translate>Add Watcher</translate>
          </div>
          <div class="task-binder-butn"
               ng-if="!ctrlEditTask.enableAttachment && ctrlEditTask.model.access.addAttachment"
               ng-click="ctrlEditTask.bindRow('enableAttachment')">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#attach"></use>
            </svg>
          </div>
          <div class="task-binder-tooltip">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#attach"></use>
            </svg>
            <translate>Add Attachment</translate>
          </div>
          <div class="task-binder-butn" ng-if="!ctrlEditTask.enableTodo && ctrlEditTask.model.access.addTodo"
               ng-click="ctrlEditTask.bindRow('enableTodo')">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#bullet-list"></use>
            </svg>
          </div>
          <div class="task-binder-tooltip">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#bullet-list"></use>
            </svg>
            <translate>Add Todo list</translate>
          </div>
          <div class="task-binder-butn" ng-if="!ctrlEditTask.enableDescription && ctrlEditTask.model.access.updateTask"
               ng-click="ctrlEditTask.bindRow('enableDescription')">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#petition"></use>
            </svg>
          </div>
          <div class="task-binder-tooltip">
            <svg class="_16svg">
              <use xlink:href="/assets/icons/nst-icn16.svg#petition"></use>
            </svg>
            <translate>Add Description</translate>
          </div>
        </div>
        <div class="binder-tip"></div>
      </div>
    </div>
  </div>
  <div class="nst-loading absolute" ng-if="ctrlEditTask.loading"></div>
  <div class="task-comments">
    <div class="task-comments-inner">
      <div class="log-filter">
        <h3 data-popover-class="white-pop task-logs-filter-popover" data-popover-append-to-body="false"
            uib-popover-template="'app/task/common/popovers/task-logs-filter-popover.html'"
            popover-is-open="ctrlEditTask.activityPopover" data-popover-placement="auto bottom-left">
          <translate ng-if="!ctrlEditTask.onlyComments">Comments and History</translate>
          <translate ng-if="ctrlEditTask.onlyComments">Comments</translate>
          <svg class="_16svg">
            <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
          </svg>
        </h3>
      </div>
      <div class="task-comments-container visible-scrollbar">
        <div class="no-comments-holder" ng-if="!ctrlEditTask.firstLoading && ctrlEditTask.activityCount === 0">
          <img class="_db" width="128" width="128" src="/assets/icons/ph_empt_comment.png"
               srcset="/assets/icons/ph_empt_comment@2x.png"
          />
          <translate>Post a comment to start a discussion.<br><b>@Mention</b> someone to notify them.</translate>
        </div>
        <nst-task-activity only-comments="ctrlEditTask.onlyComments"
                           first-loading="ctrlEditTask.firstLoading"
                           task-id="ctrlEditTask.taskId"
                           activity-count="ctrlEditTask.activityCount"
                           total-comments-count="ctrlEditTask.model.counters.comments + ctrlEditTask.model.counters.updates"
                           on-comment-sent="ctrlEditTask.commentSent"
                           has-comment-remove-access="false"></nst-task-activity>
      </div>
    </div>
  </div>
</div>

<div class="task-related overflow-task-view">
  <a ng-repeat="task in ctrlEditTask.model.childTasks" ng-click="ctrlEditTask.editTask(task.id)">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#chain"></use>
    </svg>
    {{task.title}}
  </a>
  <a class="create-task" ng-click="ctrlEditTask.createRelatedTask();">
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#cross"></use>
    </svg>
    <translate>Create a related Task</translate>
  </a>
</div>
