<div class="_df _fw">
  <div class="user-avatar-24 _pr">
    <span class="_pa _fw _fh" ng-if="ctlCommentBody.comment.isSending">
      <div class="nst-loading absolute xsm" ng-if="ctlCommentBody.comment.isSending"></div>
    </span>
    <img initial-avatar="{{ctlCommentBody.comment.sender.id}}" name="{{ctlCommentBody.comment.sender.fullName}}"
         picture="{{ctlCommentBody.comment.sender | avatar}}" data-width="24" data-height="24" data-radius="13"
         class="account-initials-24 _df" data-word-count="2" data-font-size="8" ng-if="!ctlCommentBody.comment.isSending"/>
    <div class="delete-comment" ng-click="ctlCommentBody.removeItem(ctlCommentBody.comment.id);" ng-if="ctlCommentBody.isTask && (ctlCommentBody.isCreator || ctlCommentBody.user.id === ctlCommentBody.comment.sender.id)">
      <svg class="_16svg" data-tooltip-append-to-body="true"
          data-uib-tooltip-template="'remove-cm-tooltip.html'"
          data-tooltip-placement="{{$root._direction === 'rtl' ? 'right' : 'left'}} auto">
        <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
      </svg>
    </div>
  </div>
  <div class="text _df _fw">
    <p class="_fw" auto-dir="ctlCommentBody.comment.body">
      <span class="_df _fn time" data-uib-tooltip="{{ctlCommentBody.comment.timestamp | date : 'full' | localize}}"
            data-tooltip-append-to-body="true" data-tooltip-placement="top auto">{{ctlCommentBody.comment.timestamp | passed | localize}}</span>
      <strong class="_fl"
              user-detail="ctlCommentBody.comment.sender">{{ctlCommentBody.comment.sender.fullName}}:&nbsp;</strong>
      <span is-two-line class="_fl" ng-if="ctlCommentBody.comment.attachmentId.length == 0 && !ctlCommentBody.comment.removedById">
        <abbr ng-repeat="part in ctlCommentBody.parts">
          <br ng-if="part.type == 'linebreak'"/>
          <abbr ng-if="part.type == 'mention'" class="nst-user-popover" user-detail="part.user"
                style="display: inline-block;direction: ltr;">{{part.word}}</abbr>
          <abbr ng-if="part.type == 'other'" ng-bind-html="part.word | link"></abbr>
        </abbr>
      </span>

      <nst-voice-comment ng-if="ctlCommentBody.comment.attachmentId.length > 0 && !ctlCommentBody.comment.removedById"
                         comment="ctlCommentBody.comment" comment-board-id="ctlCommentBody.commentBoardId">
      </nst-voice-comment>
      <i ng-if="ctlCommentBody.comment.removedById" class="comment-removed-by">
        (<translate>removed by <span user-detail="ctlCommentBody.comment.removedById">{{ctlCommentBody.comment.removedById}}</span>
        </translate>)
      </i>
      <span class="failed-send" ng-if="ctlCommentBody.comment.isFailed" ng-click="ctlCommentBody.retrySendComment(ctlCommentBody.comment)">Not sent - Retry</span>
    </p>
  </div>
  <script type="text/ng-template" id="remove-cm-tooltip.html">
    <translate>Remove</translate>
  </script>
</div>
