<div class="_fhw">
  <div class="nst-vc nst-mood-sense-5 ng-scope _fh">
    <div class="panel no-animation" id="panel-register">
      <form novalidate name="firstStep" ng-show="ctlRegister.step === 'step1'" unsaved-warning-form
            data-ng-submit="ctlRegister.submitPhoneNumber()">
        <div class="nst-vb no-gutter2 nst-marginbtm-48">
          <p class="col-xs-9 nst-font-xlarge">Create an Account</p>
          <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right">or <a href="#/signin" class="nst-mood-cheerful">Sign
            in</a></p>
        </div>
        <p class="nst-font-medium nst-marginbtm-48">
          For creating nested account please enter your phone number.
        </p>

        <p class="nst-mood-storm nst-font-small">Country</p>
        <div class="nst-marginbtm-16">
          <country-select placeholder="Select a country" initial-country="us" auto-locate selected-country-code="ctlRegister.countryCode"></country-select>
        </div>
        <!-- auto-locate on-selected="ctlRegister.changeCountry" selected-country-code="ctlRegister.countryCode" -->
        <p class="nst-mood-storm nst-font-small">
          Phone number
        </p>
        <div class="nst-marginbtm-16 _difh _fw _pr border-number">
          <i class="plus">+</i>
          <input type="number" class="pre-number" ng-model="ctlRegister.countryCode">
          <input type="number" class="number _fw" ng-model="ctlRegister.phone">
        </div>

        <div class="nst-marginbtm-60">
        </div>
        <div>
          <input type="button" ng-disabled="!ctlRegister.phone || ctlRegister.getCodeRequest" data-ng-click="ctlRegister.submitPhoneNumber()"
                 value="Next"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>

      </form>

      <form ng-show="ctlRegister.step === 'step2'" novalidate name="registrationForm" unsaved-warning-form
            ng-submit="ctlRegister.verifyCode()">
        <div class="nst-vb no-gutter2 nst-marginbtm-16">
          <p class="col-xs-9 nst-font-xlarge testing-registration-step2">Phone Verification</p>
        </div>
        <div class="text-center nst-font-medium nst-marginbtm-52">
          We've sent a verification code via SMS to
        </div>
        <div class="nst-mood-cheerful text-center nst-font-medium nst-margin-20">
          {{ctlRegister.phone}}
        </div>
        <div class="text-center nst-font-medium nst-margin-20">
          <a href="#">That's not me!</a>
        </div>
        <div class="nst-mood-storm nst-font-medium nst-margin-8">
          6-letter and digit verification code
        </div>
        <p class="nst-mood-lively" data-ng-if="ctlRegister.verificationWrongCode">
          Wrong Code
        </p>

        <div class="nst-marginbtm-16">
          <div class="form-group wrong-code" data-ng-model="show">
            <input id="phone_code"
                   maxlength="4"
                   ng-class="{'form-control':!secondstep.password.$error.required || !secondstep.password.$touched,
                      'form-control-error':secondstep.password.$error.required && secondstep.password.$touched}"
                   name="phone_code"
                   ng-model="ctlRegister.verificationCode"/>
          </div>
        </div>

        <div class="_difh nst-marginbtm-16">
          <div class="text-center _df react-btn lftbtn" nst-disable-for-btn min="2" sec="0" id="call" class="btn" click="ctlRegister.callMe()" value="Call">
          </div>
          <div class="text-center _df react-btn" nst-disable-for-btn id="resend" min="0" sec="45" click="ctlRegister.resend()" value="Resend">
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="Verify"
                 ng-disabled="ctlRegister.verificationCode.length !== 4 || verification == 'start'"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>
      </form>

      <form ng-show="ctlRegister.step === 'step3'" novalidate name="registrationForm" ng-submit="ctlRegister.register()"
              unsaved-warning-form>
        <div class="nst-vb no-gutter2 nst-marginbtm-16">
          <p class="col-lg-9 col-sm-9 col-md-9 col-xs-9 nst-font-xlarge testing-registration-step3">Create an account</p>
          <a href="#" class="col-xs-3 text-right">
            <img src="assets/icons/NestedLogo.svg" width="32" height="32">
          </a>
        </div>
        <div class="nst-marginbtm-8 _dib">Enter your username :</div>
        <div class="nst-mood-lively nst-marginbtm-8 _dib"
             ng-if="ctlRegister.requiredUser">username required
        </div>
        <div class="nst-mood-sense nst-loading nst-marginbtm-8 _fr" ng-if="ctlRegister.checkWithServer"></div>
        <div class="nst-mood-lively nst-marginbtm-8 _dib"
             ng-if="!ctlRegister.avaiablity && !registrationForm.username.$error.required && !ctlRegister.checkWithServer && !registrationForm.username.$error.pattern && !registrationForm.username.$error.minlength">
          Not available
        </div>
        <div class="nst-mood-cheerful nst-marginbtm-8 _dib"
             ng-if="ctlRegister.avaiablity && !registrationForm.username.$error.required && !ctlRegister.checkWithServer && !registrationForm.username.$error.pattern && !registrationForm.username.$error.minlength">
          Available
        </div>
        <div class="nst-marginbtm-16">
          <input id="uid" aria-invalid="false"
                 ng-class="{'form-control': !ctlRegister.requiredUser || !registrationForm.username.$error.required || !registrationForm.username.$touched,'form-control-error': ctlRegister.requiredUser || (registrationForm.username.$error.pattern && registrationForm.username.$touched)}"
                 ng-pattern="ctlRegister.patterns.username.general" uib-tooltip-class="tooltip" tooltip-trigger="none"
                 tooltip-is-open="registrationForm.username.$error.pattern && registrationForm.username.$touched"
                 uib-tooltip-template="'app/register/tip_username.html'" ngMinlength="5" ngMaxlength="32"
                 ng-minlength="5" ng-maxlength="32"
                 name="username" type="text" ng-model="ctlRegister.username" tabindex="1"
                 ng-change="ctlRegister.checkUser(ctlRegister.username);ctlRegister.clearUserError(ctlRegister.username)"
                 data-tooltip-placement="bottom" required autofocus/>
        </div>





        <div class="nst-marginbtm-8" ng-if="!ctlRegister.requiredPassword && !registrationForm.password.$error.minlength">Set a password</div>
        <div class="nst-marginbtm-8 nst-mood-lively" ng-if="registrationForm.password.$error.minlength">6 minimum character</div>
        <div class="nst-mood-lively nst-marginbtm-8" ng-if="ctlRegister.requiredPassword && !registrationForm.password.$error.minlength">password required</div>
        <!--<div class="nst-mood-lively nst-marginbtm-8 _dib" ng-if="registrationForm.password.$error.pattern || registrationForm.password.$error.minlength">Weak password  </div>-->
        <!--<div class="nst-mood-cheerful nst-marginbtm-8 _dib" ng-if="registrationForm.password.$valid">Powerful password</div>-->
        <div class="nst-marginbtm-16">
          <div class="form-group has-feedback" data-ng-model="ctlRegister.show">
            <input ng-class="{'form-control' : !ctlRegister.requiredPassword && !registrationForm.password.$error.minlength,'form-control-error' : registrationForm.password.$error.minlength || ctlRegister.requiredPassword && !registrationForm.password.$error.minlength}"
                   ng-model="ctlRegister.password" ng-pattern="ctlRegister.patterns.password"
              id="pass" name="password" data-ng-init="ctlRegister.show = true" data-ng-change="ctlRegister.clearPassError(ctlRegister.password)" type="{{ctlRegister.show ? 'password': 'text'}}" minlength="6" tabindex="2" required/>
            <i
              class="cursor-pointer nst-ico-eye-slash form-control-feedback {{ctlRegister.show ? 'nst-ico-eye-slash' : 'nst-ico-eye'}}"
              data-ng-click="ctlRegister.show = !ctlRegister.show"></i>
          </div>
        </div>


        <div class="_dt nst-marginbtm-16 register-name-table">
          <div class="_dtr">
            <div class="_dtc register-name-cell-left">
              <div class="nst-marginbtm-8 _fw"
                   ng-if="!ctlRegister.requiredFirstname">First name
              </div>
              <div class="nst-mood-lively nst-marginbtm-8 _fw"
                   ng-if="ctlRegister.requiredFirstname">Firstname
                Required
              </div>
              <input id="fname"
                     ng-class="ctlRegister.requiredFirstname ? 'form-control-error' : 'form-control'"
                     name="firstname" type="text" ng-model="ctlRegister.fname" data-ng-change="ctlRegister.clearFnameError(ctlRegister.fname)" tabindex="3" required/>
            </div>
            <div class="_dtc register-name-cell-right">
              <div class="nst-marginbtm-8 _fw"
                   ng-if="!ctlRegister.requiredLastname">Last name
              </div>
              <div class="nst-mood-lively nst-marginbtm-8 _fw"
                   ng-if="ctlRegister.requiredLastname">Lastname
                Required
              </div>
              <input id="lname"
                     ng-class="ctlRegister.requiredLastname ? 'form-control-error': 'form-control'"
                     name="lastname" type="text" ng-model="ctlRegister.lname" data-ng-change="ctlRegister.clearLnameError(ctlRegister.lname)" tabindex="4" required/>
            </div>
          </div>
        </div>
        <div class="empty-box-30">
          <div class="nst-marginbtm-16" ng-if="!ctlRegister.hasNotGender">Gender</div>
          <div class="nst-mood-lively nst-marginbtm-16" ng-if="ctlRegister.hasNotGender">Gender Required</div>
        </div>
        <ul class="list-inline">
          <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
            <input id="female" type="radio" name="gender" value="female" data-ng-change="ctlRegister.clearGenderError(ctlRegister.gender)" ng-model="ctlRegister.gender" tabindex="5" required/>
            <label for="female">Female</label>
          </li>
          <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
            <input id="male" type="radio" name="gender" value="male" data-ng-change="ctlRegister.clearGenderError(ctlRegister.gender)" ng-model="ctlRegister.gender" tabindex="6" required/>
            <label for="male">Male</label>
          </li>
          <li class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
            <input id="other" type="radio" name="gender" value="other" data-ng-change="ctlRegister.clearGenderError(ctlRegister.gender)" ng-model="ctlRegister.gender" tabindex="7" required/>
            <label for="other">Other</label>
          </li>
        </ul>

        <div class="nst-marginbtm-16 mobile-number _pr"></div>
        <div class="empty-box-30">
          <div class="nst-marginbtm-16" ng-if="!ctlRegister.hasNotBirth">Birthday</div>
          <div class="nst-mood-lively nst-marginbtm-8" ng-if="ctlRegister.hasNotBirth">Birthday Required</div>
        </div>
        <div class="nst-marginbtm-16">
          <input class="select-birthday" rsmdatedropdowns ng-model="ctlRegister.birth" ng-change="ctlRegister.clearBdayError(value)"/>
        </div>


        <div class="_dt nst-marginbtm-8">
          <div class="_dtr">
            <div class="_dtc">
              <input id="agreement" name="agreement" ng-model="ctlRegister.agreement" data-ng-change="ctlRegister.clearAgreementError(ctlRegister.agreement)" value="agreement" type="checkbox"
                     tabindex="9"/>
              <label for="agreement"></label>
            </div>
            <div class="_dtc agreement-text">I Agree To The nested<a href="#" class="nst-mood-cheerful"> Terms Of
              Service</a> and <a href="#" class="nst-mood-cheerful"> Privacy Policy</a>.
            </div>
          </div>
        </div>

        <div class="empty-box-30  nst-marginbtm-8">
          <div class="nst-font-small nst-mood-lively" ng-if="!ctlRegister.acceptAgreement">
            In order to use our services, you must agree to Nested Terms of Service.
          </div>
        </div>
        <input class="btn-sense _fw butn-green butn-lg butn-login" type="submit" value="Finish">
      </form>
    </div>
  </div>
</div>
