/**
  ********************************************************
  *     Nested Classes - Page Specific - Register  *
  ********************************************************
 */

#panel-register{
  width:352px;
  padding:20px 15px 20px 15px;
  padding: 20px 15px 20px 15px;
}
.select-birthday{
  background-color: #eaffea;
  width:100%;
  height:38px;
}
.select-birthday option:hover{
  background-color: #ccffe6;
}
.nst-marginbtm{
  margin-bottom: 15px;
}
#mobile-number{
  margin-top: 60px;
}
#agree{
  font-size: 11px;
}
