<div class="_fhw">
  <div class="nst-vc nst-mood-sense-5 ng-scope _fh">
    <div class="panel" id="panel-register">
      <form novalidate ng-if="ctlRegister.step === 1" class="use-ng-animate register-step" ng-submit="ctlRegister.submitPhoneNumber(ctlRegister.phoneIsValid && ctlRegister.countryIsValid);">
        <div class="nst-vb no-gutter2 nst-marginbtm-48">
          <p class="col-xs-9 nst-font-xlarge"><translate>Create an account</translate></p>
          <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right"><translate>or</translate> <a href="#/signin" class="nst-mood-cheerful"><translate>Sign in</translate></a></p>
        </div>
        <p class="nst-font-medium nst-marginbtm-48">
          <translate>To create an account with Nested, please enter your phone number.</translate>
        </p>

        <div class="form-group" ng-class="{ 'has-error' : !ctlRegister.countryIsValid && ctlRegister.submitted}">
          <label ng-if="ctlRegister.countryIsValid || !ctlRegister.submitted" class="nst-mood-storm nst-font-small"><translate>Country</translate></label>
          <label class="error-message" ng-if="!ctlRegister.countryIsValid && ctlRegister.submitted"><translate>Select your country</translate></label>
          <country-select placeholder="Select a country" auto-locate selected-country-code="ctlRegister.countryCode" class="margin-t-5 _db"></country-select>
        </div>
        <div class="form-group nst-marginbtm-60" ng-class="{ 'has-error' : !ctlRegister.phoneIsValid && ctlRegister.submitted}">
          <label class="nst-mood-storm nst-font-small" ng-if="ctlRegister.phoneIsValid || !ctlRegister.submitted"><translate>Phone number</translate></label>
          <label class="error-message" ng-if="ctlRegister.phoneIsEmpty && ctlRegister.submitted"><translate>Enter your phone number</translate></label>
          <label class="error-message" ng-if="ctlRegister.phoneIsWrong && ctlRegister.submitted"><translate>Provided phone number is not valid</translate></label>
          <div class="nst-marginbtm-16 _difh _fw _pr margin-t-5 border-number">
            <i class="plus">+</i>
            <i class="sep">|</i>
            <input type="text" name="country_code" class="pre-number" maxlength="4" minlength="1" ng-model="ctlRegister.countryCode" allow-only-number ng-change="ctlRegister.validatePhone();">
            <input type="text" name="phone_number" class="number _fw" maxlength="15" minlength="1" ng-model="ctlRegister.phone" allow-only-number ng-change="ctlRegister.validatePhone();" autofocus>
          </div>
        </div>
        <div class="form-action">
          <input type="submit" ng-if="!ctlRegister.phoneSubmitProgress" value="Next" translate-attrs="value" class="butn-green butn-lg butn-login nstbtn">
          <input type="submit" ng-if="ctlRegister.phoneSubmitProgress" value="Submitting..." translate-attrs="value" class="butn-green butn-lg butn-login nstbtn" disabled="disabled">
        </div>

      </form>

      <form ng-if="ctlRegister.step === 2" name="phoneVerifyForm" ng-submit="ctlRegister.verify(phoneVerifyForm.$valid);" novalidate class="use-ng-animate register-step">
        <div class="nst-vb no-gutter2 nst-marginbtm-16">
          <p class="col-xs-9 nst-font-xlarge testing-registration-step2"><translate>Phone verification</translate></p>
        </div>
        <div class="text-center nst-font-medium nst-marginbtm-52">
          <translate>We've sent a verification code via SMS to</translate>
        </div>
        <div class="nst-mood-cheerful text-center nst-font-medium nst-margin-20">
          +{{ctlRegister.getPhoneNumber()}}
        </div>
        <div class="text-center nst-font-medium nst-margin-20">
          <a href ng-click="ctlRegister.step = 1;"><translate>That's not me!</translate></a>
        </div>
        <div class="nst-mood-storm nst-font-medium nst-margin-8">
          <translate>4-digit verification code</translate>
        </div>
        <p class="nst-mood-lively" data-ng-if="ctlRegister.verificationWrongCode">
          <translate>You've entered a wrong code</translate>
        </p>

        <div class="nst-marginbtm-16">
          <div class="form-group">
            <input id="verification_code" maxlength="4" minlength="4" name="verification_code" class="form-control" ng-model="ctlRegister.verificationCode" required autofocus/>
          </div>
        </div>

        <div class="_difh nst-marginbtm-16 text-center">
          <div class="_df react-btn lftbtn" nst-disable-for-btn min="2" sec="0" id="call" class="btn" click="ctlRegister.callMe()" value="Call">
          </div>
          <div class="_df react-btn" nst-disable-for-btn id="resend" min="0" sec="45" click="ctlRegister.resend()" value="Resend">
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="{{ctlRegister.callForVerificationProgress ? 'Verifing...' : 'Verify'}}"
                 ng-disabled="ctlRegister.callForVerificationProgress || phoneVerifyForm.verification_code.$invalid"
                 class="butn-green butn-lg butn-login nstbtn">
        </div>
      </form>

      <form ng-if="ctlRegister.step === 3" novalidate name="registrationForm" ng-submit="ctlRegister.register()" class="use-ng-animate register-step" autocomplete="off">
        <div class="nst-vb no-gutter2 nst-marginbtm-16">
          <p class="col-lg-9 col-sm-9 col-md-9 col-xs-9 nst-font-xlarge testing-registration-step3"><translate>Create a profile</translate></p>
          <a href="#" class="col-xs-3 text-right">
            <img src="assets/icons/NestedLogo.svg" width="32" height="32">
          </a>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (registrationForm.nested_username.$invalid || ctlRegister.usernameErrors.length > 0) && registrationForm.nested_username.$touched }">
          <label ng-if="!registrationForm.nested_username.$error.required && ctlRegister.usernameErrors.length == 0 || !registrationForm.nested_username.$touched"><translate>Choose your username:</translate></label>&nbsp;
          <div ng-if="ctlRegister.usernameValidationStatus == 'checking'" class="nst-mood-storm" style="display: inline">checking...</div>
          <div ng-if="ctlRegister.usernameValidationStatus == 'available'" class="nst-mood-cheerful" style="display: inline">available</div>
          <div ng-if="ctlRegister.usernameValidationStatus == 'exists'" class="nst-mood-lively" style="display: inline">unavailable</div>
          <label class="error-message" ng-if="registrationForm.nested_username.$error.required && ctlRegister.usernameErrors.length == 0 && registrationForm.nested_username.$touched"><translate>Username is required</translate></label>
          <label class="error-message" ng-if="!registrationForm.nested_username.$error.required && ctlRegister.usernameErrors.length > 0 && registrationForm.nested_username.$touched"><translate>Username is not valid</translate></label>
          <input id="uid" aria-invalid="false" class="form-control" name="nested_username" type="text" ng-model="ctlRegister.username" tabindex="1"
                 ng-change="ctlRegister.validateUsername(ctlRegister.username, registrationForm.nested_username.$touched);" ng-blur="ctlRegister.validateUsername(ctlRegister.username, !registrationForm.nested_username.$touched);" required autofocus autocomplete="off" maxlength="64"/>
          <ul ng-if="ctlRegister.usernameErrors.length > 0" class="use-ng-animate username-errors-list nst-mood-lively">
            <li ng-repeat="error in ctlRegister.usernameErrors" ng-bind-html="error"></li>
          </ul>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.nested_password.$invalid && registrationForm.nested_password.$touched}">
          <label ng-if="registrationForm.nested_password.$valid || !registrationForm.nested_password.$touched"><translate>Password</translate></label>
          <label class="error-message" ng-if="registrationForm.nested_password.$error.required && registrationForm.nested_password.$touched"><translate>Password is required</translate></label>
          <label class="error-message" ng-if="registrationForm.nested_password.$error.minlength && registrationForm.nested_password.$touched"><translate>Password must be at least 6 character</translate></label>
          <input class="form-control" ng-model="ctlRegister.password" name="nested_password" data-ng-init="ctlRegister.showPassword = true" type="{{ctlRegister.showPassword ? 'password': 'text'}}" minlength="6" tabindex="2" required autocomplete="off" maxlength="128"/>
          <i class="cursor-pointer nst-ico-eye-slash form-control-feedback {{ctlRegister.showPassword ? 'nst-ico-eye-slash' : 'nst-ico-eye'}}" ng-click="ctlRegister.showPassword = !ctlRegister.showPassword"></i>
        </div>

        <div class="_dt register-name-table">
          <div class="_dtc register-name-cell-left">
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.nested_firstname.$invalid && registrationForm.nested_firstname.$touched}">
              <label ng-if="!registrationForm.nested_firstname.$error.required || !registrationForm.nested_firstname.$touched"><translate>First name</translate></label>
              <label ng-if="registrationForm.nested_firstname.$error.required && registrationForm.nested_firstname.$touched"><translate>First name is required</translate></label>
              <input name="nested_firstname" type="text" ng-model="ctlRegister.fname" tabindex="3" required maxlength="35"/>
            </div>
          </div>
          <div class="_dtc register-name-cell-right">
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.nested_lastname.$invalid && registrationForm.nested_lastname.$touched}">
              <label ng-if="!registrationForm.nested_lastname.$error.required || !registrationForm.nested_lastname.$touched"><translate>Surname</translate></label>
              <label ng-if="registrationForm.nested_lastname.$error.required && registrationForm.nested_lastname.$touched"><translate>Surname is required</translate></label>
              <input name="nested_lastname" type="text" ng-model="ctlRegister.lname" tabindex="4" required maxlength="35"/>
            </div>
        </div>
      </div>
      <div class="form-group nst-marginbtm-16" ng-class="{ 'has-error' : registrationForm.nested_email.$invalid && registrationForm.nested_email.$touched}">
        <label ng-if="registrationForm.nested_email.$valid || !registrationForm.nested_email.$touched"><translate>Email</translate></label>
        <label ng-if="registrationForm.nested_email.$invalid && registrationForm.nested_email.$touched"><translate>The provided email is not valid</translate></label>
        <input class="form-control" name="nested_email" type="text" ng-model="ctlRegister.email" tabindex="5" ng-pattern="ctlRegister.emailPattern" maxlength="254"/>
      </div>

      <div class="_db nst-marginbtm-16 agreement-text ">
        <translate>By proceeding to create a Nested account, you are agreeing to our <a href="https://help.nested.me/terms/index.html" class="nst-mood-cheerful">Terms and Conditions</a>.</translate>
      </div>
      <input class="btn-sense _fw butn-green butn-lg butn-login" type="submit" ng-if="ctlRegister.registerProgress" value="Submitting..." translate-attrs="value" disabled="disabled" />
      <input class="btn-sense _fw butn-green butn-lg butn-login" type="submit" ng-if="!ctlRegister.registerProgress" value="Finish" translate-attrs="value" />
      </form>
    </div>
  </div>
</div>
