/**
  ********************************************************
  *     Nested Classes - Page Specific - Register  *
  ********************************************************
 */

#panel-register{
  width: 352px;
  padding: 24px 16px 24px 16px;
  line-height: 1.25;
  font-size: $font-size-xsmall;
  font-family: $font-family-eng-reg;
}
#panel-register .tooltip-inner {
  width: 240px;
  height: 96px;
  border-radius: 4px;
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
  font-size: $font-size-xsmall;
  position: relative;
  top:2.3px;
}
#panel-register .tooltip-arrow {
 transform: scale(3);
}
#panel-register .tooltip-inner,
.tooltip-arrow {
  margin-top: -5px;
}
.select-birthday{
  width: 100%;
  height: 40px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid $color-breeze;
  border-radius: 4px;
}

//------------------------------//
.select-month,
.select-day,
.select-year {
  background: url("../assets/icons/inputform.svg") no-repeat;
  background-position: 95% -124px;
}

.select-month select,
.select-day select,
.select-year select {
  height: 40px;
  background-color: transparent;
  background-image: none;
}
//-------------------------------------------------//
.register-name-table {
  border-collapse: separate;
}
.register-name-cell-left {
  padding-right: 2px;
}
.register-name-cell-right {
  padding-left: 2px;
}

.intl-tel-input .selected-flag .arrow {
  position: relative;
  top: -10px;
  left: 4px;
  width: 32px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: url("../assets/icons/inputform.svg") no-repeat;
  height: 32px;
  background-position: 0 -128px;
}
.intl-tel-input .selected-flag .arrow.up {
  border : none;
}
.intl-tel-input .selected-flag {
  height : 24px;
  margin-top: 5px;
  width: 24px;
  top : 2px;
}
.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  padding-left: 52px;
}
.intl-tel-input .flag-dropdown:hover .selected-flag {
  background-color: inherit;
}
.select-birthday option {
  color: black;
  height: 40px;
  text-align: center;
  background-color: $color-sense-5;
}
.select-year {
  width : 86px;
  padding-left: 4px;
}
.select-day {
  width : 86px;
  padding-left: 4px;
}
.select-month {
  width : 144px;
}
.intl-tel-input {
  width: 100%;
  font-size: $font-size-medium;
  border: none;
}
.intl-tel-input .country-list {
  background-color: $color-sense-5;
  width : 318px;
}
.intl-tel-input .country-list .country.highlight {
  background-color: $color-sense-50;
  font-weight: bold;
}
.form-control-feedback-register {
  color: $color-solid-30;
  padding-top: 4px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 114px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: auto;
  font-size: $font-size-medium;
}

.form-control-register {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: transparent;
  color: $color-solid-30;
  border: 1px solid $color-breeze;
  border-radius: 4px;
}

@for $i from 1 through 24 {
  .nst-marginbtm-#{$i * 4} {
    margin-bottom: #{$i * 4}px;
  }
}
.mobile-number{
  margin-top: 60px;
}

.agreement-text {
  padding-left: 2px;
}

#panel-register .agreement-text a {
  font-size: 10px;
}
.alert-box {
  height: 30px;
  width: 100%;
}
//----------Errors & Validation--------//

.form-control-error {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-force !important;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $color-force !important;
  border-radius: $input-border-radius;
}
.form-control-valid {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-sense-wire !important;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $color-sense !important;
  border-radius: $input-border-radius;
}
