<div>
  <div>
    <nested-navbar></nested-navbar>
  </div>

  <div id="container" class="_fhw _bggray">
    <div id="compose-body">
      <div class="compose-hld">
        <section>
          <input class="compose-input" name="subject" placeholder="Add a Subject..." data-ng-model="compose.post.subject"/>
        </section>
        <hr/>

        <section>
          <div class="row">
            <div class="col-xs-1">
              <span class="_dib">To:</span>
            </div>
            <div class="col-xs-11 _fl">
              <ui-select multiple class="address-input _dib" id="input-compose-to" tagging="compose.recipientMaker" data-ng-model="compose.recipients">
                <ui-select-match placeholder="Type place name or email address...">
                  <span>{{$item.name}} &lt;{{$item.id}}&gt;</span>
                </ui-select-match>
                <ui-select-choices refresh="compose.search($select.search)" refresh-delay="0"
                                   repeat="place in (compose.places | filter: $select.search) track by place.id">
                  <img class="account-picture" data-ng-if="place.picture.org.uid" src="{{place.picture.x32.url}}"/>
                  <span class="account-initial" data-ng-if="!place.picture.org.uid" data-ng-bind="place.name | initials:2"></span>
                  <span data-ng-bind-html="place.name | highlight: $select.search"></span>
                  <small>({{place.id}})</small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </section>
        <hr/>

        <section class="">
          <ul class="attachments-bar">
            <li data-ng-repeat="attachment in compose.post.attachments">
              <img data-ng-if="attachment.thumbs.x128.uid" src="{{attachment.thumbs.x128.url}}" width="128" height="128"/>
              <div data-ng-if="!attachment.thumbs.x128.uid && compose.post.attachmentPreview" class="{{'doc'}}-attachment">{{attachment.filename}}</div>
              <div data-ng-if="!(attachment.thumbs.x128.uid || compose.post.attachmentPreview)" class="attachment-badge-bar">
                <div class="_dib attachment-badge-{{attachment.mimeType.split('/')[0]}}"></div>
                <span class="_dib">{{attachment.filename}}</span>
              </div>
            </li>
          </ul>
          <div class="_dib _fr">
            <label for="attach">
              <div class="headlineicon-green"></div>
            </label>

            <input id="attach" type="file" multiple onchange="angular.element(this).scope().compose.attach(event)"/>
          </div>
          <div data-ng-if="upload_size.total > 0" class="nst-attach-upload _fr">{{upload_size.uploaded | bytes:0}}/{{upload_size.total | bytes:0}} Uploaded</div>
        </section>



        <!--<ul class="attachments-bar">-->
          <!--<li data-ng-repeat="(key, attachment) in event.post.attachments">-->
            <!--<a href="{{attachment.download.url}}" ng-click="$event.preventDefault(); attachment.getDownloadUrl().then(attachmentView);">-->
              <!--<img data-ng-if="attachment.thumbs.x128.uid" src="{{attachment.thumbs.x128.url}}"/>-->
              <!--<div data-ng-if="!attachment.thumbs.x128.uid && event.post.attachmentPreview" class="{{'doc'}}-attachment">{{attachment.filename}}</div>-->
              <!--<div data-ng-if="!(attachment.thumbs.x128.uid || event.post.attachmentPreview)" class="attachment-badge-bar">-->
                <!--<div class="_dib attachment-badge-{{attachment.mimeType.split('/')[0]}}"></div>-->
                <!--<span class="_dib">{{attachment.filename}}</span>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->

        <hr/>

        <section class="nst-compose-message">
          <div text-angular  data-ng-model="compose.post.body"></div>
        </section>
      </div>
    </div>
  </div>
</div>
