<div class="maincontainer compose-hld _fw _fh">
  <nested-sidebar data-ng-model="sidebar" class="_fn _fh"></nested-sidebar>
  <div class="nst-container" page-change="changeMe($event, $toState, $toParams, $fromState, $fromParams, $cancel)">
    <div class="nst-topnav _difh">
      <div class="_fw _df">
        <div class="icon icon-top hamburger-icon"></div>
      </div>
      <div class="_fw _jcc _df">
        <div id="Logo-white"></div>
      </div>
      <div class="_fw _df">
        <div class="icon icon-compose _df"></div>
      </div>
    </div>
    <nested-navbar data-ng-model="navbar"></nested-navbar>

    <div class="nst-content _tr" id="content-wrapper">
      <section class="content _bgwhite">
        <div class="_fw" ng-model="attachfiles" data-droplet>
          <div class="droplet"></div>
          <section class="first-child">
            <div class="_difc _fw">
              <div class="_df">
                <span class="sto">To:</span>
              </div>

              <div class="_df _fw input-select-match">
                <ui-select page-change-element multiple class="address-input _dib" id="input-compose-to" tagging="compose.recipientMaker" data-ng-model="compose.recipients">
                  <ui-select-match placeholder="Type place name or email address...">
                    <span>{{$item.name}} &lt;{{$item.id}}&gt;</span>
                  </ui-select-match>
                  <ui-select-choices refresh="compose.search($select.search)" refresh-delay="0"
                                     repeat="place in (compose.places | filter: $select.search) track by place.id">
                    <img initials="place.name" data-url="place.picture.x32.url" data-width="32" data-height="32" data-radius="16" class="account-initials-32" data-word-count="2"
                         data-font-size="16"/>
                    <span class="" data-ng-bind-html="place.name | highlight: $select.search"></span>
                    </br>
                    <span class="nst-font-10 _vat margin-l-50">{{place.id}}</span>
                  </ui-select-choices>
                </ui-select>
              </div>

            </div>
          </section>
          <hr/>
          <section class="_difc _fw">
            <div class="_df _fw input-select-match">
              <input page-change-element class="compose-input _fw" name="subject" placeholder="Add a Subject ..." data-ng-model="compose.post.subject"/>
            </div>
          </section>
          <hr data-ng-show="attachshow"/>
          <form name="attachmentForm">
            <input page-change-element type="hidden" name="attLength" data-ng-model="attLength"/>
          </form>

          <div class="nst-attach _dif _fw" data-ng-show="attachshow">
            <div data-ng-include="'app/components/attachments/attachments.html'" data-ng-init="thePost = compose.post;deleteEnabled = true;delete = deleteAttachment;"
                 class="popover-green _df _fw attachlist"></div>
            <div class="attach _df">
              <!--<label for="attach">-->
              <!--<div class="headlineicon-green"></div>-->
              <!--</label>-->
              <input id="attach" type="file" multiple onchange="angular.element(this).scope().compose.setFile(event); angular.element(this).scope().attachmentForm.attLength.$setViewValue(angular.element(this).scope().compose.post.attachments.length);"/>
            </div>
            <div class="nst-attach-con _fh" ng-if="showUploadProgress">
              <div class="progress">
                <div class="progress-bar" ng-class="{'progress-bar-success' : totalProgress == 100}" role="progressbar" aria-valuenow="{{totalProgress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{totalProgress}}%;">
                  <span>{{totalProgress}}%</span>
                </div>
              </div>
            </div>
          </div>
          <hr class="nomargin"/>

          <section class="nst-compose-message">
            <div>
              <textarea page-change-element ui-tinymce="tinymceOptions" placeholder="Your message goes here !" data-ng-model="compose.post.body"></textarea>
            </div>
            <!--<div text-angular
                 ta-toolbar="[['bold','italics','underline','strikeThrough'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['h1','h2','h3','p','clear'],['ul','ol'],['indent','outdent'],['insertLink']]"
                 data-ng-model="compose.post.body">
              </div>-->

          </section>
        </div>
      </section>
      <div class="content-plus" id="content-plus">
        <div>
          <div class="name">Recent Activities</div>
          <div class="row">
            <div class="_df">
              <img initials="user.name" data-url="user.picture.x24.url" data-width="16" data-height="16" data-radius="16" class="account-initials-24 _df _fn" data-word-count="2" data-font-size="8"/>
            </div>
            <div class="colomn">
              <div class="_difh top">
                <div class="sender _fw _df">
                  <a>Ehsan</a> <span>@ehsan</span>
                </div>
                <div class="_df">
                  <span>23" ago</span>
                </div>
                <div class="ei-comment-add _df _fn"></div>
              </div>
              <div class="_df">
                <p><span>commented</span> Wow, It's really Cool... We love new design :D</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>





