<ul class="side-place">
  <li class="side-place-item">
    <div class="place-item-inner">

      <svg class="icon" ng-if="ctlPlaceInfo.placesBookmarkObject[ctlPlaceInfo.grandPlace.id]">
        <use xlink:href="/assets/icons/nst-icn16.svg#favplace"></use>
      </svg>
      <a href="{{ctlPlaceInfo.grandPlace.href}}" ng-class="{ isSelected : ctlPlaceInfo.currentPlaceId == ctlPlaceInfo.grandPlace.id }">Home
        <b ng-if="ctlPlaceInfo.placesNotifCountObject[ctlPlaceInfo.grandPlace.id] > 0">{{ctlPlaceInfo.placesNotifCountObject[ctlPlaceInfo.grandPlace.id]}}</b></a>
    </div>
    <ul>
      <li class="side-place-item" ng-repeat="place in ctlPlaceInfo.children"
          data-ng-include="'app/components/sidebar/partials/place-info/sub-place.html'"
          ng-init="currentPlaceId = ctlPlaceInfo.currentPlaceId"
          onload="place = place"></li>
    </ul>
  </li>
</ul>
