<div class="side-place-item-inner">
  <dl data-ng-repeat="i in ctlSidebar.range(place.depth + 1)" class="lines">
    <div class="box2"></div>
    <div class="box1"></div>
    <div class="box3"></div>
    <div class="box4"></div>
  </dl>
  <svg class="icon _16svg fill-D6D6D6">
    <use xlink:href="/assets/icons/nst-icn16.svg#hole"></use>
  </svg>
  <a dbl-click="{{place.children.length > 0}}" ui-sref="app.place-messages({ placeId: place.id })" ng-dblclick="place.collapse =! place.collapse"
      ui-sref-active="isSelected">
      <span class="_txe _dib" auto-dir="place.name">{{ place.name }}</span>
      <b class="_df _fn" ng-if="ctlSidebar.placesNotifCountObject[place.id] > 0">&nbsp;{{ctlSidebar.placesNotifCountObject[place.id] | localize}}</b>
    </a>
  <i ng-if="place.children.length > 0" class="e2-arrow tw-svg _difv ng-class:{'open' : place.collapse}"
        data-ng-click="place.collapse =! place.collapse;$event.preventDefault()" role="button" tabindex="0">
      <svg class="pendfill _24svg ng-class:{'visibility-hidden': ctlSidebar.hasNotUnreadPostInChildren(place.id)}">
        <use xlink:href="/assets/icons/nst-icn24.svg#unread-circle"></use>
      </svg>
      <svg class="_24svg">
        <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
      </svg>
  </i>
</div>
<ul ng-if="place.children.length > 0 && place.collapse">
  <li class="side-place-item" ng-repeat="child in place.children"
      data-ng-include="'app/components/sidebar/partials/place-info/sub-place.html'" onload="place = child">
  </li>
</ul>
