<i ng-click="goLeft();$event.stopPropagation()" ng-class="{'_opz' : !overFlowLeft}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-up"></use>
  </svg>
</i>

<ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
  <li ng-repeat="item in items" ng-class="item.isUploaded ? '' : 'uploading'">
    <a href="javascript:void(0);" ng-click="onClick(item);$event.stopPropagation()">
      <img ng-if="item.hasThumbnail" class="attach-thumbnail-img" alt="" ng-src="{{item.thumbnail}}" style="height: 100%;min-width: 0;float: left;"/>
      <div ng-if="!item.hasThumbnail" class="attach-thumbnail {{'attach-thumbnail-' + item.type}}">
        <p>{{item.name}}</p>
        <div class="detail">
          <p class="_nwrp">{{item.extension | uppercase}}</p>
          <span class="attsize">{{item.size | bytes:2}}</span>
        </div>
      </div>
    </a>
    <a href="javascript:void(0);" ng-click="onDelete(item);$event.stopPropagation()" class="attdl">
      <svg>
        <use xlink:href="/assets/icons/nst-icn24.svg#delete"></use>
      </svg>
    </a>
    <div class="uploadprogress" ng-if="!item.isUploaded">
      <div ng-progressbar="{{item.uploadedRatio}}" progressbar-mode="circle"></div>
    </div>
  </li>
</ul>

<i ng-click="goRight();$event.stopPropagation()" ng-class="{'_opz' : !overFlowRight}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-down"></use>
  </svg>
</i>

