<i ng-click="goLeft();$event.stopPropagation()" ng-class="{'_opz' : !overFlowLeft}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-up"></use>
  </svg>
</i>

<ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
  <li ng-repeat="item in items" ng-class="item.isUploaded ? '_df' : '_df uploading'">
    <a class="_dib" href="javascript:void(0);" ng-click="onClick(item)" style="width: {{item.widthResized}}px">
      <img ng-if="item.hasThumbnail && item.type === 'image'" class="attach-thumbnail-img" alt="" ng-src="{{item.thumbnail}}" height="96" width="item.widthResized" ng-show="item.widthResized > 0" />
      <div ng-if="!item.hasThumbnail || item.type !== 'image'" class="attach-thumbnail {{'attach-thumbnail-' + item.type}}">
        <div class="file-name"> <p>{{item.name}}</p></div>
        <div class="detail">
          <p class="_nwrp">{{item.extension | uppercase}}</p>
          <span class="attsize">{{item.size | bytes:2}}</span>
        </div>
      </div>
    </a>
    <a href="javascript:void(0);" ng-click="onDelete(item)" class="attdl del">
      <svg class="_16svg">
        <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
      </svg>
    </a>
    <div class="uploadprogress" ng-if="!item.isUploaded">
      <div ng-progressbar="{{item.uploadedRatio}}" progressbar-mode="circle"></div>
    </div>
  </li>
</ul>

<i ng-click="goRight();$event.stopPropagation()" ng-class="{'_opz' : !overFlowRight}">
  <svg>
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow-down"></use>
  </svg>
</i>

