<div class="attachments-editable-bar">
  <ul ng-if="internalMode == 'thumbnail'" class="thumbnail-bar">
    <li ng-repeat="item in items" ng-class="item.isUploaded ? '' : 'uploading'" ng-mouseenter="mouseover = true;" ng-mouseleave="mouseover = false;">
        <div class="_pr" ng-if="item.hasThumbnail">
          <div class="atttach-detail">
            <div class="attach-name"></div>
            <div class="uploadprogress" ng-if="!item.isUploaded">
              <div ng-progressbar="{{item.uploadedRatio}}" progressbar-mode="circle"></div>
              <div class="del">
                <img ng-click="onDelete(item)" src="../assets/icons/close.svg"/>
              </div>
            </div>
            <div class="uploadprogress" ng-if="item.isUploaded && mouseover">
              <div class="del">
                <img ng-click="onDelete(item)" src="../assets/icons/close.svg"/>
              </div>
            </div>
            <div class="attach-ext"></div>
          </div>
          <img class="attach-thumbnail" alt="" style="background: url({{item.thumbnail}});background-size: cover;"/>
        </div>
        <div ng-if="!item.hasThumbnail">
          <div class="attach-thumbnail-default {{'attach-thumbnail-' + item.type}}"></div>
          <div class="atttach-detail">
            <div class="attach-name">{{item.name}}</div>
            <div class="uploadprogress" ng-if="!item.isUploaded">
              <div ng-progressbar="{{item.uploadedRatio}}" progressbar-mode="circle"></div>
              <div class="del">
                <img ng-click="onDelete(item)" src="../assets/icons/close.svg"/>
              </div>
            </div>
            <div class="uploadprogress" ng-if="item.isUploaded && mouseover">
              <div class="del">
                <img ng-click="onDelete(item)" src="../assets/icons/close.svg"/>
              </div>
            </div>
            <div class="attach-ext">{{item.extension || 'Failed!'}}</div>
          </div>
        </div>
    </li>
  </ul>
  <ul ng-if="internalMode == 'badge'" class="badge-bar">
    <li ng-repeat="item in items">
      <a href="javascript:void(0);" ng-click="onClick(item)" class="attach-badge-default {{'attach-badge-' + item.type}}">
        <div class="badge-extension">{{item.extension ? item.extension : '&nbsp'}}</div>
        <div class="badge-name">{{item.name ? item.name : '&nbsp'}}</div>
      </a>
    </li>
  </ul>
</div>
