<div class="_df _fw comments-load"
     ng-if="ctrl.canShowOlderComments() || ctrl.commentBoardNeedsRolling() || ctrl.showRemoved">
  <a href="javascript:void(0);" ng-click="ctrl.limitCommentBoard(); _track('post card', 'roll up comments');">
    <svg class="_16svg ng-class:{'_r-180' : ctrl.canShowOlderComments()}">
      <use xlink:href="/assets/icons/nst-icn16.svg#arrow"></use>
    </svg>
  </a>
  <a ng-if="ctrl.canShowOlderComments()" href="javascript:void(0);"
     ng-click="ctrl.showOlderComments(); _track('post card', 'show older comments');">
    <translate>Show more comments...</translate>
  </a>
  <!-- TODO: Fix Show removed comments and Hide removed comments buttons position -->
  &nbsp;
  <!--<a ng-if="ctrl.hasAnyRemoved && !ctrl.showRemoved" href="javascript:void(0);" ng-click="ctrl.showRemoved = true; _track('post card', 'show removed comments');">Show removed comments</a>-->
  <!--<a ng-if="ctrl.hasAnyRemoved && ctrl.showRemoved" href="javascript:void(0);" ng-click="ctrl.showRemoved = false; _track('post card', 'hide removed comments');">Hide removed comments</a>-->
</div>
<div class="comments-container">
  <div ng-repeat="comment in ctrl.comments | limitTo : ctrl.commentBoardLimit * -1  | orderBy:'timestamp'"
       id="comment-{{comment.id}}"
       class="ng-class:{'new-comment-animation' : comment.isNew && comment.sender.id !== ctrl.user.id}">
    <div class="post-card-comments _difh _fw _wrb" ng-class="{ 'removed-comment' : comment.removedById }">
      <nst-comment-body comment="comment" comment-board-id="ctrl.commentBoardId"></nst-comment-body>
      <script type="text/ng-template" id="remove-cm-tooltip.html">
        <translate>Remove</translate>
      </script>
      <script type="text/ng-template" id="hide-cm-tooltip.html">
        <translate>Hide</translate>
      </script>
      <div class="delete-comment" data-ng-if="ctrl.allowToRemoveComment(comment) && !comment.removedById"
           ng-init="canRemove = ctrl.isInFirstDay(comment) && comment.sender.id == ctrl.user.id"
           ng-click="ctrl.removeComment(comment);  _track('post card', 'remove comment');">
        <svg class="_16svg" data-tooltip-append-to-body="true"
             data-uib-tooltip-template="canRemove ? 'remove-cm-tooltip.html' : 'hide-cm-tooltip.html'"
             data-tooltip-placement="right auto">
          <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="post-card-comment-input _df" ng-class="{'hide-emoji': ctrl.isRecording}">
  <div class="user-avatar-24" user-detail="ctrl.user.id">
    <img initial-avatar="{{ctrl.user.id}}" name="{{ctrl.user.fullName}}" picture="{{ctrl.user | avatar}}"
         data-width="24" data-height="24" data-radius="13" class="account-initials-24 _df" data-word-count="2"
         data-font-size="8"/>
  </div>
  <nst-voice-comment-recorder send-handler="ctrl.sendVoiceComment" is-recording="ctrl.isRecording"
                              ng-show="ctrl.post.newComment === undefined || ctrl.post.newComment.length === 0"></nst-voice-comment-recorder>
  <textarea type="text" nst-mention post-id="{{ctrl.postId}}" data-ng-model="ctrl.post.newComment"
            auto-dir="ctrl.post.newComment"
            class="_fw wdt-emoji-bundle-enabled" placeholder="write your comment..."
            ng-keydown="ctrl.sendComment($event)"
            ng-disabled="ctrl.isSendingComment || ctrl.isRecording" max-length="1024" translate-attrs="placeholder"
            emoji-init='.wdt-emoji-bundle-enabled'/>
</div>
