<div class="post-card _fw ng-class:{'forward-card': ctlPostCard.post.isForwarded ,'reply-card': ctlPostCard.post.isReplyed, 'unread' : !ctlPostCard.post.isRead }" nst-post-modal post="ctlPostCard.post" ng-if="!ctlPostCard.post.forbidden">
  <!-- ng-if="!ctlPostCard.thisPlace" -->
  <section class="post-card-badge" ng-init="firstPlace = ctlPostCard.post.getFirstPlace()">
    <a class="margin-r-5" data-ng-if="firstPlace" href="#/places/{{::firstPlace.id}}/messages" id="test-post-card-badge">{{::firstPlace.name}}</a>
    <a ng-if="ctlPostCard.post.getAllPlacesCount() > 1" class="popover-white-nst-msg" ng-click="ctlPostCard.prevent($event)"
       data-uib-popover-template="'app/messages/partials/popovers/more_places.html'"
       data-popover-placement="auto bottom-right"
       data-popover-trigger="outsideClick" id="test-post-card-badge-no">+{{ctlPostCard.post.getAllPlacesCount()-1}}</a>
  </section>
  <section class="post-head _difh">
    <div class="_difc">
      <div ng-if="ctlPostCard.post.hasAnyAttachment()" class="icon icon-post-head icon-attached"></div>
      <a ng-if="ctlPostCard.post.isForwarded" class="icon" href="{{ctlPostCard.urls.chain}}">
        <svg  class="svg-hover fw">
          <use xlink:href="/assets/icons/nst-icn20.svg#fws"></use>
          <use xlink:href="/assets/icons/nst-icn20.svg#Wfwd"></use>
        </svg>
      </a>
      <a ng-if="ctlPostCard.post.isReplyed" class="icon" href="{{ctlPostCard.urls.chain}}">
        <svg  class="svg-hover re">
          <use xlink:href="/assets/icons/nst-icn20.svg#re"></use>
          <use xlink:href="/assets/icons/nst-icn20.svg#Wre"></use>
        </svg>
      </a>
    </div>
    <div class="img _df">
      <div class="user-avatar-38">
        <img initials="ctlPostCard.post.sender.name" data-url="ctlPostCard.post.sender.avatar" data-width="38"
         data-height="38"
         data-radius="30" class="account-initials-38 _df" data-word-count="2" data-font-size="16"/>
      </div>
    </div>
    <div class="_fw _difc">
      <div class="_difv _fw">
        <h4 class="_df">{{::ctlPostCard.post.sender.name}}</h4><span class="nst-mood-storm _df">@{{::ctlPostCard.post.sender.username}}</span>
      </div>
      <span class="_df _fn post-card-time" data-uib-tooltip="{{::ctlPostCard.post.date | date : 'full'}}"
      data-tooltip-append-to-body="true" data-tooltip-placement="auto left">{{::ctlPostCard.post.date | date : 'short'}}</span>
    </div>
  </section>
  <section ng-if="ctlPostCard.post.subject.length > 0" class="post-subject" nst-post-modal post="ctlPostCard.post"
           auto-dir="{{::ctlPostCard.post.subject}}">
           <div class="unread-badge-holder">●</div>
    <h3 class="_wrb" ng-if="ctlPostCard.post.subject.length > 0" ng-bind-html="ctlPostCard.post.subject | emoji">
    </h3>
  </section>
  <section class="post-body _wrb {{ctlPostCard.post.contentType == 'text/plain' ? 'pre' : ''}}"
           post="ctlPostCard.post"  nst-post-modal
           ng-if="ctlPostCard.post.body.length > 0 && ctlPostCard.viewSetting.content"
           auto-dir="{{::ctlPostCard.post.body}}">
    <span ng-if="!ctlPostCard.post.subject" class="unread-badge-holder">●</span>
    <span ng-bind-html="ctlPostCard.post.body | removeHTMLTags | truncate | emoji"></span>
  </section>
  <section class="post-body" ng-if="ctlPostCard.post.body.length < 1 && ctlPostCard.ViewSetting.content"
           post="ctlPostCard.post">
    <i>Empty post</i>
  </section>
  <!-- <section class="post-attachments" data-ng-if="ctlPostCard.post.hasAnyAttachment() && ctlPostCard.viewSetting.attachments">
    <div class="attachments _fw _df" data-ng-include="'app/components/attachments/attachments.html'"
         data-ng-init="thePost = ctlPostCard.post"></div>
  </section> -->
  <section data-ng-if="ctlPostCard.post.hasAnyAttachment() && ctlPostCard.viewSetting.attachments">
    <nst-attachments-view post-id="ctlPostCard.post.id" attachments="ctlPostCard.post.attachments" preview-mode="'thumbnail'" ng-click="ctlPostCard.prevent($event)"></nst-attachments-view>
  </section>
  <hr>
  <section class="post-footer _difh">
    <a class="_df _fn" ng-if="!ctlPostCard.hideComments">
      <span ng-if="!ctlPostCard.post.hasAnyComment()">No comment</span>
      <span ng-if="ctlPostCard.post.commentsCount == 1">One comment</span>
      <span ng-if="ctlPostCard.post.commentsCount > 1">{{ctlPostCard.post.commentsCount}} comments</span>
    </a>
    <a ng-if="ctlPostCard.newCommentsCount > 0 " class="new-comments-count" nst-post-modal post="ctlPostCard.post"
             auto-dir="{{::ctlPostCard.post.subject}}">
      <span>+{{ctlPostCard.newCommentsCount}}</span>
    </a>
    <div class="post-icons _fw _df">
      <a href="{{::ctlPostCard.urls.forward}}" ng-click="ctlPostCard.prevent($event)" class="icon _df" data-uib-tooltip="Forward" data-tooltip-append-to-body="true" data-tooltip-placement="auto top" id="test-forward">
        <svg  class="svg-hover fw">
          <use xlink:href="/assets/icons/nst-icn20.svg#Wfwd"></use>
          <use xlink:href="/assets/icons/nst-icn20.svg#Wfwd"></use>
        </svg>
      </a>
      <a id="test-reply" ng-click="ctlPostCard.prevent($event)" data-uib-popover-template="'app/messages/partials/popovers/reply.html'" class="cursor-pointer icon _df popover-white-nst-activity-places"
           data-popover-placement="auto bottom-right" popover-trigger="outsideClick" data-uib-tooltip="Reply" data-tooltip-append-to-body="true" data-tooltip-placement="auto top">
        <svg  class="svg-hover re">
          <use xlink:href="/assets/icons/nst-icn20.svg#Wre"></use>
          <use xlink:href="/assets/icons/nst-icn20.svg#Wre"></use>
        </svg>
      </a>
      <!--<div class="cursor-pointer margin-r_5 icon _df "-->
           <!--data-uib-popover-template="'app/messages/partials/popovers/reply.html'"-->
           <!--data-popover-placement="auto top-right" popover-trigger="outsideClick" data-uib-tooltip="More Options" data-tooltip-append-to-body="true" data-tooltip-placement="auto top">-->
        <!--<svg  class="svg-hover">-->
          <!--<use xlink:href="/assets/icons/nst-icn20.svg#Wmore"></use>-->
          <!--<use xlink:href="/assets/icons/nst-icn20.svg#Wmore"></use>-->
        <!--</svg>-->
      <!--</div>-->
    </div>
  </section>
  <vr class="chain"></vr>
</div>
<section class="post-card-comment" data-ng-if="ctlPostCard.viewSetting.comments && !ctlPostCard.hideComments && !ctlPostCard.post.forbidden">
  <div class="_df _fw comments-load" ng-if="ctlPostCard.canShowOlderComments() || ctlPostCard.commentBoardNeedsRolling()">
    <a ng-if="ctlPostCard.canShowOlderComments()" href="javascript:void(0);" ng-click="ctlPostCard.showOlderComments()">Older comments...</a>
    <a ng-if="ctlPostCard.commentBoardNeedsRolling()" href="javascript:void(0);" ng-click="ctlPostCard.limitCommentBoard()">Roll up</a>
  </div>
  <comments-board comments="ctlPostCard.post.comments" limit="ctlPostCard.commentBoardLimit"></comments-board>
  <div class="post-card-comment-input _df">
    <input type="text" nst-mention post-id="{{ctlPostCard.post.id}}" data-ng-model="ctlPostCard.post.newComment"  auto-dir="{{ctlPostCard.post.newComment}}"
           class="_fw" placeholder="write your comment ..." ng-keyup="ctlPostCard.sendComment($event)"
           ng-disabled="ctlPostCard.isSendingComment" max-length="1024"/>
  </div>
</section>
<div class="no-permission" ng-if="ctlPostCard.post.forbidden">
  <div class="forbidden-icon"><div></div><div></div></div> No Permission
</div>
<div class="post-card-wire"></div>
