<div class="post-card _fw ng-class:{'forward-card': ctlPostCard.post.isForwarded ,'reply-card': ctlPostCard.post.isReplyed, 'unread' : !ctlPostCard.post.isRead }" nst-post-modal post="ctlPostCard.post" ng-if="!ctlPostCard.post.forbidden">
  <!-- ng-if="!ctlPostCard.thisPlace" -->
  <section class="post-card-badge">
    <a class="margin-r-5" data-ng-if="ctlPostCard.post.firstPlace" href="#/places/{{ctlPostCard.post.firstPlace.id}}/messages" ng-click="$event.stopPropagation()" id="test-post-card-badge">{{ctlPostCard.post.firstPlace.name}}</a>
    <a ng-if="ctlPostCard.post.getAllPlacesCount() > 1" data-popover-class="popover-white-nst-msg" ng-click="$event.stopPropagation()"
       data-uib-popover-template="'app/messages/partials/popovers/more_places.html'"
       data-popover-placement="auto bottom-right"
       data-popover-trigger="outsideClick">+{{ctlPostCard.post.getAllPlacesCount()-1}}</a>
  </section>
  <section class="post-head _difh">
    <div class="_difc">
      <div ng-if="ctlPostCard.post.hasAnyAttachment()" class="icon icon-post-head icon-attached"></div>
      <a ng-click="$event.stopPropagation()" ng-if="ctlPostCard.post.isForwarded" class="icon" href="{{ctlPostCard.urls.chain}}">
        <div class="fw">
          <svg  class="svg-hover">
            <use xlink:href="/assets/icons/nst-icn20.svg#fwd"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#Wfwd"></use>
          </svg>
        </div>
      </a>
      <a ng-click="$event.stopPropagation()" ng-if="ctlPostCard.post.isReplyed" class="icon" href="{{ctlPostCard.urls.chain}}">
        <div class="re">
          <svg  class="svg-hover">
            <use xlink:href="/assets/icons/nst-icn20.svg#re"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#Wre"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="img _df">
      <div class="user-avatar-38" user-detail user="{{::ctlPostCard.post.sender}}">
        <img initials="ctlPostCard.post.sender.name" data-url="ctlPostCard.post.sender.avatar" data-width="38"
         data-height="38"
         data-radius="30" class="account-initials-38 _df" data-word-count="2" data-font-size="16"/>
      </div>
    </div>
    <div class="_fw _difc">
      <div class="_difv _fn">
        <h4 class="_df" user-detail user="{{::ctlPostCard.post.sender}}">{{::ctlPostCard.post.sender.name}}</h4><span class="nst-mood-storm _df" user-detail user="{{::ctlPostCard.post.sender}}">@{{::ctlPostCard.post.sender.username}}</span>
      </div>
      <div class="_df _fw">
      </div>
      <span class="_df _fn post-card-time" data-uib-tooltip="{{::ctlPostCard.post.date | date : 'full'}}"
      data-tooltip-append-to-body="true" data-tooltip-placement="auto left">{{::ctlPostCard.post.date | date : 'short'}}</span>
    </div>
  </section>
  <section ng-if="ctlPostCard.post.subject.length > 0" class="post-subject"
           auto-dir="ctlPostCard.post.subject">
           <div class="unread-badge-holder">●</div>
    <h3 class="_wrb" ng-if="ctlPostCard.post.subject.length > 0" ng-bind-html="ctlPostCard.post.subject | emoji">
    </h3>
  </section>
  <section class="post-body _wrb {{ctlPostCard.post.contentType == 'text/plain' ? 'pre' : ''}}"
           ng-if="ctlPostCard.post.body.length > 0 && ctlPostCard.viewSetting.content"
           auto-dir="ctlPostCard.post.body">
    <span ng-if="!ctlPostCard.post.subject" class="unread-badge-holder">●</span>
    <span ng-bind-html="ctlPostCard.post.body | removeHTMLTags | truncate | emoji"></span>
  </section>
  <section class="post-body" ng-if="ctlPostCard.post.body.length < 1 && ctlPostCard.ViewSetting.content"
           post="ctlPostCard.post">
    <i><translate>Empty post</translate></i>
  </section>
  <!-- <section class="post-attachments" data-ng-if="ctlPostCard.post.hasAnyAttachment() && ctlPostCard.viewSetting.attachments">
    <div class="attachments _fw _df" data-ng-include="'app/components/attachments/attachments.html'"
         data-ng-init="thePost = ctlPostCard.post"></div>
  </section> -->
  <section data-ng-if="ctlPostCard.post.hasAnyAttachment() && ctlPostCard.viewSetting.attachments">
    <nst-attachments-view post-id="ctlPostCard.post.id" attachments="ctlPostCard.post.attachments" preview-mode="'thumbnail'"></nst-attachments-view>
  </section>
  <hr>
  <section class="post-footer _difh">
    <a class="_df _fn" ng-if="!ctlPostCard.hideComments">
      <span ng-if="!ctlPostCard.post.hasAnyComment()"><translate>No comments</translate></span>
      <span ng-if="ctlPostCard.post.commentsCount == 1"><translate>One comment</translate></span>
      <span ng-if="ctlPostCard.post.commentsCount > 1"><translate>{{ctlPostCard.post.commentsCount}} comments</translate></span>
    </a>
    <a ng-if="ctlPostCard.unreadCommentsCount > 0 " class="new-comments-count"
             auto-dir="ctlPostCard.post.subject">
      <span>+{{ctlPostCard.unreadCommentsCount}}</span>
    </a>
    <div class="post-icons _fw _df">
      <a id="test-forward" href="{{::ctlPostCard.urls.forward}}" ng-click="$event.stopPropagation()" class="icon _df" data-uib-tooltip="Forward" data-tooltip-append-to-body="true" data-tooltip-placement="auto top" translate-attrs="data-uib-tooltip">
        <div class="fw">
          <svg  class="svg-hover">
          <use xlink:href="/assets/icons/nst-icn20.svg#fwd"></use>
          <use xlink:href="/assets/icons/nst-icn20.svg#fwd"></use>
          </svg>
        </div>
      </a>
      <a id="test-reply" class="icon _df" href="{{ctlPostCard.urls.reply_all}}" ng-click="$event.stopPropagation()" data-uib-tooltip="Reply to all" data-tooltip-append-to-body="true" data-tooltip-placement="auto top" translate-attrs="data-uib-tooltip">
        <div class="re">
          <svg class="svg-hover">
            <use xlink:href="/assets/icons/nst-icn20.svg#re"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#re"></use>
          </svg>
        </div>
      </a>
      <div ng-click="$event.stopPropagation()" class="cursor-pointer margin-r_5 icon _df" popover-class="white-pop popover-white-nst-activity-places"
           data-uib-popover-template="'app/messages/partials/popovers/post-card-more-option.html'"  data-popover-append-to-body="false"
           data-popover-placement="auto bottom-right" data-uib-tooltip="More Options" data-tooltip-append-to-body="true" data-tooltip-placement="top" translate-attrs="data-uib-tooltip">
        <div class="more">
          <svg class="svg-hover">
            <use xlink:href="/assets/icons/nst-icn20.svg#Wmore"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#Wmore"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>
  <vr class="chain"></vr>
</div>
<section class="post-card-comment" data-ng-if="ctlPostCard.viewSetting.comments && !ctlPostCard.hideComments && !ctlPostCard.post.forbidden">
  <div class="_df _fw comments-load" ng-if="ctlPostCard.canShowOlderComments() || ctlPostCard.commentBoardNeedsRolling()">
    <a ng-if="ctlPostCard.canShowOlderComments()" href="javascript:void(0);" ng-click="ctlPostCard.showOlderComments()"><translate>View older comments...</translate></a>
    <a ng-if="ctlPostCard.commentBoardNeedsRolling()" href="javascript:void(0);" ng-click="ctlPostCard.limitCommentBoard()"><translate>Roll up</translate></a>
  </div>
  <comments-board comments="ctlPostCard.post.comments" limit="ctlPostCard.commentBoardLimit"></comments-board>
  <div class="post-card-comment-input _df">
    <input type="text" nst-mention post-id="{{ctlPostCard.post.id}}" data-ng-model="ctlPostCard.post.newComment"  auto-dir="ctlPostCard.post.newComment"
           class="_fw" placeholder="write your comment..." ng-keyup="ctlPostCard.sendComment($event)"
           ng-disabled="ctlPostCard.isSendingComment" max-length="1024"  translate-attrs="placeholder"/>
  </div>
</section>
<div class="no-permission" ng-if="ctlPostCard.post.forbidden">
  <div class="forbidden-icon"><div></div><div></div></div> <translate>No Permission</translate>
</div>
<div class="post-card-wire"></div>
