
post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:last-child {
    .post-card-wire {
      display: none
    }
    .chain-stats {
      max-height: 98px;
    }
  }

  .chain-forward {
    width: 48px;
    padding: 0 8px;
    position: absolute;
    top: 8px;
    right: 0;
    transform: translateX(100%);
    border-radius: 0 4px 4px 0;
    background-color: #F0F0F0;
    border: 1px solid rgba(0, 0, 0, .04);
    border-left-width: 0;
    flex-direction: column;
    align-items: center;
    > a {
      display: flex;
      flex: 1;
      width: 100%;
      height: 32px;
      justify-content: center;
      align-items: center;
    }
    svg {
      fill: rgba(0, 0, 0, .4);
      width: 20px;
      height: 20px;
    }
  }
  .chain-stats {
    width: 24px;
    height: 105%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    border-radius: 0 4px 4px 0;
    border-left: 1px solid $color-border;
    flex-direction: column;
    > div {
      height: 32px;
      width: 100%;
      direction: rtl;
      flex-direction: row;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      transform: translateX(-100%);
      > * {
        direction: ltr;
        display: inline-table;
      }
    }
    span {
      white-space: nowrap;
    }
    svg {
      transform: translateX(50%);
      width: 16px;
      height: 16px;
      flex: none;
    }
    .circ {
      transform: translateX(50%);
      display: flex;
      width: 12px;
      height: 12px;
      border: 1px solid;
      border-radius: 24px;
      background-color: #F6F6F6;
      border-color: $color-solid;
      &.blue {
        border-color: $color-reply;
      }
      &.green {
        border-color: $color-forward;
      }
    }
    .squ {
      transform: translateX(50%);
      width: 12px;
      height: 12px;
      background-color: #DBDBDB;
      border: 1px solid #fafafa;
      border-radius: 1px;
    }
  }
}

.post-card {
  //margin-top: 32px;
  //border-radius: 2px;
  position: relative;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.1);
  //box-shadow: 0 10px 6px -6px rgba(119,123,121,.4);
  z-index: 11;
  background-color: $color-white;
  overflow: visible;
  transition: all $animation-dur;
  &:hover {
    //box-shadow: 0 8px 16px rgba(0,0,0,0.2)
    .icon svg {
      fill: black;
    }
    .icon .fw {
      color: $color-forward;
      svg {
        fill: $color-forward;
      }
    }
    .icon .re {
      color: $color-reply;
      svg {
        fill: $color-reply;
      }
    }
    .post-footer .icon {
      .re, .fw {
        opacity: 1;
      }
    }
  }
  section {
    display: inline-flex;
    width: 100%;
    padding: 0 24px;
  }
  .icon {
    fill: black;
  }
  .post-head {
    height: 50px;
    align-items: center;
    flex: none;
    padding-left: 0;
    position: relative;
    .icon {
      fill: black;
      position: relative;
      left: 5px;
      svg {
        width: 16px;
        height: 16px;
        use {
          transform: scale(.8, .8);
        }
      }
    }
    .img {
      width: 42px;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 4px;
    }
    span {
      font-size: $font-size-xsmall;
      @include text-hover()
    }
    h4 span {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: $color-solid;
      max-width: 450px;
      @extend ._txe;
    }
    .popover-userdetail {
      top: 0 !important;
      left: 0 !important;
      transform: translateY(-90%);
    }
    .pin-post {
      position: absolute;
      top: 0;
      right: 4px;
      fill: $color-border;
      &.pinned {
        fill: $color-force;
      }
    }
  }
  .unread-badge-holder {
    display: none;
    font-size: 18px;
  }

  .post-body {
    font-size: 13px;
    color: #808080;
    //word-spacing: .3em;
    font-weight: 400;
    margin: 0 0 16px 0;
    line-height: 125%;
    ul {
      margin-left: 8px;
    }
    span {
      color: #808080;
      margin-left: 0;
    }

  }
  .attachments-card {
    position: relative;
    min-height: 108px;
    margin-bottom: 16px;
  }
  hr {
    width: calc(100% - 48px);
    border-color: $color-calm;
    margin: 12px auto 0 auto;
  }
  .post-subject {
    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      line-height: 29px;
      //word-break: break-all;
      font-weight: bold;
      width: 100%;
    }
  }
  .post-card-badge {
    background-color: transparent;
    justify-content: flex-end;
    position: absolute;
    z-index: 34;
    height: 2px;
    overflow-y: visible;
    top: -1px;
    & > a {
      height: 20px;
      cursor: pointer;
      color: $color-white;
      font-size: $font-size-small;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-left: 5px;
      padding: 2px 8px 5px 8px;
      background-color: $color-wind;
      z-index: 36;
      max-width: 96px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > a:first-child {
      z-index: 32;
      //background-color: rgb(134, 157, 145);
    }
    & > a:last-child {
      position: relative;
      //background-color: rgb(20, 215, 105);
    }
  }
  .post-card-time {
    position: relative;
    line-height: 14px;
    padding-right: 8px;
    //top: 12px;
  }
  .post-places {
    margin: 8px 0;
    flex-wrap: wrap;
    a {
      display: flex;
      flex: none;
      align-items: center;
      margin-right: 16px;
      line-height: 24px;
      white-space: nowrap;
      padding-left: 4px;
      border-radius: 4px;
      svg {
        display: none;
        margin-right: 4px;
        fill: $color-force;
      }
      &.del-access {
        line-height: 32px;
        &:hover {
          font-size: 14px;
          box-shadow: 0 0 28px -4px rgba(0, 0, 0, 0.75);
          svg {
            display: block;
          }
        }
      }
    }
  }
  .post-footer {
    height: 40px;
    align-items: center;


    .comments-count {
      span {
        padding: 0 3px;
      }
    }
    .new-comments-count {
      color: #009CFA !important;
      &:hover {
        cursor: pointer;
      }
      svg {
        fill: #009CFA !important;
      }
    }

    > a {
      font-size: $font-size-small;
      color: $color-solid-30;
      align-items: center;
      div span {
        color: $color-solid;
      }
      svg {
        fill: $color-border;
      }
    }
    .post-icons {
      justify-content: flex-end;
      //padding: 0 8px;
      height: 100%;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity $animation-dur;
      //margin: 0 4px;
      > div {
        width: auto;
        padding: 0 8px;
        margin-right: 12px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.fw:hover {
          background-color: rgba(40, 60, 210, .1);

        }
        &.re:hover {
          background-color: rgba(30, 220, 150, .1);
        }
        &.more:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
      .re,
      .fw {
        opacity: 0;
      }
    }
  }
  .collapse-view {
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: #F5F5F5;
    border-bottom: 1px solid $color-border;
    p {
      margin: 0;
      font-size: 13px;
      color: rgba(0, 0, 0, .4);
      @extend ._txe;
    }
  }
  &.ribbon {
    margin-bottom: -3px;
  }
}

.more-place-row {
  padding: 4px 8px;
  &:last-child {
    margin-bottom: 8px;
  }
}

h3 {
  font-weight: 100;
}

.post-card .post-attachments {
  //height: 66px;
  background-color: $color-white;
  align-items: center;
  ul {
    list-style: none;
  }
}

.post-card.unread {
  .post-subject h3, .post-body {
    font-weight: bold;
  }
  .post-card-time {
    color: $color-bg-pending;
  }
  .unread-badge-holder {
    display: block;
  }
}

.post-card-comment {
  width: calc(100% - 32px);
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border: solid 1px $color-border;
  border-top-width: 0;
  z-index: 10;
  border-radius: 0 0 4px 4px;
  //overflow: hidden;
  > *:first-child {
    margin-top: 8px;
  }
}

.post-card-comments {
  align-items: flex-start;
  padding: 8px 8px 0 8px;
  position: relative;
  &:hover {
    background-color: $color-hover-comment;
  }
  .text {
    padding-top: 4px;
    max-width: calc(100% - 98px);
  }
  strong, strong span {
    font-weight: 600;
    position: relative;
    font-size: $font-size-small;
    word-wrap: break-word;
    line-break: strict;
    white-space: nowrap;
    height: 100%;
    color: $color-hurricane;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-size: $font-size-small;
    font-weight: 400;
    color: $color-hurricane;
    height: 100%;
    position: relative;
  }
  span {
    //padding-top: 4px;
    font-size: $font-size-small;
    font-weight: 300;
    color: $color-wind;
    margin: 0 4px;
  }
  .delete-comment {
    position: relative;
    width: 1px;
    overflow: visible;
    top: 4px;
    transform: translateX(12px);
    svg {
      fill: rgba(0, 0, 0, .08);
      transition: fill $animation-dur;
      &:hover {
        fill: rgba(0, 0, 0, .4);
      }
    }
  }
  &.sticky {
    padding-top: 0;
    .text {
      padding-top: 0;
      margin-left: 40px;
      max-width: calc(100% - 59px);
      p {
        margin: 0;
      }
    }
    strong {
      display: none;
    }
    .user-avatar-24 {
      display: none;
    }
  }
}

.comments-load {
  height: 32px;
  align-items: center;
  a {
    margin-left: 32px;
    color: $color-sense-wire;
    &:hover {
      color: $color-solid;
    }
  }
}

.post-card-comment-input {
  height: 48px;
  align-items: center;
  padding: 0 6px;
  input {
    height: 32px;
    align-items: center;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: $font-size-small;
    border: solid 1px rgba(0, 0, 0, .2);
    &:focus {
      border: solid 1px rgba(0, 0, 0, .2);
    }
  }
}

.chain-view .post-card-wire {
  width: 1px;
  height: 48px;
  border-left: 1px solid $color-border;
  box-sizing: border-box;
  display: flex;
}

.post-card-wire {
  width: 1px;
  height: 48px;
  border-left: 0 solid $color-border;
  box-sizing: border-box;
  display: flex;
}

.no-permission {
  background-color: #D2D2D2;
  width: 114px;
  font-weight: 400;
  color: #FFFFFF;
  @extend .nst-font-small;
  border-radius: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  transition: background-color $animation-dur;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $color-force;
  }
  .forbidden-icon {
    width: 23px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    div:last-child {
      transform: translate3d(-50%, -50%, 0);
      left: 50%;
      top: 50%;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      width: 12px;
      position: absolute;
      height: 12px;
      display: flex;
    }
    div:first-child {
      left: 31%;
      top: 45%;
      border-style: solid;
      transform: rotateZ(45deg) translate3d(-50%, -50%, 0);
      border-color: #FFFFFF;
      width: 2px;
      position: absolute;
      height: 10px;
      border-width: 0px 0px 0px 2px;
    }

  }
}

.chain {
  top: 0;
  left: 0;
  width: 4px;
  position: absolute;
  height: 100%;
  border: none;
  background-color: $color-calm;
  border-radius: 1px 0 0 1px;
  transition: opacity $animation-dur;
  display: none;
}

.post-card.forward-card {
  .chain {
    display: block;
    background-color: $color-forward;
    opacity: .08;
  }
  &:hover {
    .chain {
      opacity: 1;
    }
  }
}

.post-card.reply-card {
  .chain {
    display: block;
    background-color: $color-reply;
    opacity: .08;
  }
  &:hover {
    .chain {
      opacity: 1;
    }
  }
}

.isNotRF {
  margin-top: 24px;
}
