<div class="post-card _fw ng-class:{
  'forward-card': ctlPostCard.isForwarded,
  'reply-card': ctlPostCard.isReplyed,
  'unread' : !ctlPostCard.post.read,
  'ribbon' : ctlPostCard.isRibbon }">

  <section class="collapse-view" ng-if="ctlPostCard.isRibbon && ctlPostCard.ribbonEnabled" ng-click="ctlPostCard.switchToPostCard();">
    <div class="user-avatar-24" user-detail="ctlPostCard.post.sender" user-id="ctlPostCard.post.sender.id">
      <img initial-avatar="{{ctlPostCard.post.sender.id}}" name="{{ctlPostCard.post.sender.fullName}}" picture="{{ctlPostCard.post.sender | avatar}}"
        data-width="24" data-height="24" data-radius="30" class="account-initials-24 _df" data-word-count="2" data-font-size="12"
      />
    </div>
    <p ng-if="ctlPostCard.post.subject.length > 0" ng-bind-html="ctlPostCard.post.subject"></p>
    <p ng-if="!ctlPostCard.post.subject.length > 0" ng-bind-html="ctlPostCard.post.body | removeHTMLTags | truncate"></p>
  </section>

  <section class="post-head _difh" ng-if="(!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">
    <div class="_difc">
      <a ng-click="ctlPostCard.viewFull($event);ctlPostCard.markAsRead(); _track('post card','open post view : click forward icon');"
        ng-if="ctlPostCard.isForwarded" class="icon">
        <div class="post-is-forwarded">
          <svg class="svg-hover">
            <use xlink:href="/assets/icons/nst-icn20.svg#forwarded"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#forwarded"></use>
          </svg>
        </div>
      </a>

      <a ng-click="ctlPostCard.viewFull($event);ctlPostCard.markAsRead(); _track('post card','open post view : click reply icon');"
        ng-if="ctlPostCard.isReplyed" class="icon">
        <div class="post-is-replied">
          <svg class="svg-hover mirror">
            <use xlink:href="/assets/icons/nst-icn20.svg#replied"></use>
            <use xlink:href="/assets/icons/nst-icn20.svg#replied"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="img _df">
      <div class="user-avatar-38" user-detail="ctlPostCard.post.sender.id" ng-if="!ctlPostCard.FIT">
        <img initial-avatar="{{ctlPostCard.post.sender.id}}" name="{{ctlPostCard.post.sender.fullName}}" picture="{{ctlPostCard.post.sender | avatar : 'x64'}}"
          data-width="38" data-height="38" data-radius="30" class="account-initials-38 _df" data-word-count="2" data-font-size="16"
        />
      </div>
      <!-- First Interactive time -->
      <div class="user-avatar-38" ng-if="ctlPostCard.FIT">
        <img ng-src="{{ctlPostCard.post.sender | avatar : 'x64'}}" class="account-initials-38 _df" />
      </div>
      <div ng-if="!ctlPostCard.FIT && ctlPostCard.currentPlace &&  ctlPostCard.hasDeleteAccess(ctlPostCard.currentPlace)" class="select-card ng-class:{'selected' : ctlPostCard.isChecked || ctlPostCard.isCheckedForce}">
        <input class="_fr" type="checkbox" id="select{{ctlPostCard.post.id}}" name="select" ng-model="ctlPostCard.isChecked" ng-checked="ctlPostCard.isChecked"
        />
        <label class="_fw _df _asc setting" for="select{{ctlPostCard.post.id}}"></label>
      </div>
    </div>
    <div class="_fw _difc">
      <h4 class="_df _fn" ng-if="!ctlPostCard.FIT" user-detail="ctlPostCard.post.sender">{{::ctlPostCard.post.sender.fullName}}</h4>
      <!-- First Interactive time -->
      <h4 class="_df _fn" ng-if="ctlPostCard.FIT">{{::ctlPostCard.post.sender.fullName}}</h4>
      <div class="_df _fw"></div>

      <a class="_df _fn post-card-time" ng-if="!ctlPostCard.FIT" ng-click="ctlPostCard.viewFull($event); ctlPostCard.markAsRead(); _track('post card','open post view : click date');"
        data-uib-tooltip="{{::ctlPostCard.post.timestamp | date : 'full' | localize}}" data-tooltip-append-to-body="true" data-tooltip-placement="auto left">
        <span ng-if="!ctlPostCard.chainView">{{::ctlPostCard.post.timestamp | passed | localize }}</span>
        <span ng-if="ctlPostCard.chainView">{{::ctlPostCard.post.timestamp | date : 'full' | localize}}</span>
      </a>
    </div>
    <div class="pin-post ng-class:{'pinned' : ctlPostCard.post.pinned}" ng-click="ctlPostCard.markAsRead();ctlPostCard.setBookmark(!ctlPostCard.post.pinned); _track('post card',ctlPostCard.post.pinned ? 'bookmark remove' : 'bookmark add');">
      <svg class="_24svg" data-ng-if="ctlPostCard.post.pinned">
        <use xlink:href="/assets/icons/nst-icn24.svg#bookmark"></use>
      </svg>
      <svg class="_24svg" data-ng-if="!ctlPostCard.post.pinned">
        <use xlink:href="/assets/icons/nst-icn24.svg#bookmark-wire"></use>
      </svg>
    </div>
  </section>

  <section ng-if="ctlPostCard.post.subject.length > 0 && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)" class="post-subject"
    auto-dir="ctlPostCard.post.subject">
    <h3 class="_wrb" ng-if="ctlPostCard.post.subject.length > 0" ng-bind-html="ctlPostCard.post.subject">
    </h3>
  </section>

  <section ng-if="(!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">
    <div class="_bggray nst-mood-lively _fw" ng-if="!ctlPostCard.post.isTrusted && ctlPostCard.isExpanded">
      <translate>This post contains blocked images.</translate>
      <a class="nst-mood-hurricane" ng-click="ctlPostCard.showTrustedBody(); _track('post card','show trusted body');">
        <translate>Show Images</translate>
      </a>
      &nbsp;
      <a class="nst-mood-hurricane" ng-click="ctlPostCard.alwaysTrust(); _track('post card','always trust');">
        <translate>Always trust the sender</translate>
      </a>
    </div>
  </section>

  <section class="post-body _wrb {{ctlPostCard.post.contentType == 'text/plain' ? 'pre' : ''}}" ng-if="!ctlPostCard.loading && ctlPostCard.post.body.length > 0 && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)"
    auto-dir="ctlPostCard.post.body">

    <div ng-if="!ctlPostCard.isExpanded && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)" class="_fw">
      <span ng-if="!ctlPostCard.FIT" ng-bind-html="ctlPostCard.post.body | trustAsHtml"></span>
      <!-- First Interactive time -->
      <span ng-if="ctlPostCard.FIT" ng-bind-html="ctlPostCard.post.body"></span>
      <a ng-click="ctlPostCard.expand(); _track('post card', 'show more');" ng-if="(!ctlPostCard.expandProgress && ctlPostCard.post.ellipsis && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled) && !ctlPostCard.addOn) && !ctlPostCard.isExpanded"
        class="show-more">
        <span>-</span>
        <translate>Show more...</translate>
      </a>
    </div>
    <div ng-if="ctlPostCard.isExpanded && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)" class="_fw">

      <div mail-resizer ng-if="ctlPostCard.isExpanded && !ctlPostCard.post.isTrusted " ng-bind-html="ctlPostCard.body | trustAsHtml"></div>
      <div mail-resizer ng-if="ctlPostCard.isExpanded && ctlPostCard.post.isTrusted" ng-bind-html="ctlPostCard.body | trustAsHtml"></div>
    </div>
  </section>
  <section ng-if="ctlPostCard.isExpanded && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">
    <div ng-if="(!ctlPostCard.expandProgress && ctlPostCard.post.ellipsis && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled) && !ctlPostCard.addOn) && ctlPostCard.isExpanded">
      <a ng-click="ctlPostCard.collapse($event); _track('post card', 'show less');" class="show-more"><span>-</span>
        <translate>Show less</translate>
      </a>
    </div>
  </section>

  <div class="_difh nst-mood-cheerful no-gutter" ng-if="ctlPostCard.loading">
    <div class="col-xs-6">
      <div class="nst-loading nst-loading-size-16  _fr"></div>
    </div>
    <div class="col-xs-6 nst-marginbtm-4">
      <translate>Loading...</translate>
    </div>
  </div>

  <section data-ng-if="!ctlPostCard.FIT && ctlPostCard.post.attachments.length > 0 && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)"
    class="attachments-card">
    <nst-attachments-view class="_fw" post-id="ctlPostCard.post.id" sender="ctlPostCard.post.sender" attachments="ctlPostCard.post.attachments"></nst-attachments-view>
  </section>
  <section class="post-labels" ng-if="ctlPostCard.post.labels.length > 0 && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">
    <span data-ng-repeat="label in ctlPostCard.post.labels track by $index" ng-click="ctlPostCard.labelClick(label.title);" class="color-lbl-bg-{{label.code}}">
        {{ label.title | scapeRevSpace}}
    </span>
    <a ng-if="!ctlPostCard.FIT && ctlPostCard.haveAnyLabelAcess" add-label added-labels="ctlPostCard.post.labels" after-add-label="ctlPostCard.addLabels"
       data-uib-tooltip-template="'add-label-tooltip.html'" class="cursor-pointer" data-tooltip-append-to-body="true" data-tooltip-placement="auto top"
       ng-click="ctlPostCard.markAsRead();"
    >
      <svg class="_16svg _r90">
        <use xlink:href="/assets/icons/nst-icn16.svg#more"></use>
      </svg>
    </a>
  </section>
  <section class="post-places ng-class:{'no-post-view' : !ctlPostCard.chainView}" ng-if="(!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">
    <translate class="places-label" ng-if="ctlPostCard.post.places.length > 0">shared with:</translate>
    {{ctlPostCard.limit = !ctlPostCard.chainView ? 3 : 50; ""}}
    <span data-ng-repeat="place in ctlPostCard.totalRecipients | limitTo: ctlPostCard.limit track by place.id ? place.id : place"
      class="ng-class:{'del-access' :  ctlPostCard.hasDeleteAccess(place)}">
        <a ng-if="!ctlPostCard.FIT" ui-sref="app.place-messages({ placeId : place.id })" ng-click="ctlPostCard.goToPlace($event, place);" place-detail="place.id" dir="ltr">
          {{place.name}}
        </a>
        <!-- First Interactive time -->
        <a ng-if="ctlPostCard.FIT" ui-sref="app.place-messages({ placeId : place.id })" dir="ltr">
          {{place.name}}
        </a>
        <svg class="_16svg red-item" ng-click="ctlPostCard.remove(place);$event.stopPropagation();">
          <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
        </svg>
    </span>
    <!-- <a ng-if="ctlPostCard.post.recipients.length > 0"
       data-ng-repeat="recipient in ctlPostCard.post.recipients | limitTo: ctlPostCard.limits.recipients track by $index">{{::recipient}}
    </a> -->
    <a ng-if="3 < ctlPostCard.totalRecipients.length && !ctlPostCard.chainView" data-uib-tooltip-template="'morePlaces-uib-tooltip.html'"
      class="more" ng-if="!ctlPostCard.FIT" data-tooltip-append-to-body="false" data-tooltip-placement="auto top">
      <translate>and</translate> {{ ctlPostCard.totalRecipients.length - 3 | localize}}
      <translate>more</translate>...
    </a>
  </section>

  <hr ng-if="(!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)">

  <section class="post-footer _difh" ng-if="(!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled) && !ctlPostCard.chainView">

    <a class="_df _fn comments-count" ng-if="ctlPostCard.unreadCommentsCount == 0 && !ctlPostCard.post.noComment">
      <svg class="_16svg">
        <use xlink:href="/assets/icons/nst-icn16.svg#comment"></use>
      </svg>
      <span>{{ctlPostCard.post.counters.comments | localize }}</span>
    </a>
    <a class="_df _fn comments-count new-comments-count" ng-if="ctlPostCard.unreadCommentsCount > 0 && !ctlPostCard.post.noComment"
      ng-click="ctlPostCard.viewFull($event); _track('post card', 'open post view : click new comment icon');">
      <!--fixme :: set blue icon-->
      <svg class="_16svg">
        <use xlink:href="/assets/icons/nst-icn16.svg#comment"></use>
      </svg>
      <span ng-if="ctlPostCard.unreadCommentsCount == 1"><translate>1 new comment</translate></span>
      <span ng-if="ctlPostCard.unreadCommentsCount > 1"><translate>{{ctlPostCard.unreadCommentsCount | localize}} new comments</translate></span>
    </a>

    <div class="post-icons _fw _df" ng-if="!ctlPostCard.FIT">
      <a id="test-forward" data-uib-tooltip-template="'forward-uib-tooltip.html'" data-tooltip-append-to-body="true" data-tooltip-placement="auto top"
        ui-sref="app.compose-forward({ postId: ctlPostCard.post.id })" ng-click="ctlPostCard.forward($event); ctlPostCard.markAsRead(); _track('post card', 'forward : toolbar');"
        class="icon _df">
        <div class="forward-post">
          <svg class="svg-hover _24svg">
            <use xlink:href="/assets/icons/nst-icn24.svg#forward"></use>
          </svg>
        </div>
      </a>
      <a id="test-reply" class="icon _df" data-uib-tooltip-template="'reply-to-all-uib-tooltip.html'" data-tooltip-append-to-body="true"
        data-tooltip-placement="auto top" ng-click="ctlPostCard.replyAll($event); ctlPostCard.markAsRead(); _track('post card', 'reply all : toolbar');"
        ui-sref="app.compose-reply-all({ postId: ctlPostCard.post.id })">
        <div class="reply-post">
          <svg class="svg-hover _24svg mirror">
            <use xlink:href="/assets/icons/nst-icn24.svg#reply"></use>
          </svg>
        </div>
      </a>
      <div ng-click="$event.stopPropagation()" class="cursor-pointer margin-r_5 icon _df" data-uib-tooltip-template="'more-uib-tooltip.html'"
        data-tooltip-append-to-body="true" data-tooltip-placement="auto top" popover-class="white-pop post-card-moreo-ptions"
        data-popover-placement="{{$root._direction == 'ltr' ? 'left auto' : 'right auto'}}" data-uib-popover-template="'app/messages/partials/popovers/post-card-more-option.html'"
        data-popover-append-to-body="true" translate-attrs="data-uib-tooltip" ng-click="_track('post card', 'more options : toolbar');">
        <div class="more">
          <svg class="svg-hover _24svg">
            <use xlink:href="/assets/icons/nst-icn24.svg#more"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <vr class="chain"></vr>
</div>


<section class="post-card-comment" data-ng-if="!ctlPostCard.FIT && !ctlPostCard.hideComments && !ctlPostCard.post.noComment && ctlPostCard.commentBoard"
  id="comment-{{ctlPostCard.post.id}}">
  <comments-board comments="ctlPostCard.post.comments" limit="ctlPostCard.commentBoardLimit" post-id="ctlPostCard.post.id"
    total-comments-count="ctlPostCard.post.counters.comments" on-comment-sent="ctlPostCard.onAddComment" has-comment-remove-access="ctlPostCard.hasHiddenCommentAccess"></comments-board>
</section>

<div class="chain-forward" ng-if="ctlPostCard.chainView && (!ctlPostCard.isRibbon || !ctlPostCard.ribbonEnabled)" affixer-post-view="{{ctlPostCard.addOn}}"
  observe="yes" after-content="697" top="64" container=".modal" fixed-top="true">

  <a ng-click="ctlPostCard.replyAll($event);ctlPostCard.markAsRead(); _track('post card', 'reply : add-on');" ui-sref="app.compose-reply-all({ postId: ctlPostCard.post.id })"
    data-uib-tooltip-template="'reply-to-all-uib-tooltip.html'" data-tooltip-append-to-body="true" data-tooltip-placement="auto top">
    <svg class="mirror">
      <use xlink:href="/assets/icons/nst-icn24.svg#reply"></use>
    </svg>
  </a>

  <a ui-sref="app.compose-forward({ postId: ctlPostCard.post.id })" ng-click="ctlPostCard.forward($event);ctlPostCard.markAsRead(); _track('post card', 'forward : add-on');"
    data-uib-tooltip-template="'forward-uib-tooltip.html'" data-tooltip-append-to-body="true" data-tooltip-placement="auto top">
    <svg>
      <use xlink:href="/assets/icons/nst-icn24.svg#forward"></use>
    </svg>
  </a>
  <a ng-if="!ctlPostCard.addOn" ng-click="ctlPostCard.viewFull($event);">
    <svg>
      <use xlink:href="/assets/icons/nst-icn24.svg#expand"></use>
    </svg>
  </a>

  <a ng-if="ctlPostCard.addOn" popover-class="white-pop popover-white-nst-activity-places" data-tooltip-append-to-body="true"
    data-tooltip-placement="auto top" data-uib-tooltip-template="'more-uib-tooltip.html'" data-popover-placement="bottom-left auto"
    ng-click=" _track('post card', 'more options');" data-uib-popover-template="'app/messages/partials/popovers/post-card-more-option.html'"
    data-popover-append-to-body="true" translate-attrs="data-uib-tooltip,data-uib-popover">

    <svg class="_r90">
      <use xlink:href="/assets/icons/nst-icn20.svg#more"></use>
    </svg>
  </a>
</div>

<div class="chain-stats" ng-if="ctlPostCard.chainView" observe="yes" affixer-post-view="{{ctlPostCard.addOn}}" parent-mode='true'
  after-content="697" top="64" container=".modal" fixed-top="true" rtl-right-auto="true">
  <div ng-if="!ctlPostCard.addOn">
    <div class="circ ng-class:{'blue' : ctlPostCard.post.isReplyed, 'green' : ctlPostCard.post.isForwarded}"></div>
  </div>
  <div ng-if="ctlPostCard.addOn" class="no-replied-or-forwarded">
    <svg>
      <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
    </svg>
  </div>

  <div ng-if="ctlPostCard.addOn">
    <div class="squ"></div>
    <span ng-if="!(ctlPostCard.post.places.length == 1)"><translate>shared in {{ctlPostCard.post.places.length | localize}} places</translate></span>
    <span ng-if="ctlPostCard.post.places.length == 1"><translate>shared in One place</translate></span>
  </div>
  <div ng-if="ctlPostCard.addOn">
    <svg class="chain-ico">
      <use xlink:href="/assets/icons/nst-icn16.svg#more"></use>
    </svg>
    <span ng-if="ctlPostCard.unreadCommentsCount === 0">
      <span ng-if="ctlPostCard.post.counters.comments == 0"><translate>No comments</translate></span>
    <span ng-click="ctlPostCard.goTo('comment-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.counters.comments == 1"><translate>One comment</translate></span>
    <span ng-click="ctlPostCard.goTo('comment-' + ctlPostCard.post.id)" ng-if="ctlPostCard.post.counters.comments > 1"><translate>{{ctlPostCard.post.counters.comments | localize}} comments</translate></span>
    </span>
    <!-- <a class="_df _fn comments-count new-comments-count" ng-if="ctlPostCard.unreadCommentsCount > 0" ui-sref="app.message({ postId : ctlPostCard.post.id })" -->
    <a class="_df _fn comments-count new-comments-count" ng-if="ctlPostCard.unreadCommentsCount > 0"
      ng-click="ctlPostCard.loadNewComments($event,'scrollIntoView');">
      <span ng-if="ctlPostCard.unreadCommentsCount == 1"><translate>1 new comment</translate></span>
      <span ng-if="ctlPostCard.unreadCommentsCount > 1">{{ctlPostCard.unreadCommentsCount | localize}} <translate>new comments</translate></span>
    </a>
  </div>

</div>

<div class="card-control" affix-post ng-if="!ctlPostCard.FIT && !ctlPostCard.chainView">

  <svg class="_16svg pendfill" ng-click="ctlPostCard.markAsRead();ctlPostCard.expand();" ng-if="!ctlPostCard.post.read">
    <use xlink:href="/assets/icons/nst-icn16.svg#circle"></use>
  </svg>
  <svg class="_16svg nst-icn-gry" ng-if="!ctlPostCard.expandProgress && ctlPostCard.post.read && !ctlPostCard.isExpanded && ctlPostCard.post.ellipsis"
    ng-click="ctlPostCard.expand();  _track('post card', 'show more : add-on');">
    <use xlink:href="/assets/icons/nst-icn16.svg#message"></use>
  </svg>
  <svg class="_16svg nst-icn-gry" ng-if="((!ctlPostCard.expandProgress && ctlPostCard.isExpanded) || !ctlPostCard.post.ellipsis ) && ctlPostCard.post.read"
    ng-click="ctlPostCard.collapse($event);  _track('post card', 'show less : add-on');">
    <use xlink:href="/assets/icons/nst-icn16.svg#open-message"></use>
  </svg>
  <div class="_16svg" ng-show="ctlPostCard.expandProgress && ctlPostCard.post.ellipsis">
    <div class="nst-loading nst-loading-size-16  _fr"></div>
  </div>
</div>

<div class="post-card-wire" ng-if="!ctlPostCard.chainView"></div>
<script type="text/ng-template" id="more-uib-tooltip.html">
  <translate>More options</translate>
</script>
<script type="text/ng-template" id="reply-to-all-uib-tooltip.html">
  <translate>Reply</translate>
</script>
<script type="text/ng-template" id="forward-uib-tooltip.html">
  <translate>Forward</translate>
</script>
<script type="text/ng-template" id="add-label-tooltip.html">
  <translate>Labels</translate>
</script>
<script type="text/ng-template" id="morePlaces-uib-tooltip.html">
  <ul>
    <li data-ng-repeat="place in ctlPostCard.totalRecipients" ng-if="$index >= 3">
      {{place.name}}
    </li>
  </ul>
</script>
