
post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: calc(720px - 64px) !important;
  //z-index: 600;
  &:last-child {
    .post-card-wire {
      display: none
    }
    .chain-stats {
      max-height: 98px;
    }
  }

  .chain-forward {
    width: 48px;
    padding: 0 8px;
    position: absolute;
    top: 8px;
    right: 0;
    transform: translate3d(100%, 0, 0);
    border-radius: 0 4px 4px 0;
    background-color: $color-super-solid;
    border: 1px solid rgba(0, 0, 0, .04);
    border-left-width: 0;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    > a {
      display: flex;
      flex: 1;
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      &:hover {
        svg {
          fill: $color-white;
        }
      }
    }
    svg {
      transition: fill $animation-dur;
      fill: $color-gale-white;
      width: 24px;
      height: 24px;
    }
  }
  .chain-stats {
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    border-left: 1px solid rgba(255, 255, 255, .08);
    flex-direction: column;
    > div {
      height: 24px;
      margin-top: 8px;
      width: 100%;
      direction: rtl;
      flex-direction: row;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      transform: translate3d(-100%, 0, 0);
      position: relative;
      &:before {
        content: ' ';
        position: absolute;
        width: 1px;
        height: 24px;
        // opacity: .98;
        background-color: $color-solid-irreversible;
      }
      > * {
        direction: ltr;
        display: inline-table;
      }
      svg {
        position: absolute;
        right: 0;
      }
    }
    span {
      white-space: nowrap;
      padding: 0 15px;
      color: $color-white;
      font-size: 11px;
      text-align: right;
      span {
        padding: 0;
      }
    }
    svg {
      transform: translate3d(50%, 0, 0);
      flex: none;
      fill: $color-white;
      opacity: .24;
    }
    ._24svg {
      opacity: 1;
    }
    .circ {
      transform: translate3d(50%, 0, 0);
      display: flex;
      width: 12px;
      height: 12px;
      border: 1px solid;
      border-radius: 24px;
      background-color: $color-calm;
      border-color: $color-solid;
      &.blue {
        border-color: $color-reply;
      }
      &.green {
        border-color: $color-forward;
      }
    }
    .squ {
      transform: translate3d(-4px, 0, 0);
      width: 12px;
      height: 12px;
      background-color: $color-breeze;
      border: 1px solid $color-calm;
      border-radius: 1px;
    }
  }
  .card-control {
    position: absolute;
    width: 24px;
    left: 0;
    top: 24px;
    transform: translate3d(-100%, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.post-card-shadow {
  box-shadow: 0 5px 12px 2px $box-shadow-color;
  width: 100%;
}

.post-card {
  //margin-top: 32px;
  position: relative;
  border-radius: 6px;
  //box-shadow: 0 10px 6px -6px rgba(119,123,121,.4);
  z-index: 1;
  background-color: $color-bg-postcard;
  overflow: visible;
  // transition: all $animation-dur;
  &.have-comment {
    border-radius: 6px 6px 0 0;
  }
  .icon .forward-post,
  .icon .more,
  .icon .reply-post,
  .icon .post-is-replied,
  .icon .post-is-forwarded {
    svg {
      fill: $color-breeze;
    }
  }
  &:hover {
    //box-shadow: 0 8px 16px rgba(0,0,0,0.2)
    // .icon .more svg {
    //   fill: black;
    // }
    .icon .post-is-forwarded {
      svg {
        fill: $color-forward;
      }
    }
    .icon .post-is-replied {
      svg {
        fill: $color-reply;
      }
    }
  }
  > section {
    display: inline-flex;
    width: 100%;
    padding: 0 24px;
  }
  .icon {
    fill: black;
  }
  .post-head {
    height: 64px;
    align-items: center;
    flex: none;
    padding-left: 0;
    position: relative;
    > div:first-child {
      min-width: 16px;
      padding: 0 2px 0 6px;
      flex: none;
    }
    .select-card {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 0;
      background-color: $color-white;
      transition: opacity 0.15s;
      &.selected {
        opacity: 1;
      }
      label {
        width: 16px;
        height: 16px;
      }
    }
    .icon {
      fill: black;
      position: relative;
      svg {
        width: 16px;
        height: 16px;
        use {
          transform: scale(.8, .8);
        }
      }
    }
    .img {
      width: 32px;
      justify-content: flex-start;
      margin-right: 4px;
      position: relative;
      & + div {
        max-width: calc(100% - 56px);
        h4 {
          max-width: calc(100% - 64px);
        }
      }
      &:hover {
        .select-card {
          opacity: 1
        }
      }
    }
    .post-card-time {
      font-size: 13px;
      cursor: pointer !important;
      color: $color-gale-new;
    }
    h4 span {
      margin: 0;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 400;
      color: $color-solid;
      max-width: 350px;
      @extend ._txe;
    }
    .popover-userdetail {
      top: 0 !important;
      left: 0 !important;
      transform: translateY(-90%);
    }
    .pin-post {
      position: absolute;
      top: 0;
      right: 4px;
      fill: $color-border;
      &.pinned {
        fill: $color-force;
        svg {
          fill: $color-force;
        }
      }
    }
  }
  .unread-badge-holder {
    display: none;
    font-size: 18px;
  }

  .post-body {
    font-size: 14px;
    color: $color-solid;
    //word-spacing: .3em;
    font-weight: 400;
    margin: 0 0 16px 0;
    line-height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 24px;
    ul, ol {
      margin: 0 16px;
    }
    > div > [mail-resizer] {
      width: 100%;
      color: $color-post-body;
      -webkit-transform-origin-x: 0px;
      -webkit-transform-origin-y: 0px;
      margin-left: 0;
      transform-origin: 0 0;
      //max-width: 100%;
      a {
        color: $color-sense-wire;
        &:hover {
          color: $color-sense;
          text-decoration: underline !important;
        }
      }
    }

  }
  .post-iframe {
    width: 100%;
    iframe {
      width: 100%;
    }
  }
  .attachments-card {
    position: relative;
    min-height: 108px;
    margin-bottom: 16px;
  }
  hr {
    width: calc(100% - 48px);
    border-color: $color-calm;
    margin: 0 auto;
  }
  .post-subject {
    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      line-height: 22px;
      //word-break: break-all;
      font-weight: bold;
      width: 100%;
      color: $color-solid;
    }
  }
  .post-card-time {
    position: relative;
    line-height: 14px;
    padding-right: 8px;
    //top: 12px;
  }
  .post-footer {
    height: 40px;
    align-items: center;

    .comments-count {
      span {
        padding: 0 3px;
      }
    }

    > a {
      font-size: $font-size-small;
      color: $color-solid-30;
      align-items: center;
      div span {
        color: $color-solid;
      }
      svg {
        fill: $color-breeze;
      }
    }
    .post-icons {
      justify-content: flex-end;
      //padding: 0 8px;
      height: 100%;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity $animation-dur;
      //margin: 0 4px;
      > div {
        width: auto;
        padding: 0 8px;
        margin-right: 12px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.forward-post:hover {
          background-color: rgba(40, 60, 210, .1);
          svg {
            fill: $color-forward;
          }
        }
        &.reply-post:hover {
          svg {
            fill: $color-reply;
          }
          background-color: rgba(30, 220, 150, .1);
        }
        &.more:hover {
          svg {
            fill: $color-solid;
          }
          // background-color: rgba(30, 220, 150, .1);
        }
        &.more {
          margin: 0
        }
        &.more:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }
  }
  .collapse-view {
    height: 40px;
    display: inline-flex;
    border-radius: 6px;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: $sidebar-bg-color;
    .post-chain-status {
      width: 28px;
      height: 16px;
      padding: 0 6px;
    }
    .user-avatar-24 {
      width: 36px;
      &::after {
        left: 6px;
      }
    }
    strong {
      font-size: 11px;
      font-weight: bold;
      color: $color-solid;
      padding: 0 8px;
    }
    p {
      margin: 0;
      font-size: 13px;
      padding: 0 8px;
      color: $color-solid;
      @extend ._txe;
    }
    .icon {
      fill: black;
      position: relative;
      svg {
        use {
          transform: scale(.8, .8);
        }
      }
    }
  }
  &.ribbon {
    background-color: transparent;
    box-shadow: 0px 32px 64px $color-super-solid;
  }
}

.post-places {
  margin: 8px 0;
  flex-wrap: wrap;
  &.no-post-view {
    flex-wrap: nowrap;
    overflow: hidden;
    > span {
      max-width: 20%;
      overflow: hidden;
      position: relative;
      a {
        display: block;
        width: 100%;
        float: left;
        margin-top: 4px;
        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      svg {
        position: absolute;
        right: 0;
        top: 12px;
      }
    }
    .tooltip {
      ul {
        list-style: none;
      }
    }
  }
  .places-label {
    font-size: 14px;
    line-height: 32px;
    margin-right: 16px;
    color: $color-breeze;
    flex: none;
    white-space: nowrap;
    &:hover {
      box-shadow: none;
    }
  }
  > span {
    background-color: $color-bg-postcard;
    border-radius: 4px;
    line-height: 32px;
    margin-right: 16px;
    margin-bottom: 6px;
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
      a {
        color: $color-solid;
      }
    }
  }
  a {
    display: inline;
    flex: none;
    align-items: center;
    line-height: 24px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
  }
  > a {
    flex: none;
    align-items: center;
    line-height: 32px;
    white-space: nowrap;
    margin-right: 16px;
    margin-bottom: 6px;
    background-color: white;
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
      color: $color-solid;
    }
    &.more {
      cursor: pointer;
      background-color: transparent;
    }
    &.more:hover {
      box-shadow: none;
      color: $color-solid;
    }
  }
  svg {
    display: none;
    opacity: 0;
    margin: -4px 4px -3px -4px;
    fill: $color-force;
  }
  .del-access {
    padding-right: 16px;
    svg {
      display: inline-block;
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}

.post-labels {
  flex-wrap: wrap;
  flex: none;
  // span {
  //   line-height: 18px;
  //   margin-right: 6px;
  //   color: $color-white;
  //   border-radius: 4px;
  //   padding: 0 6px;
  //   margin-bottom: 8px;
  //   font-size: 12px;
  //   opacity: .72;
  //   white-space: nowrap;
  //   transition: opacity $animation-dur;
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
  a {
    border: 1px solid $color-solid-24;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    padding: 2px;
    box-sizing: border-box;
    svg {
      fill: $color-new-hurricane;
    }
    &:hover {
      svg {
        fill: $color-solid;
      }
    }
  }
}

.more-place-row {
  padding: 4px 8px;
  width: 100%;
  overflow: hidden;
  &:last-child {
    margin-bottom: 8px;
  }
}

.post-card-place-avatar {
  margin-left: 8px;
  @include avatar(32px, 32px, 10%);
}

.post-card .post-attachments {
  //height: 66px;
  background-color: $color-white;
  align-items: center;
  ul {
    list-style: none;
  }
}

.post-card.unread {
  .post-subject h3, .post-body {
    font-weight: bold;
  }
  .post-card-time {
    color: $color-bg-pending;
  }
  .unread-badge-holder {
    display: block;
  }
}

.post-card-comment {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-calm;
  border-top: 1px solid $color-calm-solid;
  z-index: 1;
  border-radius: 0 0 4px 4px;
  //overflow: hidden;
  comments-board > .ng-scope:first-child {
    margin-top: 8px;
  }
}

.post-card-comments {
  align-items: flex-start;
  padding: 8px 16px 0 0px;
  position: relative;
  transform-origin: top center;
  &:hover {
    .delete-comment {
      opacity: 1;
    }
  }
  .text {
    padding-top: 4px;
    max-width: calc(100% - 40px);
  }
  p strong, p strong span {
    font-weight: 600;
    position: relative;
    font-size: $font-size-small;
    word-wrap: break-word;
    line-break: strict;
    white-space: nowrap;
    //height: 100%;
    //color: $color-hurricane;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }
  p, p span {
    font-size: $font-size-small;
    font-weight: 400;
    color: $color-comment;
    //height: 100%;
    position: relative;
    max-width: 100%;
  }
  .comment-removed-by, .comment-removed-by span {
    float: none !important;
  }
  p span a {
    color: $color-sense-wire;
    &:hover {
      text-decoration: underline !important;
      color: $color-sense;
    }
    &.nst-user-popover {
      color: $color-hurricane;
      cursor: pointer;
      &:hover {
        text-decoration: none !important;
        color: $color-storm;
      }
    }
  }
  abbr span {
    float: none !important;
  }
  .time {
    //padding-top: 4px;
    font-size: $font-size-small;
    font-weight: 300;
    color: $color-wind;
    margin-left: 4px;
    float: right;
    // padding-top: 4px;
  }
  .delete-comment {
    position: relative;
    width: 1px;
    overflow: visible;
    top: 4px;
    transform: translateX(20px);
    opacity: 0;
    svg {
      fill: $color-breeze-50;
      transition: fill $animation-dur;
      &:hover {
        fill: $color-gale
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  &.sticky {
    padding-top: 0;
    .text {
      padding-top: 0;
      margin-left: 40px;
      max-width: calc(100% - 59px);
      p {
        margin: 0;
      }
    }
    strong {
      display: none;
    }
    .user-avatar-24 {
      display: none;
    }
  }
}

.task-activity .post-card-comments p strong, .post-card-comments p strong span {
  max-width: 130px;
}

.new-comment-animation {
  animation: new-comment-hot 3s ease-in forwards;
}

.comments-load {
  height: 40px;
  align-items: center;
  margin-top: 8px;
  a {
    display: flex;
    color: $color-sense-wire;
    font-style: italic;
    font-size: 13px;
    &:hover {
      color: $color-solid;
      fill: $color-sense-wire;

    }
  }
  a:first-of-type {
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    svg {
      fill: $color-black-24;
    }
  }
}

.post-card-comment-input {
  align-items: center;
  padding-right: 6px;
  &.hide-emoji {
    .wdt-emoji-picker {
      display: none;
    }
  }
  textarea {
    margin: 8px 0;
    min-height: 32px;
    height: 32px;
    max-height: 88px;
    align-items: center;
    border-radius: 5px;
    padding: 5px 28px 5px 8px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: $font-size-small;
    border: solid 1px rgba(0, 0, 0, .2);
    background-color: $contrast-bg-color;
    &:focus {
      border: solid 1px rgba(0, 0, 0, .2);
    }
  }
}

.chain-view .post-card-wire {
  width: 1px;
  height: 48px;
  border-left: 1px solid $color-border;
  box-sizing: border-box;
  display: flex;
}

.post-card-wire {
  width: 1px;
  height: 48px;
  border-left: 0 solid $color-border;
  box-sizing: border-box;
  display: flex;
}

.chain {
  top: 0;
  left: 0;
  width: 4px;
  position: absolute;
  height: 100%;
  border: none;
  background-color: $color-calm;
  border-radius: 1px 0 0 1px;
  transition: opacity $animation-dur;
  display: none;
}

.post-card.forward-card {
  .chain {
    display: block;
    background-color: $color-forward;
    opacity: .08;
  }
  &:hover {
    .chain {
      opacity: 1;
    }
  }
}

.post-card.reply-card {
  .chain {
    display: block;
    background-color: $color-reply;
    opacity: .16;
  }
  &:hover {
    .chain {
      opacity: 1;
    }
  }
}

.new-comments-count {
  color: $color-pending !important;
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: $color-pending !important;
  }
}

.show-more {
  span {
    color: $color-sense-wire;
    font-size: 14px
  }
}

.no-replied-or-forwarded {
  margin-top: 24px;
}

// RTL
body[dir="rtl"] {
  .post-card {
    .post-head {
      padding-right: 0;
      padding-left: 24px;
      > div:first-child {
        padding: 0 6px 0 2px;
      }
      .pin-post {
        left: 4px;
        right: auto;
      }
      .img {
        margin-right: 0;
        margin-left: 4px;
      }
    }
    .post-card-time {
      padding-left: 8px;
      padding-right: 0;
    }
    .post-places svg {
      margin: -4px -4px -3px 4px;
    }
    .post-footer {
      a.icon > div {
        margin-right: 0;
        margin-left: 12px;
      }
    }
  }
  post-card {
    .card-control {
      left: auto;
      right: 0;
      transform: translateX(100%);
    }
    .chain-stats {
      left: auto;
      right: 0;
      transform: translate3d(100%, 0, 0);
      border-left: none;
      border-right: 1px solid gainsboro;
      > div {
        direction: ltr;
        transform: translate3d(100%, 0, 0);
        > * {
          direction: rtl;
        }
      }
      svg,
      .squ,
      .circ {
        transform: translate3d(-50%, 0, 0);
      }
    }
    .chain-forward {
      right: auto;
      left: 0;
      transform: translate3d(-100%, 0, 0);
      border-left-width: 1px;
      border-right-width: 0;
      border-radius: 4px 0 0 4px;
    }
    .wdt-emoji-picker {
      left: 15px;
      right: auto;
      width: 16px;
      height: 16px;
    }
  }
  .post-places {
    .del-access {
      padding-right: 0;
      padding-left: 17px;
    }
  }
}
