#create-place {
  max-width: 490px;
  width: 100%;
  padding: 0 5px;
  margin: 80px auto;
  height: auto;
  position: relative;
  form .placeID {
    background-color: $color-calm;
    margin-bottom: 32px;
  }
  .option-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    select {
      flex: none;
    }
  }
  .create-place-checkbox + label {
    display: inline-block;
    background: url('../assets/icons/controls.svg') no-repeat;
    height: 16px;
    min-width: 17px;
    padding: 0 0 0 17px;
    color: $color-storm;
    font-weight: 400;
    margin: 0;
    @extend .nst-font-medium;
    line-height: 20px;
  }
  .create-place-checkbox:checked + label {
    background-position: 0 -16px;
  }

}



.input-lab{
  line-height: 13px;
  color: $color-storm;
  font-size: 13px;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 8px;
}
.option-des {
  line-height: 19px;
  @extend .nst-font-large;
  font-weight: 400;
  display: flex;
  flex: 1;
  color: $color-solid;
  margin-bottom: 0;
}
