<div id="create-place" ng-init="ctlCreate.step1 = true;">
  <div class="_difv" ng-if="ctlCreate.step1">
    <h2 class="_df">Create a Place</h2>
    <p>Choose a Place Type:</p>
    <div class="select-box _difh" ng-click="ctlCreate.setPlaceClosed();" ng-class="{ selected : ctlCreate.isClosedPlace }">
      <div class="icn">
        <img src="/assets/icons/close-place.png">
      </div>
      <div class="desc">
        <h3>Close Place</h3>
        <p>Only Key holders can view place contents.</p>
        <aside>you can invite Key holders from your Members after creating the place.</aside>
      </div>
    </div>
    <div class="select-box _difh" ng-click="ctlCreate.setPlaceOpen();" ng-class="{ selected : ctlCreate.isOpenPlace }">
      <div class="icn">
        <img src="/assets/icons/open-place.png">
      </div>
      <div class="desc">
        <h3>Open Place</h3>
        <p>All Members can view place contents. but just Key holders can contribute in the place.</p>
        <aside>you can invite Key holders from your Members after creating the place.</aside>
      </div>
    </div>
    <button ng-click="ctlCreate.step1 = false ;ctlCreate.step2 = true ;" ng-disabled="!ctlCreate.isOpenPlace && !ctlCreate.isClosedPlace">Next</button>
  </div>
  <div class="_difv" ng-if="ctlCreate.step2">
      <h2 class="_df">Create a Place <span ng-if="ctlCreate.isClosedPlace">&nbsp;(Close Place)</span><span ng-if="ctlCreate.isOpenPlace">&nbsp;(Open Place)</span></h2>
      <label for="PlaceName">Place Name</label>
      <input type="text" id="PlaceName" tabindex="1" ng-model="ctlCreate.place.name" placeholder="Marketing Development" ng-change="ctlCreate.setId(ctlCreate.place.name);">
      <label for="PlaceID">Place ID</label>
      <div class="placeID">
        <div class="field">
          <div id="PlaceID" tabindex="2" ng-click="ctlCreate.changeID(ctlCreate.place.id)">
            <span ng-if="ctlCreate.hasGrandPlace">{{ctlCreate.place.parentId}}.</span>
            {{ctlCreate.place.id.length > 0 ? ctlCreate.place.id : 'marketing-development'}}
            <span>@nested.me</span>
          </div>
        </div>
        <aside>The place will be identify by this unique address. choose wisely you <b>can't</b> change the PlaceID after creating place.</aside>
      </div>
      <p ng-if="ctlCreate.isClosedPlace">Receiving</p>
      <div class="select-box-step2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingOff();" ng-class="{ selected : ctlCreate.receivingMode == 'off'}">
          <h3>Off</h3>
          <p>Just key holders can communicate in the place.</p>
          <aside>
            <p>Which kind of key holders can be contribute in the place?</p>
            <select ng-model="ctlCreate.place.privacy.addPost" ng-options="member.key as member.name for member in ctlCreate.memberOptions">
            </select>
          </aside>
      </div>
      <div class="select-box-step2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingMembers();" ng-class="{ selected : ctlCreate.receivingMode == 'members'}">
        <h3>Members Only</h3>
        <p>All Members can send messages to the place.</p>
          <aside>
            <p>Show in the Members search results?</p>
            <div class="place-switch">
              <input type="checkbox" name="checkbox_id" id="src-res" value="value">
              <label for="src-res">ON
                <div class="circle"></div>
              </label>
              <label for="src-res">OFF
                <div class="circle"></div>
              </label>
            </div>
          </aside>
      </div>
      <div class="select-box-step2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingEveryone();" ng-class="{ selected : ctlCreate.receivingMode == 'everyone'}">
          <h3>Everyone <i>(also email)</i></h3>
          <p>Everyone can send their messages to the place.</p>
          <aside>
            <p>Show in the public search results?</p>
            <div class="place-switch">
              <input type="checkbox" name="checkbox_id" id="pub-res" value="value" checked>
              <label for="pub-res">ON
                <div class="circle"></div>
              </label>
              <label for="pub-res">OFF
                <div class="circle"></div>
              </label>
            </div></aside>
      </div>
      <p ng-if="ctlCreate.isClosedPlace">Place Privacies</p>
      <div class="option-row" ng-if="ctlCreate.isClosedPlace">
        <p>
          Who can add key holders?
        </p>
        <select ng-model="ctlCreate.place.policy.addMember" ng-options="member.key as member.name for member in ctlCreate.memberOptions">
        </select>
      </div>
      <div class="option-row" ng-if="ctlCreate.isClosedPlace">
        <p>
          Who can create sub-place?
        </p>
        <select ng-model="ctlCreate.place.policy.addPlace" ng-options="member.key as member.name for member in ctlCreate.memberOptions">
        </select>
      </div>
      <div class="option-row">
        <input type="checkbox" id="favo" ng-model="ctlCreate.place.favorite">
        <label for="favo">Add to my favored places.</label>
      </div>
      <div class="option-row">
        <input type="checkbox" id="notification" ng-model="ctlCreate.place.notification">
        <label for="notification">Turn on notification for this place.</label>
      </div>
      <button>Create Place</button>
    </div>
</div>
<div class="close-modal" ng-click="$close(result)">
  <svg>
    <use xlink:href="/assets/icons/nst-icn32.svg#cross"></use>
  </svg>
</div>
