<div id="create-place"
     ng-init="ctrl.step1 = !ctrl.isCreateGrandPlaceMode">


  <div class="_fw" ng-if="ctrl.step == 1">
    <div ng-include="'app/place/create/steps/main-info.html'"></div>
  </div>


  <div class="_difv _fw" ng-if="ctrl.step == 2">
    <div ng-include="'app/place/create/steps/privacy-info.html'"></div>
  </div>


  <div class="_difv _fw {{'step' + ctrl.step}}" ng-if="ctrl.step == 3">
    <div ng-include="'app/place/create/steps/show-place-info.html'"></div>
  </div>

  <div class="_difv _fw {{'step' + ctrl.step}}" ng-if="ctrl.step == 4">
    <div ng-include="'app/place/create/steps/more-options.html'"></div>
  </div>
</div>
