<div class="close-modal" ng-click="$dismiss()" id="close-create-place">
  <svg>
    <use xlink:href="/assets/icons/nst-icn32.svg#cross"></use>
  </svg>
</div>
<div id="create-place"
     ng-init="ctlCreate.step1 = !ctlCreate.isCreateGrandPlaceMode; ctlCreate.step2 = ctlCreate.step1">
  <div class="_difv" ng-if="ctlCreate.step2">

    <form ng-submit="ctlCreate.save(placeForm.$valid);" name="placeForm" novalidate>
      <h2 class="_df"><translate>Create a Place</translate></h2>
      <div class="select-box disabled _difh" ng-if="ctlCreate.isClosedPlace">
        <div class="icn">
          <svg>
            <use xlink:href="/assets/icons/nst-icn20.svg#closedplace"></use>
          </svg>
        </div>
        <div class="desc">
          <h3><translate>Closed Place</translate></h3>
          <p ng-if="!ctlCreate.isPersonalPlace"><translate>Only Members can view Place contents.</translate></p>
          <p ng-if="ctlCreate.isPersonalPlace"><translate>Only you can view the contents of this Place.</translate></p>
        </div>
      </div>
      <div class="select-box disabled _difh" ng-if="ctlCreate.isOpenPlace">
        <div class="icn">
          <svg>
            <use xlink:href="/assets/icons/nst-icn20.svg#openplace"></use>
          </svg>
        </div>
        <div class="desc">
          <h3><translate>Open Place</translate></h3>
          <p>All<b>&nbsp;{{ ctlCreate.grandPlace.name }}</b>Members can view Place contents.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : placeForm.placeName.$invalid && ctlCreate.submitted}">
        <label class="input-lab" ng-if="placeForm.placeName.$valid || !ctlCreate.submitted"><translate>Place name</translate></label>
        <label class="error-message" ng-if="placeForm.placeName.$error.required && ctlCreate.submitted"><translate>Place name is required<translate></label>
        <input name="placeName" class="form-control" type="text" ng-model="ctlCreate.place.name"
               ng-change="ctlCreate.setId(ctlCreate.place.name);" placeholder="Marketing Development" required/>
      </div>

      <label class="input-lab" for="PlaceID"><translate>Place ID</translate></label>
      <div class="placeID">
        <div class="field">
          <div id="PlaceID" tabindex="2" ng-click="ctlCreate.changeId(ctlCreate.place.id)">
            <span ng-if="ctlCreate.hasParentPlace">{{ctlCreate.place.parentId}}.</span>
            {{ctlCreate.place.id.length > 0 ? ctlCreate.place.id : 'marketing-development'}}
            <span>@nested.me</span>
            <div ng-if="ctlCreate.placeIdChecking" class="nst-loading nst-loading-size-16 _dib"></div>
          </div>
        </div>
        <aside><translate>The Place will be identified by this unique address. You <b>can't</b> change the Place ID after creating the Place, so choose wisely!<translate></aside>
      </div>
      <p class="input-lab" ng-if="ctlCreate.isClosedPlace"><translate>Who can post messages to this Place?</translate></p>
      <!--off-->
      <div class="select-box2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingOff();"
           ng-class="{ selected : ctlCreate.receivingMode == 'off'}">

        <h3 ng-if="ctlCreate.isClosedPlace">
          <svg class="tick">
            <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
          </svg>Only {{ ctlCreate.place.privacy.addPost === 'creators'  ?  "Managers" : "Members" }} of "{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}" Members
        </h3>
        <h3 ng-if="!ctlCreate.isClosedPlace">
          <svg class="tick">
            <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
          </svg><translate>Only Members of</translate>&nbsp;"{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}"
        </h3>

        <p ng-if="!ctlCreate.isClosedPlace">Only "<b>{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</b>"
          Members can view Place contents.</p>
        <p ng-if="ctlCreate.isClosedPlace">Only {{ ctlCreate.place.privacy.addPost === 'creators'  ?  "Managers" : "Members" }} can post message to
          "<b>{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</b>" place.</p>
        <aside>
          <p class="f4"><translate>Which kind of members can be contribute in the place?</translate></p>
          <div class="_df f1">
            <select ng-model="ctlCreate.place.privacy.addPost">
              <option value="creators"><translate>Managers of</translate>&nbsp;{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
              <option value="everyone"><translate>Members of</translate>&nbsp;{{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
            </select>
          </div>
        </aside>
      </div>

      <!--internal-->
      <div class="select-box2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingMembers();"
           ng-class="{ selected : ctlCreate.receivingMode == 'members'}">
        <h3 ng-if="!ctlCreate.isClosedPlace">
          <svg class="tick">
            <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
          </svg>"{{ ctlCreate.grandPlace.name }}"&nbsp;<translate>Members</translate>
        </h3>
        <h3 ng-if="ctlCreate.isClosedPlace">
          <svg class="tick">
            <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
          </svg>"{{ ctlCreate.grandPlace.name }}"&nbsp;<translate>Members</translate>
        </h3>
        <p ng-if="!ctlCreate.isClosedPlace">All <b>{{ ctlCreate.grandPlace.name }}</b> Members can post messages to the
          place.</p>
        <p ng-if="ctlCreate.isClosedPlace">Only "{{ ctlCreate.grandPlace.name }}" Members can post messages to "<b>{{ctlCreate.place.name }}</b>"
          Place.</p>
        <aside>
          <p><translate>Show in the search results?</translate></p>
          <div class="place-switch">
            <input type="checkbox" name="checkbox_id" id="pub-res" value="value">
            <label for="pub-res"><b><translate>ON</translate></b>
              <div class="circle" switch-drag></div>
            </label>
            <label for="pub-res"><b><translate>OFF</translate></b></label>
          </div>
        </aside>
      </div>

      <!--external-->
      <div class="select-box2" ng-if="ctlCreate.isClosedPlace" ng-click="ctlCreate.setReceivingEveryone();"
           ng-class="{ selected : ctlCreate.receivingMode == 'everyone'}">
        <h3>
          <svg class="tick">
            <use xlink:href="/assets/icons/nst-icn16.svg#tick"></use>
          </svg><translate>Everyone</translate><i><translate>(including email)</translate></i>
        </h3>
        <p>Everyone can send their messages to "<b>{{ctlCreate.place.name ? ctlCreate.place.name  : '...'}}</b>" Place.
          This includes messages sent from email platforms to your Nested address ({{ ctlCreate.place.id }}@nested.me).
        </p>
        <aside>
          <p><translate>Show in the search results?</translate></p>
          <div class="place-switch">
            <input type="checkbox" name="checkbox_id" id="res" value="value">
            <label for="res"><b>ON</b>
              <div class="circle" switch-drag></div>
            </label>
            <label for="res"><b>OFF</b></label>
          </div>
        </aside>
      </div>

      <div ng-if="!ctlCreate.isPersonalPlace">
        <p class="input-lab"><translate>Place Privacy</translate></p>
        <div class="option-row">
          <p class="f4 _fw _df option-des">
            <translate>Who can add Members?</translate>
          </p>
          <div class="_df f1">
            <select ng-model="ctlCreate.place.policy.addMember">
              <option value="creators">Managers of {{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
              <option value="everyone">Members of {{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
            </select>
          </div>
        </div>
        <div class="option-row" ng-if="ctlCreate.isClosedPlace">
          <p class="f4 _fw _df option-des">
            <translate>Who can create a sub-place?</translate>
          </p>
          <div class="_df f1">
            <select ng-model="ctlCreate.place.policy.addPlace">
              <option value="creators">Managers of {{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
              <option value="everyone">Members of {{ctlCreate.place.name ? ctlCreate.place.name : '...'}}</option>
            </select>
          </div>
        </div>
        <div class="_difv nst-marginbtm-8"
             ng-if="(ctlCreate.hasGrandParent || ctlCreate.hasParentPlace) && !ctlCreate.parentLoadProgress">
          <p class="create-label">
            <translate>Select group of members to be added to the place:</translate>
          </p>
          <ul class="list-unstyled">
            <li>
              <input class="green-radio " type="radio" id="fill-members-none" name="fillMembers" value="none"
                     ng-model="ctlCreate.place.fillMembers">
              <label for="fill-members-none"><translate>None</translate></label>
            </li>
            <li ng-if="ctlCreate.hasParentPlace && ctlCreate.parentPlace.getTeammatesCount() > 1">
              <input class="green-radio " type="radio" id="fill-members-parent" name="fillMembers" value="parent"
                     ng-model="ctlCreate.place.fillMembers">
              <label for="fill-members-parent">All <b>{{::ctlCreate.parentPlace.name}}</b> Members
                ({{::ctlCreate.parentPlace.getTeammatesCount()}})</label>
            </li>
            <li ng-if="ctlCreate.hasGrandParent">
              <input class="green-radio " type="radio" id="fill-members-grand" name="fillMembers" value="grand"
                     ng-model="ctlCreate.place.fillMembers">
              <label for="fill-members-grand">All <b>{{ctlCreate.grandPlace.name}}</b> Members
                ({{::ctlCreate.grandPlace.getTeammatesCount()}})</label>
            </li>
          </ul>


        </div>
      </div>
      <div class="option-row">
        <input class="create-place-checkbox" type="checkbox" id="favo" ng-model="ctlCreate.place.favorite">
        <label for="favo"><translate>Add to my favored places.</translate></label>
      </div>
      <div class="option-row">
        <input class="create-place-checkbox" type="checkbox" id="notification" ng-model="ctlCreate.place.notification">
        <label for="notification"><translate>Turn on notification for this place.</translate></label>
      </div>
      <button class="submit" type="submit" id="submit-place"><translate>Create Place</translate></button>
    </form>
  </div>
</div>
