<div class="_fhw">
  <div class="nst-vc nst-mood-sense-5 ng-scope _fh">
    <div class="panel" id="panel-register">
      <div class="nst-vb no-gutter2 nst-marginbtm-48" ng-if="ctrl.step == 1">
        <p class="col-xs-9 nst-font-xlarge">
          <translate>Recover your Password</translate>
        </p>
        <p class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-right">
          <translate>or</translate>
          <a href="#/signin" class="nst-mood-cheerful">
            <translate>Sign in</translate>
          </a>
        </p>
      </div>
      <p class="nst-font-medium nst-marginbtm-48" ng-if="ctrl.step == 1">
        <translate>To recover your Nested account password, please enter your phone number.</translate>
      </p>
      <submit-phone-step ng-if="ctrl.step == 1" phone="ctrl.phone" country="ctrl.country" on-completed="{{::ctrl.phoneSubmittedEventKey}}"></submit-phone-step>
      <verify-code-step ng-if="ctrl.step == 2" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.codeVerifiedEventKey}}" on-previous="{{::ctrl.previousStepEventKey}}"></verify-code-step>
      <recover-password-step ng-if="ctrl.step == 3" verification-id="ctrl.verificationId" phone="ctrl.phone" on-completed="{{::ctrl.completedEventKey}}"></recover-password-step>
    </div>
  </div>
</div>
