<a class="_df list-items _aic">
  <translate>Change Place Picture</translate>
</a>
<a class="_df list-items _aic">
  <translate>Remove Place Picture</translate>
</a>
<hr>
<a class="_df red list-items _aic">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  <translate>Leave Place</translate>
</a>
<a class="_df red list-items _aic">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
    </svg>
  </div>
  <span><translate>Leave and Delete</translate></span>
</a>
