<label class="_df list-items _aic" for="placeLogo" ng-if="ctrl.accesses.hasControlAccess" ng-click="$('#placeLogo').click();">
  <translate>Change Place Picture</translate>
</label>
<a class="_df list-items _aic" ng-if="ctrl.accesses.hasControlAccess" ng-click="ctrl.removePicture();">
  <translate>Remove Place Picture</translate>
</a>
<hr ng-if="ctrl.accesses.hasControlAccess">
<a class="_df red list-items _aic" ng-if="(ctrl.place.counters.creators + ctrl.place.counters.key_holders) > 1" ng-click="ctrl.leave()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#exit"></use>
    </svg>
  </div>
  <translate>Leave Place</translate>
</a>
<a class="_df red list-items _aic" ng-if="ctrl.accesses.hasControlAccess" ng-click="ctrl.remove()">
  <div>
    <svg class="_16svg">
      <use xlink:href="/assets/icons/nst-icn16.svg#bin"></use>
    </svg>
  </div>
  <span><translate>Leave and Delete</translate></span>
</a>
