<div class="_difh _fw _aic recive-opt _asc l{{level}} ng-class:{'member-option' : semi ,'sub-place' : three}">
  <svg ng-click="level = 1">
    <use xlink:href="/assets/icons/nst-icn24.svg#member"></use>
  </svg>
  <hr class="margin">
  <hr>
  <hr class="margin">
  <svg ng-click="level = 2">
    <use xlink:href="/assets/icons/nst-icn24.svg#manager-member"></use>
  </svg>
  <hr class="margin" ng-hide="semi">
  <hr ng-hide="semi">
  <hr class="margin" ng-hide="semi">
  <svg ng-click="level = 3" ng-hide="semi">
    <use xlink:href="/assets/icons/nst-icn24.svg#team"></use>
  </svg>
  <hr class="margin" ng-hide="semi || three">
  <hr ng-hide="semi || three">
  <hr class="margin" ng-hide="semi || three">
  <svg ng-click="level = 4" ng-hide="semi || three">
    <use xlink:href="/assets/icons/nst-icn24.svg#earth"></use>
  </svg>
  <div class="active-border"></div>
  <div class="recive-arrow"></div>
</div>
<div class="_fw recive-det" ng-if="level == 3 || level == 4">
  <h4 class="_fw _tac" ng-if="level == 1"><translate>{{placeName}} Managers</translate></h4>
  <h4 class="_fw _tac" ng-if="level == 2"><translate>{{placeName}} Managers and Members</translate></h4>
  <h4 class="_fw _tac" ng-if="level == 3"><translate>{{grandPlaceName}} Members</translate></h4>
  <h4 class="_fw _tac" ng-if="level == 4"><translate>Everyone</translate></h4>
  <div class="_difh _fw _aic">
    <p class="_df _fw"><translate>Show in their search results?</translate></p>
    <div class="_df _fn">
      <div class="place-switch">
        <input type="checkbox" name="checkbox_id" id="Searchable" data-ng-model="searchable" ng-change="searchableChanged(searchable);">
        <label for="Searchable">
          <b><translate>Yes</translate></b>
          <div class="circle" switch-drag="Searchhable"></div>
        </label>
        <label for="Searchable">
          <b><translate>No</translate></b>
        </label>
      </div>
    </div>
  </div>
</div>
