<div class="_pa image-box-preview _fh">
  <div class="image-preview _df _fh">
    <nst-attachment-view attachment="ctlAttachmentView.attachments.current"></nst-attachment-view>
  </div>

  <!--<div class="attachments-list _difv">-->
    <!--<nst-attachments-preview-bar items="ctlAttachmentView.attachments.collection" mode="thumbnail" on-item-click="ctlAttachmentView.goTo"></nst-attachments-preview-bar>-->
  <!--</div>-->

  <div class="_fw _dif nst-preview-footer">
    <div class="filedetails _difv _fw">
      <p class="nst-font-large filename-p">{{ctlAttachmentView.attachments.current.name}}</p><br/>
      <p class="nst-font-small nst-mood-storm">{{ctlAttachmentView.attachments.current.size | bytes:0}}</p>
    </div>
      <div class="_difh attachcontrols _fn">
        <div class="_df nst-nav-butn-breeze"><a ng-click="ctlAttachmentView.openInNewWindow(ctlAttachmentView.attachments.current);" class="nst-mood-storm">Open in Browser</a></div>
        <div class="_df nst-nav-butn-breeze"><a ng-click="ctlAttachmentView.download(ctlAttachmentView.attachments.current);" class="nst-mood-storm">Download</a></div>
        <div class="_difh nst-nav-butn-breeze _jcc" data-ng-if="ctlAttachmentView.attachments.collection.length > 1">
          <div data-ng-click="ctlAttachmentView.goPrevious()" class="_df nst-arrow-rotated-90"></div>
          <div data-ng-click="ctlAttachmentView.goNext()" class="_df nst-arrow-rotated-270"></div>
        </div>
      </div>
  </div>
</div>
