<div class="control-bar _df _aic">
  <div class="attach-close" ng-click="$dismiss()">
    <svg class="_24svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#xcross"></use>
    </svg>
  </div>
  <div class="filedetails _difv _fw _jcc ng-class:{'multi' : ctlAttachmentView.attachments.collection.length > 1}">
    <p class="filename">{{ctlAttachmentView.attachments.current.filename}}</p>
    <span class="filename" ng-if="ctlAttachmentView.attachments.current.type != 'image'">{{ctlAttachmentView.attachments.current.size | bytes:0}}</span>
    <span class="filename" ng-if="ctlAttachmentView.attachments.current.type === 'image'">Original Image: {{ctlAttachmentView.attachments.current.size | bytes:0}}, {{ctlAttachmentView.attachments.current.width}}×{{ctlAttachmentView.attachments.current.height}}</span>
  </div>
  <a class="nav-btn" ng-href="{{ctlAttachmentView.attachments.current.viewUrl}}" target="_blank">
    <svg class="_24svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#open-in-new"></use>
    </svg>
  </a>
  <div class="nav-btn" ng-click="ctlAttachmentView.download(ctlAttachmentView.attachments.current);">
    <svg class="_24svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#downloads"></use>
    </svg>
  </div>
  <div class="nav-btn" ng-click="ctlAttachmentView.compose()">
    <svg class="_24svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#forward"></use>
    </svg>
  </div>
  <div class="nav-divid" data-ng-if="ctlAttachmentView.attachments.collection.length > 1"></div>
  <div class="nav-btn attach-bar-menu" data-ng-if="ctlAttachmentView.attachments.collection.length > 1" ng-click="ctlAttachmentView.showBar()">
    <svg class="_24svg _df _fn">
      <use xlink:href="/assets/icons/nst-icn24.svg#side-bar"></use>
    </svg>
  </div>
</div>
<div class="attachment-image-show ng-class:{'loaded' : ctlAttachmentView.loaded}">
</div>
<div data-ng-if="ctlAttachmentView.attachments.collection.length > 1" class="attachment-pager prev" data-ng-click="ctlAttachmentView.goPrevious()">
  <svg class="_24svg _df _fn">
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
  </svg>
</div>
<div data-ng-if="ctlAttachmentView.attachments.collection.length > 1" class="attachment-pager next" data-ng-click="ctlAttachmentView.goNext()">
  <svg class="_24svg _df _fn">
    <use xlink:href="/assets/icons/nst-icn24.svg#arrow"></use>
  </svg>
</div>
<div class="preview-box">

<nst-attachment-view attachment="ctlAttachmentView.attachments.current" side-bar-open="ctlAttachmentView.barOpen"></nst-attachment-view>

</div>
<div class="attachs-bar" data-ng-if="ctlAttachmentView.attachments.collection.length > 1">
  <h3><translate>Attachments</translate></h3>
  <ul dir="ltr" nst-scrollbar>
    <li ng-repeat="item in ctlAttachmentView.attachments.collection" ng-click="ctlAttachmentView.getIndex(item)"
    class="ng-class:{'active' : ctlAttachmentView.attachments.current.id === item.id}">
      <div ng-hide="item.thumbnail.length" class="attachment-tiny-thumb tiny-thumb-type-{{item.type}}">
        {{item.extension | uppercase}}
      </div>
      <img ng-show="item.thumbnail.length" src="{{item.thumbnail}}" alt="">
      <span>{{item.filename}}</span>
    </li>
  </ul>
  <!--<nst-attachments-preview-bar items="ctlAttachmentView.attachments.collection" mode="attach-list" on-item-click="ctlAttachmentView.goTo"></nst-attachments-preview-bar>-->
</div>
